In [1]:
import ast
import pickle
import os
import pandas as pd

#### Luigi migration. Task yet to be created

In [25]:
import os
import sys
module_path = os.path.abspath(os.path.join("../../.."))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from jupyter_notebook import load_parameters 


pars = load_parameters()

so_dump_processed_file = pars.get('input')
output_file = pars.get('output')

input_col = pars.get('input_col')

api_doc_file = pars.get('api_doc_file')

debug = pars.get('debug')

KeyError: 'PARS'

#### Utility to extract method name

In [2]:
from collections import deque

class FunctionCallVisitor(ast.NodeVisitor):
    def __init__(self):
        self._name = deque()
        self._pos = -1 
    
    @property
    def name(self):
        return '.'.join(self._name)
    
    @property
    def lineno(self):
        return self._pos
    
    @name.deleter
    def name(self):
        self._name.clear()
    
    def visit_Name(self, node):
        self._pos = node.lineno # line number
        self._name.appendleft(node.id)
    
    def visit_Attribute(self, node):
        try:
            self._pos = node.lineno # line number
            self._name.appendleft(node.attr)
            self._name.appendleft(node.value.id)
        except AttributeError:
            self.generic_visit(node)
            
def get_func_calls(tree):
    func_calls = []
    for node in ast.walk(tree):
        if isinstance(node, ast.Call):
            callvisitor = FunctionCallVisitor()
            callvisitor.visit(node.func)
            func_calls.append((callvisitor.name, callvisitor.lineno))
    return func_calls

#### Load APIDoc and Dataset

In [3]:
api_doc_file = '../../data-import/build_api_doc_base/api_doc.csv'
# tagged_dataset_file = '../../../data/stack-overflow/Dataset - Pandas.csv'
input_file = '../../../data/stack-overflow/pandas-preprocessedcode-dataset-part3'

api_df = pd.read_csv(api_doc_file, encoding='ISO-8859-1', error_bad_lines=False)
# tagged_dataset_df = pd.read_csv(tagged_dataset_file, encoding='ISO-8859-1', error_bad_lines=False)
processed_stackoverflow_df = pd.read_pickle(input_file)
input_col = "PreprocessedCode3"

def buildAPIDictionary(api_df):
    api_dict = dict()
    try:
        
        for index, row in api_df.iterrows():
            methodContext = row['SubCategory']
            #tokens = row['FullyQualifiedName'].split('.')
        
            #for token in tokens:
               #methodContext = str(methodContext)+' '+token
            api_dict[row['MethodName']] = methodContext
    except Exception as e:
        print('Error in method buildAPIDictionary',e)
    return api_dict
        
def buildStackOverflowDumpDict(processed_stackoverflow_df):
    stackoverflow_dict = dict()
    try:
        for idx, row in processed_stackoverflow_df.iterrows():
            postTypeId = row['PostTypeId']
            if postTypeId == 2:
                answerId = row['Id']
                stackoverflow_dict[answerId] = row['PreprocessedCode']
    except Exception as e:
        print('Error in method buildStackOverflowDumpDict', e)
    return stackoverflow_dict
    
api_dict = buildAPIDictionary(api_df)
# tagged_dataset_dict, total_solutions = buildTaggedDatasetDSForEvaluation(tagged_dataset_df)
stackoverflow_dict = buildStackOverflowDumpDict(processed_stackoverflow_df)

In [4]:
def lookUpAPIDocForContextH2(method_name):
    try:
        if method_name in api_dict.keys() and api_dict[method_name] == "Constructor":
            return True
        else:
            return False
    except Exception as e:
        print('Error in method lookUpAPIDocForContext', e)

In [8]:
def H2(df):
    
    # Do not process questions
    if df.PostTypeId == 1:
        df['Solution'] = 'NA'
    
    else:
        # Parse code and inspect the function
        code_snippet = df[input_col]
        tree = ast.parse(code_snippet)        
        func_calls = get_func_calls(tree)
        
        snippet_per_line = code_snippet.split(os.linesep)

        # Start with all the lines
        solution_lines = set(range(len(snippet_per_line)))
        
        for function, lineno in func_calls:   
            # print(function)
            tokens = function.split('.')
            method_name = tokens[len(tokens)-1]
            
            # Check whether the func_call is a constructor to remove it
            if lookUpAPIDocForContextH2(method_name):
                # Remove the lines that ARE a constructor
                idx = lineno - 1
                # Check whether we have remove it before to avoid any issue
                if idx in solution_lines:
                    solution_lines.remove(idx)
                
        solution = []
        solution_lines = sorted(solution_lines)
        for i in solution_lines:
            solution.append(snippet_per_line[i])
                
        #print(solution)
        df['Solution'] = os.linesep.join(solution)
    return df


solution_df = processed_stackoverflow_df.apply(H2, axis=1)

,Unnamed: 0,Unnamed: 0.1,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,...,PostTypeId,Score,Tags,Title,ViewCount,Code,PreprocessedCode,PreprocessedCode2,PreprocessedCode3,Solution
0,27,27,7779260.0,2.0,<p>When I try to merge two dataframes by rows ...,NaN,7,NaN,2011-10-15T08:21:17.460,4.0,...,1,25,<python><pandas>,append two data frame with pandas,25479.0,bigdata = data1.append(data2)\r\nException: In...,bigdata = data1.append(data2)\r\nException: In...,bigdata = data1.append(data2)\r\nException: In...,bigdata = data1.append(data2),NA
1,31,31,11617194.0,7.0,<p>I want to perform my own complex operations...,NaN,3,NaN,2011-10-20T14:46:14.633,108.0,...,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,195364.0,"Date,Open,High,Low,Close,Volume,Adj Close\r\n2...","Date,Open,High,Low,Close,Volume,Adj Close\r\n2...","Date,Open,High,Low,Close,Volume,Adj Close\r\n2...","2011-10-19,27.37,27.47,27.01,27.13,42880000,27...",NA
2,49,49,8916746.0,2.0,<p>I have a dataframe <code>df</code> in panda...,NaN,0,NaN,2012-01-18T19:41:27.017,12.0,...,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,19805.0,"df_greater_than10 = df[df[""colA""] > 10]\r\n","df_greater_than10 = df[df[""colA""] > 10]\r\n","df_greater_than10 = df[df[""colA""] > 10]\r\n","df_greater_than10 = df[df[""colA""] > 10]",NA
3,54,54,8997908.0,3.0,"<p>I recently came across the <a href=""http://...",NaN,16,NaN,2012-01-24T17:59:53.850,58.0,...,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,16173.0,,,,,NA
4,73,73,9557319.0,8.0,<p>I used Enthought's python distribution as a...,2013-12-04T20:55:59.357,5,NaN,2012-03-04T14:25:36.287,6.0,...,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,6585.0,,,,,NA
5,80,80,9620832.0,2.0,"<p>I stumbled across <a href=""http://pandas.py...",NaN,2,NaN,2012-03-06T17:01:47.107,5.0,...,1,21,<python><pandas>,Simple cross-tabulation in pandas,9493.0,"AB,100.00\r\nAB,200.00\r\nAC,150.00\r\nAD,500....","AB,100.00\r\nAB,200.00\r\nAC,150.00\r\nAD,500....","AB,100.00\r\nAB,200.00\r\nAC,150.00\r\nAD,500....","AB,100.00\r\nAB,200.00\r\nAC,150.00\r\nAD,500....",NA
6,91,91,9652858.0,3.0,<p>I'm new to python and pandas. I'm trying t...,NaN,0,NaN,2012-03-11T06:00:56.347,3.0,...,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,32040.0,>>> df1 = DataFrame(csv.reader(open('c:/~/trai...,df1 = DataFrame(csv.reader(open('c:/~/trainSet...,df1 = DataFrame(csv.reader(open('c:/~/trainSet...,df1 = DataFrame(csv.reader(open('c:/~/trainSet...,NA
7,103,103,9762084.0,6.0,<p>I have manipulated some data using pandas a...,NaN,0,NaN,2012-03-18T12:53:06.683,13.0,...,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,36433.0,In [182]: data_set\r\nOut[182]: \r\n index da...,In [182]: data_set\r\nOut[182]: \r\n index da...,data_set\r\nOut[182]: \r\n index data_date ...,data_set,NA
8,107,107,9772031.0,2.0,"<p>I'm a beginning pandas user, and after stud...",NaN,0,NaN,2012-03-18T22:34:26.183,2.0,...,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,8189.0,df\r\n\r\n A ...,df\r\n\r\n A ...,df\r\n\r\n A ...,df\r\ndf2,NA
9,109,109,9794891.0,2.0,<p>I want to perform a join/merge/append opera...,NaN,0,NaN,2012-03-20T13:36:09.263,6.0,...,1,17,<python><pandas>,join or merge with overwrite in pandas,6054.0,,,,,NA
10,117,117,NaN,6.0,<p>I have the following dataframe:</p>\r\n\r\n...,NaN,0,NaN,2012-03-24T10:26:50.303,3.0,...,1,11,<python><pandas>,pandas - get most recent value of a particular...,3543.0,obj_id data_date value\r\n0 4 2...,obj_id data_date value\r\n0 4 2...,obj_id data_date value\r\n0 4 2...,"row_arr = []\r\nfor grp, grp_df in df.groupby(...",NA
11,147,147,11603242.0,4.0,<p>I have a times series with temperature and ...,NaN,2,NaN,2012-04-04T23:17:23.453,15.0,...,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,18532.0,import datetime\r\nimport pandas as pd\r\nimpo...,import datetime\r\nimport pandas as pd\r\nimpo...,import datetime\r\nimport pandas as pd\r\nimpo...,import datetime\r\nimport pandas as pd\r\nimpo...,NA
12,160,160,NaN,11.0,<p>The documentation for Pandas has numerous e...,NaN,4,NaN,2012-04-08T18:01:13.310,63.0,...,1,77,<python><pandas>,python-pandas and databases like mysql,72432.0,,,,,NA
13,161,161,10114652.0,1.0,"<p>I like to think I'm not an idiot, but maybe...",NaN,0,NaN,2012-04-11T21:40:38.143,NaN,...,1,12,<pandas>,Pandas: simple 'join' not working?,4120.0,In [2]: left = pandas.DataFrame({'ST_NAME': ['...,In [2]: left = pandas.DataFrame({'ST_NAME': ['...,"left = pandas.DataFrame({'ST_NAME': ['Oregon',...","left = pandas.DataFrame({'ST_NAME': ['Oregon',...",NA
14,175,175,10182172.0,2.0,<p>I have the following Pandas Dataframe with ...,NaN,3,NaN,2012-04-16T13:27:44.143,5.0,...,1,15,<python><pandas>,Select data at a particular level from a Multi...,6774.0,H1 H2 \r\n Z A \r\n0 ...,H1 H2 \r\n Z A \r\n0 ...,H1 H2 \r\n Z A \r\n0 ...,"df.select(lambda x: x[1]==200, axis=0)",NA
15,183,183,10202789.0,4.0,<p>How can I find the row for which the value ...,NaN,2,NaN,2012-04-18T03:59:55.663,24.0,...,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,75652.0,,,,,NA
16,194,194,10374456.0,6.0,<p>I'm starting with input data like this</p>\...,NaN,0,NaN,2012-04-29T16:10:35.413,78.0,...,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,167415.0,"df1 = pandas.DataFrame( { \r\n ""Name"" : [""A...","df1 = pandas.DataFrame( { \r\n ""Name"" : [""A...","df1 = pandas.DataFrame( { \r\n ""Name"" : [""A...","df1 = pandas.DataFrame( { \r\n ""Name"" : [""A...",NA
17,196,196,10377863.0,2.0,<p>This is a beginner <code>python</code> inst...,NaN,14,NaN,2012-04-29T22:41:28.510,3.0,...,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,25583.0,sudo pip install numpy\r\n\r\nsudo pip install...,sudo pip install numpy\r\n\r\nsudo pip install...,sudo pip install numpy\r\n\r\nsudo pip install...,import pandas,NA
18,206,206,10458386.0,2.0,<p>I am trying to re-index a pandas <code>Data...,NaN,1,NaN,2012-05-05T00:00:12.300,17.0,...,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,107691.0,From:\r\n a b c\r\n 0 ...,From:\r\n a b c\r\n 0 ...,From:\r\n a b c\r\n 0 ...,"col = ['a','b','c']\r\ndata = DataFrame([[1,2,...",NA
19,212,212,10465162.0,2.0,"<p>I have a DataFrame, say a volatility surfac...",NaN,0,NaN,2012-05-05T18:25:59.063,14.0,...,1,23,<python><pandas>,Interpolation on DataFrame in pandas,15524.0,,,,,NA
20,222,222,23901625.0,6.0,<p>I am trying to plot some data using pandas ...,NaN,3,NaN,2012-05-09T06:45:29.727,20.0,...,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",44369.0,In [7]:\r\n\r\npledge.Amount.plot()\r\n\r\nOut...,In [7]:\r\n\r\npledge.Amount.plot()\r\n\r\nOut...,In [7]:\r\n\r\npledge.Amount.plot()\r\n\r\nOut...,pledge.Amount.plot(),NA
21,234,234,10565742.0,3.0,<p>I worked now for quite some time using pyth...,NaN,0,NaN,2012-05-12T16:05:17.147,19.0,...,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",16624.0,SamplingRateMinutes=60\r\nindex = DateRange(in...,SamplingRateMinutes=60\r\nindex = DateRange(in...,SamplingRateMinutes=60\r\nindex = DateRange(in...,SamplingRateMinutes=60\r\nindex = DateRange(in...,NA
22,238,238,NaN,2.0,<p>I am just getting started with Pandas and I...,NaN,2,NaN,2012-05-14T21:01:58.680,5.0,...,1,25,<python><pandas>,Specifying data type in Pandas csv reader,17261.0,,,,,NA
23,247,247,12036847.0,14.0,<p>I'm using the Pandas package and it creates...,NaN,5,NaN,2012-05-17T12:48:00.407,25.0,...,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,26216.0,,,,,NA
24,251,251,44736467.0,7.0,<p>I load a some machine learning data from a ...,NaN,3,NaN,2012-05-19T14:11:42.603,58.0,...,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,154109.0,data = pandas.read_csv('mydata.csv')\r\ndata =...,data = pandas.read_csv('mydata.csv')\r\ndata =...,data = pandas.read_csv('mydata.csv')\r\ndata =...,data = pandas.read_csv('mydata.csv')\r\ndata =...,NA
25,262,262,10726275.0,2.0,<p>I have a <code>DataFrame</code> with a few ...,NaN,0,NaN,2012-05-23T07:41:57.010,11.0,...,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,14199.0,,,,,NA
26,263,263,24888331.0,13.0,<p>I understand that pandas is designed to loa...,NaN,3,NaN,2012-05-23T08:12:31.843,82.0,...,1,312,<python><pandas>,add one row in a pandas.DataFrame,349935.0,"res = DataFrame(columns=('lib', 'qty1', 'qty2'...","res = DataFrame(columns=('lib', 'qty1', 'qty2'...","res = DataFrame(columns=('lib', 'qty1', 'qty2'...","res = DataFrame(columns=('lib', 'qty1', 'qty2'...",NA
27,272,272,10739432.0,1.0,<blockquote>\r\n <p><strong>Possible Duplicat...,2012-05-29T13:14:21.157,2,NaN,2012-05-23T23:21:18.343,23.0,...,1,122,<python><pandas>,iterating row by row through a pandas dataframe,174898.0,for i in df.index:\r\n do_something(df.ix[i...,for i in df.index:\r\n do_something(df.ix[i...,for i in df.index:\r\n do_something(df.ix[i...,for i in df.index:\r\n do_something(df.ix[i]),NA
28,279,279,NaN,1.0,<p>I'm using a Pandas <code>DataFrame</code> t...,NaN,2,NaN,2012-05-25T08:35:27.927,13.0,...,1,41,<python><pandas>,Returning multiple values from pandas apply on...,19415.0,import numpy\r\nimport pandas\r\n\r\ndf = pand...,import numpy\r\nimport pandas\r\n\r\ndf = pand...,import numpy\r\nimport pandas\r\n\r\ndf = pand...,import numpy\r\nimport pandas,NA
29,304,304,10859883.0,1.0,<p>I have a <code>dataFrame</code> in pandas a...,NaN,1,NaN,2012-06-01T22:05:44.497,9.0,...,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,33392.0,,,,,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,97332,97332,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,7,NaN,2017-04-24T01:51:27.517,NaN,...,2,11,NaN,NaN,NaN,import numba\r\n\r\ndef psi(A):\r\n a_cumma...,import numba\r\n\r\ndef psi(A):\r\n a_cumma...,import numba\r\n\r\ndef psi(A):\r\n a_cumma...,import numba\r\ndef psi(A):\r\n a_cummax = ...,import numba\r\ndef psi(A):\r\n return idx\...
3176,98055,98055,NaN,NaN,<p>While the other answers provide good inform...,NaN,2,NaN,2017-04-27T19:01:23.247,NaN,...,2,6,NaN,NaN,NaN,@profile\r\ndef foo():\r\n df = pd.DataFram...,@profile\r\ndef foo():\r\n df = pd.DataFram...,@profile\r\ndef foo():\r\n df = pd.DataFram...,@profile\r\ndef foo():\r\n df = pd.DataFram...,@profile\r\ndef foo():\r\n d1 = df[:]\r\nif...
3177,99429,99429,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,0,NaN,2017-05-06T14:19:34.300,NaN,...,2,10,NaN,NaN,NaN,"arrays = [['bar', 'bar', 'baz', 'baz', 'foo', ...","arrays = [['bar', 'bar', 'baz', 'baz', 'foo', ...","arrays = [['bar', 'bar', 'baz', 'baz', 'foo', ...","arrays = [['bar', 'bar', 'baz', 'baz', 'foo', ...","arrays = [['bar', 'bar', 'baz', 'baz', 'foo', ..."
3178,100076,100076,NaN,NaN,<p><strong>Best way found</strong>!!</p>\r\n\r...,NaN,2,NaN,2017-05-10T14:56:30.863,NaN,...,2,11,NaN,NaN,NaN,import datetime as dt\r\ndf['month_year'] = df...,import datetime as dt\r\ndf['month_year'] = df...,import datetime as dt\r\ndf['month_year'] = df...,import datetime as dt\r\ndf['month_year'] = df...,import datetime as dt
3179,100082,100082,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,4,NaN,2017-05-10T15:39:39.197,NaN,...,2,17,NaN,NaN,NaN,# Create a sample data frame\r\ndf = pd.DataFr...,Create a sample data frame\r\ndf = pd.DataFram...,Create a sample data frame\r\ndf = pd.DataFram...,"df = pd.DataFrame({'A': [1, 1, 1, 2, 2],\r\n ...","df = pd.DataFrame({'A': [1, 1, 1, 2, 2],\r\n# ..."
3180,100691,100691,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,2,NaN,2017-05-14T21:04:04.397,NaN,...,2,14,NaN,NaN,NaN,"# label based, but we can use position values\...","label based, but we can use position values\r\...","label based, but we can use position values\r\...","df.loc[df.index[2], 'ColName'] = 3\r\ndf.loc[d...","df.loc[df.index[2], 'ColName'] = 3\r\ndf.loc[d..."
3181,102082,102082,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,1,NaN,2017-05-23T00:17:35.160,NaN,...,2,26,NaN,NaN,NaN,,,,,
3182,102808,102808,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,2,NaN,2017-05-26T18:29:43.517,NaN,...,2,7,NaN,NaN,NaN,">>> d = {}\r\n>>> [d.setdefault(tup, i) for i,...","d = {}\r\n>>> [d.setdefault(tup, i) for i, tup...","d = {}\r\n>>> [d.setdefault(tup, i) for i, tup...","d = {}\r\n[0, 1, 2, 3, 4, 1, 2]\r\nfrom iterto...","d = {}\r\n[0, 1, 2, 3, 4, 1, 2]\r\nfrom iterto..."
3183,102812,102812,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,1,NaN,2017-05-26T18:40:31.313,NaN,...,2,6,NaN,NaN,NaN,pd.Series(tups).factorize()[0]\r\n\r\n[0 1 2 3...,pd.Series(tups).factorize()[0]\r\n\r\n[0 1 2 3...,pd.Series(tups).factorize()[0]\r\n\r\n[0 1 2 3...,pd.Series(tups).factorize()[0],
3184,103700,103700,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,3,NaN,2017-06-01T15:18:48.507,NaN,...,2,19,NaN,NaN,NaN,mask = df.my_channel > 20000\r\ncolumn_name = ...,mask = df.my_channel > 20000\r\ncolumn_name = ...,mask = df.my_channel > 20000\r\ncolumn_name = ...,mask = df.my_channel > 20000\r\ncolumn_name = ...,mask = df.my_channel > 20000\r\ncolumn_name = ...
3185,107342,107342,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,2,NaN,2017-06-23T15:07:29.723,NaN,...,2,9,NaN,NaN,NaN,# write df1 content in file.csv\r\ndf1.to_csv(...,write df1 content in file.csv\r\ndf1.to_csv('f...,write df1 content in file.csv\r\ndf1.to_csv('f...,"df1.to_csv('file.csv', index=False)\r\ndf2.to_...","del df1, df2, df3\r\ndel df1, df2, df3\r\ndef ..."
3186,107495,107495,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,0,NaN,2017-06-24T12:38:58.427,NaN,...,2,18,NaN,NaN,NaN,# selects all rows and all columns beginning a...,selects all rows and all columns beginning at ...,selects all rows and all columns beginning at ...,"df.loc[:, 'foo':'sat']\r\ndf.loc[:, 'foo':'cat...","df.loc[:, 'foo':'sat']\r\ndf.loc[:, 'foo':'cat..."
3187,108143,108143,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,0,NaN,2017-06-28T10:37:06.283,NaN,...,2,7,NaN,NaN,NaN,"df1.to_csv(filename)\r\ndf2.to_csv(filename, m...","df1.to_csv(filename)\r\ndf2.to_csv(filename, m...","df1.to_csv(filename)\r\ndf2.to_csv(filename, m...","df1.to_csv(filename)\r\ndf2.to_csv(filename, m...","del df1, df2, df3"
3188,109146,109146,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,0,NaN,2017-07-04T20:27:54.927,NaN,...,2,11,NaN,NaN,NaN,>>> import pandas as pd \r\n>>> import numpy a...,import pandas as pd \r\nimport numpy as np \r\...,import pandas as pd \r\nimport numpy as np \r\...,import pandas as pd \r\nimport numpy as np \r\...,import pandas as pd \r\nimport numpy as np \r\...
3189,109494,109494,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,2,NaN,2017-07-06T12:04:41.633,NaN,...,2,6,NaN,NaN,NaN,"file = ""./data.csv""\r\nchunks = pd.read_csv(fi...","file = ""./data.csv""\r\nchunks = pd.read_csv(fi...","file = ""./data.csv""\r\nchunks = pd.read_csv(fi...","file = ""./data.csv""\r\nchunks = pd.read_csv(fi...","file = ""./data.csv"""
3190,109971,109971,NaN,NaN,<p>Here's a single-liner</p>\r\n\r\n<pre><code...,NaN,8,NaN,2017-07-09T16:07:43.577,NaN,...,2,6,NaN,NaN,NaN,In [22]: from itertools import combinations\r\...,In [22]: from itertools import combinations\r\...,from itertools import combinations\r\n\r\n[x f...,from itertools import combinations\r\n[x for x...,from itertools import combinations\r\ncols = d...
3191,109985,109985,NaN,NaN,<p>Here's one NumPy approach -</p>\r\n\r\n<pre...,NaN,0,NaN,2017-07-09T17:15:30.483,NaN,...,2,9,NaN,NaN,NaN,def group_duplicate_cols(df):\r\n a = df.va...,def group_duplicate_cols(df):\r\n a = df.va...,def group_duplicate_cols(df):\r\n a = df.va...,def group_duplicate_cols(df):\r\n a = df.va...,def group_duplicate_cols(df):\r\n a = df.va...
3192,110080,110080,NaN,NaN,<pre><code>import numpy as np\r\nfrom multipro...,NaN,8,NaN,2017-07-10T13:46:57.610,NaN,...,2,8,NaN,NaN,NaN,import numpy as np\r\nfrom multiprocessing imp...,import numpy as np\r\nfrom multiprocessing imp...,import numpy as np\r\nfrom multiprocessing imp...,import numpy as np\r\nfrom multiprocessing imp...,import numpy as np\r\nfrom multiprocessing imp...
3193,111787,111787,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,0,NaN,2017-07-19T14:18:47.377,NaN,...,2,9,NaN,NaN,NaN,n = 3\r\ndf.apply(lambda x: pd.Series(x.nsmall...,n = 3\r\ndf.apply(lambda x: pd.Series(x.nsmall...,n = 3\r\ndf.apply(lambda x: pd.Series(x.nsmall...,n = 3\r\ndf.apply(lambda x: pd.Series(x.nsmall...,n = 3\r\n# X Y Z\r\n#0 A J J\r\n#1 ...
3194,111791,111791,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,0,NaN,2017-07-19T14:28:53.337,NaN,...,2,8,NaN,NaN,NaN,"a = np.argsort(-df.values, axis=0)[-3:]\r\npri...","a = np.argsort(-df.values, axis=0)[-3:]\r\npri...","a = np.argsort(-df.values, axis=0)[-3:]\r\npri...","a = np.argsort(-df.values, axis=0)[-3:]\r\npri...","b = pd.DataFrame(df.index[a][::-1], columns=df..."
3195,113174,113174,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,3,NaN,2017-07-26T16:55:40.133,NaN,...,2,12,NaN,NaN,NaN,from toolz import interleave\r\n\r\npd.concat(...,from toolz import interleave\r\n\r\npd.concat(...,from toolz import interleave\r\n\r\npd.concat(...,"from toolz import interleave\r\npd.concat([d1,...",from toolz import interleave
3196,113176,113176,NaN,NaN,<p>Here's one NumPy approach -</p>\r\n\r\n<pre...,NaN,0,NaN,2017-07-26T17:03:31.647,NaN,...,2,6,NaN,NaN,NaN,"def numpy_interweave(d1, d2):\r\n c1 = list...","def numpy_interweave(d1, d2):\r\n c1 = list...","def numpy_interweave(d1, d2):\r\n c1 = list...","def numpy_interweave(d1, d2):\r\n c1 = list...","def numpy_interweave(d1, d2):\r\n cols = [N..."
3197,113463,113463,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,0,NaN,2017-07-27T17:48:15.380,NaN,...,2,10,NaN,NaN,NaN,#for dropping single column \r\ndf = df.drop('...,#for dropping single column \r\ndf = df.drop('...,#for dropping single column \r\ndf = df.drop('...,#for dropping single column \r\ndf = df.drop('...,#for dropping single column \r\n#for dropping ...
3198,114806,114806,NaN,NaN,<p>Convert the list to a boolean array and the...,NaN,0,NaN,2017-08-03T21:21:10.173,NaN,...,2,13,NaN,NaN,NaN,"df = pd.DataFrame(np.random.randint(10, size=(...","df = pd.DataFrame(np.random.randint(10, size=(...","df = pd.DataFrame(np.random.randint(10, size=(...","df = pd.DataFrame(np.random.randint(10, size=(...",
3199,114807,114807,NaN,NaN,<p>You can use masking here:</p>\r\n\r\n<pre><...,NaN,0,NaN,2017-08-03T21:21:48.803,NaN,...,2,15,NaN,NaN,NaN,"df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool)]...","df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool)]...","df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool)]...","df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool)]...",
3200,114808,114808,NaN,NaN,<p><strong>Setup</strong><br>\r\nBorrowed @ayh...,NaN,3,NaN,2017-08-03T21:30:13.390,NaN,...,2,11,NaN,NaN,NaN,"df = pd.DataFrame(np.random.randint(10, size=(...","df = pd.DataFrame(np.random.randint(10, size=(...","df = pd.DataFrame(np.random.randint(10, size=(...","df = pd.DataFrame(np.random.randint(10, size=(...",N \r\nd...
3201,114809,114809,NaN,NaN,"<p>yet another ""creative"" approach:</p>\r\n\r\...",NaN,2,NaN,2017-08-03T21:38:01.287,NaN,...,2,7,NaN,NaN,NaN,In [181]: a = np.array(lst)\r\n\r\nIn [182]: d...,In [181]: a = np.array(lst)\r\n\r\nIn [182]: d...,"a = np.array(lst)\r\n\r\ndf.query(""index * @a ...","a = np.array(lst)\r\ndf.query(""index * @a > 0""...",

In [9]:
debug = True

solution_df.to_pickle(output_file)

if debug:
    solution_df.to_csv(output_file + ".csv", encoding='ISO-8859-1', sep=",", doublequote=True, index=False)

Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate unexpected indent (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate 41386927
Error in method evaluate unexpected indent (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate 39923012
Error in method evaluate 37787724
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate unexpected indent (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate unexpected EOF while parsing (<unknown>, line 1)
Error in method evaluate unexpected indent (<unknown>, line 1)
Error in method evaluate invalid syntax (<unknown>, line 1)
Error in method evaluate 46526249
Error in method evaluate invalid syntax (<unknown>, line 1)