In [1]:
import pandas as pd
import os
import ast
import pyflakes

file = os.path.join('..', 'data', 'pandas-processedcode-dataset.csv')

dataset = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False, sep=";")
print('Amount of entries in the dataset = %d' % len(dataset))
dataset

Amount of entries in the dataset = 3205

,Unnamed: 0,Unnamed: 0.1,AnswerCount,CommentCount,Id,ParentId,PostTypeId,Score,Tags,Title,Body,ViewCount,Code,CodeList,AllCode,ProcessedCode
0,0,0,2.0,7,7776679,NaN,1,25,<python><pandas>,append two data frame with pandas,<p>When I try to merge two dataframes by rows ...,25479.0,['bigdata = data1.append(data2)\nException: In...,"['bigdata = data1.append(data2)\n', 'Exception...","['bigdata = data1.append(data2)\n', 'Exception...",['bigdata = data1.append(data2)\n']
1,1,1,7.0,3,7837722,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,<p>I want to perform my own complex operations...,195364.0,"[""Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2...","[""2011-10-19,27.37,27.47,27.01,27.13,42880000,..."
2,2,2,2.0,0,8916302,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,<p>I have a dataframe <code>df</code> in panda...,19805.0,"['df_greater_than10 = df[df[""colA""] > 10]\n']","['df_greater_than10 = df[df[""colA""] > 10]\n']","['df', 'pandas.read_table', 'colA', 'df_greate...","['df_greater_than10 = df[df[""colA""] > 10]\n']"
3,3,3,3.0,16,8991709,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,"<p>I recently came across the <a href=""http://...",16173.0,[''],[],"['pandas', 'data.table', 'data.table', 'merge(...",['']
4,4,4,8.0,5,9555635,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,<p>I used Enthought's python distribution as a...,6585.0,[''],[],"['numpy', 'scipy', 'sci-kits']",['']
5,5,5,2.0,2,9588331,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,"<p>I stumbled across <a href=""http://pandas.py...",9493.0,"['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['pivot/crosstab/indexing', 'Panel', 'DataFram...","['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n..."
6,6,6,3.0,0,9652832,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,<p>I'm new to python and pandas. I'm trying t...,32040.0,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,"['tsv', 'DataFrame', '>>> df1 = DataFrame(csv....",['\n']
7,7,7,6.0,0,9758450,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,<p>I have manipulated some data using pandas a...,36433.0,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...,['data_set\n']
8,8,8,2.0,0,9762935,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,"<p>I'm a beginning pandas user, and after stud...",8189.0,['df\n\n A ...,['df\n\n A ...,['df\n\n A ...,['df\n\ndf2\n\n']
9,9,9,2.0,0,9787853,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,<p>I want to perform a join/merge/append opera...,6054.0,[''],[],"['df1', 'df2', 'df2', 'df2', 'df1', 'df1', 'df2']",['']
10,10,10,6.0,0,9850954,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,<p>I have the following dataframe:</p>\n\n<pre...,3543.0,"["" obj_id data_date value\n0 4 2...",[' obj_id data_date value\n0 4 2...,[' obj_id data_date value\n0 4 2...,"[""row_arr = []\n\ndf_new = DataFrame(row_arr, ..."
11,11,11,4.0,2,10020591,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,<p>I have a times series with temperature and ...,18532.0,"[""import datetime\nimport pandas as pd\nimport...","[""import datetime\nimport pandas as pd\nimport...","['dataframe', ""import datetime\nimport pandas ...",['import datetime\nimport pandas as pd\nimport...
12,12,12,11.0,4,10065051,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,<p>The documentation for Pandas has numerous e...,72432.0,[''],[],[],['']
13,13,13,1.0,0,10114399,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,"<p>I like to think I'm not an idiot, but maybe...",4120.0,"[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","['pandas', 'DataFrames', ""In [2]: left = panda...","[""left = pandas.DataFrame({'ST_NAME': ['Oregon..."
14,14,14,2.0,3,10175068,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,<p>I have the following Pandas Dataframe with ...,6774.0,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...,"['df.select(lambda x: x[1]==200, axis=0) \n']"
15,15,15,4.0,2,10202570,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,<p>How can I find the row for which the value ...,75652.0,[''],[],['df.max()'],['']
16,16,16,6.0,0,10373660,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,<p>I'm starting with input data like this</p>\...,167415.0,"['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['g1 = df1.groupby( [ ""Name"", ""City""] ).count(..."
17,17,17,2.0,14,10376647,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,<p>This is a beginner <code>python</code> inst...,25583.0,['sudo pip install numpy\n\nsudo pip install p...,['sudo pip install numpy\n\nsudo pip install p...,"['python', 'pip', 'numpy', 'pandas', 'sudo pip...",['\nimport pandas\n']
18,18,18,2.0,1,10457584,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,<p>I am trying to re-index a pandas <code>Data...,107691.0,"[""From:\n a b c\n 0 1 ...",['From:\n a b c\n 0 1 ...,"['DataFrame', 'From:\n a b c\n ...","['\narray([ 1, 10, 20], dtype=int64)\n']"
19,19,19,2.0,0,10464738,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,"<p>I have a DataFrame, say a volatility surfac...",15524.0,[''],[],"['reindex', 'NaN', ""fillna(method='pad')""]",['']
20,20,20,6.0,3,10511024,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",<p>I am trying to plot some data using pandas ...,44369.0,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['pledge.Amount.plot()\n\n']
21,21,21,3.0,0,10565282,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",<p>I worked now for quite some time using pyth...,16624.0,['SamplingRateMinutes=60\nindex = DateRange(in...,['SamplingRateMinutes=60\nindex = DateRange(in...,"['DataFrame', 'SamplingRateMinutes=60\nindex =...",['SamplingRateMinutes=60\nindex = DateRange(in...
22,22,22,2.0,2,10591000,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,<p>I am just getting started with Pandas and I...,17261.0,[''],[],['read_csv()'],['']
23,23,23,14.0,5,10636024,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,<p>I'm using the Pandas package and it creates...,26216.0,[''],[],[],['']
24,24,24,7.0,3,10665889,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,<p>I load a some machine learning data from a ...,154109.0,"[""data = pandas.read_csv('mydata.csv')\ndata =...","[""data = pandas.read_csv('mydata.csv')\n"", ""da...","[""data = pandas.read_csv('mydata.csv')\n"", ""da...","[""data = pandas.read_csv('mydata.csv')\ndata =..."
25,25,25,2.0,0,10715519,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,<p>I have a <code>DataFrame</code> with a few ...,14199.0,[''],[],['DataFrame'],['']
26,26,26,13.0,3,10715965,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,<p>I understand that pandas is designed to loa...,349935.0,"[""res = DataFrame(columns=('lib', 'qty1', 'qty...","[""res = DataFrame(columns=('lib', 'qty1', 'qty...","['DataFrame', ""res = DataFrame(columns=('lib',...","[""res = DataFrame(columns=('lib', 'qty1', 'qty..."
27,27,27,1.0,2,10729210,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,<blockquote>\n <p><strong>Possible Duplicate:...,174898.0,['for i in df.index:\n do_something(df.ix[i...,['for i in df.index:\n do_something(df.ix[i...,"['DataFrame', 'for i in df.index:\n do_some...",['']
28,28,28,1.0,2,10751127,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,<p>I'm using a Pandas <code>DataFrame</code> t...,19415.0,['import numpy\nimport pandas\n\ndf = pandas.D...,['import numpy\nimport pandas\n\ndf = pandas.D...,"['DataFrame', 'import numpy\nimport pandas\n\n...",['import numpy\nimport pandas\n\n\ndf = df.dro...
29,29,29,1.0,1,10857924,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,<p>I have a <code>dataFrame</code> in pandas a...,33392.0,[''],[],['dataFrame'],['']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,3175,3175,NaN,7,43578600,43577744.0,2,11,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,['import numba\n\ndef psi(A):\n a_cummax = ...,['import numba\n\ndef psi(A):\n a_cummax = ...,"['numba', 'import numba\n\ndef psi(A):\n a_...",['import numba\n\n\n\n\n\n']
3176,3176,3176,NaN,2,43665978,43423347.0,2,6,NaN,NaN,<p>While the other answers provide good inform...,NaN,"[""@profile\ndef foo():\n df = pd.DataFrame(...","[""@profile\ndef foo():\n df = pd.DataFrame(...","['copy()', '.copy()', 'copy()', 'SettingWithCo...",['\n\n\nLine # Mem usage Increment Lin...
3177,3177,3177,NaN,0,43821531,30925079.0,2,10,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,"[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""\nindex = pd.MultiIndex.from_arrays(arrays, ..."
3178,3178,3178,NaN,2,43896119,25146121.0,2,11,NaN,NaN,<p><strong>Best way found</strong>!!</p>\n\n<p...,NaN,"[""import datetime as dt\ndf['month_year'] = df...","[""import datetime as dt\ndf['month_year'] = df...","['date_column', ""import datetime as dt\ndf['mo...","[""import datetime as dt\ndf['month_year'] = df..."
3179,3179,3179,NaN,4,43897124,19078325.0,2,17,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,"[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\n\n# ==== SINGL..."
3180,3180,3180,NaN,2,43968774,28757389.0,2,14,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,"[""# label based, but we can use position value...","[""# label based, but we can use position value...","['pandas', '0.20', 'ix', 'loc', 'iloc', 'at', ...","[""# label based, but we can use position value..."
3181,3181,3181,NaN,1,44123892,44123874.0,2,26,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,[''],[],"['sort', 'sort_values', 'sort_index']",['']
3182,3182,3182,NaN,2,44208076,44207926.0,2,7,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,"['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['dict', '>>> d = {}\n>>> [d.setdefault(tup, i...","['[0, 1, 2, 3, 4, 1, 2]\n[0, 1, 2, 3, 4, 1, 2,..."
3183,3183,3183,NaN,1,44208229,44207926.0,2,6,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,"['factorize', 'pd.Series(tups).factorize()[0]\...",['pd.Series(tups).factorize()[0]\n\n']
3184,3184,3184,NaN,3,44311454,21608228.0,2,19,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,"[""mask = df.my_channel > 20000\ncolumn_name = ...","[""mask = df.my_channel > 20000\ncolumn_name = ...","['.ix', '.ix', '.loc', 'iloc', ""mask = df.my_c...","[""mask = df.my_channel > 20000\ncolumn_name = ..."
3185,3185,3185,NaN,2,44724677,44715393.0,2,9,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,"[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(..."
3186,3186,3186,NaN,0,44736467,10665889.0,2,18,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,"[""# selects all rows and all columns beginning...","[""# selects all rows and all columns beginning...","['.loc', '.loc', 'foo', 'bar', 'quz', 'ant', '...","[""# selects all rows and all columns beginning..."
3187,3187,3187,NaN,0,44800142,44715393.0,2,7,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,"[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","['pd.DataFrame.to_csv', ""df1.to_csv(filename)\...","[""df1.to_csv(filename)\ndf2.to_csv(filename, m..."
3188,3188,3188,NaN,0,44913631,12307099.0,2,11,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,['>>> import pandas as pd \n>>> import numpy a...,['>>> import pandas as pd \n>>> import numpy a...,"['loc', '>>> import pandas as pd \n>>> import ...",['']
3189,3189,3189,NaN,2,44948390,44946141.0,2,6,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,"['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['chunksize', 'file = ""./data.csv""\nchunks = p...","['file = ""./data.csv""\nchunks = pd.read_csv(fi..."
3190,3190,3190,NaN,8,44998387,44998223.0,2,6,NaN,NaN,<p>Here's a single-liner</p>\n\n<pre><code>In ...,NaN,"[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...",['from itertools import combinations\n\ncols =...
3191,3191,3191,NaN,0,44999009,44998223.0,2,9,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"[""def group_duplicate_cols(df):\n a = df.va...",['def group_duplicate_cols(df):\n a = df.va...,['def group_duplicate_cols(df):\n a = df.va...,['df\ngroup_duplicate_cols(df)\ndf.F = df.A\n\...
3192,3192,3192,NaN,8,45013739,44946141.0,2,8,NaN,NaN,<pre><code>import numpy as np\nfrom multiproce...,NaN,"[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp...",['import numpy as np\nfrom multiprocessing imp...
3193,3193,3193,NaN,0,45193340,45193131.0,2,9,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,"['apply', 'nsmallest', 'n = 3\ndf.apply(lambda...",['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...
3194,3194,3194,NaN,0,45193636,45193131.0,2,8,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,"['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['numpy.argsort', 'a = np.argsort(-df.values, ...","['a = np.argsort(-df.values, axis=0)[-3:]\npri..."
3195,3195,3195,NaN,3,45333133,45332960.0,2,12,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,['from toolz import interleave\n\npd.concat([d...,['from toolz import interleave\n\npd.concat([d...,"['pd.concat', 'toolz.interleave', 'from toolz ...",['from toolz import interleave\n\npd.concat([d...
3196,3196,3196,NaN,0,45333267,45332960.0,2,6,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"['def numpy_interweave(d1, d2):\n c1 = list...","['def numpy_interweave(d1, d2):\n c1 = list...","['def numpy_interweave(d1, d2):\n c1 = list...","['d1\nd2\nnumpy_interweave(d1, d2)\n']"
3197,3197,3197,NaN,0,45357725,13411544.0,2,10,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,"[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('..."
3198,3198,3198,NaN,0,45494714,45494649.0,2,13,NaN,NaN,<p>Convert the list to a boolean array and the...,NaN,"['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size..."
3199,3199,3199,NaN,0,45494718,45494649.0,2,15,NaN,NaN,<p>You can use masking here:</p>\n\n<pre><code...,NaN,"['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool..."
3200,3200,3200,NaN,3,45494808,45494649.0,2,11,NaN,NaN,<p><strong>Setup</strong><br>\nBorrowed @ayhan...,NaN,"[""df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size..."
3201,3201,3201,NaN,2,45494910,45494649.0,2,7,NaN,NaN,"<p>yet another ""creative"" approach:</p>\n\n<pr...",NaN,['In [181]: a = np.array(lst)\n\nIn [182]: df....,['In [181]: a = np.array(lst)\n\nIn [182]: df....,['In [181]: a = np.array(lst)\n\nIn [182]: df....,"['a = np.array(lst)\n\ndf.query(""@a != 0"")\n']"
3202,3202,3202,NaN,0,45568211,22697773.0,2,6,NaN,NaN,<p>In <code>pandas 0.20.2</code> you can do:</...,NaN,"[""from pandas.api.types import is_string_dtype...","[""from pandas.api.types import is_string_dtype...","['pandas 0.20.2', ""from pandas.api.types impor...","[""from pandas.api.types import is_string_dtype..."
3203,3203,3203,NaN,11,45741989,45740537.0,2,13,NaN,NaN,<p><strong>UPDATE:</strong> now it parses the ...,NaN,"[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ...",['read_clipboard_mi()\nread_clipboard_mi(index...
3204,3204,3204,NaN,4,45871837,45820242.0,2,7,NaN,NaN,<p>You could use the following code:</p>\n\n<p...,NaN,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...

In [2]:
import re

def addPandasImport(post, col):
    strcodes = post[col]
    codes = ast.literal_eval(strcodes)
    processed = []
    normalized = False
    for code in codes:
        if "pd." in code and "import pandas as pd" not in code:
            code = "import pandas as pd\n" + code
            normalized = True
            
        if " DataFrame" in code and "import DataFrame" not in code:
            code = "from pandas import DataFrame\n" + code
            normalized = True
            
        processed.append(code)
        
    post['PandasImportCode'] = processed
    post['PandasImportNormalized'] = normalized
    # Test 
    return post


def addDataFrameDefinition(post, col):
    strcodes = post[col]
    codes = ast.literal_eval(strcodes)
    processed = []
    normalized = False
    for code in codes:
        
        if "df" in code and "df =" not in code:
            code = "df = pd.DataFrame()\n" + code
            normalized = True
            
        if "df1" in code and "df1 =" not in code:
            code = "df1 = pd.DataFrame()\n" + code
            normalized = True
            
        if "df2" in code and "df2 =" not in code:
            code = "df2 = pd.DataFrame()\n" + code
            normalized = True
            
        if "data" in code and "data =" not in code:
            code = "data = pd.DataFrame()\n" + code
            normalized = True
            
        if "data1" in code and "data1 =" not in code:
            code = "data1 = pd.DataFrame()\n" + code
            normalized = True
            
        if "data2" in code and "data2 =" not in code:
            code = "data2 = pd.DataFrame()\n" + code
            normalized = True 
            
        code = "import pandas as pd\n" + code
        processed.append(code)
        
    post['DataFrameCode'] = processed
    post['DataFrameNormalized'] = normalized
    return post



normalized_dataset = dataset.apply(addPandasImport, axis=1, args=('ProcessedCode',))
normalized_dataset = normalized_dataset.apply(addDataFrameDefinition, axis=1, args=('ProcessedCode',))

normalized_dataset.to_csv(os.path.join('..', 'data', 'pandas-normalizedcode-dataset.csv'), encoding='ISO-8859-1', sep=';')
normalized_dataset

,Unnamed: 0,Unnamed: 0.1,AnswerCount,CommentCount,Id,ParentId,PostTypeId,Score,Tags,Title,Body,ViewCount,Code,CodeList,AllCode,ProcessedCode,PandasImportCode,PandasImportNormalized,DataFrameCode,DataFrameNormalized
0,0,0,2.0,7,7776679,NaN,1,25,<python><pandas>,append two data frame with pandas,<p>When I try to merge two dataframes by rows ...,25479.0,['bigdata = data1.append(data2)\nException: In...,"['bigdata = data1.append(data2)\n', 'Exception...","['bigdata = data1.append(data2)\n', 'Exception...",['bigdata = data1.append(data2)\n'],[bigdata = data1.append(data2)\n],False,[import pandas as pd\ndata2 = pd.DataFrame()\n...,True
1,1,1,7.0,3,7837722,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,<p>I want to perform my own complex operations...,195364.0,"[""Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2...","[""2011-10-19,27.37,27.47,27.01,27.13,42880000,...","[2011-10-19,27.37,27.47,27.01,27.13,42880000,2...",False,"[import pandas as pd\n2011-10-19,27.37,27.47,2...",False
2,2,2,2.0,0,8916302,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,<p>I have a dataframe <code>df</code> in panda...,19805.0,"['df_greater_than10 = df[df[""colA""] > 10]\n']","['df_greater_than10 = df[df[""colA""] > 10]\n']","['df', 'pandas.read_table', 'colA', 'df_greate...","['df_greater_than10 = df[df[""colA""] > 10]\n']","[df_greater_than10 = df[df[""colA""] > 10]\n]",False,[import pandas as pd\ndf = pd.DataFrame()\ndf_...,True
3,3,3,3.0,16,8991709,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,"<p>I recently came across the <a href=""http://...",16173.0,[''],[],"['pandas', 'data.table', 'data.table', 'merge(...",[''],[],False,[import pandas as pd\n],False
4,4,4,8.0,5,9555635,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,<p>I used Enthought's python distribution as a...,6585.0,[''],[],"['numpy', 'scipy', 'sci-kits']",[''],[],False,[import pandas as pd\n],False
5,5,5,2.0,2,9588331,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,"<p>I stumbled across <a href=""http://pandas.py...",9493.0,"['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['pivot/crosstab/indexing', 'Panel', 'DataFram...","['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","[AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\nA...",False,"[import pandas as pd\nAB,100.00\nAB,200.00\nAC...",False
6,6,6,3.0,0,9652832,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,<p>I'm new to python and pandas. I'm trying t...,32040.0,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,"['tsv', 'DataFrame', '>>> df1 = DataFrame(csv....",['\n'],[\n],False,[import pandas as pd\n\n],False
7,7,7,6.0,0,9758450,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,<p>I have manipulated some data using pandas a...,36433.0,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...,['data_set\n'],[data_set\n],False,[import pandas as pd\ndata = pd.DataFrame()\nd...,True
8,8,8,2.0,0,9762935,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,"<p>I'm a beginning pandas user, and after stud...",8189.0,['df\n\n A ...,['df\n\n A ...,['df\n\n A ...,['df\n\ndf2\n\n'],[df\n\ndf2\n\n],False,[import pandas as pd\ndf2 = pd.DataFrame()\ndf...,True
9,9,9,2.0,0,9787853,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,<p>I want to perform a join/merge/append opera...,6054.0,[''],[],"['df1', 'df2', 'df2', 'df2', 'df1', 'df1', 'df2']",[''],[],False,[import pandas as pd\n],False
10,10,10,6.0,0,9850954,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,<p>I have the following dataframe:</p>\n\n<pre...,3543.0,"["" obj_id data_date value\n0 4 2...",[' obj_id data_date value\n0 4 2...,[' obj_id data_date value\n0 4 2...,"[""row_arr = []\n\ndf_new = DataFrame(row_arr, ...",[from pandas import DataFrame\nrow_arr = []\n\...,True,[import pandas as pd\ndata = pd.DataFrame()\nd...,True
11,11,11,4.0,2,10020591,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,<p>I have a times series with temperature and ...,18532.0,"[""import datetime\nimport pandas as pd\nimport...","[""import datetime\nimport pandas as pd\nimport...","['dataframe', ""import datetime\nimport pandas ...",['import datetime\nimport pandas as pd\nimport...,[import datetime\nimport pandas as pd\nimport ...,False,[import pandas as pd\nimport datetime\nimport ...,False
12,12,12,11.0,4,10065051,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,<p>The documentation for Pandas has numerous e...,72432.0,[''],[],[],[''],[],False,[import pandas as pd\n],False
13,13,13,1.0,0,10114399,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,"<p>I like to think I'm not an idiot, but maybe...",4120.0,"[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","['pandas', 'DataFrames', ""In [2]: left = panda...","[""left = pandas.DataFrame({'ST_NAME': ['Oregon...",[left = pandas.DataFrame({'ST_NAME': ['Oregon'...,False,[import pandas as pd\nleft = pandas.DataFrame(...,False
14,14,14,2.0,3,10175068,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,<p>I have the following Pandas Dataframe with ...,6774.0,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...,"['df.select(lambda x: x[1]==200, axis=0) \n']","[df.select(lambda x: x[1]==200, axis=0) \n]",False,[import pandas as pd\ndf = pd.DataFrame()\ndf....,True
15,15,15,4.0,2,10202570,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,<p>How can I find the row for which the value ...,75652.0,[''],[],['df.max()'],[''],[],False,[import pandas as pd\n],False
16,16,16,6.0,0,10373660,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,<p>I'm starting with input data like this</p>\...,167415.0,"['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['g1 = df1.groupby( [ ""Name"", ""City""] ).count(...","[g1 = df1.groupby( [ ""Name"", ""City""] ).count()\n]",False,[import pandas as pd\ndf1 = pd.DataFrame()\ndf...,True
17,17,17,2.0,14,10376647,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,<p>This is a beginner <code>python</code> inst...,25583.0,['sudo pip install numpy\n\nsudo pip install p...,['sudo pip install numpy\n\nsudo pip install p...,"['python', 'pip', 'numpy', 'pandas', 'sudo pip...",['\nimport pandas\n'],[\nimport pandas\n],False,[import pandas as pd\n\nimport pandas\n],False
18,18,18,2.0,1,10457584,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,<p>I am trying to re-index a pandas <code>Data...,107691.0,"[""From:\n a b c\n 0 1 ...",['From:\n a b c\n 0 1 ...,"['DataFrame', 'From:\n a b c\n ...","['\narray([ 1, 10, 20], dtype=int64)\n']","[\narray([ 1, 10, 20], dtype=int64)\n]",False,"[import pandas as pd\n\narray([ 1, 10, 20], dt...",False
19,19,19,2.0,0,10464738,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,"<p>I have a DataFrame, say a volatility surfac...",15524.0,[''],[],"['reindex', 'NaN', ""fillna(method='pad')""]",[''],[],False,[import pandas as pd\n],False
20,20,20,6.0,3,10511024,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",<p>I am trying to plot some data using pandas ...,44369.0,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['pledge.Amount.plot()\n\n'],[pledge.Amount.plot()\n\n],False,[import pandas as pd\npledge.Amount.plot()\n\n],False
21,21,21,3.0,0,10565282,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",<p>I worked now for quite some time using pyth...,16624.0,['SamplingRateMinutes=60\nindex = DateRange(in...,['SamplingRateMinutes=60\nindex = DateRange(in...,"['DataFrame', 'SamplingRateMinutes=60\nindex =...",['SamplingRateMinutes=60\nindex = DateRange(in...,[SamplingRateMinutes=60\nindex = DateRange(ini...,False,[import pandas as pd\ndata = pd.DataFrame()\nS...,True
22,22,22,2.0,2,10591000,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,<p>I am just getting started with Pandas and I...,17261.0,[''],[],['read_csv()'],[''],[],False,[import pandas as pd\n],False
23,23,23,14.0,5,10636024,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,<p>I'm using the Pandas package and it creates...,26216.0,[''],[],[],[''],[],False,[import pandas as pd\n],False
24,24,24,7.0,3,10665889,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,<p>I load a some machine learning data from a ...,154109.0,"[""data = pandas.read_csv('mydata.csv')\ndata =...","[""data = pandas.read_csv('mydata.csv')\n"", ""da...","[""data = pandas.read_csv('mydata.csv')\n"", ""da...","[""data = pandas.read_csv('mydata.csv')\ndata =...",[data = pandas.read_csv('mydata.csv')\ndata = ...,False,[import pandas as pd\ndata = pandas.read_csv('...,False
25,25,25,2.0,0,10715519,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,<p>I have a <code>DataFrame</code> with a few ...,14199.0,[''],[],['DataFrame'],[''],[],False,[import pandas as pd\n],False
26,26,26,13.0,3,10715965,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,<p>I understand that pandas is designed to loa...,349935.0,"[""res = DataFrame(columns=('lib', 'qty1', 'qty...","[""res = DataFrame(columns=('lib', 'qty1', 'qty...","['DataFrame', ""res = DataFrame(columns=('lib',...","[""res = DataFrame(columns=('lib', 'qty1', 'qty...",[from pandas import DataFrame\nres = DataFrame...,True,[import pandas as pd\nres = DataFrame(columns=...,False
27,27,27,1.0,2,10729210,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,<blockquote>\n <p><strong>Possible Duplicate:...,174898.0,['for i in df.index:\n do_something(df.ix[i...,['for i in df.index:\n do_something(df.ix[i...,"['DataFrame', 'for i in df.index:\n do_some...",[''],[],False,[import pandas as pd\n],False
28,28,28,1.0,2,10751127,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,<p>I'm using a Pandas <code>DataFrame</code> t...,19415.0,['import numpy\nimport pandas\n\ndf = pandas.D...,['import numpy\nimport pandas\n\ndf = pandas.D...,"['DataFrame', 'import numpy\nimport pandas\n\n...",['import numpy\nimport pandas\n\n\ndf = df.dro...,[import numpy\nimport pandas\n\n\ndf = df.drop...,False,[import pandas as pd\nimport numpy\nimport pan...,False
29,29,29,1.0,1,10857924,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,<p>I have a <code>dataFrame</code> in pandas a...,33392.0,[''],[],['dataFrame'],[''],[],False,[import pandas as pd\n],False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,3175,3175,NaN,7,43578600,43577744.0,2,11,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,['import numba\n\ndef psi(A):\n a_cummax = ...,['import numba\n\ndef psi(A):\n a_cummax = ...,"['numba', 'import numba\n\ndef psi(A):\n a_...",['import numba\n\n\n\n\n\n'],[import numba\n\n\n\n\n\n],False,[import pandas as pd\nimport numba\n\n\n\n\n\n],False
3176,3176,3176,NaN,2,43665978,43423347.0,2,6,NaN,NaN,<p>While the other answers provide good inform...,NaN,"[""@profile\ndef foo():\n df = pd.DataFrame(...","[""@profile\ndef foo():\n df = pd.DataFrame(...","['copy()', '.copy()', 'copy()', 'SettingWithCo...",['\n\n\nLine # Mem usage Increment Lin...,[\n\n\nLine # Mem usage Increment Line...,False,[import pandas as pd\n\n\n\nLine # Mem usag...,False
3177,3177,3177,NaN,0,43821531,30925079.0,2,10,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,"[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""\nindex = pd.MultiIndex.from_arrays(arrays, ...",[import pandas as pd\n\nindex = pd.MultiIndex....,True,[import pandas as pd\ndf = pd.DataFrame()\n\ni...,True
3178,3178,3178,NaN,2,43896119,25146121.0,2,11,NaN,NaN,<p><strong>Best way found</strong>!!</p>\n\n<p...,NaN,"[""import datetime as dt\ndf['month_year'] = df...","[""import datetime as dt\ndf['month_year'] = df...","['date_column', ""import datetime as dt\ndf['mo...","[""import datetime as dt\ndf['month_year'] = df...",[import datetime as dt\ndf['month_year'] = df....,False,[import pandas as pd\ndf = pd.DataFrame()\nimp...,True
3179,3179,3179,NaN,4,43897124,19078325.0,2,17,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,"[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\n\n# ==== SINGL...",[# Create a sample data frame\n\n# ==== SINGLE...,False,[import pandas as pd\ndata = pd.DataFrame()\nd...,True
3180,3180,3180,NaN,2,43968774,28757389.0,2,14,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,"[""# label based, but we can use position value...","[""# label based, but we can use position value...","['pandas', '0.20', 'ix', 'loc', 'iloc', 'at', ...","[""# label based, but we can use position value...","[# label based, but we can use position values...",False,[import pandas as pd\ndf = pd.DataFrame()\n# l...,True
3181,3181,3181,NaN,1,44123892,44123874.0,2,26,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,[''],[],"['sort', 'sort_values', 'sort_index']",[''],[],False,[import pandas as pd\n],False
3182,3182,3182,NaN,2,44208076,44207926.0,2,7,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,"['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['dict', '>>> d = {}\n>>> [d.setdefault(tup, i...","['[0, 1, 2, 3, 4, 1, 2]\n[0, 1, 2, 3, 4, 1, 2,...","[[0, 1, 2, 3, 4, 1, 2]\n[0, 1, 2, 3, 4, 1, 2, ...",False,"[import pandas as pd\n[0, 1, 2, 3, 4, 1, 2]\n[...",False
3183,3183,3183,NaN,1,44208229,44207926.0,2,6,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,"['factorize', 'pd.Series(tups).factorize()[0]\...",['pd.Series(tups).factorize()[0]\n\n'],[import pandas as pd\npd.Series(tups).factoriz...,True,[import pandas as pd\npd.Series(tups).factoriz...,False
3184,3184,3184,NaN,3,44311454,21608228.0,2,19,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,"[""mask = df.my_channel > 20000\ncolumn_name = ...","[""mask = df.my_channel > 20000\ncolumn_name = ...","['.ix', '.ix', '.loc', 'iloc', ""mask = df.my_c...","[""mask = df.my_channel > 20000\ncolumn_name = ...",[mask = df.my_channel > 20000\ncolumn_name = '...,False,[import pandas as pd\ndf = pd.DataFrame()\nmas...,True
3185,3185,3185,NaN,2,44724677,44715393.0,2,9,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,"[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...",[import pandas as pd\n# write df1 content in f...,True,[import pandas as pd\ndf2 = pd.DataFrame()\ndf...,True
3186,3186,3186,NaN,0,44736467,10665889.0,2,18,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,"[""# selects all rows and all columns beginning...","[""# selects all rows and all columns beginning...","['.loc', '.loc', 'foo', 'bar', 'quz', 'ant', '...","[""# selects all rows and all columns beginning...",[# selects all rows and all columns beginning ...,False,[import pandas as pd\ndf = pd.DataFrame()\n# s...,True
3187,3187,3187,NaN,0,44800142,44715393.0,2,7,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,"[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","['pd.DataFrame.to_csv', ""df1.to_csv(filename)\...","[""df1.to_csv(filename)\ndf2.to_csv(filename, m...",[import pandas as pd\ndf1.to_csv(filename)\ndf...,True,[import pandas as pd\ndf2 = pd.DataFrame()\ndf...,True
3188,3188,3188,NaN,0,44913631,12307099.0,2,11,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,['>>> import pandas as pd \n>>> import numpy a...,['>>> import pandas as pd \n>>> import numpy a...,"['loc', '>>> import pandas as pd \n>>> import ...",[''],[],False,[import pandas as pd\n],False
3189,3189,3189,NaN,2,44948390,44946141.0,2,6,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,"['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['chunksize', 'file = ""./data.csv""\nchunks = p...","['file = ""./data.csv""\nchunks = pd.read_csv(fi...","[import pandas as pd\nfile = ""./data.csv""\nchu...",True,[import pandas as pd\ndata = pd.DataFrame()\nf...,True
3190,3190,3190,NaN,8,44998387,44998223.0,2,6,NaN,NaN,<p>Here's a single-liner</p>\n\n<pre><code>In ...,NaN,"[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...",['from itertools import combinations\n\ncols =...,[from itertools import combinations\n\ncols = ...,False,[import pandas as pd\ndf = pd.DataFrame()\nfro...,True
3191,3191,3191,NaN,0,44999009,44998223.0,2,9,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"[""def group_duplicate_cols(df):\n a = df.va...",['def group_duplicate_cols(df):\n a = df.va...,['def group_duplicate_cols(df):\n a = df.va...,['df\ngroup_duplicate_cols(df)\ndf.F = df.A\n\...,[df\ngroup_duplicate_cols(df)\ndf.F = df.A\n\n...,False,[import pandas as pd\ndf2 = pd.DataFrame()\ndf...,True
3192,3192,3192,NaN,8,45013739,44946141.0,2,8,NaN,NaN,<pre><code>import numpy as np\nfrom multiproce...,NaN,"[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp...",['import numpy as np\nfrom multiprocessing imp...,[import numpy as np\nfrom multiprocessing impo...,False,[import pandas as pd\ndf = pd.DataFrame()\nimp...,True
3193,3193,3193,NaN,0,45193340,45193131.0,2,9,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,"['apply', 'nsmallest', 'n = 3\ndf.apply(lambda...",['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,[import pandas as pd\nn = 3\ndf.apply(lambda x...,True,[import pandas as pd\ndf = pd.DataFrame()\nn =...,True
3194,3194,3194,NaN,0,45193636,45193131.0,2,8,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,"['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['numpy.argsort', 'a = np.argsort(-df.values, ...","['a = np.argsort(-df.values, axis=0)[-3:]\npri...",[import pandas as pd\na = np.argsort(-df.value...,True,[import pandas as pd\ndf = pd.DataFrame()\na =...,True
3195,3195,3195,NaN,3,45333133,45332960.0,2,12,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,['from toolz import interleave\n\npd.concat([d...,['from toolz import interleave\n\npd.concat([d...,"['pd.concat', 'toolz.interleave', 'from toolz ...",['from toolz import interleave\n\npd.concat([d...,[import pandas as pd\nfrom toolz import interl...,True,[import pandas as pd\nfrom toolz import interl...,False

In [3]:
print(normalized_dataset['PandasImportNormalized'].sum())
print(normalized_dataset['DataFrameNormalized'].sum())

567
1148

In [4]:
import pandas as pd
import pandas