In [25]:
import pandas as pd
import os
import ast
import pyflakes

# Constants
QUESTION_TYPE = 1
ANSWER_TYPE = 2

file = os.path.join('..', 'data', 'pandas-processedcode-dataset.csv')

dataset = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False, sep=";")
print('Amount of entries in the dataset = %d' % len(dataset))
dataset

Amount of entries in the dataset = 3205

      Unnamed: 0  Unnamed: 0.1  AnswerCount  CommentCount        Id       ParentId  PostTypeId  Score                                               Tags                                              Title                                               Body   ViewCount                                               Code                                            AllCode                                      ProcessedCode
0              0             0        $2.00             7   7776679           $nan           1     25                                   <python><pandas>                  append two data frame with pandas  <p>When I try to merge two dataframes by rows ...  $25,479.00  ['bigdata = data1.append(data2)\n', 'Exception...  ['bigdata = data1.append(data2)\n', 'Exception...  ['bigdata = data1.append(data2)\n', 'Exception...
1              1             1        $7.00             3   7837722           $nan           1    187            <python><performance><for-loop><pandas>  What is the most efficient way to loop through...  <p>I want to perform my own complex operations... $195,364.00  ['Date,Open,High,Low,Close,Volume,Adj Close\n2...  ['Date,Open,High,Low,Close,Volume,Adj Close\n2...  ['Date,Open,High,Low,Close,Volume,Adj Close\n2...
2              2             2        $2.00             0   8916302           $nan           1     26        <python><csv><numpy><tab-delimited><pandas>  selecting across multiple columns with python ...  <p>I have a dataframe <code>df</code> in panda...  $19,805.00      ['df_greater_than10 = df[df["colA"] > 10]\n']  ['df', 'pandas.read_table', 'colA', 'df_greate...      ['df_greater_than10 = df[df["colA"] > 10]\n']
3              3             3        $3.00            16   8991709           $nan           1    134              <python><r><join><data.table><pandas>  Why are pandas merges in python faster than da...  <p>I recently came across the <a href="http://...  $16,173.00                                                 []  ['pandas', 'data.table', 'data.table', 'merge(...                                                 []
4              4             4        $8.00             5   9555635           $nan           1     19          <python><numpy><scipy><enthought><pandas>           Open source Enthought Python alternative  <p>I used Enthought's python distribution as a...   $6,585.00                                                 []                     ['numpy', 'scipy', 'sci-kits']                                                 []
5              5             5        $2.00             2   9588331           $nan           1     21                                   <python><pandas>                  Simple cross-tabulation in pandas  <p>I stumbled across <a href="http://pandas.py...   $9,493.00  ['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...  ['pivot/crosstab/indexing', 'Panel', 'DataFram...  ['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...
6              6             6        $3.00             0   9652832           $nan           1     38                              <python><pandas><tsv>  How to I load a tsv file into a Pandas DataFrame?  <p>I'm new to python and pandas.  I'm trying t...  $32,040.00  ['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...  ['tsv', 'DataFrame', '>>> df1 = DataFrame(csv....  ['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...
7              7             7        $6.00             0   9758450           $nan           1     34                                   <python><pandas>        Pandas convert dataframe to array of tuples  <p>I have manipulated some data using pandas a...  $36,433.00  ['In [182]: data_set\nOut[182]: \n  index data...  ['In [182]: data_set\nOut[182]: \n  index data...  ['data_set\n', '[(datetime.date(2012,2,17),24....
8              8             8        $2.00             0   9762935           $nan           1     11                                   <python><pandas>        Add indexed column to DataFrame with pandas  <p>I'm a beginning pandas user, and after stud...   $8,189.00  ['df\n\n                            A         ...  ['df\n\n                            A         ...  ['df\n\n                            A         ...
9              9             9        $2.00             0   9787853           $nan           1     17                                   <python><pandas>             join or merge with overwrite in pandas  <p>I want to perform a join/merge/append opera...   $6,054.00                                                 []  ['df1', 'df2', 'df2', 'df2', 'df1', 'df1', 'df2']                                                 []
10            10            10        $6.00             0   9850954           $nan           1     11                                   <python><pandas>  pandas - get most recent value of a particular...  <p>I have the following dataframe:</p>\n\n<pre...   $3,543.00  ['   obj_id   data_date   value\n0  4        2...  ['   obj_id   data_date   value\n0  4        2...  ['   obj_id   data_date   value\n0  4        2...
11            11            11        $4.00             2  10020591           $nan           1     19               <python><numpy><time-series><pandas>  How to resample a dataframe with different fun...  <p>I have a times series with temperature and ...  $18,532.00  ["import datetime\nimport pandas as pd\nimport...  ['dataframe', "import datetime\nimport pandas ...  ["import datetime\nimport pandas as pd\nimport...
12            12            12       $11.00             4  10065051           $nan           1     77                                   <python><pandas>             python-pandas and databases like mysql  <p>The documentation for Pandas has numerous e...  $72,432.00                                                 []                                                 []                                                 []
13            13            13        $1.00             0  10114399           $nan           1     12                                           <pandas>                 Pandas: simple 'join' not working?  <p>I like to think I'm not an idiot, but maybe...   $4,120.00  ["In [2]: left = pandas.DataFrame({'ST_NAME': ...  ['pandas', 'DataFrames', "In [2]: left = panda...  ["left = pandas.DataFrame({'ST_NAME': ['Oregon...
14            14            14        $2.00             3  10175068           $nan           1     15                                   <python><pandas>  Select data at a particular level from a Multi...  <p>I have the following Pandas Dataframe with ...   $6,774.00  ['             H1       H2  \n   Z    A \n0  1...  ['             H1       H2  \n   Z    A \n0  1...  ['             H1       H2  \n   Z    A \n0  1...
15            15            15        $4.00             2  10202570           $nan           1     84                                   <python><pandas>  Pandas DataFrame - Find row where values for c...  <p>How can I find the row for which the value ...  $75,652.00                                                 []                                       ['df.max()']                                                 []
16            16            16        $6.00             0  10373660           $nan           1    173  <python><pandas><dataframe><group-by><multi-in...    Converting a Pandas GroupBy object to DataFrame  <p>I'm starting with input data like this</p>\... $167,415.00  ['df1 = pandas.DataFrame( { \n    "Name" : ["A...  ['df1 = pandas.DataFrame( { \n    "Name" : ["A...  ['df1 = pandas.DataFrame( { \n    "Name" : ["A...
17            17            17        $2.00            14  10376647           $nan           1     12                            <python><numpy><pandas>  Installed Python Modules - Python can't find them  <p>This is a beginner <code>python</code> inst...  $25,583.00  ['sudo pip install numpy\n\nsudo pip install p...  ['python', 'pip', 'numpy', 'pandas', 'sudo pip...  ['sudo pip install numpy\n\nsudo pip install p...
18            18            18        $2.00             1  10457584           $nan           1     68                                   <python><pandas>  Redefining the Index in a Pandas DataFrame object  <p>I am trying to re-index a pandas <code>Data... $107,691.00  ['From:\n            a   b   c\n        0   1 ...  ['DataFrame', 'From:\n            a   b   c\n ...  ['From:\n            a   b   c\n        0   1 ...
19            19            19        $2.00             0  10464738           $nan           1     23                                   <python><pandas>               Interpolation on DataFrame in pandas  <p>I have a DataFrame, say a volatility surfac...  $15,524.00                                                 []         ['reindex', 'NaN', "fillna(method='pad')"]                                                 []
20            20            20        $6.00             3  10511024           $nan           1     64                          <python><ipython><pandas>  in Ipython notebook, Pandas is not displying t...  <p>I am trying to plot some data using pandas ...  $44,369.00  ['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...  ['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...                       ['pledge.Amount.plot()\n\n']
21            21            21        $3.00             0  10565282           $nan           1     16            <python><indexing><time-series><pandas>  pandas, python - how to select specific times ...  <p>I worked now for quite some time using pyth...  $16,624.00  ['SamplingRateMinutes=60\nindex = DateRange(in...  ['DataFrame', 'SamplingRateMinutes=60\nindex =...  ['SamplingRateMinutes=60\nindex = DateRange(in...
22            22            22        $2.00             2  10591000           $nan           1     25                                   <python><pandas>          Specifying data type in Pandas csv reader  <p>I am just getting started with Pandas and I...  $17,261.00                                                 []                                     ['read_csv()']                                                 []
23            23            23       $14.00             5  10636024           $nan           1     33        <python><user-interface><pandas><dataframe>  Python / Pandas - GUI for viewing a DataFrame ...  <p>I'm using the Pandas package and it creates...  $26,216.00                                                 []                                                 []                                                 []
24            24            24        $7.00             3  10665889           $nan           1    126                     <python><numpy><pandas><slice>   How to take column-slices of dataframe in pandas  <p>I load a some machine learning data from a ... $154,109.00  ["data = pandas.read_csv('mydata.csv')\n", "da...  ["data = pandas.read_csv('mydata.csv')\n", "da...  ["data = pandas.read_csv('mydata.csv')\n", "da...
25            25            25        $2.00             0  10715519           $nan           1     19                                <dataframe><pandas>  Conditionally fill column values based on anot...  <p>I have a <code>DataFrame</code> with a few ...  $14,199.00                                                 []                                      ['DataFrame']                                                 []
26            26            26       $13.00             3  10715965           $nan           1    312                                   <python><pandas>                  add one row in a pandas.DataFrame  <p>I understand that pandas is designed to loa... $349,935.00  ["res = DataFrame(columns=('lib', 'qty1', 'qty...  ['DataFrame', "res = DataFrame(columns=('lib',...  ["res = DataFrame(columns=('lib', 'qty1', 'qty...
27            27            27        $1.00             2  10729210           $nan           1    122                                   <python><pandas>    iterating row by row through a pandas dataframe  <blockquote>\n  <p><strong>Possible Duplicate:... $174,898.00  ['for i in df.index:\n    do_something(df.ix[i...  ['DataFrame', 'for i in df.index:\n    do_some...  ['for i in df.index:\n    do_something(df.ix[i...
28            28            28        $1.00             2  10751127           $nan           1     41                                   <python><pandas>  Returning multiple values from pandas apply on...  <p>I'm using a Pandas <code>DataFrame</code> t...  $19,415.00  ['import numpy\nimport pandas\n\ndf = pandas.D...  ['DataFrame', 'import numpy\nimport pandas\n\n...  ['import numpy\nimport pandas\n\ndf = pandas.D...
29            29            29        $1.00             1  10857924           $nan           1     39                                   <python><pandas>         Remove NULL columns in a dataframe Pandas?  <p>I have a <code>dataFrame</code> in pandas a...  $33,392.00                                                 []                                      ['dataFrame']                                                 []
30            30            30        $3.00             0  10867028           $nan           1     23                              <python><csv><pandas>  Get pandas.read_csv to read empty values as em...  <p>I'm using the pandas library to read in som...  $21,259.00  ['One,Two,Three\na,1,one\nb,2,two\n,3,three\nd...  ['"nan"', 'One,Two,Three\na,1,one\nb,2,two\n,3...  ['One,Two,Three\na,1,one\nb,2,two\n,3,three\nd...
31            31            31        $1.00             0  10943478           $nan           1     12               <python><dataframe><pandas><reindex>     pandas reindex DataFrame with datetime objects  <p>Is it possible to reindex a pandas <code>Da...  $10,727.00  ['Int64Index: 19610 entries, 0 to 19609\nData ...  ['DataFrame', 'df', 'Int64Index: 19610 entries...  ['Int64Index: 19610 entries, 0 to 19609\nData ...
32            32            32        $5.00             0  10951341           $nan           1     45                                   <python><pandas>  Pandas DataFrame aggregate function using mult...  <p>Is there a way to write an aggregation func...  $17,889.00  ['def wAvg(c, w):\n    return ((c * w).sum() /...  ['DataFrame.agg', 'def wAvg(c, w):\n    return...  ['def wAvg(c, w):\n    return ((c * w).sum() /...
33            33            33        $5.00             0  10972410           $nan           1     18                        <python><dataframe><pandas>         pandas: combine two columns in a DataFrame  <p>I have a pandas <code>DataFrame</code> that...  $41,826.00  ['Index: 239897 entries, 2012-05-11 15:20:00 t...  ['DataFrame', 'Index: 239897 entries, 2012-05-...  ['Index: 239897 entries, 2012-05-11 15:20:00 t...
34            34            34        $3.00             1  10982089           $nan           1     38                        <python><pandas><dataframe>          How to shift a column in Pandas DataFrame  <p>I would like to shift a column in a Pandas ...  $31,697.00  ['##    x1   x2\n##0  206  214\n##1  226  234\...  ['DataFrame', '##    x1   x2\n##0  206  214\n#...  ['##    x1   x2\n##0  206  214\n##1  226  234\...
35            35            35        $2.00             0  11040626           $nan           1     11                        <python><dataframe><pandas>  Pandas DataFrame Add column to index without r...  <p>how do I add <code>'d'</code> to the index ...   $9,132.00  ["from pandas import DataFrame\ndf = DataFrame...  ["'d'", "from pandas import DataFrame\ndf = Da...  ["from pandas import DataFrame\ndf = DataFrame...
36            36            36       $11.00             1  11067027           $nan           1    102                            <python><pandas><order>  Python Pandas - Re-ordering columns in a dataf...  <p>I have a <code>dataframe</code> with over 2...  $74,414.00  ["['Q1.3','Q6.1','Q1.2','Q1.1',......]\n", "['...  ['dataframe', "['Q1.3','Q6.1','Q1.2','Q1.1',.....  ["['Q1.3','Q6.1','Q1.2','Q1.1',......]\n", "['...
37            37            37        $1.00             0  11073609           $nan           1     28                                   <python><pandas>        How to group DataFrame by a period of time?  <p>I have some data from log files and would l...  $20,945.00  [' def gen(date, count=10):\n     while count ...  [' def gen(date, count=10):\n     while count ...  [' def gen(date, count=10):\n     while count ...
38            38            38        $3.00             3  11077023           $nan           1    106                     <python><numpy><scipy><pandas>  What are the differences between Pandas and Nu...  <p>They both seem <em>exceedingly</em> similar...  $54,531.00                                                 []                                                 []                                                 []
39            39            39        $4.00             1  11106823           $nan           1     26                                   <python><pandas>                       Adding two pandas dataframes  <p>I have two <code>dataframes</code>, both in...  $19,395.00                                                 []  ['dataframes', 'timeseries', 'dataframe', 'dat...                                                 []
40            40            40        $4.00             0  11232275           $nan           1     28                                   <python><pandas>  Pandas pivot warning about repeated entries on...  <p>On Pandas documentation of the <code>pivot<...  $12,221.00  ["Examples\n--------\n>>> df\n    foo   bar  b...  ['pivot', "Examples\n--------\n>>> df\n    foo...  ["Examples\n--------\n>>> df\n    foo   bar  b...
41            41            41        $7.00             4  11285613           $nan           1    280                                   <python><pandas>                                  Selecting columns  <p>I have data in different columns but I don'... $413,954.00  ['index  a   b   c\n1      2   3   4\n2      3...  ['index  a   b   c\n1      2   3   4\n2      3...  ['index  a   b   c\n1      2   3   4\n2      3...
42            42            42       $16.00             0  11346283           $nan           1    750       <python><pandas><replace><dataframe><rename>                         Renaming columns in pandas  <p>I have a data table using pandas and column... $767,316.00  ["['$a', '$b', '$c', '$d', '$e'] \n", "['a', '...  ['A', "['$a', '$b', '$c', '$d', '$e'] \n", "['...  ["['$a', '$b', '$c', '$d', '$e'] \n", "['a', '...
43            43            43        $2.00             3  11348183           $nan           1     15                           <python><legend><pandas>  Pandas bar plot with specific colors and legen...  <p>I have a pandas <code>DataFrame</code> and ...  $23,856.00  ['import pylab as pl\nfrom pandas import *\n\n...  ['DataFrame', 'import pylab as pl\nfrom pandas...  ['import pylab as pl\nfrom pandas import *\n\n...
44            44            44        $6.00             0  11350770           $nan           1    132                                   <python><pandas>      pandas + dataframe - select by partial string  <p>I have a <code>DataFrame</code> with 4 colu... $130,134.00        ['re.search(pattern, cell_in_question) \n']  ['DataFrame', 're.search(pattern, cell_in_ques...        ['re.search(pattern, cell_in_question) \n']
45            45            45        $6.00             1  11361985           $nan           1     59                            <python><numpy><pandas>  Output data from all columns in a dataframe in...  <p>I have a csv file with the name <code>param... $106,412.00  ["import pandas\nparamdata = pandas.read_csv('...  ['params.csv', 'ipython qtconsole', 'dataframe...  ["import pandas\nparamdata = pandas.read_csv('...

In [17]:

import sys
sys.version

'3.5.2 (default, Nov 23 2017, 16:37:01) \n[GCC 5.4.0 20160609]'

In [18]:
# answers = answers[:50]
blackList = [22084742, 45695288, 45885112]

def filterBlackList(answers):
#     print('Before %d' % len(answers))
    answers = answers[~answers.Id.isin(blackList)]
#     print('Filtered %d' % len(answers))
    return answers

In [19]:
questions = dataset[dataset.PostTypeId == QUESTION_TYPE]

def reportCompilability(post, col):
    strcodes = post[col]
    codes = ast.literal_eval(strcodes)
    parseableCount = 0
    total = len(codes)
    errors = []
    errors_type = []
    for code in codes:
        # Preprocess
        #  code = preprocessCode(code)
        # Compile
        compiled, error, errtype = compileCode(code)
        # Update the report
        errors.append(str(error))
        errors_type.append(errtype)
        if compiled:
            parseableCount += 1
    return parseableCount, total, errors, errors_type


def compileCode(code):
    try:
        print('Code to compile\n' + code)
        tree = ast.parse(code)
        exec(compile(tree, filename="<ast>", mode="exec"), {})
        return True, "Sucess", "Sucess"
    except Exception as e:
        return False, e, e.__class__.__name__
    
    
def compileQuestion(question, col):
    # Get Answers
    answers = dataset[dataset.ParentId == question.Id]
    answers = filterBlackList(answers)
    
    print('----------------------------------------')
    print(question.Id)
    
    count = 0
    total = 0
    question_errors = []
    question_errors_type = []
    for _, answer in answers.iterrows():
        answerCompiled, answerTotal, errors, errors_type = reportCompilability(answer, col)
        print('Checking the answer Id = %s | Errors = %s' % (answer.Id, errors))
        count += answerCompiled
        total += answerTotal
        question_errors.extend(errors)
        question_errors_type.extend(errors_type)
        
    question['Compiled'] = count
    question['Total'] = total
    question['Errors'] = question_errors
    question['Errors Type'] = question_errors_type
    print('----------------------------------------')
    return question
    
analyzedQuestions = questions.apply(compileQuestion, axis=1, args=('ProcessedCode',))

----------------------------------------
7776679
Checking the answer Id = 7779260 | Errors = []
----------------------------------------
----------------------------------------
7776679
Checking the answer Id = 7779260 | Errors = []
----------------------------------------
----------------------------------------
7837722
Code to compile
pct_change = close[1:]/close[:-1]

Code to compile
pct_change = []
for row in close:
    pct_change.append(...)

Checking the answer Id = 7837947 | Errors = ["name 'close' is not defined", "name 'close' is not defined"]
Code to compile
for date, row in df.T.iteritems():
   # do some logic here

Code to compile
def my_algo(ndarray[object] dates, ndarray[float64_t] open,
            ndarray[float64_t] low, ndarray[float64_t] high,
            ndarray[float64_t] close, ndarray[float64_t] volume):
    cdef:
        Py_ssize_t i, n
        float64_t foo
    n = len(dates)

    for i from 0 <= i < n:
        foo = close[i] - open[i] # will be extremely fast

Checking the answer Id = 7849789 | Errors = ['unexpected EOF while parsing (<unknown>, line 2)', 'invalid syntax (<unknown>, line 1)']
Code to compile
for index, row in df.iterrows():

    # do some logic here

Checking the answer Id = 11617194 | Errors = ['unexpected EOF while parsing (<unknown>, line 3)']
Checking the answer Id = 11706782 | Errors = []
Code to compile
df[b] = df[a].apply(lambda col: do stuff with col here)

Checking the answer Id = 19415186 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
t = pd.DataFrame({'a': range(0, 10000), 'b': range(10000, 20000)})
B = []
C = []
A = time.time()
for i,r in t.iterrows():
    C.append((r['a'], r['b']))
B.append(time.time()-A)

C = []
A = time.time()
for ir in t.itertuples():
    C.append((ir[1], ir[2]))
B.append(time.time()-A)

C = []
A = time.time()
for r in zip(t['a'], t['b']):
    C.append((r[0], r[1]))
B.append(time.time()-A)

print B

Code to compile
[0.5639059543609619, 0.017839908599853516, 0.005645036697387695]

Checking the answer Id = 34311080 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 21)", 'Sucess']
----------------------------------------
----------------------------------------
8916302
Code to compile
In [11]: df
Out[11]:
            A        B        C        D
2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
2000-01-04  0.83935  0.15993  0.95911 -1.12959
2000-01-05  2.80215 -0.10858 -1.62114 -0.20170
2000-01-06  0.71670 -0.26707  1.36029  1.74254
2000-01-07 -0.45749  0.22750  0.46291 -0.58431
2000-01-10 -0.78702  0.44006 -0.36881 -0.13884
2000-01-11  0.79577 -0.09198  0.14119  0.02668
2000-01-12 -0.32297  0.62332  1.93595  0.78024
2000-01-13  1.74683 -1.57738 -0.02134  0.11596
2000-01-14 -0.55613  0.92145 -0.22832  1.56631
2000-01-17 -0.55233 -0.28859 -1.18190 -0.80723
2000-01-18  0.73274  0.24387  0.88146 -0.94490
2000-01-19  0.56644 -0.49321  1.17584 -0.17585
2000-01-20  1.56441  0.62331 -0.26904  0.11952
2000-01-21  0.61834  0.17463 -1.62439  0.99103
2000-01-24  0.86378 -0.68111 -0.15788 -0.16670
2000-01-25 -1.12230 -0.16128  1.20401  1.08945
2000-01-26 -0.63115  0.76077 -0.92795 -2.17118
2000-01-27  1.37620 -1.10618 -0.37411  0.73780
2000-01-28 -1.40276  1.98372  1.47096 -1.38043
2000-01-31  0.54769  0.44100 -0.52775  0.84497
2000-02-01  0.12443  0.32880 -0.71361  1.31778
2000-02-02 -0.28986 -0.63931  0.88333 -2.58943
2000-02-03  0.54408  1.17928 -0.26795 -0.51681
2000-02-04 -0.07068 -1.29168 -0.59877 -1.45639
2000-02-07 -0.65483 -0.29584 -0.02722  0.31270
2000-02-08 -0.18529 -0.18701 -0.59132 -1.15239
2000-02-09 -2.28496  0.36352  1.11596  0.02293
2000-02-10  0.51054  0.97249  1.74501  0.20525
2000-02-11  0.10100  0.27722  0.65843  1.73591

In [12]: df[(df.values > 1.5).any(1)]
Out[12]:
            A       B       C        D
2000-01-05  2.8021 -0.1086 -1.62114 -0.2017
2000-01-06  0.7167 -0.2671  1.36029  1.7425
2000-01-12 -0.3230  0.6233  1.93595  0.7802
2000-01-13  1.7468 -1.5774 -0.02134  0.1160
2000-01-14 -0.5561  0.9215 -0.22832  1.5663
2000-01-20  1.5644  0.6233 -0.26904  0.1195
2000-01-28 -1.4028  1.9837  1.47096 -1.3804
2000-02-10  0.5105  0.9725  1.74501  0.2052
2000-02-11  0.1010  0.2772  0.65843  1.7359

Code to compile
In [13]: df[(df['A'] > 1) | (df['B'] < -1)]
Out[13]:
            A        B       C        D
2000-01-05  2.80215 -0.1086 -1.62114 -0.2017
2000-01-13  1.74683 -1.5774 -0.02134  0.1160
2000-01-20  1.56441  0.6233 -0.26904  0.1195
2000-01-27  1.37620 -1.1062 -0.37411  0.7378
2000-02-04 -0.07068 -1.2917 -0.59877 -1.4564

Checking the answer Id = 8916746 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
8991709
Checking the answer Id = 8992714 | Errors = []
Checking the answer Id = 8997908 | Errors = []
Checking the answer Id = 32489918 | Errors = []
----------------------------------------
----------------------------------------
9555635
Checking the answer Id = 9555766 | Errors = []
Checking the answer Id = 9557319 | Errors = []
Checking the answer Id = 9558852 | Errors = []
Checking the answer Id = 9577305 | Errors = []
Checking the answer Id = 9677723 | Errors = []
Checking the answer Id = 13713475 | Errors = []
----------------------------------------
----------------------------------------
9588331
Code to compile
category,value
AB,100.00
AB,200.00
AC,150.00
AD,500.00

Code to compile
import pandas
data_2010 = pandas.read_csv("/path/to/2010.csv")
data_2010.groupby("category").agg([len, sum])

Code to compile
          value
            len  sum
category
AB            2  300
AC            1  150
AD            1  500

Checking the answer Id = 9620832 | Errors = ["name 'category' is not defined", "File b'/path/to/2010.csv' does not exist", 'unexpected indent (<unknown>, line 1)']
Code to compile
In [8]: df
Out[8]:
  category  value
0       AB    100
1       AB    200
2       AC    150
3       AD    500

In [9]: df.pivot_table(rows='category', aggfunc=[len, np.sum])
Out[9]:
            len    sum
          value  value
category
AB            2    300
AC            1    150
AD            1    500

Code to compile
In [12]: df
Out[12]:
  category  value  value2
0       AB    100       5
1       AB    200       5
2       AC    150       5
3       AD    500       5

In [13]: df.pivot_table(rows='category', aggfunc=[len, np.sum])
Out[13]:
            len            sum
          value  value2  value  value2
category
AB            2       2    300      10
AC            1       1    150       5
AD            1       1    500       5

Checking the answer Id = 9623878 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
9652832
Code to compile
DataFrame.from_csv('c:/~/trainSetRel3.txt', sep='\t')

Code to compile
DataFrame.from_csv('c:/~/trainSetRel3.txt', sep='\t', header=0)

Checking the answer Id = 9652858 | Errors = ["name 'DataFrame' is not defined", "name 'DataFrame' is not defined"]
Checking the answer Id = 9656288 | Errors = []
Checking the answer Id = 34548894 | Errors = []
----------------------------------------
----------------------------------------
9758450
Code to compile
subset = data_set[['data_date', 'data_1', 'data_2']]
tuples = [tuple(x) for x in subset.values]

Checking the answer Id = 9762084 | Errors = ["name 'data_set' is not defined"]
Code to compile
[tuple(x) for x in data_set.to_records(index=False)]

Checking the answer Id = 13731128 | Errors = ["name 'data_set' is not defined"]
Code to compile
list(data_set.itertuples(index=False))

Checking the answer Id = 34551914 | Errors = ["name 'data_set' is not defined"]
----------------------------------------
----------------------------------------
9762935
Checking the answer Id = 9772031 | Errors = []
----------------------------------------
----------------------------------------
9787853
Code to compile
In [33]: df2
Out[33]:
                   A         B         C         D
2000-01-03  0.638998  1.277361  0.193649  0.345063
2000-01-04 -0.816756 -1.711666 -1.155077 -0.678726
2000-01-05  0.435507 -0.025162 -1.112890  0.324111
2000-01-06 -0.210756 -1.027164  0.036664  0.884715
2000-01-07 -0.821631 -0.700394 -0.706505  1.193341
2000-01-10  1.015447 -0.909930  0.027548  0.258471
2000-01-11 -0.497239 -0.979071 -0.461560  0.447598

In [34]: df1
Out[34]:
                   A         B         C
2000-01-03  2.288863  0.188175 -0.040928
2000-01-04  0.159107 -0.666861 -0.551628
2000-01-05 -0.356838 -0.231036 -1.211446
2000-01-06 -0.866475  1.113018 -0.001483
2000-01-07  0.303269  0.021034  0.471715
2000-01-10  1.149815  0.686696 -1.230991
2000-01-11 -1.296118 -0.172950 -0.603887
2000-01-12 -1.034574 -0.523238  0.626968
2000-01-13 -0.193280  1.857499 -0.046383
2000-01-14 -1.043492 -0.820525  0.868685

In [35]: df2.comb
df2.combine        df2.combineAdd     df2.combine_first  df2.combineMult

In [35]: df2.combine_first(df1)
Out[35]:
                   A         B         C         D
2000-01-03  0.638998  1.277361  0.193649  0.345063
2000-01-04 -0.816756 -1.711666 -1.155077 -0.678726
2000-01-05  0.435507 -0.025162 -1.112890  0.324111
2000-01-06 -0.210756 -1.027164  0.036664  0.884715
2000-01-07 -0.821631 -0.700394 -0.706505  1.193341
2000-01-10  1.015447 -0.909930  0.027548  0.258471
2000-01-11 -0.497239 -0.979071 -0.461560  0.447598
2000-01-12 -1.034574 -0.523238  0.626968       NaN
2000-01-13 -0.193280  1.857499 -0.046383       NaN
2000-01-14 -1.043492 -0.820525  0.868685       NaN

Checking the answer Id = 9794891 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
9850954
Code to compile
sorted = df.sort_index(by='data_date')
result = sorted.drop_duplicates('obj_id', take_last=True).values

Checking the answer Id = 21007047 | Errors = ["name 'df' is not defined"]
Code to compile
df.loc[df.groupby('obj_id').data_date.idxmax(),:]

Checking the answer Id = 22940775 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
10020591
Code to compile
In [31]: frame.resample('1H').agg({'radiation': np.sum, 'tamb': np.mean})
Out[31]:
                         tamb   radiation
2012-04-05 08:00:00  5.161235  279.507182
2012-04-05 09:00:00  4.968145  290.941073
2012-04-05 10:00:00  4.478531  317.678285
2012-04-05 11:00:00  4.706206  335.258633
2012-04-05 12:00:00  2.457873    8.655838

Code to compile
In [30]: frame.resample('1H', how={'radiation': np.sum, 'tamb': np.mean})
Out[30]:
                         tamb   radiation
2012-04-05 08:00:00  5.161235  279.507182
2012-04-05 09:00:00  4.968145  290.941073
2012-04-05 10:00:00  4.478531  317.678285
2012-04-05 11:00:00  4.706206  335.258633
2012-04-05 12:00:00  2.457873    8.655838

Checking the answer Id = 11603242 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
10065051
Code to compile
import pandas as pd
import cx_Oracle

ora_conn = cx_Oracle.connect('your_connection_string')
df_ora = pd.read_sql('select * from user_objects', con=ora_conn)
print 'loaded dataframe from Oracle. # Records: ', len(df_ora)
ora_conn.close()

Code to compile
import MySQLdb
mysql_cn= MySQLdb.connect(host='myhost',
                port=3306,user='myusername', passwd='mypassword',
                db='information_schema')
df_mysql = pd.read_sql('select * from VIEWS;', con=mysql_cn)
print 'loaded dataframe from MySQL. records:', len(df_mysql)
mysql_cn.close()

Checking the answer Id = 11138275 | Errors = ['invalid syntax (<unknown>, line 6)', 'invalid syntax (<unknown>, line 6)']
Code to compile
import pyodbc
import pandas.io.sql as psql

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=servername;DATABASE=mydb;UID=username;PWD=password')
cursor = cnxn.cursor()
sql = ("""select * from mytable""")

df = psql.frame_query(sql, cnxn)
cnxn.close()

Checking the answer Id = 12834193 | Errors = ["No module named 'pyodbc'"]
Code to compile
import pandas as pd
import sqlite3

with sqlite3.connect("whatever.sqlite") as con:
    sql = "SELECT * FROM table_name"
    df = pd.read_sql_query(sql, con)
    print df.shape

Checking the answer Id = 15097125 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 7)"]
Code to compile
import MySQLdb as db
from pandas import DataFrame
from pandas.io.sql import frame_query

database = db.connect('localhost','username','password','database')
data     = frame_query("SELECT * FROM data", database)

Checking the answer Id = 21260328 | Errors = ["No module named 'MySQLdb'"]
Code to compile
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from pandas import DataFrame
import datetime

# We are connecting to an existing service
engine = create_engine('dialect://user:pwd@host:port/db', echo=False)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

# And we want to query an existing table
tablename = Table('tablename',
    Base.metadata,
    autoload=True,
    autoload_with=engine,
    schema='ownername')

# These are the "Where" parameters, but I could as easily
# create joins and limit results
us = tablename.c.country_code.in_(['US','MX'])
dc = tablename.c.locn_name.like('%DC%')
dt = tablename.c.arr_date >= datetime.date.today() # Give me convenience or...

q = session.query(tablename).\
            filter(us & dc & dt) # That's where the magic happens!!!

def querydb(query):
    """
    Function to execute query and return DataFrame.
    """
    df = DataFrame(query.all());
    df.columns = [x['name'] for x in query.column_descriptions]
    return df

querydb(q)

Checking the answer Id = 23331896 | Errors = ["No module named 'sqlalchemy'"]
Code to compile
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('dialect://user:pass@host:port/schema', echo=False)
f = pd.read_sql_query('SELECT * FROM mytable', engine, index_col = 'ID')

Checking the answer Id = 25030617 | Errors = ["No module named 'sqlalchemy'"]
----------------------------------------
----------------------------------------
10114399
Code to compile
In [14]: right
Out[14]:
    ST_NAME  value2
0    Oregon   6.218
1  Nebraska   0.001

In [15]: merge(left, right)
Out[15]:
    ST_NAME  value  value2
0  Nebraska  2.491   0.001
1    Oregon  4.685   6.218

In [18]: merge(left, right, on='ST_NAME', sort=False)
Out[18]:
    ST_NAME  value  value2
0    Oregon  4.685   6.218
1  Nebraska  2.491   0.001

Checking the answer Id = 10114652 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
10175068
Code to compile
import pandas
print pandas.__version__

Checking the answer Id = 10182172 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
----------------------------------------
----------------------------------------
10202570
Code to compile
>>> import pandas
>>> import numpy as np
>>> df = pandas.DataFrame(np.random.randn(5,3),columns=['A','B','C'])
>>> df
          A         B         C
0  1.232853 -1.979459 -0.573626
1  0.140767  0.394940  1.068890
2  0.742023  1.343977 -0.579745
3  2.125299 -0.649328 -0.211692
4 -0.187253  1.908618 -1.862934
>>> df['A'].argmax()
3
>>> df['B'].argmax()
4
>>> df['C'].argmax()
1

Code to compile
In [19]: dfrm
Out[19]:
          A         B         C
a  0.143693  0.653810  0.586007
b  0.623582  0.312903  0.919076
c  0.165438  0.889809  0.000967
d  0.308245  0.787776  0.571195
e  0.870068  0.935626  0.606911
f  0.037602  0.855193  0.728495
g  0.605366  0.338105  0.696460
h  0.000000  0.090814  0.963927
i  0.688343  0.188468  0.352213
i  0.879000  0.105039  0.900260

In [20]: dfrm['A'].idxmax()
Out[20]: 'i'

In [21]: dfrm.ix[dfrm['A'].idxmax()]
Out[21]:
          A         B         C
i  0.688343  0.188468  0.352213
i  0.879000  0.105039  0.900260

Checking the answer Id = 10202789 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [5]: df = pandas.DataFrame(np.random.randn(10,3),columns=['A','B','C'])

In [6]: df
Out[6]:
          A         B         C
0  2.001289  0.482561  1.579985
1 -0.991646 -0.387835  1.320236
2  0.143826 -1.096889  1.486508
3 -0.193056 -0.499020  1.536540
4 -2.083647 -3.074591  0.175772
5 -0.186138 -1.949731  0.287432
6 -0.480790 -1.771560 -0.930234
7  0.227383 -0.278253  2.102004
8 -0.002592  1.434192 -1.624915
9  0.404911 -2.167599 -0.452900

In [7]: df.idxmax()
Out[7]:
A    0
B    8
C    7

Code to compile
In [8]: df.ix[df['A'].idxmax()]
Out[8]:
A    2.001289
B    0.482561
C    1.579985

Checking the answer Id = 10213167 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: from pandas import Series, DataFrame

In [2]: s=Series([2,4,4,3],index=['a','b','c','d'])

In [3]: s.idxmax()
Out[3]: 'b'

In [4]: s[s==s.max()]
Out[4]:
b    4
c    4
dtype: int64

Checking the answer Id = 25774932 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
10373660
Code to compile
In [19]: type(g1)
Out[19]: pandas.core.frame.DataFrame

In [20]: g1.index
Out[20]:
MultiIndex([('Alice', 'Seattle'), ('Bob', 'Seattle'), ('Mallory', 'Portland'),
       ('Mallory', 'Seattle')], dtype=object)

Code to compile
In [21]: g1.add_suffix('_Count').reset_index()
Out[21]:
      Name      City  City_Count  Name_Count
0    Alice   Seattle           1           1
1      Bob   Seattle           2           2
2  Mallory  Portland           2           2
3  Mallory   Seattle           1           1

Code to compile
In [36]: DataFrame({'count' : df1.groupby( [ "Name", "City"] ).size()}).reset_index()
Out[36]:
      Name      City  count
0    Alice   Seattle      1
1      Bob   Seattle      2
2  Mallory  Portland      2
3  Mallory   Seattle      1

Checking the answer Id = 10374456 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd

df1 = pd.DataFrame({"Name":["Alice", "Bob", "Mallory", "Mallory", "Bob" , "Mallory"],
                    "City":["Seattle","Seattle","Portland","Seattle","Seattle","Portland"]})
print df1
#
#       City     Name
#0   Seattle    Alice
#1   Seattle      Bob
#2  Portland  Mallory
#3   Seattle  Mallory
#4   Seattle      Bob
#5  Portland  Mallory
#
g1 = df1.groupby(["Name", "City"], as_index=False).count()
print g1
#
#                  City  Name
#Name    City
#Alice   Seattle      1     1
#Bob     Seattle      2     2
#Mallory Portland     2     2
#        Seattle      1     1
#

Code to compile
print df1.groupby(["Name", "City"], as_index=False ).count()
#IndexError: list index out of range

print df1.groupby(["Name", "City"]).count()
#Empty DataFrame
#Columns: []
#Index: [(Alice, Seattle), (Bob, Seattle), (Mallory, Portland), (Mallory, Seattle)]

print df1.groupby(["Name", "City"])[['Name','City']].count()
#                  Name  City
#Name    City
#Alice   Seattle      1     1
#Bob     Seattle      2     2
#Mallory Portland     2     2
#        Seattle      1     1

print df1.groupby(["Name", "City"]).size().reset_index(name='count')
#      Name      City  count
#0    Alice   Seattle      1
#1      Bob   Seattle      2
#2  Mallory  Portland      2
#3  Mallory   Seattle      1

Checking the answer Id = 32307259 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 5)", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
10376647
Checking the answer Id = 10377863 | Errors = []
----------------------------------------
----------------------------------------
10457584
Code to compile
In : col = ['a','b','c']

In : data = DataFrame([[1,2,3],[10,11,12],[20,21,22]],columns=col)

In : data
Out:
    a   b   c
0   1   2   3
1  10  11  12
2  20  21  22

In : data2 = data.set_index('a')

In : data2
Out:
     b   c
a
1    2   3
10  11  12
20  21  22

Checking the answer Id = 10458386 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
10464738
Code to compile
In : df = pandas.DataFrame(numpy.random.randn(5,3), index=['a','c','d','e','g'])

In : df
Out:
          0         1         2
a -1.987879 -2.028572  0.024493
c  2.092605 -1.429537  0.204811
d  0.767215  1.077814  0.565666
e -1.027733  1.330702 -0.490780
g -1.632493  0.938456  0.492695

In : df2 = df.reindex(['a','b','c','d','e','f','g'])

In : df2
Out:
          0         1         2
a -1.987879 -2.028572  0.024493
b       NaN       NaN       NaN
c  2.092605 -1.429537  0.204811
d  0.767215  1.077814  0.565666
e -1.027733  1.330702 -0.490780
f       NaN       NaN       NaN
g -1.632493  0.938456  0.492695

In : df2.apply(pandas.Series.interpolate)
Out:
          0         1         2
a -1.987879 -2.028572  0.024493
b  0.052363 -1.729055  0.114652
c  2.092605 -1.429537  0.204811
d  0.767215  1.077814  0.565666
e -1.027733  1.330702 -0.490780
f -1.330113  1.134579  0.000958
g -1.632493  0.938456  0.492695

Checking the answer Id = 10465162 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas
from   numpy import nan
import numpy

dataGrid = pandas.DataFrame({1: {1: 1, 3: 2},
                             2: {1: 3, 3: 4}})


def getExtrapolatedInterpolatedValue(x, y):
    global dataGrid
    if x not in dataGrid.index:
        dataGrid.ix[x] = nan
        dataGrid = dataGrid.sort()
        dataGrid = dataGrid.interpolate(method='index', axis=0).ffill(axis=0).bfill(axis=0)

    if y not in dataGrid.columns.values:
        dataGrid = dataGrid.reindex(columns=numpy.append(dataGrid.columns.values, y))
        dataGrid = dataGrid.sort_index(axis=1)
        dataGrid = dataGrid.interpolate(method='index', axis=1).ffill(axis=1).bfill(axis=1)

    return dataGrid[y][x]


print getExtrapolatedInterpolatedValue(2, 1.4)
>>2.3

Checking the answer Id = 30733959 | Errors = ['invalid syntax (<unknown>, line 24)']
----------------------------------------
----------------------------------------
10511024
Code to compile
plt.show()

Checking the answer Id = 10511230 | Errors = ["name 'plt' is not defined"]
Checking the answer Id = 10511545 | Errors = []
Code to compile
%matplotlib inline
import matplotlib.pyplot as plt

Checking the answer Id = 23901625 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
10565282
Code to compile
In [32]: from datetime import datetime as dt

In [33]: dr = p.DateRange(dt(2009,1,1),dt(2010,12,31), offset=p.datetools.Hour())

In [34]: hr = dr.map(lambda x: x.hour)

In [35]: dt = p.DataFrame(rand(len(dr),2), dr)

In [36]: dt

Out[36]:
<class 'pandas.core.frame.DataFrame'>
DateRange: 17497 entries, 2009-01-01 00:00:00 to 2010-12-31 00:00:00
offset: <1 Hour>
Data columns:
0    17497  non-null values
1    17497  non-null values
dtypes: float64(2)

In [37]: dt[(hr >= 10) & (hr <=16)]

Out[37]:
<class 'pandas.core.frame.DataFrame'>
Index: 5103 entries, 2009-01-01 10:00:00 to 2010-12-30 16:00:00
Data columns:
0    5103  non-null values
1    5103  non-null values
dtypes: float64(2)

Checking the answer Id = 10565742 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
hour = ts.index.hour
selector = ((10 <= hour) & (hour <= 13)) | ((20 <= hour) & (hour <= 23))
data = ts[selector]

Checking the answer Id = 10567298 | Errors = ["name 'ts' is not defined"]
Code to compile
import pandas as pd
from datetime import datetime

dr = pd.date_range(datetime(2009,1,1),datetime(2010,12,31),freq='H')
dt = pd.DataFrame(rand(len(dr),2),dr)
hour = dt.index.hour
selector = ((10 <= hour) & (hour <= 13)) | ((20<=hour) & (hour<=23))
data = dt[selector]

Checking the answer Id = 14063022 | Errors = ["name 'rand' is not defined"]
----------------------------------------
----------------------------------------
10591000
Code to compile
df.phone = df.phone.astype(str)

Checking the answer Id = 10781413 | Errors = ["name 'df' is not defined"]
Code to compile
d = pandas.read_csv('foo.csv', dtype={'BAR': 'S10'})

Checking the answer Id = 18500854 | Errors = ["name 'pandas' is not defined"]
----------------------------------------
----------------------------------------
10636024
Code to compile
df  = read_csv(filename, index_col = 0,header = 0)
self.datatable = QtGui.QTableWidget(parent=self)
self.datatable.setColumnCount(len(df.columns))
self.datatable.setRowCount(len(df.index))
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        self.datatable.setItem(i,j,QtGui.QTableWidgetItem(str(df.iget_value(i, j))))

Checking the answer Id = 12036847 | Errors = ["name 'read_csv' is not defined"]
Code to compile
# Format floating point numbers with 2 decimal places.
data_table = df.to_html(float_format=lambda x: '%6.2f' % x,
    classes="table display")
# The to_html() method forces a html table border of 1 pixel.
# I use 0  in my table so I  change the html, since there is no
# border argument in the to_html() method.
data_table = data_table.replace('border="1"','border="0"')
# I alson like to display blanks instead on nan.
data_table = data_table.replace('nan', '')

Code to compile
$('.table').dataTable({
    "bPaginate": true,
    "bLengthChange": true,
    "bSort": false,
    "bStateSave": true,
    "sScrollY": 900,
    "sScrollX": 1000,
    "aLengthMenu": [[50, 100, 250, 500, 1000, -1], [50, 100, 250, 500, 1000, "All"]],
    "iDisplayLength": 100,
});

Checking the answer Id = 16884805 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
from pandas.sandbox.qtpandas import DataFrameModel, DataFrameWidget

Checking the answer Id = 22166224 | Errors = ["No module named 'pandas.sandbox'"]
Checking the answer Id = 37447530 | Errors = []
----------------------------------------
----------------------------------------
10665889
Code to compile
data = pandas.DataFrame(np.random.rand(10,5), columns = list('abcde'))
data_ab = data[list('ab')]
data_cde = data[list('cde')]

Checking the answer Id = 10666301 | Errors = ["name 'pandas' is not defined"]
Code to compile
>>> df = DataFrame(np.random.rand(4,5), columns = list('abcde'))
>>> df.ix[:,'b':]
      b         c         d         e
0  0.418762  0.042369  0.869203  0.972314
1  0.991058  0.510228  0.594784  0.534366
2  0.407472  0.259811  0.396664  0.894202
3  0.726168  0.139531  0.324932  0.906575

Checking the answer Id = 10677896 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> data.iloc[:,[0,3]]

Code to compile
          a         d
0  0.883283  0.100975
1  0.614313  0.221731
2  0.438963  0.224361
3  0.466078  0.703347
4  0.955285  0.114033
5  0.268443  0.416996
6  0.613241  0.327548
7  0.370784  0.359159
8  0.692708  0.659410
9  0.806624  0.875476

Checking the answer Id = 22018873 | Errors = ['invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Code to compile
op = df[list(df.columns[0:899]) + list(df.columns[3593:])]
print op

Checking the answer Id = 26320276 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
Code to compile
# Load dataset (pip install seaborn)
>> import seaborn.apionly as sns
>> titanic = sns.load_dataset('titanic')

Code to compile
>> titanic.loc[:,['sex','age','fare']]

Code to compile
>> titanic.iloc[:,[2,3,6]]

Code to compile
>> titanic.ix[:,[sex,age,fare]]

Code to compile
>> titanic.ix[:,[2,3,6]]

Code to compile
>> titanic.reindex(columns=['sex','age','fare'])

Checking the answer Id = 33997632 | Errors = ['invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
# selects all rows and all columns beginning at 'foo' up to and including 'ant'
df.loc[:, 'foo':'sat']
# foo bar quz ant cat sat

Code to compile
# slice from 'foo' to 'cat' by every 2nd column
df.loc[:, 'foo':'cat':2]
# foo quz cat

# slice from the beginning to 'bar'
df.loc[:, :'bar']
# foo bar

# slice from 'quz' to the end by 3
df.loc[:, 'quz'::3]
# quz sat

# attempt from 'sat' to 'bar'
df.loc[:, 'sat':'bar']
# no columns returned

# slice from 'sat' to 'bar'
df.loc[:, 'sat':'bar':-1]
sat cat ant quz bar

# slice notation is syntatic sugar for the slice function
# slice from 'quz' to the end by 2 with slice function
df.loc[:, slice('quz',None, 2)]
# quz cat dat

# select specific columns with a list
# select columns foo, bar and dat
df.loc[:, ['foo','bar','dat']]
# foo bar dat

Code to compile
# slice from 'w' to 'y' and 'foo' to 'ant' by 3
df.loc['w':'y', 'foo':'ant':3]
#    foo ant
# w
# x
# y

Checking the answer Id = 44736467 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 19)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
10715519
Code to compile
df['Normalized'] = np.where(df['Currency'] == '$', df['Budget'] * 0.78125, df['Budget'])

Checking the answer Id = 10726275 | Errors = ["name 'np' is not defined"]
----------------------------------------
----------------------------------------
10715965
Checking the answer Id = 10716007 | Errors = []
Code to compile
rows_list = []
for row in input_rows:

        dict1 = {}
        # get input row in dictionary format
        # key = col_name
        dict1.update(blah..)

        rows_list.append(dict1)

df = pd.DataFrame(rows_list)

Checking the answer Id = 17496530 | Errors = ['invalid syntax (<unknown>, line 7)']
Code to compile
In [1]: se = pd.Series([1,2,3])

In [2]: se
Out[2]:
0    1
1    2
2    3
dtype: int64

In [3]: se[5] = 5.

In [4]: se
Out[4]:
0    1.0
1    2.0
2    3.0
5    5.0
dtype: float64

Code to compile
In [1]: dfi = pd.DataFrame(np.arange(6).reshape(3,2),
   .....:                 columns=['A','B'])
   .....:

In [2]: dfi
Out[2]:
   A  B
0  0  1
1  2  3
2  4  5

In [3]: dfi.loc[:,'C'] = dfi.loc[:,'A']

In [4]: dfi
Out[4]:
   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
In [5]: dfi.loc[3] = 5

In [6]: dfi
Out[6]:
   A  B  C
0  0  1  0
1  2  3  2
2  4  5  4
3  5  5  5

Checking the answer Id = 23394497 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
>>> df = DataFrame(columns=('lib', 'qty1', 'qty2'))
>>> for i in range(5):
>>>     df.loc[i] = [randint(-1,1) for n in range(3)]
>>>
>>> print(df)
    lib  qty1  qty2
0    0     0    -1
1   -1    -1     1
2    1    -1     1
3    0     0     0
4    1    -1    -1

[5 rows x 3 columns]

Checking the answer Id = 24888331 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
import numpy as np
# we know we're gonna have 5 rows of data
numberOfRows = 5
# create dataframe
df = pd.DataFrame(index=np.arange(0, numberOfRows), columns=('lib', 'qty1', 'qty2') )

# now fill it up row by row
for x in np.arange(0, numberOfRows):
    #loc or iloc both work here since the index is natural numbers
    df.loc[x] = [np.random.randint(-1,1) for n in range(3)]
In[23]: df
Out[23]:
   lib  qty1  qty2
0   -1    -1    -1
1    0     0     0
2   -1     0    -1
3    0    -1     0
4   -1     0     0

Code to compile
In[30]: %timeit tryThis() # function wrapper for this answer
In[31]: %timeit tryOther() # function wrapper without index (see, for example, @fred)
1000 loops, best of 3: 1.23 ms per loop
100 loops, best of 3: 2.31 ms per loop

Checking the answer Id = 24913075 | Errors = ['invalid syntax (<unknown>, line 12)', 'invalid syntax (<unknown>, line 1)']
Code to compile
mycolumns = ['A', 'B']
df = pd.DataFrame(columns=mycolumns)
rows = [[1,2],[3,4],[5,6]]
for row in rows:
    df.loc[len(df)] = row

Checking the answer Id = 31037040 | Errors = ["name 'pd' is not defined"]
Code to compile
>>> f = pandas.DataFrame(data = {'Animal':['cow','horse'], 'Color':['blue', 'red']})
>>> f
  Animal Color
0    cow  blue
1  horse   red
>>> f.append({'Animal':'mouse', 'Color':'black'}, ignore_index=True)
  Animal  Color
0    cow   blue
1  horse    red
2  mouse  black

Checking the answer Id = 35583219 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd

BaseData = pd.DataFrame({ 'Customer' : ['Acme','Mega','Acme','Acme','Mega','Acme'],
                          'Territory'  : ['West','East','South','West','East','South'],
                          'Product'  : ['Econ','Luxe','Econ','Std','Std','Econ']})
BaseData

columns = ['Customer','Num Unique Products', 'List Unique Products']

rows_list=[]
for name, group in BaseData.groupby('Customer'):
    RecordtoAdd={} #initialise an empty dict
    RecordtoAdd.update({'Customer' : name}) #
    RecordtoAdd.update({'Num Unique Products' : len(pd.unique(group['Product']))})
    RecordtoAdd.update({'List Unique Products' : pd.unique(group['Product'])})

    rows_list.append(RecordtoAdd)

AnalysedData = pd.DataFrame(rows_list)

print('Base Data : \n',BaseData,'\n\n Analysed Data : \n',AnalysedData)

Base Data :
   Customer Product Territory
0     Acme    Econ      West
1     Mega    Luxe      East
2     Acme    Econ     South
3     Acme     Std      West
4     Mega     Std      East
5     Acme    Econ     South

 Analysed Data :
   Customer List Unique Products  Num Unique Products
0     Acme          [Econ, Std]                    2
1     Mega          [Luxe, Std]                    2
Checking the answer Id = 38348167 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
10729210
Checking the answer Id = 10739432 | Errors = []
----------------------------------------
----------------------------------------
10751127
Code to compile
return pandas.Series({'pvalue': pvalue, 'mean_ratio': mean_ratio})

Checking the answer Id = 10762516 | Errors = ["'return' outside function (<ast>, line 1)"]
----------------------------------------
----------------------------------------
10857924
Code to compile
Definition: DataFrame.dropna(self, axis=0, how='any', thresh=None, subset=None)
Docstring:
Return object with labels on given axis omitted where alternately any
or all of the data are missing

Parameters
----------
axis : {0, 1}
how : {'any', 'all'}
    any : if any NA values are present, drop that label
    all : if all values are NA, drop that label
thresh : int, default None
    int value : require that many non-NA values
subset : array-like
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include

Returns
-------
dropped : DataFrame

Code to compile
df=df.dropna(axis=1,how='all')

Checking the answer Id = 10859883 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
10867028
Checking the answer Id = 11005208 | Errors = []
----------------------------------------
----------------------------------------
10943478
Checking the answer Id = 10943545 | Errors = []
----------------------------------------
----------------------------------------
10951341
Code to compile
grouped = df.groupby(keys)

def wavg(group):
    d = group['data']
    w = group['weights']
    return (d * w).sum() / w.sum()

grouped.apply(wavg)

Checking the answer Id = 10964938 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
10972410
Code to compile
pandas.concat([df['foo'].dropna(), df['bar'].dropna()]).reindex_like(df)

Checking the answer Id = 10972557 | Errors = ["name 'pandas' is not defined"]
Code to compile
df['bar'].fillna(df['foo'], inplace=True)
del df['foo']

Code to compile
import pandas as pd
#creating the table with two missing values
df1 = pd.DataFrame({'a':[1,2],'b':[3,4]}, index = [1,2])
df2 = pd.DataFrame({'b':[5,6]}, index = [3,4])
dftot = pd.concat((df1, df2))
print dftot
#creating the dataframe to fill the missing values
filldf = pd.DataFrame({'a':[7,7,7,7]})

#filling
print dftot.fillna(filldf)

Checking the answer Id = 23787861 | Errors = ["name 'df' is not defined", "Missing parentheses in call to 'print' (<unknown>, line 6)"]
----------------------------------------
----------------------------------------
10982089
Code to compile
In [18]: a
Out[18]:
   x1  x2
0   0   5
1   1   6
2   2   7
3   3   8
4   4   9

In [19]: a.x2 = a.x2.shift(1)

In [20]: a
Out[20]:
   x1  x2
0   0 NaN
1   1   5
2   2   6
3   3   7
4   4   8

Checking the answer Id = 10982198 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
11040626
Code to compile
df.set_index(['d'], append=True)

Checking the answer Id = 11856979 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
11067027
Code to compile
df.reindex_axis(sorted(df.columns), axis=1)

Checking the answer Id = 11067072 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 11385780 | Errors = []
Code to compile
data.reindex_axis(sorted(data.columns, key=lambda x: float(x[1:])), axis=1)

Code to compile
vals = randint(low=16, high=80, size=25).reshape(5,5)
cols = ['Q1.3', 'Q6.1', 'Q1.2', 'Q9.1', 'Q10.2']
data = DataFrame(vals, columns = cols)

Code to compile
data

    Q1.3    Q6.1    Q1.2    Q9.1    Q10.2
0   73      29      63      51      72
1   61      29      32      68      57
2   36      49      76      18      37
3   63      61      51      30      31
4   36      66      71      24      77

Code to compile
data.reindex_axis(sorted(data.columns, key=lambda x: float(x[1:])), axis=1)

Code to compile
data


     Q1.2    Q1.3    Q6.1    Q9.1    Q10.2
0    2       0       1       3       4
1    7       5       6       8       9
2    2       0       1       3       4
3    2       0       1       3       4
4    2       0       1       3       4

Checking the answer Id = 19238029 | Errors = ["name 'data' is not defined", "name 'randint' is not defined", 'unexpected indent (<unknown>, line 3)', "name 'data' is not defined", 'unexpected indent (<unknown>, line 4)']
Code to compile

df[sorted(df.columns)]

Checking the answer Id = 24396554 | Errors = ["name 'df' is not defined"]
Code to compile
df.sort_index(axis=1, inplace=True)

Checking the answer Id = 27361326 | Errors = ["name 'df' is not defined"]
Code to compile
sequence = ['Q1.1','Q1.2','Q1.3',.....'Q6.1',......]
your_dataframe = your_dataframe.reindex(columns=sequence)

Checking the answer Id = 33555435 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------

----------------------------------------
11073609
Code to compile
df.groupby(df.index.map(lambda t: t.minute))

Code to compile
df.groupby([df.index.map(lambda t: t.minute), 'Source'])

Code to compile
df.groupby([df['Source'],pd.TimeGrouper(freq='Min')])

Checking the answer Id = 11073962 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
11077023
Checking the answer Id = 11077060 | Errors = []
Checking the answer Id = 11077215 | Errors = []
----------------------------------------
----------------------------------------
11106823
Code to compile
(x.reindex_like(y).fillna(0) + y.fillna(0)).fillna(0)

Code to compile
>>> x
   A   B   C
0  1   2 NaN
1  3 NaN   4
>>> y
    A   B   C
0   8 NaN  88
1   2 NaN   5
2  10  11  12
>>> (x.reindex_like(y).fillna(0) + y.fillna(0)).fillna(0)
    A   B   C
0   9   2  88
1   5   0   9
2  10  11  12

Checking the answer Id = 11107627 | Errors = ["name 'x' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd

df1 = pd.DataFrame([(1,2),(3,4),(5,6)], columns=['a','b'])
Out:
   a  b
0  1  2
1  3  4
2  5  6

df2 = pd.DataFrame([(100,200),(300,400),(500,600)], columns=['a','b'])
Out:
     a    b
0  100  200
1  300  400
2  500  600

df_add = df1.add(df2, fill_value=0)
Out:
     a    b
0  101  202
1  303  404
2  505  606

Checking the answer Id = 11112419 | Errors = ['invalid syntax (<unknown>, line 4)']
----------------------------------------
----------------------------------------
11232275
Code to compile
df.drop_duplicates(['foo','bar'])
df.pivot('foo','bar','baz')

Checking the answer Id = 13833239 | Errors = ["name 'df' is not defined"]
Code to compile
pandas.pivot_table(df,values='count',index='site_id',columns='week')

Checking the answer Id = 19600533 | Errors = ["name 'pandas' is not defined"]
----------------------------------------
----------------------------------------
11285613
Code to compile
df1 = df[['a','b']]

Code to compile
df1 = df.ix[:,0:2] # Remember that Python does not slice inclusive of the ending index.

Code to compile
df1 = df.ix[0,0:2].copy() # To avoid the case where changing df1 also changes df

Checking the answer Id = 11287278 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
Code to compile
In [39]: df
Out[39]:
   index  a  b  c
0      1  2  3  4
1      2  3  4  5

In [40]: df1 = df[['b', 'c']]

In [41]: df1
Out[41]:
   b  c
0  3  4
1  4  5

Checking the answer Id = 11385335 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
newdf = df[df.columns[2:4]] # Remember, Python is 0-offset! The "3rd" entry is at slot 2.

Checking the answer Id = 13165753 | Errors = ["name 'df' is not defined"]
Code to compile
colsToDrop = ['a']
df.drop(colsToDrop, axis=1)

Checking the answer Id = 25643178 | Errors = ["name 'df' is not defined"]
Code to compile
columns = ['b', 'c']
df1 = pd.DataFrame(df, columns=columns)

Checking the answer Id = 35203149 | Errors = ["name 'pd' is not defined"]
Code to compile
df.loc[:, 'C':'E']

Code to compile
import pandas as pd
import numpy as np
np.random.seed(5)
df = pd.DataFrame(np.random.randint(100, size=(100, 6)),
                  columns=list('ABCDEF'),
                  index=['R{}'.format(i) for i in range(100)])
df.head()

Out:
     A   B   C   D   E   F
R0  99  78  61  16  73   8
R1  62  27  30  80   7  76
R2  15  53  80  27  44  77
R3  75  65  47  30  84  86
R4  18   9  41  62   1  82

Code to compile
df.loc[:, 'C':'E']

Out:
      C   D   E
R0   61  16  73
R1   30  80   7
R2   80  27  44
R3   47  30  84
R4   41  62   1
R5    5  58   0
...

Code to compile
df.loc['R6':'R10', 'C':'E']

Out:
      C   D   E
R6   51  27  31
R7   83  19  18
R8   11  67  65
R9   78  27  29
R10   7  16  94

Code to compile
df.loc[:, df.columns.isin(list('BCD'))]

Out:
      B   C   D
R0   78  61  16
R1   27  30  80
R2   53  80  27
R3   65  47  30
R4    9  41  62
R5   78   5  58
...

Checking the answer Id = 36955053 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 9)', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
11346283
Code to compile
>>> df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})
>>> df.columns = ['a', 'b']
>>> df
   a   b
0  1  10
1  2  20

Checking the answer Id = 11346337 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
# OR
df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)

Checking the answer Id = 11354850 | Errors = ["name 'df' is not defined"]
Code to compile
In [11]: df.columns
Out[11]: Index([u'$a', u'$b', u'$c', u'$d', u'$e'], dtype=object)

In [12]: df.rename(columns=lambda x: x[1:], inplace=True)

In [13]: df.columns
Out[13]: Index([u'a', u'b', u'c', u'd', u'e'], dtype=object)

Checking the answer Id = 16667215 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df = df.rename(columns=lambda x: x.replace('$', ''))

Code to compile
df.rename(columns=lambda x: x.replace('$', ''), inplace=True)

Checking the answer Id = 22657894 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
old_names = ['$a', '$b', '$c', '$d', '$e']
new_names = ['a', 'b', 'c', 'd', 'e']
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

Checking the answer Id = 30380922 | Errors = ["name 'df' is not defined"]
Code to compile
df.columns = df.columns.str.replace('$','')

Checking the answer Id = 30546734 | Errors = ["name 'df' is not defined"]
Code to compile
columns = df.columns
columns = [row.replace("$","") for row in columns]
df.rename(columns=dict(zip(columns, things)), inplace=True)
df.head() #to validate the output

Code to compile
import pandas as pd
import cProfile, pstats, re

old_names = ['$a', '$b', '$c', '$d', '$e']
new_names = ['a', 'b', 'c', 'd', 'e']
col_dict = {'$a': 'a', '$b': 'b','$c':'c','$d':'d','$e':'e'}

df = pd.DataFrame({'$a':[1,2], '$b': [10,20],'$c':['bleep','blorp'],'$d':[1,2],'$e':['texa$','']})

df.head()

def eumiro(df,nn):
    df.columns = nn
    #This direct renaming approach is duplicated in methodology in several other answers:
    return df

def lexual1(df):
    return df.rename(columns=col_dict)

def lexual2(df,col_dict):
    return df.rename(columns=col_dict, inplace=True)

def Panda_Master_Hayden(df):
    return df.rename(columns=lambda x: x[1:], inplace=True)

def paulo1(df):
    return df.rename(columns=lambda x: x.replace('$', ''))

def paulo2(df):
    return df.rename(columns=lambda x: x.replace('$', ''), inplace=True)

def migloo(df,on,nn):
    return df.rename(columns=dict(zip(on, nn)), inplace=True)

def kadee(df):
    return df.columns.str.replace('$','')

def awo(df):
    columns = df.columns
    columns = [row.replace("$","") for row in columns]
    return df.rename(columns=dict(zip(columns, '')), inplace=True)

def kaitlyn(df):
    df.columns = [col.strip('$') for col in df.columns]
    return df

print 'eumiro'
cProfile.run('eumiro(df,new_names)')
print 'lexual1'
cProfile.run('lexual1(df)')
print 'lexual2'
cProfile.run('lexual2(df,col_dict)')
print 'andy hayden'
cProfile.run('Panda_Master_Hayden(df)')
print 'paulo1'
cProfile.run('paulo1(df)')
print 'paulo2'
cProfile.run('paulo2(df)')
print 'migloo'
cProfile.run('migloo(df,old_names,new_names)')
print 'kadee'
cProfile.run('kadee(df)')
print 'awo'
cProfile.run('awo(df)')
print 'kaitlyn'
cProfile.run('kaitlyn(df)')

Checking the answer Id = 32322596 | Errors = ["name 'df' is not defined", "Missing parentheses in call to 'print' (<unknown>, line 47)"]
Code to compile
df.columns = [col.strip('$') for col in df.columns]

Checking the answer Id = 33872824 | Errors = ["name 'df' is not defined"]
Code to compile
df.columns = ['Name1', 'Name2', 'Name3'...]

Checking the answer Id = 33986975 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.columns = df.columns.str.slice(1)

Checking the answer Id = 35068123 | Errors = ["name 'df' is not defined"]
Code to compile
df = pd.DataFrame({'$a': [1], '$b': [1], '$c': [1], '$d': [1], '$e': [1]}

Code to compile
new_cols = ['a', 'b', 'c', 'd', 'e']
df.columns = new_cols
>>> df
   a  b  c  d  e
0  1  1  1  1  1

Code to compile
d = {'$a': 'a', '$b': 'b', '$c': 'c', '$d': 'd', '$e': 'e'}
df.columns.map(lambda col: d[col])
>>> df
   a  b  c  d  e
0  1  1  1  1  1

Code to compile
df.columns = [col[1:] if col[0] == '$' else col for col in df]

Checking the answer Id = 35387028 | Errors = ['unexpected EOF while parsing (<unknown>, line 1)', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)', "name 'df' is not defined"]
Code to compile
df.columns = ['a', 'b', 'c', 'd', 'e']

Code to compile
df.columns.values[2] = 'c'    #renames the 2nd column to 'c'

Checking the answer Id = 36149967 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
import pandas as pd
import re


df = pd.DataFrame({'$a':[1,2], '$b': [3,4],'$c':[5,6], '$d': [7,8], '$e': [9,10]})

delimiters = '$'
matchPattern = '|'.join(map(re.escape, delimiters))
df.columns = [re.split(matchPattern, i)[1] for i in df.columns ]

Code to compile
>>> df
   $a  $b  $c  $d  $e
0   1   3   5   7   9
1   2   4   6   8  10

>>> df
   a  b  c  d   e
0  1  3  5  7   9
1  2  4  6  8  10

Checking the answer Id = 38776854 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.columns = ['column_one', 'column_two']
df.columns.names = ['name of the list of columns']
df.index.names = ['name of the index']

name of the list of columns     column_one  column_two
name of the index
0                                    4           1
1                                    5           2
2                                    6           3

Code to compile
    three
0       1
1       2
2       3

Code to compile
    |one            |
    |one      |two  |
0   |  4      |  1  |
1   |  5      |  2  |
2   |  6      |  3  |

Code to compile
df.columns = [['one', 'one'], ['one', 'two']]

Checking the answer Id = 39770407 | Errors = ['invalid syntax (<unknown>, line 5)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
11348183
Code to compile
In [17]: ax = x.plot(kind='bar', legend=False)

In [18]: patches, labels = ax.get_legend_handles_labels()

In [19]: ax.legend(patches, labels, loc='best')
Out[19]: <matplotlib.legend.Legend at 0x10b292ad0>

Checking the answer Id = 11384667 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
x.plot(kind="bar").legend(bbox_to_anchor=(1.2, 0.5))

Code to compile
x.plot(kind="bar").legend(*args, **kwargs)

Checking the answer Id = 28917065 | Errors = ["name 'x' is not defined", "name 'x' is not defined"]
----------------------------------------
----------------------------------------
11350770
Code to compile
def stringSearchColumn_DataFrame(df, colName, regex):
    newdf = DataFrame()
    for idx, record in df[colName].iteritems():

        if re.search(regex, record):
            newdf = concat([df[df[colName] == record], newdf], ignore_index=True)

    return newdf

Checking the answer Id = 11366706 | Errors = ['Sucess']
Code to compile
df[df['A'].str.contains("hello")]

Checking the answer Id = 11531402 | Errors = ["name 'df' is not defined"]
Code to compile
df['stridx']=df.index
df[df['stridx'].str.contains("Hello|Britain")]

Checking the answer Id = 22992568 | Errors = ["name 'df' is not defined"]
Code to compile
df[df['A'].str.contains("Hello|Britain")]

Code to compile
"cannot index with vector containing NA / NaN values"

Code to compile
df[df['A'].str.contains("Hello|Britain")==True]

Checking the answer Id = 26849064 | Errors = ["name 'df' is not defined", 'Sucess', "name 'df' is not defined"]
Code to compile
>>> df = pd.DataFrame([['hello', 'hello world'], ['abcd', 'defg']], columns=['a','b'])
>>> df
       a            b
0  hello  hello world
1   abcd         defg

Code to compile
>>> df.apply(lambda x: x['a'] in x['b'], axis=1)
0     True
1    False
dtype: bool

Checking the answer Id = 26851412 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.loc[:, df.columns.to_series().str.contains('a').tolist()]

Checking the answer Id = 40008322 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
11361985
Code to compile
print paramdata.values

Code to compile
paramdata.columns

Code to compile
paramdata.index

Checking the answer Id = 11362056 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 1)", "name 'paramdata' is not defined", "name 'paramdata' is not defined"]
Checking the answer Id = 11366429 | Errors = []
Code to compile
pandas.set_option('display.max_columns', 7)

Code to compile
pandas.set_option('display.max_columns', None)

Checking the answer Id = 13237914 | Errors = ["name 'pandas' is not defined", "name 'pandas' is not defined"]
Code to compile
import sys

paramdata.to_csv(sys.stdout)

Checking the answer Id = 16789834 | Errors = ["name 'paramdata' is not defined"]
Code to compile
print paramdata.head(100).to_string()

Checking the answer Id = 19973722 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
11391969
Code to compile
data.groupby(lambda x: data['date'][x].year)

Checking the answer Id = 11395193 | Errors = ["name 'data' is not defined"]
Code to compile
data.groupby(data['date'].map(lambda x: x.year))

Checking the answer Id = 11397052 | Errors = ["name 'data' is not defined"]
Code to compile
data.groupby(data.date.dt.year)

Checking the answer Id = 32783825 | Errors = ["name 'data' is not defined"]
----------------------------------------
----------------------------------------
11415701
Code to compile
pandas.DataFrame(initialload, columns=list_of_column_names)

Checking the answer Id = 11415882 | Errors = ["name 'pandas' is not defined"]
----------------------------------------
----------------------------------------
11418192
Code to compile
In [39]: df
Out[39]:
      mass1     mass2  velocity
0  1.461711 -0.404452  0.722502
1 -2.169377  1.131037  0.232047
2  0.009450 -0.868753  0.598470
3  0.602463  0.299249  0.474564
4 -0.675339 -0.816702  0.799289

Code to compile
In [40]: mask = (np.sin(df.velocity) / df.ix[:, 0:2].prod(axis=1)) > 0

In [41]: mask
Out[41]:
0    False
1    False
2    False
3     True
4     True

Code to compile
In [42]: df[mask]
Out[42]:
      mass1     mass2  velocity
3  0.602463  0.299249  0.474564
4 -0.675339 -0.816702  0.799289

Checking the answer Id = 11420594 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [3]: df = pandas.DataFrame(np.random.randn(5, 3), columns=['a', 'b', 'c'])

In [4]: df
Out[4]:
          a         b         c
0 -0.001968 -1.877945 -1.515674
1 -0.540628  0.793913 -0.983315
2 -1.313574  1.946410  0.826350
3  0.015763 -0.267860 -2.228350
4  0.563111  1.195459  0.343168

In [6]: df[df.apply(lambda x: x['b'] > x['c'], axis=1)]
Out[6]:
          a         b         c
1 -0.540628  0.793913 -0.983315
2 -1.313574  1.946410  0.826350
3  0.015763 -0.267860 -2.228350
4  0.563111  1.195459  0.343168

Checking the answer Id = 11475486 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
11495051
Code to compile
lm( y ~ x - 1, data)

Code to compile
lm(num_rx ~ ridageyr - 1, data=demoq)

Checking the answer Id = 11495086 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
11548005
Checking the answer Id = 11548224 | Errors = []
----------------------------------------
----------------------------------------
11587782
Code to compile
for elem in dfrm['Category'].unique():
    dfrm[str(elem)] = dfrm['Category'] == elem

Code to compile
cat_names = {1:'Some_Treatment', 2:'Full_Treatment', 3:'Control'}
for elem in dfrm['Category'].unique():
    dfrm[cat_names[elem]] = dfrm['Category'] == elem

Checking the answer Id = 11589000 | Errors = ["name 'dfrm' is not defined", "name 'dfrm' is not defined"]
Code to compile
import numpy as np
import pandas as pd
import statsmodels.api as sm

my_data = np.array([[5, 'a', 1],
                    [3, 'b', 3],
                    [1, 'b', 2],
                    [3, 'a', 1],
                    [4, 'b', 2],
                    [7, 'c', 1],
                    [7, 'c', 1]])


df = pd.DataFrame(data=my_data, columns=['y', 'dummy', 'x'])
just_dummies = pd.get_dummies(df['dummy'])

step_1 = pd.concat([df, just_dummies], axis=1)
step_1.drop(['dummy', 'c'], inplace=True, axis=1)
# to run the regression we want to get rid of the strings 'a', 'b', 'c' (obviously)
# and we want to get rid of one dummy variable to avoid the dummy variable trap
# arbitrarily chose "c", coefficients on "a" an "b" would show effect of "a" and "b"
# relative to "c"
step_1 = step_1.applymap(np.int)

result = sm.OLS(step_1['y'], sm.add_constant(step_1[['x', 'a', 'b']])).fit()
print result.summary()

Checking the answer Id = 23925229 | Errors = ['invalid syntax (<unknown>, line 26)']
Code to compile
dummies = pd.get_dummies(df['Category']).rename(columns=lambda x: 'Category_' + str(x))
df = pd.concat([df, dummies], axis=1)
df = df.drop(['Category'], inplace=True, axis=1)

Checking the answer Id = 34457902 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
11615504
Code to compile
from datetime import datetime
import pandas as pd
parse = lambda x: datetime.strptime(x, '%Y%m%d %H')
pd.read_csv("..\\file.csv",  parse_dates = [['YYYYMMDD', 'HH']],
            index_col = 0,
            date_parser=parse)

Checking the answer Id = 11617682 | Errors = ["File b'..\\\\file.csv' does not exist"]
Code to compile
format = "%Y%m%d %H"
times = pd.to_datetime(df.YYYYMMDD + ' ' + df.HH, format=format)
df.set_index(times, inplace=True)
# and maybe for cleanup
df = df.drop(['YYYYMMDD','HH'], axis=1)

Checking the answer Id = 18527067 | Errors = ["name 'pd' is not defined"]

----------------------------------------
----------------------------------------
11622652
Checking the answer Id = 11622769 | Errors = []
Code to compile
from pandas import *

tp = read_csv('large_dataset.csv', iterator=True, chunksize=1000)  # gives TextFileReader, which is iterable with chunks of 1000 rows.
df = concat(tp, ignore_index=True)  # df is DataFrame. If errors, do `list(tp)` instead of `tp`

Checking the answer Id = 12193309 | Errors = ["File b'large_dataset.csv' does not exist"]
Code to compile
import pandas as pd
import sqlite3
from pandas.io import sql
import subprocess

# In and output file paths
in_csv = '../data/my_large.csv'
out_sqlite = '../data/my.sqlite'

table_name = 'my_table' # name for the SQLite database table
chunksize = 100000 # number of lines to process at each iteration

# columns that should be read from the CSV file
columns = ['molecule_id','charge','db','drugsnow','hba','hbd','loc','nrb','smiles']

# Get number of lines in the CSV file
nlines = subprocess.check_output('wc -l %s' % in_csv, shell=True)
nlines = int(nlines.split()[0])

# connect to database
cnx = sqlite3.connect(out_sqlite)

# Iteratively read CSV and dump lines into the SQLite table
for i in range(0, nlines, chunksize):

    df = pd.read_csv(in_csv,
            header=None,  # no header, define column header manually later
            nrows=chunksize, # number of rows to read at each iteration
            skiprows=i)   # skip rows that were already read

    # columns to read
    df.columns = columns

    sql.to_sql(df,
                name=table_name,
                con=cnx,
                index=False, # don't use CSV file index
                index_label='molecule_id', # use a unique column from DataFrame as index
                if_exists='append')
cnx.close()

Checking the answer Id = 28371706 | Errors = ["Command 'wc -l ../data/my_large.csv' returned non-zero exit status 1"]
----------------------------------------
----------------------------------------
11637384
Code to compile
>>> print x
          A         B         C
0  0.155614 -0.252148  0.861163
1  0.973517  1.156465 -0.458846
2  2.504356 -0.356371 -0.737842
3  0.012994  1.785123  0.161667
4  0.574578  0.123689  0.017598
>>> print y
         A2        B2        C2
0 -0.280993  1.278750 -0.704449
1  0.140282  1.955322 -0.953826
2  0.581997 -0.239829  2.227069
3 -0.876146 -1.955199 -0.155030
4 -0.518593 -2.630978  0.333264
>>> print pandas.concat([x, y], axis=1)
          A         B         C        A2        B2        C2
0  0.155614 -0.252148  0.861163 -0.280993  1.278750 -0.704449
1  0.973517  1.156465 -0.458846  0.140282  1.955322 -0.953826
2  2.504356 -0.356371 -0.737842  0.581997 -0.239829  2.227069
3  0.012994  1.785123  0.161667 -0.876146 -1.955199 -0.155030
4  0.574578  0.123689  0.017598 -0.518593 -2.630978  0.333264

Checking the answer Id = 11637456 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [16]: left
Out[16]:
            a
2000-01-01  1
2000-01-01  1
2000-01-01  1
2000-01-02  2
2000-01-02  2
2000-01-02  2

In [17]: right
Out[17]:
            b
2000-01-01  3
2000-01-01  3
2000-01-01  3
2000-01-02  4
2000-01-02  4
2000-01-02  4

In [18]: left.join(right)
Out[18]:
            a  b
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-01  1  3
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4
2000-01-02  2  4

Checking the answer Id = 11639358 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
11640243
Code to compile
import matplotlib.pyplot as plt
import numpy as np
from pandas import DataFrame
df = DataFrame(np.random.randn(5, 3), columns=['A', 'B', 'C'])

fig, ax = plt.subplots()
ax2, ax3 = ax.twinx(), ax.twinx()
rspine = ax3.spines['right']
rspine.set_position(('axes', 1.25))
ax3.set_frame_on(True)
ax3.patch.set_visible(False)
fig.subplots_adjust(right=0.75)

df.A.plot(ax=ax, style='b-')
df.B.plot(ax=ax2, style='r-', secondary_y=True)
df.C.plot(ax=ax3, style='g-')

Checking the answer Id = 11643893 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
11697887
Code to compile
import pandas as pd
import datetime
from myapp.models import BlogPost

df = pd.DataFrame(list(BlogPost.objects.all().values()))
df = pd.DataFrame(list(BlogPost.objects.filter(date__gte=datetime.datetime(2012, 5, 1)).values()))

# limit which fields
df = pd.DataFrame(list(BlogPost.objects.all().values('author', 'date', 'slug')))

Checking the answer Id = 16271849 | Errors = ["No module named 'myapp'"]
Code to compile
class MyModel(models.Model):
    full_name = models.CharField(max_length=25)
    age = models.IntegerField()
    department = models.CharField(max_length=3)
    wage = models.FloatField()

from django_pandas.io import read_frame
qs = MyModel.objects.all()
df = read_frame(qs)

Checking the answer Id = 29990874 | Errors = ["name 'models' is not defined"]
----------------------------------------
----------------------------------------
11707586
Checking the answer Id = 11707706 | Errors = []
Code to compile
In [3]: df.describe()
Out[3]:
<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, count to max
Data columns:
x1    8  non-null values
x2    8  non-null values
x3    8  non-null values
x4    8  non-null values
x5    8  non-null values
x6    8  non-null values
x7    8  non-null values
dtypes: float64(7)

In [4]: pd.set_printoptions(precision=2)

In [5]: df.describe()
Out[5]:
            x1       x2       x3       x4       x5       x6       x7
count      8.0      8.0      8.0      8.0      8.0      8.0      8.0
mean   69024.5  69025.5  69026.5  69027.5  69028.5  69029.5  69030.5
std       17.1     17.1     17.1     17.1     17.1     17.1     17.1
min    69000.0  69001.0  69002.0  69003.0  69004.0  69005.0  69006.0
25%    69012.2  69013.2  69014.2  69015.2  69016.2  69017.2  69018.2
50%    69024.5  69025.5  69026.5  69027.5  69028.5  69029.5  69030.5
75%    69036.8  69037.8  69038.8  69039.8  69040.8  69041.8  69042.8
max    69049.0  69050.0  69051.0  69052.0  69053.0  69054.0  69055.0

Code to compile
In [3]: df.describe()
Out[3]:
                 x1            x2            x3            x4            x5  \
count      8.000000      8.000000      8.000000      8.000000      8.000000
mean   59832.361578  27356.711336  49317.281222  51214.837838  51254.839690
std    22600.723536  26867.192716  28071.737509  21012.422793  33831.515761
min    31906.695474   1648.359160     56.378115  16278.322271     43.745574
25%    45264.625201  12799.540572  41429.628749  40374.273582  29789.643875
50%    56340.214856  18666.456293  51995.661512  54894.562656  47667.684422
75%    75587.003417  31375.610322  61069.190523  67811.893435  76014.884048
max    98136.474782  84544.484627  91743.983895  75154.587156  99012.695717

                 x6            x7
count      8.000000      8.000000
mean   41863.000717  33950.235126
std    38709.468281  29075.745673
min     3590.990740   1833.464154
25%    15145.759625   6879.523949
50%    22139.243042  33706.029946
75%    72038.983496  51449.893980
max    98601.190488  83309.051963

Code to compile
In [4]: pd.set_option('display.precision', 2)

In [5]: df.describe()
Out[5]:
            x1       x2       x3       x4       x5       x6       x7
count      8.0      8.0      8.0      8.0      8.0      8.0      8.0
mean   59832.4  27356.7  49317.3  51214.8  51254.8  41863.0  33950.2
std    22600.7  26867.2  28071.7  21012.4  33831.5  38709.5  29075.7
min    31906.7   1648.4     56.4  16278.3     43.7   3591.0   1833.5
25%    45264.6  12799.5  41429.6  40374.3  29789.6  15145.8   6879.5
50%    56340.2  18666.5  51995.7  54894.6  47667.7  22139.2  33706.0
75%    75587.0  31375.6  61069.2  67811.9  76014.9  72039.0  51449.9
max    98136.5  84544.5  91744.0  75154.6  99012.7  98601.2  83309.1

Checking the answer Id = 11708664 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Code to compile

set_option(pat,value) - Sets the value of the specified option

Available options:
display.[chop_threshold, colheader_justify, column_space, date_dayfirst,
         date_yearfirst, encoding, expand_frame_repr, float_format, height,
         line_width, max_columns, max_colwidth, max_info_columns, max_info_rows,
         max_rows, max_seq_items, mpl_style, multi_sparse, notebook_repr_html,
         pprint_nest_depth, precision, width]
mode.[sim_interactive, use_inf_as_null]

Parameters
----------
pat - str/regexp which should match a single option.

Note: partial matches are supported for convenience, but unless you use the
full option name (e.g. x.y.z.option_name), your code may break in future
versions if new options with similar names are introduced.

value - new value of option.

Returns
-------
None

Raises
------
KeyError if no such option exists

display.chop_threshold: [default: None] [currently: None]
: float or None
        if set to a float value, all float values smaller then the given threshold
        will be displayed as exactly 0 by repr and friends.
display.colheader_justify: [default: right] [currently: right]
: 'left'/'right'
        Controls the justification of column headers. used by DataFrameFormatter.
display.column_space: [default: 12] [currently: 12]No description available.

display.date_dayfirst: [default: False] [currently: False]
: boolean
        When True, prints and parses dates with the day first, eg 20/01/2005
display.date_yearfirst: [default: False] [currently: False]
: boolean
        When True, prints and parses dates with the year first, eg 2005/01/20
display.encoding: [default: UTF-8] [currently: UTF-8]
: str/unicode
        Defaults to the detected encoding of the console.
        Specifies the encoding to be used for strings returned by to_string,
        these are generally strings meant to be displayed on the console.
display.expand_frame_repr: [default: True] [currently: True]
: boolean
        Whether to print out the full DataFrame repr for wide DataFrames
        across multiple lines, `max_columns` is still respected, but the output will
        wrap-around across multiple "pages" if it's width exceeds `display.width`.
display.float_format: [default: None] [currently: None]
: callable
        The callable should accept a floating point number and return
        a string with the desired format of the number. This is used
        in some places like SeriesFormatter.
        See core.format.EngFormatter for an example.
display.height: [default: 60] [currently: 1000]
: int
        Deprecated.
        (Deprecated, use `display.height` instead.)

display.line_width: [default: 80] [currently: 1000]
: int
        Deprecated.
        (Deprecated, use `display.width` instead.)

display.max_columns: [default: 20] [currently: 500]
: int
        max_rows and max_columns are used in __repr__() methods to decide if
        to_string() or info() is used to render an object to a string.  In case
        python/IPython is running in a terminal this can be set to 0 and pandas
        will correctly auto-detect the width the terminal and swap to a smaller
        format in case all columns would not fit vertically. The IPython notebook,
        IPython qtconsole, or IDLE do not run in a terminal and hence it is not
        possible to do correct auto-detection.
        'None' value means unlimited.
display.max_colwidth: [default: 50] [currently: 50]
: int
        The maximum width in characters of a column in the repr of
        a pandas data structure. When the column overflows, a "..."
        placeholder is embedded in the output.
display.max_info_columns: [default: 100] [currently: 100]
: int
        max_info_columns is used in DataFrame.info method to decide if
        per column information will be printed.
display.max_info_rows: [default: 1690785] [currently: 1690785]
: int or None
        max_info_rows is the maximum number of rows for which a frame will
        perform a null check on its columns when repr'ing To a console.
        The default is 1,000,000 rows. So, if a DataFrame has more
        1,000,000 rows there will be no null check performed on the
        columns and thus the representation will take much less time to
        display in an interactive session. A value of None means always
        perform a null check when repr'ing.
display.max_rows: [default: 60] [currently: 500]
: int
        This sets the maximum number of rows pandas should output when printing
        out various output. For example, this value determines whether the repr()
        for a dataframe prints out fully or just a summary repr.
        'None' value means unlimited.
display.max_seq_items: [default: None] [currently: None]
: int or None

        when pretty-printing a long sequence, no more then `max_seq_items`
        will be printed. If items are ommitted, they will be denoted by the addition
        of "..." to the resulting string.

        If set to None, the number of items to be printed is unlimited.
display.mpl_style: [default: None] [currently: None]
: bool

        Setting this to 'default' will modify the rcParams used by matplotlib
        to give plots a more pleasing visual style by default.
        Setting this to None/False restores the values to their initial value.
display.multi_sparse: [default: True] [currently: True]
: boolean
        "sparsify" MultiIndex display (don't display repeated
        elements in outer levels within groups)
display.notebook_repr_html: [default: True] [currently: True]
: boolean
        When True, IPython notebook will use html representation for
        pandas objects (if it is available).
display.pprint_nest_depth: [default: 3] [currently: 3]
: int
        Controls the number of nested levels to process when pretty-printing
display.precision: [default: 7] [currently: 7]
: int
        Floating point output precision (number of significant digits). This is
        only a suggestion
display.width: [default: 80] [currently: 1000]
: int
        Width of the display in characters. In case python/IPython is running in
        a terminal this can be set to None and pandas will correctly auto-detect the
        width.
        Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
        terminal and hence it is not possible to correctly detect the width.
mode.sim_interactive: [default: False] [currently: False]
: boolean
        Whether to simulate interactive mode for purposes of testing
mode.use_inf_as_null: [default: False] [currently: False]
: boolean
        True means treat None, NaN, INF, -INF as null (old way),
        False means None and NaN are null, but INF, -INF are not null
        (new way).
Call def:   pd.set_option(self, *args, **kwds)

Checking the answer Id = 11711637 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 2)']
Code to compile
pd.set_option('display.expand_frame_repr', False)

Checking the answer Id = 25415404 | Errors = ["name 'pd' is not defined"]
Code to compile
pd.set_option('display.width', pd.util.terminal.get_terminal_size()[0])

Checking the answer Id = 29074073 | Errors = ["name 'pd' is not defined"]
Code to compile
with pd.option_context('display.max_rows', 999, 'display.max_columns', 5):
    print df

Checking the answer Id = 33375383 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
Code to compile
pd.set_option('max_colwidth', 800)

Checking the answer Id = 33798922 | Errors = ["name 'pd' is not defined"]
Code to compile
pd.set_option('display.large_repr', 'truncate')
pd.set_option('display.max_columns', 0)

Checking the answer Id = 36373866 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
11707805
Checking the answer Id = 11708610 | Errors = []
----------------------------------------
----------------------------------------
11714768
Code to compile
In [449]: import pandas.io.data as web

In [450]: nab = web.get_data_yahoo('NAB.AX', start='2009-05-25',
                                   end='2009-06-05')[['Close', 'Volume']]

In [451]: cba = web.get_data_yahoo('CBA.AX', start='2009-05-26',
                                   end='2009-06-08')[['Close', 'Volume']]

In [453]: nab
Out[453]:
            Close    Volume
Date
2009-05-25  21.15   9685100
2009-05-26  21.64   8541900
2009-05-27  21.74   9042900
2009-05-28  21.63   9701000
2009-05-29  22.02  14665700
2009-06-01  22.52   6782000
2009-06-02  22.80  10473400
2009-06-03  23.11   9931400
2009-06-04  22.21  17869000
2009-06-05  21.95   8214300

In [454]: cba
Out[454]:
            Close    Volume
Date
2009-05-26  35.45   4529600
2009-05-27  35.13   4521500
2009-05-28  33.95   7945400
2009-05-29  35.14  12548500
2009-06-01  36.16   4509400
2009-06-02  36.33   4304900
2009-06-03  36.80   4845400
2009-06-04  36.79   4592300
2009-06-05  36.51   4417500
2009-06-08  36.51         0

Code to compile
In [455]: keys = ['CBA.AX','NAB.AX']

In [456]: pd.concat([cba, nab], axis=1, keys=keys)
Out[456]:
            CBA.AX            NAB.AX
             Close    Volume   Close    Volume
Date
2009-05-25     NaN       NaN   21.15   9685100
2009-05-26   35.45   4529600   21.64   8541900
2009-05-27   35.13   4521500   21.74   9042900
2009-05-28   33.95   7945400   21.63   9701000
2009-05-29   35.14  12548500   22.02  14665700
2009-06-01   36.16   4509400   22.52   6782000
2009-06-02   36.33   4304900   22.80  10473400
2009-06-03   36.80   4845400   23.11   9931400
2009-06-04   36.79   4592300   22.21  17869000
2009-06-05   36.51   4417500   21.95   8214300
2009-06-08   36.51         0     NaN       NaN

Checking the answer Id = 13593882 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
11728836
Code to compile
import pandas as pd
import para_group_demo

df = pd.DataFrame({'a': [1, 2, 1, 2, 1, 1, 0], 'b': range(7)})
print para_group_demo.sum(df.a, df.b)

Code to compile
     sum
key
0      6
1      11
2      4

Code to compile
from libc.stdint cimport int64_t, uint64_t
from libcpp.vector cimport vector
from libcpp.unordered_map cimport unordered_map

cimport cython
from cython.operator cimport dereference as deref, preincrement as inc
from cython.parallel import prange

import pandas as pd

ctypedef unordered_map[int64_t, uint64_t] counts_t
ctypedef unordered_map[int64_t, uint64_t].iterator counts_it_t
ctypedef vector[counts_t] counts_vec_t

Code to compile
def sum(crit, vals):
    cdef int64_t[:] crit_view = crit.values
    cdef int64_t[:] vals_view = vals.values

Code to compile
    cdef uint64_t num_threads = 4
    cdef uint64_t l = len(crit)
    cdef uint64_t s = l / num_threads + 1
    cdef uint64_t i, j, e
    cdef counts_vec_t counts
    counts = counts_vec_t(num_threads)
    counts.resize(num_threads)
    with cython.boundscheck(False):
        for i in prange(num_threads, nogil=True):
            j = i * s
            e = j + s
            if e > l:
                e = l
            while j < e:
                counts[i][crit_view[j]] += vals_view[j]
                inc(j)

Code to compile
    cdef counts_t total
    cdef counts_it_t it, e_it
    for i in range(num_threads):
        it = counts[i].begin()
        e_it = counts[i].end()
        while it != e_it:
            total[deref(it).first] += deref(it).second
            inc(it)

Code to compile
    key, sum_ = [], []
    it = total.begin()
    e_it = total.end()
    while it != e_it:

Code to compile
df2 = df.head(10)

Checking the answer Id = 12022003 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 12025395 | Errors = []
Checking the answer Id = 12342180 | Errors = []
----------------------------------------
----------------------------------------
12047193
Code to compile
import decimal

import pydobc
import numpy as np
import pandas

cnn, cur = myConnectToDBfunction()
cmd = "SELECT * FROM myTable"
cur.execute(cmd)
dataframe = __processCursor(cur, dataframe=True)

def __processCursor(cur, dataframe=False, index=None):
    '''
    Processes a database cursor with data on it into either
    a structured numpy array or a pandas dataframe.

    input:
    cur - a pyodbc cursor that has just received data
    dataframe - bool. if false, a numpy record array is returned
                if true, return a pandas dataframe
    index - list of column(s) to use as index in a pandas dataframe
    '''
    datatypes = []
    colinfo = cur.description
    for col in colinfo:
        if col[1] == unicode:
            datatypes.append((col[0], 'U%d' % col[3]))
        elif col[1] == str:
            datatypes.append((col[0], 'S%d' % col[3]))
        elif col[1] in [float, decimal.Decimal]:
            datatypes.append((col[0], 'f4'))
        elif col[1] == datetime.datetime:
            datatypes.append((col[0], 'O4'))
        elif col[1] == int:
            datatypes.append((col[0], 'i4'))

    data = []
    for row in cur:
        data.append(tuple(row))

    array = np.array(data, dtype=datatypes)
    if dataframe:
        output = pandas.DataFrame.from_records(array)

        if index is not None:
            output = output.set_index(index)

    else:
        output = array

    return output

Checking the answer Id = 12056933 | Errors = ["No module named 'pydobc'"]
Code to compile
from pandas import DataFrame
df = DataFrame(resoverall.fetchall())
df.columns = resoverall.keys()

Checking the answer Id = 12060886 | Errors = ["name 'resoverall' is not defined"]
Code to compile
import pandas as pd

df = pd.read_sql(sql, cnxn)

Code to compile
import pyodbc
import pandas.io.sql as psql

cnxn = pyodbc.connect(connection_info)
cursor = cnxn.cursor()
sql = "SELECT * FROM TABLE"

df = psql.frame_query(sql, cnxn)
cnxn.close()

Checking the answer Id = 14487936 | Errors = ["name 'sql' is not defined", "No module named 'pyodbc'"]
Code to compile
data_records = [rec.__dict__ for rec in query.all()]
df = pandas.DataFrame.from_records(data_records)

Checking the answer Id = 19031661 | Errors = ["name 'query' is not defined"]
----------------------------------------
----------------------------------------
12052067
Checking the answer Id = 12077782 | Errors = []
Checking the answer Id = 12184679 | Errors = []
----------------------------------------
----------------------------------------
12065885
Checking the answer Id = 12065904 | Errors = []
Code to compile
b = df[(df['a'] > 1) & (df['a'] < 5)]

Checking the answer Id = 19295726 | Errors = ["name 'df' is not defined"]
Code to compile
>>> rpt[rpt['STK_ID'].str.contains(r'^600[0-9]{3}$')] # ^ means start of string
...   STK_ID   ...                                    # [0-9]{3} means any three digits
...  '600809'  ...                                    # $ means end of string
...  '600141'  ...
...  '600329'  ...
...      ...   ...

Code to compile
endstrings = ['01$', '02$', '05$']

Code to compile
>>> rpt[rpt['STK_ID'].str.contains('|'.join(endstrings)]
...   STK_ID   ...
...  '155905'  ...
...  '633101'  ...
...  '210302'  ...
...      ...   ...

Code to compile
str.contains('pandas', case=False)

Checking the answer Id = 26724725 | Errors = ['invalid syntax (<unknown>, line 1)', 'Sucess', 'invalid syntax (<unknown>, line 1)', "type object 'str' has no attribute 'contains'"]
Code to compile
rpt.query('STK_ID in (600809,600141,600329)')

Code to compile
rpt.query('60000 < STK_ID < 70000')

Checking the answer Id = 29108799 | Errors = ["name 'rpt' is not defined", "name 'rpt' is not defined"]
----------------------------------------
----------------------------------------
12096252
Code to compile
In [5]: df = DataFrame({'A' : [5,6,3,4], 'B' : [1,2,3, 5]})

In [6]: df
Out[6]:
   A  B
0  5  1
1  6  2
2  3  3
3  4  5

In [7]: df[df['A'].isin([3, 6])]
Out[7]:
   A  B
1  6  2
2  3  3

Checking the answer Id = 12098586 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12100497
Code to compile
In [79]: M
Out[79]:
        one       two     three      four
a -0.277981  1.500188 -0.876751 -0.389292
b -0.705835  0.108890 -1.502786 -0.302773
c  0.880042 -0.056620 -0.550164 -0.409458
d  0.704202  0.619031  0.274018 -1.755726

In [75]: M.ix[0]
Out[75]:
one     -0.277981
two      1.500188
three   -0.876751
four    -0.389292
Name: a

In [78]: M.ix[0,0]
Out[78]: -0.27798082190723405

In [81]: M.ix[0,0] = 1.0

In [82]: M
Out[82]:
        one       two     three      four
a  1.000000  1.500188 -0.876751 -0.389292
b -0.705835  0.108890 -1.502786 -0.302773
c  0.880042 -0.056620 -0.550164 -0.409458
d  0.704202  0.619031  0.274018 -1.755726

In [84]: M.ix[(0,1),(0,1)] = 1

In [85]: M
Out[85]:
        one       two     three      four
a  1.000000  1.000000 -0.876751 -0.389292
b  1.000000  1.000000 -1.502786 -0.302773
c  0.880042 -0.056620 -0.550164 -0.409458
d  0.704202  0.619031  0.274018 -1.755726

Code to compile
In [98]: M.ix["a":"c","one"] = 2.0

In [99]: M
Out[99]:
        one       two     three      four
a  2.000000  1.000000 -0.876751 -0.389292
b  2.000000  1.000000 -1.502786 -0.302773
c  2.000000 -0.056620 -0.550164 -0.409458
d  0.704202  0.619031  0.274018 -1.755726

Checking the answer Id = 12100543 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
M.iloc[index][col]

Code to compile
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Code to compile
M.set_value(index,column,new_value)

Checking the answer Id = 28202781 | Errors = ["name 'M' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'M' is not defined"]
----------------------------------------
----------------------------------------
12101113
Code to compile
# what you described:
In [15]: import numpy as np
In [16]: import pandas
In [17]: x = pandas.read_csv('weird.csv')

In [19]: x.dtypes
Out[19]:
int_field            int64
floatlike_field    float64  # what you don't want?
str_field           object

In [20]: datatypes = [('int_field','i4'),('floatlike','S10'),('strfield','S10')]

In [21]: y_np = np.loadtxt('weird.csv', dtype=datatypes, delimiter=',', skiprows=1)

In [22]: y_np
Out[22]:
array([(1, '2.31', 'one'), (2, '3.12', 'two'), (3, '1.32', 'three ')],
      dtype=[('int_field', '<i4'), ('floatlike', '|S10'), ('strfield', '|S10')])

In [23]: y_pandas = pandas.DataFrame.from_records(y_np)

In [25]: y_pandas.dtypes
Out[25]:
int_field     int64
floatlike    object  # better?
strfield     object

Checking the answer Id = 12117333 | Errors = ['invalid syntax (<unknown>, line 2)']
Checking the answer Id = 12992260 | Errors = []
----------------------------------------
----------------------------------------
12133075
Checking the answer Id = 12133235 | Errors = []
----------------------------------------
----------------------------------------
12152716
Code to compile
In [25]: df = DataFrame({1: [2,3,4], 2: [3,4,5]})

In [26]: df
Out[26]:
   1  2
0  2  3
1  3  4
2  4  5

In [27]: df[2]
Out[27]:
0    3
1    4
2    5
Name: 2

In [28]: df[2].replace(4, 17)
Out[28]:
0     3
1    17
2     5
Name: 2

In [29]: df[2].replace(4, 17, inplace=True)
Out[29]:
0     3
1    17
2     5
Name: 2

In [30]: df
Out[30]:
   1   2
0  2   3
1  3  17
2  4   5

Code to compile
In [47]: df[1]
Out[47]:
0    2
1    3
2    4
Name: 1

In [48]: df[1] == 4
Out[48]:
0    False
1    False
2     True
Name: 1

In [49]: df[1][df[1] == 4]
Out[49]:
2    4
Name: 1

In [50]: df[1][df[1] == 4] = 19

In [51]: df
Out[51]:
    1   2
0   2   3
1   3  17
2  19   5

Checking the answer Id = 12152759 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12168648
Code to compile
df['new_col'] = range(1, len(df) + 1)

Code to compile
df = df.reset_index()

Checking the answer Id = 12170403 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
df['index_col'] = df.index

Checking the answer Id = 19349005 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
12169170
Code to compile
>>> import pandas as pd
>>> df = pd.DataFrame({"A": [1,2,3], "B": [-2, 8, 1]})
>>> df
   A  B
0  1 -2
1  2  8
2  3  1
>>> df[["A", "B"]]
   A  B
0  1 -2
1  2  8
2  3  1
>>> df[["A", "B"]].max(axis=1)
0    1
1    8
2    3

Code to compile
>>> df["C"] = df[["A", "B"]].max(axis=1)
>>> df
   A  B  C
0  1 -2  1
1  2  8  8
2  3  1  3

Code to compile
>>> df["C"] = df.max(axis=1)

Checking the answer Id = 12169357 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12182744
Code to compile
>>> import functools
>>> import operator
>>> add_3 = functools.partial(operator.add,3)
>>> add_3(2)
5
>>> add_3(7)
10

Code to compile
my_series.apply((lambda x: your_func(a,b,c,d,...,x)))

Code to compile
my_series.apply(your_function, args=(2,3,4), extra_kw=1)

Checking the answer Id = 12183507 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'my_series' is not defined", "name 'my_series' is not defined"]
Code to compile
Series.apply(func, convert_dtype=True, args=(), **kwds)

args : tuple

x = my_series.apply(my_function, args = (arg1,))

Checking the answer Id = 26918510 | Errors = ['invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
12190874
Code to compile
In [117]: import pandas

In [118]: import random

In [119]: df = pandas.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))

In [120]: rows = random.sample(df.index, 10)

In [121]: df_10 = df.ix[rows]

In [122]: df_90 = df.drop(rows)

Checking the answer Id = 12192021 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
rows = np.random.choice(df.index.values, 10)
sampled_df = df.ix[rows]

Checking the answer Id = 17171819 | Errors = ["name 'np' is not defined"]
Checking the answer Id = 30858753 | Errors = []
Checking the answer Id = 30971633 | Errors = []
Code to compile
sample_dataframe = your_dataframe.sample(n=how_many_rows_you_want)

Checking the answer Id = 33768634 | Errors = ["name 'your_dataframe' is not defined"]
----------------------------------------
----------------------------------------
12200693
Code to compile
In [97]: df = pandas.DataFrame({'month': np.random.randint(0,11, 100), 'A': np.random.randn(100), 'B': np.random.randn(100)})

In [98]: df.join(df.groupby('month')['A'].sum(), on='month', rsuffix='_r')
Out[98]:
           A         B  month       A_r
0  -0.040710  0.182269      0 -0.331816
1  -0.004867  0.642243      1  2.448232
2  -0.162191  0.442338      4  2.045909
3  -0.979875  1.367018      5 -2.736399
4  -1.126198  0.338946      5 -2.736399
5  -0.992209 -1.343258      1  2.448232
6  -1.450310  0.021290      0 -0.331816
7  -0.675345 -1.359915      9  2.722156

Checking the answer Id = 12201723 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [236]: df
Out[236]:
  yearmonth    return
0    201202  0.922132
1    201202  0.220270
2    201202  0.228856
3    201203  0.277170
4    201203  0.747347

In [237]: def add_mkt_return(grp):
   .....:     grp['mkt_return'] = grp['return'].sum()
   .....:     return grp
   .....:

In [238]: df.groupby('yearmonth').apply(add_mkt_return)
Out[238]:
  yearmonth    return  mkt_return
0    201202  0.922132    1.371258
1    201202  0.220270    1.371258
2    201202  0.228856    1.371258
3    201203  0.277170    1.024516
4    201203  0.747347    1.024516

Checking the answer Id = 12332974 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 12335016 | Errors = []
----------------------------------------
----------------------------------------
12203901
Code to compile
import pandas
A = pandas.DataFrame({
    'val' :  ['aaaaa', 'acaca', 'ddddd', 'zzzzz'],
    'extra' : range(10,14),
})
A = A.reset_index(drop=True)
A = A.reset_index(drop=True)
A = A.reset_index(drop=True)

Checking the answer Id = 12204428 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
12207326
Code to compile
>>> import pandas
>>> my_series = pandas.Series([1,2,2,3,3,3, "fred", 1.8, 1.8])
>>> my_series
0       1
1       2
2       2
3       3
4       3
5       3
6    fred
7     1.8
8     1.8
>>> counts = my_series.value_counts()
>>> counts
3       3
2       2
1.8     2
fred    1
1       1
>>> len(counts)
5
>>> sum(counts)
9
>>> counts["fred"]
1
>>> dict(counts)
{1.8: 2, 2: 2, 3: 3, 1: 1, 'fred': 1}

Checking the answer Id = 12207352 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
[my_series[c].value_counts() for c in list(my_series.select_dtypes(include=['O']).columns)]

Code to compile
my_series.select_dtypes(include=['O'])

Code to compile
list(my_series.select_dtypes(include=['O']).columns)

Code to compile
[my_series[c].value_counts() for c in list(my_series.select_dtypes(include=['O']).columns)]

Checking the answer Id = 28192263 | Errors = ["name 'my_series' is not defined", "name 'my_series' is not defined", "name 'my_series' is not defined", "name 'my_series' is not defined"]
----------------------------------------
----------------------------------------
12250024
Code to compile
import xlrd
xls = xlrd.open_workbook(r'<path_to_your_excel_file>', on_demand=True)
print xls.sheet_names() # <- remeber: xlrd sheet_names is a function, not a property

Checking the answer Id = 12250416 | Errors = ['invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
12278347
Checking the answer Id = 14407329 | Errors = []
----------------------------------------
----------------------------------------
12286607
Code to compile
import numpy as np
from pandas import DataFrame
import matplotlib.pyplot as plt

Index= ['aaa', 'bbb', 'ccc', 'ddd', 'eee']
Cols = ['A', 'B', 'C', 'D']
df = DataFrame(abs(np.random.randn(5, 4)), index=Index, columns=Cols)

plt.pcolor(df)
plt.yticks(np.arange(0.5, len(df.index), 1), df.index)
plt.xticks(np.arange(0.5, len(df.columns), 1), df.columns)
plt.show()

Checking the answer Id = 12286958 | Errors = ["No module named 'matplotlib'"]
Code to compile
import numpy as np
from pandas import DataFrame
import seaborn as sns
%matplotlib

Index= ['aaa', 'bbb', 'ccc', 'ddd', 'eee']
Cols = ['A', 'B', 'C', 'D']
df = DataFrame(abs(np.random.randn(5, 4)), index=Index, columns=Cols)

sns.heatmap(df)

Checking the answer Id = 29528483 | Errors = ['invalid syntax (<unknown>, line 4)']
----------------------------------------
----------------------------------------
12307099
Code to compile
df.ix[df.A==0, 'B'] = np.nan

Code to compile
df.ix[df.A==0, 'B'] = df.ix[df.A==0, 'B'] / 2

Checking the answer Id = 12307162 | Errors = ["name 'np' is not defined", "name 'df' is not defined"]
Code to compile
df.ix[selection criteria, columns I want] = value

Checking the answer Id = 12607018 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> import pandas as pd
>>> import numpy as np
>>> df = pd.DataFrame({"A":[0,1,0], "B":[2,0,5]}, columns=list('AB'))
>>> df.loc[df.A == 0, 'B'] = np.nan
>>> df
   A   B
0  0 NaN
1  1   0
2  0 NaN
>>>

Checking the answer Id = 44913631 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12322289
Code to compile
df1.apply(lambda x: x.asof(df2.index))

Checking the answer Id = 12326113 | Errors = ["name 'df1' is not defined"]
Code to compile
In [27]: quotes
Out[27]:
                        time    bid    ask  bsize  asize
0 2012-09-06 09:30:00.026000  13.34  13.44      3     16
1 2012-09-06 09:30:00.043000  13.34  13.44      3     17
2 2012-09-06 09:30:00.121000  13.36  13.65      1     10
3 2012-09-06 09:30:00.386000  13.36  13.52     21      1
4 2012-09-06 09:30:00.440000  13.40  13.44     15     17

In [28]: trades
Out[28]:
                        time  price   size
0 2012-09-06 09:30:00.439000  13.42  60511
1 2012-09-06 09:30:00.439000  13.42  60511
2 2012-09-06 09:30:02.332000  13.42    100
3 2012-09-06 09:30:02.332000  13.42    100
4 2012-09-06 09:30:02.333000  13.41    100

In [29]: ordered_merge(quotes, trades)
Out[29]:
                        time    bid    ask  bsize  asize  price   size
0 2012-09-06 09:30:00.026000  13.34  13.44      3     16    NaN    NaN
1 2012-09-06 09:30:00.043000  13.34  13.44      3     17    NaN    NaN
2 2012-09-06 09:30:00.121000  13.36  13.65      1     10    NaN    NaN
3 2012-09-06 09:30:00.386000  13.36  13.52     21      1    NaN    NaN
4 2012-09-06 09:30:00.439000    NaN    NaN    NaN    NaN  13.42  60511
5 2012-09-06 09:30:00.439000    NaN    NaN    NaN    NaN  13.42  60511
6 2012-09-06 09:30:00.440000  13.40  13.44     15     17    NaN    NaN
7 2012-09-06 09:30:02.332000    NaN    NaN    NaN    NaN  13.42    100
8 2012-09-06 09:30:02.332000    NaN    NaN    NaN    NaN  13.42    100
9 2012-09-06 09:30:02.333000    NaN    NaN    NaN    NaN  13.41    100

In [32]: ordered_merge(quotes, trades, fill_method='ffill')
Out[32]:
                        time    bid    ask  bsize  asize  price   size
0 2012-09-06 09:30:00.026000  13.34  13.44      3     16    NaN    NaN
1 2012-09-06 09:30:00.043000  13.34  13.44      3     17    NaN    NaN
2 2012-09-06 09:30:00.121000  13.36  13.65      1     10    NaN    NaN
3 2012-09-06 09:30:00.386000  13.36  13.52     21      1    NaN    NaN
4 2012-09-06 09:30:00.439000  13.36  13.52     21      1  13.42  60511
5 2012-09-06 09:30:00.439000  13.36  13.52     21      1  13.42  60511
6 2012-09-06 09:30:00.440000  13.40  13.44     15     17  13.42  60511
7 2012-09-06 09:30:02.332000  13.40  13.44     15     17  13.42    100
8 2012-09-06 09:30:02.332000  13.40  13.44     15     17  13.42    100
9 2012-09-06 09:30:02.333000  13.40  13.44     15     17  13.41    100

Checking the answer Id = 12336039 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12322779
Code to compile
df = pandas.DataFrame({'b':[2,2,4,5], 'c': [3,3,0,9]}, index=[1,1,3,7])
df_unique = df.groupby(level=0).first()

df
   b  c
1  2  3
1  2  3
3  4  0
7  5  9

df_unique
   b  c
1  2  3
3  4  0
7  5  9

Checking the answer Id = 12322877 | Errors = ['unexpected indent (<unknown>, line 5)']
Code to compile
In [29]: df.drop_duplicates()
Out[29]:
   b  c
1  2  3
3  4  0
7  5  9

Checking the answer Id = 12323599 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12329853
Code to compile
# reorder columns
def set_column_sequence(dataframe, seq, front=True):
    '''Takes a dataframe and a subsequence of its columns,
       returns dataframe with seq as first columns if "front" is True,
       and seq as last columns if "front" is False.
    '''
    cols = seq[:] # copy so we don't mutate seq
    for x in dataframe.columns:
        if x not in cols:
            if front: #we want "seq" to be in the front
                #so append current column to the end of the list
                cols.append(x)
            else:
                #we want "seq" to be last, so insert this
                #column in the front of the new column list
                #"cols" we are building:
                cols.insert(0, x)
return dataframe[cols]

Checking the answer Id = 12329993 | Errors = ["'return' outside function (<ast>, line 18)"]
Code to compile
df = df[['x', 'y', 'a', 'b']]

Code to compile
cols = list(df.columns.values)

Code to compile
['a', 'b', 'x', 'y']

Checking the answer Id = 23741704 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'Sucess']
----------------------------------------
----------------------------------------
12356501
Code to compile
In [1]: from pandas import *

In [2]: def calculate(x):
   ...:     return x*2, x*3
   ...:

In [3]: df = DataFrame({'a': [1,2,3], 'b': [2,3,4]})

In [4]: df
Out[4]:
   a  b
0  1  2
1  2  3
2  3  4

In [5]: df["A1"], df["A2"] = zip(*df["a"].map(calculate))

In [6]: df
Out[6]:
   a  b  A1  A2
0  1  2   2   3
1  2  3   4   6
2  3  4   6   9

Checking the answer Id = 12356541 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12358360
Code to compile
In [29]: new_columns = df.columns[df.ix[df.last_valid_index()].argsort()]

In [30]: df[new_columns]
Out[30]:
        aaa       ppp       fff       ddd
0  0.328281  0.375458  1.188905  0.503059
1  0.305457  0.186163  0.077681 -0.543215
2  0.684265  0.681724  0.210636 -0.532685
3 -1.134292  1.832272  0.067946  0.250131
4 -0.834393  0.010211  0.649963 -0.551448
5 -1.032405 -0.749949  0.442398  1.274599

Code to compile
In [24]: df = pd.DataFrame(np.random.randn(6, 4), columns=['ddd', 'fff', 'aaa', 'ppp'])

In [25]: df
Out[25]:
        ddd       fff       aaa       ppp
0  0.503059  1.188905  0.328281  0.375458
1 -0.543215  0.077681  0.305457  0.186163
2 -0.532685  0.210636  0.684265  0.681724
3  0.250131  0.067946 -1.134292  1.832272
4 -0.551448  0.649963 -0.834393  0.010211
5  1.274599  0.442398 -1.032405 -0.749949

Code to compile
In [26]: last_row = df.ix[df.last_valid_index()]

Code to compile
In [27]: last_row.argsort()
Out[27]:
ddd    2
fff    3
aaa    1
ppp    0
Name: 5, Dtype: int32

Code to compile
In [28]: df[last_row.argsort()]
Out[28]:
        aaa       ppp       fff       ddd
0  0.328281  0.375458  1.188905  0.503059
1  0.305457  0.186163  0.077681 -0.543215
2  0.684265  0.681724  0.210636 -0.532685
3 -1.134292  1.832272  0.067946  0.250131
4 -0.834393  0.010211  0.649963 -0.551448
5 -1.032405 -0.749949  0.442398  1.274599

Checking the answer Id = 12358601 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12376863
Code to compile
def is_hammer(rOpen,rLow,rClose,rHigh):
    return lower_wick_at_least_twice_real_body(rOpen,rLow,rClose) \
       and closed_in_top_half_of_range(rHigh,rLow,rClose)

Code to compile
df["isHammer"] = map(is_hammer, df["Open"], df["Low"], df["Close"], df["High"])

Checking the answer Id = 12377080 | Errors = ['Sucess', "name 'is_hammer' is not defined"]
Code to compile
>>> d
    A   B  C
0  11  13  5
1   6   7  4
2   8   3  6
3   4   8  7
4   0   1  7
>>> (d.A + d.B) / d.C
0    4.800000
1    3.250000
2    1.833333
3    1.714286
4    0.142857
>>> d.A > d.C
0     True
1     True
2     True
3    False
4    False

Code to compile
>>> d.apply(lambda row: min([row['A'], row['B']])-row['C'], axis=1)
0    6
1    2
2   -3
3   -3
4   -7

Code to compile
d['A'][:-1] < d['C'][1:]

Code to compile
d['A'][1:] < d['C'][:-1]

Checking the answer Id = 12377083 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'd' is not defined", "name 'd' is not defined"]
----------------------------------------
----------------------------------------
12389898
Code to compile
In [82]: df
Out[82]:
   X         Y
0  0 -0.631214
1  0  0.783142
2  0  0.526045
3  1 -1.750058
4  1  1.163868
5  1  1.625538
6  1  0.076105
7  2  0.183492
8  2  0.541400
9  2 -0.672809

In [83]: def func(x):
   ....:     x['NewCol'] = np.nan
   ....:     return x
   ....:

In [84]: df.groupby('X').apply(func)
Out[84]:
   X         Y  NewCol
0  0 -0.631214     NaN
1  0  0.783142     NaN
2  0  0.526045     NaN
3  1 -1.750058     NaN
4  1  1.163868     NaN
5  1  1.625538     NaN
6  1  0.076105     NaN
7  2  0.183492     NaN
8  2  0.541400     NaN
9  2 -0.672809     NaN

Checking the answer Id = 12394122 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12406162
Code to compile
test["x"][5:10].plot()

Checking the answer Id = 12407691 | Errors = ["name 'test' is not defined"]
Code to compile
In [157]: plot(test['x'][5:10].values)
Out[157]: [<matplotlib.lines.Line2D at 0xc38348c>]

In [158]: plot(test['x'][5:10].reset_index(drop=True))
Out[158]: [<matplotlib.lines.Line2D at 0xc37e3cc>]

Code to compile
In [161]: test[5:10].set_index('x')['y'].plot()
Out[161]: <matplotlib.axes.AxesSubplot at 0xc48b1cc>

Checking the answer Id = 12449785 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12433076
Code to compile
import urllib

base_url = "http://ichart.finance.yahoo.com/table.csv?s="
def make_url(ticker_symbol):
    return base_url + ticker_symbol

output_path = "C:/path/to/output/directory"
def make_filename(ticker_symbol, directory="S&P"):
    return output_path + "/" + directory + "/" + ticker_symbol + ".csv"

def pull_historical_data(ticker_symbol, directory="S&P"):
    try:
        urllib.urlretrieve(make_url(ticker_symbol), make_filename(ticker_symbol, directory))
    except urllib.ContentTooShortError as e:
        outfile = open(make_filename(ticker_symbol, directory), "w")
        outfile.write(e.content)
        outfile.close()

Checking the answer Id = 12433236 | Errors = ['Sucess']
Code to compile
from pandas.io.data import DataReader
from datetime import datetime

ibm = DataReader('IBM',  'yahoo', datetime(2000, 1, 1), datetime(2012, 1, 1))
print(ibm['Adj Close'])

Code to compile
pip install pandas-datareader

Code to compile
import pandas_datareader as pdr
from datetime import datetime

ibm = pdr.get_data_yahoo(symbols='IBM', start=datetime(2000, 1, 1), end=datetime(2012, 1, 1))
print(ibm['Adj Close'])

Checking the answer Id = 12510334 | Errors = ['The pandas.io.data module is moved to a separate package (pandas-datareader). After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.', 'invalid syntax (<unknown>, line 1)', "No module named 'pandas_datareader'"]
Code to compile
In [12]: from pandas_datareader import data

Code to compile
#In [13]: aapl = data.DataReader('AAPL', 'yahoo', '1980-01-01')

# yahoo api is inconsistent for getting historical data, please use google instead.
In [13]: aapl = data.DataReader('AAPL', 'google', '1980-01-01')

Code to compile
In [14]: aapl.head()
Out[14]:
                 Open       High     Low   Close     Volume  Adj Close
Date
1980-12-12  28.750000  28.875000  28.750  28.750  117258400   0.431358
1980-12-15  27.375001  27.375001  27.250  27.250   43971200   0.408852
1980-12-16  25.375000  25.375000  25.250  25.250   26432000   0.378845
1980-12-17  25.875000  25.999999  25.875  25.875   21610400   0.388222
1980-12-18  26.625000  26.750000  26.625  26.625   18362400   0.399475

Code to compile
In [15]: aapl.tail()
Out[15]:
                 Open       High        Low      Close    Volume  Adj Close
Date
2016-06-07  99.250000  99.870003  98.959999  99.029999  22366400  99.029999
2016-06-08  99.019997  99.559998  98.680000  98.940002  20812700  98.940002
2016-06-09  98.500000  99.989998  98.459999  99.650002  26419600  99.650002
2016-06-10  98.529999  99.349998  98.480003  98.830002  31462100  98.830002
2016-06-13  98.690002  99.120003  97.099998  97.339996  37612900  97.339996

Code to compile
In [16]: aapl.to_csv('d:/temp/aapl_data.csv')

Code to compile
Date,Open,High,Low,Close,Volume,Adj Close
1980-12-12,28.75,28.875,28.75,28.75,117258400,0.431358
1980-12-15,27.375001,27.375001,27.25,27.25,43971200,0.408852
1980-12-16,25.375,25.375,25.25,25.25,26432000,0.378845
1980-12-17,25.875,25.999999,25.875,25.875,21610400,0.38822199999999996
1980-12-18,26.625,26.75,26.625,26.625,18362400,0.399475
...

Checking the answer Id = 37806819 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 4)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12436979
Code to compile
$python
>>import numpy
>>print(numpy)

Checking the answer Id = 12975518 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
$ cd /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/
$ sudo rm -r numpy
$ pip install pandas

Checking the answer Id = 13665099 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
conda create --name np17py27 anaconda=1.4 numpy=1.7 python=2.7
export PATH=~/anaconda/envs/np17py27/bin:$PATH

Code to compile
conda create --name np16py27 anaconda=1.4 numpy=1.6 python=2.7

Checking the answer Id = 16342396 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12497402
Code to compile
df.groupby(['A']).max()

Checking the answer Id = 12497577 | Errors = ["name 'df' is not defined"]
Code to compile
In [10]: df.drop_duplicates(subset='A', keep="last")
Out[10]:
   A   B
1  1  20
3  2  40
4  3  10

Code to compile
In [12]: df.groupby('A', group_keys=False).apply(lambda x: x.ix[x.B.idxmax()])
Out[12]:
   A   B
A
1  1  20
2  2  40
3  3  10

Checking the answer Id = 13059751 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12504493
Code to compile
>>> import pandas as pd
>>> Sr1 = pd.Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
>>> Sr2 = pd.Series([5,6], index = ['A', 'C'])
>>> Sr1+Sr2
A     6
B   NaN
C     9
D   NaN
>>> Sr1.add(Sr2, fill_value=0)
A    6
B    2
C    9
D    4

Checking the answer Id = 12504527 | Errors = ['invalid syntax (<unknown>, line 1)']

----------------------------------------
----------------------------------------
12504951
Code to compile
In [23]: %logstart /tmp/session.log
Activating auto-logging. Current session state plus future input saved.
Filename       : /tmp/session.log
Mode           : backup
Output logging : False
Raw input log  : False
Timestamping   : False
State          : active

In [24]: x = 1

In [25]: %logstop

In [26]: quit()
Do you really want to exit ([y]/n)? y

Code to compile
% ipython -log /tmp/session.log
Activating auto-logging. Current session state plus future input saved.
Filename       : ipython_log.py
...

In [1]: x
Out[1]: 1

Checking the answer Id = 12505031 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12504976
Code to compile
In [99]: import pandas as pd

In [100]: d1 = pd.DataFrame({'ticker' : ['spx 5/25/2001 p500', 'spx 5/25/2001 p600', 'spx 5/25/2001 p700']})

In [101]: d1.ticker.str.split().tolist()
Out[101]:
[['spx', '5/25/2001', 'p500'],
 ['spx', '5/25/2001', 'p600'],
 ['spx', '5/25/2001', 'p700']]

Code to compile
In [102]: d2 = pd.DataFrame(d1.ticker.str.split().tolist(),
   .....:                   columns="symbol date price".split())

In [103]: d2
Out[103]:
  symbol       date price
0    spx  5/25/2001  p500
1    spx  5/25/2001  p600
2    spx  5/25/2001  p700

Code to compile
In [104]: d2["price"] = d2["price"].str.replace("p","").astype(float)

In [105]: d2
Out[105]:
  symbol       date  price
0    spx  5/25/2001    500
1    spx  5/25/2001    600
2    spx  5/25/2001    700

Code to compile
In [113]: temp2.apply(lambda x: x[2])
Out[113]:
0    p500
1    p600
2    p700
Name: ticker

Checking the answer Id = 12505089 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [43]: temp2.str[-1]
Out[43]:
0    p500
1    p600
2    p700
Name: ticker

Checking the answer Id = 13053267 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12525722
Code to compile
In [92]: df
Out[92]:
           a         b          c         d
A  -0.488816  0.863769   4.325608 -4.721202
B -11.937097  2.993993 -12.916784 -1.086236
C  -5.569493  4.672679  -2.168464 -9.315900
D   8.892368  0.932785   4.535396  0.598124

In [93]: df_norm = (df - df.mean()) / (df.max() - df.min())

In [94]: df_norm
Out[94]:
          a         b         c         d
A  0.085789 -0.394348  0.337016 -0.109935
B -0.463830  0.164926 -0.650963  0.256714
C -0.158129  0.605652 -0.035090 -0.573389
D  0.536170 -0.376229  0.349037  0.426611

In [95]: df_norm.mean()
Out[95]:
a   -2.081668e-17
b    4.857226e-17
c    1.734723e-17
d   -1.040834e-17

In [96]: df_norm.max() - df_norm.min()
Out[96]:
a    1
b    1
c    1
d    1

Checking the answer Id = 12525836 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import numpy as np
import pandas as pd

np.random.seed(1)

df = pd.DataFrame(np.random.randn(4,4)* 4 + 3)

          0         1         2         3
0  9.497381  0.552974  0.887313 -1.291874
1  6.461631 -6.206155  9.979247 -0.044828
2  4.276156  2.002518  8.848432 -5.240563
3  1.710331  1.463783  7.535078 -1.399565

df.apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))

          0         1         2         3
0  0.515087  0.133967 -0.651699  0.135175
1  0.125241 -0.689446  0.348301  0.375188
2 -0.155414  0.310554  0.223925 -0.624812
3 -0.484913  0.244924  0.079473  0.114448

Code to compile
df['grp'] = ['A', 'A', 'B', 'B']

          0         1         2         3 grp
0  9.497381  0.552974  0.887313 -1.291874   A
1  6.461631 -6.206155  9.979247 -0.044828   A
2  4.276156  2.002518  8.848432 -5.240563   B
3  1.710331  1.463783  7.535078 -1.399565   B


df.groupby(['grp'])[[0,1,2,3]].apply(lambda x: (x - np.mean(x)) / (np.max(x) - np.min(x)))

     0    1    2    3
0  0.5  0.5 -0.5 -0.5
1 -0.5 -0.5  0.5  0.5
2  0.5  0.5  0.5 -0.5
3 -0.5 -0.5 -0.5  0.5

Checking the answer Id = 33250288 | Errors = ['unexpected indent (<unknown>, line 8)', 'unexpected indent (<unknown>, line 3)']
Code to compile
import pandas as pd
from sklearn import preprocessing

data = {'score': [234,24,14,27,-74,46,73,-18,59,160]}
df = pd.DataFrame(data)
df

min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df)
df_normalized = pd.DataFrame(np_scaled)
df_normalized

Checking the answer Id = 37199623 | Errors = ["No module named 'sklearn'"]
----------------------------------------
----------------------------------------
12555323
Code to compile
df1['e'] = np.random.randn(sLength)

Code to compile
df1['e'] = df1['a'].map(lambda x: np.random.random())

Checking the answer Id = 12555491 | Errors = ["name 'np' is not defined", "name 'df1' is not defined"]
Code to compile
df1['e'] = Series(np.random.randn(sLength), index=df1.index)

Code to compile
>>> sLength = len(df1['a'])
>>> df1
          a         b         c         d
6 -0.269221 -0.026476  0.997517  1.294385
8  0.917438  0.847941  0.034235 -0.448948

>>> df1['e'] = p.Series(np.random.randn(sLength), index=df1.index)
>>> df1
          a         b         c         d         e
6 -0.269221 -0.026476  0.997517  1.294385  1.757167
8  0.917438  0.847941  0.034235 -0.448948  2.228131

>>> p.version.short_version
'0.16.1'

Code to compile
>>> df1.loc[:,'f'] = p.Series(np.random.randn(sLength), index=df1.index)
>>> df1
          a         b         c         d         e         f
6 -0.269221 -0.026476  0.997517  1.294385  1.757167 -0.050927
8  0.917438  0.847941  0.034235 -0.448948  2.228131  0.006109
>>>

Code to compile
df1 = df1.assign(e=p.Series(np.random.randn(sLength)).values)

Checking the answer Id = 12555510 | Errors = ["name 'Series' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'df1' is not defined"]
Checking the answer Id = 13843741 | Errors = []
Code to compile
df.insert(len(df.columns), 'e', pd.Series(np.random.randn(sLength),  index=df.index))

Checking the answer Id = 30777185 | Errors = ["name 'df' is not defined"]
Code to compile
df['e'] = e.values

Code to compile
df1 = df1.assign(e=e.values)

Code to compile
df = pd.DataFrame({'a': [1, 2], 'b': [3, 4]})
>>> df.assign(mean_a=df.a.mean(), mean_b=df.b.mean())
   a  b  mean_a  mean_b
0  1  3     1.5     3.5
1  2  4     1.5     3.5

Code to compile
np.random.seed(0)
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['a', 'b', 'c', 'd'])
mask = df1.applymap(lambda x: x <-0.7)
df1 = df1[-mask.any(axis=1)]
sLength = len(df1['a'])
e = pd.Series(np.random.randn(sLength))

>>> df1
          a         b         c         d
0  1.764052  0.400157  0.978738  2.240893
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674
7  1.532779  1.469359  0.154947  0.378163
9  1.230291  1.202380 -0.387327 -0.302303

>>> e
0   -1.048553
1   -1.420018
2   -1.706270
3    1.950775
4   -0.509652
dtype: float64

df1 = df1.assign(e=e.values)

>>> df1
          a         b         c         d         e
0  1.764052  0.400157  0.978738  2.240893 -1.048553
2 -0.103219  0.410599  0.144044  1.454274 -1.420018
3  0.761038  0.121675  0.443863  0.333674 -1.706270
7  1.532779  1.469359  0.154947  0.378163  1.950775
9  1.230291  1.202380 -0.387327 -0.302303 -0.509652

Checking the answer Id = 35387129 | Errors = ["name 'e' is not defined", "name 'df1' is not defined", 'invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 8)']
Checking the answer Id = 38510820 | Errors = []
Code to compile
    size      name color
0    big      rose   red
1  small    violet  blue
2  small     tulip   red
3  small  harebell  blue

df['protected'] = ['no', 'no', 'no', 'yes']

    size      name color protected
0    big      rose   red        no
1  small    violet  blue        no
2  small     tulip   red        no
3  small  harebell  blue       yes

Code to compile
df.index = [3,2,1,0]
df['protected'] = ['no', 'no', 'no', 'yes']
    size      name color protected
3    big      rose   red        no
2  small    violet  blue        no
1  small     tulip   red        no
0  small  harebell  blue       yes

Code to compile
df['protected'] = pd.Series(['no', 'no', 'no', 'yes'])
    size      name color protected
3    big      rose   red       yes
2  small    violet  blue        no
1  small     tulip   red        no
0  small  harebell  blue        no

Code to compile
df['protected'] = pd.Series(['no', 'no', 'no', 'yes']).values

Code to compile
df['protected'] = list(pd.Series(['no', 'no', 'no', 'yes']))

Code to compile
df['protected'] = pd.Series(['no', 'no', 'no', 'yes'], index=df.index)

Code to compile
protected_series = pd.Series(['no', 'no', 'no', 'yes'])
protected_series.index = df.index

3     no
2     no
1     no
0    yes

Code to compile
df['protected'] = protected_series

    size      name color protected
3    big      rose   red        no
2  small    violet  blue        no
1  small     tulip   red        no
0  small  harebell  blue       yes

Code to compile
df.reset_index(drop=True)
protected_series.reset_index(drop=True)
df['protected'] = protected_series

    size      name color protected
0    big      rose   red        no
1  small    violet  blue        no
2  small     tulip   red        no
3  small  harebell  blue       yes

Code to compile
df.assign(protected=pd.Series(['no', 'no', 'no', 'yes']))
    size      name color protected
3    big      rose   red       yes
2  small    violet  blue        no
1  small     tulip   red        no
0  small  harebell  blue        no

Code to compile
df.assign(self=pd.Series(['no', 'no', 'no', 'yes'])
TypeError: assign() got multiple values for keyword argument 'self'

Checking the answer Id = 43180437 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 2)', "name 'pd' is not defined", "name 'pd' is not defined", "name 'pd' is not defined", 'invalid syntax (<unknown>, line 4)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 5)', 'unexpected indent (<unknown>, line 2)', 'invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
12569730
Code to compile
from pandas import *

P1Channels = data.filter(regex="P1")
P1Sum = P1Channels.sum(axis=1)

Checking the answer Id = 12570410 | Errors = ["name 'data' is not defined"]
----------------------------------------
----------------------------------------
12589481
Code to compile
In [20]: df.groupby("dummy").agg({"returns": [np.mean, np.sum]})
Out[20]:
        returns
            sum      mean

dummy
1      0.285833  0.028583

Code to compile
In [21]: df.groupby('dummy').agg({'returns':
                                  {'Mean': np.mean, 'Sum': np.sum}})
Out[21]:
        returns
            Sum      Mean
dummy
1      0.285833  0.028583

Checking the answer Id = 13592901 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12604909
Code to compile
df['Date'].str[-4:].astype(int)

Code to compile
df['Date'].str.extract('(?P<year>\d{4})').astype(int)

Code to compile
df['Date'] = df['Date'].apply(lambda x: int(str(x)[-4:]))
             #  converts the last 4 characters of the string to an integer

Code to compile
def convert_to_year(date_in_some_format);
    date_as_string = str(date_in_some_format)
    year_as_string = date_in_some_format[-4:] # last four characters
    return int(year_as_string)

df['Date'] = df['Date'].apply(convert_to_year)

Checking the answer Id = 12605055 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12625650
Code to compile
In [46]: df
Out[46]:
     A   B
0  foo  10
1  bar  20
2  baz  30

In [47]: cond = df['A'].str.contains('a') & (df['B'] == 20)

In [48]: df.drop(df[cond].index.values)
Out[48]:
     A   B
0  foo  10
2  baz  30

Checking the answer Id = 12627465 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12680754
Code to compile
In [55]: pd.concat([Series(row['var2'], row['var1'].split(','))
                    for _, row in a.iterrows()]).reset_index()
Out[55]:
  index  0
0     a  1
1     b  1
2     c  1
3     d  2
4     e  2
5     f  2

Checking the answer Id = 12681217 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
b = DataFrame(a.var1.str.split(',').tolist(), index=a.var2).stack()
b = b.reset_index()[[0, 'var2']] # var1 variable is currently labeled 0
b.columns = ['var1', 'var2'] # renaming var1

Checking the answer Id = 28182629 | Errors = ["name 'DataFrame' is not defined"]
Code to compile
>> a=pd.DataFrame({"var1":"a,b,c d,e,f".split(),"var2":[1,2]})
>> s = a.var1.str.split(",").apply(pd.Series, 1).stack()
>> s.index = s.index.droplevel(-1)
>> del a['var1']
>> a.join(s)
   var2 var1
0     1    a
0     1    b
0     1    c
1     2    d
1     2    e
1     2    f

Checking the answer Id = 31036962 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
def tidy_split(df, column, sep='|', keep=False):
    """
    Split the values of a column and expand so the new DataFrame has one split
    value per row. Filters rows where the column is missing.

    Params
    ------
    df : pandas.DataFrame
        dataframe with the column to split and expand
    column : str
        the column to split and expand
    sep : str
        the string used to split the column's values
    keep : bool
        whether to retain the presplit value as it's own row

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

Code to compile
tidy_split(a, 'var1', sep=',')

Checking the answer Id = 39946744 | Errors = ['Sucess', "name 'tidy_split' is not defined"]
Code to compile
def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]

Code to compile
In [36]: df
Out[36]:
   aaa  myid        num          text
0   10     1  [1, 2, 3]  [aa, bb, cc]
1   11     2     [1, 2]      [cc, dd]
2   12     3         []            []
3   13     4         []            []

In [37]: explode(df, ['num','text'], fill_value='')
Out[37]:
   aaa  myid num text
0   10     1   1   aa
1   10     1   2   bb
2   10     1   3   cc
3   11     2   1   cc
4   11     2   2   dd
2   12     3
3   13     4

Code to compile
df = pd.DataFrame({
 'aaa': {0: 10, 1: 11, 2: 12, 3: 13},
 'myid': {0: 1, 1: 2, 2: 3, 3: 4},
 'num': {0: [1, 2, 3], 1: [1, 2], 2: [], 3: []},
 'text': {0: ['aa', 'bb', 'cc'], 1: ['cc', 'dd'], 2: [], 3: []}
})

Code to compile
In [46]: df
Out[46]:
        var1  var2 var3
0      a,b,c     1   XX
1  d,e,f,x,y     2   ZZ

In [47]: explode(df.assign(var1=df.var1.str.split(',')), 'var1')
Out[47]:
  var1  var2 var3
0    a     1   XX
1    b     1   XX
2    c     1   XX
3    d     2   ZZ
4    e     2   ZZ
5    f     2   ZZ
6    x     2   ZZ
7    y     2   ZZ

Code to compile
In [48]: df.assign(var1=df.var1.str.split(','))
Out[48]:
              var1  var2 var3
0        [a, b, c]     1   XX
1  [d, e, f, x, y]     2   ZZ

Code to compile
In [177]: df
Out[177]:
        var1  var2 var3
0      a,b,c     1   XX
1  d,e,f,x,y     2   ZZ

Code to compile
In [178]: lst_col = 'var1'

In [179]: x = df.assign(**{lst_col:df[lst_col].str.split(',')})

In [180]: x
Out[180]:
              var1  var2 var3
0        [a, b, c]     1   XX
1  [d, e, f, x, y]     2   ZZ

Code to compile
In [181]: pd.DataFrame({
     ...:     col:np.repeat(x[col].values, x[lst_col].str.len())
     ...:     for col in x.columns.difference([lst_col])
     ...: }).assign(**{lst_col:np.concatenate(x[lst_col].values)})[x.columns.tolist()]
     ...:
Out[181]:
  var1  var2 var3
0    a     1   XX
1    b     1   XX
2    c     1   XX
3    d     2   ZZ
4    e     2   ZZ
5    f     2   ZZ
6    x     2   ZZ
7    y     2   ZZ

Code to compile
In [2]: df = pd.DataFrame(
   ...:    [{'var1': 'a,b,c', 'var2': 1, 'var3': 'XX'},
   ...:     {'var1': 'd,e,f,x,y', 'var2': 2, 'var3': 'ZZ'}]
   ...: )

In [3]: df
Out[3]:
        var1  var2 var3
0      a,b,c     1   XX
1  d,e,f,x,y     2   ZZ

In [4]: (df.set_index(df.columns.drop('var1',1).tolist())
   ...:    .var1.str.split(',', expand=True)
   ...:    .stack()
   ...:    .reset_index()
   ...:    .rename(columns={0:'var1'})
   ...:    .loc[:, df.columns]
   ...: )
Out[4]:
  var1  var2 var3
0    a     1   XX
1    b     1   XX
2    c     1   XX
3    d     2   ZZ
4    e     2   ZZ
5    f     2   ZZ
6    x     2   ZZ
7    y     2   ZZ

Checking the answer Id = 40449726 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', "name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12704305
Checking the answer Id = 12707465 | Errors = []
Code to compile
import pyodbc
import pandas as pd

cnxn = pyodbc.connect(databasez)
DF = pd.read_sql_query("SELECT ID, NAME AS Nickname, ADDRESS AS Residence FROM tablez", cnxn)

Checking the answer Id = 17491690 | Errors = ["No module named 'pyodbc'"]
----------------------------------------
----------------------------------------
12725417
Code to compile
In [2]: import pandas as pd

In [3]: source = pd.DataFrame({'A': ['foo', 'bar'], 'B': [1, 2], 'C': [(1,2), (3,4)]})

In [4]: source
Out[4]:
     A  B       C
0  foo  1  (1, 2)
1  bar  2  (3, 4)

In [5]: source._get_numeric_data()
Out[5]:
   B
0  1
1  2

Checking the answer Id = 12726468 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 32399908 | Errors = []
----------------------------------------
----------------------------------------
12726432
Checking the answer Id = 12727919 | Errors = []
Code to compile
'''
simple exponential smoothing
go back to last N values
y_t = a * y_t + a * (1-a)^1 * y_t-1 + a * (1-a)^2 * y_t-2 + ... + a*(1-a)^n * y_t-n
'''
from random import random,randint

def gen_weights(a,N):
    ws = list()
    for i in range(N):
        w = a * ((1-a)**i)
        ws.append(w)
    return ws

def weighted(data,ws):

12844529
Code to compile
In [31]: data
Out[31]:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2557 entries, 2004-01-01 00:00:00 to 2010-12-31 00:00:00
Freq: <1 DateOffset>
Columns: 360 entries, -89.75 to 89.75
dtypes: object(360)

Checking the answer Id = 12846154 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12850345
Code to compile
bigdata = data1.append(data2, ignore_index=True)

Checking the answer Id = 12850453 | Errors = ["name 'data1' is not defined"]
Code to compile
bigdata = pd.concat([data1, data2], ignore_index=True)

Checking the answer Id = 30557040 | Errors = ["name 'pd' is not defined"]
Code to compile
df_row_merged = pd.concat([df_a, df_b], ignore_index=True)

Code to compile
df_col_merged =pd.concat([df_a, df_b], axis=1)

Checking the answer Id = 39634150 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
12860421
Code to compile
In [39]: df2.pivot_table(values='X', rows='Y', cols='Z',
                         aggfunc=lambda x: len(x.unique()))
Out[39]:
Z   Z1  Z2  Z3
Y
Y1   1   1 NaN
Y2 NaN NaN   1

Checking the answer Id = 12862196 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
12867178
Code to compile
df = male_trips.groupby('start_station_id').size()

Checking the answer Id = 12874054 | Errors = ["name 'male_trips' is not defined"]
Code to compile
count_series = male_trips.start_station_id.value_counts()

Code to compile
count_series = (
                male_trips[male_trips.start_station_id.isin(stations.id.values)]
                    .start_station_id
                    .value_counts()
               )

Checking the answer Id = 12874135 | Errors = ["name 'male_trips' is not defined", "name 'male_trips' is not defined"]
----------------------------------------
----------------------------------------
12877189
Code to compile
df.to_csv('pandasfile.csv', float_format='%.3f')

Code to compile
df.to_csv('pandasfile.csv', float_format='%g')

Code to compile
Bob,0.085
Alice,0.005

Checking the answer Id = 12882439 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'Bob' is not defined"]
----------------------------------------
----------------------------------------
12945971
Code to compile
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as dates

idx = pd.date_range('2011-05-01', '2011-07-01')
s = pd.Series(np.random.randn(len(idx)), index=idx)

fig, ax = plt.subplots()
ax.plot_date(idx.to_pydatetime(), s, 'v-')
ax.xaxis.set_minor_locator(dates.WeekdayLocator(byweekday=(1),
                                                interval=1))
ax.xaxis.set_minor_formatter(dates.DateFormatter('%d\n%a'))
ax.xaxis.grid(True, which="minor")
ax.yaxis.grid()
ax.xaxis.set_major_locator(dates.MonthLocator())
ax.xaxis.set_major_formatter(dates.DateFormatter('\n\n\n%b\n%Y'))
plt.tight_layout()
plt.show()

Checking the answer Id = 13674286 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
12960574
Checking the answer Id = 12961158 | Errors = []
----------------------------------------
----------------------------------------
13003051
Code to compile
df.ix[:, df.columns - to_excl].hist()

Checking the answer Id = 13003524 | Errors = ["name 'df' is not defined"]
Code to compile
exclude = ['bad col1', 'bad col2']
df.ix[:, df.columns.difference(exclude)].hist()

Checking the answer Id = 32152755 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
13019719
Code to compile
from pandas.tseries.offsets import *

In [185]: s
Out[185]:
2011-01-01   -0.011629
2011-01-02   -0.089666
2011-01-03   -1.314430
2011-01-04   -1.867307
2011-01-05    0.779609
2011-01-06    0.588950
2011-01-07   -2.505803
2011-01-08    0.800262
2011-01-09    0.376406
2011-01-10   -0.469988
Freq: D

In [186]: s.asfreq(BDay())
Out[186]:
2011-01-03   -1.314430
2011-01-04   -1.867307
2011-01-05    0.779609
2011-01-06    0.588950
2011-01-07   -2.505803
2011-01-10   -0.469988
Freq: B

Code to compile
In [187]: x=datetime(2011, 1, 5)

In [188]: y=datetime(2011, 1, 9)

In [189]: s.ix[x:y]
Out[189]:
2011-01-05    0.779609
2011-01-06    0.588950
2011-01-07   -2.505803
2011-01-08    0.800262
2011-01-09    0.376406
Freq: D

In [190]: s.ix[x:y].asfreq(BDay())
Out[190]:
2011-01-05    0.779609
2011-01-06    0.588950
2011-01-07   -2.505803
Freq: B

Code to compile
In [191]: s.ix[x:y].asfreq(BDay()).count()
Out[191]: 3

Checking the answer Id = 13020027 | Errors = ['invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [3]: pd.date_range('2011-01-05', '2011-01-09', freq=BDay())

Out[3]: DatetimeIndex(['2011-01-05', '2011-01-06', '2011-01-07'], dtype='datetime64[ns]', freq='B', tz=None)

Code to compile
In [7]: pd.bdate_range('2011-01-05', '2011-01-09')

Out[7]: DatetimeIndex(['2011-01-05', '2011-01-06', '2011-01-07'], dtype='datetime64[ns]', freq='B', tz=None)

Checking the answer Id = 31907749 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 33011646 | Errors = []
Code to compile

from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_bd = CustomBusinessDay(calendar=USFederalHolidayCalendar())
print pd.DatetimeIndex(start='2010-01-01',end='2010-01-15', freq=us_bd)

Code to compile

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15'],
              dtype='datetime64[ns]', freq='C')

Checking the answer Id = 33480745 | Errors = ['invalid syntax (<unknown>, line 6)', "name 'DatetimeIndex' is not defined"]
----------------------------------------
----------------------------------------
13021654
Code to compile
In [45]: df = DataFrame({"pear": [1,2,3], "apple": [2,3,4], "orange": [3,4,5]})

In [46]: df.columns
Out[46]: Index([apple, orange, pear], dtype=object)

In [47]: df.columns.get_loc("pear")
Out[47]: 2

Checking the answer Id = 13021797 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 13036844 | Errors = []
----------------------------------------
----------------------------------------
13035764
Code to compile
grouped = df3.groupby(level=0)
df4 = grouped.last()
df4
                      A   B  rownum

2001-01-01 00:00:00   0   0       6
2001-01-01 01:00:00   1   1       7
2001-01-01 02:00:00   2   2       8
2001-01-01 03:00:00   3   3       3
2001-01-01 04:00:00   4   4       4
2001-01-01 05:00:00   5   5       5

Code to compile
import numpy as np
import pandas

# fake index
idx = pandas.MultiIndex.from_tuples([('a', letter) for letter in list('abcde')])

# random data + naming the index levels
df1 = pandas.DataFrame(np.random.normal(size=(5,2)), index=idx, columns=['colA', 'colB'])
df1.index.names = ['iA', 'iB']

# artificially append some duplicate data
df1 = df1.append(df1.select(lambda idx: idx[1] in ['c', 'e']))
df1
#           colA      colB
#iA iB
#a  a  -1.297535  0.691787
#   b  -1.688411  0.404430
#   c   0.275806 -0.078871
#   d  -0.509815 -0.220326
#   e  -0.066680  0.607233
#   c   0.275806 -0.078871  # <--- dup 1
#   e  -0.066680  0.607233  # <--- dup 2

Code to compile
# group the data, using df1.index.names tells pandas to look at the entire index
groups = df1.groupby(level=df1.index.names)
groups.last() # or .first()
#           colA      colB
#iA iB
#a  a  -1.297535  0.691787
#   b  -1.688411  0.404430
#   c   0.275806 -0.078871
#   d  -0.509815 -0.220326
#   e  -0.066680  0.607233

Checking the answer Id = 13036848 | Errors = ['unexpected indent (<unknown>, line 4)', "'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement", "name 'df1' is not defined"]
Code to compile
df4 = df3.drop_duplicates(subset='rownum', keep='last')

Code to compile
df3 = df3.reset_index().drop_duplicates(subset='index', keep='last').set_index('index')

Code to compile
df3 = df3.sort()

Checking the answer Id = 14900065 | Errors = ["name 'df3' is not defined", "name 'df3' is not defined", "name 'df3' is not defined"]
Code to compile
df3 = df3[~df3.index.duplicated(keep='first')]

Code to compile
>>> %timeit df3.reset_index().drop_duplicates(subset='index', keep='first').set_index('index')
1000 loops, best of 3: 1.54 ms per loop

>>> %timeit df3.groupby(df3.index).first()
1000 loops, best of 3: 580 µs per loop

>>> %timeit df3[~df3.index.duplicated(keep='first')]
1000 loops, best of 3: 307 µs per loop

Code to compile
>>> %timeit df1.groupby(level=df1.index.names).last()
1000 loops, best of 3: 771 µs per loop

>>> %timeit df1[~df1.index.duplicated(keep='last')]
1000 loops, best of 3: 365 µs per loop

Checking the answer Id = 34297689 | Errors = ["name 'df3' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13050003
Code to compile
def f(group):
    row = group.irow(0)
    return DataFrame({'class': [row['class']] * row['count']})
df.groupby('class', group_keys=False).apply(f)

Code to compile
In [25]: df.groupby('class', group_keys=False).apply(f)
Out[25]:
  class
0     A
0     C
1     C

Checking the answer Id = 13052373 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13052844
Code to compile
import numpy as np
ax0.yaxis.set_ticks(np.arange(70000,80000,2500))

Checking the answer Id = 13053381 | Errors = ["name 'ax0' is not defined"]
Code to compile
import matplotlib.pyplot as plt

fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)

# ... plot some things ...

# Find at most 101 ticks on the y-axis at 'nice' locations
max_yticks = 100
yloc = plt.MaxNLocator(max_yticks)
ax.yaxis.set_major_locator(yloc)

plt.show()

Checking the answer Id = 13053967 | Errors = ["No module named 'matplotlib'"]
Code to compile
plt.locator_params(nbins=10)

Code to compile
ax.locator_params(nbins=10, axis='x')

Checking the answer Id = 23534505 | Errors = ["name 'plt' is not defined", "name 'ax' is not defined"]
----------------------------------------
----------------------------------------
13085709
Checking the answer Id = 13086305 | Errors = []
----------------------------------------
----------------------------------------
13114512
Code to compile
In [26]: data
Out[26]:
           Date   Close  Adj Close
251  2011-01-03  147.48     143.25
250  2011-01-04  147.64     143.41
249  2011-01-05  147.05     142.83
248  2011-01-06  148.66     144.40
247  2011-01-07  147.93     143.69

In [27]: data.set_index('Date').diff()
Out[27]:
            Close  Adj Close
Date
2011-01-03    NaN        NaN
2011-01-04   0.16       0.16
2011-01-05  -0.59      -0.58
2011-01-06   1.61       1.57
2011-01-07  -0.73      -0.71

Checking the answer Id = 13115473 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13129618
Code to compile
import numpy as np
count, division = np.histogram(series)

Code to compile
count, division = np.histogram(series, bins = [-201,-149,949,1001])

Code to compile
series.hist(bins=division)

Checking the answer Id = 13130357 | Errors = ["name 'series' is not defined", "name 'np' is not defined", "name 'series' is not defined"]
Code to compile
step = 50
bin_range = np.arange(-200, 1000+step, step)
out, bins  = pd.cut(s, bins=bin_range, include_lowest=True, right=False, retbins=True)
out.value_counts(sort=False).plot.bar()

Code to compile
out.value_counts().head()
[-100, -50)    18
[0, 50)        16
[800, 850)      2
[-50, 0)        2
[950, 1000)     1
dtype: int64

Code to compile
out.cat.categories = bins[:-1]
out.value_counts(sort=False).plot.bar()

Checking the answer Id = 41210491 | Errors = ["name 'np' is not defined", 'invalid syntax (<unknown>, line 2)', "name 'bins' is not defined"]
----------------------------------------
----------------------------------------
13148429
Code to compile
In [6]: df
Out[6]:
          0         1         2         3         4      mean
0  0.445598  0.173835  0.343415  0.682252  0.582616  0.445543
1  0.881592  0.696942  0.702232  0.696724  0.373551  0.670208
2  0.662527  0.955193  0.131016  0.609548  0.804694  0.632596
3  0.260919  0.783467  0.593433  0.033426  0.512019  0.436653
4  0.131842  0.799367  0.182828  0.683330  0.019485  0.363371
5  0.498784  0.873495  0.383811  0.699289  0.480447  0.587165
6  0.388771  0.395757  0.745237  0.628406  0.784473  0.588529
7  0.147986  0.459451  0.310961  0.706435  0.100914  0.345149
8  0.394947  0.863494  0.585030  0.565944  0.356561  0.553195
9  0.689260  0.865243  0.136481  0.386582  0.730399  0.561593

In [7]: cols = df.columns.tolist()

In [8]: cols
Out[8]: [0L, 1L, 2L, 3L, 4L, 'mean']

Code to compile
In [12]: cols = cols[-1:] + cols[:-1]

In [13]: cols
Out[13]: ['mean', 0L, 1L, 2L, 3L, 4L]

Code to compile
In [16]: df = df[cols]  #    OR    df = df.ix[:, cols]

In [17]: df
Out[17]:
       mean         0         1         2         3         4
0  0.445543  0.445598  0.173835  0.343415  0.682252  0.582616
1  0.670208  0.881592  0.696942  0.702232  0.696724  0.373551
2  0.632596  0.662527  0.955193  0.131016  0.609548  0.804694
3  0.436653  0.260919  0.783467  0.593433  0.033426  0.512019
4  0.363371  0.131842  0.799367  0.182828  0.683330  0.019485
5  0.587165  0.498784  0.873495  0.383811  0.699289  0.480447
6  0.588529  0.388771  0.395757  0.745237  0.628406  0.784473
7  0.345149  0.147986  0.459451  0.310961  0.706435  0.100914
8  0.553195  0.394947  0.863494  0.585030  0.565944  0.356561
9  0.561593  0.689260  0.865243  0.136481  0.386582  0.730399

Checking the answer Id = 13148611 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.insert(0, 'mean', df.mean(1))

Checking the answer Id = 13316001 | Errors = ["name 'df' is not defined"]
Code to compile
df = df[['mean', '0', '1', '2', '3']]

Code to compile
cols = list(df.columns.values)

Code to compile
['0', '1', '2', '3', 'mean']

Checking the answer Id = 23741480 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'Sucess']
Code to compile
def order(frame,var):
    varlist =[w for w in frame.columns if w not in var]
    frame = frame[var+varlist]
    return frame

Code to compile
frame = order(frame,['Total'])

Code to compile
frame = order(frame,['Total','Date'])

Code to compile
frame = order(frame,[v for v in frame.columns if "VAR" in v])

Checking the answer Id = 25023460 | Errors = ['Sucess', "name 'order' is not defined", "name 'order' is not defined", "name 'order' is not defined"]
Checking the answer Id = 25535803 | Errors = []
Code to compile
df = df[['mean'] + df.columns[:-1].tolist()]

Checking the answer Id = 29916004 | Errors = ["name 'df' is not defined"]
Code to compile
In [39]: df
Out[39]:
          0         1         2         3         4  mean
0  0.172742  0.915661  0.043387  0.712833  0.190717     1
1  0.128186  0.424771  0.590779  0.771080  0.617472     1
2  0.125709  0.085894  0.989798  0.829491  0.155563     1
3  0.742578  0.104061  0.299708  0.616751  0.951802     1
4  0.721118  0.528156  0.421360  0.105886  0.322311     1
5  0.900878  0.082047  0.224656  0.195162  0.736652     1
6  0.897832  0.558108  0.318016  0.586563  0.507564     1
7  0.027178  0.375183  0.930248  0.921786  0.337060     1
8  0.763028  0.182905  0.931756  0.110675  0.423398     1
9  0.848996  0.310562  0.140873  0.304561  0.417808     1

In [40]: df = df[['mean', 4,3,2,1]]

Code to compile
In [41]: df
Out[41]:
   mean         4         3         2         1
0     1  0.190717  0.712833  0.043387  0.915661
1     1  0.617472  0.771080  0.590779  0.424771
2     1  0.155563  0.829491  0.989798  0.085894
3     1  0.951802  0.616751  0.299708  0.104061
4     1  0.322311  0.105886  0.421360  0.528156
5     1  0.736652  0.195162  0.224656  0.082047
6     1  0.507564  0.586563  0.318016  0.558108
7     1  0.337060  0.921786  0.930248  0.375183
8     1  0.423398  0.110675  0.931756  0.182905
9     1  0.417808  0.304561  0.140873  0.310562

Checking the answer Id = 29922207 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
cols = ['mean']  + [col for col in df if col != 'mean']
df = df[cols]

Code to compile
cols = [df.columns[-1]] + [col for col in df if col != df.columns[-1]]
df = df[cols]

Code to compile
inserted_cols = ['a', 'b', 'c']
cols = ([col for col in inserted_cols if col in df]
        + [col for col in df if col not in inserted cols])
df = df[cols]

Checking the answer Id = 32131398 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 3)']
Code to compile
df = df.reindex_axis(['mean',0,1,2,3,4], axis=1)

Code to compile
df = df.reindex_axis(sorted(df.columns), axis=1)
df = df.reindex_axis(['opened'] + list([a for a in df.columns if a != 'opened']), axis=1)

Checking the answer Id = 39237712 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
13166842
Code to compile
In[1]: import pandas as pd; import numpy as np

In[2]: df = pd.DataFrame(np.arange(40.).reshape((8, 5)), columns=list('abcde')); df
Out[2]:
        a   b   c   d   e
    0   0   1   2   3   4
    1   5   6   7   8   9
    2  10  11  12  13  14
    3  15  16  17  18  19
    4  20  21  22  23  24
    5  25  26  27  28  29
    6  30  31  32  33  34
    7  35  36  37  38  39

In[3]: ser = pd.Series(np.arange(8) * 10); ser
Out[3]:
    0     0
    1    10
    2    20
    3    30
    4    40
    5    50
    6    60
    7    70

Code to compile
In[4]: func = lambda x: np.asarray(x) * np.asarray(ser)

Code to compile
In[5]: df.apply(func)
Out[5]:
          a     b     c     d     e
    0     0     0     0     0     0
    1    50    60    70    80    90
    2   200   220   240   260   280
    3   450   480   510   540   570
    4   800   840   880   920   960
    5  1250  1300  1350  1400  1450
    6  1800  1860  1920  1980  2040
    7  2450  2520  2590  2660  2730

Code to compile
In[6]: ser2 = pd.Series(np.arange(5) *5); ser2
Out[6]:
    0     0
    1     5
    2    10
    3    15
    4    20

In[7]: func2 = lambda x: np.asarray(x) * np.asarray(ser2)

In[8]: df.apply(func2, axis=1)
Out[8]:
       a    b    c    d    e
    0  0    5   20   45   80
    1  0   30   70  120  180
    2  0   55  120  195  280
    3  0   80  170  270  380
    4  0  105  220  345  480
    5  0  130  270  420  580
    6  0  155  320  495  680
    7  0  180  370  570  780

Code to compile
In[9]: df.apply(lambda x: np.asarray(x) * np.asarray(ser))
Out[9]:
          a     b     c     d     e
    0     0     0     0     0     0
    1    50    60    70    80    90
    2   200   220   240   260   280
    3   450   480   510   540   570
    4   800   840   880   920   960
    5  1250  1300  1350  1400  1450
    6  1800  1860  1920  1980  2040
    7  2450  2520  2590  2660  2730

In[10]: df.apply(lambda x: np.asarray(x) * np.asarray(ser2), axis=1)
Out[10]:
       a    b    c    d    e
    0  0    5   20   45   80
    1  0   30   70  120  180
    2  0   55  120  195  280
    3  0   80  170  270  380
    4  0  105  220  345  480
    5  0  130  270  420  580
    6  0  155  320  495  680
    7  0  180  370  570  780


----------------------------------------
13167391
Code to compile
In [49]: pd.concat([group for _, group in grouped if len(group) > 1])
Out[49]:
     A  B
0  foo  0
2  foo  2
3  foo  3

Checking the answer Id = 13181960 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> grouped.filter(lambda x: len(x) > 1)

     A  B
0  foo  0
2  foo  2
3  foo  3

Checking the answer Id = 18261958 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13187778
Code to compile
In [102]: df
Out[102]:
label    A    B    C
ID
1      NaN  0.2  NaN
2      NaN  NaN  0.5
3      NaN  0.2  0.5
4      0.1  0.2  NaN
5      0.1  0.2  0.5
6      0.1  NaN  0.5
7      0.1  NaN  NaN

In [103]: df.index.dtype
Out[103]: dtype('object')
In [104]: df.to_records()
Out[104]:
rec.array([(1, nan, 0.2, nan), (2, nan, nan, 0.5), (3, nan, 0.2, 0.5),
       (4, 0.1, 0.2, nan), (5, 0.1, 0.2, 0.5), (6, 0.1, nan, 0.5),
       (7, 0.1, nan, nan)],
      dtype=[('index', '|O8'), ('A', '<f8'), ('B', '<f8'), ('C', '<f8')])
In [106]: df.to_records().dtype
Out[106]: dtype([('index', '|O8'), ('A', '<f8'), ('B', '<f8'), ('C', '<f8')])

Code to compile
In [109]: df.index = df.index.astype('i8')
In [111]: df.to_records().view([('ID', '<i8'), ('A', '<f8'), ('B', '<f8'), ('C', '<f8')])
Out[111]:
rec.array([(1, nan, 0.2, nan), (2, nan, nan, 0.5), (3, nan, 0.2, 0.5),
       (4, 0.1, 0.2, nan), (5, 0.1, 0.2, 0.5), (6, 0.1, nan, 0.5),
       (7, 0.1, nan, nan)],
      dtype=[('ID', '<i8'), ('A', '<f8'), ('B', '<f8'), ('C', '<f8')])

Checking the answer Id = 13193256 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [8]: df
Out[8]:
          A         B         C
0 -0.982726  0.150726  0.691625
1  0.617297 -0.471879  0.505547
2  0.417123 -1.356803 -1.013499
3 -0.166363 -0.957758  1.178659
4 -0.164103  0.074516 -0.674325
5 -0.340169 -0.293698  1.231791
6 -1.062825  0.556273  1.508058
7  0.959610  0.247539  0.091333

[8 rows x 3 columns]

In [9]: df.reset_index().values
Out[9]:
array([[ 0.        , -0.98272574,  0.150726  ,  0.69162512],
       [ 1.        ,  0.61729734, -0.47187926,  0.50554728],
       [ 2.        ,  0.4171228 , -1.35680324, -1.01349922],
       [ 3.        , -0.16636303, -0.95775849,  1.17865945],
       [ 4.        , -0.16410334,  0.0745164 , -0.67432474],
       [ 5.        , -0.34016865, -0.29369841,  1.23179064],
       [ 6.        , -1.06282542,  0.55627285,  1.50805754],
       [ 7.        ,  0.95961001,  0.24753911,  0.09133339]])

Code to compile
In [10]: df.reset_index().values.ravel().view(dtype=[('index', int), ('A', float), ('B', float), ('C', float)])
Out[10]:
array([( 0, -0.98272574,  0.150726  ,  0.69162512),
       ( 1,  0.61729734, -0.47187926,  0.50554728),
       ( 2,  0.4171228 , -1.35680324, -1.01349922),
       ( 3, -0.16636303, -0.95775849,  1.17865945),
       ( 4, -0.16410334,  0.0745164 , -0.67432474),
       ( 5, -0.34016865, -0.29369841,  1.23179064),
       ( 6, -1.06282542,  0.55627285,  1.50805754),
       ( 7,  0.95961001,  0.24753911,  0.09133339),
       dtype=[('index', '<i8'), ('A', '<f8'), ('B', '<f8'), ('C', '<f8')])

Checking the answer Id = 22653050 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
numpyMatrix = df.as_matrix()

Checking the answer Id = 24793359 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 37043071 | Errors = []
----------------------------------------
----------------------------------------
13226029
Code to compile
import pandas as pd
import numpy as np

np.arrays = [['one','one','one','two','two','two'],[1,2,3,1,2,3]]

df = pd.DataFrame(np.random.randn(6,2),index=pd.MultiIndex.from_tuples(list(zip(*np.arrays))),columns=['A','B'])

df  # This is the dataframe we have generated

          A         B
one 1 -0.732470 -0.313871
    2 -0.031109 -2.068794
    3  1.520652  0.471764
two 1 -0.101713 -1.204458
    2  0.958008 -0.455419
    3 -0.191702 -0.915983

Code to compile
df.ndim

2

Code to compile
In [44]: df.ix["one"]
Out[44]:
          A         B
1 -0.732470 -0.313871
2 -0.031109 -2.068794
3  1.520652  0.471764

Code to compile
In [45]: df.ix["one"].ix[1]
Out[45]:
A   -0.732470
B   -0.313871
Name: 1

Code to compile
In [46]: df.ix["one"].ix[1]["A"]
Out[46]: -0.73247029752040727

Code to compile
In [47]: df.xs('one')
Out[47]:
          A         B
1 -0.732470 -0.313871
2 -0.031109 -2.068794
3  1.520652  0.471764

Code to compile
In [48]: df.xs('B', axis=1)
Out[48]:
one  1   -0.313871
     2   -2.068794
     3    0.471764
two  1   -1.204458
     2   -0.455419
     3   -0.915983
Name: B

Checking the answer Id = 13226352 | Errors = ['unexpected indent (<unknown>, line 10)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13249135
Checking the answer Id = 13252767 | Errors = []
Code to compile
pip install pandas

Checking the answer Id = 21649359 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
brew install python

Code to compile
which python

Code to compile
pip install pandas

Checking the answer Id = 22848472 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13250046
Code to compile
converters={'column_name': lambda x: str(x)}

Code to compile
project_name,project_id
Some Project,000245
Another Project,000478

Code to compile
import csv
from pandas import read_csv

dataframe = read_csv('projects.csv')
print dataframe

Code to compile
me@ubuntu:~$ python test_dataframe.py
      project_name  project_id
0     Some Project         245
1  Another Project         478
me@ubuntu:~$

Code to compile
import csv
from pandas import read_csv

dataframe = read_csv('projects.csv', converters={'project_id': lambda x: str(x)})
print dataframe

Code to compile
me@ubuntu:~$ python test_dataframe.py
      project_name project_id
0     Some Project     000245
1  Another Project     000478
me@ubuntu:~$

Checking the answer Id = 27144549 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 2)', "Missing parentheses in call to 'print' (<unknown>, line 5)", 'invalid syntax (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 5)", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13256917
Code to compile
In [20]: df = pd.DataFrame({'A':[1,1,2,2],'B':[1,2,1,2],'values':np.arange(10,30,5)})

In [21]: df
Out[21]:
   A  B  values
0  1  1      10
1  1  2      15
2  2  1      20
3  2  2      25

In [22]: df['sum_values_A'] = df.groupby('A')['values'].transform(np.sum)

In [23]: df
Out[23]:
   A  B  values  sum_values_A
0  1  1      10            25
1  1  2      15            25
2  2  1      20            45
3  2  2      25            45

Checking the answer Id = 13257677 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13269890
Code to compile
from pandas import DataFrame, merge
df1 = DataFrame({'key':[1,1], 'col1':[1,2],'col2':[3,4]})
df2 = DataFrame({'key':[1,1], 'col3':[5,6]})

merge(df1, df2,on='key')[['col1', 'col2', 'col3']]

Checking the answer Id = 13270110 | Errors = ['Sucess']
Code to compile
days = pd.DataFrame({'date':list_of_days})
stores = pd.DataFrame({'store_id':list_of_stores})
stores['key'] = 0
days['key'] = 0
days_and_stores = days.merge(stores, how='left', on = 'key')
days_and_stores.drop('key',1, inplace=True)

Checking the answer Id = 32700453 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
13293810
Code to compile
In [2]: read_csv('sample.csv', dtype={'ID': object})
Out[2]:
                           ID
0  00013007854817840016671868
1  00013007854817840016749251
2  00013007854817840016754630
3  00013007854817840016781876
4  00013007854817840017028824
5  00013007854817840017963235
6  00013007854817840018860166

Checking the answer Id = 13384494 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13295735
Code to compile
In [7]: df
Out[7]:
          0         1
0       NaN       NaN
1 -0.494375  0.570994
2       NaN       NaN
3  1.876360 -0.229738
4       NaN       NaN

In [8]: df.fillna(0)
Out[8]:
          0         1
0  0.000000  0.000000
1 -0.494375  0.570994
2  0.000000  0.000000
3  1.876360 -0.229738
4  0.000000  0.000000

Code to compile
In [12]: df[1].fillna(0, inplace=True)
Out[12]:
0    0.000000
1    0.570994
2    0.000000
3   -0.229738
4    0.000000
Name: 1

In [13]: df
Out[13]:
          0         1
0       NaN  0.000000
1 -0.494375  0.570994
2       NaN  0.000000
3  1.876360 -0.229738
4       NaN  0.000000

Checking the answer Id = 13295801 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
idx = pd.IndexSlice
df.loc[idx[:,mask_1],idx[mask_2,:]].fillna(value=0,inplace=True)

Code to compile
df.update(df.loc[idx[:,mask_1],idx[[mask_2],:]].fillna(value=0))

Checking the answer Id = 30587837 | Errors = ["name 'pd' is not defined", "name 'df' is not defined"]
Code to compile
import pandas

df = pandas.read_csv('somefile.txt')

df = df.fillna(0)

Checking the answer Id = 39478896 | Errors = ["File b'somefile.txt' does not exist"]
Code to compile
df['column']=df['column'].fillna(value)

Checking the answer Id = 39891994 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
13331518
Code to compile
x = p.Series()
N = 4
for i in xrange(N):
   x = x.set_value(i, i**2)

Code to compile
0    0
1    1
2    4
3    9

Checking the answer Id = 13332682 | Errors = ["name 'p' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
test.append(pd.Series(200, index=[101]))

Checking the answer Id = 13456432 | Errors = ["name 'test' is not defined"]
Code to compile
In [1]: import pandas as pd
In [2]: import numpy as np

In [3]: s = pd.Series(np.arange(4)**2, index=np.arange(4))

In [4]: s
Out[4]:
0    0
1    1
2    4
3    9
dtype: int64

In [6]: id(s.index), id(s.values)
Out[6]: (4470549648, 4470593296)

Code to compile
In [7]: s[2] = 14

In [8]: id(s.index), id(s.values)
Out[8]: (4470549648, 4470593296)

Code to compile
In [9]: s[4] = 16

In [10]: s
Out[10]:
0     0
1     1
2    14
3     9
4    16
dtype: int64

In [11]: id(s.index), id(s.values)
Out[11]: (4470548560, 4470595056)

Code to compile
In [13]: new_items = {item: item**2 for item in range(5, 7)}

In [14]: s2 = pd.Series(new_items)

In [15]: s2  # keys are guaranteed to be sorted!
Out[15]:
5    25
6    36
dtype: int64

In [16]: s = s.append(s2); s
Out[16]:
0     0
1     1
2    14
3     9
4    16
5    25
6    36
dtype: int64

Checking the answer Id = 37992805 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13331698
Code to compile
In [49]: df
Out[49]:
          0         1
0  1.000000  0.000000
1 -0.494375  0.570994
2  1.000000  0.000000
3  1.876360 -0.229738
4  1.000000  0.000000

In [50]: def f(x):
   ....:  return x[0] + x[1]
   ....:

In [51]: df.apply(f, axis=1) #passes a Series object, row-wise
Out[51]:
0    1.000000
1    0.076619
2    1.000000
3    1.646622
4    1.000000

Checking the answer Id = 13337376 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 16826250 | Errors = []
Code to compile
df['col_3'] = df.col_1.combine(df.col_2, func=get_sublist)

Code to compile
ValueError: setting an array element with a sequence.

Code to compile
df['col_3'] = df.col_1.astype(object).combine(df.col_2, func=get_sublist)

df

   ID   col_1   col_2   col_3
0   1   0   1   [a, b]
1   2   2   4   [c, d, e]
2   3   3   5   [d, e, f]

Checking the answer Id = 28881373 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 5)']
Code to compile
import pandas as pd

def sublst(row):
    return lst[row['J1']:row['J2']]

df = pd.DataFrame({'ID':['1','2','3'], 'J1': [0,2,3], 'J2':[1,4,5]})
print df
lst = ['a','b','c','d','e','f']

df['J3'] = df.apply(sublst,axis=1)
print df

Code to compile
  ID  J1  J2
0  1   0   1
1  2   2   4
2  3   3   5
  ID  J1  J2      J3
0  1   0   1     [a]
1  2   2   4  [c, d]
2  3   3   5  [d, e]

Code to compile
import pandas as pd

df = pd.DataFrame({'ID':['1','2','3'], 'J1': [0,2,3], 'J2':[1,4,5]})
print df
lst = ['a','b','c','d','e','f']

df['J3'] = df.apply(lambda row:lst[row['J1']:row['J2']],axis=1)
print df

Checking the answer Id = 29837754 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 7)", 'unexpected indent (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 4)"]
Code to compile
df['col_3'] = df[['col_1','col_2']].apply(lambda x: f(*x), axis=1)

Checking the answer Id = 39259437 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
13370525
Code to compile
date_index = pd.DatetimeIndex([pd.datetime(2003,6,24), pd.datetime(2003,8,13),
        pd.datetime(2003,8,19), pd.datetime(2003,8,22), pd.datetime(2003,8,24)])

ts = pd.Series([2,1,2,1,5], index=date_index)

Code to compile
2003-06-24    2
2003-08-13    1
2003-08-19    2
2003-08-22    1
2003-08-24    5

Code to compile
ts.reindex(pd.date_range(min(date_index), max(date_index)))

Code to compile
2003-06-24     2
2003-06-25   NaN
2003-06-26   NaN
2003-06-27   NaN
2003-06-28   NaN
2003-06-29   NaN
2003-06-30   NaN
2003-07-01   NaN
2003-07-02   NaN
2003-07-03   NaN
2003-07-04   NaN
2003-07-05   NaN
2003-07-06   NaN
2003-07-07   NaN
2003-07-08   NaN
2003-07-09   NaN
2003-07-10   NaN
2003-07-11   NaN
2003-07-12   NaN
2003-07-13   NaN
2003-07-14   NaN
2003-07-15   NaN
2003-07-16   NaN
2003-07-17   NaN
2003-07-18   NaN
2003-07-19   NaN
2003-07-20   NaN
2003-07-21   NaN
2003-07-22   NaN
2003-07-23   NaN
2003-07-24   NaN
2003-07-25   NaN
2003-07-26   NaN
2003-07-27   NaN
2003-07-28   NaN
2003-07-29   NaN
2003-07-30   NaN
2003-07-31   NaN
2003-08-01   NaN
2003-08-02   NaN
2003-08-03   NaN
2003-08-04   NaN
2003-08-05   NaN
2003-08-06   NaN
2003-08-07   NaN
2003-08-08   NaN
2003-08-09   NaN
2003-08-10   NaN
2003-08-11   NaN
2003-08-12   NaN
2003-08-13     1
2003-08-14   NaN
2003-08-15   NaN
2003-08-16   NaN
2003-08-17   NaN
2003-08-18   NaN
2003-08-19     2
2003-08-20   NaN
2003-08-21   NaN
2003-08-22     1
2003-08-23   NaN
2003-08-24     5
Freq: D, Length: 62

Checking the answer Id = 13371090 | Errors = ["name 'pd' is not defined", 'invalid token (<unknown>, line 1)', "name 'ts' is not defined", 'invalid token (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13385860
Checking the answer Id = 13385921 | Errors = []
Code to compile
import pandas as pd

def strip(text):
    try:
        return text.strip()
    except AttributeError:
        return text

def make_int(text):
    return int(text.strip('" '))

table = pd.read_table("data.csv", sep=r',',
                      names=["Year", "Make", "Model", "Description"],
                      converters = {'Description' : strip,
                                    'Model' : strip,
                                    'Make' : strip,
                                    'Year' : make_int})
print(table)

Code to compile
   Year     Make   Model              Description
0  1997     Ford    E350                     None
1  1997     Ford    E350                     None
2  1997     Ford    E350   Super, luxurious truck
3  1997     Ford    E350  Super "luxurious" truck
4  1997     Ford    E350    Super luxurious truck
5  1997     Ford    E350                     None
6  1997     Ford    E350                     None
7  2000  Mercury  Cougar                     None

Checking the answer Id = 13386025 | Errors = ["File b'data.csv' does not exist", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13389203
Code to compile
In [11]: s.loc[('b', slice(2, 10))]
Out[11]:
b  2   -0.65394
   4    0.08227
dtype: float64

Code to compile
In [12]: s.loc[(slice('a', 'b'), slice(2, 10))]
Out[12]:
a  5    0.27919
b  2   -0.65394
   4    0.08227
dtype: float64

Code to compile
s.ix[1:10, "b"]

Code to compile
s["b"].iloc[1:10]

Checking the answer Id = 13389808 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 's' is not defined", "name 's' is not defined"]
----------------------------------------
----------------------------------------
13404468
Code to compile
from scipy.stats import ttest_ind

cat1 = my_data[my_data['Category']=='cat1']
cat2 = my_data[my_data['Category']=='cat2']

ttest_ind(cat1['values'], cat2['values'])
>>> (1.4927289925706944, 0.16970867501294376)

Checking the answer Id = 13413842 | Errors = ['invalid syntax (<unknown>, line 7)']
----------------------------------------
----------------------------------------
13411544
Code to compile
In [1]: df = DataFrame([[1, 2, 3], [4, 5, 6]])

In [2]: df[1]
Out[2]:
0    2
1    5
Name: 1

In [3]: df.1
  File "<ipython-input-3-e4803c0d1066>", line 1
    df.1
       ^
SyntaxError: invalid syntax

Checking the answer Id = 13415772 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 13485766 | Errors = []
Code to compile
df = df.drop('column_name', 1)

Code to compile
df.drop('column_name', axis=1, inplace=True)

Code to compile
df.drop(df.columns[[0, 1, 3]], axis=1)  # df.columns is zero-based pd.Index

Checking the answer Id = 18145399 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
Code to compile
df.drop([Column Name or list],inplace=True,axis=1)

Checking the answer Id = 22596982 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.drop(df.columns[[0,1,3]], axis=1, inplace=True)

Code to compile
df.drop(df.columns[[0]], axis=1, inplace=True)

Code to compile
df.pop('column-name')

Code to compile
df = DataFrame.from_items([('A', [1, 2, 3]), ('B', [4, 5, 6]), ('C', [7,8, 9])], orient='index', columns=['one', 'two', 'three'])

Code to compile
   one  two  three
A    1    2      3
B    4    5      6
C    7    8      9

Code to compile
   two  three
A    2      3
B    5      6
C    8      9

Code to compile
   two
A    2
B    5
C    8

Checking the answer Id = 31431997 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'DataFrame' is not defined", 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Code to compile
df.drop(['col_name_1','col_name_2',...,'col_name_N'],inplace=True,axis=1,errors='ignore')

Checking the answer Id = 34576537 | Errors = ["name 'df' is not defined"]
Code to compile
df.drop([col for col in ['col_name_1','col_name_2',...,'col_name_N'] if col in df],
        axis=1, inplace=True)

Checking the answer Id = 35385805 | Errors = ["name 'df' is not defined"]
Code to compile
df.drop(['column_name'], axis = 1, inplace = True, errors = 'ignore')

Checking the answer Id = 36958937 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 37000877 | Errors = []
Code to compile
#for dropping single column
df = df.drop('your_column', axis=1)

#for dropping multiple columns
df = df.drop(['col_1','col_2','col_3'], axis=1)

Checking the answer Id = 45357725 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
13413590
Code to compile
df = df[np.isfinite(df['EPS'])]

Checking the answer Id = 13413845 | Errors = ["name 'df' is not defined"]
Code to compile
In [24]: df = pd.DataFrame(np.random.randn(10,3))

In [25]: df.iloc[::2,0] = np.nan; df.iloc[::4,1] = np.nan; df.iloc[::3,2] = np.nan;

In [26]: df
Out[26]:
          0         1         2
0       NaN       NaN       NaN
1  2.677677 -1.466923 -0.750366
2       NaN  0.798002 -0.906038
3  0.672201  0.964789       NaN
4       NaN       NaN  0.050742
5 -1.250970  0.030561 -2.678622
6       NaN  1.036043       NaN
7  0.049896 -0.308003  0.823295
8       NaN       NaN  0.637482
9 -0.310130  0.078891       NaN

Code to compile
In [27]: df.dropna()     #drop all rows that have any NaN values
Out[27]:
          0         1         2
1  2.677677 -1.466923 -0.750366
5 -1.250970  0.030561 -2.678622
7  0.049896 -0.308003  0.823295

Code to compile
In [28]: df.dropna(how='all')     #drop only if ALL columns are NaN
Out[28]:
          0         1         2
1  2.677677 -1.466923 -0.750366
2       NaN  0.798002 -0.906038
3  0.672201  0.964789       NaN
4       NaN       NaN  0.050742
5 -1.250970  0.030561 -2.678622
6       NaN  1.036043       NaN
7  0.049896 -0.308003  0.823295
8       NaN       NaN  0.637482
9 -0.310130  0.078891       NaN

Code to compile
In [29]: df.dropna(thresh=2)   #Drop row if it does not have at least two values that are **not** NaN
Out[29]:
          0         1         2
1  2.677677 -1.466923 -0.750366
2       NaN  0.798002 -0.906038
3  0.672201  0.964789       NaN
5 -1.250970  0.030561 -2.678622
7  0.049896 -0.308003  0.823295
9 -0.310130  0.078891       NaN

Code to compile
In [30]: df.dropna(subset=[1])   #Drop only if NaN in specific column (as asked in the question)
Out[30]:
          0         1         2
1  2.677677 -1.466923 -0.750366
2       NaN  0.798002 -0.906038
3  0.672201  0.964789       NaN
5 -1.250970  0.030561 -2.678622
6       NaN  1.036043       NaN
7  0.049896 -0.308003  0.823295
9 -0.310130  0.078891       NaN

Checking the answer Id = 13434501 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
df = df[pd.notnull(df['EPS'])]

Checking the answer Id = 23235618 | Errors = ["name 'df' is not defined"]
Code to compile
In [332]: df[df.EPS.notnull()]
Out[332]:
   STK_ID  RPT_Date  STK_ID.1  EPS  cash
2  600016  20111231    600016  4.3   NaN
4  601939  20111231    601939  2.5   NaN


In [334]: df[~df.EPS.isnull()]
Out[334]:
   STK_ID  RPT_Date  STK_ID.1  EPS  cash
2  600016  20111231    600016  4.3   NaN
4  601939  20111231    601939  2.5   NaN


In [347]: df[~np.isnan(df.EPS)]
Out[347]:
   STK_ID  RPT_Date  STK_ID.1  EPS  cash
2  600016  20111231    600016  4.3   NaN
4  601939  20111231    601939  2.5   NaN

Checking the answer Id = 34082664 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13445174
Code to compile
pd.date_range(start, end, freq='M').shift(15, freq=pd.datetools.day)

Checking the answer Id = 13446268 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
13445241
Code to compile
d = d.applymap(lambda x: np.nan if isinstance(x, basestring) and x.isspace() else x)

Checking the answer Id = 13445630 | Errors = ["name 'd' is not defined"]
Code to compile
df = pd.DataFrame([
    [-0.532681, 'foo', 0],
    [1.490752, 'bar', 1],
    [-1.387326, 'foo', 2],
    [0.814772, 'baz', ' '],
    [-0.222552, '   ', 4],
    [-1.176781,  'qux', '  '],
], columns='A B C'.split(), index=pd.date_range('2000-01-01','2000-01-06'))

print df.replace(r'\s+', np.nan, regex=True)

Code to compile
                   A    B   C
2000-01-01 -0.532681  foo   0
2000-01-02  1.490752  bar   1
2000-01-03 -1.387326  foo   2
2000-01-04  0.814772  baz NaN
2000-01-05 -0.222552  NaN   4
2000-01-06 -1.176781  qux NaN

Checking the answer Id = 21942746 | Errors = ['invalid syntax (<unknown>, line 10)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13446480
Code to compile
data[data.groupby('tag').pid.transform(len) > 1]

Code to compile
import pandas
import numpy as np
data = pandas.DataFrame(
    {'pid' : [1,1,1,2,2,3,3,3],
     'tag' : [23,45,62,24,45,34,25,62],
     })

bytag = data.groupby('tag').aggregate(np.count_nonzero)
tags = bytag[bytag.pid >= 2].index
print(data[data['tag'].isin(tags)])

   pid  tag
1    1   45
2    1   62
4    2   45
7    3   62
Code to compile
   pid  tag
1    1   45
2    1   62
4    2   45
7    3   62

Checking the answer Id = 13447176 | Errors = ["name 'data' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)']
Code to compile
In [11]: g = data.groupby('tag')

In [12]: g.filter(lambda x: len(x) > 1)  # pandas 0.13.1
Out[12]:
   pid  tag
1    1   45
2    1   62
4    2   45
7    3   62

Code to compile
In [21]: g.filter(lambda x: len(x) > 1)  # pandas 0.12
Out[21]:
   pid  tag
1    1   45
4    2   45
2    1   62
7    3   62

Checking the answer Id = 18357933 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13575090
Code to compile
user_dict = {12: {'Category 1': {'att_1': 1, 'att_2': 'whatever'},
                  'Category 2': {'att_1': 23, 'att_2': 'another'}},
             15: {'Category 1': {'att_1': 10, 'att_2': 'foo'},
                  'Category 2': {'att_1': 30, 'att_2': 'bar'}}}

pd.DataFrame.from_dict({(i,j): user_dict[i][j]
                           for i in user_dict.keys()
                           for j in user_dict[i].keys()},
                       orient='index')


               att_1     att_2
12 Category 1      1  whatever
   Category 2     23   another
15 Category 1     10       foo
   Category 2     30       bar

Code to compile
user_ids = []
frames = []

for user_id, d in user_dict.iteritems():
    user_ids.append(user_id)
    frames.append(pd.DataFrame.from_dict(d, orient='index'))

pd.concat(frames, keys=user_ids)

               att_1     att_2
12 Category 1      1  whatever
   Category 2     23   another
15 Category 1     10       foo
   Category 2     30       bar

Checking the answer Id = 13581730 | Errors = ['unexpected indent (<unknown>, line 12)', 'unexpected indent (<unknown>, line 10)']
Code to compile
import pandas as pd
d
{'RAY Index': {datetime.date(2014, 11, 3): {'PX_LAST': 1199.46,
'PX_OPEN': 1200.14},
datetime.date(2014, 11, 4): {'PX_LAST': 1195.323, 'PX_OPEN': 1197.69},
datetime.date(2014, 11, 5): {'PX_LAST': 1200.936, 'PX_OPEN': 1195.32},
datetime.date(2014, 11, 6): {'PX_LAST': 1206.061, 'PX_OPEN': 1200.62}},
'SPX Index': {datetime.date(2014, 11, 3): {'PX_LAST': 2017.81,
'PX_OPEN': 2018.21},
datetime.date(2014, 11, 4): {'PX_LAST': 2012.1, 'PX_OPEN': 2015.81},
datetime.date(2014, 11, 5): {'PX_LAST': 2023.57, 'PX_OPEN': 2015.29},
datetime.date(2014, 11, 6): {'PX_LAST': 2031.21, 'PX_OPEN': 2023.33}}}

Code to compile
pd.Panel(d)
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 2 (major_axis) x 4 (minor_axis)
Items axis: RAY Index to SPX Index
Major_axis axis: PX_LAST to PX_OPEN
Minor_axis axis: 2014-11-03 to 2014-11-06

Code to compile
pd.Panel(d)['SPX Index']
2014-11-03  2014-11-04  2014-11-05 2014-11-06
PX_LAST 2017.81 2012.10 2023.57 2031.21
PX_OPEN 2018.21 2015.81 2015.29 2023.33

Code to compile
pd.Panel(d).to_frame().reset_index()
major   minor      RAY Index    SPX Index
PX_LAST 2014-11-03  1199.460    2017.81
PX_LAST 2014-11-04  1195.323    2012.10
PX_LAST 2014-11-05  1200.936    2023.57
PX_LAST 2014-11-06  1206.061    2031.21
PX_OPEN 2014-11-03  1200.140    2018.21
PX_OPEN 2014-11-04  1197.690    2015.81
PX_OPEN 2014-11-05  1195.320    2015.29
PX_OPEN 2014-11-06  1200.620    2023.33

Code to compile
pd.Panel(d).transpose(2,0,1).to_frame().reset_index()
major        minor  2014-11-03  2014-11-04  2014-11-05  2014-11-06
RAY Index   PX_LAST 1199.46    1195.323     1200.936    1206.061
RAY Index   PX_OPEN 1200.14    1197.690     1195.320    1200.620
SPX Index   PX_LAST 2017.81    2012.100     2023.570    2031.210
SPX Index   PX_OPEN 2018.21    2015.810     2015.290    2023.330

Checking the answer Id = 26803731 | Errors = ["name 'd' is not defined", 'invalid syntax (<unknown>, line 2)', 'invalid token (<unknown>, line 2)', 'invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
13582449
Code to compile
>>> df = DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
>>>                         'foo', 'bar', 'foo', 'foo'],
...                  'B' : ['one', 'one', 'two', 'three',
...                         'two', 'two', 'one', 'three'],
...                  'C' : randn(8), 'D' : randn(8)})
>>> grouped = df.groupby('A')
>>> grouped
<pandas.core.groupby.DataFrameGroupBy object at 0x04E2F630>
>>> test = grouped.aggregate(np.sum)
>>> test
            C         D
A
bar -1.852376  2.204224
foo -3.398196 -0.045082

Checking the answer Id = 13583024 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13611065
Code to compile
In [11]: df.loc[df['col1'] >= 1, 'col1']
Out[11]:
1    1
2    2
Name: col1

In [12]: df[df['col1'] >= 1]
Out[12]:
   col1  col2
1     1    11
2     2    12

In [13]: df[(df['col1'] >= 1) & (df['col1'] <=1 )]
Out[13]:
   col1  col2
1     1    11

Code to compile
In [14]: def b(x, col, op, n):
             return op(x[col],n)

In [15]: def f(x, *b):
             return x[(np.logical_and(*b))]

In [16]: b1 = b(df, 'col1', ge, 1)

In [17]: b2 = b(df, 'col1', le, 1)


----------------------------------------
----------------------------------------
13636848
Code to compile
In [23]: import difflib

In [24]: difflib.get_close_matches
Out[24]: <function difflib.get_close_matches>

In [25]: df2.index = df2.index.map(lambda x: difflib.get_close_matches(x, df1.index)[0])

In [26]: df2
Out[26]:
      letter
one        a
two        b
three      c
four       d
five       e

In [31]: df1.join(df2)
Out[31]:
       number letter
one         1      a
two         2      b
three       3      c
four        4      d
five        5      e

Code to compile
df1 = DataFrame([[1,'one'],[2,'two'],[3,'three'],[4,'four'],[5,'five']], columns=['number', 'name'])
df2 = DataFrame([['a','one'],['b','too'],['c','three'],['d','fours'],['e','five']], columns=['letter', 'name'])

df2['name'] = df2['name'].apply(lambda x: difflib.get_close_matches(x, df1['name'])[0])
df1.merge(df2)

Checking the answer Id = 13680953 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'DataFrame' is not defined"]
----------------------------------------
----------------------------------------
13651117
Code to compile
iter_csv = pandas.read_csv('file.csv', iterator=True, chunksize=1000)
df = pd.concat([chunk[chunk['field'] > constant] for chunk in iter_csv])

Checking the answer Id = 13653490 | Errors = ["name 'pandas' is not defined"]
----------------------------------------
----------------------------------------
13654699
Code to compile
In [1]: import pandas as pd

In [2]: pd.to_datetime('2008-02-27')
Out[2]: datetime.datetime(2008, 2, 27, 0, 0)

Code to compile
df.index = pd.to_datetime(df.index)

Code to compile
df['date_col'] = df['date_col'].apply(pd.to_datetime)

Checking the answer Id = 13655271 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'pd' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
13659881
Code to compile
d.groupby(['ip', 'useragent']).count()

Code to compile
ip          useragent
192.168.0.1 a           2
            b           1
192.168.0.2 b           1

Checking the answer Id = 13659944 | Errors = ["name 'd' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13682044
Code to compile
data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

Checking the answer Id = 13682381 | Errors = ["name 'data' is not defined"]
Code to compile
In [8]: df['result'].str.lstrip('+-').str.rstrip('aAbBcC')
Out[8]:
1     52
2     62
3     44
4     30
5    110
Name: result

Checking the answer Id = 13688105 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
data['result'] = data['result'].map(lambda x: str(x)[:-1])

Code to compile
data['result'] = data['result'].map(lambda x: str(x)[2:])

Checking the answer Id = 22238380 | Errors = ["name 'data' is not defined", "name 'data' is not defined"]
Code to compile
data['result'].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')

Checking the answer Id = 28252957 | Errors = ["name 'data' is not defined"]
----------------------------------------
----------------------------------------
13703720
Code to compile
In [11]: str(dt64)
Out[11]: '2012-05-01T01:00:00.000000+0100'

In [12]: pd.to_datetime(str(dt64))
Out[12]: datetime.datetime(2012, 5, 1, 1, 0, tzinfo=tzoffset(None, 3600))

Code to compile
In [13]: pd.to_datetime(str(dt64)).replace(tzinfo=None)
Out[13]: datetime.datetime(2012, 5, 1, 1, 0)

Code to compile
In [21]: dt64 = numpy.datetime64('2002-06-28T01:00:00.000000000+0100')

In [22]: pd.to_datetime(str(dt64)).replace(tzinfo=None)
Out[22]: datetime.datetime(2002, 6, 28, 1, 0)

Checking the answer Id = 13703721 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
>>> dt64.tolist()
datetime.datetime(2012, 5, 1, 0, 0)

Checking the answer Id = 13703930 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> from datetime import datetime
>>> import numpy as np
>>> dt = datetime.utcnow()
>>> dt
datetime.datetime(2012, 12, 4, 19, 51, 25, 362455)
>>> dt64 = np.datetime64(dt)
>>> ts = (dt64 - np.datetime64('1970-01-01T00:00:00Z')) / np.timedelta64(1, 's')
>>> ts
1354650685.3624549
>>> datetime.utcfromtimestamp(ts)
datetime.datetime(2012, 12, 4, 19, 51, 25, 362455)
>>> np.__version__
'1.8.0.dev-7b75899'

Code to compile
>>> np.datetime64(datetime.utcnow()).astype(datetime)
datetime.datetime(2012, 12, 4, 13, 34, 52, 827542)

Code to compile
>>> from datetime import datetime
>>> import numpy
>>> numpy.datetime64('2002-06-28T01:00:00.000000000+0100').astype(datetime)
datetime.datetime(2002, 6, 28, 0, 0)
>>> numpy.__version__
'1.6.2' # current version available via pip install numpy

Code to compile
pip install git+https://github.com/numpy/numpy.git#egg=numpy-dev

Code to compile
>>> from datetime import datetime
>>> import numpy
>>> numpy.datetime64('2002-06-28T01:00:00.000000000+0100').astype(datetime)
1025222400000000000L
>>> numpy.__version__
'1.8.0.dev-7b75899'

Code to compile
>>> dt64.dtype
dtype('<M8[ns]')
>>> ns = 1e-9 # number of seconds in a nanosecond
>>> datetime.utcfromtimestamp(dt64.astype(int) * ns)
datetime.datetime(2002, 6, 28, 0, 0)

Code to compile
>>> dt64 = numpy.datetime64('2002-06-28T01:00:00.000000000+0100', 's')
>>> dt64.dtype
dtype('<M8[s]')
>>> datetime.utcfromtimestamp(dt64.astype(int))
datetime.datetime(2002, 6, 28, 0, 0)

Checking the answer Id = 13704307 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [16]: Timestamp(numpy.datetime64('2012-05-01T01:00:00.000000'))
Out[16]: <Timestamp: 2012-05-01 01:00:00>

Code to compile
numpy.datetime64('2012-05-01T01:00:00.000000+0100')

Code to compile
In [24]: pandas.to_datetime('2012-05-01T01:00:00.000000+0100')
Out[24]: datetime.datetime(2012, 5, 1, 1, 0, tzinfo=tzoffset(None, 3600))

Checking the answer Id = 13753918 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'numpy' is not defined", 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 21916253 | Errors = []
----------------------------------------
----------------------------------------
13740672
Code to compile
data['weekday'] = data['my_dt'].apply(lambda x: x.weekday())

Code to compile
weekdays_only = data[data['weekday'] < 5 ]

Checking the answer Id = 13741439 | Errors = ["name 'data' is not defined", "name 'data' is not defined"]
Code to compile
temp = pd.DatetimeIndex(data['my_dt'])
data['weekday'] = temp.weekday

Checking the answer Id = 25561094 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
13757090
Code to compile
df1 = pandas.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
             'dat a1': range(7)})

df1['dat a1']

Checking the answer Id = 13758846 | Errors = ["name 'pandas' is not defined"]
Code to compile
df1.columns = [c.replace(' ', '_') for c in df1.columns]

Checking the answer Id = 30514678 | Errors = ["name 'df1' is not defined"]
----------------------------------------
----------------------------------------
13784192
Code to compile
import datetime
import pandas as pd
import numpy as np

todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date-datetime.timedelta(10), periods=10, freq='D')

columns = ['A','B', 'C']

Code to compile
df_ = pd.DataFrame(index=index, columns=columns)
df_ = df_.fillna(0) # with 0s rather than NaNs

Code to compile
data = np.array([np.arange(10)]*3).T

Code to compile
In [10]: df = pd.DataFrame(data, index=index, columns=columns)

In [11]: df
Out[11]:
            A  B  C
2012-11-29  0  0  0
2012-11-30  1  1  1
2012-12-01  2  2  2
2012-12-02  3  3  3
2012-12-03  4  4  4
2012-12-04  5  5  5
2012-12-05  6  6  6
2012-12-06  7  7  7
2012-12-07  8  8  8
2012-12-08  9  9  9

Checking the answer Id = 13786327 | Errors = ['Sucess', "name 'pd' is not defined", "name 'np' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
newDF = pd.DataFrame() #creates a new dataframe that's empty
newDF = newDF.append(oldDF, ignore_index = True) # ignoring index is optional
# try printing some data from newDF
print newDF.head() #again optional

Checking the answer Id = 41529411 | Errors = ['invalid syntax (<unknown>, line 4)']
----------------------------------------
----------------------------------------
13785932
Code to compile
np.round(dtindex_or_datetime_col.astype(np.int64), -9).astype('datetime64[ns]')

Code to compile
from pandas.lib import Timestamp

t1 = Timestamp('2012-1-1 00:00:00')
t2 = Timestamp('2012-1-1 00:00:00.000333')

In [4]: t1
Out[4]: <Timestamp: 2012-01-01 00:00:00>

In [5]: t2
Out[5]: <Timestamp: 2012-01-01 00:00:00.000333>

In [6]: t2.microsecond
Out[6]: 333

In [7]: t1.value
Out[7]: 1325376000000000000L

In [8]: t2.value
Out[8]: 1325376000000333000L

# Alternatively: t2.value - t2.value % 1000000000
In [9]: long(round(t2.value, -9)) # round milli-, micro- and nano-seconds
Out[9]: 1325376000000000000L

In [10]: Timestamp(long(round(t2.value, -9)))
Out[10]: <Timestamp: 2012-01-01 00:00:00>

Code to compile
def to_the_second(ts):
    return Timestamp(long(round(ts.value, -9)))

dtindex.map(to_the_second)

Checking the answer Id = 13788301 | Errors = ["name 'np' is not defined", 'invalid syntax (<unknown>, line 6)', "name 'dtindex' is not defined"]
Code to compile
In[114]: index = pd.DatetimeIndex([pd.Timestamp('2012-01-01 02:03:04.000'), pd.Timestamp('2012-01-01 02:03:04.002'), pd.Timestamp('20130712 02:03:04.500'), pd.Timestamp('2012-01-01 02:03:04.501')])

In[115]: index.values
Out[115]:
array(['2012-01-01T02:03:04.000000000', '2012-01-01T02:03:04.002000000',
       '2013-07-12T02:03:04.500000000', '2012-01-01T02:03:04.501000000'], dtype='datetime64[ns]')

In[116]: index.round('S')
Out[116]:
DatetimeIndex(['2012-01-01 02:03:04', '2012-01-01 02:03:04',
               '2013-07-12 02:03:04', '2012-01-01 02:03:05'],
              dtype='datetime64[ns]', freq=None)

Checking the answer Id = 39310387 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13838405
Code to compile
In [21]: df['m'] = pd.Categorical(df['m'], ["March", "April", "Dec"])

In [22]: df  # looks the same!
Out[22]:
   a  b      m
0  1  2  March
1  5  6    Dec
2  3  4  April

Code to compile
In [23]: df.sort("m")
Out[23]:
   a  b      m
0  1  2  March
2  3  4  April
1  5  6    Dec

Code to compile
df = pd.DataFrame([[1, 2, 'March'],[5, 6, 'Dec'],[3, 4, 'April']], columns=['a','b','m'])
s = df['m'].apply(lambda x: {'March':0, 'April':1, 'Dec':3}[x])
s.sort()

In [4]: df.set_index(s.index).sort()
Out[4]:
   a  b      m
0  1  2  March
1  3  4  April
2  5  6    Dec

Code to compile
s = df['m'].replace({'March':0, 'April':1, 'Dec':3})

Checking the answer Id = 13839029 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 5)', "name 'df' is not defined"]
Code to compile
def sort_pd(key=None,reverse=False,cmp=None):
    def sorter(series):
        series_list = list(series)
        return [series_list.index(i)
           for i in sorted(series_list,key=key,reverse=reverse,cmp=cmp)]
    return sorter

Code to compile
df = pd.DataFrame([
    [1, 2, 'March'],
    [5, 6, 'Dec'],
    [3, 4, 'April']],
  columns=['a','b','m'])

custom_dict = {'March':0, 'April':1, 'Dec':3}
sort_by_custom_dict = sort_pd(key=custom_dict.get)

In [6]: df.iloc[sort_by_custom_dict(df['m'])]
Out[6]:
   a  b  m
0  1  2  March
2  3  4  April
1  5  6  Dec

Code to compile
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

df = pd.DataFrame([
    ['New York','Mar',12714],
    ['New York','Apr',89238],
    ['Atlanta','Jan',8161],
    ['Atlanta','Sep',5885],
  ],columns=['location','month','sales']).set_index(['location','month'])

sort_by_month = sort_pd(key=months.index)

In [10]: df.iloc[sort_by_month(df.index.get_level_values('month'))]
Out[10]:
                 sales
location  month
Atlanta   Jan    8161
New York  Mar    12714
          Apr    89238
Atlanta   Sep    5885

sort_by_last_digit = sort_pd(key=lambda x: x%10)

In [12]: pd.Series(list(df['sales'])).iloc[sort_by_last_digit(df['sales'])]
Out[12]:
2    8161
0   12714
3    5885
1   89238

Checking the answer Id = 27009771 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 10)', 'invalid syntax (<unknown>, line 12)']
----------------------------------------
----------------------------------------
13842088
Code to compile
df.xs('C')['x']=10

Code to compile
df['x']['C'] = 10

Code to compile
df.xs('C', copy = False)['x']=10

Code to compile
In [18]: %timeit df.set_value('C', 'x', 10)
100000 loops, best of 3: 2.9 µs per loop

In [20]: %timeit df['x']['C'] = 10
100000 loops, best of 3: 6.31 µs per loop

In [19]: %timeit df.ix['C','x'] = 10
10000 loops, best of 3: 104 µs per loop

In [32]: %timeit df.xs('C', copy=False)['x'] = 10
10000 loops, best of 3: 89.2 µs per loop

Checking the answer Id = 13842286 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
df.ix['x','C']=10

Checking the answer Id = 21287539 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 24517695 | Errors = []
Checking the answer Id = 33149986 | Errors = []
Code to compile
df.loc[df[<some_column_name>] == <condition>, <another_column_name>] = <value_to_add>

Checking the answer Id = 38467449 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13851535
Code to compile
df[df['column name'].map(len) < 2]

Checking the answer Id = 13851602 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 27360130 | Errors = []
Code to compile
df= df[df["score"] > 50]

Checking the answer Id = 40110335 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
13854476
Code to compile
>>> print d
   A  B  C
0 -2  5  4
1  1 -1  2
2  0  2  1
3 -3  1  2
4  5  0  2
>>> def foo(df):
...     print ">>>"
...     print df
...     print "<<<"
...     return df
>>> print d.groupby('C').transform(foo)
>>>
2    0
Name: A
<<<
>>>
2    2
Name: B
<<<
>>>
1    1
3   -3
4    5
Name: A
<<<
>>>
1   -1
3    1
4    0
Name: B
# etc.

Checking the answer Id = 13854901 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13872533
Code to compile
ax = df1.plot()
df2.plot(ax=ax)

Checking the answer Id = 13873014 | Errors = ["name 'df1' is not defined"]
Code to compile
In [1]: df
Out[1]:
            value
datetime
2010-01-01      1
2010-02-01      1
2009-01-01      1

# create additional month and year columns for convenience
df['Month'] = map(lambda x: x.month, df.index)
df['Year'] = map(lambda x: x.year, df.index)

In [5]: df.groupby(['Month','Year']).mean().unstack()
Out[5]:
       value
Year    2009  2010
Month
1          1     1
2        NaN     1

Code to compile
df.groupby(['Month','Year']).mean().unstack().plot()

Checking the answer Id = 13876784 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
13888468
Code to compile
In [11]: df
Out[11]:
       C
A B
0 one  3
1 one  2
2 two  1

In [12]: df.index.levels[1]
Out[12]: Index([one, two], dtype=object)

Checking the answer Id = 13888546 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
import numpy as np

np.random.seed(0)

idx = pd.MultiIndex.from_product([['John', 'Josh', 'Alex'], list('abcde')],
                                 names=['Person', 'Letter'])
large = pd.DataFrame(data=np.random.randn(15, 2),
                     index=idx,
                     columns=['one', 'two'])
small = large.loc[['Jo'==d[0:2] for d in large.index.get_level_values('Person')]]

print small.index.levels[0]
print large.index.levels[0]

Code to compile
Index([u'Alex', u'John', u'Josh'], dtype='object')
Index([u'Alex', u'John', u'Josh'], dtype='object')

Code to compile
Index([u'John', u'Josh'], dtype='object')
Index([u'Alex', u'John', u'Josh'], dtype='object')

Code to compile
small.index.get_level_values('Person').unique()
large.index.get_level_values('Person').unique()

Checking the answer Id = 24489283 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 13)", "name 'Index' is not defined", "name 'Index' is not defined", "name 'small' is not defined"]
----------------------------------------
----------------------------------------
13893227
Code to compile
In [17]: prices
Out[17]:
              AAPL    GOOG     IBM    XOM
2011-01-10  339.44  614.21  142.78  71.57
2011-01-13  342.64  616.69  143.92  73.08
2011-01-26  340.82  616.50  155.74  75.89
2011-02-02  341.29  612.00  157.93  79.46
2011-02-10  351.42  616.44  159.32  79.68
2011-03-03  356.40  609.56  158.73  82.19
2011-05-03  345.14  533.89  167.84  82.00
2011-06-03  340.42  523.08  160.97  78.19
2011-06-10  323.03  509.51  159.14  76.84
2011-08-01  393.26  606.77  176.28  76.67
2011-12-20  392.46  630.37  184.14  79.97

In [18]: orders
Out[18]:
                  Date direction  size ticker  prices
0  2011-01-10 00:00:00       Buy  1500   AAPL  339.44
1  2011-01-13 00:00:00      Sell  1500   AAPL  342.64
2  2011-01-13 00:00:00       Buy  4000    IBM  143.92
3  2011-01-26 00:00:00       Buy  1000   GOOG  616.50
4  2011-02-02 00:00:00      Sell  4000    XOM   79.46
5  2011-02-10 00:00:00       Buy  4000    XOM   79.68
6  2011-03-03 00:00:00      Sell  1000   GOOG  609.56
7  2011-03-03 00:00:00      Sell  2200    IBM  158.73
8  2011-06-03 00:00:00      Sell  3300    IBM  160.97
9  2011-05-03 00:00:00       Buy  1500    IBM  167.84
10 2011-06-10 00:00:00       Buy  1200   AAPL  323.03
11 2011-08-01 00:00:00       Buy    55   GOOG  606.77
12 2011-08-01 00:00:00      Sell    55   GOOG  606.77
13 2011-12-20 00:00:00      Sell  1200   AAPL  392.46

In [19]: prices.lookup(orders.Date, orders.ticker)
Out[19]:
array([ 339.44,  342.64,  143.92,  616.5 ,   79.46,   79.68,  609.56,
        158.73,  160.97,  167.84,  323.03,  606.77,  606.77,  392.46])

Checking the answer Id = 13893632 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13921647
Checking the answer Id = 13921674 | Errors = []
----------------------------------------
----------------------------------------
13926089
Code to compile
import pandas as pd
import numpy as np
from pandas.io.pytables import Term

index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame( np.random.randn(8,3), index=index, columns=list('ABC'))

store = pd.HDFStore('mydata.h5')
store.append('df_cols', df, axes='columns')

Code to compile
In [8]: store.select('df_cols', [Term('columns', '=', 'A')])
Out[8]:
2000-01-01    0.347644
2000-01-02    0.477167
2000-01-03    1.419741
2000-01-04    0.641400
2000-01-05   -1.313405
2000-01-06   -0.137357
2000-01-07   -1.208429
2000-01-08   -0.539854

Code to compile
In [9]: df
Out[9]:
                   A         B         C
2000-01-01  0.347644  0.895084 -1.457772
2000-01-02  0.477167  0.464013 -1.974695
2000-01-03  1.419741  0.470735 -0.309796
2000-01-04  0.641400  0.838864 -0.112582
2000-01-05 -1.313405 -0.678250 -0.306318
2000-01-06 -0.137357 -0.723145  0.982987
2000-01-07 -1.208429 -0.672240  1.331291
2000-01-08 -0.539854 -0.184864 -1.056217


13937022
Code to compile
In [6]: df[(df.one == 1) | (df.two == 7)]
Out[6]:
   one  three  two
0    1      9    5
2    3     17    7

In [7]: df[(df.one.isin(checkList)) | (df.two.isin(checkList))]
Out[7]:
   one  three  two
0    1      9    5
2    3     17    7

Checking the answer Id = 13937141 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13938704
Code to compile
>>> from pandas import DataFrame
>>>
>>> df = DataFrame({"A": [8,9,5,4], "B": [3,4,4,8], "C": [5,0,3,5], "D": [8,4,8,1]})
>>> df.max()
A    9
B    8
C    5
D    8
>>> (df * 1.0)/df.max()
          A      B    C      D
0  0.888889  0.375  1.0  1.000
1  1.000000  0.500  0.0  0.500
2  0.555556  0.500  0.6  1.000
3  0.444444  1.000  1.0  0.125

Checking the answer Id = 13938831 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
13996302
Code to compile
In [16]: df.groupby('id')['x'].apply(pd.rolling_mean, 2, min_periods=1)
Out[16]:
0    0.0
1    0.5
2    1.5
3    3.0
4    3.5
5    4.5

In [17]: df.groupby('id')['x'].cumsum()
Out[17]:
0     0
1     1
2     3
3     3
4     7
5    12

Checking the answer Id = 13998600 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.groupby('id')['x'].rolling(2).mean()

Code to compile
df.groupby('id')['x'].apply(pd.rolling_mean, 2, min_periods=1)

Code to compile
df.groupby('id')['x'].rolling(2).mean().reset_index(0,drop=True)

Code to compile
0    0.0
1    0.5
2    1.5
3    3.0
4    3.5
5    4.5

Code to compile
df['x'] = df.groupby('id')['x'].rolling(2).mean().reset_index(0,drop=True)

Checking the answer Id = 41191278 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
13999850
Code to compile
df['date'] = df['datetime'].apply(lambda x: x.strftime('%d%m%Y'))
df['time'] = df['datetime'].apply(lambda x: x.strftime('%H%M%S'))

Code to compile
df[['date', 'time', ... ]].to_csv('df.csv')

Checking the answer Id = 14000420 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
df.to_csv(filename, date_format='%Y%m%d')

Checking the answer Id = 22798849 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
14016247
Code to compile
import numpy as np
index = df['b'].index[df['b'].apply(np.isnan)]

Code to compile
df['a'].ix[index[0]]
>>> 1.452354

Code to compile
df_index = df.index.values.tolist()
[df_index.index(i) for i in index]
>>> [3, 6]

Checking the answer Id = 14016590 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 3)']
Code to compile
In [9]: df
Out[9]:
          0         1
0  0.450319  0.062595
1 -0.673058  0.156073
2 -0.871179 -0.118575
3  0.594188       NaN
4 -1.017903 -0.484744
5  0.860375  0.239265
6 -0.640070       NaN
7 -0.535802  1.632932
8  0.876523 -0.153634
9 -0.686914  0.131185

In [10]: pd.isnull(df).any(1).nonzero()[0]
Out[10]: array([3, 6])

Checking the answer Id = 14033137 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14025879
Code to compile
In [1]: paste
from pandas import DataFrame
f = DataFrame({'a': ['1','2','3'], 'b': ['2','3','4']})
f.columns = [['level1 item1', 'level1 item2'],['', 'level2 item2'], ['level3 item1', 'level3 item2']]
f

## -- End pasted text --
Out[1]:
  level1 item1 level1 item2
               level2 item2
  level3 item1 level3 item2
0            1            2
1            2            3
2            3            4

In [2]: f['level1 item1']
Out[2]:
  level3 item1
0            1
1            2
2            3

Checking the answer Id = 14060360 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14057007
Code to compile
In [63]: s = pd.Series(np.arange(10.0))

In [64]: x = range(4, 8)

In [65]: mask = np.logical_not(s.isin(x))

In [66]: s[mask]
Out[66]:
0    0
1    1
2    2
3    3
8    8
9    9

Code to compile
s[-s.isin(x)]

Checking the answer Id = 14058892 | Errors = ['invalid syntax (<unknown>, line 1)', "name 's' is not defined"]
Checking the answer Id = 42133330 | Errors = []
----------------------------------------
----------------------------------------
14059094
Code to compile
order_df['Value'] = order_df.apply(lambda row: (row['Prices']*row['Amount']
                                               if row['Action']=='Sell'
                                               else -row['Prices']*row['Amount']),
                                   axis=1)

Checking the answer Id = 14059783 | Errors = ["name 'order_df' is not defined"]
Code to compile
In [22]: orders_df['C'] = orders_df.Action.apply(
               lambda x: (1 if x == 'Sell' else -1))

In [23]: orders_df   # New column C represents the sign of the transaction
Out[23]:
   Prices  Amount Action  C
0       3      57   Sell  1
1      89      42   Sell  1
2      45      70    Buy -1
3       6      43   Sell  1
4      60      47   Sell  1
5      19      16    Buy -1
6      56      89   Sell  1
7       3      28    Buy -1
8      56      69   Sell  1
9      90      49    Buy -1

Code to compile
In [24]: orders_df['Value'] = orders_df.Prices * orders_df.Amount * orders_df.C

In [25]: orders_df   # The resulting dataframe
Out[25]:
   Prices  Amount Action  C  Value
0       3      57   Sell  1    171
1      89      42   Sell  1   3738
2      45      70    Buy -1  -3150
3       6      43   Sell  1    258
4      60      47   Sell  1   2820
5      19      16    Buy -1   -304
6      56      89   Sell  1   4984
7       3      28    Buy -1    -84
8      56      69   Sell  1   3864
9      90      49    Buy -1  -4410

Checking the answer Id = 14060625 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [37]: values = df.Prices * df.Amount

In [38]: df['Values'] = values.where(df.Action == 'Sell', other=-values)

In [39]: df
Out[39]:
   Prices  Amount Action  Values
0       3      57   Sell     171
1      89      42   Sell    3738
2      45      70    Buy   -3150
3       6      43   Sell     258
4      60      47   Sell    2820
5      19      16    Buy    -304
6      56      89   Sell    4984
7       3      28    Buy     -84
8      56      69   Sell    3864
9      90      49    Buy   -4410

Checking the answer Id = 14071265 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14110721
Code to compile
import pandas as pd
import io

text = '''\
STK_ID RPT_Date sales cash
000568 20120930 80.093 57.488
000596 20120930 32.585 26.177
000799 20120930 14.784 8.157
'''

df = pd.read_csv(io.BytesIO(text), delimiter = ' ',
                 converters = {0:str})
df.set_index(['STK_ID','RPT_Date'], inplace = True)

Code to compile
index = df.index
names = index.names
index = [('000999','20121231')] + df.index.tolist()[1:]
df.index = pd.MultiIndex.from_tuples(index, names = names)
print(df)
#                   sales    cash
# STK_ID RPT_Date
# 000999 20121231  80.093  57.488
# 000596 20120930  32.585  26.177
# 000799 20120930  14.784   8.157

Code to compile
df.reset_index(inplace = True)
df.ix[0, ['STK_ID', 'RPT_Date']] = ('000999','20121231')
df = df.set_index(['STK_ID','RPT_Date'])
print(df)

#                   sales    cash
# STK_ID RPT_Date
# 000999 20121231  80.093  57.488
# 000596 20120930  32.585  26.177
# 000799 20120930  14.784   8.157

Code to compile
In [2]: %timeit reassign_index(df)
10000 loops, best of 3: 158 us per loop

In [3]: %timeit reassign_columns(df)
1000 loops, best of 3: 843 us per loop

Checking the answer Id = 14110955 | Errors = ["a bytes-like object is required, not 'str'", "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14144867
Checking the answer Id = 14148511 | Errors = []
----------------------------------------
----------------------------------------
14162723
Code to compile
>>> x = np.array([1, np.nan, 3])
>>> y = np.where(np.isnan(x), None, x)
>>> print y
[1.0 None 3.0]
>>> print type(y[1])
<type 'NoneType'>

Checking the answer Id = 14163174 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df1 = df.where((pd.notnull(df)), None)

Code to compile
In [1]: df = pd.DataFrame([1, np.nan])

In [2]: df
Out[2]:
    0
0   1
1 NaN

In [3]: df1 = df.where((pd.notnull(df)), None)

In [4]: df1
Out[4]:
      0
0     1
1  None

Code to compile
df1 = df.astype(object).replace(np.nan, 'None')

Checking the answer Id = 14163209 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
14178194
Code to compile
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

testdataframe = pd.DataFrame(np.arange(12).reshape(4,3), columns=['A', 'B', 'C'])
styles = ['bs-','ro-','y^-']
linewidths = [2, 1, 4]
fig, ax = plt.subplots()
for col, style, lw in zip(testdataframe.columns, styles, linewidths):
    testdataframe[col].plot(style=style, lw=lw, ax=ax)

Code to compile
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

testdataframe1 = pd.DataFrame(np.arange(12).reshape(4,3), columns=['A', 'B', 'C'])
testdataframe2 = pd.DataFrame(np.random.normal(size=(4,3)), columns=['D', 'E', 'F'])
styles1 = ['bs-','ro-','y^-']
styles2 = ['rs-','go-','b^-']
fig, ax = plt.subplots()
testdataframe1.plot(style=styles1, ax=ax)
testdataframe2.plot(style=styles2, ax=ax)

Checking the answer Id = 14179954 | Errors = ["No module named 'matplotlib'", "No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
14189695
Code to compile
levels = df.columns.levels
labels = df.columns.labels
df.columns = levels[1][labels[1]]

Code to compile
import pandas as pd

columns = pd.MultiIndex.from_arrays([['basic_amt']*4,
                                     ['NSW','QLD','VIC','All']])
index = pd.Index(['All', 'Full Time', 'Part Time'], name = 'Faculty')
df = pd.DataFrame([(1,1,2,4),
                   (0,01,0,1),
                   (1,0,2,3)])
df.columns = columns
df.index = index

Code to compile
print(df)

           basic_amt
                 NSW  QLD  VIC  All
Faculty
All                1    1    2    4
Full Time          0    1    0    1
Part Time          1    0    2    3

Code to compile
levels = df.columns.levels
labels = df.columns.labels
df.columns = levels[1][labels[1]]
print(df)

           NSW  QLD  VIC  All
Faculty
All          1    1    2    4
Full Time    0    1    0    1
Part Time    1    0    2    3

Checking the answer Id = 14189912 | Errors = ["name 'df' is not defined", 'invalid token (<unknown>, line 7)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 6)']
Code to compile
import pandas as pd

cols = pd.MultiIndex.from_arrays([['basic_amt']*4,
                                     ['NSW','QLD','VIC','All']],
                                     names = [None, 'Faculty'])
idx = pd.Index(['All', 'Full Time', 'Part Time'])

df = pd.DataFrame([(1,1,2,4),
                   (0,1,0,1),
                   (1,0,2,3)], index = idx, columns=cols)

print (df)
          basic_amt
Faculty         NSW QLD VIC All
All               1   1   2   4
Full Time         0   1   0   1
Part Time         1   0   2   3

df.columns = df.columns.droplevel(0)
#pandas 0.18.0 and higher
df = df.rename_axis(None, axis=1)
#pandas bellow 0.18.0
#df.columns.name = None

print (df)
           NSW  QLD  VIC  All
All          1    1    2    4
Full Time    0    1    0    1
Part Time    1    0    2    3

print (df.columns)
Index(['NSW', 'QLD', 'VIC', 'All'], dtype='object')

Code to compile
df.columns = ['_'.join(col) for col in df.columns]
print (df)
           basic_amt_NSW  basic_amt_QLD  basic_amt_VIC  basic_amt_All
All                    1              1              2              4
Full Time              0              1              0              1
Part Time              1              0              2              3

print (df.columns)
Index(['basic_amt_NSW', 'basic_amt_QLD', 'basic_amt_VIC', 'basic_amt_All'], dtype='object')

Checking the answer Id = 37749078 | Errors = ['unexpected indent (<unknown>, line 13)', 'unexpected indent (<unknown>, line 3)']
----------------------------------------
----------------------------------------
14192741
Checking the answer Id = 14193170 | Errors = []
----------------------------------------
----------------------------------------
14224172
Code to compile
df1.sort(axis=1) == df2.sort(axis=1)

Code to compile
def my_equal(df1, df2):
    from pandas.util.testing import assert_frame_equal
    try:
        assert_frame_equal(df1.sort(axis=1), df2.sort(axis=1), check_names=True)
        return True
    except (AssertionError, ValueError, TypeError):  perhaps something else?
        return False

Checking the answer Id = 14224489 | Errors = ["name 'df1' is not defined", 'invalid syntax (<unknown>, line 6)']
Code to compile
def assertFrameEqual(df1, df2, **kwds ):
    """ Assert that two dataframes are equal, ignoring ordering of columns"""
    from pandas.util.testing import assert_frame_equal
    return assert_frame_equal(df1.sort(axis=1), df2.sort(axis=1), check_names=True, **kwds )

Checking the answer Id = 21000675 | Errors = ['Sucess']

----------------------------------------
----------------------------------------
14225676
Code to compile
from pandas import ExcelWriter
# from pandas.io.parsers import ExcelWriter

Code to compile
def save_xls(list_dfs, xls_path):
    writer = ExcelWriter(xls_path)
    for n, df in enumerate(list_dfs):
        df.to_excel(writer,'sheet%s' % n)
    writer.save()

Checking the answer Id = 14225838 | Errors = ['Sucess', 'Sucess']
----------------------------------------
----------------------------------------
14247586
Code to compile
>>> df = pd.DataFrame([range(3), [0, np.NaN, 0], [0, 0, np.NaN], range(3), range(3)])
>>> df.isnull()
       0      1      2
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False  False  False
>>> df.isnull().any(axis=1)
0    False
1     True
2     True
3    False
4    False
dtype: bool
>>> df[df.isnull().any(axis=1)]
   0   1   2
1  0 NaN   0
2  0   0 NaN

Code to compile
In [56]: df = pd.DataFrame([range(3), [0, np.NaN, 0], [0, 0, np.NaN], range(3), range(3)])

In [57]: df
Out[57]:
   0   1   2
0  0   1   2
1  0 NaN   0
2  0   0 NaN
3  0   1   2
4  0   1   2

In [58]: pd.isnull(df)
Out[58]:
       0      1      2
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False  False  False

In [59]: pd.isnull(df).any(axis=1)
Out[59]:
0    False
1     True
2     True
3    False
4    False

Code to compile
In [60]: df[pd.isnull(df).any(axis=1)]
Out[60]:
   0   1   2
1  0 NaN   0
2  0   0 NaN

Checking the answer Id = 14247708 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14248706
Code to compile
In [10]: ser.value_counts()
Out[10]:
two      3
one      1
three    1

Code to compile
ser.value_counts().plot(kind='bar')

Code to compile
In [12]: ser.value_counts().reindex(ser[:3])
Out[12]:
one      1
two      3
three    1

Checking the answer Id = 14248948 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'ser' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14262433
Code to compile
import numpy as np
import pandas as pd

# create a store
store = pd.HDFStore('mystore.h5')

# this is the key to your storage:
#    this maps your fields to a specific group, and defines
#    what you want to have as data_columns.
#    you might want to create a nice class wrapping this
#    (as you will want to have this map and its inversion)
group_map = dict(
    A = dict(fields = ['field_1','field_2',.....], dc = ['field_1',....,'field_5']),
    B = dict(fields = ['field_10',......        ], dc = ['field_10']),
    .....
    REPORTING_ONLY = dict(fields = ['field_1000','field_1001',...], dc = []),

)

group_map_inverted = dict()
for g, v in group_map.items():
    group_map_inverted.update(dict([ (f,g) for f in v['fields'] ]))

Code to compile
for f in files:
   # read in the file, additional options hmay be necessary here
   # the chunksize is not strictly necessary, you may be able to slurp each
   # file into memory in which case just eliminate this part of the loop
   # (you can also change chunksize if necessary)
   for chunk in pd.read_table(f, chunksize=50000):
       # we are going to append to each table by group
       # we are not going to create indexes at this time
       # but we *ARE* going to create (some) data_columns

       # figure out the field groupings
       for g, v in group_map.items():
             # create the frame for this group
             frame = chunk.reindex(columns = v['fields'], copy = False)

             # append it
             store.append(g, frame, index=False, data_columns = v['dc'])

Code to compile
frame = store.select(group_that_I_want)
# you can optionally specify:
# columns = a list of the columns IN THAT GROUP (if you wanted to
#     select only say 3 out of the 20 columns in this sub-table)
# and a where clause if you want a subset of the rows

# do calculations on this frame
new_frame = cool_function_on_frame(frame)

# to 'add columns', create a new group (you probably want to
# limit the columns in this new_group to be only NEW ones
# (e.g. so you don't overlap from the other tables)
# add this info to the group_map
store.append(new_group, new_frame.reindex(columns = new_columns_created, copy = False), data_columns = new_columns_created)

Code to compile
# This may be a bit tricky; and depends what you are actually doing.
# I may need to modify this function to be a bit more general:
report_data = store.select_as_multiple([groups_1,groups_2,.....], where =['field_1>0', 'field_1000=foo'], selector = group_1)

Code to compile
store.select(group, where = ['field_1000=foo', 'field_1001>0'])

Checking the answer Id = 14268804 | Errors = ['invalid syntax (<unknown>, line 13)', "name 'files' is not defined", "name 'store' is not defined", 'invalid syntax (<unknown>, line 3)', "name 'store' is not defined"]
Code to compile
aCollection.insert((a[1].to_dict() for a in df.iterrows()))

Code to compile
pd.DataFrame(list(mongoCollection.find({'anAttribute':{'$gt':2887000, '$lt':2889000}})))

Code to compile
aJoinDF = pandas.DataFrame(list(mongoCollection.find({'anAttribute':{'$in':Att_Keys}})))

Code to compile
df = pandas.merge(df, aJoinDF, on=aKey, how='left')

Code to compile
collection.update({primarykey:foo},{key:change})

Checking the answer Id = 14287518 | Errors = ["name 'aCollection' is not defined", "name 'pd' is not defined", "name 'pandas' is not defined", "name 'pandas' is not defined", "name 'collection' is not defined"]
Code to compile
def transpose_table(h_in, table_path, h_out, group_name="data", group_path="/"):
    # Get a reference to the input data.
    tb = h_in.getNode(table_path)
    # Create the output group to hold the columns.
    grp = h_out.createGroup(group_path, group_name, filters=tables.Filters(complevel=1))
    for col_name in tb.colnames:
        logger.debug("Processing %s", col_name)
        # Get the data.
        col_data = tb.col(col_name)
        # Create the output array.
        arr = h_out.createCArray(grp,
                                 col_name,
                                 tables.Atom.from_dtype(col_data.dtype),
                                 col_data.shape)
        # Store the data.
        arr[:] = col_data
    h_out.flush()

Code to compile
def read_hdf5(hdf5_path, group_path="/data", columns=None):
    """Read a transposed data set from a HDF5 file."""
    if isinstance(hdf5_path, tables.file.File):
        hf = hdf5_path
    else:
        hf = tables.openFile(hdf5_path)

    grp = hf.getNode(group_path)
    if columns is None:
        data = [(child.name, child[:]) for child in grp]
    else:
        data = [(child.name, child[:]) for child in grp if child.name in columns]

    # Convert any float32 columns to float64 for processing.
    for i in range(len(data)):
        name, vec = data[i]
        if vec.dtype == np.float32:
            data[i] = (name, vec.astype(np.float64))

    if not isinstance(hdf5_path, tables.file.File):
        hf.close()
    return pd.DataFrame.from_items(data)

Checking the answer Id = 15558350 | Errors = ['Sucess', 'Sucess']
Checking the answer Id = 19739768 | Errors = []
Checking the answer Id = 20690383 | Errors = []
Checking the answer Id = 26286140 | Errors = []
Checking the answer Id = 27282644 | Errors = []
Checking the answer Id = 29910919 | Errors = []
Checking the answer Id = 36188131 | Errors = []
----------------------------------------
----------------------------------------
14300137
Code to compile
df = pd.DataFrame(np.random.randn(10,2), columns=['col1','col2'])
df['col3'] = np.arange(len(df))**2 * 100 + 100

In [5]: df
Out[5]:
       col1      col2  col3
0 -1.000075 -0.759910   100
1  0.510382  0.972615   200
2  1.872067 -0.731010   500
3  0.131612  1.075142  1000
4  1.497820  0.237024  1700

Code to compile
plt.scatter(df.col1, df.col2, s=df.col3)
# OR (with pandas 0.13 and up)
df.plot(kind='scatter', x='col1', y='col2', s=df.col3)

Code to compile
colors = np.where(df.col3 > 300, 'r', 'k')
plt.scatter(df.col1, df.col2, s=120, c=colors)
# OR (with pandas 0.13 and up)
df.plot(kind='scatter', x='col1', y='col2', s=120, c=colors)

Code to compile
cond = df.col3 > 300
subset_a = df[cond].dropna()
subset_b = df[~cond].dropna()
plt.scatter(subset_a.col1, subset_a.col2, s=120, c='b', label='col3 > 300')
plt.scatter(subset_b.col1, subset_b.col2, s=60, c='r', label='col3 <= 300')
plt.legend()

Code to compile
df['subset'] = np.select([df.col3 < 150, df.col3 < 400, df.col3 < 600],
                         [0, 1, 2], -1)
for color, label in zip('bgrm', [0, 1, 2, -1]):
    subset = df[df.subset == label]
    plt.scatter(subset.col1, subset.col2, s=120, c=color, label=str(label))
plt.legend()

Checking the answer Id = 14306902 | Errors = ['invalid syntax (<unknown>, line 4)', "name 'plt' is not defined", "name 'np' is not defined", "name 'df' is not defined", "name 'np' is not defined"]
----------------------------------------
----------------------------------------
14300768
Code to compile
In [1]: df
Out[1]:
   RollBasis  ToRoll
0          1       1
1          1       4
2          1      -5
3          2       2
4          3      -4
5          5      -2
6          8       0
7         10     -13
8         12      -2
9         13      -5

In [2]: def f(x):
   ...:     ser = df.ToRoll[(df.RollBasis >= x) & (df.RollBasis < x+5)]
   ...:     return ser.sum()

Code to compile
In [3]: df['Rolled'] = df.RollBasis.apply(f)

In [4]: df
Out[4]:
   RollBasis  ToRoll  Rolled
0          1       1      -4
1          1       4      -4
2          1      -5      -4
3          2       2      -4
4          3      -4      -6
5          5      -2      -2
6          8       0     -15
7         10     -13     -20
8         12      -2      -7
9         13      -5      -5

Code to compile
In [1]: from pandas import *

In [2]: import io

In [3]: text = """\
   ...:    RollBasis  ToRoll
   ...: 0          1       1
   ...: 1          1       4
   ...: 2          1      -5
   ...: 3          2       2
   ...: 4          3      -4
   ...: 5          5      -2
   ...: 6          8       0
   ...: 7         10     -13
   ...: 8         12      -2
   ...: 9         13      -5
   ...: """

In [4]: df = read_csv(io.BytesIO(text), header=0, index_col=0, sep='\s+')

Checking the answer Id = 14307460 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
def rollBy(what, basis, window, func):
    def applyToWindow(val):
        chunk = what[(val<=basis) & (basis<val+window)]
        return func(chunk)
    return basis.apply(applyToWindow)

>>> rollBy(d.ToRoll, d.RollBasis, 5, sum)
0    -4
1    -4
2    -4
3    -4
4    -6
5    -2
6   -15
7   -20
8    -7
9    -5
Name: RollBasis

Checking the answer Id = 14307961 | Errors = ['invalid syntax (<unknown>, line 7)']
Code to compile
def rollBy(what,basis,window,func,*args,**kwargs):
    #note that basis must be sorted in order for this to work properly
    indexed_what = pd.Series(what.values,index=basis.values)
    def applyToWindow(val):
        # using slice_indexer rather that what.loc [val:val+window] allows
        # window limits that are not specifically in the index
        indexer = indexed_what.index.slice_indexer(val,val+window,1)
        chunk = indexed_what[indexer]
        return func(chunk,*args,**kwargs)
    rolled = basis.apply(applyToWindow)
    return rolled

Code to compile
In [46]: df = pd.DataFrame({"RollBasis":np.random.uniform(0,1000000,100000), "ToRoll": np.random.uniform(0,10,100000)})

In [47]: df = df.sort("RollBasis")

In [48]: timeit("rollBy_Ian(df.ToRoll,df.RollBasis,10,sum)",setup="from __main__ import rollBy_Ian,df", number =3)
Out[48]: 67.6615059375763

In [49]: timeit("rollBy_Bren(df.ToRoll,df.RollBasis,10,sum)",setup="from __main__ import rollBy_Bren,df", number =3)
Out[49]: 515.0221037864685

Code to compile
def rollBy(what,basis,window,func,*args,**kwargs):
    #note that basis must be sorted in order for this to work properly
    windows_min = basis.min()
    windows_max = basis.max()
    window_starts = np.arange(windows_min, windows_max, window)
    window_starts = pd.Series(window_starts, index = window_starts)
    indexed_what = pd.Series(what.values,index=basis.values)
    def applyToWindow(val):
        # using slice_indexer rather that what.loc [val:val+window] allows
        # window limits that are not specifically in the index
        indexer = indexed_what.index.slice_indexer(val,val+window,1)
        chunk = indexed_what[indexer]
        return func(chunk,*args,**kwargs)
    rolled = window_starts.apply(applyToWindow)
    return rolled

Checking the answer Id = 21189441 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', 'Sucess']
----------------------------------------
----------------------------------------
14301913
Code to compile
In [2]: df.set_index(['Name', 'Destination'])
Out[2]:
                   Length
Name  Destination
Bob   Athens            3
      Rome              5
      Athens            2
Alice Rome              1
      Athens            3
      Rome              5

Checking the answer Id = 14306921 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14345739
Code to compile
misc['product_desc'] = misc['product_desc'].str.replace('\n', '')

Checking the answer Id = 14345875 | Errors = ["name 'misc' is not defined"]
Code to compile
misc['product_desc'] = misc['product_desc'].replace(to_replace='\n', value='', regex=True)

Checking the answer Id = 33993078 | Errors = ["name 'misc' is not defined"]
----------------------------------------
----------------------------------------
14349055
Checking the answer Id = 14349645 | Errors = []
Code to compile
import numpy as np
import matplotlib.pyplot as plt
import seaborn
seaborn.set(style='ticks')
# Data to be represented
X = np.random.randn(256)

# Actual plotting
fig = plt.figure(figsize=(8,6), dpi=72, facecolor="white")
axes = plt.subplot(111)
heights, positions, patches = axes.hist(X, color='white')
seaborn.despine(ax=axes, offset=10, trim=True)
fig.tight_layout()
plt.show()

Code to compile
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
# Data to be represented
X = np.random.randn(256)

# Actual plotting
fig = plt.figure(figsize=(8,6), dpi=72, facecolor="white")
axes = plt.subplot(111)
heights, positions, patches = axes.hist(X, color='white')

axes.spines['right'].set_color('none')
axes.spines['top'].set_color('none')
axes.xaxis.set_ticks_position('bottom')

# was: axes.spines['bottom'].set_position(('data',1.1*X.min()))
axes.spines['bottom'].set_position(('axes', -0.05))
axes.yaxis.set_ticks_position('left')
axes.spines['left'].set_position(('axes', -0.05))

axes.set_xlim([np.floor(positions.min()), np.ceil(positions.max())])
axes.set_ylim([0,70])
axes.xaxis.grid(False)
axes.yaxis.grid(False)
fig.tight_layout()
plt.show()

Checking the answer Id = 14349766 | Errors = ["No module named 'matplotlib'", "No module named 'matplotlib'"]
Code to compile
def customaxis(ax, c_left='k', c_bottom='k', c_right='none', c_top='none',
               lw=3, size=20, pad=8):

    for c_spine, spine in zip([c_left, c_bottom, c_right, c_top],
                              ['left', 'bottom', 'right', 'top']):
        if c_spine != 'none':
            ax.spines[spine].set_color(c_spine)
            ax.spines[spine].set_linewidth(lw)
        else:
            ax.spines[spine].set_color('none')
    if (c_bottom == 'none') & (c_top == 'none'): # no bottom and no top
        ax.xaxis.set_ticks_position('none')
    elif (c_bottom != 'none') & (c_top != 'none'): # bottom and top
        ax.tick_params(axis='x', direction='out', width=lw, length=7,
                      color=c_bottom, labelsize=size, pad=pad)
    elif (c_bottom != 'none') & (c_top == 'none'): # bottom but not top
        ax.xaxis.set_ticks_position('bottom')
        ax.tick_params(axis='x', direction='out', width=lw, length=7,
                       color=c_bottom, labelsize=size, pad=pad)
    elif (c_bottom == 'none') & (c_top != 'none'): # no bottom but top
        ax.xaxis.set_ticks_position('top')
        ax.tick_params(axis='x', direction='out', width=lw, length=7,
                       color=c_top, labelsize=size, pad=pad)
    if (c_left == 'none') & (c_right == 'none'): # no left and no right
        ax.yaxis.set_ticks_position('none')
    elif (c_left != 'none') & (c_right != 'none'): # left and right
        ax.tick_params(axis='y', direction='out', width=lw, length=7,
                       color=c_left, labelsize=size, pad=pad)
    elif (c_left != 'none') & (c_right == 'none'): # left but not right
        ax.yaxis.set_ticks_position('left')
        ax.tick_params(axis='y', direction='out', width=lw, length=7,
                       color=c_left, labelsize=size, pad=pad)
    elif (c_left == 'none') & (c_right != 'none'): # no left but right
        ax.yaxis.set_ticks_position('right')
        ax.tick_params(axis='y', direction='out', width=lw, length=7,
                       color=c_right, labelsize=size, pad=pad)

Code to compile
def adjust_spines(ax,spines):
    for loc, spine in ax.spines.items():
        if loc in spines:
            spine.set_position(('outward',10)) # outward by 10 points
            spine.set_smart_bounds(True)
        else:
            spine.set_color('none') # don't draw spine

Code to compile
import numpy as np
import matplotlib.pyplot as plt

fig,(ax1,ax2) = plt.subplots(figsize=(8,5), ncols=2)
ax1.plot(np.random.rand(20), np.random.rand(20), 'ok')
ax2.plot(np.random.rand(20), np.random.rand(20), 'ok')

customaxis(ax2) # remove top and right spines, ticks out
adjust_spines(ax2, ['left', 'bottom']) # non touching spines

plt.show()

Checking the answer Id = 14351567 | Errors = ['Sucess', 'Sucess', "No module named 'matplotlib'"]
Code to compile
In [1]: import matplotlib as mpl

In [2]: import matplotlib.pyplot as plt

In [3]: import numpy as np

In [4]: mpl.style.available
Out[4]: [u'dark_background', u'grayscale', u'ggplot']

In [5]: mpl.style.use('ggplot')

In [6]: plt.hist(np.random.randn(100000))
Out[6]:
...

Checking the answer Id = 21221138 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14358567
Code to compile
a = np.array([3,3,3,3,3,4,4,4,4,4,1,1,1,1,4,4,12,12,12])

prev = 0
splits = np.append(np.where(np.diff(a) != 0)[0],len(a)+1)+1

for split in splits:
    print np.arange(1,a.size+1,1)[prev:split]
    prev = split

Code to compile
[1 2 3 4 5]
[ 6  7  8  9 10]
[11 12 13 14]
[15 16]
[17 18 19]

Checking the answer Id = 14359211 | Errors = ['invalid syntax (<unknown>, line 7)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.reset_index().groupby('A')['index'].apply(np.array)

Code to compile
In [1]: import numpy as np

In [2]: from pandas import *

In [3]: df = DataFrame([3]*4+[4]*4+[1]*4, columns=['A'])
In [4]: df
Out[4]:
    A
0   3
1   3
2   3
3   3
4   4
5   4
6   4
7   4
8   1
9   1
10  1
11  1

In [5]: df.reset_index().groupby('A')['index'].apply(np.array)
Out[5]:
A
1    [8, 9, 10, 11]
3      [0, 1, 2, 3]
4      [4, 5, 6, 7]

Code to compile
In [1]: grp = df.groupby('A')

In [2]: grp.indices
Out[2]:
{1L: array([ 8,  9, 10, 11], dtype=int64),
 3L: array([0, 1, 2, 3], dtype=int64),
 4L: array([4, 5, 6, 7], dtype=int64)}

In [3]: grp.indices[3]
Out[3]: array([0, 1, 2, 3], dtype=int64)

Code to compile
In [1]: df['block'] = (df.A.shift(1) != df.A).astype(int).cumsum()

In [2]: df
Out[2]:
    A  block
0   3      1
1   3      1
2   3      1
3   3      1
4   4      2
5   4      2
6   4      2
7   4      2
8   1      3
9   1      3
10  1      3
11  1      3
12  3      4
13  3      4
14  3      4
15  3      4

Code to compile
In [77]: df.reset_index().groupby(['A','block'])['index'].apply(np.array)
Out[77]:
A  block
1  3          [8, 9, 10, 11]
3  1            [0, 1, 2, 3]
   4        [12, 13, 14, 15]
4  2            [4, 5, 6, 7]

Checking the answer Id = 14360423 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14363640
Code to compile
In [1]: from pandas import *

In [2]: df = DataFrame(dict(x=[0,0,1,0,1], y=[1,0,1,1,0], z=[0,0,1,0,1]))

In [3]: df
Out[3]:
   x  y  z
0  0  1  0
1  0  0  0
2  1  1  1
3  0  1  0
4  1  0  1

In [4]: df = df.drop(['x','y'], axis=1)

In [5]: df
Out[5]:
   z
0  0
1  0
2  1
3  0
4  1

Checking the answer Id = 14363721 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [68]: df
Out[68]:
   x  y  z
0  0  1  0
1  0  0  0
2  1  1  1
3  0  1  0
4  1  0  1

In [70]: df = df[['x','z']]

In [71]: df
Out[71]:
   x  z
0  0  0
1  0  0
2  1  1
3  0  0
4  1  1

Code to compile
In [4]: df.columns
Out[4]: Index([x, y, z], dtype=object)

In [5]: df[df.columns[1:]]
Out[5]:
   y  z
0  1  0
1  0  0
2  1  1
3  1  0
4  0  1

In [7]: df.drop(df.columns[1:], axis=1)
Out[7]:
   x
0  0
1  0
2  1
3  0
4  1

Checking the answer Id = 14363758 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14365542
Code to compile
import pandas as pd
print pd.read_csv('value.txt')

        Date    price  factor_1  factor_2
0  2012-06-11  1600.20     1.255     1.548
1  2012-06-12  1610.02     1.258     1.554
2  2012-06-13  1618.07     1.249     1.552
3  2012-06-14  1624.40     1.253     1.556
4  2012-06-15  1626.15     1.258     1.552
5  2012-06-16  1626.15     1.263     1.558
6  2012-06-17  1626.15     1.264     1.572

Checking the answer Id = 14365647 | Errors = ['invalid syntax (<unknown>, line 2)']
Code to compile
import csv
from pprint import pprint
with open('foo.csv', 'rb') as f:
    reader = csv.reader(f)
    headers = reader.next()
    column = {h:[] for h in headers}
    for row in reader:
        for h, v in zip(headers, row):
            column[h].append(v)
    pprint(column)    # Pretty printer

Code to compile
{'Date': ['2012-06-11',
          '2012-06-12',
          '2012-06-13',
          '2012-06-14',
          '2012-06-15',
          '2012-06-16',
          '2012-06-17'],
 'factor_1': ['1.255', '1.258', '1.249', '1.253', '1.258', '1.263', '1.264'],
 'factor_2': ['1.548', '1.554', '1.552', '1.556', '1.552', '1.558', '1.572'],
 'price': ['1600.20',
           '1610.02',
           '1618.07',
           '1624.40',
           '1626.15',
           '1626.15',
           '1626.15']}

Checking the answer Id = 14366084 | Errors = ["[Errno 2] No such file or directory: 'foo.csv'", 'Sucess']
----------------------------------------
----------------------------------------
14380371
Code to compile
In [42]: df = pd.DataFrame(np.random.random((5, 5)))

In [43]: df
Out[43]:
          0         1         2         3         4
0  0.886864  0.518538  0.359964  0.167291  0.940414
1  0.834130  0.022920  0.265131  0.059002  0.530584
2  0.648019  0.953043  0.263551  0.595798  0.153969
3  0.207003  0.015721  0.931170  0.045044  0.432870
4  0.039886  0.898780  0.728195  0.112069  0.468485

In [44]: print df.to_latex()
\begin{tabular}{|l|c|c|c|c|c|c|}
\hline
{} &         0 &         1 &         2 &         3 &         4 \\
\hline
0 &  0.886864 &  0.518538 &  0.359964 &  0.167291 &  0.940414 \\
1 &  0.834130 &  0.022920 &  0.265131 &  0.059002 &  0.530584 \\
2 &  0.648019 &  0.953043 &  0.263551 &  0.595798 &  0.153969 \\
3 &  0.207003 &  0.015721 &  0.931170 &  0.045044 &  0.432870 \\
4 &  0.039886 &  0.898780 &  0.728195 &  0.112069 &  0.468485 \\
\hline
\end{tabular}

Checking the answer Id = 14383654 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14422976
Code to compile
conda update pandas

Code to compile
pip install pandas

Code to compile
python setup.py build_ext --inplace

Checking the answer Id = 14428450 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14431646
Code to compile
price2 = price.reset_index()

In [11]: price2
Out[11]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1006 entries, 0 to 1005
Data columns:
Date    1006  non-null values
AAPL    1006  non-null values
GE      1006  non-null values
dtypes: datetime64[ns](1), float64(2)

Code to compile
import sqlite3
from pandas.io import sql
# Create your connection.
cnx = sqlite3.connect(':memory:')

Code to compile
sql.write_frame(price2, name='price2', con=cnx)

Code to compile
p2 = sql.read_frame('select * from price2', cnx)

Code to compile
from pandas.lib import Timestamp
p2.Date = p2.Date.apply(Timestamp)
p = p2.set_index('Date')

Code to compile
In [20]: p
Out[20]:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1006 entries, 2009-01-02 00:00:00 to 2012-12-31 00:00:00
Data columns:
AAPL    1006  non-null values
GE      1006  non-null values
dtypes: float64(2)

Checking the answer Id = 14432914 | Errors = ['invalid syntax (<unknown>, line 3)', 'Sucess', "name 'sql' is not defined", "name 'sql' is not defined", "name 'p2' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14451185
Code to compile
import pandas as pd
import numpy as np

df = pd.DataFrame(range(50), columns  = ['filtercol'])
w = 0
x = 5
y = 17
z = 33
filter_values = [w, x, y, z]
out = pd.cut(df.filtercol, bins = filter_values)
counts = pd.value_counts(out)
# counts is a Series
print(counts)

Code to compile
(17, 33]    16
(5, 17]     12
(0, 5]       5

Code to compile
counts.reindex(out.cat.categories)

Code to compile
(0, 5]       5
(5, 17]     12
(17, 33]    16

Checking the answer Id = 14451264 | Errors = ['DataFrame constructor not properly called!', 'invalid syntax (<unknown>, line 1)', "name 'counts' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14507794
Code to compile
df.columns = df.columns.get_level_values(0)

Code to compile
df.columns = [' '.join(col).strip() for col in df.columns.values]

Code to compile
In [11]: [' '.join(col).strip() for col in df.columns.values]
Out[11]:
['USAF',
 'WBAN',
 'day',
 'month',
 's_CD sum',
 's_CL sum',
 's_CNT sum',
 's_PC sum',
 'tempf amax',
 'tempf amin',
 'year']

Checking the answer Id = 14508355 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
In [34]: df
Out[34]:
     USAF   WBAN  day  month  s_CD  s_CL  s_CNT  s_PC  tempf         year
                               sum   sum    sum   sum   amax   amin
0  702730  26451    1      1    12     0     13     1  30.92  24.98  1993
1  702730  26451    2      1    13     0     13     0  32.00  24.98  1993
2  702730  26451    3      1     2    10     13     1  23.00   6.98  1993
3  702730  26451    4      1    12     0     13     1  10.04   3.92  1993
4  702730  26451    5      1    10     0     13     3  19.94  10.94  1993


In [35]: mi = df.columns

In [36]: mi
Out[36]:
MultiIndex
[(USAF, ), (WBAN, ), (day, ), (month, ), (s_CD, sum), (s_CL, sum), (s_CNT, sum), (s_PC, sum), (tempf, amax), (tempf, amin), (year, )]


In [37]: mi.tolist()
Out[37]:
[('USAF', ''),
 ('WBAN', ''),
 ('day', ''),
 ('month', ''),
 ('s_CD', 'sum'),
 ('s_CL', 'sum'),
 ('s_CNT', 'sum'),
 ('s_PC', 'sum'),
 ('tempf', 'amax'),
 ('tempf', 'amin'),
 ('year', '')]

In [38]: ind = pd.Index([e[0] + e[1] for e in mi.tolist()])

In [39]: ind
Out[39]: Index([USAF, WBAN, day, month, s_CDsum, s_CLsum, s_CNTsum, s_PCsum, tempfamax, tempfamin, year], dtype=object)

In [40]: df.columns = ind




In [46]: df
Out[46]:
     USAF   WBAN  day  month  s_CDsum  s_CLsum  s_CNTsum  s_PCsum  tempfamax  tempfamin  \
0  702730  26451    1      1       12        0        13        1      30.92      24.98
1  702730  26451    2      1       13        0        13        0      32.00      24.98
2  702730  26451    3      1        2       10        13        1      23.00       6.98
3  702730  26451    4      1       12        0        13        1      10.04       3.92
4  702730  26451    5      1       10        0        13        3      19.94      10.94




   year
0  1993
1  1993
2  1993
3  1993
4  1993

Checking the answer Id = 14508639 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
pd.DataFrame(df.to_records()) # multiindex become columns and new index is integers only

Checking the answer Id = 34262133 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
14529838
Code to compile
In [28]: df
Out[28]:
          A         B         C         D         E  GRP
0  0.395670  0.219560  0.600644  0.613445  0.242893    0
1  0.323911  0.464584  0.107215  0.204072  0.927325    0
2  0.321358  0.076037  0.166946  0.439661  0.914612    1
3  0.133466  0.447946  0.014815  0.130781  0.268290    1

In [26]: f = {'A':['sum','mean'], 'B':['prod']}

In [27]: df.groupby('GRP').agg(f)
Out[27]:
            A                   B
          sum      mean      prod
GRP
0    0.719580  0.359790  0.102004
1    0.454824  0.227412  0.034060

Code to compile
In [67]: f = {'A':['sum','mean'], 'B':['prod'], 'D': lambda g: df.ix[g.index].E.sum()}

In [69]: df.groupby('GRP').agg(f)
Out[69]:
            A                   B         D
          sum      mean      prod  <lambda>
GRP
0    0.719580  0.359790  0.102004  1.170219
1    0.454824  0.227412  0.034060  1.182901

Code to compile
In [95]: cust = lambda g: g[df.ix[g.index]['C'] < 0.5].sum()

In [96]: f = {'A':['sum','mean'], 'B':['prod'], 'D': {'my name': cust}}

In [97]: df.groupby('GRP').agg(f)
Out[97]:
            A                   B         D
          sum      mean      prod   my name
GRP
0    0.719580  0.359790  0.102004  0.204072
1    0.454824  0.227412  0.034060  0.570441

Checking the answer Id = 14530027 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14539992
Code to compile
ts.ix[ts.index.indexer_between_time(datetime.time(9), datetime.time(18))]

Code to compile
ts.ix[ts.index.indexer_between_time(datetime.time(18), datetime.time(9),
                                    include_start=False, include_end=False)]

Code to compile
In [1]: rng = pd.date_range('1/1/2000', periods=24, freq='H')

In [2]: ts = pd.Series(pd.np.random.randn(len(rng)), index=rng)

In [3]: ts.ix[ts.index.indexer_between_time(datetime.time(10), datetime.time(14))]
Out[3]:
2000-01-01 10:00:00    1.312561
2000-01-01 11:00:00   -1.308502
2000-01-01 12:00:00   -0.515339
2000-01-01 13:00:00    1.536540
2000-01-01 14:00:00    0.108617

Code to compile
In [4]: df = pd.DataFrame(ts)

In [5]: df.ix[df.index.indexer_between_time(datetime.time(10), datetime.time(14))]
Out[5]:
                            0
2000-01-03 10:00:00  1.312561
2000-01-03 11:00:00 -1.308502
2000-01-03 12:00:00 -0.515339
2000-01-03 13:00:00  1.536540
2000-01-03 14:00:00  0.108617

Checking the answer Id = 14540509 | Errors = ["name 'ts' is not defined", "name 'ts' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14568070
Checking the answer Id = 14568392 | Errors = []
----------------------------------------
----------------------------------------
14569223
----------------------------------------
----------------------------------------
14591855
----------------------------------------
----------------------------------------
14627380
Checking the answer Id = 14630250 | Errors = []
----------------------------------------
----------------------------------------
14656852
Code to compile
r.plot([1,2,3],[1,2,3], xlab="X", ylab="Y")

Code to compile
> deparse(substitute(c(1,2,3)))
[1] "c(1, 2, 3)"

Code to compile
r.assign('testX', df.A)
r.assign('testY', df.B)
%R plot(testX, testY)

rdf = com.convert_to_r_dataframe(df)
r.assign('bob', rdf)
%R plot(bob$$A, bob$$B)

Checking the answer Id = 14762651 | Errors = ["name 'r' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 3)']
Code to compile
from collections import OrderedDict
py2ri_orig = rpy2.robjects.conversion.py2ri
def conversion_pydataframe(obj):
    if isinstance(obj, pandas.core.frame.DataFrame):
        od = OrderedDict()
        for name, values in obj.iteritems():
            if values.dtype.kind == 'O':
                od[name] = rpy2.robjects.vectors.StrVector(values)
            else:
                od[name] = rpy2.robjects.conversion.py2ri(values)
        return rpy2.robjects.vectors.DataFrame(od)
    elif isinstance(obj, pandas.core.series.Series):
        # converted as a numpy array
        res = py2ri_orig(obj)
        # "index" is equivalent to "names" in R
        if obj.ndim == 1:
            res.names = ListVector({'x': ro.conversion.py2ri(obj.index)})
        else:
            res.dimnames = ListVector(ro.conversion.py2ri(obj.index))
        return res
    else:
        return py2ri_orig(obj)
rpy2.robjects.conversion.py2ri = conversion_pydataframe

Code to compile
r.plot(rpy2.robjects.Formula('c3~c2'), data)
# `data` was converted to an rpy2 data.frame on the fly
# and the a scatter plot c3 vs c2 (with "c2" and "c3" the labels on
# the "x" axis and "y" axis).

Code to compile
p = ggplot2.ggplot(rpy2.robjects.conversion.py2ri(data)) +\
    ggplot2.geom_histogram(ggplot2.aes_string(x = 'c3'))
p.plot()

Checking the answer Id = 14789513 | Errors = ["name 'rpy2' is not defined", "name 'r' is not defined", "name 'ggplot2' is not defined"]
----------------------------------------
----------------------------------------
14657241
Code to compile
>>> import pandas as pd
>>> df = pd.read_csv("dup.csv")
>>> ids = df["ID"]
>>> df[ids.isin(ids[ids.duplicated()])].sort("ID")
       ID ENROLLMENT_DATE        TRAINER_MANAGING        TRAINER_OPERATOR FIRST_VISIT_DATE
24  11795       27-Feb-12      0643D38-Hanover NH      0643D38-Hanover NH        19-Jun-12
6   11795        3-Jul-12  0649597-White River VT  0649597-White River VT        30-Mar-12
18   8096       19-Dec-11  0649597-White River VT  0649597-White River VT         9-Apr-12
2    8096        8-Aug-12      0643D38-Hanover NH      0643D38-Hanover NH        25-Jun-12
12   A036       30-Nov-11     063B208-Randolph VT     063B208-Randolph VT              NaN
3    A036        1-Apr-12      06CB8CF-Hanover NH      06CB8CF-Hanover NH         9-Aug-12
26   A036       11-Aug-12      06D3206-Hanover NH                     NaN        19-Jun-12

Code to compile
>>> pd.concat(g for _, g in df.groupby("ID") if len(g) > 1)
       ID ENROLLMENT_DATE        TRAINER_MANAGING        TRAINER_OPERATOR FIRST_VISIT_DATE
6   11795        3-Jul-12  0649597-White River VT  0649597-White River VT        30-Mar-12
24  11795       27-Feb-12      0643D38-Hanover NH      0643D38-Hanover NH        19-Jun-12
2    8096        8-Aug-12      0643D38-Hanover NH      0643D38-Hanover NH        25-Jun-12
18   8096       19-Dec-11  0649597-White River VT  0649597-White River VT         9-Apr-12
3    A036        1-Apr-12      06CB8CF-Hanover NH      06CB8CF-Hanover NH         9-Aug-12
12   A036       30-Nov-11     063B208-Randolph VT     063B208-Randolph VT              NaN
26   A036       11-Aug-12      06D3206-Hanover NH                     NaN        19-Jun-12

Checking the answer Id = 14657511 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame(['a','b','c','d','a','b'])

In [3]: df
Out[3]:
       0
    0  a
    1  b
    2  c
    3  d
    4  a
    5  b

In [4]: df[df.duplicated(keep=False)]
Out[4]:
       0
    0  a
    1  b
    4  a
    5  b

Checking the answer Id = 33381246 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df[df.duplicated(['ID'], keep=False)]

Checking the answer Id = 41786821 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
14661701
Code to compile
In [65]: df
Out[65]:
       one  two
one      1    4
two      2    3
three    3    2
four     4    1


In [66]: df.drop(df.index[[1,3]])
Out[66]:
       one  two
one      1    4
three    3    2

Checking the answer Id = 14661768 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.drop(df.index[[1,3]], inplace=True)

Checking the answer Id = 34614046 | Errors = ["name 'df' is not defined"]
Code to compile
In[17]: df
Out[17]:
            a         b         c         d         e
one  0.456558 -2.536432  0.216279 -1.305855 -0.121635
two -1.015127 -0.445133  1.867681  2.179392  0.518801

In[18]: df.drop('one')
Out[18]:
            a         b         c         d         e
two -1.015127 -0.445133  1.867681  2.179392  0.518801

Code to compile
In[19]: df.drop(df.index[[0]])
Out[19]:
            a         b         c         d         e

Code to compile
>>> df['A'], df['B'] = df['AB'].str.split('-', 1).str
>>> df

      AB  AB_split   A   B
0  A1-B1  [A1, B1]  A1  B1
1  A2-B2  [A2, B2]  A2  B2

Code to compile
>>> df['AB'].str.split('-', 1, expand=True)

    0   1
0  A1  B1
1  A2  B2

Code to compile
>>> df = df[['AB']]
>>> df

      AB
0  A1-B1
1  A2-B2

>>> df.join(df['AB'].str.split('-', 1, expand=True).rename(columns={0:'A', 1:'B'}))

      AB   A   B
0  A1-B1  A1  B1
1  A2-B2  A2  B2

Checking the answer Id = 39358924 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14808945
Code to compile
import pandas as pd

def f(var):
    if isinstance(var, pd.DataFrame):
        print "do stuff"

Checking the answer Id = 14809026 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 5)"]
Code to compile
Yes: if isinstance(obj, int):
No:  if type(obj) is type(1):

Code to compile
if obj.__class__.__name__ = "MyInheritedClass":
    expect_problems_some_day()

Code to compile
if isinstance(obj, basestring):
    i_am_string(obj)

Checking the answer Id = 14809149 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'obj' is not defined"]
----------------------------------------
----------------------------------------
14813289
Code to compile
In [15]: data = np.zeros((2,2))

In [16]: data
Out[16]:
array([[ 0.,  0.],
       [ 0.,  0.]])

In [17]: from pandas import DataFrame

In [21]: df  = DataFrame(data, index = ['first', 'second'], columns=['c1','c2'])

In [22]: df
Out[22]:
        c1  c2
first    0   0
second   0   0

In [26]: i = df.index

In [27]: c = df.columns

# generate new data as a numpy array
In [29]: df  = DataFrame(np.random.rand(2,2), index=i, columns=c)

In [30]: df
Out[30]:
              c1        c2
first   0.821354  0.936703
second  0.138376  0.482180

Checking the answer Id = 14813733 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
pd.DataFrame(preprocessing.scale(data), index = data.index, columns = data.columns)

Checking the answer Id = 14814282 | Errors = ["name 'preprocessing' is not defined"]
----------------------------------------
----------------------------------------
14822680
Code to compile
In [10]: import pandas as pd

In [11]: s = pd.Series([0,1,8,9], name = 'BayFail')

In [12]: s.tolist()
Out[12]: [0L, 1L, 8L, 9L]

Checking the answer Id = 14822703 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14824456
Code to compile
In [208]: df = pd.DataFrame(np.random.random((6, 5)) * 10,
                        index=list('abcdef'), columns=list('ABCDE'))

In [209]: df
Out[209]:
     A    B    C    D    E
a  4.2  6.7  1.0  7.1  1.4
b  1.3  9.5  5.1  7.3  5.6
c  8.9  5.0  5.0  6.7  3.8
d  5.5  0.5  2.4  8.4  6.4
e  0.3  1.4  4.8  1.7  9.3
f  3.3  0.2  6.9  8.0  6.1

In [210]: ax = df.plot(kind='bar', stacked=True, align='center')

In [211]: for container in ax.containers:
              plt.setp(container, width=1)
   .....:

In [212]: x0, x1 = ax.get_xlim()

In [213]: ax.set_xlim(x0 -0.5, x1 + 0.25)
Out[213]: (-0.5, 6.5)

In [214]: plt.tight_layout()

Checking the answer Id = 14843650 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.plot(kind='bar', stacked=True, width=1)

Checking the answer Id = 27321764 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
14861023
Code to compile
sample.resample('60Min', how=conversion, base=30)

Checking the answer Id = 14861132 | Errors = ["name 'sample' is not defined"]
----------------------------------------
----------------------------------------
14885895
Code to compile
import numpy
import pandas
from  matplotlib import pyplot
import seaborn
seaborn.set(style='ticks')

numpy.random.seed(0)
N = 37
_genders= ['Female', 'Male', 'Non-binary', 'No Response']
df = pandas.DataFrame({
    'Height (cm)': numpy.random.uniform(low=130, high=200, size=N),
    'Weight (kg)': numpy.random.uniform(low=30, high=100, size=N),
    'Gender': numpy.random.choice(_genders, size=N)
})

fg = seaborn.FacetGrid(data=df, hue='Gender', hue_order=_genders, aspect=1.61)
fg.map(pyplot.scatter, 'Weight (kg)', 'Height (cm)').add_legend()

Code to compile
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def dfScatter(df, xcol='Height', ycol='Weight', catcol='Gender'):
    fig, ax = plt.subplots()
    categories = np.unique(df[catcol])
    colors = np.linspace(0, 1, len(categories))
    colordict = dict(zip(categories, colors))

    df["Color"] = df[catcol].apply(lambda x: colordict[x])
    ax.scatter(df[xcol], df[ycol], c=df.Color)
    return fig

if 1:
    df = pd.DataFrame({'Height':np.random.normal(size=10),
                       'Weight':np.random.normal(size=10),
                       'Gender': ["Male","Male","Unknown","Male","Male",
                                  "Female","Did not respond","Unknown","Female","Female"]})
    fig = dfScatter(df)
    fig.savefig('fig1.png')

Checking the answer Id = 14887119 | Errors = ["No module named 'matplotlib'", "No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
14888473
Code to compile
fig, axes = plt.subplots(nrows=2, ncols=2)
fig.set_figheight(6)
fig.set_figwidth(8)
df[0].plot(ax=axes[0,0], style='r', label='Series'); axes[0,0].set_title(0)
df[1].plot(ax=axes[0,1]); axes[0,1].set_title(1)
df[2].plot(ax=axes[1,0]); axes[1,0].set_title(2)
df[3].plot(ax=axes[1,1]); axes[1,1].set_title(3)
fig.tight_layout()

Checking the answer Id = 17106156 | Errors = ["name 'plt' is not defined"]
Code to compile
df.plot(subplots=True, layout=(2,2), ...)

Checking the answer Id = 29999590 | Errors = ['positional argument follows keyword argument (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14916358
Code to compile
In [4]: df = pandas.DataFrame({"s1_x": scipy.randn(10), "s1_y": scipy.randn(10), "s2_x": scipy.randn(10), "s2_y": scipy.randn(10)})

In [5]: df.columns = pandas.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns])

In [6]: df.stack(0).reset_index(1)
Out[6]:
  level_1         x         y
0      s1  0.897994 -0.278357
0      s2 -0.008126 -1.701865
1      s1 -1.354633 -0.890960
1      s2 -0.773428  0.003501
2      s1 -1.499422 -1.518993
2      s2  0.240226  1.773427
3      s1 -1.090921  0.847064
3      s2 -1.061303  1.557871
4      s1 -1.697340 -0.160952
4      s2 -0.930642  0.182060
5      s1 -0.356076 -0.661811
5      s2  0.539875 -1.033523
6      s1 -0.687861 -1.450762
6      s2  0.700193  0.658959
7      s1 -0.130422 -0.826465
7      s2 -0.423473 -1.281856
8      s1  0.306983  0.433856
8      s2  0.097279 -0.256159
9      s1  0.498057  0.147243
9      s2  1.312578  0.111837

Code to compile
In [59]: df
Out[59]:
   names      s1_x      s1_y      s2_x      s2_y
0      0  0.732099  0.018387  0.299856  0.737142
1      1  0.914755 -0.798159 -0.732868 -1.279311
2      2 -1.063558  0.161779 -0.115751 -0.251157
3      3 -1.185501  0.095147 -1.343139 -0.003084
4      4  0.622400 -0.299726  0.198710 -0.383060
5      5  0.179318  0.066029 -0.635507  1.366786
6      6 -0.820099  0.066067  1.113402  0.002872
7      7  0.711627 -0.182925  1.391194 -2.788434
8      8 -1.124092  1.303375  0.202691 -0.225993
9      9 -0.179026  0.847466 -1.480708 -0.497067

In [60]: id = df.ix[:, ['names']]

In [61]: df.columns = pandas.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns])

In [62]: pandas.merge(df.stack(0).reset_index(1), id, left_index=True, right_index=True)
Out[62]:
  level_1         x         y  names
0      s1  0.732099  0.018387      0
0      s2  0.299856  0.737142      0
1      s1  0.914755 -0.798159      1
1      s2 -0.732868 -1.279311      1
2      s1 -1.063558  0.161779      2
2      s2 -0.115751 -0.251157      2
3      s1 -1.185501  0.095147      3
3      s2 -1.343139 -0.003084      3
4      s1  0.622400 -0.299726      4
4      s2  0.198710 -0.383060      4
5      s1  0.179318  0.066029      5
5      s2 -0.635507  1.366786      5
6      s1 -0.820099  0.066067      6
6      s2  1.113402  0.002872      6
7      s1  0.711627 -0.182925      7
7      s2  1.391194 -2.788434      7
8      s1 -1.124092  1.303375      8
8      s2  0.202691 -0.225993      8
9      s1 -0.179026  0.847466      9
9      s2 -1.480708 -0.497067      9

Code to compile
    In [64]: df
Out[64]:
   names      s1_x      s1_y      s2_x      s2_y
0      0  0.744742 -1.123403  0.212736  0.005440
1      1  0.465075 -0.673491  1.467156 -0.176298
2      2 -1.111566  0.168043 -0.102142 -1.072461
3      3  1.226537 -1.147357 -1.583762 -1.236582
4      4  1.137675  0.224422  0.738988  1.528416
5      5 -0.237014 -1.110303 -0.770221  1.389714
6      6 -0.659213  2.305374 -0.326253  1.416778
7      7  1.524214 -0.395451 -1.884197  0.524606
8      8  0.375112 -0.622555  0.295336  0.927208
9      9  1.168386 -0.291899 -1.462098  0.250889

In [65]: df = df.set_index('names')

In [66]: df.columns = pandas.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns])

In [67]: df.stack(0).reset_index(1)
Out[67]:
      level_1         x         y
names
0          s1  0.744742 -1.123403
0          s2  0.212736  0.005440
1          s1  0.465075 -0.673491
1          s2  1.467156 -0.176298
2          s1 -1.111566  0.168043
2          s2 -0.102142 -1.072461
3          s1  1.226537 -1.147357
3          s2 -1.583762 -1.236582
4          s1  1.137675  0.224422
4          s2  0.738988  1.528416
5          s1 -0.237014 -1.110303
5          s2 -0.770221  1.389714
6          s1 -0.659213  2.305374
6          s2 -0.326253  1.416778
7          s1  1.524214 -0.395451
7          s2 -1.884197  0.524606
8          s1  0.375112 -0.622555
8          s2  0.295336  0.927208
9          s1  1.168386 -0.291899
9          s2 -1.462098  0.250889

Checking the answer Id = 14917572 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14940743
Code to compile
cols = [col for col in df.columns if col not in ['B', 'D']]
df2 = df[cols]

Checking the answer Id = 20039057 | Errors = ["name 'df' is not defined"]
Code to compile
df.filter(regex="[^BD]")

Code to compile
df.filter(regex="^(?!(B|D)$).*$")

Code to compile
exclude_cols = ['B','C']
df.filter(regex="^(?!({0})$).*$".format('|'.join(exclude_cols)))

Checking the answer Id = 26356675 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
Code to compile
    ##Using DataFrame.drop
    df.drop(df.columns[[1, 2]], axis=1, inplace=True)

    # drop by Name
    df1 = df1.drop(['B', 'C'], axis=1)


    ## Select the ones you want
    df1 = df[['a','d']]

Checking the answer Id = 29319200 | Errors = ['unexpected indent (<unknown>, line 2)']
Code to compile
df2 = df[df.columns.difference(['B', 'D'])]

Checking the answer Id = 37441204 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
14941097
Code to compile
>>> df
          A         B         C         D
0  0.424634  1.716633  0.282734  2.086944
1 -1.325816  2.056277  2.583704 -0.776403
2  1.457809 -0.407279 -1.560583 -1.316246
3 -0.757134 -1.321025  1.325853 -2.513373
4  1.366180 -1.265185 -2.184617  0.881514
>>> df.ix[:, 2]
0    0.282734
1    2.583704
2   -1.560583
3    1.325853
4   -2.184617
Name: C
>>> df[df.columns[2]]
0    0.282734
1    2.583704
2   -1.560583
3    1.325853
4   -2.184617
Name: C

Checking the answer Id = 14941170 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.iloc[:, n]  # to access the column at the nth position

Checking the answer Id = 15948271 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
14941366
Code to compile
In [10]: sum_B_over_A = df.groupby('A').sum().B

In [11]: sum_B_over_A
Out[11]:
A
bar    0.253652
baz   -2.829711
foo    0.551376
Name: B

in [12]: df['sum_B_over_A'] = df.A.apply(sum_B_over_A.get_value)

In [13]: df
Out[13]:
     A         B      C  sum_B_over_A
0  foo  1.624345  False      0.551376
1  bar -0.611756   True      0.253652
2  baz -0.528172  False     -2.829711
3  foo -1.072969   True      0.551376
4  bar  0.865408  False      0.253652
5  baz -2.301539   True     -2.829711

In [14]: df.sort(['sum_B_over_A', 'A', 'B'])
Out[14]:
     A         B      C   sum_B_over_A
5  baz -2.301539   True      -2.829711
2  baz -0.528172  False      -2.829711
1  bar -0.611756   True       0.253652
4  bar  0.865408  False       0.253652
3  foo -1.072969   True       0.551376
0  foo  1.624345  False       0.551376

Code to compile
In [15]: df.sort(['sum_B_over_A', 'A', 'B']).drop('sum_B_over_A', axis=1)
Out[15]:
     A         B      C
5  baz -2.301539   True
2  baz -0.528172  False
1  bar -0.611756   True
4  bar  0.865408  False
3  foo -1.072969   True
0  foo  1.624345  False

Checking the answer Id = 14942625 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [0]: grp = df.groupby('A')

Code to compile
In [1]: grp[['B']].transform(sum).sort('B')
Out[1]:
          B
2 -2.829710
5 -2.829710
1  0.253651
4  0.253651
0  0.551377
3  0.551377

Code to compile
In [2]: sort1 = df.ix[grp[['B']].transform(sum).sort('B').index]

In [3]: sort1
Out[3]:
     A         B      C
2  baz -0.528172  False
5  baz -2.301539   True
1  bar -0.611756   True
4  bar  0.865408  False
0  foo  1.624345  False
3  foo -1.072969   True

Code to compile
In [4]: f = lambda x: x.sort('C', ascending=False)

In [5]: sort2 = sort1.groupby('A', sort=False).apply(f)

In [6]: sort2
Out[6]:
         A         B      C
A
baz 5  baz -2.301539   True
    2  baz -0.528172  False
bar 1  bar -0.611756   True
    4  bar  0.865408  False
foo 3  foo -1.072969   True
    0  foo  1.624345  False

Code to compile
In [7]: sort2.reset_index(0, drop=True)
Out[7]:
     A         B      C
5  baz -2.301539   True
2  baz -0.528172  False
1  bar -0.611756   True
4  bar  0.865408  False
3  foo -1.072969   True
0  foo  1.624345  False

Checking the answer Id = 14946246 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df['a_bsum'] = df.groupby('A')['B'].transform(sum)
df.sort(['a_bsum','C'], ascending=[True, False]).drop('a_bsum', axis=1)

Code to compile
    A       B           C
5   baz     -2.301539   True
2   baz     -0.528172   False
1   bar     -0.611756   True
4   bar      0.865408   False
3   foo     -1.072969   True
0   foo      1.624345   False

Checking the answer Id = 16545324 | Errors = ["name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14964493
Code to compile
In [63]: df.xs(('B',), level='Alpha')
Out[63]:
                  I        II       III        IV         V        VI       VII
Int Bool
0   True  -0.430563  0.139969 -0.356883 -0.574463 -0.107693 -1.030063  0.271250
    False  0.334960 -0.640764 -0.515756 -0.327806 -0.006574  0.183520  1.397951
1   True  -0.450375  1.237018  0.398290  0.246182 -0.237919  1.372239 -0.805403
    False -0.064493  0.967132 -0.674451  0.666691 -0.350378  1.721682 -0.791897
2   True   0.143154 -0.061543 -1.157361  0.864847 -0.379616 -0.762626  0.645582
    False -3.253589  0.729562 -0.839622 -1.088309  0.039522  0.980831 -0.113494

In [64]: df.xs(('B', False), level=('Alpha', 'Bool'))
Out[64]:
            I        II       III        IV         V        VI       VII
Int
0    0.334960 -0.640764 -0.515756 -0.327806 -0.006574  0.183520  1.397951
1   -0.064493  0.967132 -0.674451  0.666691 -0.350378  1.721682 -0.791897
2   -3.253589  0.729562 -0.839622 -1.088309  0.039522  0.980831 -0.113494

Code to compile
In [87]: ix_vals = set(i for _, i, _ in df.index if i % 2 == 0)
         ix_vals

Out[87]: set([0L, 2L])

Code to compile
In [89]: ix = df.index.get_level_values('Int').isin(ix_vals)
In [90]: df[ix]
Out[90]:                I        II       III        IV         V        VI       VII
Alpha Int Bool
A     0   True  -1.315409  1.203800  0.330372 -0.295718 -0.679039  1.402114  0.778572
          False  0.008189 -0.104372  0.419110  0.302978 -0.880262 -1.037645 -0.264265
      2   True  -2.414290  0.896990  0.986167 -0.527074  0.550753 -0.302920  0.228165
          False  1.275831  0.448089 -0.635874 -0.733855 -0.747774 -1.108976  0.151474
B     0   True  -0.430563  0.139969 -0.356883 -0.574463 -0.107693 -1.030063  0.271250
          False  0.334960 -0.640764 -0.515756 -0.327806 -0.006574  0.183520  1.397951
      2   True   0.143154 -0.061543 -1.157361  0.864847 -0.379616 -0.762626  0.645582
          False -3.253589  0.729562 -0.839622 -1.088309  0.039522  0.980831 -0.113494

Checking the answer Id = 14964637 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
14984119
Code to compile
In [101]: vals = np.random.randint(0,20, (4,3))
          vals
Out[101]:
array([[ 3, 13,  0],
       [ 1, 15, 14],
       [14, 19, 14],
       [19,  5,  1]])

In [106]: df = pd.DataFrame(np.hstack([vals, vals]), columns=['Time', 'H1', 'N2', 'Time Relative', 'N2', 'Time'] )
          df
Out[106]:
   Time  H1  N2  Time Relative  N2  Time
0     3  13   0              3  13     0
1     1  15  14              1  15    14
2    14  19  14             14  19    14
3    19   5   1             19   5     1

In [107]: df.T.drop_duplicates().T
Out[107]:
   Time  H1  N2
0     3  13   0
1     1  15  14
2    14  19  14
3    19   5   1

Code to compile
Time    H1  N2  Time    N2  Time Relative
3   13  13  3   13  0
1   15  15  1   15  14
14  19  19  14  19  14
19  5   5   19  5   1

Code to compile
In [151]: df2 = pd.read_table('dummy.csv')
          df2
Out[151]:
         Time  H1  N2  Time.1  N2.1  Time Relative
      0     3  13  13       3    13              0
      1     1  15  15       1    15             14
      2    14  19  19      14    19             14
      3    19   5   5      19     5              1
In [152]: df2.T.drop_duplicates().T
Out[152]:
             Time  H1  Time Relative
          0     3  13              0
          1     1  15             14
          2    14  19             14
          3    19   5              1

Code to compile
In [169]: df2 = pd.read_table('dummy.csv', header=None)
          df2
Out[169]:
              0   1   2     3   4              5
        0  Time  H1  N2  Time  N2  Time Relative
        1     3  13  13     3  13              0
        2     1  15  15     1  15             14
        3    14  19  19    14  19             14
        4    19   5   5    19   5              1
In [171]: from collections import defaultdict
          col_counts = defaultdict(int)
          col_ix = df2.first_valid_index()
In [172]: cols = []
          for col in df2.ix[col_ix]:
              cnt = col_counts[col]
              col_counts[col] += 1
              suf = '_' + str(cnt) if cnt else ''
              cols.append(col + suf)
          cols
Out[172]:
          ['Time', 'H1', 'N2', 'Time_1', 'N2_1', 'Time Relative']
In [174]: df2.columns = cols
          df2 = df2.drop([col_ix])
In [177]: df2
Out[177]:

Code to compile
In [11]: df
Out[11]:
              c1        c2
first   0.821354  0.936703
second  0.138376  0.482180

In [12]: print df.to_latex()
\begin{tabular}{|l|c|c|c|}
\hline
{} &        c1 &        c2 \\
\hline
first  &  0.821354 &  0.936703 \\
second &  0.138376 &  0.482180 \\
\hline
\end{tabular}

Code to compile
def f1(x):
    return 'blah_%1.2f' % x

def f2(x):
    return 'f2_%1.2f' % x

In [15]: print df.to_latex(formatters=[f1, f2])
\begin{tabular}{|l|c|c|c|}
\hline
{} &        c1 &      c2 \\
\hline
first  & blah\_0.82 & f2\_0.94 \\
second & blah\_0.14 & f2\_0.48 \\
\hline
\end{tabular}

Checking the answer Id = 15070110 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 7)']
----------------------------------------
----------------------------------------
15072005
Code to compile
>>> import pandas as pd
>>> import numpy as np
>>> df = pd.DataFrame(np.random.randn(5, 10))
>>> df[list(df.columns[:2]) + [7]]
          0         1         7
0  0.210139  0.533249  1.780426
1  0.382136  0.083999 -0.392809
2 -0.237868  0.493646 -1.208330
3  1.242077 -0.781558  2.369851
4  1.910740 -0.643370  0.982876

Code to compile
df[col_[:2, "col5", 3:6]]

Checking the answer Id = 15073977 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
15072626
Code to compile
>>> df = pd.DataFrame({'Name': ['foo', 'bar'] * 3,
                   'Rank': np.random.randint(0,3,6),
                   'Val': np.random.rand(6)})
>>> grouped = df.groupby(["Name", "Rank"])
>>> grouped.grouper.
grouped.grouper.agg_series        grouped.grouper.indices
grouped.grouper.aggregate         grouped.grouper.labels
grouped.grouper.apply             grouped.grouper.levels
grouped.grouper.axis              grouped.grouper.names
grouped.grouper.compressed        grouped.grouper.ngroups
grouped.grouper.get_group_levels  grouped.grouper.nkeys
grouped.grouper.get_iterator      grouped.grouper.result_index
grouped.grouper.group_info        grouped.grouper.shape
grouped.grouper.group_keys        grouped.grouper.size
grouped.grouper.groupings         grouped.grouper.sort
grouped.grouper.groups

Code to compile
>>> df["GroupId"] = df.groupby(["Name", "Rank"]).grouper.group_info[0]
>>> df
  Name  Rank       Val  GroupId
0  foo     0  0.302482        2
1  bar     0  0.375193        0
2  foo     2  0.965763        4
3  bar     2  0.166417        1
4  foo     1  0.495124        3
5  bar     2  0.728776        1

Checking the answer Id = 15074395 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15079118
Code to compile
df.to_html(classes = 'my_class" id = "my_id')

Code to compile
'<table border="1" class="dataframe my_class" id = "my_id">...'

Checking the answer Id = 30087487 | Errors = ["name 'df' is not defined", 'Sucess']
----------------------------------------
----------------------------------------
15112234
Code to compile
df.values.T.tolist()

Checking the answer Id = 15112264 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
15118111
Code to compile
def calculate(s):
    a = s['path'] + 2*s['row'] # Simple calc for example
    b = s['path'] * 0.153
    return pd.Series(dict(col1=a, col2=b))

Code to compile
st.ix[i]['a'] = a

Code to compile
st.ix[i, 'a'] = a

Checking the answer Id = 15125793 | Errors = ['Sucess', "name 'a' is not defined", "name 'a' is not defined"]
Code to compile
st['a'] = map(lambda path, row: path + 2 * row, st['path'], st['row'])

Code to compile
title_dict = {'male': 'mr.', 'female': 'ms.'}
table['title'] = map(lambda title,
    gender: title if title != None else title_dict[gender],
    table['title'], table['gender'])

Checking the answer Id = 24222837 | Errors = ["name 'st' is not defined", "name 'table' is not defined"]
----------------------------------------
----------------------------------------
15124439
Checking the answer Id = 15996274 | Errors = []
Code to compile
In [1]: s = Series(["a","b","c","a"], dtype="category")

In [2]: s
Out[2]:
0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a < b < c]

Checking the answer Id = 27023500 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15138973
Checking the answer Id = 15139677 | Errors = []
Code to compile
from scipy.stats import mode
from numpy import nan
df = DataFrame({"a": [1,2,2,4,2], "b": [nan, nan, nan, 3, 3]})
print mode(df)

Code to compile
(array([[ 2.,  3.]]), array([[ 3.,  2.]]))

Checking the answer Id = 30063996 | Errors = ['invalid syntax (<unknown>, line 4)', "name 'array' is not defined"]
----------------------------------------
----------------------------------------
15143842
Code to compile
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':[9,10]*6,
                   'B':range(23,35),
                   'C':range(-6,6)})

print(df)
#      A   B  C
# 0    9  23 -6
# 1   10  24 -5
# 2    9  25 -4
# 3   10  26 -3
# 4    9  27 -2
# 5   10  28 -1
# 6    9  29  0
# 7   10  30  1
# 8    9  31  2
# 9   10  32  3
# 10   9  33  4
# 11  10  34  5

     A   B  C
0    9  23 -6
1   10  24 -5
2    9  25 -4
3   10  26 -3
4    9  27 -2
5   10  28 -1
6    9  29  0
7   10  30  1
8    9  31  2
9   10  32  3
10   9  33  4
11  10  34  5
Code to compile
idx = (df['C']!=0) & (df['A']==10) & (df['B']<30)

Code to compile
df.loc[idx, 'A'] += df.loc[idx, 'B'] * df.loc[idx, 'C']
print(df)

Code to compile
      A   B  C
0     9  23 -6
1  -110  24 -5
2     9  25 -4
3   -68  26 -3
4     9  27 -2
5   -18  28 -1
6     9  29  0
7    10  30  1
8     9  31  2
9    10  32  3
10    9  33  4
11   10  34  5

Checking the answer Id = 15144847 | Errors = ['Sucess', "name 'df' is not defined", "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15203623
Code to compile
[t.value // 10 ** 9 for t in tsframe.index]

Code to compile
In [1]: t = pd.Timestamp('2000-02-11 00:00:00')

In [2]: t
Out[2]: <Timestamp: 2000-02-11 00:00:00>

In [3]: t.value
Out[3]: 950227200000000000L

In [4]: time.mktime(t.timetuple())
Out[4]: 950227200.0

Code to compile
tsframe.index.astype(np.int64) // 10 ** 9

Checking the answer Id = 15203886 | Errors = ["name 'tsframe' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'tsframe' is not defined"]
Code to compile
In [1]: import numpy as np

In [2]: import pandas as pd

In [3]: from datetime import datetime

In [4]: dates = [datetime(2012, 5, 1), datetime(2012, 5, 2), datetime(2012, 5, 3)]
   ...: index = pd.DatetimeIndex(dates)
   ...:
In [5]: index.astype(np.int64)
Out[5]: array([1335830400000000000, 1335916800000000000, 1336003200000000000],
        dtype=int64)

In [6]: index.astype(np.int64) // 10**9
Out[6]: array([1335830400, 1335916800, 1336003200], dtype=int64)

%timeit [t.value // 10 ** 9 for t in index]
10000 loops, best of 3: 119 us per loop

%timeit index.astype(np.int64) // 10**9
100000 loops, best of 3: 18.4 us per loop

Checking the answer Id = 15204235 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15210962
Code to compile
# dont' use dtype converters explicity for the columns you care about
# they will be converted to float64 if possible, or object if they cannot
df = pd.read_csv('test.csv'.....)

#### this is optional and related to the issue you posted ####
# force anything that is not a numeric to nan
# columns are the list of columns that you are interesetd in
df[columns] = df[columns].convert_objects(convert_numeric=True)


    # astype
    df[columns] = df[columns].astype('float32')

see http://pandas.pydata.org/pandas-docs/dev/basics.html#object-conversion

Its not as efficient as doing it directly in read_csv (but that requires

Code to compile
In [5]: x = pd.read_csv(StringIO.StringIO(data), dtype={'a': np.float32}, delim_whitespace=True)

In [6]: x
Out[6]:
         a        b
0  0.76398  0.81394
1  0.32136  0.91063

In [7]: x.dtypes
Out[7]:
a    float32
b    float64
dtype: object

In [8]: pd.__version__
Out[8]: '0.11.0.dev-385ff82'

In [9]: quit()
vagrant@precise32:~/pandas$ uname -a
Linux precise32 3.2.0-23-generic-pae #36-Ubuntu SMP Tue Apr 10 22:19:09 UTC 2012 i686 i686 i386 GNU/Linux

 some low-level changes)

Checking the answer Id = 15213171 | Errors = ['invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [22]: df.a.dtype = pd.np.float32

In [23]: df.a.dtype
Out[23]: dtype('float32')

Checking the answer Id = 15220374 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15222754
Code to compile
source.groupby(['Country','City']).agg(lambda x: stats.mode(x)[0][0])

Code to compile
                         Short name
Country City
Russia  Sankt-Petersburg        Spb
USA     New-York                 NY

Checking the answer Id = 15222976 | Errors = ["name 'source' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd

source = pd.DataFrame({'Country' : ['USA', 'USA', 'Russia','USA'],
                  'City' : ['New-York', 'New-York', 'Sankt-Petersburg', 'New-York'],
                  'Short name' : ['NY','New','Spb','NY']})

source.groupby(['Country','City']).agg(lambda x:x.value_counts().index[0])

Checking the answer Id = 15223034 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
15242746
Code to compile
import pandas as pd

df = pd.DataFrame()

with open(filepath, 'r') as f:
    for line in f:
        df = pd.concat( [df, pd.DataFrame([tuple(line.strip().split(','))])], ignore_index=True )

Checking the answer Id = 15244074 | Errors = ["name 'filepath' is not defined"]
Code to compile
>>> !cat ragged.csv
1,2,3
1,2,3,4
1,2,3,4,5
1,2
1,2,3,4
>>> my_cols = ["A", "B", "C", "D", "E"]
>>> pd.read_csv("ragged.csv", names=my_cols, engine='python')
   A  B   C   D   E
0  1  2   3 NaN NaN
1  1  2   3   4 NaN
2  1  2   3   4   5
3  1  2 NaN NaN NaN
4  1  2   3   4 NaN

Checking the answer Id = 15252012 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15247628
Code to compile
In [16]: import pandas as pd
In [17]: p1 = {'name': 'willy', 'age': 10}
In [18]: p2 = {'name': 'willy', 'age': 11}
In [19]: p3 = {'name': 'zoe', 'age': 10}
In [20]: df = pd.DataFrame([p1, p2, p3])

In [21]: df
Out[21]:
   age   name
0   10  willy
1   11  willy
2   10    zoe

In [22]: df.duplicated('name')
Out[22]:
0    False
1     True
2    False

Checking the answer Id = 15248239 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
x.set_index('name').index.get_duplicates()

Checking the answer Id = 20312816 | Errors = ["name 'x' is not defined"]
----------------------------------------
----------------------------------------
15259547
Code to compile
>>> df.groupby('A_id').apply(lambda x: pd.Series(dict(
    sum_up=(x.B == 'up').sum(),
    sum_down=(x.B == 'down').sum(),
    over_200_up=((x.B == 'up') & (x.C > 200)).sum()
)))
      over_200_up  sum_down  sum_up
A_id
a1              0         0       1
a2              0         1       0
a3              1         0       2
a4              0         0       0
a5              0         0       0

Checking the answer Id = 15262146 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15297053
Code to compile
import pandas as pd

In [1]: grouper = pd.TimeGrouper("1M")

Code to compile
In [2]: df['normed'] = df.groupby(grouper).transform(lambda x: x/x.mean())

Checking the answer Id = 15300930 | Errors = ['invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15315452
Code to compile
>>> import pandas as pd
>>> from random import randint
>>> df = pd.DataFrame({'A': [randint(1, 9) for x in xrange(10)],
                   'B': [randint(1, 9)*10 for x in xrange(10)],
                   'C': [randint(1, 9)*100 for x in xrange(10)]})
>>> df
   A   B    C
0  9  40  300
1  9  70  700
2  5  70  900
3  8  80  900
4  7  50  200
5  9  30  900
6  2  80  700
7  2  80  400
8  5  80  300
9  7  70  800

Code to compile
>>> df["B"] > 50
0    False
1     True
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9     True
Name: B
>>> (df["B"] > 50) & (df["C"] == 900)
0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False

Code to compile
>>> df["A"][(df["B"] > 50) & (df["C"] == 900)]
2    5
3    8
Name: A, dtype: int64

Code to compile
>>> df.loc[(df["B"] > 50) & (df["C"] == 900), "A"]
2    5
3    8
Name: A, dtype: int64
>>> df.loc[(df["B"] > 50) & (df["C"] == 900), "A"].values
array([5, 8], dtype=int64)
>>> df.loc[(df["B"] > 50) & (df["C"] == 900), "A"] *= 1000
>>> df
      A   B    C
0     9  40  300
1     9  70  700
2  5000  70  900
3  8000  80  900
4     7  50  200
5     9  30  900
6     2  80  700
7     2  80  400
8     5  80  300
9     7  70  800

Checking the answer Id = 15315507 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15322632
Code to compile
idx = df.groupby('word')['count'].idxmax()
print(idx)

Code to compile
word
a       2
an      3
the     1
Name: count

Code to compile
print(df.loc[idx, ['word', 'tag']])

Code to compile
  word tag
2    a   T
3   an   T
1  the   S

Code to compile
import pandas as pd
df = pd.DataFrame({'word':'a the a an the'.split(),
                   'tag': list('SSTTT'),
                   'count': [30, 20, 60, 5, 10]})

print(df.groupby('word').apply(lambda subf: subf['tag'][subf['count'].idxmax()]))

word
a      T
an     T
the    S
dtype: object
Code to compile
word
a       T
an      T
the     S

Code to compile
N = 10000
df = pd.DataFrame({'word':'a the a an the'.split()*N,
                   'tag': list('SSTTT')*N,
                   'count': [30, 20, 60, 5, 10]*N})
def using_apply(df):
    return (df.groupby('word').apply(lambda subf: subf['tag'][subf['count'].idxmax()]))

def using_idxmax_loc(df):
    idx = df.groupby('word')['count'].idxmax()
    return df.loc[idx, ['word', 'tag']]

In [22]: %timeit using_apply(df)
100 loops, best of 3: 7.68 ms per loop

In [23]: %timeit using_idxmax_loc(df)
100 loops, best of 3: 5.43 ms per loop

Code to compile
In [36]: df2 = df.loc[idx, ['word', 'tag']].set_index('word')

In [37]: df2
Out[37]:
     tag
word
a      T
an     T
the    S

In [38]: df2.to_dict()['tag']
Out[38]: {'a': 'T', 'an': 'T', 'the': 'S'}

Checking the answer Id = 15322715 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 2)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', 'Sucess', 'invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 12)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [33]: def f(x):
....:     print type(x)
....:     print x
....:

In [34]: df.groupby('word').apply(f)
<class 'pandas.core.frame.DataFrame'>
  word tag  count
0    a   S     30
2    a   T     60
<class 'pandas.core.frame.DataFrame'>
  word tag  count
0    a   S     30
2    a   T     60
<class 'pandas.core.frame.DataFrame'>
  word tag  count
3   an   T      5
<class 'pandas.core.frame.DataFrame'>
  word tag  count
1  the   S     20
4  the   T     10

Code to compile
In [41]: df.groupby('word').sum()
Out[41]:
      count
word
a        90
an        5
the      30

Code to compile
In [42]: df.groupby('word').apply(lambda x: x.sum())
Out[42]:
        word tag count
word
a         aa  ST    90
an        an   T     5
the   thethe  ST    30

Code to compile
In [43]: df.groupby('word').apply(lambda x: x['count'].sum())
Out[43]:
word
a       90
an       5
the     30

Checking the answer Id = 15322920 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15325182
Code to compile
In [10]: df.b.str.contains('^f')
Out[10]:
0    False
1     True
2     True
3    False
Name: b, dtype: bool

Checking the answer Id = 15333283 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
frame[frame.filename.str.match('*.'+MetaData+'.*') & frame.file_path.str.match('C:\test\test.txt')]

Checking the answer Id = 31076657 | Errors = ["name 'frame' is not defined"]
----------------------------------------
----------------------------------------
15360925
Code to compile
x[x.columns[0]]

Checking the answer Id = 15361537 | Errors = ["name 'x' is not defined"]
Code to compile
>>> import pandas as pd
>>> df = pd.DataFrame({'x' : [1, 2, 3, 4], 'y' : [4, 5, 6, 7]})
>>> df
   x  y
0  1  4
1  2  5
2  3  6
3  4  7
>>> s = df.ix[:,0]
>>> type(s)
<class 'pandas.core.series.Series'>
>>>

Checking the answer Id = 15362700 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
in 0.11

In [7]: df.iloc[:,0]
Out[7]:
0    1
1    2
2    3
3    4
Name: x, dtype: int64

Checking the answer Id = 15364468 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15374597
Code to compile
from pandas import *

d = {"my_label": Series(['A','B','A','C','D','D','E'])}
df = DataFrame(d)


def as_perc(value, total):
    return value/float(total)

def get_count(values):
    return len(values)

grouped_count = df.groupby("my_label").my_label.agg(get_count)
data = grouped_count.apply(as_perc, total=df.my_label.count())

Checking the answer Id = 15375176 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
15411158
Code to compile
table.groupby('YEARMONTH').CLIENTCODE.nunique()

Code to compile
In [2]: table
Out[2]:
   CLIENTCODE  YEARMONTH
0           1     201301
1           1     201301
2           2     201301
3           1     201302
4           2     201302
5           2     201302
6           3     201302

In [3]: table.groupby('YEARMONTH').CLIENTCODE.nunique()
Out[3]:
YEARMONTH
201301       2
201302       3

Checking the answer Id = 15411596 | Errors = ["name 'table' is not defined", 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 23464103 | Errors = []
----------------------------------------
----------------------------------------
15420672
Code to compile
import sys
reload(sys)
sys.setdefaultencoding("utf-8")

Checking the answer Id = 19089210 | Errors = ["name 'reload' is not defined"]
----------------------------------------
----------------------------------------
15432659
Code to compile
import pandas as pd
from datetime import timedelta

df = pd.read_csv("hourmelt.csv", sep=r"\s+")

df = pd.melt(df, id_vars=["Date"])
df = df.rename(columns={'variable': 'hour'})
df['hour'] = df['hour'].apply(lambda x: int(x.lstrip('h'))-1)

combined = df.apply(lambda x:
                    pd.to_datetime(x['Date'], dayfirst=True) +
                    timedelta(hours=int(x['hour'])), axis=1)

df['Date'] = combined
del df['hour']

df = df.sort("Date")

Code to compile
>>> import pandas as pd
>>> from datetime import datetime, timedelta
>>>
>>> df = pd.read_csv("hourmelt.csv", sep=r"\s+")
>>> df
         Date  h1  h2  h3  h4  h24
0  14.03.2013  60  50  52  49   73
1  14.04.2013   5   6   7   8    9

Code to compile
>>> df = pd.melt(df, id_vars=["Date"])

Checking the answer Id = 15466103 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
15557542
Code to compile
>>> df = pd.DataFrame(range(5))
>>> eq2 = df[0] == 2
>>> df_no_2 = df[~eq2]
>>> df_no_2
   0
0  0
1  1
3  3
4  4
>>> df_no_2.reset_index(drop=True)
   0
0  0
1  1
2  3
3  4

Checking the answer Id = 15557663 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15570099
Code to compile
import pandas as pd
import StringIO

incsv = StringIO.StringIO("""Date,State,City,SalesToday,SalesMTD,SalesYTD
20130320,stA,ctA,20,400,1000
20130320,stA,ctB,30,500,1100
20130320,stB,ctC,10,500,900
20130320,stB,ctD,40,200,1300
20130320,stC,ctF,30,300,800""")

df = pd.read_csv(incsv, index_col=['Date'], parse_dates=True)

Code to compile
dfsum = df.groupby('State', as_index=False).sum()
dfsum['City'] = 'All'

print dfsum

  State  SalesToday  SalesMTD  SalesYTD City
0   stA          50       900      2100  All
1   stB          50       700      2200  All
2   stC          30       300       800  All

Code to compile
dfsum.append(df).set_index(['State','City']).sort_index()

print dfsum

            SalesMTD  SalesToday  SalesYTD
State City
stA   All        900          50      2100
      ctA        400          20      1000
      ctB        500          30      1100
stB   All        700          50      2200
      ctC        500          10       900
      ctD        200          40      1300
stC   All        300          30       800
      ctF        300          30       800

Checking the answer Id = 15570546 | Errors = ["No module named 'StringIO'", "Missing parentheses in call to 'print' (<unknown>, line 4)", "Missing parentheses in call to 'print' (<unknown>, line 3)"]
Code to compile
In [10]: table = pivot_table(df, values=['SalesToday', 'SalesMTD','SalesYTD'],\
                     rows=['State'], cols=['City'], aggfunc=np.sum, margins=True)


In [11]: table.stack('City')
Out[11]:
            SalesMTD  SalesToday  SalesYTD
State City
stA   All        900          50      2100
      ctA        400          20      1000
      ctB        500          30      1100
stB   All        700          50      2200
      ctC        500          10       900
      ctD        200          40      1300
stC   All        300          30       800
      ctF        300          30       800
All   All       1900         130      5100
      ctA        400          20      1000
      ctB        500          30      1100
      ctC        500          10       900
      ctD        200          40      1300
      ctF        300          30       800

Checking the answer Id = 15574875 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15589354
Code to compile
d1.groupby('ExamenYear').agg({'Participated': len,
                              'Passed': lambda x: sum(x == 'yes')})

Checking the answer Id = 15590006 | Errors = ["name 'd1' is not defined"]
Code to compile
def ZahlOccurence_0(x):
      return pd.Series({'All': len(x['StudentID']),
                       'Part': sum(x['Participated'] == 'yes'),
                       'Pass' :  sum(x['Passed'] == 'yes')})

Code to compile
 d1.groupby('ExamenYear').apply(ZahlOccurence_0)

Code to compile
            All  Part  Pass
ExamenYear
2007          3     2     2
2008          4     3     3
2009          3     3     2

Code to compile
import numpy as np
d1['testValue'] = np.random.randn(len(d1))

def ZahlOccurence_1(x):
    return pd.Series({'All': len(x['StudentID']),
        'Part': sum(x['Participated'] == 'yes'),
        'Pass' :  sum(x['Passed'] == 'yes'),
        'test' : x['testValue'].mean()})


d1.groupby('ExamenYear').apply(ZahlOccurence_1)


            All  Part  Pass      test
ExamenYear
2007          3     2     2  0.358702
2008          4     3     3  1.004504
2009          3     3     2  0.521511

Checking the answer Id = 15611666 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 14)']
----------------------------------------
----------------------------------------
15653688
Code to compile
import pandas
dfdict={}
dfdict["a"]=[1,2,3,4]
dfdict["b"]=[5,6,7,8]
dfdict["c"]=[9,10,11,12]
df=pandas.DataFrame(dfdict)
df.to_csv("dfTest.txt","\t",header=True,cols=["b","a","c"])

Code to compile
    b   a   c
0   1   5   9
1   2   6   10
2   3   7   11
3   4   8   12

Code to compile
pandas.version.version

Code to compile
df.to_csv("dfTest.txt","\t",header=True,cols=["b","a","c"], engine='python')

Checking the answer Id = 16958464 | Errors = ["to_csv() got an unexpected keyword argument 'cols'", 'unexpected indent (<unknown>, line 1)', "name 'pandas' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
15705630
Code to compile
In [1]: df
Out[1]:
    Sp  Mt Value  count
0  MM1  S1     a      3
1  MM1  S1     n      2
2  MM1  S3    cb      5
3  MM2  S3    mk      8
4  MM2  S4    bg     10
5  MM2  S4   dgd      1
6  MM4  S2    rd      2
7  MM4  S2    cb      2
8  MM4  S2   uyi      7

In [2]: df.groupby(['Mt'], sort=False)['count'].max()
Out[2]:
Mt
S1     3
S3     8
S4    10
S2     7
Name: count

Code to compile
In [3]: idx = df.groupby(['Mt'])['count'].transform(max) == df['count']

In [4]: df[idx]
Out[4]:
    Sp  Mt Value  count
0  MM1  S1     a      3
3  MM2  S3    mk      8
4  MM2  S4    bg     10
8  MM4  S2   uyi      7

Code to compile
In [5]: df['count_max'] = df.groupby(['Mt'])['count'].transform(max)

In [6]: df
Out[6]:
    Sp  Mt Value  count  count_max
0  MM1  S1     a      3          3
1  MM1  S1     n      2          3
2  MM1  S3    cb      5          8
3  MM2  S3    mk      8          8
4  MM2  S4    bg     10         10
5  MM2  S4   dgd      1         10
6  MM4  S2    rd      2          7
7  MM4  S2    cb      2          7
8  MM4  S2   uyi      7          7

Checking the answer Id = 15705958 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df = pd.DataFrame({
    'sp' : ['MM1', 'MM1', 'MM1', 'MM2', 'MM2', 'MM2', 'MM4', 'MM4', 'MM4'],
    'mt' : ['S1', 'S1', 'S3', 'S3', 'S4', 'S4', 'S2', 'S2', 'S2'],
    'val' : ['a', 'n', 'cb', 'mk', 'bg', 'dgb', 'rd', 'cb', 'uyi'],
    'count' : [3,2,5,8,10,1,2,2,7]
    })

df_grouped = df.groupby(['sp', 'mt']).agg({'count':'max'})

df_grouped = df_grouped.reset_index()

df_grouped = df_grouped.rename(columns={'count':'count_max'})

df = pd.merge(df, df_grouped, how='left', on=['sp', 'mt'])

df = df[df['count'] == df['count_max']]

Checking the answer Id = 21709413 | Errors = ["name 'pd' is not defined"]
Code to compile
df.sort_values('count', ascending=False).drop_duplicates(['Sp','Mt'])

Checking the answer Id = 40629420 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
15723628
Code to compile
df['col_name'] = df['col_name'].astype(object)

Code to compile
df = df.astype(object)

Code to compile
df['col_name'] = df['col_name'].astype('category')

Checking the answer Id = 15723905 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
Code to compile
In [27]: df = pd.DataFrame({'a' : [1, 2, 3, 4, 5], 'b' : ['yes', 'no', 'yes', 'no', 'absent']})

In [28]: df
Out[28]:
   a       b
0  1     yes
1  2      no
2  3     yes
3  4      no
4  5  absent

In [29]: df['c'] = pd.Categorical.from_array(df.b).labels

In [30]: df
Out[30]:
   a       b  c
0  1     yes  2
1  2      no  1
2  3     yes  2
3  4      no  1
4  5  absent  0

Checking the answer Id = 15723994 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
# use the df data from @herrfz

In [150]: pd.factorize(df.b)
Out[150]: (array([0, 1, 0, 1, 2]), array(['yes', 'no', 'absent'], dtype=object))
In [152]: df['c'] = pd.factorize(df.b)[0]

In [153]: df
Out[153]:
   a       b  c
0  1     yes  0
1  2      no  1
2  3     yes  0
3  4      no  1
4  5  absent  2

Checking the answer Id = 20051631 | Errors = ['invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
15741759
Code to compile
In [34]: df.loc[df['Value'].idxmax()]
Out[34]:
Country        US
Place      Kansas
Value         894
Name: 7

Code to compile
df = df.reset_index()

Checking the answer Id = 15742147 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
15752422
Code to compile
df.set_index('month')

Code to compile
In [1]: df = pd.DataFrame([[1, datetime(2011,1,1)], [2, datetime(2011,1,2)]], columns=['a', 'b'])

In [2]: df
Out[2]:
   a                   b
0  1 2011-01-01 00:00:00
1  2 2011-01-02 00:00:00

In [3]: df.set_index('b')
Out[3]:
            a
b
2011-01-01  1
2011-01-02  2

Checking the answer Id = 15752582 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15755057
Code to compile
data2 = data1.reset_index()
data3 = data2.set_index(["Bool", "Dir", "index"])   # index is the new column created by reset_index
running_sum = data3.groupby(level=[0,1,2]).sum().groupby(level=[0,1]).cumsum()

Checking the answer Id = 15756128 | Errors = ["name 'data1' is not defined"]
Code to compile
data1.groupby(['Bool', 'Dir', 'Date']).sum().groupby(level=[0, 1]).cumsum()

Code to compile
data1.groupby(['Bool', 'Dir']).apply(lambda x: x['Data'].cumsum())

Code to compile
Bool  Dir
N     E    2000-12-30     5
           2000-12-30    16
      W    2001-01-02     7
           2001-01-03    16
Y     E    2000-12-30     4
           2001-01-03    12
      W    2000-12-30     6
           2000-12-30    16
Name: Data, dtype: int64

Checking the answer Id = 25798359 | Errors = ["name 'data1' is not defined", "name 'data1' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15771472
Code to compile
pd.rolling_mean(df.resample("1D", fill_method="ffill"), window=3, min_periods=1)

            favorable  unfavorable     other
enddate
2012-10-25   0.495000     0.485000  0.025000
2012-10-26   0.527500     0.442500  0.032500
2012-10-27   0.521667     0.451667  0.028333
2012-10-28   0.515833     0.450000  0.035833
2012-10-29   0.488333     0.476667  0.038333
2012-10-30   0.495000     0.470000  0.038333
2012-10-31   0.512500     0.460000  0.029167
2012-11-01   0.516667     0.456667  0.026667
2012-11-02   0.503333     0.463333  0.033333
2012-11-03   0.490000     0.463333  0.046667
2012-11-04   0.494000     0.456000  0.043333
2012-11-05   0.500667     0.452667  0.036667
2012-11-06   0.507333     0.456000  0.023333
2012-11-07   0.510000     0.443333  0.013333

Code to compile
df.resample("1d").sum().fillna(0).rolling(window=3, min_periods=1).mean()

Checking the answer Id = 15772263 | Errors = ['unexpected indent (<unknown>, line 3)', "name 'df' is not defined"]
Code to compile
from pandas import Series, DataFrame
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

def rolling_mean(data, window, min_periods=1, center=False):
    ''' Function that computes a rolling mean

    Parameters
    ----------
    data : DataFrame or Series
           If a DataFrame is passed, the rolling_mean is computed for all columns.
    window : int or string
             If int is passed, window is the number of observations used for calculating
             the statistic, as defined by the function pd.rolling_mean()
             If a string is passed, it must be a frequency string, e.g. '90S'. This is
             internally converted into a DateOffset object, representing the window size.
    min_periods : int
                  Minimum number of observations in window required to have a value.

    Returns
    -------
    Series or DataFrame, if more than one column
    '''
    def f(x):
        '''Function to apply that actually computes the rolling mean'''
        if center == False:
            dslice = col[x-pd.datetools.to_offset(window).delta+timedelta(0,0,1):x]
                # adding a microsecond because when slicing with labels start and endpoint
                # are inclusive
        else:
            dslice = col[x-pd.datetools.to_offset(window).delta/2+timedelta(0,0,1):
                         x+pd.datetools.to_offset(window).delta/2]
        if dslice.size < min_periods:
            return np.nan
        else:
            return dslice.mean()

    data = DataFrame(data.copy())
    dfout = DataFrame()
    if isinstance(window, int):
        dfout = pd.rolling_mean(data, window, min_periods=min_periods, center=center)
    elif isinstance(window, basestring):
        idx = Series(data.index.to_pydatetime(), index=data.index)
        for colname, col in data.iterkv():
            result = idx.apply(f)
            result.name = colname
            dfout = dfout.join(result, how='outer')
    if dfout.columns.size == 1:
        dfout = dfout.ix[:,0]
    return dfout


# Example
idx = [datetime(2011, 2, 7, 0, 0),
       datetime(2011, 2, 7, 0, 1),
       datetime(2011, 2, 7, 0, 1, 30),
       datetime(2011, 2, 7, 0, 2),
       datetime(2011, 2, 7, 0, 4),
       datetime(2011, 2, 7, 0, 5),
       datetime(2011, 2, 7, 0, 5, 10),
       datetime(2011, 2, 7, 0, 6),
       datetime(2011, 2, 7, 0, 8),
       datetime(2011, 2, 7, 0, 9)]
idx = pd.Index(idx)
vals = np.arange(len(idx)).astype(float)
s = Series(vals, index=idx)
rm = rolling_mean(s, window='2min')

Checking the answer Id = 18467097 | Errors = ["name 'basestring' is not defined"]
----------------------------------------
----------------------------------------
15772009
Code to compile
In [1]: df = pd.DataFrame({'A':range(10), 'B':range(10)})

In [2]: df
Out[2]:
   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9


In [3]: df.reindex(np.random.permutation(df.index))
Out[3]:
   A  B
0  0  0
5  5  5
6  6  6
3  3  3
8  8  8
7  7  7
9  9  9
1  1  1
2  2  2
4  4  4

Checking the answer Id = 15772330 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [16]: def shuffle(df, n=1, axis=0):
    ...:     df = df.copy()
    ...:     for _ in range(n):
    ...:         df.apply(np.random.shuffle, axis=axis)
    ...:     return df
    ...:

In [17]: df = pd.DataFrame({'A':range(10), 'B':range(10)})

In [18]: shuffle(df)

In [19]: df
Out[19]:
   A  B
0  8  5
1  1  7
2  7  3
3  6  2
4  3  4
5  0  1
6  9  0
7  4  6
8  2  8
9  5  9

Checking the answer Id = 15772356 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.sample(frac=1)

Checking the answer Id = 35784666 | Errors = ["name 'df' is not defined"]
Code to compile
# Generate data
import pandas as pd
df = pd.DataFrame({'A':range(5), 'B':range(5)})
print('df: {0}'.format(df))

# Shuffle Pandas data frame
import sklearn.utils
df = sklearn.utils.shuffle(df)
print('\n\ndf: {0}'.format(df))

df:    A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
Code to compile
df:    A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4


df:    A  B
1  1  1
0  0  0
3  3  3
4  4  4
2  2  2

Code to compile
df = df.reset_index(drop=True)
print('\n\ndf: {0}'.format(df)

Code to compile
df:    A  B
0  1  1
1  0  0
2  4  4
3  2  2
4  3  3

Checking the answer Id = 38902835 | Errors = ["No module named 'sklearn'", 'invalid syntax (<unknown>, line 1)', 'unexpected EOF while parsing (<unknown>, line 2)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15777951
Code to compile
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

Checking the answer Id = 15778297 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
15798209
Code to compile
import numpy as np
import pandas as pd
import os

fname = 'groupby.h5'

# create a frame
df = pd.DataFrame({'A': ['foo', 'foo', 'foo', 'foo',
                         'bar', 'bar', 'bar', 'bar',
                         'foo', 'foo', 'foo'],
                   'B': ['one', 'one', 'one', 'two',
                         'one', 'one', 'one', 'two',
                         'two', 'two', 'one'],
                   'C': ['dull', 'dull', 'shiny', 'dull',
                         'dull', 'shiny', 'shiny', 'dull',
                         'shiny', 'shiny', 'shiny'],
                   'D': np.random.randn(11),
                   'E': np.random.randn(11),
                   'F': np.random.randn(11)})


# create the store and append, using data_columns where I possibily
# could aggregate
with pd.get_store(fname) as store:
    store.append('df',df,data_columns=['A','B','C'])
    print "store:\n%s" % store

    print "\ndf:\n%s" % store['df']

    # get the groups
    groups = store.select_column('df','A').unique()
    print "\ngroups:%s" % groups

    # iterate over the groups and apply my operations
    l = []
    for g in groups:

        grp = store.select('df',where = [ 'A=%s' % g ])

        # this is a regular frame, aggregate however you would like
        l.append(grp[['D','E','F']].sum())


    print "\nresult:\n%s" % pd.concat(l, keys = groups)

os.remove(fname)

Code to compile
store:
<class 'pandas.io.pytables.HDFStore'>
File path: groupby.h5
/df            frame_table  (typ->appendable,nrows->11,ncols->6,indexers->[index],dc->[A,B,C])

df:
      A    B      C         D         E         F
0   foo  one   dull -0.815212 -1.195488 -1.346980
1   foo  one   dull -1.111686 -1.814385 -0.974327
2   foo  one  shiny -1.069152 -1.926265  0.360318
3   foo  two   dull -0.472180  0.698369 -1.007010
4   bar  one   dull  1.329867  0.709621  1.877898
5   bar  one  shiny -0.962906  0.489594 -0.663068
6   bar  one  shiny -0.657922 -0.377705  0.065790
7   bar  two   dull -0.172245  1.694245  1.374189
8   foo  two  shiny -0.780877 -2.334895 -2.747404
9   foo  two  shiny -0.257413  0.577804 -0.159316
10  foo  one  shiny  0.737597  1.979373 -0.236070

groups:Index([bar, foo], dtype=object)

result:
bar  D   -0.463206
     E    2.515754
     F    2.654810
foo  D   -3.768923
     E   -4.015488
     F   -6.110789
dtype: float64

Checking the answer Id = 15800314 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 26)", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
15799162
Code to compile
df.groupby(pd.Grouper(freq='2D', level=-1))

Code to compile
level_values = df.index.get_level_values
result = (df.groupby([level_values(i) for i in [0,1]]
                      +[pd.Grouper(freq='2D', level=-1)]).sum())

Code to compile
import numpy as np
import pandas as pd
import datetime as DT

def using_Grouper(df):
    level_values = df.index.get_level_values
    return (df.groupby([level_values(i) for i in [0,1]]
                       +[pd.Grouper(freq='2D', level=-1)]).sum())

def using_reset_index(df):
    df = df.reset_index(level=[0, 1])
    return df.groupby(['State','City']).resample('2D').sum()

def using_stack(df):
    # http://stackoverflow.com/a/15813787/190597
    return (df.unstack(level=[0,1])
              .resample('2D').sum()
              .stack(level=[2,1])
              .swaplevel(2,0))

def make_orig():
    values_a = range(16)
    values_b = range(10, 26)
    states = ['Georgia']*8 + ['Alabama']*8
    cities = ['Atlanta']*4 + ['Savanna']*4 + ['Mobile']*4 + ['Montgomery']*4
    dates = pd.DatetimeIndex([DT.date(2012,1,1)+DT.timedelta(days = i) for i in range(4)]*4)
    df = pd.DataFrame(
        {'value_a': values_a, 'value_b': values_b},
        index = [states, cities, dates])

----------------------------------------
16249736
Code to compile
import pandas as pd
from pymongo import MongoClient


def _connect_mongo(host, port, username, password, db):
    """ A util for making a connection to mongo """

    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)


    return conn[db]


def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    df =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del df['_id']

    return df

Checking the answer Id = 16255680 | Errors = ["No module named 'pymongo'"]
Checking the answer Id = 20693013 | Errors = []
Code to compile
import pymongo
import pandas as pd
from pymongo import MongoClient
client = MongoClient()
db = client.database_name
collection = db.collection_name
data = pd.DataFrame(list(collection.find()))

Checking the answer Id = 27617290 | Errors = ["No module named 'pymongo'"]
----------------------------------------
----------------------------------------
16266019
Code to compile
times = pd.to_datetime(df.timestamp_col)
df.groupby([times.hour, times.minute]).value_col.sum()

Checking the answer Id = 16266318 | Errors = ["name 'pd' is not defined"]
Code to compile
grp = data.groupby(by=[data.datetime_col.map(lambda x : (x.hour, x.minute))])
grp.count()

Code to compile
grp = data.groupby(by=[data.datetime_col.map(lambda x : x.hour),
                       data.datetime_col.map(lambda x : x.minute)])

Checking the answer Id = 32066997 | Errors = ["name 'data' is not defined", "name 'data' is not defined"]
Code to compile
times = pd.DatetimeIndex(data.datetime_col)
grouped = df.groupby([times.hour, times.minute])

Checking the answer Id = 32366268 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
16311793
----------------------------------------
----------------------------------------
16327055
Code to compile
>>> df = pd.DataFrame({"A": [1,2,3], "B": [2,3,4]})
>>> df
   A  B
0  1  2
1  2  3
2  3  4
>>> df["C"] = ""
>>> df["D"] = np.nan
>>> df
   A  B C   D
0  1  2   NaN
1  2  3   NaN
2  3  4   NaN

Checking the answer Id = 16327135 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
mydf = mydf.reindex( mydf.columns.tolist() + ['newcol1','newcol2'])  # version >= 0.20.0

Code to compile
mydf = mydf.reindex( mydf.columns.values + ['newcol1','newcol2'])  # version < 0.20.0

Checking the answer Id = 39405540 | Errors = ["name 'mydf' is not defined", "name 'mydf' is not defined"]
----------------------------------------
----------------------------------------
16345583
Code to compile
import numpy as np
import pandas as pd

df = pd.DataFrame({'id': [1,1,2,2,1,2,1,1], 'x':[10,20,100,200,np.nan,np.nan,300,np.nan]})
df['x'] = df.groupby(['id'])['x'].ffill()
print(df)

   id       x
0   1  $10.00
1   1  $20.00
2   2 $100.00
3   2 $200.00
4   1  $20.00
5   2 $200.00
6   1 $300.00
7   1 $300.00
Code to compile
   id      x
0   1   10.0
1   1   20.0
2   2  100.0
3   2  200.0
4   1   20.0
5   2  200.0
6   1  300.0
7   1  300.0

Checking the answer Id = 16345735 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16349389
Code to compile
df = pd.DataFrame({'ID': ('STRSUB BOTDWG'.split())*4,
                   'Days Late': [60, 60, 50, 50, 20, 20, 10, 10],
                   'quantity': [56, 20, 60, 67, 74, 87, 40, 34]})
#    Days Late      ID  quantity
# 0         60  STRSUB        56
# 1         60  BOTDWG        20
# 2         50  STRSUB        60
# 3         50  BOTDWG        67
# 4         20  STRSUB        74
# 5         20  BOTDWG        87
# 6         10  STRSUB        40
# 7         10  BOTDWG        34

Code to compile
df['status'] = pd.cut(df['Days Late'], bins=[-1, 14, 35, 56, 365], labels=False)
labels = np.array('White Yellow Amber Red'.split())
df['status'] = labels[df['status']]
del df['Days Late']
print(df)
#        ID  quantity  status
# 0  STRSUB        56     Red
# 1  BOTDWG        20     Red
# 2  STRSUB        60   Amber
# 3  BOTDWG        67   Amber
# 4  STRSUB        74  Yellow
# 5  BOTDWG        87  Yellow
# 6  STRSUB        40   White
# 7  BOTDWG        34   White

Code to compile
df = df.pivot(index='ID', columns='status', values='quantity')

Code to compile
df = df.reindex(columns=labels[::-1], index=df.index[::-1])

Code to compile
import numpy as np
import pandas as pd

df = pd.DataFrame({'ID': ('STRSUB BOTDWG'.split())*4,
                   'Days Late': [60, 60, 50, 50, 20, 20, 10, 10],
                   'quantity': [56, 20, 60, 67, 74, 87, 40, 34]})
df['status'] = pd.cut(df['Days Late'], bins=[-1, 14, 35, 56, 365], labels=False)
labels = np.array('White Yellow Amber Red'.split())
df['status'] = labels[df['status']]
del df['Days Late']
df = df.pivot(index='ID', columns='status', values='quantity')
df = df.reindex(columns=labels[::-1], index=df.index[::-1])
print(df)

status  Red  Amber  Yellow  White
ID
STRSUB   56     60      74     40
BOTDWG   20     67      87     34
Code to compile
        Red  Amber  Yellow  White
ID
STRSUB   56     60      74     40
BOTDWG   20     67      87     34

Checking the answer Id = 16359854 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16353729
Code to compile
In [7]: df['a'] % df['c']
Out[7]:
0   -1.132022
1   -0.939493
2    0.201931
3    0.511374
4   -0.694647
5   -0.023486
Name: a

Checking the answer Id = 16354103 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [43]: df['Value'] = df.apply(lambda row: my_test(row['a'], row['c']), axis=1)

In [44]: df
Out[44]:
                    a    b         c     Value
          0 -1.674308  foo  0.343801  0.044698
          1 -2.163236  bar -2.046438 -0.116798
          2 -0.199115  foo -0.458050 -0.199115
          3  0.918646  bar -0.007185 -0.001006
          4  1.336830  foo  0.534292  0.268245
          5  0.976844  bar -0.773630 -0.570417

Code to compile
In [53]: def my_test2(row):
....:     return row['a'] % row['c']
....:

In [54]: df['Value'] = df.apply(my_test2, axis=1)

Checking the answer Id = 16354730 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16376159
Code to compile
import matplotlib.pyplot as plt

for title, group in df.groupby('ModelID'):
    group.plot(x='saleDate', y='MeanToDate', title=title)

Checking the answer Id = 16377383 | Errors = ["No module named 'matplotlib'"]
Code to compile
aggregated = df.groupby(['model', 'training_examples']).aggregate(np.mean)
aggregated.plot(x='training_examples', y='accuracy', label='model')

Code to compile
for index, group in df.groupby(['model']):
    group_agg = group.groupby(['training_examples']).aggregate(np.mean)
    group_agg.plot(y='accuracy', label=index)

Checking the answer Id = 22368682 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
16392921
Code to compile
fig, axs = plt.subplots(1,2)

df['korisnika'].plot(ax=axs[0])
df['osiguranika'].plot(ax=axs[1])

Checking the answer Id = 16393023 | Errors = ["name 'plt' is not defined"]
Code to compile
   plot(a)
   show()
   plot(b)
   show()

Checking the answer Id = 18046682 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16396903
Code to compile
df2 = df1.iloc[3:] #edited since .ix is now deprecated.

Checking the answer Id = 16398361 | Errors = ["name 'df1' is not defined"]
Code to compile
df.drop(label)

Code to compile
df.drop(label, inplace=True)

Code to compile
df.drop(df.index[:3], inplace=True)

Code to compile
df.drop(df.head(3).index, inplace=True)

Checking the answer Id = 17950081 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
16412099
Code to compile
df['date']  = pd.to_datetime(df['date'])
df_masked = df[(df['date'] > datetime.date(2012,4,1)) & (df['date'] < datetime.date(2012,4,4))]

Checking the answer Id = 24446716 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
16424493
Code to compile
pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 500)

Checking the answer Id = 16433953 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
16476413
Code to compile
df.to_sql(con=con, name='table_name_for_df', if_exists='replace', flavor='mysql')

Code to compile
from pandas.io import sql
import MySQLdb

con = MySQLdb.connect()  # may need to add some other options to connect

Code to compile
sql.write_frame(df, con=con, name='table_name_for_df',
                if_exists='replace', flavor='mysql')

Checking the answer Id = 16477603 | Errors = ["name 'df' is not defined", "No module named 'MySQLdb'", "name 'sql' is not defined"]
----------------------------------------
----------------------------------------
16476924
Code to compile
In [18]: for index, row in df.iterrows():
   ....:     print row['c1'], row['c2']
   ....:
10 100
11 110
12 120

Checking the answer Id = 16476974 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
def valuation_formula(x, y):
    return x * y * 0.5

df['price'] = df.apply(lambda row: valuation_formula(row['x'], row['y']), axis=1)

Checking the answer Id = 30566899 | Errors = ["name 'df' is not defined"]
Code to compile
df = pd.DataFrame({'a': randn(1000), 'b': randn(1000),'N': randint(100, 1000, (1000)), 'x': 'x'})

%timeit [row.a * 2 for idx, row in df.iterrows()]
# => 10 loops, best of 3: 50.3 ms per loop

%timeit [row[1] * 2 for row in df.itertuples()]
# => 1000 loops, best of 3: 541 µs per loop

Checking the answer Id = 32680162 | Errors = ['invalid syntax (<unknown>, line 3)']
Code to compile
for i in range(0, len(df)):
    print df.iloc[i]['c1'], df.iloc[i]['c2']

Checking the answer Id = 39370553 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
Code to compile
for index, row in df.iterrows():
    print row["c1"], row["c2"]

Code to compile
for row in df.itertuples(index=True, name='Pandas'):
    print getattr(row, "c1"), getattr(row, "c2")

Code to compile
new_df = df.apply(lambda x: x * 2)

Checking the answer Id = 41022840 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)", 'invalid syntax (<unknown>, line 2)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
16522380
Code to compile
import matplotlib.pyplot as plt

Code to compile
plt.show()

Checking the answer Id = 16522626 | Errors = ["No module named 'matplotlib'", "name 'plt' is not defined"]
Checking the answer Id = 20334902 | Errors = []
----------------------------------------
----------------------------------------
16575868
Code to compile
In [11]: df[abc_columns].applymap(categories.get)
Out[11]:
   abc1  abc2  abc3
0  Good   Bad   Bad
1   Bad  Good  Good
2   Bad   Bad  Good
3  Good   Bad  Good
4  Good  Good   Bad

Code to compile
In [12]: abc_categories = map(lambda x: x + '_category', abc_columns)

In [13]: abc_categories
Out[13]: ['abc1_category', 'abc2_category', 'abc3_category']

In [14]: df[abc_categories] = df[abc_columns].applymap(categories.get)

Code to compile
abc_columns = [col for col in df.columns if str(col).startswith('abc')]

Checking the answer Id = 16576030 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
16597265
Code to compile
>>> df = pd.DataFrame()
>>> data = pd.DataFrame({"A": range(3)})
>>> df.append(data)
   A
0  0
1  1
2  2

Code to compile
>>> df
Empty DataFrame
Columns: []
Index: []
>>> df = df.append(data)
>>> df
   A
0  0
1  1
2  2

Checking the answer Id = 16597375 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df = pd.DataFrame()
df = df.append({'name': 'Zed', 'age': 9, 'height': 2}, ignore_index=True)

Code to compile
   age  height name
0    9       2  Zed

Checking the answer Id = 31839240 | Errors = ["name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16616141
Code to compile
In [11]: df
Out[11]:
   1  2  3  4  5  6
A  x  x  x  x  x  x
B  x  x  x  x  x  x
C  x  x  x  x  x  x

In [12]: col_list = [3, 5]

In [13]: df = df[col_list]

In [14]: df
Out[14]:
   3  5
A  x  x
B  x  x
C  x  x

Checking the answer Id = 16616454 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16626058
Code to compile
import numpy as np
import pandas as pd
x = np.random.randint(0, 200, 10**6)
df1 = pd.DataFrame({'x':x})
df2 = df1.set_index('x', drop=False)
df3 = df2.sort_index()
%timeit df1.loc[100]
%timeit df2.loc[100]
%timeit df3.loc[100]

Code to compile
10000 loops, best of 3: 71.2 µs per loop
10 loops, best of 3: 38.9 ms per loop
10000 loops, best of 3: 134 µs per loop

Checking the answer Id = 16629125 | Errors = ['invalid syntax (<unknown>, line 7)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16628329
Code to compile
In [14]: %timeit test_sql_write(df)
1 loops, best of 3: 6.24 s per loop

In [15]: %timeit test_hdf_fixed_write(df)
1 loops, best of 3: 237 ms per loop

In [16]: %timeit test_hdf_table_write(df)
1 loops, best of 3: 901 ms per loop

In [17]: %timeit test_csv_write(df)
1 loops, best of 3: 3.44 s per loop

Code to compile
In [18]: %timeit test_sql_read()
1 loops, best of 3: 766 ms per loop

In [19]: %timeit test_hdf_fixed_read()
10 loops, best of 3: 19.1 ms per loop

In [20]: %timeit test_hdf_table_read()
10 loops, best of 3: 39 ms per loop

In [22]: %timeit test_csv_read()
1 loops, best of 3: 620 ms per loop

Code to compile
import sqlite3
import os
from pandas.io import sql

In [3]: df = DataFrame(randn(1000000,2),columns=list('AB'))
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
A    1000000  non-null values
B    1000000  non-null values
dtypes: float64(2)

def test_sql_write(df):
    if os.path.exists('test.sql'):
        os.remove('test.sql')
    sql_db = sqlite3.connect('test.sql')
    sql.write_frame(df, name='test_table', con=sql_db)
    sql_db.close()

def test_sql_read():
    sql_db = sqlite3.connect('test.sql')
    sql.read_frame("select * from test_table", sql_db)
    sql_db.close()

def test_hdf_fixed_write(df):
    df.to_hdf('test_fixed.hdf','test',mode='w')

def test_csv_read():
    pd.read_csv('test.csv',index_col=0)

def test_csv_write(df):
    df.to_csv('test.csv',mode='w')

def test_hdf_fixed_read():
    pd.read_hdf('test_fixed.hdf','test')

def test_hdf_table_write(df):
    df.to_hdf('test_table.hdf','test',format='table',mode='w')

def test_hdf_table_read():
    pd.read_hdf('test_table.hdf','test')

Checking the answer Id = 16629243 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 5)']
----------------------------------------
----------------------------------------
16628819
Code to compile
pd.DatetimeIndex([i.replace(tzinfo=None) for i in t])

Code to compile
def replace(self, **kwds):
    return Timestamp(datetime.replace(self, **kwds),
                     offset=self.offset)

Checking the answer Id = 17027507 | Errors = ["name 'pd' is not defined", 'Sucess']
Code to compile
In [4]: t = pd.date_range(start="2013-05-18 12:00:00", periods=2, freq='H',
                          tz= "Europe/Brussels")

In [5]: t
Out[5]: DatetimeIndex(['2013-05-18 12:00:00+02:00', '2013-05-18 13:00:00+02:00'],
                       dtype='datetime64[ns, Europe/Brussels]', freq='H')

Code to compile
In [6]: t.tz_localize(None)
Out[6]: DatetimeIndex(['2013-05-18 12:00:00', '2013-05-18 13:00:00'],
                      dtype='datetime64[ns]', freq='H')

Code to compile
In [7]: t.tz_convert(None)
Out[7]: DatetimeIndex(['2013-05-18 10:00:00', '2013-05-18 11:00:00'],
                      dtype='datetime64[ns]', freq='H')

Code to compile
In [31]: t = pd.date_range(start="2013-05-18 12:00:00", periods=10000, freq='H',
                           tz="Europe/Brussels")

In [32]: %timeit t.tz_localize(None)
1000 loops, best of 3: 233 µs per loop

In [33]: %timeit pd.DatetimeIndex([i.replace(tzinfo=None) for i in t])
10 loops, best of 3: 99.7 ms per loop

Checking the answer Id = 34687479 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16637171
Code to compile
In [9]: s = Series([list('ABC'),list('DEF'),list('ABEF')])

In [10]: s
Out[10]:
0       [A, B, C]
1       [D, E, F]
2    [A, B, E, F]
dtype: object

In [11]: s.apply(lambda x: Series(1,index=x)).fillna(0)
Out[11]:
   A  B  C  D  E  F
0  1  1  1  0  0  0
1  0  0  0  1  1  1
2  1  1  0  0  1  1

Checking the answer Id = 16637607 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16637271
Code to compile
for f in files:
  df = pd.read_csv(f)
  df.to_hdf('file.h5',f,df)

Code to compile
pd.read_hdf('my_store.h5','a_table_node',['index>100'])

Checking the answer Id = 16637572 | Errors = ["name 'files' is not defined", "name 'pd' is not defined"]

----------------------------------------
----------------------------------------
16639877
Code to compile
-rw-rw-r--  1 jreback users 203200986 May 19 20:58 test.csv
-rw-rw-r--  1 jreback users  88007312 May 19 20:59 test.h5

In [1]: df = DataFrame(randn(1000000,10))

In [9]: df
Out[9]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
0    1000000  non-null values
1    1000000  non-null values
2    1000000  non-null values
3    1000000  non-null values
4    1000000  non-null values
5    1000000  non-null values
6    1000000  non-null values
7    1000000  non-null values
8    1000000  non-null values
9    1000000  non-null values
dtypes: float64(10)

In [5]: %timeit df.to_csv('test.csv',mode='w')
1 loops, best of 3: 12.7 s per loop

In [6]: %timeit df.to_hdf('test.h5','df',mode='w')
1 loops, best of 3: 825 ms per loop

In [7]: %timeit pd.read_csv('test.csv',index_col=0)
1 loops, best of 3: 2.35 s per loop

In [8]: %timeit pd.read_hdf('test.h5','df')
10 loops, best of 3: 38 ms per loop

Checking the answer Id = 16641346 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16643695
Code to compile
In [14]: df = DataFrame('10.0%',index=range(100),columns=range(10))

In [15]: df.replace('%','',regex=True).astype('float')/100
Out[15]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 10 columns):
0    100  non-null values
1    100  non-null values
2    100  non-null values
3    100  non-null values
4    100  non-null values
5    100  non-null values
6    100  non-null values
7    100  non-null values
8    100  non-null values
9    100  non-null values
dtypes: float64(10)

Code to compile
In [16]: %timeit df.replace('%','',regex=True).astype('float')/100
1000 loops, best of 3: 1.16 ms per loop

 In [18]: %timeit df.applymap(lambda x: float(x[:-1]))/100
1000 loops, best of 3: 1.67 ms per loop

Checking the answer Id = 16648510 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16650945
Code to compile
df1.join(df2, how='inner')

Code to compile
merge(df1.reset_index(),
      df2.reset_index(),
      on=['index1'],
      how='inner'
     ).set_index(['index1','index2'])

Checking the answer Id = 22365284 | Errors = ["name 'df1' is not defined", "name 'merge' is not defined"]
----------------------------------------
----------------------------------------
16672237
Code to compile
>>> import pandas as pd
>>> from StringIO import StringIO
>>> s = StringIO("""date,value
... 12/01/2012,1
... 12/01/2012,2
... 30/01/2012,3""")
>>>
>>> pd.read_csv(s, index_col=0, parse_dates=True, dayfirst=True)
            value
date
2012-01-12      1
2012-01-12      2
2012-01-30      3

Code to compile
>>> s = StringIO("""date
... 12/01/2012
... 12/01/2012
... 30/01/2012""")
>>>
>>> pd.read_csv(s, parse_dates=[0], dayfirst=True)
                 date
0 2012-01-12 00:00:00
1 2012-01-12 00:00:00
2 2012-01-30 00:00:00

Checking the answer Id = 16672514 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: s = pd.Series(['12/1/2012', '30/01/2012'])

In [2]: pd.to_datetime(s, format='%d/%m/%Y')
Out[2]:
0   2012-01-12 00:00:00
1   2012-01-30 00:00:00
dtype: datetime64[ns]

Code to compile
s.apply(pd.to_datetime, dayfirst=True)

Checking the answer Id = 16673019 | Errors = ['invalid syntax (<unknown>, line 1)', "name 's' is not defined"]
----------------------------------------
----------------------------------------
16683701
Code to compile
In [48]: a
Out[48]:
   c1  c2
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9

In [49]: a.c1[a.c1 == 8].index.tolist()
Out[49]: [4]

Checking the answer Id = 16684166 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16689514
Code to compile
>>> df
                 A      B
DATE
2013-05-01  473077  71333
2013-05-02   35131  62441
2013-05-03     727  27381
2013-05-04     481   1206
2013-05-05     226   1733
2013-05-06     NaN   4064
2013-05-07     NaN  41151
2013-05-08     NaN   8144
2013-05-09     NaN     23
2013-05-10     NaN     10
>>> df.mean(axis=1)
DATE
2013-05-01    272205.0
2013-05-02     48786.0
2013-05-03     14054.0
2013-05-04       843.5
2013-05-05       979.5
2013-05-06      4064.0
2013-05-07     41151.0
2013-05-08      8144.0
2013-05-09        23.0
2013-05-10        10.0
dtype: float64

Checking the answer Id = 16689573 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16729483
Code to compile
In [12]: df
Out[12]:
     a    b
0  0.1  0.2
1  NaN  0.3
2  0.4  0.5

In [13]: df.a.values
Out[13]: array(['0.1', nan, '0.4'], dtype=object)

In [14]: df.a = df.a.astype(float).fillna(0.0)

In [15]: df
Out[15]:
     a    b
0  0.1  0.2
1  0.0  0.3
2  0.4  0.5

In [16]: df.a.values
Out[16]: array([ 0.1,  0. ,  0.4])

Checking the answer Id = 16729635 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [10]: df = DataFrame(dict(A = Series(['1.0','1']), B = Series(['1.0','foo'])))

In [11]: df
Out[11]:
     A    B
0  1.0  1.0
1    1  foo

In [12]: df.dtypes
Out[12]:
A    object
B    object
dtype: object

In [13]: df.convert_objects(convert_numeric=True)
Out[13]:
   A   B
0  1   1
1  1 NaN

In [14]: df.convert_objects(convert_numeric=True).dtypes
Out[14]:
A    float64
B    float64
dtype: object

Checking the answer Id = 16735476 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df['MyColumnName'] = df['MyColumnName'].astype('float64')

Checking the answer Id = 33687073 | Errors = ["name 'df' is not defined"]
Code to compile
import pandas as pd
s = pd.Series(['1.0', '2', -3])
pd.to_numeric(s)
s = pd.Series(['apple', '1.0', '2', -3])
pd.to_numeric(s, errors='ignore')
pd.to_numeric(s, errors='coerce')

Checking the answer Id = 38278787 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
16729574
Code to compile
In [3]: sub_df
Out[3]:
          A         B
2 -0.133653 -0.030854

In [4]: sub_df.iloc[0]
Out[4]:
A   -0.133653
B   -0.030854
Name: 2, dtype: float64

In [5]: sub_df.iloc[0]['A']
Out[5]: -0.13365288513107493

Checking the answer Id = 16729808 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [15]: df = DataFrame(randn(5,3),columns=list('ABC'))

In [16]: df
Out[16]:
          A         B         C
0 -0.074172 -0.090626  0.038272
1 -0.128545  0.762088 -0.714816
2  0.201498 -0.734963  0.558397
3  1.563307 -1.186415  0.848246
4  0.205171  0.962514  0.037709

In [17]: df.iat[0,0]
Out[17]: -0.074171888537611502

In [18]: df.at[0,'A']
Out[18]: -0.074171888537611502

Checking the answer Id = 16735536 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16740887
Checking the answer Id = 17056022 | Errors = []
Code to compile
CACHE = {}
STORE = 'store.h5'   # Note: another option is to keep the actual file open

def process_row(d, key, max_len=5000, _cache=CACHE):
    """
    Append row d to the store 'key'.

    When the number of items in the key's cache reaches max_len,
    append the list of rows to the HDF5 store and clear the list.

    """
    # keep the rows for each key separate.
    lst = _cache.setdefault(key, [])
    if len(lst) >= max_len:
        store_and_clear(lst, key)
    lst.append(d)

def store_and_clear(lst, key):
    """
    Convert key's cache list to a DataFrame and append that to HDF5.
    """
    df = pd.DataFrame(lst)
    with pd.HDFStore(STORE) as store:
        store.append(key, df)
    lst.clear()

Code to compile
process_row({'time' :'2013-01-01 00:00:00', 'stock' : 'BLAH', 'high' : 4.0, 'low' : 3.0, 'open' : 2.0, 'close' : 1.0},
            key="df")

Code to compile
for k, lst in CACHE.items():  # you can instead use .iteritems() in python 2
    store_and_clear(lst, k)

Code to compile
with pd.HDFStore(STORE) as store:
    df = store["df"]                    # other keys will be store[key]

Code to compile
def get_latest(key, _cache=CACHE):
    store_and_clear(_cache[key], key)
    with pd.HDFStore(STORE) as store:
        return store[key]

Code to compile
df = get_latest("df")

Checking the answer Id = 34282362 | Errors = ['Sucess', "name 'process_row' is not defined", "name 'CACHE' is not defined", "name 'pd' is not defined", "name 'CACHE' is not defined", "name 'get_latest' is not defined"]
----------------------------------------
----------------------------------------
16777570
Code to compile
In [196]: df
Out[196]:
                     value
2012-03-16 23:50:00      1
2012-03-16 23:56:00      2
2012-03-17 00:08:00      3
2012-03-17 00:10:00      4
2012-03-17 00:12:00      5
2012-03-17 00:20:00      6
2012-03-20 00:43:00      7

In [199]: df.index
Out[199]:
<class 'pandas.tseries.index.DatetimeIndex'>
[2012-03-16 23:50:00, ..., 2012-03-20 00:43:00]
Length: 7, Freq: None, Timezone: None

Code to compile
In [200]: df['tvalue'] = df.index

In [201]: df['delta'] = (df['tvalue']-df['tvalue'].shift()).fillna(0)

In [202]: df
Out[202]:
                     value              tvalue            delta
2012-03-16 23:50:00      1 2012-03-16 23:50:00         00:00:00
2012-03-16 23:56:00      2 2012-03-16 23:56:00         00:06:00
2012-03-17 00:08:00      3 2012-03-17 00:08:00         00:12:00
2012-03-17 00:10:00      4 2012-03-17 00:10:00         00:02:00
2012-03-17 00:12:00      5 2012-03-17 00:12:00         00:02:00
2012-03-17 00:20:00      6 2012-03-17 00:20:00         00:08:00
2012-03-20 00:43:00      7 2012-03-20 00:43:00 3 days, 00:23:00

Code to compile
In [204]: df['ans'] = df['delta'].apply(lambda x: x  / np.timedelta64(1,'m')).astype('int64') % (24*60)

In [205]: df
Out[205]:
                     value              tvalue            delta  ans
2012-03-16 23:50:00      1 2012-03-16 23:50:00         00:00:00    0
2012-03-16 23:56:00      2 2012-03-16 23:56:00         00:06:00    6
2012-03-17 00:08:00      3 2012-03-17 00:08:00         00:12:00   12
2012-03-17 00:10:00      4 2012-03-17 00:10:00         00:02:00    2
2012-03-17 00:12:00      5 2012-03-17 00:12:00         00:02:00    2
2012-03-17 00:20:00      6 2012-03-17 00:20:00         00:08:00    8
2012-03-20 00:43:00      7 2012-03-20 00:43:00 3 days, 00:23:00   23

Checking the answer Id = 16780413 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [13]: df['deltaT'] = df.index.to_series().diff().dt.seconds.div(60, fill_value=0)
    ...: df                                 # use .astype(int) to obtain integer values
Out[13]:
                     value  deltaT
time
2012-03-16 23:50:00      1     0.0
2012-03-16 23:56:00      2     6.0
2012-03-17 00:08:00      3    12.0
2012-03-17 00:10:00      4     2.0
2012-03-17 00:12:00      5     2.0
2012-03-17 00:20:00      6     8.0
2012-03-20 00:43:00      7    23.0

Code to compile
In [8]: ser_diff = df.index.to_series().diff()

In [9]: ser_diff
Out[9]:
time
2012-03-16 23:50:00               NaT
2012-03-16 23:56:00   0 days 00:06:00
2012-03-17 00:08:00   0 days 00:12:00
2012-03-17 00:10:00   0 days 00:02:00
2012-03-17 00:12:00   0 days 00:02:00
2012-03-17 00:20:00   0 days 00:08:00
2012-03-20 00:43:00   3 days 00:23:00
Name: time, dtype: timedelta64[ns]

Code to compile
In [10]: ser_diff.dt.seconds.div(60, fill_value=0)
Out[10]:
time
2012-03-16 23:50:00     0.0
2012-03-16 23:56:00     6.0
2012-03-17 00:08:00    12.0
2012-03-17 00:10:00     2.0
2012-03-17 00:12:00     2.0
2012-03-17 00:20:00     8.0
2012-03-20 00:43:00    23.0
Name: time, dtype: float64

Code to compile
In [12]: ser_diff.dt.total_seconds().div(60, fill_value=0)
Out[12]:
time
2012-03-16 23:50:00       0.0
2012-03-16 23:56:00       6.0
2012-03-17 00:08:00      12.0
2012-03-17 00:10:00       2.0
2012-03-17 00:12:00       2.0
2012-03-17 00:20:00       8.0
2012-03-20 00:43:00    4343.0    # <-- number of minutes in 3 days 23 minutes
Name: time, dtype: float64

Checking the answer Id = 41228272 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16782323
Code to compile
In [10]: df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])

In [11]: df
Out[11]:
   A  B
0  1  2
1  3  4

In [12]: df[['A']]

In [13]: df[[0]]

In [14]: df.loc[:, ['A']]

In [15]: df.iloc[:, [0]]

Out[12-15]:  # they all return the same thing:
   A
0  1
1  3

Code to compile
In [16]: df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 0])

In [17]: df
Out[17]:
   A  0
0  1  2
1  3  4

In [18]: df[[0]]  # ambiguous
Out[18]:
   A
0  1
1  3

Checking the answer Id = 16789254 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16822996
Code to compile
[3]: df

Out[3]:
                   A         B         C         D
2013-01-01 -0.024362  0.712035 -0.913923  0.755276
2013-01-02  2.624298  0.285546  0.142265 -0.047871
2013-01-03  1.315157 -0.333630  0.398759 -1.034859
2013-01-04  0.713141 -0.109539  0.263706 -0.588048
2013-01-05 -1.172163 -1.387645 -0.171854 -0.458660
2013-01-06 -0.192586  0.480023 -0.530907 -0.872709

In [4]: df.unstack()
Out[4]:
A  2013-01-01   -0.024362
   2013-01-02    2.624298
   2013-01-03    1.315157
   2013-01-04    0.713141
   2013-01-05   -1.172163
   2013-01-06   -0.192586
B  2013-01-01    0.712035
   2013-01-02    0.285546
   2013-01-03   -0.333630
   2013-01-04   -0.109539
   2013-01-05   -1.387645
   2013-01-06    0.480023
C  2013-01-01   -0.913923
   2013-01-02    0.142265
   2013-01-03    0.398759
   2013-01-04    0.263706
   2013-01-05   -0.171854
   2013-01-06   -0.530907
D  2013-01-01    0.755276
   2013-01-02   -0.047871
   2013-01-03   -1.034859
   2013-01-04   -0.588048
   2013-01-05   -0.458660
   2013-01-06   -0.872709
dtype: float64

Checking the answer Id = 16824270 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
ts = df.set_index('DateTime')

Checking the answer Id = 29039484 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
16824607
Code to compile
In [99]: df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [100]: s = df.xs(3)

In [101]: s.name = 10

In [102]: df.append(s)
Out[102]:
           A         B         C         D
0  -2.083321 -0.153749  0.174436  1.081056
1  -1.026692  1.495850 -0.025245 -0.171046
2   0.072272  1.218376  1.433281  0.747815
3  -0.940552  0.853073 -0.134842 -0.277135
4   0.478302 -0.599752 -0.080577  0.468618
5   2.609004 -1.679299 -1.593016  1.172298
6  -0.201605  0.406925  1.983177  0.012030
7   1.158530 -2.240124  0.851323 -0.240378
10 -0.940552  0.853073 -0.134842 -0.277135

Checking the answer Id = 16824696 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> df = pd.DataFrame(np.random.randn(3, 2), columns=['A','B'])
>>> df
          A         B
0 -0.269036  0.534991
1  0.069915 -1.173594
2 -1.177792  0.018381
>>> df.loc[13] = df.loc[1]
>>> df
           A         B
0  -0.269036  0.534991
1   0.069915 -1.173594
2  -1.177792  0.018381
13  0.069915 -1.173594

Checking the answer Id = 41629653 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16826711
Code to compile
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle
fig = plt.figure()
ax = fig.add_subplot(111)
bar_0_10 = ax.bar(np.arange(0,10), np.arange(1,11), color="k")
bar_10_100 = ax.bar(np.arange(0,10), np.arange(30,40), bottom=np.arange(1,11), color="g")
# create blank rectangle
extra = Rectangle((0, 0), 1, 1, fc="w", fill=False, edgecolor='none', linewidth=0)
ax.legend([extra, bar_0_10, bar_10_100], ("My explanatory text", "0-10", "10-100"))
plt.show()

Checking the answer Id = 16827257 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
16833842
Code to compile
In [12]: df = pd.DataFrame(randn(6, 3), index=arrays, columns=['A', 'B', 'C'])

In [13]: df
Out[13]:
                  A         B         C
bar one 0 -0.694240  0.725163  0.131891
    two 1 -0.729186  0.244860  0.530870
baz one 2  0.757816  1.129989  0.893080
qux one 3 -2.275694  0.680023 -1.054816
    two 4  0.291889 -0.409024 -0.307302
bar one 5  1.697974 -1.828872 -1.004187

In [14]: df = df.sortlevel(0)

In [15]: df
Out[15]:
                  A         B         C
bar one 0 -0.694240  0.725163  0.131891
        5  1.697974 -1.828872 -1.004187
    two 1 -0.729186  0.244860  0.530870
baz one 2  0.757816  1.129989  0.893080
qux one 3 -2.275694  0.680023 -1.054816
    two 4  0.291889 -0.409024 -0.307302

In [16]: df.loc[('bar','two'),'A'] = 9999

In [17]: df
Out[17]:
                     A         B         C
bar one 0    -0.694240  0.725163  0.131891
        5     1.697974 -1.828872 -1.004187
    two 1  9999.000000  0.244860  0.530870
baz one 2     0.757816  1.129989  0.893080
qux one 3    -2.275694  0.680023 -1.054816
    two 4     0.291889 -0.409024 -0.307302

Code to compile
In [23]: df.loc[('bar','two',1),'A'] = 999

In [24]: df
Out[24]:
                    A         B         C
bar one 0   -0.113216  0.878715 -0.183941
    two 1  999.000000 -1.405693  0.253388
baz one 2    0.441543  0.470768  1.155103
qux one 3   -0.008763  0.917800 -0.699279
    two 4    0.061586  0.537913  0.380175
bar one 5    0.857231  1.144246 -2.369694

Code to compile
In [27]: df.index.lexsort_depth
Out[27]: 0

In [28]: df.sortlevel(0).index.lexsort_depth
Out[28]: 3

Code to compile
In [12]: df.loc[('bar','one'),'A'] = [999,888]

In [13]: df
Out[13]:
                    A         B         C
bar one 0  999.000000 -0.645641  0.369443
        5  888.000000 -0.990632 -0.577401
    two 1   -1.071410  2.308711  2.018476
baz one 2    1.211887  1.516925  0.064023
qux one 3   -0.862670 -0.770585 -0.843773
    two 4   -0.644855 -1.431962  0.232528

Checking the answer Id = 16834949 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
16852911
Code to compile
In [31]: df
Out[31]:
   a        time
0  1  2013-01-01
1  2  2013-01-02
2  3  2013-01-03

In [32]: df['time'] = df['time'].astype('datetime64[ns]')

In [33]: df
Out[33]:
   a                time
0  1 2013-01-01 00:00:00
1  2 2013-01-02 00:00:00
2  3 2013-01-03 00:00:00

Checking the answer Id = 16853161 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [11]: df
Out[11]:
   a        time
0  1  2013-01-01
1  2  2013-01-02
2  3  2013-01-03

In [12]: pd.to_datetime(df['time'])
Out[12]:
0   2013-01-01 00:00:00
1   2013-01-02 00:00:00
2   2013-01-03 00:00:00
Name: time, dtype: datetime64[ns]

In [13]: df['time'] = pd.to_datetime(df['time'])

In [14]: df
Out[14]:
   a                time
0  1 2013-01-01 00:00:00
1  2 2013-01-02 00:00:00
2  3 2013-01-03 00:00:00

Checking the answer Id = 16854430 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 22496075 | Errors = []
Checking the answer Id = 33577649 | Errors = []
----------------------------------------
----------------------------------------
16888888
Code to compile
xl_file = pd.ExcelFile(file_name)

dfs = {sheet_name: xl_file.parse(sheet_name)
          for sheet_name in xl_file.sheet_names}

Code to compile
dfs = pd.read_excel(file_name, sheetname=None)


Code to compile
import pandas as pd
import numpy as np
df = pd.DataFrame({'value': np.arange(-5,5)})
df['value'] = df['value'].clip(0, None)
print(df)

   value
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      2
8      3
9      4
Code to compile
   value
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      2
8      3
9      4

Checking the answer Id = 17068462 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd
import numpy as np
df['value'] = np.maximum(df['value'], 0)

Code to compile
In [21]: df = pd.DataFrame({'value': np.arange(-1000000,1000000)})
In [22]: %timeit df.loc[df['value']<0,'value'] = 0
10 loops, best of 3: 27.3 ms per loop

In [23]: df = pd.DataFrame({'value': np.arange(-1000000,1000000)})
In [24]: %timeit df['value'] = np.maximum(df['value'], 0)
100 loops, best of 3: 9.42 ms per loop

Checking the answer Id = 33000983 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17071871
Code to compile
df.loc[df['column_name'] == some_value]

Code to compile
df.loc[df['column_name'].isin(some_values)]

Code to compile
df.loc[(df['column_name'] == some_value) & df['other_column'].isin(some_values)]

Code to compile
df.loc[df['column_name'] != some_value]

Code to compile
df.loc[~df['column_name'].isin(some_values)]

Code to compile
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
                   'B': 'one one two three two two one three'.split(),
                   'C': np.arange(8), 'D': np.arange(8) * 2})
print(df)
#      A      B  C   D
# 0  foo    one  0   0
# 1  bar    one  1   2
# 2  foo    two  2   4
# 3  bar  three  3   6
# 4  foo    two  4   8
# 5  bar    two  5  10
# 6  foo    one  6  12
# 7  foo  three  7  14

print(df.loc[df['A'] == 'foo'])

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14
     A      B  C   D
0  foo    one  0   0
2  foo    two  2   4
4  foo    two  4   8
6  foo    one  6  12
7  foo  three  7  14
Code to compile
     A      B  C   D
0  foo    one  0   0
2  foo    two  2   4
4  foo    two  4   8
6  foo    one  6  12
7  foo  three  7  14

Code to compile
print(df.loc[df['B'].isin(['one','three'])])

Code to compile
     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
3  bar  three  3   6
6  foo    one  6  12
7  foo  three  7  14

Code to compile
df = df.set_index(['B'])
print(df.loc['one'])

Code to compile
       A  C   D
B
one  foo  0   0
one  bar  1   2
one  foo  6  12

Code to compile
df.loc[df.index.isin(['one','two'])]

Code to compile
       A  C   D
B
one  foo  0   0
one  bar  1   2
two  foo  2   4
two  foo  4   8
two  bar  5  10
one  foo  6  12

Checking the answer Id = 17071908 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
from pandas import DataFrame

# Create data set
d = {'Revenue':[100,111,222],
     'Cost':[333,444,555]}
df = DataFrame(d)


# mask = Return True when the value in column "Revenue" is equal to 111
mask = df['Revenue'] == 111

print mask

# Result:
# 0    False
# 1     True
# 2    False
# Name: Revenue, dtype: bool


# Select * FROM df WHERE Revenue = 111
df[mask]

# Result:
#    Cost    Revenue
# 1  444     111

Checking the answer Id = 17086321 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 12)"]
Code to compile
df.loc[df['column_name'] == some_value]

Code to compile
df.loc[df['column_name'].isin(some_values)]

Code to compile
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
               'B': 'one one two three two two one three'.split(),
               'C': np.arange(8), 'D': np.arange(8) * 2})
print(df)
#      A      B  C   D
# 0  foo    one  0   0
# 1  bar    one  1   2
# 2  foo    two  2   4
# 3  bar  three  3   6
# 4  foo    two  4   8
# 5  bar    two  5  10
# 6  foo    one  6  12
# 7  foo  three  7  14

print(df.loc[df['A'] == 'foo'])

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14
     A      B  C   D
0  foo    one  0   0
2  foo    two  2   4
4  foo    two  4   8
6  foo    one  6  12
7  foo  three  7  14
Code to compile
     A      B  C   D
0  foo    one  0   0
2  foo    two  2   4
4  foo    two  4   8
6  foo    one  6  12
7  foo  three  7  14

Code to compile
print(df.loc[df['B'].isin(['one','three'])])

Code to compile
      A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
3  bar  three  3   6
6  foo    one  6  12
7  foo  three  7  14

Code to compile
df = df.set_index(['A'])
print(df.loc['foo'])

Code to compile
  A      B  C   D
foo    one  0   0
foo    two  2   4
foo    two  4   8
foo    one  6  12
foo  three  7  14

Checking the answer Id = 28142820 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
select * from table where column_name = some_value

Code to compile
table[table.column_name == some_value]

Code to compile
table((table.column_name == some_value) | (table.column_name2 == some_value2))

Code to compile
table.query('column_name == some_value | column_name2 == some_value2')

Code to compile
import pandas as pd

# Create data set
d = {'foo':[100, 111, 222],
     'bar':[333, 444, 555]}
df = pd.DataFrame(d)

# Full dataframe:
df

# Shows:
#    bar   foo
# 0  333   100
# 1  444   111
# 2  555   222

# Output only the row(s) in df where foo is 222:
df[df.foo == 222]

# Shows:
#    bar  foo
# 2  555  222

Code to compile
df[(df.foo == 222) | (df.bar == 444)]
#    bar  foo
# 1  444  111
# 2  555  222

Code to compile
df.query('foo == 222 | bar == 444')

Checking the answer Id = 31296878 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'table' is not defined", "name 'table' is not defined", "name 'table' is not defined", 'Sucess', "name 'df' is not defined", "name 'df' is not defined"]
Code to compile
In [167]: n = 10

In [168]: df = pd.DataFrame(np.random.rand(n, 3), columns=list('abc'))

In [169]: df
Out[169]:
          a         b         c
0  0.687704  0.582314  0.281645
1  0.250846  0.610021  0.420121
2  0.624328  0.401816  0.932146
3  0.011763  0.022921  0.244186
4  0.590198  0.325680  0.890392
5  0.598892  0.296424  0.007312
6  0.634625  0.803069  0.123872
7  0.924168  0.325076  0.303746
8  0.116822  0.364564  0.454607
9  0.986142  0.751953  0.561512

# pure python
In [170]: df[(df.a < df.b) & (df.b < df.c)]
Out[170]:
          a         b         c
3  0.011763  0.022921  0.244186
8  0.116822  0.364564  0.454607

# query
In [171]: df.query('(a < b) & (b < c)')
Out[171]:
          a         b         c
3  0.011763  0.022921  0.244186
8  0.116822  0.364564  0.454607

Code to compile
exclude = ('red', 'orange')
df.query('color not in @exclude')

Checking the answer Id = 35282530 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
17073150
Code to compile
In [11]: df[df['from_date'] == 19951227]
Out[11]:
   instrument        type  from_date   to_date
0    96000001   W/D & V/L   19951227  19960102
1    96000002  DEED TRUST   19951227  19960102

Code to compile
In [12]: df[(19951227 <= df['from_date']) & (df['to_date'] <= 19960102)]
Out[12]:
   instrument         type  from_date   to_date
0    96000001    W/D & V/L   19951227  19960102
1    96000002   DEED TRUST   19951227  19960102
2    96000003  WARNTY DEED   19951228  19960102
3    96000004   DEED TRUST   19951228  19960102
4    96000005    W/D & V/L   19951228  19960102

Code to compile
In [21]: pd.to_datetime(df['from_date'].astype(str))
Out[21]:
0   1995-12-27 00:00:00
1   1995-12-27 00:00:00
2   1995-12-28 00:00:00
3   1995-12-28 00:00:00
4   1995-12-28 00:00:00
Name: from_date, dtype: datetime64[ns]

In [22]: df['from_date'] = pd.to_datetime(df['from_date'].astype(str))

In [23]: pd.to_datetime(df['from_date'].astype(str))  # do same for to_date

Code to compile
In [24]: df['1995-12-27' == df['from_date']]
Out[24]:
   instrument        type           from_date   to_date
0    96000001   W/D & V/L 1995-12-27 00:00:00  19960102
1    96000002  DEED TRUST 1995-12-27 00:00:00  19960102

Checking the answer Id = 17073442 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17084579
Code to compile
In [11]: df.index = df.index.droplevel(2)

In [12]: df
Out[12]:
     A
1 1  8
  3  9

Checking the answer Id = 17085016 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.reset_index(level=2, drop=True)
Out[29]:
     A
1 1  8
  3  9

Checking the answer Id = 17085044 | Errors = ['invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
17091769
Code to compile
In [7]: df = pandas.DataFrame(columns=['a','b','c','d'], index=['x','y','z'])

In [8]: df.loc['y'] = pandas.Series({'a':1, 'b':5, 'c':2, 'd':3})

In [9]: df
Out[9]:
     a    b    c    d
x  NaN  NaN  NaN  NaN
y    1    5    2    3
z  NaN  NaN  NaN  NaN

Checking the answer Id = 17092113 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 40501868 | Errors = []
Code to compile
df = pd.Dataframe(columns=["firstname", "lastname"])
df = df.append({
     "firstname": "John",
     "lastname":  "Johny"
      }, ignore_index=True)

Checking the answer Id = 42837693 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
17092671
Checking the answer Id = 17092718 | Errors = []
Code to compile
In [23]: def convert(x):
   ....:     try:
   ....:         return x.astype(int)
   ....:     except:
   ....:         return x
   ....:

In [24]: df.apply(convert)
Out[24]:
    a   b   c   d
x  10  10 NaN  10
y   1   5   2   3
z   1   2   3   4

In [25]: df.apply(convert).dtypes
Out[25]:
a      int64
b      int64
c    float64
d      int64
dtype: object

In [26]: df.apply(convert).to_csv('test.csv')

In [27]: !cat test.csv
,a,b,c,d
x,10,10,,10
y,1,5,2.0,3
z,1,2,3.0,4

Checking the answer Id = 17092986 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
    import pandas
    df = pandas.DataFrame(data, columns=['a','b','c','d'], index=['x','y','z'])
    df = df.fillna(0)
    df = df.astype(int)
    df.to_csv('test.csv', sep='\t')

Checking the answer Id = 18588980 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17095101
Code to compile
In [21]: ne = (df1 != df2).any(1)

In [22]: ne
Out[22]:
0    False
1     True
2     True
dtype: bool

Code to compile
In [23]: ne_stacked = (df1 != df2).stack()

In [24]: changed = ne_stacked[ne_stacked]

In [25]: changed.index.names = ['id', 'col']

In [26]: changed
Out[26]:
id  col
1   score         True
2   isEnrolled    True
    Comment       True
dtype: bool

Code to compile
In [27]: difference_locations = np.where(df1 != df2)

In [28]: changed_from = df1.values[difference_locations]

In [29]: changed_to = df2.values[difference_locations]

In [30]: pd.DataFrame({'from': changed_from, 'to': changed_to}, index=changed.index)
Out[30]:
               from           to
id col
1  score       1.11         1.21
2  isEnrolled  True        False
   Comment     None  On vacation

Checking the answer Id = 17095620 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
import io

texts = ['''\
id   Name   score                    isEnrolled                        Comment
111  Jack   2.17                     True                 He was late to class
112  Nick   1.11                     False                           Graduated
113  Zoe    4.12                     True       ''',

         '''\
id   Name   score                    isEnrolled                        Comment
111  Jack   2.17                     True                 He was late to class
112  Nick   1.21                     False                           Graduated
113  Zoe    4.12                     False                         On vacation''']


df1 = pd.read_fwf(io.BytesIO(texts[0]), widths=[5,7,25,21,20])
df2 = pd.read_fwf(io.BytesIO(texts[1]), widths=[5,7,25,21,20])
df = pd.concat([df1,df2])

print(df)
#     id  Name  score isEnrolled               Comment
# 0  111  Jack   2.17       True  He was late to class
# 1  112  Nick   1.11      False             Graduated
# 2  113   Zoe   4.12       True                   NaN
# 0  111  Jack   2.17       True  He was late to class
# 1  112  Nick   1.21      False             Graduated
# 2  113   Zoe   4.12      False           On vacation

df.set_index(['id', 'Name'], inplace=True)
print(df)
#           score isEnrolled               Comment
# id  Name
# 111 Jack   2.17       True  He was late to class
# 112 Nick   1.11      False             Graduated
# 113 Zoe    4.12       True                   NaN
# 111 Jack   2.17       True  He was late to class
# 112 Nick   1.21      False             Graduated
# 113 Zoe    4.12      False           On vacation

def report_diff(x):
    return x[0] if x[0] == x[1] else '{} | {}'.format(*x)

changes = df.groupby(level=['id', 'Name']).agg(report_diff)
print(changes)

Code to compile
                score    isEnrolled               Comment
id  Name
111 Jack         2.17          True  He was late to class
112 Nick  1.11 | 1.21         False             Graduated
113 Zoe          4.12  True | False     nan | On vacation

Checking the answer Id = 17096675 | Errors = ["a bytes-like object is required, not 'str'", 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd
import io

texts = ['''\
id   Name   score                    isEnrolled                       Date
111  Jack                            True              2013-05-01 12:00:00
112  Nick   1.11                     False             2013-05-12 15:05:23
     Zoe    4.12                     True                                  ''',

         '''\
id   Name   score                    isEnrolled                       Date
111  Jack   2.17                     True              2013-05-01 12:00:00
112  Nick   1.21                     False
     Zoe    4.12                     False             2013-05-01 12:00:00''']


df1 = pd.read_fwf(io.BytesIO(texts[0]), widths=[5,7,25,17,20], parse_dates=[4])
df2 = pd.read_fwf(io.BytesIO(texts[1]), widths=[5,7,25,17,20], parse_dates=[4])

Code to compile
def report_diff(x):
    return x[0] if x[0] == x[1] else '{} | {}'.format(*x)

Code to compile
my_panel = pd.Panel(dict(df1=df1,df2=df2))
print my_panel.apply(report_diff, axis=0)

#          id  Name        score    isEnrolled                       Date
#0        111  Jack   nan | 2.17          True        2013-05-01 12:00:00
#1        112  Nick  1.11 | 1.21         False  2013-05-12 15:05:23 | NaT
#2  nan | nan   Zoe         4.12  True | False  NaT | 2013-05-01 12:00:00

Code to compile
from IPython.display import HTML
pd.options.display.max_colwidth = 500  # You need this, otherwise pandas
#                          will limit your HTML strings to 50 characters

def report_diff(x):
    if x[0]==x[1]:
        return unicode(x[0].__str__())
    elif pd.isnull(x[0]) and pd.isnull(x[1]):
        return u'<table style="background-color:#00ff00;font-weight:bold;">'+\
            '<tr><td>%s</td></tr><tr><td>%s</td></tr></table>' % ('nan', 'nan')
    elif pd.isnull(x[0]) and ~pd.isnull(x[1]):
        return u'<table style="background-color:#ffff00;font-weight:bold;">'+\
            '<tr><td>%s</td></tr><tr><td>%s</td></tr></table>' % ('nan', x[1])
    elif ~pd.isnull(x[0]) and pd.isnull(x[1]):
        return u'<table style="background-color:#0000ff;font-weight:bold;">'+\
            '<tr><td>%s</td></tr><tr><td>%s</td></tr></table>' % (x[0],'nan')
    else:
        return u'<table style="background-color:#ff0000;font-weight:bold;">'+\
            '<tr><td>%s</td></tr><tr><td>%s</td></tr></table>' % (x[0], x[1])

HTML(my_panel.apply(report_diff, axis=0).to_html(escape=False))

Checking the answer Id = 23088780 | Errors = ["a bytes-like object is required, not 'str'", 'Sucess', 'invalid syntax (<unknown>, line 2)', "name 'pd' is not defined"]
Code to compile
import pandas as pd
import numpy as np


def diff_pd(df1, df2):
    """Identify differences between two pandas DataFrames"""
    assert (df1.columns == df2.columns).all(), \
        "DataFrame column names are different"
    if df1.equals(df2):
        return None
    else:
        # need to account for np.nan != np.nan returning True
        diff_mask = (df1 != df2) & ~(df1.isnull() & df2.isnull())
        ne_stacked = diff_mask.stack()
        changed = ne_stacked[ne_stacked]
        changed.index.names = ['id', 'col']
        difference_locations = np.where(diff_mask)
        changed_from = df1.values[difference_locations]
        changed_to = df2.values[difference_locations]
        return pd.DataFrame({'from': changed_from, 'to': changed_to},
                            index=changed.index)

Code to compile
import sys
if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO

DF1 = StringIO("""id   Name   score                    isEnrolled           Comment
111  Jack   2.17                     True                 "He was late to class"
112  Nick   1.11                     False                "Graduated"
113  Zoe    NaN                     True                  " "
""")
DF2 = StringIO("""id   Name   score                    isEnrolled           Comment
111  Jack   2.17                     True                 "He was late to class"
112  Nick   1.21                     False                "Graduated"
113  Zoe    NaN                     False                "On vacation" """)
df1 = pd.read_table(DF1, sep='\s+', index_col='id')
df2 = pd.read_table(DF2, sep='\s+', index_col='id')
diff_pd(df1, df2)

Code to compile
                from           to
id  col
112 score       1.11         1.21
113 isEnrolled  True        False
    Comment           On vacation

Checking the answer Id = 38421614 | Errors = ['Sucess', "name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17097236
Code to compile
df.replace('-', None)
TypeError: If "to_replace" and "value" are both None then regex must be a mapping

Code to compile
In [11]: df.replace('-', df.replace(['-'], [None]) # or .replace('-', {0: None})
Out[11]:
      0
0  None
1     3
2     2
3     5
4     1
5    -5
6    -1
7  None
8     9

Code to compile
In [12]: df.replace('-', np.nan)
Out[12]:
     0
0  NaN
1    3
2    2
3    5
4    1
5   -5
6   -1
7  NaN
8    9

Checking the answer Id = 17097397 | Errors = ['invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
data=data.where(data=='-', None)


Code to compile
>>> df.reset_index().groupby("city_id").sum()
              val1  val2  val3
city_id
houston,tx       3     3     2
somewhere,ew     4     3     7

Code to compile
>>> df.groupby(df.index)
<pandas.core.groupby.DataFrameGroupBy object at 0x1045a1790>
>>> df.groupby(df.index).max()
              val1  val2  val3
city_id
houston,tx       2     2     1
somewhere,ew     4     3     7
>>> df.groupby(df.index).mean()
              val1  val2      val3
city_id
houston,tx       1     1  0.666667
somewhere,ew     4     3  7.000000

Checking the answer Id = 17439693 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17465045
Code to compile
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)

Code to compile
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

df = pd.read_csv(infile, parse_dates={'datetime': ['date', 'time']}, date_parser=dateparse)

Checking the answer Id = 17468012 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
Code to compile
parse_dates : boolean, list of ints or names, list of lists, or dict
If True -> try parsing the index. If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a
separate date column. If [[1, 3]] -> combine columns 1 and 3 and parse as a single date
column. {foo : [1, 3]} -> parse columns 1, 3 as date and call result foo

Code to compile
date_parser : function
Function to use for converting a sequence of string columns to an array of datetime
instances. The default uses dateutil.parser.parser to do the conversion.

Checking the answer Id = 17468154 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
dateparse = lambda dates: [pd.datetime.strptime(d, '%Y-%m-%d %H:%M:%S') for d in dates]

df = pd.read_csv(infile, parse_dates=['datetime'], date_parser=dateparse)

Checking the answer Id = 28991603 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
17477979
Code to compile
df.replace([np.inf, -np.inf], np.nan)

Code to compile
df.replace([np.inf, -np.inf], np.nan).dropna(subset=["col1", "col2"], how="all")

Code to compile
In [11]: df = pd.DataFrame([1, 2, np.inf, -np.inf])

In [12]: df.replace([np.inf, -np.inf], np.nan)
Out[12]:
    0
0   1
1   2
2 NaN
3 NaN

Checking the answer Id = 17478495 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
s.loc[(~np.isfinite(s)) & s.notnull()] = np.nan

Code to compile
df = pd.DataFrame(np.ones((3, 3)), columns=list('ABC'))

for i in range(3):
    df.iat[i, i] = np.inf

df
          A         B         C
0       inf  1.000000  1.000000
1  1.000000       inf  1.000000
2  1.000000  1.000000       inf

df.sum()
A    inf
B    inf
C    inf
dtype: float64

df.apply(lambda s: s[np.isfinite(s)].dropna()).sum()
A    2
B    2
C    2
dtype: float64

Checking the answer Id = 35783766 | Errors = ["name 'np' is not defined", 'unexpected indent (<unknown>, line 7)']
----------------------------------------
----------------------------------------
17530542
Code to compile
with open('my_csv.csv', 'a') as f:
    df.to_csv(f, header=False)

Code to compile
,A,B,C
0,1,2,3
1,4,5,6

Code to compile
In [1]: df = pd.read_csv('foo.csv', index_col=0)

In [2]: df
Out[2]:
   A  B  C
0  1  2  3
1  4  5  6

In [3]: df + 6
Out[3]:
    A   B   C
0   7   8   9
1  10  11  12

In [4]: with open('foo.csv', 'a') as f:
             (df + 6).to_csv(f, header=False)

Code to compile
,A,B,C
0,1,2,3
1,4,5,6
0,7,8,9
1,10,11,12

Checking the answer Id = 17531025 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 17975690 | Errors = []
Code to compile
def appendDFToCSV_void(df, csvFilePath, sep=","):
    import os
    if not os.path.isfile(csvFilePath):
        df.to_csv(csvFilePath, mode='a', index=False, sep=sep)
    elif len(df.columns) != len(pd.read_csv(csvFilePath, nrows=1, sep=sep).columns):
        raise Exception("Columns do not match!! Dataframe has " + str(len(df.columns)) + " columns. CSV file has " + str(len(pd.read_csv(csvFilePath, nrows=1, sep=sep).columns)) + " columns.")
    elif not (df.columns == pd.read_csv(csvFilePath, nrows=1, sep=sep).columns).all():
        raise Exception("Columns and column order of dataframe and csv file do not match!!")
    else:
        df.to_csv(csvFilePath, mode='a', index=False, sep=sep, header=False)

Checking the answer Id = 30292938 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
17534106
Checking the answer Id = 17534256 | Errors = []
Code to compile
#  without forcing dtype it changes None to NaN!
s_bad = pd.Series([1, None], dtype=object)
s_good = pd.Series([1, np.nan])

In [13]: s_bad.dtype
Out[13]: dtype('O')

In [14]: s_good.dtype
Out[14]: dtype('float64')

Code to compile
In [15]: s_bad.sum()
Out[15]: 1

In [16]: s_good.sum()
Out[16]: 1.0

Checking the answer Id = 17534682 | Errors = ['invalid syntax (<unknown>, line 5)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17557074
Code to compile
name, age, birthday
Alice, 30, 1985-01-01
Bob, 35, 1980-01-01
Charlie, 25, 1990-01-01

Code to compile
name, age, birthday
Alice, 30, 1985-01-01
Bob, 35, 1980-01-01
Charlie, 25, 1990-01-01
Dennis, 40+, None-Ur-Bz

Code to compile
df = pd.DataFrame(pd.np.random.choice(['1.0', '0.6666667', '150000.1'],(100000, 10)))
resource.getrusage(resource.RUSAGE_SELF).ru_maxrss
# 224544 (~224 MB)

df = pd.DataFrame(pd.np.random.choice([1.0, 0.6666667, 150000.1],(100000, 10)))
resource.getrusage(resource.RUSAGE_SELF).ru_maxrss
# 79560 (~79 MB)

Checking the answer Id = 31541600 | Errors = ['invalid token (<unknown>, line 2)', 'invalid token (<unknown>, line 2)', "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
17591104
Code to compile
In [11]: def very_deep_copy(self):
    return pd.DataFrame(self.values.copy(), self.index.copy(), self.columns.copy())

In [12]: pd.DataFrame.very_deep_copy = very_deep_copy

In [13]: df2 = df.very_deep_copy()

Code to compile
In [14]: id(df.columns)
Out[14]: 4370636624

In [15]: id(df2.columns)
Out[15]: 4372118776

Checking the answer Id = 17591423 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
  import pandas as pd
  df = pd.DataFrame([[1], [2], [3]])

  df2 = df.copy(deep=True)

  id(df), id(df2)
  Out[3]: (136575472, 127792400)

  id(df.index), id(df2.index)
  Out[4]: (145820144, 127657008)

Checking the answer Id = 25206286 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17618981
Code to compile
>>> import pandas
>>> df = pandas.DataFrame([{'c1':3,'c2':10},{'c1':2, 'c2':30},{'c1':1,'c2':20},{'c1':2,'c2':15},{'c1':2,'c2':100}])
>>> df.sort(['c1','c2'], ascending=[False,True])
   c1   c2
0   3   10
3   2   15
1   2   30
4   2  100
2   1   20

Code to compile
>>> df.sort(['c1','c2'], ascending=[True,True])
   c1   c2
2   1   20
3   2   15
1   2   30
4   2  100
0   3   10

Code to compile
>>> df.sort(['c1','c2'], ascending=[False,True])
__main__:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
   c1   c2
0   3   10
3   2   15
1   2   30
4   2  100
2   1   20
>>> df.sort_values(['c1','c2'], ascending=[False,True])
   c1   c2
0   3   10
3   2   15
1   2   30
4   2  100
2   1   20

Checking the answer Id = 17619032 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df = df.sort_values(by=['c1','c2'], ascending=[False,True])

Checking the answer Id = 34790248 | Errors = ["name 'df' is not defined"]
Code to compile
f.sort_values(by=["c1","c2"], ascending=[False, True])

Code to compile
    c1  c2
    3   10
    2   15
    2   30
    2   100
    1   20

Checking the answer Id = 39246607 | Errors = ["name 'f' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17627219
Code to compile
# base similarity matrix (all dot products)
# replace this with A.dot(A.T).toarray() for sparse representation
similarity = numpy.dot(A, A.T)


# squared magnitude of preference vectors (number of occurrences)
square_mag = numpy.diag(similarity)

# inverse squared magnitude
inv_square_mag = 1 / square_mag

# if it doesn't occur, set it's inverse magnitude to zero (instead of inf)
inv_square_mag[numpy.isinf(inv_square_mag)] = 0

# inverse of the magnitude
inv_mag = numpy.sqrt(inv_square_mag)

# cosine similarity (elementwise multiply by inverse magnitudes)
cosine = similarity * inv_mag
cosine = cosine.T * inv_mag

Checking the answer Id = 20687984 | Errors = ["name 'numpy' is not defined"]
Code to compile
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

A =  np.array([[0, 1, 0, 0, 1], [0, 0, 1, 1, 1],[1, 1, 0, 1, 0]])
A_sparse = sparse.csr_matrix(A)

similarities = cosine_similarity(A_sparse)
print('pairwise dense output:\n {}\n'.format(similarities))

#also can output sparse matrices
similarities_sparse = cosine_similarity(A_sparse,dense_output=False)
print('pairwise sparse output:\n {}\n'.format(similarities_sparse))

Code to compile
pairwise dense output:
[[ 1.          0.40824829  0.40824829]
[ 0.40824829  1.          0.33333333]
[ 0.40824829  0.33333333  1.        ]]

pairwise sparse output:
(0, 1)  0.408248290464
(0, 2)  0.408248290464
(0, 0)  1.0
(1, 0)  0.408248290464
(1, 2)  0.333333333333
(1, 1)  1.0
(2, 1)  0.333333333333
(2, 0)  0.408248290464
(2, 2)  1.0

Code to compile
A_sparse.transpose()

Checking the answer Id = 39104306 | Errors = ["No module named 'sklearn'", 'invalid syntax (<unknown>, line 1)', "name 'A_sparse' is not defined"]
----------------------------------------
----------------------------------------
17644100
Code to compile
In [1]: pandas.date_range("11:00", "21:30", freq="30min")
Out[1]:
<class 'pandas.tseries.index.DatetimeIndex'>
[2013-07-14 11:00:00, ..., 2013-07-14 21:30:00]
Length: 22, Freq: 30T, Timezone: None

Code to compile
In [2]: pandas.date_range("11:00", "21:30", freq="30min").time
Out[2]:
array([datetime.time(11, 0), datetime.time(11, 30), datetime.time(12, 0),
       datetime.time(12, 30), datetime.time(13, 0), datetime.time(13, 30),
       datetime.time(14, 0), datetime.time(14, 30), datetime.time(15, 0),
       datetime.time(15, 30), datetime.time(16, 0), datetime.time(16, 30),
       datetime.time(17, 0), datetime.time(17, 30), datetime.time(18, 0),
       datetime.time(18, 30), datetime.time(19, 0), datetime.time(19, 30),
       datetime.time(20, 0), datetime.time(20, 30), datetime.time(21, 0),
       datetime.time(21, 30)], dtype=object)

Checking the answer Id = 17645475 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17666075
Code to compile
In [11]: g = df.groupby(['A', 'B'])

In [12]: df1 = df.set_index(['A', 'B'])

Code to compile
In [13]: df1['D'] = g.size()  # unfortunately this doesn't play nice with as_index=False
# Same would work with g['C'].sum()

In [14]: df1.reset_index()
Out[14]:
    A  B  C  D
0   1  5  1  2
1   1  5  1  2
2   1  6  1  1
3   1  7  1  1
4   2  5  1  1
5   2  6  1  2
6   2  6  1  2
7   3  7  1  2
8   3  7  1  2
9   4  6  1  1
10  4  7  1  2
11  4  7  1  2

Checking the answer Id = 17666287 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17679089
Code to compile
In [11]: df.groupby(['col5', 'col2']).size()
Out[11]:
col5  col2
1     A       1
      D       3
2     B       2
3     A       3
      C       1
4     B       1
5     B       2
6     B       1
dtype: int64

Code to compile
In [12]: df.groupby(['col5', 'col2']).size().groupby(level=1).max()
Out[12]:
col2
A       3
B       2
C       1
D       3
dtype: int64

Checking the answer Id = 17679517 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [56]: df.groupby(['col5','col2']).size().reset_index().groupby('col2')[[0]].max()
Out[56]:
      0
col2
A     3
B     2
C     1
D     3

Checking the answer Id = 17679980 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
df = pd.DataFrame([['A','C','A','B','C','A','B','B','A','A'], ['ONE','TWO','ONE','ONE','ONE','TWO','ONE','TWO','ONE','THREE']]).T
df.columns = [['Alphabet','Words']]
print(df)   #printing dataframe.

  Alphabet  Words
0        A    ONE
1        C    TWO
2        A    ONE
3        B    ONE
4        C    ONE
5        A    TWO
6        B    ONE
7        B    TWO
8        A    ONE
9        A  THREE
Code to compile
df['COUNTER'] =1       #initially, set that counter to 1.
group_data = df.groupby(['Alphabet','Words'])['COUNTER'].sum() #sum function
print(group_data)

Checking the answer Id = 38503561 | Errors = ['Sucess', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
17682613
Code to compile
In [79]: df[df.c > 0.5][['b', 'e']].values
Out[79]:
array([[ 0.98836259,  0.82403141],
       [ 0.337358  ,  0.02054435],
       [ 0.29271728,  0.37813099],
       [ 0.70033513,  0.69919695]])

Checking the answer Id = 17682662 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> df = pd.DataFrame(np.random.rand(4,5), columns = list('abcde'))
>>> df[df['c']>.5][['b','e']]
          b         e
1  0.071146  0.132145
2  0.495152  0.420219

Code to compile
>>> df[df['c']>.5][['b','e']].values
array([[ 0.07114556,  0.13214495],
       [ 0.49515157,  0.42021946]])

Checking the answer Id = 17682665 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: df = DataFrame(np.random.rand(4,5), columns = list('abcde'))

In [2]: df
Out[2]:
          a         b         c         d         e
0  0.669701  0.780497  0.955690  0.451573  0.232194
1  0.952762  0.585579  0.890801  0.643251  0.556220
2  0.900713  0.790938  0.952628  0.505775  0.582365
3  0.994205  0.330560  0.286694  0.125061  0.575153

In [5]: df.loc[df['c']>0.5,['a','d']]
Out[5]:
          a         d
0  0.669701  0.451573
1  0.952762  0.643251
2  0.900713  0.505775

Code to compile
In [6]: df.loc[df['c']>0.5,['a','d']].values
Out[6]:
array([[ 0.66970138,  0.45157274],
       [ 0.95276167,  0.64325143],
       [ 0.90071271,  0.50577509]])

Checking the answer Id = 17682726 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17690738
Code to compile
>>> import pandas as pd
>>> date_stngs = ('2008-12-20','2008-12-21','2008-12-22','2008-12-23')
>>> a = pd.Series([pd.to_datetime(date) for date in date_stngs])
>>> a
0    2008-12-20 00:00:00
1    2008-12-21 00:00:00
2    2008-12-22 00:00:00
3    2008-12-23 00:00:00

Code to compile
>>> pd.to_datetime(pd.Series(date_stngs))
0   2008-12-20 00:00:00
1   2008-12-21 00:00:00
2   2008-12-22 00:00:00
3   2008-12-23 00:00:00

Checking the answer Id = 17690795 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [46]: pd.to_datetime(pd.Series(date_stngs))
Out[46]:
0   2008-12-20 00:00:00
1   2008-12-21 00:00:00
2   2008-12-22 00:00:00
3   2008-12-23 00:00:00
dtype: datetime64[ns]

Code to compile
In [43]: dates = [(dt.datetime(1960, 1, 1)+dt.timedelta(days=i)).date().isoformat() for i in range(20000)]

In [44]: timeit pd.Series([pd.to_datetime(date) for date in dates])
1 loops, best of 3: 1.71 s per loop

In [45]: timeit pd.to_datetime(pd.Series(dates))
100 loops, best of 3: 5.71 ms per loop

Checking the answer Id = 17690868 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17691447
Code to compile
In [14]: df.stack().value_counts()
Out[14]:
192.248.8.183    3
192.168.2.85     3
66.249.74.52     2
192.168.2.161    2
124.43.113.22    1
dtype: int64

Checking the answer Id = 17692156 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17702272
Code to compile
In [7]: df = pd.DataFrame({'Status':['Delivered', 'Delivered', 'Undelivered',
                                     'SomethingElse']})

In [8]: df
Out[8]:
          Status
0      Delivered
1      Delivered
2    Undelivered
3  SomethingElse

In [9]: d = {'Delivered': True, 'Undelivered': False}

In [10]: df['Status'].map(d)
Out[10]:
0     True
1     True
2    False
3      NaN
Name: Status, dtype: object

Checking the answer Id = 17702833 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17709270
Code to compile
df['Counts'] = df.groupby(['Color'])['Value'].transform('count')

Code to compile
In [102]: df = pd.DataFrame({'Color': 'Red Red Blue'.split(), 'Value': [100, 150, 50]})

In [103]: df
Out[103]:
  Color  Value
0   Red    100
1   Red    150
2  Blue     50

In [104]: df['Counts'] = df.groupby(['Color'])['Value'].transform('count')

In [105]: df
Out[105]:
  Color  Value  Counts
0   Red    100       2
1   Red    150       2
2  Blue     50       1

Checking the answer Id = 17709453 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17709641
Checking the answer Id = 18369312 | Errors = []
Code to compile
easy_install --upgrade numpy

Code to compile
pip install pandas

Checking the answer Id = 27999688 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
pip install --upgrade numpy
pip install --upgrade scipy
pip install --upgrade pandas

Code to compile
pip install --upgrade numpy scipy pandas

Checking the answer Id = 35476539 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17712163
Code to compile
In [11]: df = pd.DataFrame(np.random.randn(4,4), columns=list('ABCD'))

In [12]: df
Out[12]:
          A         B         C         D
0  0.933069  1.432486  0.288637 -1.867853
1 -0.455952 -0.725268  0.339908  1.318175
2 -0.894331  0.573868  1.116137  0.508845
3  0.661572  0.819360 -0.527327 -0.925478

In [13]: df.mean()
Out[13]:
A    0.061089
B    0.525112
C    0.304339
D   -0.241578
dtype: float64

In [14]: df.mean().sort_values()
Out[14]:
D   -0.241578
A    0.061089
C    0.304339
B    0.525112
dtype: float64

Code to compile
In [15]: df.reindex_axis(df.mean().sort_values().index, axis=1)
Out[15]:
          D         A         C         B
0 -1.867853  0.933069  0.288637  1.432486
1  1.318175 -0.455952  0.339908 -0.725268
2  0.508845 -0.894331  1.116137  0.573868
3 -0.925478  0.661572 -0.527327  0.819360

Checking the answer Id = 17712440 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17729853
Code to compile
In [7]: d.sales[d.sales==24] = 100

In [8]: d
Out[8]:
   day     flavour  sales  year
0  sat  strawberry     10  2008

----------------------------------------
17818783
Code to compile
In [37]: col = np.array([0,0,1,2,2,2])

In [38]: data = np.array([1,2,3,4,5,6],dtype='float64')

In [39]: m = csc_matrix( (data,(row,col)), shape=(3,3) )

In [40]: m
Out[40]:
<3x3 sparse matrix of type '<type 'numpy.float64'>'
        with 6 stored elements in Compressed Sparse Column format>

In [46]: pd.SparseDataFrame([ pd.SparseSeries(m[i].toarray().ravel())
                              for i in np.arange(m.shape[0]) ])
Out[46]:
   0  1  2
0  1  0  4
1  0  0  5
2  2  3  6

In [47]: df = pd.SparseDataFrame([ pd.SparseSeries(m[i].toarray().ravel())
                                   for i in np.arange(m.shape[0]) ])

In [48]: type(df)
Out[48]: pandas.sparse.frame.SparseDataFrame

Checking the answer Id = 17819427 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17834995
----------------------------------------
----------------------------------------
17839973
Code to compile
>>> df = pd.DataFrame({'A': [a], 'B': [b]})
>>> df
   A  B
0  2  3

Code to compile
>>> df = pd.DataFrame({'A': a, 'B': b}, index=[0])
>>> df
   A  B
0  2  3

Checking the answer Id = 17840195 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df2 = pd.DataFrame({'A':[a],'B':[b]})

Checking the answer Id = 17840197 | Errors = ["name 'pd' is not defined"]
Code to compile
df = pd.DataFrame.from_records([{ 'A':a,'B':b }])

Code to compile
df = pd.DataFrame.from_records([{ 'A':a,'B':b }], index='A')

Checking the answer Id = 35970794 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
17841149
Code to compile
In [4]: df = read_csv(StringIO(data),sep='\s+')

In [5]: df
Out[5]:
   A         B       C
0  1  0.749065    This
1  2  0.301084      is
2  3  0.463468       a
3  4  0.643961  random
4  1  0.866521  string
5  2  0.120737       !

In [6]: df.dtypes
Out[6]:
A      int64
B    float64
C     object
dtype: object

Code to compile
In [8]: df.groupby('A').apply(lambda x: x.sum())
Out[8]:
   A         B           C
A
1  2  1.615586  Thisstring
2  4  0.421821         is!
3  3  0.463468           a
4  4  0.643961      random

Code to compile
In [9]: df.groupby('A')['C'].apply(lambda x: x.sum())
Out[9]:
A
1    Thisstring
2           is!
3             a
4        random
dtype: object

Code to compile
In [11]: df.groupby('A')['C'].apply(lambda x: "{%s}" % ', '.join(x))
Out[11]:
A
1    {This, string}
2           {is, !}
3               {a}
4          {random}
dtype: object

Code to compile
def f(x):
     return Series(dict(A = x['A'].sum(),
                        B = x['B'].sum(),
                        C = "{%s}" % ', '.join(x['C'])))

In [14]: df.groupby('A').apply(f)
Out[14]:
   A         B               C
A
1  2  1.615586  {This, string}
2  4  0.421821         {is, !}
3  3  0.463468             {a}
4  4  0.643961        {random}

Checking the answer Id = 17841294 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 6)']
Code to compile
>>> d
   A       B
0  1    This
1  2      is
2  3       a
3  4  random
4  1  string
5  2       !
>>> d.groupby('A')['B'].apply(list)
A
1    [This, string]
2           [is, !]
3               [a]
4          [random]
dtype: object

Checking the answer Id = 17841308 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17874063
Code to compile
x = np.random.randn(30)

fig, ax = plt.subplots(1,2, figsize=(10,4))

ax[0].hist(x, normed=True, color='grey')

hist, bins = np.histogram(x)
ax[1].bar(bins[:-1], hist.astype(np.float32) / hist.sum(), width=(bins[1]-bins[0]), color='grey')

ax[0].set_title('normed=True')
ax[1].set_title('hist = hist / hist.sum()')

Checking the answer Id = 17877159 | Errors = ["name 'np' is not defined"]
Code to compile
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(100,2), columns=list('AB'))

df.hist(normed=1)

Code to compile
df.plot(kind='hist', normed=1, bins=20, stacked=False, alpha=.5)

Checking the answer Id = 32748510 | Errors = ["name '_converter' is not defined", "name 'df' is not defined"]
Code to compile
df.hist(bins=20, weights=np.ones_like(df[df.columns[0]]) * 100. / len(df))

Checking the answer Id = 34756965 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
17921010
Code to compile
In [11]: df
Out[11]:
          C
A   B
1.1 111  81
    222  45
3.3 222  98
    333  13
5.5 333  89
6.6 777  98

In [12]: x = df.reset_index()

Code to compile
In [13]: x.loc[(x.A>=3.3)&(x.A<=6.6)]
Out[13]:
     A    B   C
2  3.3  222  98
3  3.3  333  13
4  5.5  333  89
5  6.6  777  98

Code to compile
In [14]: x.loc[(x.A>=2.0)&(x.A<=4.0)]
Out[14]:
     A    B   C
2  3.3  222  98
3  3.3  333  13

Code to compile
In [15]: x.loc[(x.B>=111.0)&(x.B<=500.0)]
Out[15]:
     A    B   C
0  1.1  111  81
1  1.1  222  45
2  3.3  222  98
3  3.3  333  13
4  5.5  333  89

Code to compile
In [16]: x.loc[(x.B>=111.0)&(x.B<=500.0)].set_index(['A','B'])
Out[16]:
          C
A   B
1.1 111  81
    222  45
3.3 222  98
    333  13
5.5 333  89

Code to compile
In [5]: x.loc[(x.B>=111.0)&(x.B<=500.0)].set_index(['A','B']).index
Out[5]:
MultiIndex
[(1.1, 111), (1.1, 222), (3.3, 222), (3.3, 333), (5.5, 333)]

Checking the answer Id = 17923621 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [536]: result_df = df.loc[(df.index.get_level_values('A') > 1.7) & (df.index.get_level_values('B') < 666)]

In [537]: result_df
Out[537]:
          C
A   B
3.3 222  43
    333  59
5.5 333  56

Code to compile
In [538]: result_df.index.get_level_values('A')
Out[538]: Index([3.3, 3.3, 5.5], dtype=object)

Code to compile
In [558]: df = store.select(STORE_EXTENT_BURSTS_DF_KEY)

In [559]: len(df)
Out[559]: 12857

In [560]: df.sort(inplace=True)

In [561]: df_without_index = df.reset_index()

In [562]: %timeit df.loc[(df.index.get_level_values('END_TIME') > 358200) & (df.index.get_level_values('START_TIME') < 361680)]
1000 loops, best of 3: 562 µs per loop

In [563]: %timeit df_without_index[(df_without_index.END_TIME > 358200) & (df_without_index.START_TIME < 361680)]
1000 loops, best of 3: 507 µs per loop

Checking the answer Id = 18103894 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [12]: df
Out[12]:
          C
A   B
1.1 111  68
    222  40
3.3 222  20
    333  11
5.5 333  80
6.6 777  51

Code to compile
In [13]: df.query('3.3 <= A <= 6.6') # for closed interval
Out[13]:
          C
A   B
3.3 222  20
    333  11
5.5 333  80
6.6 777  51

In [14]: df.query('3.3 < A < 6.6') # for open interval
Out[14]:
          C
A   B
5.5 333  80

Code to compile
In [15]: df.query('2.0 <= A <= 4.0')
Out[15]:
          C
A   B
3.3 222  20
    333  11

Code to compile
In [16]: df.query('111 <= B <= 500')
Out[16]:
          C
A   B
1.1 111  68
    222  40
3.3 222  20
    333  11
5.5 333  80

Code to compile
In [17]: df.query('0 < A < 4 and 150 < B < 400')
Out[17]:
          C
A   B
1.1 222  40
3.3 222  20
    333  11

Checking the answer Id = 40817489 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17926273
Code to compile
df.groupby(['col1','col2'])['col3'].nunique().reset_index()

Checking the answer Id = 17926411 | Errors = ["name 'df' is not defined"]
Code to compile
In [17]: df
Out[17]:
    0  1  2
0   1  1  1
1   1  1  1
2   1  1  2
3   1  2  3
4   1  2  3
5   1  2  3
6   2  1  1
7   2  1  2
8   2  1  3
9   2  2  3
10  2  2  3
11  2  2  3

In [19]: df.groupby([0,1])[2].apply(lambda x: len(x.unique()))
Out[19]:
0  1
1  1    2
   2    1
2  1    3
   2    1
dtype: int64

Checking the answer Id = 17926436 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17933282
Code to compile
import csv
import numpy as np

np.genfromtxt(("\t".join(i) for i in csv.reader(open('myfile.csv'))), delimiter="\t")

Checking the answer Id = 17933417 | Errors = ["[Errno 2] No such file or directory: 'myfile.csv'"]
Code to compile
The character to used to denote the start and end of a quoted item. Quoted items
can include the delimiter and it will be ignored.

Code to compile
In [1]: import pandas as pd

In [2]: from StringIO import StringIO

In [3]: s="""year, city, value
   ...: 2012, "Louisville KY", 3.5
   ...: 2011, "Lexington, KY", 4.0"""

In [4]: pd.read_csv(StringIO(s), quotechar='"', skipinitialspace=True)
Out[4]:
   year           city  value
0  2012  Louisville KY    3.5
1  2011  Lexington, KY    4.0

Checking the answer Id = 17942117 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17950374
Code to compile
In [16]: df = DataFrame(np.arange(10).reshape(5,2),columns=list('AB'))

In [17]: df
Out[17]:
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [18]: df.dtypes
Out[18]:
A    int64
B    int64
dtype: object

Code to compile
In [19]: df['A'].apply(str)
Out[19]:
0    0
1    2
2    4
3    6
4    8
Name: A, dtype: object

In [20]: df['A'].apply(str)[0]
Out[20]: '0'

Code to compile
In [21]: df.applymap(str)
Out[21]:
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9

In [22]: df.applymap(str).iloc[0,0]
Out[22]: '0'

Checking the answer Id = 17950531 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 35240942 | Errors = []
----------------------------------------
----------------------------------------
17957890
Code to compile
In [11]: s = pd.Series(['a', 'ab', 'c', 11, np.nan])

In [12]: s
Out[12]:
0      a
1     ab
2      c
3     11
4    NaN
dtype: object

In [13]: s.str.startswith('a', na=False)
Out[13]:
0     True
1     True
2    False
3    False
4    False
dtype: bool

Code to compile
In [14]: s.loc[s.str.startswith('a', na=False)]
Out[14]:
0     a
1    ab
dtype: object

Checking the answer Id = 17958424 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17960511
Code to compile
In [1]: import pandas as pd
   ...: import numpy as np
   ...: foo = pd.DataFrame(np.random.random((10,5)))
   ...:

In [2]: pd.__version__
Out[2]: '0.12.0.dev-35312e4'

In [3]: np.__version__
Out[3]: '1.7.1'

In [4]: # DataFrame has copy method
   ...: foo_copy = foo.copy()

In [5]: bar = foo.iloc[3:5,1:4]

In [6]: bar == foo.iloc[3:5,1:4] == foo_copy.iloc[3:5,1:4]
Out[6]:
      1     2     3
3  True  True  True
4  True  True  True

In [7]: # Changing the view
   ...: bar.ix[3,1] = 5

In [8]: # View and DataFrame still equal
   ...: bar == foo.iloc[3:5,1:4]
Out[8]:
      1     2     3
3  True  True  True
4  True  True  True

In [9]: # It is now different from a copy of original
   ...: bar == foo_copy.iloc[3:5,1:4]
Out[9]:
       1     2     3
3  False  True  True
4   True  True  True

Checking the answer Id = 17961468 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17972938
Code to compile
In [11]: pattern = '|'.join(mylist)

In [12]: pattern
Out[12]: 'dog|cat|fish'

In [13]: frame.a.str.contains(pattern)
Out[13]:
0     True
1    False
2     True
Name: a, dtype: bool

Checking the answer Id = 17973255 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
17977540
Code to compile
xl = pd.ExcelFile('foo.xls')

xl.sheet_names  # see all sheet names

xl.parse(sheet_name)  # read a specific sheet to DataFrame

Checking the answer Id = 17977609 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
17978092
Code to compile
In [11]: df['Date'] + ' ' + df['Time']
Out[11]:
0    01-06-2013 23:00:00
1    02-06-2013 01:00:00
2    02-06-2013 21:00:00
3    02-06-2013 22:00:00
4    02-06-2013 23:00:00
5    03-06-2013 01:00:00
6    03-06-2013 21:00:00
7    03-06-2013 22:00:00
8    03-06-2013 23:00:00
9    04-06-2013 01:00:00
dtype: object

In [12]: pd.to_datetime(df['Date'] + ' ' + df['Time'])
Out[12]:
0   2013-01-06 23:00:00
1   2013-02-06 01:00:00
2   2013-02-06 21:00:00
3   2013-02-06 22:00:00
4   2013-02-06 23:00:00
5   2013-03-06 01:00:00
6   2013-03-06 21:00:00
7   2013-03-06 22:00:00
8   2013-03-06 23:00:00
9   2013-04-06 01:00:00
dtype: datetime64[ns]

Checking the answer Id = 17978188 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.apply(lambda r : pd.datetime.combine(r['date_column_name'],r['time_column_name']),1)

Checking the answer Id = 39474812 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
17978133
Code to compile
df2[list('xab')]  # df2 but only with columns x, a, and b

df1.merge(df2[list('xab')])

Checking the answer Id = 17978414 | Errors = ["name 'df2' is not defined"]
----------------------------------------
----------------------------------------
17995024
Code to compile
df['size'] = df.groupby(['A','B']).transform(np.size)

Checking the answer Id = 17995122 | Errors = ["name 'df' is not defined"]
Code to compile
grpd = df.groupby(['A','B']).size().to_frame('size')

Checking the answer Id = 40872584 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
18012505
Code to compile
area_dict = dict(zip(lakes.area, lakes.count))

Checking the answer Id = 18013682 | Errors = ["name 'lakes' is not defined"]
----------------------------------------
----------------------------------------
18022845
Code to compile
In [7]: df.index.name
Out[7]: 'Index Title'

In [8]: df.index.name = 'foo'

In [9]: df.index.name
Out[9]: 'foo'

In [10]: df
Out[10]:
         Column 1
foo
Apples          1
Oranges         2
Puppies         3
Ducks           4

Checking the answer Id = 18023468 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 18023485 | Errors = []
Code to compile
df.columns.name = 'foo'

Code to compile
df.index.name = 'foo'

Checking the answer Id = 30633167 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Checking the answer Id = 32944421 | Errors = []
Code to compile
print df
             Column 1
Index Title
Apples            1.0
Oranges           2.0
Puppies           3.0
Ducks             4.0

Code to compile
print df.rename_axis('foo')
         Column 1
foo
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

Code to compile
print df
Col Name     Column 1
Index Title
Apples            1.0
Oranges           2.0
Puppies           3.0
Ducks             4.0

Code to compile
print df.rename_axis('foo').rename_axis("bar", axis="columns")
bar      Column 1
foo
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

print df.rename_axis('foo').rename_axis("bar", axis=1)
bar      Column 1
foo
Apples        1.0
Oranges       2.0
Puppies       3.0
Ducks         4.0

Checking the answer Id = 36013757 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 1)", 'invalid syntax (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 1)", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18039057
Checking the answer Id = 18039175 | Errors = []
Code to compile
data = pd.read_csv('file1.csv', error_bad_lines=False)

Checking the answer Id = 18129082 | Errors = ["name 'pd' is not defined"]
Code to compile
df = pandas.read_csv(fileName, sep='delimiter', header=None)

Checking the answer Id = 26599892 | Errors = ["name 'pandas' is not defined"]
Code to compile
data=pd.read_csv("File_path", sep='\t')

Checking the answer Id = 29383624 | Errors = ["name 'pd' is not defined"]
Code to compile
data = pd.read_csv('file1.csv', error_bad_lines=False)

Code to compile
line     = []
expected = []
saw      = []
cont     = True

while cont == True:
    try:
        data = pd.read_csv('file1.csv',skiprows=line)
        cont = False
    except Exception as e:
        errortype = e.message.split('.')[0].strip()
        if errortype == 'Error tokenizing data':
           cerror      = e.message.split(':')[1].strip().replace(',','')
           nums        = [n for n in cerror.split(' ') if str.isdigit(n)]
           expected.append(int(nums[0]))
           saw.append(int(nums[2]))
           line.append(int(nums[1])-1)
         else:
           cerror      = 'Unknown'
           print 'Unknown Error - 222'

if line != []:
    # Handle the errors however you want

Checking the answer Id = 35212740 | Errors = ["name 'pd' is not defined", 'unindent does not match any outer indentation level (<unknown>, line 18)']
----------------------------------------
----------------------------------------
18060619
Code to compile
In [6]: dr = date_range('1/1/2010', periods=3, freq=3 * datetools.bday)

In [7]: raw = randn(3)

In [8]: ts = Series(raw, index=dr)

In [9]: ts
Out[9]:
2010-01-01   -1.948
2010-01-06    0.112
2010-01-11   -0.117
Freq: 3B, dtype: float64

In [10]: ts.asfreq(datetools.BDay())
Out[10]:
2010-01-01   -1.948
2010-01-04      NaN
2010-01-05      NaN
2010-01-06    0.112
2010-01-07      NaN
2010-01-08      NaN
2010-01-11   -0.117
Freq: B, dtype: float64

In [11]: ts.resample(datetools.BDay())
Out[11]:
2010-01-01   -1.948
2010-01-04      NaN
2010-01-05      NaN
2010-01-06    0.112
2010-01-07      NaN
2010-01-08      NaN
2010-01-11   -0.117
Freq: B, dtype: float64

Checking the answer Id = 18061253 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18062135
Code to compile
In [2]: s1 = Series(randn(5),index=[1,2,4,5,6])

In [4]: s2 = Series(randn(5),index=[1,2,4,5,6])

In [8]: DataFrame(dict(s1 = s1, s2 = s2)).reset_index()
Out[8]:
   index        s1        s2
0      1 -0.176143  0.128635
1      2 -1.286470  0.908497
2      4 -0.995881  0.528050
3      5  0.402241  0.458870
4      6  0.380457  0.072251

Checking the answer Id = 18062430 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: s1 = pd.Series([1, 2], index=['A', 'B'], name='s1')

In [2]: s2 = pd.Series([3, 4], index=['A', 'B'], name='s2')

In [3]: pd.concat([s1, s2], axis=1)
Out[3]:
   s1  s2
A   1   3
B   2   4

In [4]: pd.concat([s1, s2], axis=1).reset_index()
Out[4]:
  index  s1  s2
0     A   1   3
1     B   2   4

Checking the answer Id = 18062521 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
a.to_frame().join(b.to_frame())

Checking the answer Id = 35616082 | Errors = ["name 'a' is not defined"]
----------------------------------------
----------------------------------------
18067073
Checking the answer Id = 18067431 | Errors = []
----------------------------------------
----------------------------------------
18079563
Code to compile
pd.Series(list(set(s1).intersection(set(s2))))

Code to compile
Series(list(set(s1) & set(s2)))


Code to compile
df = df[df.line_race != 0]

Checking the answer Id = 18173074 | Errors = ["name 'df' is not defined"]
Code to compile
In [56]: df
Out[56]:
     line_date  daysago  line_race  rating    raw  wrating
0   2007-03-31       62         11      56  1.000   56.000
1   2007-03-10       83         11      67  1.000   67.000
2   2007-02-10      111          9      66  1.000   66.000
3   2007-01-13      139         10      83  0.881   73.096
4   2006-12-23      160         10      88  0.793   69.787
5   2006-11-09      204          9      52  0.637   33.106
6   2006-10-22      222          8      66  0.582   38.408
7   2006-09-29      245          9      70  0.519   36.318
8   2006-09-16      258         11      68  0.486   33.063
9   2006-08-30      275          8      72  0.447   32.160
10  2006-02-11      475          5      65  0.165   10.698
11  2006-01-13      504          0      70  0.142    9.969
12  2006-01-02      515          0      64  0.135    8.627
13  2005-12-06      542          0      70  0.118    8.246
14  2005-11-29      549          0      70  0.114    7.963
15  2005-11-22      556          0      -1  0.110   -0.110
16  2005-11-01      577          0      -1  0.099   -0.099
17  2005-10-20      589          0      -1  0.093   -0.093
18  2005-09-27      612          0      -1  0.083   -0.083
19  2005-09-07      632          0      -1  0.075   -0.075
20  2005-06-12      719          0      69  0.049    3.360
21  2005-05-29      733          0      -1  0.045   -0.045
22  2005-05-02      760          0      -1  0.040   -0.040
23  2005-04-02      790          0      -1  0.034   -0.034
24  2005-03-13      810          0      -1  0.031   -0.031
25  2004-11-09      934          0      -1  0.017   -0.017

In [57]: df[df.line_race != 0]
Out[57]:
     line_date  daysago  line_race  rating    raw  wrating
0   2007-03-31       62         11      56  1.000   56.000
1   2007-03-10       83         11      67  1.000   67.000
2   2007-02-10      111          9      66  1.000   66.000
3   2007-01-13      139         10      83  0.881   73.096
4   2006-12-23      160         10      88  0.793   69.787
5   2006-11-09      204          9      52  0.637   33.106
6   2006-10-22      222          8      66  0.582   38.408
7   2006-09-29      245          9      70  0.519   36.318
8   2006-09-16      258         11      68  0.486   33.063
9   2006-08-30      275          8      72  0.447   32.160
10  2006-02-11      475          5      65  0.165   10.698

Checking the answer Id = 18173088 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df = df[df.line_race != 0]

Code to compile
df = df[df.line_race != None]

Code to compile
df = df[df.line_race.notnull()]

Checking the answer Id = 24489602 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
18176933
Code to compile
df2 = pd.DataFrame(index=df1.index)

Checking the answer Id = 18176957 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
18180763
Code to compile
ds1 = set([ tuple(line) for line in df1.values.tolist()])
ds2 = set([ tuple(line) for line in df2.values.tolist()])

Code to compile
set([(1, 2), (3, 4), (2, 3)])   # ds1

Code to compile
ds1.difference(ds2)

Code to compile
pd.DataFrame(list(ds1.difference(ds2)))

Checking the answer Id = 18184990 | Errors = ["name 'df1' is not defined", 'Sucess', "name 'ds1' is not defined", "name 'pd' is not defined"]
Code to compile
from pandas import  DataFrame

df1 = DataFrame({'col1':[1,2,3], 'col2':[2,3,4]})
df2 = DataFrame({'col1':[4,2,5], 'col2':[6,3,5]})

print df2[~df2.isin(df1).all(1)]
print df2[(df2!=df1)].dropna(how='all')
print df2[~(df2==df1)].dropna(how='all')

Checking the answer Id = 27579192 | Errors = ['invalid syntax (<unknown>, line 6)']
----------------------------------------
----------------------------------------
18196203
Code to compile
df.loc[df['line_race'] == 0, 'rating'] = 0

Checking the answer Id = 18196299 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
18196616
----------------------------------------
----------------------------------------
18199288
Code to compile
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(1,7).reshape(2,3),
                  columns = list('abc'),
                  index=pd.Series([2,5], name='b'))
print(df)
#    a  b  c
# b
# 2  1  2  3
# 5  4  5  6
print(np.where(df.index==5)[0])
# [1]
print(np.where(df['c']==6)[0])
# [1]

   a  b  c
b
2  1  2  3
5  4  5  6
[1]
[1]
Checking the answer Id = 18199337 | Errors = ['Sucess']
Code to compile
>>> import pandas as pd
>>> import numpy as np


>>> df = pd.DataFrame(np.arange(1,7).reshape(2,3),
                  columns = list('abc'),
                  index=pd.Series([2,5], name='b'))
>>> df
   a  b  c
b
2  1  2  3
5  4  5  6
>>> df.index.get_loc(5)
1

Checking the answer Id = 35138807 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18215317
Code to compile
>>> x = np.timedelta64(2069211000000000, 'ns')
>>> days = x.astype('timedelta64[D]')
>>> days / np.timedelta64(1, 'D')
23

Checking the answer Id = 18215499 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [14]: s = pd.Series(pd.timedelta_range(start='1 days', end='12 days', freq='3000T'))

In [15]: s
Out[15]:
0    1 days 00:00:00
1    3 days 02:00:00
2    5 days 04:00:00
3    7 days 06:00:00
4    9 days 08:00:00
5   11 days 10:00:00
dtype: timedelta64[ns]

In [16]: s.dt.days
Out[16]:
0     1
1     3
2     5
3     7
4     9
5    11
dtype: int64

Code to compile
In [17]: s.dt.components
Out[17]:
   days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0     1      0        0        0             0             0            0
1     3      2        0        0             0             0            0
2     5      4        0        0             0             0            0
3     7      6        0        0             0             0            0
4     9      8        0        0             0             0            0
5    11     10        0        0             0             0            0

Code to compile
In [23]: s.dt.components.hours
Out[23]:
0     0
1     2
2     4
3     6
4     8
5    10
Name: hours, dtype: int64

Checking the answer Id = 41228807 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18233107
Code to compile
In [104]: df = DataFrame(dict(date = [Timestamp('20130101'),Timestamp('20130131'),Timestamp('20130331'),Timestamp('20130330')],value=randn(4))).set_index('date')

In [105]: df
Out[105]:
               value
date
2013-01-01 -0.346980
2013-01-31  1.954909
2013-03-31 -0.505037
2013-03-30  2.545073

In [106]: df.index = df.index.to_period('M').to_timestamp('M')

In [107]: df
Out[107]:
               value
2013-01-31 -0.346980
2013-01-31  1.954909
2013-03-31 -0.505037
2013-03-31  2.545073

Code to compile
In [85]: df.index + pd.offsets.MonthEnd(0)
Out[85]: DatetimeIndex(['2013-01-31', '2013-01-31', '2013-03-31', '2013-03-31'], dtype='datetime64[ns]', name=u'date', freq=None, tz=None)

Checking the answer Id = 18233876 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18259067
Code to compile
>>> df
      Jan  Feb
2001    3    4
2002    2    7
>>> df.unstack()
Jan  2001    3
     2002    2
Feb  2001    4
     2002    7
>>> df = df.unstack().reset_index(name='value')
>>> df
  level_0  level_1  value
0     Jan     2001      3
1     Jan     2002      2
2     Feb     2001      4
3     Feb     2002      7
>>> df.rename(columns={'level_0': 'month', 'level_1': 'year'}, inplace=True)
>>> df
  month  year  value
0   Jan  2001      3
1   Jan  2002      2
2   Feb  2001      4
3   Feb  2002      7

Checking the answer Id = 18259236 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18282988
Code to compile
df.apply(you_function, axis=1)

Code to compile
>>> df = pd.DataFrame({'a': np.arange(3),
                       'b': np.random.rand(3)})
>>> df
   a         b
0  0  0.880075
1  1  0.143038
2  2  0.795188
>>> def func(row):
        return row['a'] + row['b']
>>> df.apply(func, axis=1)
0    0.880075
1    1.143038
2    2.795188
dtype: float64

Checking the answer Id = 18283014 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18290123
Code to compile
>>> df
   x   y
0  4  GE
1  1  RE
2  1  AE
3  4  CD
>>> df.values
array([[4, 'GE'],
       [1, 'RE'],
       [1, 'AE'],
       [4, 'CD']], dtype=object)

Code to compile
>>> df.values is df.values
False

Code to compile
>>> df1 = pd.DataFrame([[1, 2], [3, 4]])
>>> df2 = pd.DataFrame(df1)
>>> df2.iloc[0,0] = 42
>>> df1
    0  1
0  42  2
1   3  4

Code to compile
>>> df1 = pd.DataFrame([[1, 2], [3, 4]])
>>> df2 = pd.DataFrame(df1, copy=True)
>>> df2.iloc[0,0] = 42
>>> df1
   0  1
0  1  2
1  3  4

Checking the answer Id = 18290143 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18316211
Code to compile
In [27]: s.apply(lambda x: type(x))
Out[27]:
a  b
1  2    <type 'numpy.float64'>
3  6    <type 'numpy.float64'>
4  4    <type 'numpy.float64'>

Code to compile
Series(s.reset_index().apply(f, axis=1).values, index=s.index)

Checking the answer Id = 18316830 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'Series' is not defined"]
----------------------------------------
----------------------------------------
18327624
Code to compile
>>> myseries[myseries == 7]
3    7
dtype: int64
>>> myseries[myseries == 7].index[0]
3

Checking the answer Id = 18327852 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: myseries = pd.Series([1,4,0,7,5], index=[0,1,2,3,4])

In [3]: Index(myseries).get_loc(7)
Out[3]: 3

In [4]: Index(myseries).get_loc(10)
KeyError: 10

Code to compile
In [5]: Index([1,1,2,2,3,4]).get_loc(2)
Out[5]: slice(2, 4, None)

Code to compile
In [6]: Index([1,1,2,1,3,2,4]).get_loc(2)
Out[6]: array([False, False,  True, False, False,  True, False], dtype=bool)

Code to compile
In [7]: s = Series(randint(0,10,10000))

In [9]: %timeit s[s == 5]
1000 loops, best of 3: 203 µs per loop

In [12]: i = Index(s)

In [13]: %timeit i.get_loc(5)
1000 loops, best of 3: 226 µs per loop

Code to compile
In [2]: s = Series(randint(0,10,10000))

In [3]: %timeit Index(s)
100000 loops, best of 3: 9.6 µs per loop

In [4]: %timeit Index(s).is_unique
10000 loops, best of 3: 140 µs per loop

Checking the answer Id = 18334025 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18358938
Code to compile
df.index.values.tolist()  # an ndarray method, you probably shouldn't depend on this

Code to compile
list(df.index.values)  # this will always work in pandas

Checking the answer Id = 18360223 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
18366797
Code to compile
In [11]: s = '# notes\na,b,c\n# more notes\n1,2,3'

In [12]: pd.read_csv(StringIO(s), sep=',', comment='#', skiprows=1)
Out[12]:
    a   b   c
0 NaN NaN NaN
1   1   2   3

Code to compile
In [13]: pd.read_csv(StringIO(s), sep=',', comment='#')
Out[13]:
        Unnamed: 0
a   b            c
NaN NaN        NaN
1   2            3

Code to compile
In [14]: pd.read_csv(StringIO(s2), comment='#', sep=',').dropna(how='all')
Out[14]:
   a  b  c
1  1  2  3

Checking the answer Id = 18366911 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 31931208 | Errors = []
----------------------------------------
----------------------------------------
18388870
Checking the answer Id = 22677264 | Errors = []
----------------------------------------
----------------------------------------
18404946
Code to compile
import pandas as pd
import numpy as np
data = np.random.random((8,3))*10000
df = pd.DataFrame (data)
pd.options.display.float_format = '{:20,.2f}'.format
print(df)

                     0                    1                    2
0             6,296.18             7,785.84             8,515.58
1             8,164.13             1,660.77             8,283.90
2               586.29             2,001.71             6,229.27
3             1,146.93             6,033.48             3,079.66
4             4,294.67             3,151.52               701.74
5             5,007.59             9,635.99             6,117.83
6             3,000.32             9,561.50             3,892.37
7             6,975.18             6,341.13             9,529.11
Code to compile
                     0                    1                    2
0             4,839.01             6,170.02               301.63
1             4,411.23             8,374.36             7,336.41
2             4,193.40             2,741.63             7,834.42
3             3,888.27             3,441.57             9,288.64
4               220.13             6,646.20             3,274.39
5             3,885.71             9,942.91             2,265.95
6             3,448.75             3,900.28             6,053.93

Code to compile
display.float_format: [default: None] [currently: None] : callable
        The callable should accept a floating point number and return
        a string with the desired format of the number. This is used
        in some places like SeriesFormatter.
        See core.format.EngFormatter for an example.

Checking the answer Id = 18405221 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18429491
Code to compile
In [11]: df.fillna(-1)
Out[11]:
   a   b
0  1   4
1  2  -1
2  3   6

In [12]: df.fillna(-1).groupby('b').sum()
Out[12]:
    a
b
-1  2
4   1
6   3

Checking the answer Id = 18431417 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18434208
Code to compile
df['foo'][df['foo'] == '-'] = None
df['foo'] = df['foo'].astype(float)

Checking the answer Id = 18434234 | Errors = ["name 'df' is not defined"]
Code to compile
In [11]: s
Out[11]:
0    103.8
1    751.1
2      0.0
3      0.0
4        -
5        -
6      0.0
7        -
8      0.0
dtype: object

In [12]: s.convert_objects(convert_numeric=True)
Out[12]:
0    103.8
1    751.1
2      0.0
3      0.0
4      NaN
5      NaN
6      0.0
7      NaN
8      0.0
dtype: float64

Checking the answer Id = 18434403 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df1 = df.apply(pd.to_numeric, args=('coerce',))

Code to compile
df1 = df.apply(pd.to_numeric, errors='coerce')

Checking the answer Id = 33795876 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
18504967
Code to compile
df['A_perc'] = df['A']/df['sum']

Code to compile
ds.div(ds['sum'], axis=0)

Code to compile
>>> ds.join(ds.div(ds['sum'], axis=0), rsuffix='_perc')
          A         B         C         D       sum    A_perc    B_perc  \
1  0.151722  0.935917  1.033526  0.941962  3.063127  0.049532  0.305543
2  0.033761  1.087302  1.110695  1.401260  3.633017  0.009293  0.299283
3  0.761368  0.484268  0.026837  1.276130  2.548603  0.298739  0.190013

     C_perc    D_perc  sum_perc
1  0.337409  0.307517         1
2  0.305722  0.385701         1
3  0.010530  0.500718         1

Checking the answer Id = 18505101 | Errors = ["name 'df' is not defined", "name 'ds' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18517722
Code to compile
>>> bin_avg[index] = np.average(items_in_bin, weights=my_weights)

Checking the answer Id = 18518561 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18528533
Code to compile
from StringIO import StringIO
import prettytable

output = StringIO()
data_frame.to_csv(output)
output.seek(0)
pt = prettytable.from_csv(output)
print pt

Checking the answer Id = 18528589 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 8)"]
Code to compile
from tabulate import tabulate
import pandas as pd

df = pd.DataFrame({'col_two' : [0.0001, 1e-005 , 1e-006, 1e-007],
                   'column_3' : ['ABCD', 'ABCD', 'long string', 'ABCD']})
print tabulate(df, headers='keys', tablefmt='psql')

+----+-----------+-------------+
|    |   col_two | column_3    |
|----+-----------+-------------|
|  0 |    0.0001 | ABCD        |
|  1 |    1e-05  | ABCD        |
|  2 |    1e-06  | long string |
|  3 |    1e-07  | ABCD        |
+----+-----------+-------------+

Checking the answer Id = 31885295 | Errors = ['invalid syntax (<unknown>, line 6)']
----------------------------------------
----------------------------------------
18554920
Code to compile
>>> df
         date  duration user_id
0  2013-04-01        30    0001
1  2013-04-01        15    0001
2  2013-04-01        20    0002
3  2013-04-02        15    0002
4  2013-04-02        30    0002
>>> df.groupby("date").agg({"duration": np.sum, "user_id": pd.Series.nunique})
            duration  user_id
date
2013-04-01        65        2
2013-04-02        45        1
>>> df.groupby("date").agg({"duration": np.sum, "user_id": lambda x: x.nunique()})
            duration  user_id
date
2013-04-01        65        2
2013-04-02        45        1

Checking the answer Id = 18554949 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18580461
Code to compile
In [48]: cols = list('abc')

In [49]: df = DataFrame(randn(10, len(cols)), columns=cols)

In [50]: df.a.quantile(0.95)
Out[50]: 1.5776961953820687

Code to compile
In [72]: df[df.a < df.a.quantile(.95)]
Out[72]:
       a      b      c
0 -1.044 -0.247 -1.149
2  0.395  0.591  0.764
3 -0.564 -2.059  0.232
4 -0.707 -0.736 -1.345
5  0.978 -0.099  0.521
6 -0.974  0.272 -0.649
7  1.228  0.619 -0.849
8 -0.170  0.458 -0.515
9  1.465  1.019  0.966

Checking the answer Id = 18580496 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
numpy.percentile(df.a,95) # attention : the percentile is given in percent (5 = 5%)

Code to compile
df.a.quantile(.95)  # as you already noticed here it is ".95" not "95"

Code to compile
df[df.a < np.percentile(df.a,95)]

Checking the answer Id = 39276195 | Errors = ["name 'numpy' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
18594469
Code to compile
df.div(df.sum(axis=1), axis=0)

Checking the answer Id = 18594595 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
18603270
Code to compile
def logged_apply(g, func, *args, **kwargs):

Code to compile
2011-03-31   NaN
2011-06-30   NaN
2011-09-30   NaN
2011-12-31     3
2012-03-31     3
dtype: float64

Checking the answer Id = 18624323 | Errors = ["name 'H2' is not defined", "name 'H2' is not defined", 'how in .resample() is deprecated\nthe new syntax is .resample(...).count()', 'invalid token (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18645401
Code to compile
def changeencode(data, cols):
    for col in cols:
        data[col] = data[col].str.decode('iso-8859-1').str.encode('utf-8')
    return data

Checking the answer Id = 18661440 | Errors = ['Sucess']
Code to compile
data = pd.read_csv(fname, encoding='cp1252')

Checking the answer Id = 26042312 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
18646076
Code to compile
import numpy as np
import pandas as pd
import scipy.sparse as sparse

df = pd.DataFrame(np.arange(1,10).reshape(3,3))
arr = sparse.coo_matrix(([1,1,1], ([0,1,2], [1,2,0])), shape=(3,3))
df['newcol'] = arr.toarray().tolist()
print(df)

Code to compile
   0  1  2     newcol
0  1  2  3  [0, 1, 0]
1  4  5  6  [0, 0, 1]
2  7  8  9  [1, 0, 0]

Checking the answer Id = 18646275 | Errors = ["No module named 'scipy'", 'unexpected indent (<unknown>, line 1)']
Code to compile
In [11]: p = pd.Panel({'df': df, 'csc': csc})

In [12]: p.df
Out[12]:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]: p.csc
Out[13]:
   0  1  2
0  0  1  0
1  0  0  1
2  1  0  0

Code to compile
In [14]: p.xs(0)
Out[14]:
   csc  df
0    0   1
1    1   2
2    0   3

Checking the answer Id = 18646802 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18665284
Code to compile
In [1]: df = pd.DataFrame([[1, {'a': 2}], [2, {'a': 1, 'b': 3}]])

In [2]: df
Out[2]:
   0                   1
0  1           {u'a': 2}
1  2  {u'a': 1, u'b': 3}

In [3]: df[1].apply(pd.Series)
Out[3]:
   a   b
0  2 NaN
1  1   3

Code to compile
In [4]: dict_col = df.pop(1)  # here 1 is the column name

In [5]: pd.concat([df, dict_col.apply(pd.Series)], axis=1)
Out[5]:
   0  a   b
0  1  2 NaN
1  2  1   3

Checking the answer Id = 18666142 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18674064
Code to compile
df.insert(idx, col_name, value)

Checking the answer Id = 18674915 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
18677271
Code to compile
In [179]: string = Series(np.random.choice(df.string.values, size=100), name='string')

In [180]: visits = Series(poisson(1000, size=100), name='date')

In [181]: date = Series(np.random.choice([df.date[0], now(), Timestamp('1/1/2001'), Timestamp('11/15/2001'), Timestamp('12/1/01'), Timestamp('5/1/01')], size=100), dtype='datetime64[ns]', name='date')

In [182]: df = DataFrame({'string': string, 'visits': visits, 'date': date})

In [183]: df.head()
Out[183]:
                 date   string  visits
0 2001-11-15 00:00:00  current     997
1 2001-11-15 00:00:00  current     974
2 2012-10-02 00:00:00     stem     982
3 2001-12-01 00:00:00     stem     984
4 2001-01-01 00:00:00  current     989

In [186]: resamp = df.set_index('date').groupby('string').resample('M', how='sum')

In [187]: resamp.head()
Out[187]:
                    visits
string  date
current 2001-01-31    2996
        2001-02-28     NaN
        2001-03-31     NaN
        2001-04-30     NaN
        2001-05-31    3016

Code to compile
In [188]: g = resamp.groupby(level='date').apply(lambda x: x / x.sum())

In [189]: g.head()
Out[189]:
                    visits
string  date
current 2001-01-31   0.177
        2001-02-28     NaN
        2001-03-31     NaN
        2001-04-30     NaN
        2001-05-31   0.188

Code to compile
In [176]: h = g.sortlevel('date').head()

In [177]: h
Out[177]:
                      visits
string    date
current   2001-01-31   0.077
molecular 2001-01-31   0.228
neuron    2001-01-31   0.073
nucleus   2001-01-31   0.234
stem      2001-01-31   0.388

In [178]: h.sum()
Out[178]:
visits    1
dtype: float64

Code to compile
In [196]: resamp.dropna()
Out[196]:
                      visits
string    date
current   2001-01-31    2996
          2001-05-31    3016
          2001-11-30    5959
          2001-12-31    3998
          2013-09-30    1077
molecular 2001-01-31    3984
          2001-05-31    1911
          2001-11-30    3054
          2001-12-31    1020
          2012-10-31     977
          2013-09-30    1947
neuron    2001-01-31    3961
          2001-05-31    2069
          2001-11-30    5010
          2001-12-31    2065
          2012-10-31    6973
          2013-09-30     994
nucleus   2001-01-31    3060
          2001-05-31    3035
          2001-11-30    2924
          2001-12-31    4144
          2012-10-31    2004
          2013-09-30    7881
stem      2001-01-31    2911
          2001-05-31    5994
          2001-11-30    6072
          2001-12-31    4916
          2012-10-31    1991
          2013-09-30    3977

In [197]: resamp.dropna().reset_index()
Out[197]:
       string                date  visits
0     current 2001-01-31 00:00:00    2996
1     current 2001-05-31 00:00:00    3016
2     current 2001-11-30 00:00:00    5959
3     current 2001-12-31 00:00:00    3998
4     current 2013-09-30 00:00:00    1077
5   molecular 2001-01-31 00:00:00    3984
6   molecular 2001-05-31 00:00:00    1911
7   molecular 2001-11-30 00:00:00    3054
8   molecular 2001-12-31 00:00:00    1020
9   molecular 2012-10-31 00:00:00     977
10  molecular 2013-09-30 00:00:00    1947
11     neuron 2001-01-31 00:00:00    3961
12     neuron 2001-05-31 00:00:00    2069
13     neuron 2001-11-30 00:00:00    5010
14     neuron 2001-12-31 00:00:00    2065
15     neuron 2012-10-31 00:00:00    6973
16     neuron 2013-09-30 00:00:00     994
17    nucleus 2001-01-31 00:00:00    3060
18    nucleus 2001-05-31 00:00:00    3035
19    nucleus 2001-11-30 00:00:00    2924
20    nucleus 2001-12-31 00:00:00    4144
21    nucleus 2012-10-31 00:00:00    2004
22    nucleus 2013-09-30 00:00:00    7881
23       stem 2001-01-31 00:00:00    2911
24       stem 2001-05-31 00:00:00    5994
25       stem 2001-11-30 00:00:00    6072
26       stem 2001-12-31 00:00:00    4916
27       stem 2012-10-31 00:00:00    1991
28       stem 2013-09-30 00:00:00    3977

Code to compile
In [198]: g.dropna()
Out[198]:
                      visits
string    date
current   2001-01-31   0.177
          2001-05-31   0.188
          2001-11-30   0.259
          2001-12-31   0.248
          2013-09-30   0.068
molecular 2001-01-31   0.236
          2001-05-31   0.119
          2001-11-30   0.133
          2001-12-31   0.063
          2012-10-31   0.082
          2013-09-30   0.123
neuron    2001-01-31   0.234
          2001-05-31   0.129
          2001-11-30   0.218
          2001-12-31   0.128
          2012-10-31   0.584
          2013-09-30   0.063
nucleus   2001-01-31   0.181
          2001-05-31   0.189
          2001-11-30   0.127
          2001-12-31   0.257
          2012-10-31   0.168
          2013-09-30   0.496
stem      2001-01-31   0.172
          2001-05-31   0.374
          2001-11-30   0.264
          2001-12-31   0.305
          2012-10-31   0.167
          2013-09-30   0.251

In [199]: g.dropna().reset_index()
Out[199]:
       string                date  visits
0     current 2001-01-31 00:00:00   0.177
1     current 2001-05-31 00:00:00   0.188
2     current 2001-11-30 00:00:00   0.259
3     current 2001-12-31 00:00:00   0.248
4     current 2013-09-30 00:00:00   0.068
5   molecular 2001-01-31 00:00:00   0.236
6   molecular 2001-05-31 00:00:00   0.119
7   molecular 2001-11-30 00:00:00   0.133
8   molecular 2001-12-31 00:00:00   0.063
9   molecular 2012-10-31 00:00:00   0.082
10  molecular 2013-09-30 00:00:00   0.123
11     neuron 2001-01-31 00:00:00   0.234
12     neuron 2001-05-31 00:00:00   0.129
13     neuron 2001-11-30 00:00:00   0.218
14     neuron 2001-12-31 00:00:00   0.128
15     neuron 2012-10-31 00:00:00   0.584
16     neuron 2013-09-30 00:00:00   0.063
17    nucleus 2001-01-31 00:00:00   0.181
18    nucleus 2001-05-31 00:00:00   0.189
19    nucleus 2001-11-30 00:00:00   0.127
20    nucleus 2001-12-31 00:00:00   0.257
21    nucleus 2012-10-31 00:00:00   0.168
22    nucleus 2013-09-30 00:00:00   0.496
23       stem 2001-01-31 00:00:00   0.172
24       stem 2001-05-31 00:00:00   0.374
25       stem 2001-11-30 00:00:00   0.264
26       stem 2001-12-31 00:00:00   0.305
27       stem 2012-10-31 00:00:00   0.167
28       stem 2013-09-30 00:00:00   0.251

Code to compile
In [210]: g.dropna().reset_index().reindex(columns=['visits', 'string', 'date'])
Out[210]:
    visits     string                date
0    0.177    current 2001-01-31 00:00:00
1    0.188    current 2001-05-31 00:00:00
2    0.259    current 2001-11-30 00:00:00
3    0.248    current 2001-12-31 00:00:00
4    0.068    current 2013-09-30 00:00:00
5    0.236  molecular 2001-01-31 00:00:00
6    0.119  molecular 2001-05-31 00:00:00
7    0.133  molecular 2001-11-30 00:00:00
8    0.063  molecular 2001-12-31 00:00:00
9    0.082  molecular 2012-10-31 00:00:00
10   0.123  molecular 2013-09-30 00:00:00
11   0.234     neuron 2001-01-31 00:00:00
12   0.129     neuron 2001-05-31 00:00:00
13   0.218     neuron 2001-11-30 00:00:00
14   0.128     neuron 2001-12-31 00:00:00
15   0.584     neuron 2012-10-31 00:00:00
16   0.063     neuron 2013-09-30 00:00:00
17   0.181    nucleus 2001-01-31 00:00:00
18   0.189    nucleus 2001-05-31 00:00:00
19   0.127    nucleus 2001-11-30 00:00:00
20   0.257    nucleus 2001-12-31 00:00:00
21   0.168    nucleus 2012-10-31 00:00:00
22   0.496    nucleus 2013-09-30 00:00:00
23   0.172       stem 2001-01-31 00:00:00
24   0.374       stem 2001-05-31 00:00:00
25   0.264       stem 2001-11-30 00:00:00
26   0.305       stem 2001-12-31 00:00:00
27   0.167       stem 2012-10-31 00:00:00
28   0.251       stem 2013-09-30 00:00:00

Checking the answer Id = 18677517 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18689474
Code to compile
In [26]: s

first  second  third
bar    doo     one      0.404705
               two      0.577046
baz    bee     one     -1.715002
               two     -1.039268
foo    bop     one     -0.370647
               two     -1.157892
qux    bop     one     -1.344312
               two      0.844885
dtype: float64

In [27]: s.groupby(level=['first','second']).sum()

first  second
bar    doo       0.981751
baz    bee      -2.754270
foo    bop      -1.528539
qux    bop      -0.499427
dtype: float64

Checking the answer Id = 18689514 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18689512
Code to compile
 if val.dtype == float and np.isnan(val):

Checking the answer Id = 18689589 | Errors = ['unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd
import numpy as np
s = pd.Series(['apple', np.nan, 'banana'])
pd.isnull(s)
Out[9]:
0    False
1     True
2    False
dtype: bool

Code to compile
In [24]: s = Series([Timestamp('20130101'),np.nan,Timestamp('20130102 9:30')],dtype='M8[ns]')

In [25]: s
Out[25]:
0   2013-01-01 00:00:00
1                   NaT
2   2013-01-02 09:30:00
dtype: datetime64[ns]``

In [26]: pd.isnull(s)
Out[26]:
0    False
1     True
2    False
dtype: bool

Checking the answer Id = 18689712 | Errors = ['invalid syntax (<unknown>, line 5)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18689823
Code to compile
In [27]: df
Out[27]:
          A         B         C
0 -0.166919  0.979728 -0.632955
1 -0.297953 -0.912674 -1.365463
2 -0.120211 -0.540679 -0.680481
3       NaN -2.027325  1.533582
4       NaN       NaN  0.461821
5 -0.788073       NaN       NaN
6 -0.916080 -0.612343       NaN
7 -0.887858  1.033826       NaN
8  1.948430  1.025011 -2.982224
9  0.019698 -0.795876 -0.046431

In [28]: df.mean()
Out[28]:
A   -0.151121
B   -0.231291
C   -0.530307
dtype: float64

In [29]: df.fillna(df.mean())
Out[29]:
          A         B         C
0 -0.166919  0.979728 -0.632955
1 -0.297953 -0.912674 -1.365463
2 -0.120211 -0.540679 -0.680481
3 -0.151121 -2.027325  1.533582
4 -0.151121 -0.231291  0.461821
5 -0.788073 -0.231291 -0.530307
6 -0.916080 -0.612343 -0.530307
7 -0.887858  1.033826 -0.530307
8  1.948430  1.025011 -2.982224
9  0.019698 -0.795876 -0.046431

Checking the answer Id = 18691949 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
sub2['income'].fillna((sub2['income'].mean()), inplace=True)

Checking the answer Id = 33178896 | Errors = ["name 'sub2' is not defined"]
----------------------------------------
----------------------------------------
18695605
Code to compile
df.set_index('id').to_dict()

Code to compile
df.set_index('id')['value'].to_dict()

Checking the answer Id = 18695700 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
>>> ptest = p.DataFrame([['a',1],['a',2],['b',3]], columns=['id', 'value'])
>>> ptest
  id  value
0  a      1
1  a      2
2  b      3

# note that in both cases the association a->1 is lost:
>>> ptest.set_index('id')['value'].to_dict()
{'a': 2, 'b': 3}
>>> dict(zip(ptest.id, ptest.value))
{'a': 2, 'b': 3}

Code to compile
>>> mydict = {}
>>> for x in range(len(ptest)):
...     currentid = ptest.iloc[x,0]
...     currentvalue = ptest.iloc[x,1]
...     mydict.setdefault(currentid, [])
...     mydict[currentid].append(currentvalue)
>>> mydict
{'a': [1, 2], 'b': [3]}

Checking the answer Id = 24368660 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
>>> ptest = pd.DataFrame([['a',1],['a',2],['b',3]], columns=['id', 'value'])
>>> ptest
  id  value
0  a      1
1  a      2
2  b      3
>>> {k: g["value"].tolist() for k,g in ptest.groupby("id")}
{'a': [1, 2], 'b': [3]}

Checking the answer Id = 24370510 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
mydict = dict(zip(df.id, df.value))

Checking the answer Id = 39837358 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
18713929
Code to compile
df = pd.DataFrame(np.random.rand(10))

df.loc[np.random.choice(df.index, 5, replace=False)]

Code to compile
df.loc[np.random.permutation(df.index)[:5]]

Checking the answer Id = 18714509 | Errors = ["name 'pd' is not defined", "name 'df' is not defined"]
Code to compile
from random import sample
df.loc[sample(df.index, 1000)]

Code to compile
In [11]: %timeit df.loc[sample(df.index, 10)]
1000 loops, best of 3: 1.19 ms per loop

In [12]: %timeit df.loc[np.random.choice(df.index, 10, replace=False)]
1 loops, best of 3: 1.36 s per loop

In [13]: %timeit df.loc[np.random.permutation(df.index)[:10]]
1 loops, best of 3: 1.38 s per loop

In [21]: %timeit df.loc[sample(df.index, 1000)]
10 loops, best of 3: 14.5 ms per loop

In [22]: %timeit df.loc[np.random.choice(df.index, 1000, replace=False)]
1 loops, best of 3: 1.28 s per loop

In [23]: %timeit df.loc[np.random.permutation(df.index)[:1000]]
1 loops, best of 3: 1.3  s per loop

Code to compile
In [31]: %timeit df.loc[sample(df.index, 100000)]
1 loops, best of 3: 1.63 s per loop

In [32]: %timeit df.loc[np.random.choice(df.index, 100000, replace=False)]
1 loops, best of 3: 1.36 s per loop

In [33]: %timeit df.loc[np.random.permutation(df.index)[:100000]]
1 loops, best of 3: 1.4 s per loop

Code to compile
In [41]: %timeit df.loc[sample(df.index, 1000000)]
1 loops, best of 3: 10 s per loop

Checking the answer Id = 18714869 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18792918
Code to compile
restaurant_review_frame.join(restaurant_ids_dataframe, on='business_id', how='left', lsuffix="_review")

Checking the answer Id = 18793067 | Errors = ["name 'restaurant_review_frame' is not defined"]
Code to compile
import pandas as pd
pd.merge(restaurant_ids_dataframe, restaurant_review_frame, on='business_id', how='outer')

Code to compile
 pd.merge(restaurant_ids_dataframe, restaurant_review_frame, on='business_id', how='outer', suffixes=('_restaurant_id', '_restaurant_review'))

Checking the answer Id = 18799713 | Errors = ["name 'restaurant_ids_dataframe' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd
T1 = pd.merge(T1, T2, on=T1.index, how='outer')

Checking the answer Id = 19937902 | Errors = ["name 'T1' is not defined"]
----------------------------------------
----------------------------------------
18835077
Code to compile
In [11]: df
Out[11]:
     0
A B
1 4  1
2 5  2
3 6  3

In [12]: df.iloc[df.index.get_level_values('A') == 1]
Out[12]:
     0
A B
1 4  1

Code to compile
df.xs(1, level='A', drop_level=False) # axis=1 if columns

Code to compile
In [21]: df1 = df.T

In [22]: df1.iloc[:, df1.columns.get_level_values('A') == 1]
Out[22]:
A  1
B  4
0  1

Checking the answer Id = 18835121 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
In [36]: df = DataFrame(np.random.randn(10, 4))

In [37]: df.columns = [np.random.choice(['a', 'b'], size=4).tolist(), np.random.choice(['c', 'd'], size=4)]

In [38]: df.columns.names = ['A', 'B']

In [39]: df
Out[39]:
A      b             a
B      d      d      d      d
0 -1.406  0.548 -0.635  0.576
1 -0.212 -0.583  1.012 -1.377
2  0.951 -0.349 -0.477 -1.230
3  0.451 -0.168  0.949  0.545
4 -0.362 -0.855  1.676 -2.881
5  1.283  1.027  0.085 -1.282
6  0.583 -1.406  0.327 -0.146
7 -0.518 -0.480  0.139  0.851
8 -0.030 -0.630 -1.534  0.534
9  0.246 -1.558 -1.885 -1.543

In [40]: df.xs('a', level='A', axis=1)
Out[40]:
B      d      d
0 -0.635  0.576
1  1.012 -1.377
2 -0.477 -1.230
3  0.949  0.545
4  1.676 -2.881
5  0.085 -1.282
6  0.327 -0.146
7  0.139  0.851
8 -1.534  0.534
9 -1.885 -1.543

Code to compile
In [42]: df.xs('a', level='A', axis=1, drop_level=False)
Out[42]:
A      a
B      d      d
0 -0.635  0.576
1  1.012 -1.377
2 -0.477 -1.230
3  0.949  0.545
4  1.676 -2.881
5  0.085 -1.282
6  0.327 -0.146
7  0.139  0.851
8 -1.534  0.534
9 -1.885 -1.543

Checking the answer Id = 18835174 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
18837262
Code to compile
df = pd.DataFrame(data.items(), columns=['Date', 'DateValue'])
df['Date'] = pd.to_datetime(df['Date'])

Checking the answer Id = 18837378 | Errors = ["name 'pd' is not defined"]
Code to compile
pd.DataFrame(d)
ValueError: If using all scalar values, you must must pass an index

Code to compile
In [11]: pd.DataFrame(d.items())  # or list(d.items()) in python 3
Out[11]:
             0    1
0   2012-07-02  392
1   2012-07-06  392
2   2012-06-29  391
3   2012-06-28  391
...

In [12]: pd.DataFrame(d.items(), columns=['Date', 'DateValue'])
Out[12]:
          Date  DateValue
0   2012-07-02        392
1   2012-07-06        392
2   2012-06-29        391

Code to compile
In [21]: s = pd.Series(d, name='DateValue')
Out[21]:
2012-06-08    388
2012-06-09    388
2012-06-10    388

In [22]: s.index.name = 'Date'

In [23]: s.reset_index()
Out[23]:
          Date  DateValue
0   2012-06-08        388
1   2012-06-09        388

Checking the answer Id = 18975065 | Errors = ['invalid syntax (<unknown>, line 1)', "No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
18992086
Code to compile
ax = s.hist()  # s is an instance of Series
fig = ax.get_figure()
fig.savefig('/path/to/figure.pdf')

Code to compile
s.hist()
savefig('path/to/figure.pdf')  # saves the current figure

Checking the answer Id = 18992172 | Errors = ["name 's' is not defined", "name 's' is not defined"]
----------------------------------------
----------------------------------------
19062612
Code to compile
df = df[['bob']]

Checking the answer Id = 19062640 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19071199
Code to compile
import pandas as pd

import numpy as np

array=np.random.random((2,4))

df=pd.DataFrame(array, columns=('Test1', 'toto', 'test2', 'riri'))

print df

      Test1      toto     test2      riri
0  0.923249  0.572528  0.845464  0.144891
1  0.020438  0.332540  0.144455  0.741412

cols = [c for c in df.columns if c.lower()[:4] != 'test']

df=df[cols]

print df
       toto      riri
0  0.572528  0.144891
1  0.332540  0.741412

Checking the answer Id = 19071572 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 9)"]
Code to compile
In [38]: df = DataFrame({'Test1': randn(10), 'Test2': randn(10), 'awesome': randn(10)})

In [39]: df.select(lambda x: not re.search('Test\d+', x), axis=1)
Out[39]:
   awesome
0    1.215
1    1.247
2    0.142
3    0.169
4    0.137
5   -0.971
6    0.736
7    0.214
8    0.111
9   -0.214

Checking the answer Id = 19071679 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19078325
Code to compile
df = data.groupby(...).agg(...)
df.columns = df.columns.droplevel(0)

Code to compile
df.columns = ["_".join(x) for x in df.columns.ravel()]

Code to compile
import pandas as pd
import pandas.rpy.common as com
import numpy as np

data = com.load_data('Loblolly')
print(data.head())
#     height  age Seed
# 1     4.51    3  301
# 15   10.89    5  301
# 29   28.72   10  301
# 43   41.74   15  301
# 57   52.70   20  301

df = data.groupby('Seed').agg(
    {'age':['sum'],
     'height':['mean', 'std']})
print(df.head())
#       age     height
#       sum        std       mean
# Seed
# 301    78  22.638417  33.246667
# 303    78  23.499706  34.106667
# 305    78  23.927090  35.115000
# 307    78  22.222266  31.328333
# 309    78  23.132574  33.781667

df.columns = df.columns.droplevel(0)
print(df.head())

Code to compile
      sum        std       mean
Seed
301    78  22.638417  33.246667
303    78  23.499706  34.106667
305    78  23.927090  35.115000
307    78  22.222266  31.328333
309    78  23.132574  33.781667

Code to compile
df = data.groupby('Seed').agg(
    {'age':['sum'],
     'height':['mean', 'std']})
df.columns = ["_".join(x) for x in df.columns.ravel()]

Code to compile
      age_sum   height_std  height_mean
Seed
301        78    22.638417    33.246667
303        78    23.499706    34.106667
305        78    23.927090    35.115000
307        78    22.222266    31.328333
309        78    23.132574    33.781667

Checking the answer Id = 19078773 | Errors = ["name 'data' is not defined", "name 'df' is not defined", "No module named 'pandas.rpy'", 'unexpected indent (<unknown>, line 1)', "name 'data' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
# Create a sample data frame
df = pd.DataFrame({'A': [1, 1, 1, 2, 2],
                   'B': range(5),
                   'C': range(5)})

# ==== SINGLE COLUMN (SERIES) ====
# Syntax soon to be deprecated
df.groupby('A').B.agg({'foo': 'count'})
# Recommended replacement syntax
df.groupby('A').B.agg(['count']).rename(columns={'count': 'foo'})

# ==== MULTI COLUMN ====
# Syntax soon to be deprecated
df.groupby('A').agg({'B': {'foo': 'sum'}, 'C': {'bar': 'min'}})
# Recommended replacement syntax
df.groupby('A').agg({'B': 'sum', 'C': 'min'}).rename(columns={'B': 'foo', 'C': 'bar'})
# As the recommended syntax is more verbose, parentheses can
# be used to introduce line breaks and increase readability
(df.groupby('A')
    .agg({'B': 'sum', 'C': 'min'})
    .rename(columns={'B': 'foo', 'C': 'bar'})
)

Code to compile
>>> df.groupby('A').agg({'B': {'min': lambda x: x.min(), 'max': lambda x: x.max()}})

    B
  max min
A
1   2   0
2   4   3

Code to compile
>>> df.groupby('A').agg({'B': [np.min, np.max]})

     B
  amin amax
A
1    0    2
2    3    4

Code to compile
>>> df.groupby('A').agg({'B': [lambda x: x.min(), lambda x: x.max]})
SpecificationError: Function names must be unique, found multiple named <lambda>

Code to compile
>>> def my_min(x):
>>>     return x.min()

>>> def my_max(x):
>>>     return x.max()

>>> df.groupby('A').agg({'B': [my_min, my_max]})

       B
  my_min my_max
A
1      0      2
2      3      4

Checking the answer Id = 43897124 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19103624
Code to compile
>>> df = pd.read_csv("test_data2.csv", index_col=[0,1], skipinitialspace=True)
>>> df
                       dep  freq   arr   code  mode
from       to
RGBOXFD    RGBPADTON   127     0    27  99999     2
           RGBPADTON   127     0    33  99999     2
           RGBRDLEY    127     0  1425  99999     2
           RGBCHOLSEY  127     0    52  99999     2
           RGBMDNHEAD  127     0    91  99999     2
RGBDIDCOTP RGBPADTON   127     0    46  99999     2
           RGBPADTON   127     0     3  99999     2
           RGBCHOLSEY  127     0    61  99999     2
           RGBRDLEY    127     0  1430  99999     2
           RGBPADTON   127     0   115  99999     2

Checking the answer Id = 19103754 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19105976
Code to compile
In [239]: from operator import methodcaller

In [240]: s = Series(date_range(Timestamp('now'), periods=2))

In [241]: s
Out[241]:
0   2013-10-01 00:24:16
1   2013-10-02 00:24:16
dtype: datetime64[ns]

In [238]: s.map(lambda x: x.strftime('%d-%m-%Y'))
Out[238]:
0    01-10-2013
1    02-10-2013
dtype: object

In [242]: s.map(methodcaller('strftime', '%d-%m-%Y'))
Out[242]:
0    01-10-2013
1    02-10-2013
dtype: object

Code to compile
In [249]: s.map(methodcaller('date'))

Out[249]:
0    2013-10-01
1    2013-10-02
dtype: object

In [250]: s.map(methodcaller('date')).values

Out[250]:
array([datetime.date(2013, 10, 1), datetime.date(2013, 10, 2)], dtype=object)

Code to compile
In [273]: s.map(Timestamp.date)
Out[273]:
0    2013-10-01
1    2013-10-02
dtype: object

Code to compile
In [243]: index = DatetimeIndex(s)

In [244]: index
Out[244]:
<class 'pandas.tseries.index.DatetimeIndex'>
[2013-10-01 00:24:16, 2013-10-02 00:24:16]
Length: 2, Freq: None, Timezone: None

In [246]: index.date
Out[246]:
array([datetime.date(2013, 10, 1), datetime.date(2013, 10, 2)], dtype=object)

Code to compile
In [263]: f = methodcaller('date')

In [264]: flam = lambda x: x.date()

In [265]: fmeth = Timestamp.date

In [266]: s2 = Series(date_range('20010101', periods=1000000, freq='T'))

In [267]: s2
Out[267]:
0    2001-01-01 00:00:00
1    2001-01-01 00:01:00
2    2001-01-01 00:02:00
3    2001-01-01 00:03:00
4    2001-01-01 00:04:00
5    2001-01-01 00:05:00
6    2001-01-01 00:06:00
7    2001-01-01 00:07:00
8    2001-01-01 00:08:00
9    2001-01-01 00:09:00
10   2001-01-01 00:10:00
11   2001-01-01 00:11:00
12   2001-01-01 00:12:00
13   2001-01-01 00:13:00
14   2001-01-01 00:14:00
...
999985   2002-11-26 10:25:00
999986   2002-11-26 10:26:00
999987   2002-11-26 10:27:00
999988   2002-11-26 10:28:00
999989   2002-11-26 10:29:00
999990   2002-11-26 10:30:00
999991   2002-11-26 10:31:00
999992   2002-11-26 10:32:00
999993   2002-11-26 10:33:00
999994   2002-11-26 10:34:00
999995   2002-11-26 10:35:00
999996   2002-11-26 10:36:00
999997   2002-11-26 10:37:00
999998   2002-11-26 10:38:00
999999   2002-11-26 10:39:00
Length: 1000000, dtype: datetime64[ns]

In [269]: timeit s2.map(f)
1 loops, best of 3: 1.04 s per loop

In [270]: timeit s2.map(flam)
1 loops, best of 3: 1.1 s per loop

In [271]: timeit s2.map(fmeth)
1 loops, best of 3: 968 ms per loop

Checking the answer Id = 19106012 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19112398
Code to compile
df = DataFrame(table, columns=headers)
df

Code to compile
Out[7]:
   Heading1  Heading2
0         1         2
1         3         4

Checking the answer Id = 19112890 | Errors = ["name 'DataFrame' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
table = [[1 , 2], [3, 4]]
df = DataFrame(table)
df = df.transpose()
df.columns = ['Heading1', 'Heading2']

Code to compile
      Heading1  Heading2
0         1        3
1         2        4

Checking the answer Id = 34996876 | Errors = ["name 'DataFrame' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19119039
Code to compile
ix = pd.DatetimeIndex(start=date(2012, 1, 1), end=date(2012, 1, 31), freq='D')
df2.reindex(ix)

Code to compile
               b
2012-01-01  0.22
2012-01-02   NaN
2012-01-03  0.30
2012-01-04   NaN
2012-01-05   NaN
[...]
2012-01-29   NaN
2012-01-30   NaN
2012-01-31   NaN

Checking the answer Id = 23807740 | Errors = ["name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19124601
Code to compile
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

Checking the answer Id = 19126566 | Errors = ['Sucess']
Code to compile
with pd.option_context('display.max_rows', None, 'display.max_columns', 3):
    print(df)

Checking the answer Id = 30691921 | Errors = ["name 'pd' is not defined"]
Code to compile
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

Code to compile
pd.describe_option('display')

Checking the answer Id = 37347783 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
Code to compile
print(df.to_string())

Checking the answer Id = 39923958 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19125091
Code to compile
cols_to_use = df2.columns - df.columns

Code to compile
dfNew = merge(df, df2[cols_to_use], left_index=True, right_index=True, how='outer')

Code to compile
cols_to_use = df2.columns.difference(df.columns)

Checking the answer Id = 19125531 | Errors = ["name 'df2' is not defined", "name 'merge' is not defined", "name 'df2' is not defined"]
Code to compile
dfNew = df.merge(df2, left_index=True, right_index=True,
                 how='outer', suffixes=('', '_y'))

Checking the answer Id = 38034085 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19155718
Code to compile
    List = [1, 3]
    df.ix[List]

Checking the answer Id = 19155860 | Errors = ['unexpected indent (<unknown>, line 1)']
Code to compile
df.iloc[[1,3],:]

Checking the answer Id = 19295539 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19169649
Code to compile
"nt|nv"  # rather than "nt" | " nv"
f_recs[f_recs['Behavior'].str.contains("nt|nv", na=False)]

Code to compile
In [1]: "nt" | "nv"
TypeError: unsupported operand type(s) for |: 'str' and 'str'

Checking the answer Id = 19170098 | Errors = ["name 'f_recs' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19213789
Code to compile
plt.axvline(x_position)

Code to compile
ax.axvline(x, color='k', linestyle='--')

Checking the answer Id = 19213836 | Errors = ["name 'plt' is not defined", "name 'ax' is not defined"]
Code to compile
ax.axvline(pd.to_datetime('2015-11-01'), color='r', linestyle='--', lw=2)

Code to compile
xposition = [pd.to_datetime('2010-01-01'), pd.to_datetime('2015-12-31')]
for xc in xposition:
    ax.axvline(x=xc, color='k', linestyle='-')

Checking the answer Id = 35902487 | Errors = ["name 'ax' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
19214588
Code to compile
In [11]: aggregated_df.reset_index().to_json(orient='index')
Out[11]: '{"0":{"created":"05-16-13","counter":3},"1":{"created":"05-17-13","counter":1},"2":{"created":"05-18-13","counter":1}}'

Checking the answer Id = 19214708 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19226488
Code to compile
import pandas
df = pandas.read_csv("test.csv")
df.loc[df.ID == 103, 'FirstName'] = "Matt"
df.loc[df.ID == 103, 'LastName'] = "Jones"

Code to compile
df.loc[df.ID == 103, ['FirstName', 'LastName']] = 'Matt', 'Jones'

Code to compile
import pandas
df = pandas.read_csv("test.csv")
df['FirstName'][df.ID == 103] = "Matt"
df['LastName'][df.ID == 103] = "Jones"

Checking the answer Id = 19226617 | Errors = ["File b'test.csv' does not exist", "name 'df' is not defined", "File b'test.csv' does not exist"]
Code to compile
    ID First_Name Last_Name
0  103          a         b
1  104          c         d

Code to compile
fnames = {103: "Matt", 104: "Mr"}
lnames = {103: "Jones", 104: "X"}

Code to compile
df['First_Name'] = df['ID'].map(fnames)
df['Last_Name'] = df['ID'].map(lnames)

Code to compile
    ID First_Name Last_Name
0  103       Matt     Jones
1  104         Mr         X

Code to compile
names = {103: ("Matt", "Jones"), 104: ("Mr", "X")}
df['First_Name'] = df['ID'].map(lambda x: names[x][0])

Checking the answer Id = 19226745 | Errors = ['unexpected indent (<unknown>, line 1)', 'Sucess', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
19231871
Code to compile
In [20]: df = DataFrame(data['values'])

In [21]: df.columns = ["date","price"]

In [22]: df
Out[22]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 357
Data columns (total 2 columns):
date     358  non-null values
price    358  non-null values
dtypes: float64(1), int64(1)

In [23]: df.head()
Out[23]:
         date  price
0  1349720105  12.08
1  1349806505  12.35
2  1349892905  12.15
3  1349979305  12.19
4  1350065705  12.15
In [25]: df['date'] = pd.to_datetime(df['date'],unit='s')

In [26]: df.head()
Out[26]:
                 date  price
0 2012-10-08 18:15:05  12.08
1 2012-10-09 18:15:05  12.35
2 2012-10-10 18:15:05  12.15
3 2012-10-11 18:15:05  12.19
4 2012-10-12 18:15:05  12.15

In [27]: df.dtypes
Out[27]:
date     datetime64[ns]
price           float64
dtype: object

Checking the answer Id = 19231939 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19237878
Code to compile
k1 = df.loc[(df.Product == p_id) & (df.Time >= start_time) & (df.Time < end_time), ['Time', 'Product']]

Code to compile
df[['Time', 'Product']].query('Product == p_id and Month < mn and Year == yr')

Code to compile
In [9]: df = DataFrame({'gender': np.random.choice(['m', 'f'], size=10), 'price': poisson(100, size=10)})

In [10]: df
Out[10]:
  gender  price
0      m     89
1      f    123
2      f    100
3      m    104
4      m     98
5      m    103
6      f    100
7      f    109
8      f     95
9      m     87

In [11]: df.query('gender == "m" and price < 100')
Out[11]:
  gender  price
0      m     89
4      m     98
9      m     87

Code to compile
k1 = df[['Time', 'Product']].query('Product == p_id and start_time <= Time < end_time')

Checking the answer Id = 19237920 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
Code to compile
df[(df.Product == p_id) & (df.Time> start_time) & (df.Time < end_time)][['Time','Product']]

Checking the answer Id = 22674279 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19267029
Code to compile
In [32]: df.groupby('a')['a'].transform('count')
Out[32]:
0     4
1     4
2     4
3     4
4     2
5     2
6     3
7     3
8     3
9     7
10    7
11    7
12    7
13    7
14    7
15    7
Name: a, dtype: int64

Code to compile
In [33]: df.groupby('a').transform('count')
Out[33]:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

Code to compile
In [42]: df2.groupby('a').transform('count')
Out[42]:
    b
0   4
1   4
2   4
3   4
4   2
5   2
6   3
7   3
8   3
9   7
10  7
11  7
12  7
13  7
14  7
15  7

In [43]: type(df2.groupby('a').transform('count'))
Out[43]: pandas.core.frame.DataFrame

Or a series

In [45]: df2.groupby('a')['a'].transform('count')
Out[45]:
0     4
1     4
2     4
3     4
4     2
5     2
6     3
7     3
8     3
9     7
10    7
11    7
12    7
13    7
14    7
15    7
Name: a, dtype: int64

In [46]: type(df.groupby('a')['a'].transform('count'))
Out[46]: pandas.core.series.Series

Checking the answer Id = 19271841 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19324453
Code to compile
import pandas as pd

idx = pd.date_range('09-01-2013', '09-30-2013')

s = pd.Series({'09-02-2013': 2,
               '09-03-2013': 10,
               '09-06-2013': 5,
               '09-07-2013': 1})
s.index = pd.DatetimeIndex(s.index)

s = s.reindex(idx, fill_value=0)
print(s)

2013-09-01     0
2013-09-02     2
2013-09-03    10
2013-09-04     0
2013-09-05     0
2013-09-06     5
2013-09-07     1
2013-09-08     0
2013-09-09     0
2013-09-10     0
2013-09-11     0
2013-09-12     0
2013-09-13     0
2013-09-14     0
2013-09-15     0
2013-09-16     0
2013-09-17     0
2013-09-18     0
2013-09-19     0
2013-09-20     0
2013-09-21     0
2013-09-22     0
2013-09-23     0
2013-09-24     0
2013-09-25     0
2013-09-26     0
2013-09-27     0
2013-09-28     0
2013-09-29     0
2013-09-30     0
Freq: D, dtype: int64
Code to compile
2013-09-01     0
2013-09-02     2
2013-09-03    10
2013-09-04     0
2013-09-05     0
2013-09-06     5
2013-09-07     1
2013-09-08     0
...

Checking the answer Id = 19324591 | Errors = ['Sucess', 'invalid token (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19332171
Checking the answer Id = 34592295 | Errors = []
----------------------------------------
----------------------------------------
19350806
Code to compile
In [3]: df
Out[3]:
   M  D     Y  Apples  Oranges
0  5  6  1990      12        3
1  5  7  1990      14        4
2  5  8  1990      15       34
3  5  9  1990      23       21

In [4]: df.dtypes
Out[4]:
M          int64
D          int64
Y          int64
Apples     int64
Oranges    int64
dtype: object

# in 0.12, use this
In [5]: pd.to_datetime((df.Y*10000+df.M*100+df.D).apply(str),format='%Y%m%d')

# in 0.13 the above or this will work
In [5]: pd.to_datetime(df.Y*10000+df.M*100+df.D,format='%Y%m%d')
Out[5]:
0   1990-05-06 00:00:00
1   1990-05-07 00:00:00
2   1990-05-08 00:00:00
3   1990-05-09 00:00:00
dtype: datetime64[ns]


Checking the answer Id = 19599661 | Errors = ['invalid syntax (<unknown>, line 2)']
Code to compile
>>> df[df["location"] == "c"].iloc[0]
date        20130102
location           c
Name: 2, dtype: object

Checking the answer Id = 19599776 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19609631
Code to compile
followers_df.index = range(20)

Checking the answer Id = 19609945 | Errors = ["name 'followers_df' is not defined"]
Code to compile
followers_df.reset_index()
followers_df.reindex(index=range(0,20))

Checking the answer Id = 19609954 | Errors = ["name 'followers_df' is not defined"]
----------------------------------------
----------------------------------------
19611729
Code to compile
from StringIO import StringIO  # got moved to io in python3.

import requests
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=0Ak1ecr7i0wotdGJmTURJRnZLYlV3M2daNTRubTdwTXc&output=csv')
data = r.content

In [10]: df = pd.read_csv(StringIO(data), index_col=0,parse_dates=['Quradate'])

In [11]: df.head()
Out[11]:
          City                                            region     Res_Comm  \
0       Dothan  South_Central-Montgomery-Auburn-Wiregrass-Dothan  Residential
10       Foley                              South_Mobile-Baldwin  Residential
12  Birmingham      North_Central-Birmingham-Tuscaloosa-Anniston   Commercial
38       Brent      North_Central-Birmingham-Tuscaloosa-Anniston  Residential
44      Athens                 North_Huntsville-Decatur-Florence  Residential

          mkt_type            Quradate  National_exp  Alabama_exp  Sales_exp  \
0            Rural 2010-01-15 00:00:00             2            2          3
10  Suburban_Urban 2010-01-15 00:00:00             4            4          4
12  Suburban_Urban 2010-01-15 00:00:00             2            2          3
38           Rural 2010-01-15 00:00:00             3            3          3
44  Suburban_Urban 2010-01-15 00:00:00             4            5          4

    Inventory_exp  Price_exp  Credit_exp
0               2          3           3
10              4          4           3
12              2          2           3
38              3          3           2
44              4          4           4

Checking the answer Id = 19611857 | Errors = ['invalid syntax (<unknown>, line 7)']
Code to compile
test = pd.read_csv('https://docs.google.com/spreadsheets/d/' +
                   '0Ak1ecr7i0wotdGJmTURJRnZLYlV3M2daNTRubTdwTXc' +
                   '/export?gid=0&format=csv',
                   # Set first column as rownames in data frame
                   index_col=0,
                   # Parse column values to datetime
                   parse_dates=['Quradate']
                  )
test.head(5)  # Same result as @TomAugspurger

Checking the answer Id = 35246041 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
19618912
Code to compile
In [80]: df1
Out[80]:
   rating  user_id
0       2  0x21abL
1       1  0x21abL
2       1   0xdafL
3       0  0x21abL
4       4  0x1d14L
5       2  0x21abL
6       1  0x21abL
7       0   0xdafL
8       4  0x1d14L
9       1  0x21abL

In [81]: df2
Out[81]:
   rating      user_id
0       2      0x1d14L
1       1    0xdbdcad7
2       1      0x21abL
3       3      0x21abL
4       3      0x21abL
5       1  0x5734a81e2
6       2      0x1d14L
7       0       0xdafL
8       0      0x1d14L
9       4  0x5734a81e2

In [82]: ind = df2.user_id.isin(df1.user_id) & df1.user_id.isin(df2.user_id)

In [83]: ind
Out[83]:
0     True
1    False
2     True
3     True
4     True
5    False
6     True
7     True
8     True
9    False
Name: user_id, dtype: bool

In [84]: df1[ind].append(df2[ind])
Out[84]:
   rating  user_id
0       2  0x21abL
2       1   0xdafL
3       0  0x21abL
4       4  0x1d14L
6       1  0x21abL
7       0   0xdafL
8       4  0x1d14L
0       2  0x1d14L
2       1  0x21abL
3       3  0x21abL
4       3  0x21abL
6       2  0x1d14L
7       0   0xdafL
8       0  0x1d14L

Code to compile
In [93]: df1.index & df2.index
Out[93]: Int64Index([], dtype='int64')

Checking the answer Id = 19619020 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
s1 = pd.merge(df1, df2, how='inner', on=['user_id'])

Checking the answer Id = 30535957 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
19632075
Code to compile
pd.read_csv("whitespace.csv", header=None, delimiter=r"\s+")

Checking the answer Id = 19632099 | Errors = ["name 'pd' is not defined"]
Checking the answer Id = 19633103 | Errors = []
----------------------------------------
----------------------------------------
19666904
----------------------------------------
----------------------------------------
19726029
Code to compile
data.columns = map(str.lower, data.columns)

Code to compile
data.columns = [x.lower() for x in data.columns]

Code to compile
>>> data = pd.DataFrame({'A':range(3), 'B':range(3,0,-1), 'C':list('abc')})
>>> data
   A  B  C
0  0  3  a
1  1  2  b
2  2  1  c
>>> data.columns = map(str.lower, data.columns)
>>> data
   a  b  c
0  0  3  a
1  1  2  b
2  2  1  c

Checking the answer Id = 19726078 | Errors = ["name 'data' is not defined", "name 'data' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
df.columns = df.columns.str.lower()

Code to compile
In [63]: df
Out[63]:
  country country isocode  year     XRAT         tcgdp
0  Canada             CAN  2001  1.54876  9.249094e+05
1  Canada             CAN  2002  1.56932  9.572999e+05
2  Canada             CAN  2003  1.40105  1.016902e+06

In [64]: df.columns = df.columns.str.lower()

In [65]: df
Out[65]:
  country country isocode  year     xrat         tcgdp
0  Canada             CAN  2001  1.54876  9.249094e+05
1  Canada             CAN  2002  1.56932  9.572999e+05
2  Canada             CAN  2003  1.40105  1.016902e+06

Checking the answer Id = 38931854 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19726663
Code to compile
ax = df.plot()
fig = ax.get_figure()
fig.savefig('asdf.png')

Checking the answer Id = 25588487 | Errors = ["name 'df' is not defined"]
Code to compile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import six

df = pd.DataFrame()
df['date'] = ['2016-04-01', '2016-04-02', '2016-04-03']
df['calories'] = [2200, 2100, 1500]
df['sleep hours'] = [2200, 2100, 1500]
df['gym'] = [True, False, False]

def render_mpl_table(data, col_width=3.0, row_height=0.625, font_size=14,
                     header_color='#40466e', row_colors=['#f1f1f2', 'w'], edge_color='w',
                     bbox=[0, 0, 1, 1], header_columns=0,
                     ax=None, **kwargs):
    if ax is None:
        size = (np.array(data.shape[::-1]) + np.array([0, 1])) * np.array([col_width, row_height])
        fig, ax = plt.subplots(figsize=size)
        ax.axis('off')

    mpl_table = ax.table(cellText=data.values, bbox=bbox, colLabels=data.columns, **kwargs)

    mpl_table.auto_set_font_size(False)
    mpl_table.set_fontsize(font_size)

    for k, cell in six.iteritems(mpl_table._cells):
        cell.set_edgecolor(edge_color)
        if k[0] == 0 or k[1] < header_columns:
            cell.set_text_props(weight='bold', color='w')
            cell.set_facecolor(header_color)
        else:
            cell.set_facecolor(row_colors[k[0]%len(row_colors) ])
    return ax

render_mpl_table(df, header_columns=0, col_width=2.0)

Checking the answer Id = 39358752 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
19736080
Code to compile
In [6]: d = dict( A = np.array([1,2]), B = np.array([1,2,3,4]) )

In [7]: DataFrame(dict([ (k,Series(v)) for k,v in d.items() ]))
Out[7]:
    A  B
0   1  1
1   2  2
2 NaN  3
3 NaN  4

Checking the answer Id = 19736406 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In[20]: my_dict = dict( A = np.array([1,2]), B = np.array([1,2,3,4]) )
In[21]: df = pd.DataFrame.from_dict(my_dict, orient='index')
In[22]: df
Out[22]:
   0  1   2   3
A  1  2 NaN NaN
B  1  2   3   4
In[23]: df.transpose()
Out[23]:
    A  B
0   1  1
1   2  2
2 NaN  3
3 NaN  4

Checking the answer Id = 25217425 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19758364
Code to compile
data.rename(columns={'gdp':'log(gdp)'}, inplace=True)

Checking the answer Id = 19758398 | Errors = ["name 'data' is not defined"]
Code to compile
df.columns = ['log(gdp)' if x=='gdp' else x for x in df.columns]

Code to compile
df.columns = ['log(gdp)' if x=='gdp' else 'cap_mod' if x=='cap' else x for x in df.columns]

Code to compile
col_dict = {'gdp': 'log(gdp)', 'cap': 'cap_mod'}   ## key?old name, value?new name

df.columns = [col_dict.get(x, x) for x in df.columns]

Code to compile
%%timeit
df.rename(columns={'gdp':'log(gdp)'}, inplace=True)
10000 loops, best of 3: 168 µs per loop

%%timeit
df.columns = ['log(gdp)' if x=='gdp' else x for x in df.columns]
10000 loops, best of 3: 58.5 µs per loop

Checking the answer Id = 39657077 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19781609
Code to compile
df.to_csv('filename.csv', header=False)

Code to compile
df.to_csv('filename.tsv', sep='\t', index=False)

Checking the answer Id = 19782137 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
19790790
Code to compile
#create some data with Names column
data = pd.DataFrame({'Names': ['Joe', 'John', 'Jasper', 'Jez'] *4, 'Ob1' : np.random.rand(16), 'Ob2' : np.random.rand(16)})

#create unique list of names
UniqueNames = data.Names.unique()

#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in UniqueNames}

for key in DataFrameDict.keys():
    DataFrameDict[key] = data[:][data.Names == key]

Code to compile
DataFrameDict['Joe']

Checking the answer Id = 19791302 | Errors = ["name 'pd' is not defined", "name 'DataFrameDict' is not defined"]
Code to compile
# sort the dataframe
df.sort(columns=['name'], inplace=True)
# set the index to be this and don't drop
df.set_index(keys=['name'], drop=False,inplace=True)
# get a list of names
names=df['name'].unique().tolist()
# now we can perform a lookup on a 'view' of the dataframe
joe = df.loc[df.name=='joe']
# now you can query all 'joes'

Checking the answer Id = 19809616 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19798112
Code to compile
def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k: recur_dictify(g.ix[:,1:]) for k,g in grouped}
    return d

Code to compile
>>> df
  name  v1   v2  v3
0    A  A1  A11   1
1    A  A2  A12   2
2    B  B1  B12   3
3    C  C1  C11   4
4    B  B2  B21   5
5    A  A2  A21   6
>>> pprint.pprint(recur_dictify(df))
{'A': {'A1': {'A11': 1}, 'A2': {'A12': 2, 'A21': 6}},
 'B': {'B1': {'B12': 3}, 'B2': {'B21': 5}},
 'C': {'C1': {'C11': 4}}}

Code to compile
def retro_dictify(frame):
    d = {}
    for row in frame.values:
        here = d
        for elem in row[:-2]:
            if elem not in here:
                here[elem] = {}
            here = here[elem]
        here[row[-2]] = row[-1]
    return d

Checking the answer Id = 19900276 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', 'Sucess']
----------------------------------------
----------------------------------------
19798153
Code to compile
In [116]: frame = DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [117]: frame
Out[117]:
               b         d         e
Utah   -0.029638  1.081563  1.280300
Ohio    0.647747  0.831136 -1.549481
Texas   0.513416 -0.884417  0.195343
Oregon -0.485454 -0.477388 -0.309548

In [118]: f = lambda x: x.max() - x.min()

In [119]: frame.apply(f)
Out[119]:
b    1.133201
d    1.965980
e    2.829781
dtype: float64

Code to compile
In [120]: format = lambda x: '%.2f' % x

In [121]: frame.applymap(format)
Out[121]:
            b      d      e
Utah    -0.03   1.08   1.28
Ohio     0.65   0.83  -1.55
Texas    0.51  -0.88   0.20
Oregon  -0.49  -0.48  -0.31

Code to compile
In [122]: frame['e'].map(format)
Out[122]:
Utah       1.28
Ohio      -1.55
Texas      0.20
Oregon    -0.31
Name: e, dtype: object

Checking the answer Id = 19798528 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
    frame.apply(np.sqrt)
    Out[102]:
                   b         d         e
    Utah         NaN  1.435159       NaN
    Ohio    1.098164  0.510594  0.729748
    Texas        NaN  0.456436  0.697337
    Oregon  0.359079       NaN       NaN

    frame.applymap(np.sqrt)
    Out[103]:
                   b         d         e
    Utah         NaN  1.435159       NaN
    Ohio    1.098164  0.510594  0.729748
    Texas        NaN  0.456436  0.697337
    Oregon  0.359079       NaN       NaN

Checking the answer Id = 20687887 | Errors = ['unexpected indent (<unknown>, line 1)']
Code to compile
In [41]: p=pd.Series([1,2,3])

In [42]: p.apply(lambda x: pd.Series([x, x]))
Out[42]:
   0  1
0  1  1
1  2  2
2  3  3

In [43]: p.map(lambda x: pd.Series([x, x]))
Out[43]:
0    0    1
1    1
dtype: int64
1    0    2
1    2
dtype: int64
2    0    3
1    3
dtype: int64
dtype: object

Code to compile
series.apply(download_file_for_every_element)

Code to compile
1 2 3 4 5
2 1 4 5 3

Code to compile
1 2 3 4 5
1 2 5 3 4

Code to compile
In [39]: p=pd.Series([1,0,3,4,2])

In [40]: p.map(p)
Out[40]:
0    0
1    1
2    4
3    2
4    3
dtype: int64

Checking the answer Id = 27368948 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'series' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 38900352 | Errors = []
----------------------------------------
----------------------------------------
19818756
Code to compile
In [14]: df.groupby('Mt').first()
Out[14]:
   Sp  Value  count
Mt
s1  a      1      3
s2  c      3      5
s3  f      6      6

Code to compile
In [28]: df.groupby('Mt', as_index=False).first()
Out[28]:
   Mt Sp  Value  count
0  s1  a      1      3
1  s2  c      3      5
2  s3  f      6      6

Code to compile
In [196]: df.sort('count', ascending=False).groupby('Mt', as_index=False).first()
Out[196]:
   Mt Sp  Value  count
0  s1  a      1      3
1  s2  e      5     10
2  s3  f      6      6

Checking the answer Id = 19818942 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
>>> df.iloc[df.groupby(['Mt']).apply(lambda x: x['count'].idxmax())]
   Mt Sp  Value  count
0  s1  a      1      3
3  s2  d      4     10
5  s3  f      6      6

Checking the answer Id = 19819118 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19828822
Code to compile
if df.empty:
    print('DataFrame is empty!')

Checking the answer Id = 19828967 | Errors = ["name 'df' is not defined"]
Code to compile
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10000, 4), columns=list('ABCD'))

def empty(df):
    return df.empty

def lenz(df):
    return len(df) == 0

def lenzi(df):
    return len(df.index) == 0

'''
%timeit empty(df)
%timeit lenz(df)
%timeit lenzi(df)

10000 loops, best of 3: 13.9 µs per loop
100000 loops, best of 3: 2.34 µs per loop
1000000 loops, best of 3: 695 ns per loop

len on index seems to be faster
'''

Checking the answer Id = 24933234 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
19851005
Code to compile
df.index.names = ['Date']

Code to compile
In [1]: df = pd.DataFrame([[1, 2, 3], [4, 5 ,6]], columns=list('ABC'))

In [2]: df
Out[2]:
   A  B  C
0  1  2  3
1  4  5  6

In [3]: df1 = df.set_index('A')

In [4]: df1
Out[4]:
   B  C
A
1  2  3
4  5  6

Code to compile
In [5]: df1.rename(index={1: 'a'})
Out[5]:
   B  C
A
a  2  3
4  5  6

In [6]: df1.rename(columns={'B': 'BB'})
Out[6]:
   BB  C
A
1   2  3
4   5  6

Code to compile
In [7]: df1.index.names = ['index']
        df1.columns.names = ['column']

Code to compile
In [8]: df1
Out[8]:
column  B  C
index
1       2  3
4       5  6

Checking the answer Id = 19851521 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.index.names = ['Date']

Code to compile
df = df.reindex(df.index.rename(['Date']))

Checking the answer Id = 23478395 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
19860389
Code to compile
 rows_with_strings  = df.apply(
       lambda row :
          any([ isinstance(e, basestring) for e in row ])
       , axis=1)

Code to compile
 df_with_no_strings = df[~rows_with_strings]

Code to compile
 a = [[1,2],['a',2], [3,4], [7,'d']]
 df = pd.DataFrame(a,columns = ['a','b'])


 df
   a  b
0  1  2
1  a  2
2  3  4
3  7  d

select  = df.apply(lambda r : any([isinstance(e, basestring) for e in r  ]),axis=1)

df[~select]

    a  b
 0  1  2
 2  3  4

Checking the answer Id = 19861545 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19867734
Code to compile
In [11]: df.loc[df.cherry == 'bad', ['apple', 'banana']] = np.nan

In [12]: df
Out[12]:
   apple  banana cherry
0      0       3   good
1    NaN     NaN    bad
2      2       5   good

Checking the answer Id = 19867768 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19894939
Code to compile
In [47]: df
Out[47]:
           A         B    C
0   0.719391  0.091693  one
1   0.951499  0.837160  one
2   0.975212  0.224855  one
3   0.807620  0.031284  one
4   0.633190  0.342889  one
5   0.075102  0.899291  one
6   0.502843  0.773424  one
7   0.032285  0.242476  one
8   0.794938  0.607745  one
9   0.620387  0.574222  one
10  0.446639  0.549749  two
11  0.664324  0.134041  two
12  0.622217  0.505057  two
13  0.670338  0.990870  two
14  0.281431  0.016245  two
15  0.675756  0.185967  two
16  0.145147  0.045686  two
17  0.404413  0.191482  two
18  0.949130  0.943509  two
19  0.164642  0.157013  two

In [48]: df.groupby('C').quantile(.95)
Out[48]:
            A         B
C
one  0.964541  0.871332
two  0.826112  0.969558

Checking the answer Id = 19895152 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19900202
Code to compile
df = pd.DataFrame({'A': [1, 2, 3], 'B': [1.0, 2.0, 3.0],
                   'C': [1j, 2j, 3j], 'D': ['a', 'b', 'c']})
df
Out:
   A    B   C  D
0  1  1.0  1j  a
1  2  2.0  2j  b
2  3  3.0  3j  c

df.dtypes
Out:
A         int64
B       float64
C    complex128
D        object
dtype: object

Code to compile
np.issubdtype(df['A'].dtype, np.number)
Out: True


----------------------------------------
19917545
Code to compile
csvdata_old = csvdata.copy()

Code to compile
from pandas.util.testing import assert_frame_equal
assert_frame_equal(csvdata, csvdata_old)

Code to compile
try:
    assert_frame_equal(csvdata, csvdata_old)
    return True
except:  # appeantly AssertionError doesn't catch all
    return False

Checking the answer Id = 19918849 | Errors = ["name 'csvdata' is not defined", "name 'csvdata' is not defined", "'return' outside function (<ast>, line 3)"]
----------------------------------------
----------------------------------------
19928284
Code to compile
from pandas.util.testing import assert_frame_equal

Checking the answer Id = 19928288 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
19952290
Code to compile
ax2.plot(ax.get_xticks(),df[['sales_gr','net_pft_gr']].values, linestyle='-', marker='o', linewidth=2.0)

Code to compile
ax.set_ylim((-10, 80.))

Checking the answer Id = 19969224 | Errors = ["name 'ax2' is not defined", "name 'ax' is not defined"]
----------------------------------------
----------------------------------------
19960077
Code to compile
>>> df
  countries
0        US
1        UK
2   Germany
3     China
>>> countries
['UK', 'China']
>>> df.countries.isin(countries)
0    False
1     True
2    False
3     True
Name: countries, dtype: bool
>>> df[df.countries.isin(countries)]
  countries
1        UK
3     China
>>> df[~df.countries.isin(countries)]
  countries
0        US
2   Germany

Checking the answer Id = 19960116 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
criterion = lambda row: row['countries'] not in countries
not_in = df[df.apply(criterion, axis=1)]

Checking the answer Id = 19960136 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
19961490
Code to compile
>>> df = pd.DataFrame(data)
>>> df.pivot(index=0, columns=1, values=2)
# avg DataFrame
1      c1     c2
0
r1  avg11  avg12
r2  avg21  avg22
>>> df.pivot(index=0, columns=1, values=3)
# stdev DataFrame
1        c1       c2
0
r1  stdev11  stdev12
r2  stdev21  stdev22

Checking the answer Id = 19961557 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df = pandas.DataFrame(data, columns=['R_Number', 'C_Number', 'Avg', 'Std'])

# Possibly also this if these can always be the indexes:
# df = df.set_index(['R_Number', 'C_Number'])

Code to compile
df.set_index(['R_Number', 'C_Number']).Avg.unstack(level=1)

Checking the answer Id = 19961872 | Errors = ["name 'pandas' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
19966018
Code to compile
>>> df
  name  value
0    A      1
1    A    NaN
2    B    NaN
3    B      2
4    B      3
5    B      1
6    C      3
7    C    NaN
8    C      3
>>> df["value"] = df.groupby("name").transform(lambda x: x.fillna(x.mean()))
>>> df
  name  value
0    A      1
1    A      1
2    B      2
3    B      2
4    B      3
5    B      1
6    C      3
7    C      3
8    C      3

Checking the answer Id = 19966142 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19981518
Code to compile
df.set_index(['fileName','phrase'],inplace=True)
df.sortlevel(inplace=True)

Code to compile
df.ix[('somePath','somePhrase')]

Code to compile
In [1]: arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'])
   ...:    .....: ,
   ...:    .....:           np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])
   ...:    .....:           ]

In [2]: df = DataFrame(randn(8, 4), index=arrays)

In [3]: df
Out[3]:
                0         1         2         3
bar one  1.654436  0.184326 -2.337694  0.625120
    two  0.308995  1.219156 -0.906315  1.555925
baz one -0.180826 -1.951569  1.617950 -1.401658
    two  0.399151 -1.305852  1.530370 -0.132802
foo one  1.097562  0.097126  0.387418  0.106769
    two  0.465681  0.270120 -0.387639 -0.142705
qux one -0.656487 -0.154881  0.495044 -1.380583
    two  0.274045 -0.070566  1.274355  1.172247

In [4]: df.index.lexsort_depth
Out[4]: 2

In [5]: df.ix[('foo','one')]
Out[5]:
0    1.097562
1    0.097126
2    0.387418
3    0.106769
Name: (foo, one), dtype: float64

In [6]: df.ix['foo']
Out[6]:
            0         1         2         3
one  1.097562  0.097126  0.387418  0.106769
two  0.465681  0.270120 -0.387639 -0.142705

In [7]: df.ix[['foo']]
Out[7]:
                0         1         2         3
foo one  1.097562  0.097126  0.387418  0.106769
    two  0.465681  0.270120 -0.387639 -0.142705

In [8]: df.sortlevel(level=1)
Out[8]:
                0         1         2         3
bar one  1.654436  0.184326 -2.337694  0.625120
baz one -0.180826 -1.951569  1.617950 -1.401658
foo one  1.097562  0.097126  0.387418  0.106769
qux one -0.656487 -0.154881  0.495044 -1.380583
bar two  0.308995  1.219156 -0.906315  1.555925
baz two  0.399151 -1.305852  1.530370 -0.132802
foo two  0.465681  0.270120 -0.387639 -0.142705
qux two  0.274045 -0.070566  1.274355  1.172247

In [10]: df.sortlevel(level=1).index.lexsort_depth
Out[10]: 0

Checking the answer Id = 19982756 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
19991445
Code to compile
>>> import pandas as pd
>>> import statsmodels.formula.api as sm
>>> df = pd.DataFrame({"A": [10,20,30,40,50], "B": [20, 30, 10, 40, 50], "C": [32, 234, 23, 23, 42523]})
>>> result = sm.ols(formula="A ~ B + C", data=df).fit()
>>> print result.params
Intercept    14.952480
B             0.401182
C             0.000352
dtype: float64
>>> print result.summary()
                            OLS Regression Results
==============================================================================
Dep. Variable:                      A   R-squared:                       0.579
Model:                            OLS   Adj. R-squared:                  0.158
Method:                 Least Squares   F-statistic:                     1.375
Date:                Thu, 14 Nov 2013   Prob (F-statistic):              0.421
Time:                        20:04:30   Log-Likelihood:                -18.178
No. Observations:                   5   AIC:                             42.36
Df Residuals:                       2   BIC:                             41.19
Df Model:                           2
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept     14.9525     17.764      0.842      0.489       -61.481    91.386
B              0.4012      0.650      0.617      0.600        -2.394     3.197
C              0.0004      0.001      0.650      0.583        -0.002     0.003
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.061
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.498
Skew:                          -0.123   Prob(JB):                        0.780
Kurtosis:                       1.474   Cond. No.                     5.21e+04
==============================================================================

Warnings:
[1] The condition number is large, 5.21e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Checking the answer Id = 19991632 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> from pandas.stats.api import ols
>>> df = pd.DataFrame({"A": [10,20,30,40,50], "B": [20, 30, 10, 40, 50], "C": [32, 234, 23, 23, 42523]})
>>> res = ols(y=df['A'], x=df[['B','C']])
>>> res
-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <B> + <C> + <intercept>

Number of Observations:         5
Number of Degrees of Freedom:   3

R-squared:         0.5789
Adj R-squared:     0.1577

Rmse:             14.5108

F-stat (2, 2):     1.3746, p-value:     0.4211

Degrees of Freedom: model 2, resid 2

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
             B     0.4012     0.6497       0.62     0.5999    -0.8723     1.6746
             C     0.0004     0.0005       0.65     0.5826    -0.0007     0.0014
     intercept    14.9525    17.7643       0.84     0.4886   -19.8655    49.7705
---------------------------------End of Summary---------------------------------

Checking the answer Id = 19996208 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> data = np.asarray(df)

Code to compile
>>> from sklearn.linear_model import LinearRegression
>>> lr = LinearRegression()
>>> X, y = data[:, 1:], data[:, 0]
>>> lr.fit(X, y)
LinearRegression(copy_X=True, fit_intercept=True, normalize=False)
>>> lr.coef_
array([  4.01182386e-01,   3.51587361e-04])
>>> lr.intercept_
14.952479503953672

Checking the answer Id = 20019449 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
from sklearn import linear_model

reg = linear_model.LinearRegression()
reg.fit(df[['B', 'C']], df['A'])

>>> reg.coef_
array([  4.01182386e-01,   3.51587361e-04])

Checking the answer Id = 41517319 | Errors = ['invalid syntax (<unknown>, line 6)']
----------------------------------------
----------------------------------------
20003290
Code to compile
df_data['vals'] = df_data['vals'].map(lambda x: '%2.1f' % x)

df_data.to_csv(outfile, index=False, header=False, float_format='%11.6f')

Checking the answer Id = 20006954 | Errors = ["name 'df_data' is not defined"]
----------------------------------------
----------------------------------------
20012507
Checking the answer Id = 20012628 | Errors = []
Code to compile
In [11]: Point = namedtuple('Point', ['x', 'y'])

In [12]: points = [Point(1, 2), Point(3, 4)]

In [13]: pd.DataFrame(points, columns=Point._fields)
Out[13]:
   x  y
0  1  2
1  3  4

Checking the answer Id = 20015080 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20024584
Code to compile
>>> df
  col1 col2
0    A  foo
1    B  bar
2    C  foo
3    A  bar
4    A  foo
5    B  bar
>>> df.T.to_dict().values()
[{'col2': 'foo', 'col1': 'A'}, {'col2': 'bar', 'col1': 'B'}, {'col2': 'foo', 'col1': 'C'}, {'col2': 'bar', 'col1': 'A'}, {'col2': 'foo', 'col1': 'A'}, {'col2': 'bar', 'col1': 'B'}]

Code to compile
>>> df = pandas.DataFrame({'col1': ['A', 'B', 'C', 'A', 'A', 'B'], 'col2': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar']})
>>> df
  col1 col2
0    A  foo
1    B  bar
2    C  foo
3    A  bar
4    A  foo
5    B  bar
>>> df.to_dict('records')
[{'col2': 'foo', 'col1': 'A'}, {'col2': 'bar', 'col1': 'B'}, {'col2': 'foo', 'col1': 'C'}, {'col2': 'bar', 'col1': 'A'}, {'col2': 'foo', 'col1': 'A'}, {'col2': 'bar', 'col1': 'B'}]

Checking the answer Id = 20024879 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 20032254 | Errors = []
----------------------------------------
----------------------------------------
20025325
Code to compile
df = pd.DataFrame({'d': [1, 2, 3]}, index=['FOO', 'BAR', 'BAZ'])
df
        d
FOO     1
BAR     2
BAZ     3

df.index = df.index.map(str.lower)
df
        d
foo     1
bar     2
baz     3

Code to compile
pd.Series(df.index.map(str.lower))

Code to compile
df.index.str.lower()

Checking the answer Id = 30590280 | Errors = ['unexpected indent (<unknown>, line 3)', "name 'pd' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
20025882
Code to compile
df['col'] = 'str' + df['col'].astype(str)

Code to compile
>>> df = pd.DataFrame({'col':['a',0]})
>>> df
  col
0   a
1   0
>>> df['col'] = 'str' + df['col'].astype(str)
>>> df
    col
0  stra
1  str0

Checking the answer Id = 20027386 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20033111
Code to compile
>>> frame['HighScore'] = frame[['test1','test2','test3']].apply(max, axis=1)
>>> frame
    name  test1  test2  test3  HighScore
0   bill     85     35     51        85
1    joe     75     45     61        75
2  steve     85     83     45        85

Checking the answer Id = 20033218 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> frame['HighScore'] = frame[['test1','test2','test3']].max(axis=1)
>>> frame
    name  test1  test2  test3  HighScore
0   bill     85     35     51         85
1    joe     75     45     61         75
2  steve     85     83     45         85

Checking the answer Id = 20033232 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20035518
Code to compile
In [1]: from IPython.display import HTML

In [2]: df = pd.DataFrame(list(range(5)), columns=['a'])

In [3]: df['a'] = df['a'].apply(lambda x: '<a href="http://example.com/{0}">link</a>'.format(x))

In [4]: HTML(df.to_html(escape=False))

Checking the answer Id = 20043785 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20037430
Code to compile
In [11]: '[%s]' % ','.join(test.splitlines())
Out[11]: '[{"a":1,"b":2},{"a":3,"b":4}]'

Code to compile
In [21]: %timeit pd.read_json('[%s]' % ','.join(test.splitlines()))
1000 loops, best of 3: 977 µs per loop

In [22]: %timeit l=[ json.loads(l) for l in test.splitlines()]; df = pd.DataFrame(l)
1000 loops, best of 3: 282 µs per loop

In [23]: test_100 = '\n'.join([test] * 100)

In [24]: %timeit pd.read_json('[%s]' % ','.join(test_100.splitlines()))
1000 loops, best of 3: 1.25 ms per loop

In [25]: %timeit l = [json.loads(l) for l in test_100.splitlines()]; df = pd.DataFrame(l)
1000 loops, best of 3: 1.25 ms per loop

In [26]: test_1000 = '\n'.join([test] * 1000)

In [27]: %timeit l = [json.loads(l) for l in test_1000.splitlines()]; df = pd.DataFrame(l)
100 loops, best of 3: 9.78 ms per loop

In [28]: %timeit pd.read_json('[%s]' % ','.join(test_1000.splitlines()))
100 loops, best of 3: 3.36 ms per loop

Checking the answer Id = 20038973 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
with open('test.json') as f:
    data = pd.DataFrame(json.loads(line) for line in f)

Checking the answer Id = 22135309 | Errors = ["[Errno 2] No such file or directory: 'test.json'"]
Code to compile
pd.read_json(jsonfile, lines=True)

Checking the answer Id = 39563662 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
20055257
Code to compile
import pandas
import pyodbc

sql = 'select * from table'
cnn = pyodbc.connect(...)

data = pandas.read_sql(sql, cnn)

Code to compile
import pandas
from pandas.io.sql import read_frame
import pyodbc

sql = 'select * from table'
cnn = pyodbc.connect(...)

data = read_frame(sql, cnn)

Checking the answer Id = 20059818 | Errors = ["No module named 'pyodbc'", "cannot import name 'read_frame'"]
----------------------------------------
----------------------------------------
20067636
Code to compile
>>> df.groupby('id').first()
     value
id
1    first
2    first
3    first
4   second
5    first
6    first
7   fourth

Code to compile
>>> df.groupby('id').first().reset_index()
   id   value
0   1   first
1   2   first
2   3   first
3   4  second
4   5   first
5   6   first
6   7  fourth

Code to compile
>>> df.groupby('id').head(2).reset_index(drop=True)
    id   value
0    1   first
1    1  second
2    2   first
3    2  second
4    3   first
5    3   third
6    4  second
7    4   fifth
8    5   first
9    6   first
10   6  second
11   7  fourth
12   7   fifth

Checking the answer Id = 20067665 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.groupby('id').nth(1)

Checking the answer Id = 36073837 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20069009
Code to compile
>>> df.groupby('id').head(2)
       id  value
id
1  0   1      1
   1   1      2
2  3   2      1
   4   2      2
3  7   3      1
4  8   4      1

Code to compile
>>> df.groupby('id').head(2).reset_index(drop=True)
    id  value
0   1      1
1   1      2
2   2      1
3   2      2
4   3      1
5   4      1

Checking the answer Id = 20069379 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [23]: df.groupby('id')['value'].nlargest(2)
Out[23]:
id
1   2    3
    1    2
2   6    4
    5    3
3   7    1
4   8    1
dtype: int64

Checking the answer Id = 32397818 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20076195
Checking the answer Id = 20076611 | Errors = []

----------------------------------------
----------------------------------------
20083098
Code to compile
def f(df):
    store = pd.HDFStore('test.h5','w')
    store['df'] = df
    store.close()

Code to compile
def f2(df):
    store = pd.HDFStore('test.h5','w')
    store.append('df',df,index=False)
    store.close()

Code to compile
def f3(df):
    store = pd.HDFStore('test.h5','w')
    store.append('df',df)
    store.close()

Code to compile
In [25]: df = concat([DataFrame(np.random.randn(10000000,10)),DataFrame(np.random.randint(0,10,size=50000000).reshape(10000000,5))],axis=1)

In [26]: df
Out[26]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000000 entries, 0 to 9999999
Columns: 15 entries, 0 to 4
dtypes: float64(10), int64(5)


v0.12.0

In [27]: %timeit f(df)
1 loops, best of 3: 14.7 s per loop

In [28]: %timeit f2(df)
1 loops, best of 3: 32 s per loop

In [29]: %timeit f3(df)
1 loops, best of 3: 40.1 s per loop

master/v0.13.0

In [5]: %timeit f(df)
1 loops, best of 3: 12.9 s per loop

In [6]: %timeit f2(df)
1 loops, best of 3: 17.5 s per loop

In [7]: %timeit f3(df)
1 loops, best of 3: 24.3 s per loop

Code to compile
In [4]: df = pd.read_hdf('test.h5','df')

In [5]: df
Out[5]:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 28880943 entries, 0 to 28880942
Columns: 14 entries, node_id to kernel_type
dtypes: float64(4), int64(10)

Code to compile
In [6]: %timeit df.to_hdf('test.hdf','df',mode='w')
1 loops, best of 3: 36.2 s per loop

Code to compile
In [7]: %timeit df.to_hdf('test.hdf','df',mode='w',format='table',index=False)
1 loops, best of 3: 45 s per loop

In [8]: %timeit df.to_hdf('test.hdf','df',mode='w',format='table',index=False,chunksize=2000000)
1 loops, best of 3: 44.5 s per loop

Code to compile
In [9]: %timeit df.to_hdf('test.hdf','df',mode='w',format='table',chunksize=2000000)
1 loops, best of 3: 1min 36s per loop

Code to compile
In [10]: %timeit df.to_hdf('test.hdf','df',mode='w',format='table',chunksize=2000000,complib='blosc')
1 loops, best of 3: 46.5 s per loop

In [11]: %timeit pd.read_hdf('test.hdf','df')
1 loops, best of 3: 10.8 s per loop

Code to compile
In [13]: !ls -ltr test.h*
-rw-r--r-- 1 jreback users 3471518282 Nov 20 18:20 test.h5
-rw-rw-r-- 1 jreback users  649327780 Nov 20 21:17 test.hdf

Checking the answer Id = 20084843 | Errors = ['Sucess', 'Sucess', 'Sucess', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20084382
Code to compile
In [1]: df = DataFrame(np.random.randint(0,10,size=100).reshape(10,10))

In [2]: df
Out[2]:
   0  1  2  3  4  5  6  7  8  9
0  2  2  3  2  6  1  9  9  3  3
1  1  2  5  8  5  2  5  0  6  3
2  0  7  0  7  5  5  9  1  0  3
3  5  3  2  3  7  6  8  3  8  4
4  8  0  2  2  3  9  7  1  2  7
5  3  2  8  5  6  4  3  7  0  8
6  4  2  6  5  3  3  4  5  3  2
7  7  6  0  6  6  7  1  7  5  1
8  7  4  3  1  0  6  9  7  7  3
9  5  3  4  5  2  0  8  6  4  7

In [13]: Series(df.values.ravel()).unique()
Out[13]: array([9, 1, 4, 6, 0, 7, 5, 8, 3, 2])

Code to compile
In [14]: df = DataFrame(np.random.randint(0,10,size=10000).reshape(100,100))

In [15]: %timeit Series(df.values.ravel()).unique()
10000 loops, best of 3: 137 ?s per loop

In [16]: %timeit np.unique(df.values.ravel())
1000 loops, best of 3: 270 ?s per loop

Checking the answer Id = 20084895 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20095673
Code to compile
In [44]: df.gdp = df.gdp.shift(-1)

In [45]: df
Out[45]:
   y  gdp  cap
0  1    3    5
1  2    7    9
2  8    4    2
3  3    7    7
4  6  NaN    7

In [46]: df[:-1]
Out[46]:
   y  gdp  cap
0  1    3    5
1  2    7    9
2  8    4    2
3  3    7    7

Checking the answer Id = 20096827 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20095983
Code to compile
parse_dates : boolean, list of ints or names, list of lists, or dict
keep_date_col : boolean, default False
date_parser : function

Code to compile
true_values : list    Values to consider as True
false_values : list Values to consider as False

Checking the answer Id = 20096494 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20107570
Checking the answer Id = 20107825 | Errors = []
Code to compile
 df.to_csv(filename ,  index = False)

Code to compile
df.read_csv(filename ,  index = False)

Checking the answer Id = 36572039 | Errors = ['unexpected indent (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
20109391
Code to compile
In [1]: df = pd.DataFrame([[1, 2], [1, 3], [4, 6]], columns=['A', 'B'])

Code to compile
In [2]: df
Out[2]:
   A  B
0  1  2
1  1  3
2  4  6

Code to compile
In [3]: iwantthis
Out[3]:
   A  B
0  1  5
1  4  6

Code to compile
In [4]: df.groupby('A').sum()
Out[4]:
   B
A
1  5
4  6

Code to compile
df['date'] = pd.to_datetime(df['date']) # this column ought to be date..

Code to compile
In [11]: df
Out[11]:
     C
A B
1 2  3
  2  6

Code to compile
In [12]: df = pd.DataFrame([[1, 2, 3], [1, 2, 6]], columns=['A', 'B', 'C']).set_index(['A', 'B'])

In [13]: df
Out[13]:
     C
A B
1 2  3
  2  6

Code to compile
   B
A
1  1
5  0

Code to compile
df = pd.read_csv('my_secret_file.csv')  # ideally with lots of parsing options

Checking the answer Id = 20159305 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', "name 'pd' is not defined"]
Code to compile
import numpy as np
import pandas as pd

np.random.seed(123)

Code to compile
df = pd.DataFrame({

    # some ways to create random data
    'a':np.random.randn(6),
    'b':np.random.choice( [5,7,np.nan], 6),
    'c':np.random.choice( ['panda','python','shark'], 6),

    # some ways to create systematic groups for indexing or groupby
    # this is similar to r's expand.grid(), see note 2 below
    'd':np.repeat( range(3), 2 ),
    'e':np.tile(   range(2), 3 ),

    # a date range and set of random dates
    'f':pd.date_range('1/1/2011', periods=6, freq='D'),
    'g':np.random.choice( pd.date_range('1/1/2011', periods=365,
                          freq='D'), 6, replace=False)
    })

Code to compile
          a   b       c  d  e          f          g
0 -1.085631 NaN   panda  0  0 2011-01-01 2011-08-12
1  0.997345   7   shark  0  1 2011-01-02 2011-11-10
2  0.282978   5   panda  1  0 2011-01-03 2011-10-30
3 -1.506295   7  python  1  1 2011-01-04 2011-09-07
4 -0.578600 NaN   shark  2  0 2011-01-05 2011-02-27
5  1.651437   7  python  2  1 2011-01-06 2011-02-03

Code to compile
stocks = pd.DataFrame({
    'ticker':np.repeat( ['aapl','goog','yhoo','msft'], 25 ),
    'date':np.tile( pd.date_range('1/1/2011', periods=25, freq='D'), 4 ),
    'price':(np.random.randn(100).cumsum() + 10) })

Code to compile
>>> stocks.head(5)

        date      price ticker
0 2011-01-01   9.497412   aapl
1 2011-01-02  10.261908   aapl
2 2011-01-03   9.438538   aapl
3 2011-01-04   9.515958   aapl
4 2011-01-05   7.554070   aapl

>>> stocks.groupby('ticker').head(2)

         date      price ticker
0  2011-01-01   9.497412   aapl
1  2011-01-02  10.261908   aapl
25 2011-01-01   8.277772   goog
26 2011-01-02   7.714916   goog
50 2011-01-01   5.613023   yhoo
51 2011-01-02   6.397686   yhoo
75 2011-01-01  11.736584   msft
76 2011-01-02  11.944519   msft

Checking the answer Id = 30424537 | Errors = ['Sucess', "name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
stocks = pd.DataFrame({
    'ticker':np.repeat( ['aapl','goog','yhoo','msft'], 25 ),
    'date':np.tile( pd.date_range('1/1/2011', periods=25, freq='D'), 4 ),
    'price':(np.random.randn(100).cumsum() + 10) })

Code to compile
>>> stocks.head(5).to_dict()
{'date': {0: Timestamp('2011-01-01 00:00:00'),
  1: Timestamp('2011-01-01 00:00:00'),
  2: Timestamp('2011-01-01 00:00:00'),
  3: Timestamp('2011-01-01 00:00:00'),
  4: Timestamp('2011-01-02 00:00:00')},
 'price': {0: 10.284260107718254,
  1: 11.930300761831457,
  2: 10.93741046217319,
  3: 10.884574289565609,
  4: 11.78005850418319},
 'ticker': {0: 'aapl', 1: 'aapl', 2: 'aapl', 3: 'aapl', 4: 'aapl'}}

>>> pd.concat([stocks.head(), stocks.tail()], ignore_index=True).to_dict()
{'date': {0: Timestamp('2011-01-01 00:00:00'),
  1: Timestamp('2011-01-01 00:00:00'),
  2: Timestamp('2011-01-01 00:00:00'),
  3: Timestamp('2011-01-01 00:00:00'),
  4: Timestamp('2011-01-02 00:00:00'),
  5: Timestamp('2011-01-24 00:00:00'),
  6: Timestamp('2011-01-25 00:00:00'),
  7: Timestamp('2011-01-25 00:00:00'),
  8: Timestamp('2011-01-25 00:00:00'),
  9: Timestamp('2011-01-25 00:00:00')},
 'price': {0: 10.284260107718254,
  1: 11.930300761831457,
  2: 10.93741046217319,
  3: 10.884574289565609,
  4: 11.78005850418319,
  5: 10.017209045035006,
  6: 10.57090128181566,
  7: 11.442792747870204,
  8: 11.592953372130493,
  9: 12.864146419530938},
 'ticker': {0: 'aapl',
  1: 'aapl',
  2: 'aapl',
  3: 'aapl',
  4: 'aapl',
  5: 'msft',
  6: 'msft',
  7: 'msft',
  8: 'msft',
  9: 'msft'}}

Code to compile
stocks.info()
<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 3 columns):
date      100 non-null datetime64[ns]
price     100 non-null float64
ticker    100 non-null object
dtypes: datetime64[ns](1), float64(1), object(1)

Code to compile
# MultiIndex example.  First create a MultiIndex DataFrame.
df = stocks.set_index(['date', 'ticker'])
>>> df
    price
date       ticker
2011-01-01 aapl    10.284260
           aapl    11.930301
           aapl    10.937410
           aapl    10.884574
2011-01-02 aapl    11.780059
...

# After resetting the index and passing the DataFrame to `to_dict`, make sure to use
# `set_index` to restore the original MultiIndex.  This DataFrame can then be restored.

d = df.reset_index().to_dict()
df_new = pd.DataFrame(d).set_index(['date', 'ticker'])
>>> df_new.head()
                       price
date       ticker
2011-01-01 aapl    10.284260
           aapl    11.930301
           aapl    10.937410
           aapl    10.884574
2011-01-02 aapl    11.780059

Checking the answer Id = 32536193 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 3)']
Checking the answer Id = 38466059 | Errors = []
----------------------------------------
----------------------------------------
20110170
Code to compile
df.reset_index(inplace=True)

Checking the answer Id = 25733562 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20119414
Code to compile
>>> df1 = pd.pivot_table(df, values=['D'], rows=['B'], aggfunc=np.sum)
>>> df2 = pd.pivot_table(df, values=['E'], rows=['B'], aggfunc=np.mean)
>>> pd.concat((df1, df2), axis=1)
          D         E
B
A  1.810847 -0.524178
B  2.762190 -0.443031
C  0.867519  0.078460

Code to compile
>>> df3 = pd.pivot_table(df, values=['D','E'], rows=['B'], aggfunc=[np.sum, np.mean])
>>> df3
        sum                mean
          D         E         D         E
B
A  1.810847 -4.193425  0.226356 -0.524178
B  2.762190 -3.544245  0.345274 -0.443031
C  0.867519  0.627677  0.108440  0.078460
>>> df3 = df3.ix[:, [('sum', 'D'), ('mean','E')]]
>>> df3.columns = ['D', 'E']
>>> df3
          D         E
B
A  1.810847 -0.524178
B  2.762190 -0.443031
C  0.867519  0.078460

Code to compile
>>> df.groupby('B').aggregate({'D':np.sum, 'E':np.mean})
          E         D
B
A -0.524178  1.810847
B -0.443031  2.762190
C  0.078460  0.867519

Checking the answer Id = 20120225 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
pd.pivot_table(df, values=['D','E'], rows=['B'], aggfunc={'D':np.sum, 'E':np.mean})

Checking the answer Id = 24542540 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
20154303
Code to compile
1,2,1
2,3,4,2,3
1,2,3,3
1,2,3,4,5,6

Code to compile
>>> pd.read_csv(r'D:/Temp/tt.csv')
Traceback (most recent call last):
...
Expected 5 fields in line 4, saw 6

Code to compile
>>> pd.read_csv(r'D:/Temp/tt.csv', names=list('abcdef'))
   a  b  c   d   e   f
0  1  2  1 NaN NaN NaN
1  2  3  4   2   3 NaN
2  1  2  3   3 NaN NaN
3  1  2  3   4   5   6

Checking the answer Id = 20154429 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20158597
Code to compile
import numpy as np
import pandas as pd
import pandas.core.algorithms as algos
from pandas import Series

Code to compile
zs = np.zeros(300)
rs = np.random.randint(1, 100, size=300)
arr=np.concatenate((zs, rs))
ser = Series(arr)

Code to compile
bins = algos.quantile(np.unique(ser), np.linspace(0, 1, 11))
result = pd.tools.tile._bins_to_cuts(ser, bins, include_lowest=True)

Code to compile
In[61]: result.value_counts()
Out[61]:
[0, 9.3]        323
(27.9, 38.2]     37
(9.3, 18.6]      37
(88.7, 99]       35
(57.8, 68.1]     32
(68.1, 78.4]     31
(78.4, 88.7]     30
(38.2, 48.5]     27
(48.5, 57.8]     26
(18.6, 27.9]     22
dtype: int64

Code to compile
mx = np.ma.masked_equal(arr, 0, copy=True)
bins = algos.quantile(arr[~mx.mask], np.linspace(0, 1, 11))
bins = np.insert(bins, 0, 0)
bins[1] = bins[1]-(bins[1]/2)
result = pd.tools.tile._bins_to_cuts(arr, bins, include_lowest=True)

Code to compile
In[133]: result.value_counts()
Out[133]:
[0, 0.5]        300
(0.5, 11]        32
(11, 18.8]       28
(18.8, 29.7]     30
(29.7, 39]       35
(39, 50]         26
(50, 59]         31
(59, 71]         31
(71, 79.2]       27
(79.2, 90.2]     30
(90.2, 99]       30
dtype: int64

Checking the answer Id = 29930255 | Errors = ['Sucess', "name 'np' is not defined", "name 'algos' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'np' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
a = pd.Series(range(100) + ([0]*20))

def jitter(a_series, noise_reduction=1000000):
    return (np.random.random(len(a_series))*a_series.std()/noise_reduction)-(a_series.std()/(2*noise_reduction))

# and now this works by adding a little noise
a_deciles = pd.qcut(a + jitter(a), 10, labels=False)

Code to compile
a_deciles = pd.qcut(a, 10, labels=False)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/pandas/tools/tile.py", line 173, in qcut
    precision=precision, include_lowest=True)
  File "/usr/local/lib/python2.7/site-packages/pandas/tools/tile.py", line 192, in _bins_to_cuts
    raise ValueError('Bin edges must be unique: %s' % repr(bins))
ValueError: Bin edges must be unique: array([  0.        ,   0.        ,   0.        ,   3.8       ,
        11.73333333,  19.66666667,  27.6       ,  35.53333333,
        43.46666667,  51.4       ,  59.33333333,  67.26666667,
        75.2       ,  83.13333333,  91.06666667,  99.        ])

Checking the answer Id = 37793940 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
20167194
Code to compile
>>> import json
>>> df = pd.DataFrame.from_dict({'A': {1: datetime.datetime.now()}})
>>> df
                           A
1 2013-11-23 21:14:34.118531

>>> records = json.loads(df.T.to_json()).values()
>>> db.myCollection.insert(records)

Code to compile
>>> df = read_mongo(db, 'myCollection')
>>> df
                     A
0  1385241274118531000
>>> df.dtypes
A    int64
dtype: object

Code to compile
>>> df['A'] = pd.to_datetime(df['A'])
>>> df
                           A
0 2013-11-23 21:14:34.118531

Checking the answer Id = 20167984 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20167930
Code to compile
>>> result.index
Int64Index([0, 1, 2], dtype=int64)

Code to compile
>>> result.index += 1
>>> result.index
Int64Index([1, 2, 3], dtype=int64)

Checking the answer Id = 20168416 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20181456
Code to compile
>>> df.groupby(["score", "type"]).sum()
                        count
score    type
9.397000 advanced  537.331573
9.397995 advanced    9.641728
9.397996 newbie      0.100000
9.399900 expert     19.6541374
>>> df.groupby(["score", "type"], as_index=False).sum()
      score      type       count
0  9.397000  advanced  537.331573
1  9.397995  advanced    9.641728
2  9.397996    newbie    0.100000
3  9.399900    expert   19.654137

Checking the answer Id = 20181686 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20199129
Code to compile
>>> df[df.groupby(level=0).transform(len)['type'] > 1]
                   type
genome_location1   MIR3
genome_location1  AluJb

Checking the answer Id = 20199798 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.groupby(level=0).filter(lambda x: len(x) > 1)['type']

Checking the answer Id = 20200594 | Errors = ["name 'df' is not defined"]
Checking the answer Id = 37654890 | Errors = []
----------------------------------------
----------------------------------------
20206615
Code to compile
x.merge(x.merge(y, how='left', on='state', sort=False))

Code to compile
x.reset_index().merge(y, how='left', on='state', sort=False).sort('index')

Checking the answer Id = 20206825 | Errors = ["name 'x' is not defined", "name 'x' is not defined"]
----------------------------------------
----------------------------------------
20219254
Code to compile
import pandas
from openpyxl import load_workbook

book = load_workbook('Masterfile.xlsx')
writer = pandas.ExcelWriter('Masterfile.xlsx', engine='openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

data_filtered.to_excel(writer, "Main", cols=['Diff1', 'Diff2'])

writer.save()

Checking the answer Id = 20221655 | Errors = ["No module named 'openpyxl'"]
Code to compile
writer = pd.ExcelWriter(excel_file, engine='openpyxl')

Code to compile
AttributeError: 'Workbook' object has no attribute 'add_worksheet'

Checking the answer Id = 31061820 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20225110
Code to compile
>>> df = pd.concat([df1, df2])
>>> df = df.reset_index(drop=True)

Code to compile
>>> df_gpby = df.groupby(list(df.columns))

Code to compile
>>> idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1]

Code to compile
>>> df.reindex(idx)
         Date   Fruit   Num   Color
9  2013-11-25  Orange   8.6  Orange
8  2013-11-25   Apple  22.1     Red

Checking the answer Id = 20228113 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import sys
if sys.version_info[0] < 3:

  col1 col2
1    w    a
2    B   30
0    A  NaN
Code to compile
  col1 col2
1    w    a
2    B   30
0    A  NaN

Code to compile
import pandas as pd
import numpy as np

df = pd.DataFrame({'col1':['w', 10, 20],
                   'col2': ['a', 30, np.nan]},
                  index=[1,2,0])
print(df)
#   col1 col2
# 1    w    a
# 2   10   30
# 0   20  NaN

di = {10: "A", 20: "B"}

# The values 10 and 20 are replaced by 'A' and 'B'
df['col1'].replace(di, inplace=True)
print(df)

  col1 col2
1    w    a
2   10   30
0   20  NaN
  col1 col2
1    w    a
2    A   30
0    B  NaN
Code to compile
  col1 col2
1    w    a
2    A   30
0    B  NaN

Code to compile
df['col1'].put(di.keys(), di.values())

Code to compile
df = pd.DataFrame({'col1':['w', 10, 20],
                   'col2': ['a', 30, np.nan]},
                  index=[1,2,0])
di = {0: "A", 2: "B"}

# The values at the 0 and 2 index locations are replaced by 'A' and 'B'
df['col1'].put(di.keys(), di.values())
print(df)

Code to compile
  col1 col2
1    A    a
2   10   30
0    B  NaN

Checking the answer Id = 20250947 | Errors = ["name 'df' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)', 'Sucess', 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", "name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
>>> df = pd.DataFrame({'col2': {0: 'a', 1: 2, 2: np.nan}, 'col1': {0: 'w', 1: 1, 2: 2}})
>>> di = {1: "A", 2: "B"}
>>> df
  col1 col2
0    w    a
1    1    2
2    2  NaN
>>> df.replace({"col1": di})
  col1 col2
0    w    a
1    A    2
2    B  NaN

Checking the answer Id = 20250996 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df['col1'].map(di)

Code to compile
df['col1'].update( df['col1'].map(di) )   # note: series update is an inplace operation

Code to compile
di = {1: "A", 2: "B", 3: "C", 4: "D", 5: "E", 6: "F", 7: "G", 8: "H" }
df = pd.DataFrame({ 'col1': np.random.choice( range(1,9), 100000 ) })

%timeit df.replace({"col1": di})
10 loops, best of 3: 55.6 ms per loop

%timeit df['col1'].map(di)
100 loops, best of 3: 4.16 ms per loop

Checking the answer Id = 41678874 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 4)']
----------------------------------------
----------------------------------------
20297317
Code to compile
df.drop(df.columns[i], axis=1)

Code to compile
df = df.iloc[:, [j for j, c in enumerate(df.columns) if j != i]]

Checking the answer Id = 20301769 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
cols = [1,2,4,5,12]
df.drop(df.columns[cols],axis=1,inplace=True)

Checking the answer Id = 32909107 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20297332
Code to compile
import pandas as pd
df = pd.DataFrame({"pear": [1,2,3], "apple": [2,3,4], "orange": [3,4,5]})

len(df.columns)
3

Checking the answer Id = 20297639 | Errors = ['Sucess']
Code to compile
df.shape[1]

Checking the answer Id = 20304311 | Errors = ["name 'df' is not defined"]
Code to compile
len(df.columns)

Code to compile
len(df.index)

Code to compile
df.shape

Checking the answer Id = 28150450 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
20333435
Code to compile
my_df.ix[(my_df.CHUNK_NAME==chunks[0])&(my_df.LAMBDA==lam_beta[0][0])]
         ^                           ^ ^                            ^

Checking the answer Id = 20333894 | Errors = ['unexpected indent (<unknown>, line 2)']
----------------------------------------
----------------------------------------
20340844
Code to compile
In [11]: pd.DataFrame(list(my_dict.iteritems()),
                      columns=['business_id','business_code'])
Out[11]:
  business_id business_code
0         id2          val2
1         id3          val3
2         id1          val1

Checking the answer Id = 20341058 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20375561
Code to compile
pd.merge(frame_1, frame_2, left_on = 'county_ID', right_on = 'countyid')

Code to compile
pd.merge(frame_1, frame_2, how = 'left', left_on = 'county_ID', right_on = 'countyid')

Checking the answer Id = 20375692 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
20383647
Code to compile
In [2]: type(df.loc[[3]])
Out[2]: pandas.core.frame.DataFrame

In [3]: type(df.loc[[1]])
Out[3]: pandas.core.frame.DataFrame

Checking the answer Id = 20384317 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20410312
Code to compile
In [11]: pd.concat([s, s.shift(), s.shift(2)], axis=1)
Out[11]:
   0   1   2
1  5 NaN NaN
2  4   5 NaN
3  3   4   5
4  2   3   4
5  1   2   3

In [12]: pd.concat([s, s.shift(), s.shift(2)], axis=1).dropna()
Out[12]:
   0  1  2
3  3  4  5
4  2  3  4
5  1  2  3

Checking the answer Id = 20410720 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20444087
Code to compile
data.reindex(index=data.index[::-1])

Code to compile
data.iloc[::-1]

Code to compile
for idx in reversed(data.index):
    print(idx, data.loc[idx, 'Even'], data.loc[idx, 'Odd'])

Code to compile
for idx in reversed(data.index):
    print(idx, data.Even[idx], data.Odd[idx])

Checking the answer Id = 20444256 | Errors = ["name 'data' is not defined", "name 'data' is not defined", "name 'data' is not defined", "name 'data' is not defined"]
----------------------------------------
----------------------------------------
20444593
Code to compile
 result = pd.read_pickle('pickle_L1cor_s1.pic')

Checking the answer Id = 20455090 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20459536
Code to compile
scipy.sparse.csr_matrix(df.values)

Checking the answer Id = 20459839 | Errors = ["name 'scipy' is not defined"]
----------------------------------------
----------------------------------------
20461165
Code to compile
df['index1'] = df.index

Code to compile
df.reset_index(level=0, inplace=True)

Code to compile
>>> df
                       val
tick       tag obs
2016-02-26 C   2    0.0139
2016-02-27 A   2    0.5577
2016-02-28 C   6    0.0303

Code to compile
>>> df.reset_index(level=['tick', 'obs'])
          tick  obs     val
tag
C   2016-02-26    2  0.0139
A   2016-02-27    2  0.5577
C   2016-02-28    6  0.0303

Checking the answer Id = 20461206 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df['si_name'] = R.index.get_level_values('si_name')

Checking the answer Id = 31075478 | Errors = ["name 'R' is not defined"]
----------------------------------------
----------------------------------------
20480897
Code to compile
pd.DatetimeIndex(montdist['date']) + pd.DateOffset(1)

Code to compile
In [11]: df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])

In [12]: df['date'] = pd.to_datetime(['21-11-2013', '22-11-2013'])

In [13]: pd.DatetimeIndex(df.date) + pd.DateOffset(1)
Out[13]:
<class 'pandas.tseries.index.DatetimeIndex'>
[2013-11-22 00:00:00, 2013-11-23 00:00:00]
Length: 2, Freq: None, Timezone: None

In [14]: pd.DatetimeIndex(df.date) + pd.offsets.Hour(1)
Out[14]:
<class 'pandas.tseries.index.DatetimeIndex'>
[2013-11-21 01:00:00, 2013-11-22 01:00:00]
Length: 2, Freq: None, Timezone: Non

Checking the answer Id = 20481080 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
mondist['shifted_date']=mondist.date + datetime.timedelta(days=1)

Checking the answer Id = 20496583 | Errors = ["name 'mondist' is not defined"]
----------------------------------------
----------------------------------------
20490274
Code to compile
df = df.reset_index(drop=True)

Checking the answer Id = 20491748 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20520246
Code to compile
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from itertools import product
from string import ascii_uppercase
from matplotlib import patheffects

m, n = 4, 7 # 4 rows, 7 columns
df = pd.DataFrame(np.random.randn(m, n),
                  columns=list(ascii_uppercase[:n]),
                  index=list(ascii_uppercase[-m:]))


ax = plt.imshow(df, interpolation='nearest', cmap='Oranges').axes

_ = ax.set_xticks(np.linspace(0, n-1, n))
_ = ax.set_xticklabels(df.columns)
_ = ax.set_yticks(np.linspace(0, m-1, m))
_ = ax.set_yticklabels(df.index)

ax.grid('off')
ax.xaxis.tick_top()

Code to compile
path_effects = [patheffects.withSimplePatchShadow(shadow_rgbFace=(1,1,1))]

for i, j in product(range(m), range(n)):
    _ = ax.text(j, i, '{0:.2f}'.format(df.iloc[i, j]),
                size='medium', ha='center', va='center',
                path_effects=path_effects)

Checking the answer Id = 20523271 | Errors = ["No module named 'matplotlib'", "name 'patheffects' is not defined"]
----------------------------------------
----------------------------------------
20555761
Code to compile
>>> '\n'.join(['bytestring with non-ascii character ?', u'unicode'])
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 36: \
   ordinal not in range(128)

Checking the answer Id = 20557179 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20574257
Code to compile
>>> df_asint = df.astype(int)
>>> coocc = df_asint.T.dot(df_asint)
>>> coocc
       Dop  Snack  Trans
Dop      4      2      3
Snack    2      3      2
Trans    3      2      4

Code to compile
>>> import numpy as np
>>> np.fill_diagonal(coocc.values, 0)
>>> coocc
       Dop  Snack  Trans
Dop      0      2      3
Snack    2      0      2
Trans    3      2      0

Checking the answer Id = 20574460 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20602947
Code to compile
> dat1 = pd.DataFrame({'dat1': [9,5]})
> dat2 = pd.DataFrame({'dat2': [7,6]})
> dat1.join(dat2)
   dat1  dat2
0     9     7
1     5     6

Checking the answer Id = 20603020 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
dat1 = pd.concat([dat1, dat2], axis=1)

Checking the answer Id = 39366792 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
20612645
Code to compile
In [76]: import pandas as pd

In [77]: pd.__version__
Out[77]: '0.12.0-933-g281dc4e'

Code to compile
In [53]: pd.show_versions(as_json=False)

INSTALLED VERSIONS
------------------
commit: None
python: 2.7.6.final.0
python-bits: 64
OS: Linux
OS-release: 3.13.0-45-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8

pandas: 0.15.2-113-g5531341
nose: 1.3.1
Cython: 0.21.1
numpy: 1.8.2
scipy: 0.14.0.dev-371b4ff
statsmodels: 0.6.0.dev-a738b4f
IPython: 2.0.0-dev
sphinx: 1.2.2
patsy: 0.3.0
dateutil: 1.5
pytz: 2012c
bottleneck: None
tables: 3.1.1
numexpr: 2.2.2
matplotlib: 1.4.2
openpyxl: None
xlrd: 0.9.3
xlwt: 0.7.5
xlsxwriter: None
lxml: 3.3.3
bs4: 4.3.2
html5lib: 0.999
httplib2: 0.8
apiclient: None
rpy2: 2.5.5
sqlalchemy: 0.9.8
pymysql: None
psycopg2: 2.4.5 (dt dec mx pq3 ext)

Checking the answer Id = 20612691 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
pd.__version__

Code to compile
'0.14.1'

Checking the answer Id = 36012306 | Errors = ['Sucess', 'Sucess']
----------------------------------------
----------------------------------------
20618523
----------------------------------------
----------------------------------------
20619851
Code to compile
import pandas as pd

x = pd.DataFrame({'cat':('A','A','B'), 'val':(10,20,30)})
labels, levels = pd.factorize(x['cat'])
x['cat'] = labels
x = x.set_index('cat')
print(x)

     val
cat
0     10
0     20
1     30
Code to compile
     val
cat
0     10
0     20
1     30

Code to compile
x['cat'] = labels+1

Checking the answer Id = 20619971 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)', "name 'labels' is not defined"]
Code to compile
encode cat, generate(cat2)

Code to compile
x['cat2'] = x['cat'].astype('category')

  cat  val cat2
0   A   10    A
1   A   20    A
2   B   30    B

Code to compile
x['cat2'].cat.codes

0    0
1    0
2    1

Checking the answer Id = 32750237 | Errors = ['invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
20625582
Code to compile
df[df['A'] > 2]['B'] = new_val  # new_val not set in df

Code to compile
df.loc[df['A'] > 2, 'B'] = new_val

Code to compile
df = df[df['A'] > 2]
df['B'] = new_val

Code to compile
pd.options.mode.chained_assignment = None  # default='warn'

Checking the answer Id = 20627316 | Errors = ["name 'new_val' is not defined", "name 'new_val' is not defined", "name 'df' is not defined", "name 'pd' is not defined"]
Code to compile
In [1]: df = DataFrame(np.random.randn(5,2),columns=list('AB'))

In [2]: dfa = df.ix[:,[1,0]]

In [3]: dfa.is_copy
Out[3]: True

In [4]: dfa['A'] /= 2
/usr/local/bin/ipython:1: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_index,col_indexer] = value instead
  #!/usr/local/bin/python

Code to compile
In [5]: dfa.is_copy = False

In [6]: dfa['A'] /= 2

Code to compile
In [7]: dfa = df.ix[:,[1,0]].copy()

In [8]: dfa['A'] /= 2

Code to compile
quote_df = quote_df(columns=['STK',.......])

Checking the answer Id = 20644369 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
quote_df = quote_df.ix[:,[0,3,2,1,4,5,8,9,30,31]]

Code to compile
df = pd.DataFrame({"a": [1,2,3,4], "b": [1,1,2,2]})

Code to compile
dfcopy = df.ix[:,["a"]]
dfcopy.a.ix[0] = 2

Code to compile
df.ix[0, "a"] = 3

Code to compile
quote_df = pd.read_csv(StringIO(str_of_all), sep=',', names=list('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefg')) #dtype={'A': object, 'B': object, 'C': np.float64}
quote_df.rename(columns={'A':'STK', 'B':'TOpen', 'C':'TPCLOSE', 'D':'TPrice', 'E':'THigh', 'F':'TLow', 'I':'TVol', 'J':'TAmt', 'e':'TDate', 'f':'TTime'}, inplace=True)
quote_df = quote_df.ix[:,[0,3,2,1,4,5,8,9,30,31]]

Code to compile
columns = ['STK', 'TPrice', 'TPCLOSE', 'TOpen', 'THigh', 'TLow', 'TVol', 'TAmt', 'TDate', 'TTime']
df = pd.read_csv(StringIO(str_of_all), sep=',', usecols=[0,3,2,1,4,5,8,9,30,31])
df.columns = columns

Checking the answer Id = 40214434 | Errors = ["name 'quote_df' is not defined", "name 'pd' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
20625982
----------------------------------------
----------------------------------------
20630121
Code to compile
com.convert_robj(rdf)

Code to compile
In [480]: dfrm
Out[480]:
           A          B  C
0   0.454459  49.916767  1
1   0.943284  50.878174  1
2   0.974856  50.335679  2
3   0.776600  50.782104  1
4   0.553895  50.084505  1
5   0.514018  50.719019  2
6   0.915413  50.513962  0
7   0.771571  49.859855  2
8   0.068619  49.409657  0
9   0.728141  50.945174  2
10  0.388115  47.879653  1
11  0.960172  49.680258  0
12  0.015216  50.067968  0
13  0.495024  50.286287  1
14  0.565954  49.909771  1
15  0.992279  49.009696  1
16  0.179934  49.554256  0
17  0.521243  47.854791  0
18  0.551241  51.076262  1
19  0.713271  49.418503  0
20  0.801716  50.660304  1

In [481]: rdfrm = com.convert_to_r_dataframe(dfrm)

In [482]: rdfrm
Out[482]:
<DataFrame - Python:0x14905cf8 / R:0x1600ee98>
[FloatVector, FloatVector, IntVector]
  A: <class 'rpy2.robjects.vectors.FloatVector'>
  <FloatVector - Python:0xf9d0b00 / R:0x140e2620>
[0.454459, 0.943284, 0.974856, ..., 0.551241, 0.713271, 0.801716]
  B: <class 'rpy2.robjects.vectors.FloatVector'>
  <FloatVector - Python:0xf9d0878 / R:0x125aa240>
[49.916767, 50.878174, 50.335679, ..., 51.076262, 49.418503, 50.660304]
  C: <class 'rpy2.robjects.vectors.IntVector'>
  <IntVector - Python:0x11fceef0 / R:0x13f0d918>
[       1,        1,        2, ...,        1,        0,        1]

In [483]: com.convert_robj(rdfrm)
Out[483]:
           A          B  C
0   0.454459  49.916767  1
1   0.943284  50.878174  1
2   0.974856  50.335679  2
3   0.776600  50.782104  1
4   0.553895  50.084505  1
5   0.514018  50.719019  2
6   0.915413  50.513962  0
7   0.771571  49.859855  2
8   0.068619  49.409657  0
9   0.728141  50.945174  2
10  0.388115  47.879653  1
11  0.960172  49.680258  0
12  0.015216  50.067968  0
13  0.495024  50.286287  1
14  0.565954  49.909771  1
15  0.992279  49.009696  1
16  0.179934  49.554256  0
17  0.521243  47.854791  0
18  0.551241  51.076262  1
19  0.713271  49.418503  0
20  0.801716  50.660304  1

Code to compile
In [475]: com.convert_robj?
Type:       function
String Form:<function convert_robj at 0x13e85848>
File:       /mnt/epd/7.3-2_pandas0.12/lib/python2.7/site-packages/pandas/rpy/common.py
Definition: com.convert_robj(obj, use_pandas=True)
Docstring:
Convert rpy2 object to a pandas-friendly form

Parameters
----------
obj : rpy2 object

Returns
-------
Non-rpy data structure, mix of NumPy and pandas objects

Checking the answer Id = 20639234 | Errors = ["name 'com' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
from rpy2.robjects import pandas2ri
pandas2ri.activate()

Checking the answer Id = 20808449 | Errors = ["No module named 'rpy2'"]
Code to compile
from rpy2.robjects import pandas2ri

pd_df = pandas2ri.ri2py_dataframe(rdf)

Checking the answer Id = 28611938 | Errors = ["No module named 'rpy2'"]
----------------------------------------
----------------------------------------
20637439
Code to compile
>>> import pandas as pd
>>> from StringIO import StringIO
>>> s = """1, 2
... 3, 4
... 5, 6"""
>>> pd.read_csv(StringIO(s), skiprows=[1], header=None)
   0  1
0  1  2
1  5  6
>>> pd.read_csv(StringIO(s), skiprows=1, header=None)
   0  1
0  3  4
1  5  6

Checking the answer Id = 20637559 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 23739252 | Errors = []
----------------------------------------
----------------------------------------
20638006
Code to compile
pd.DataFrame(d)

Checking the answer Id = 20638258 | Errors = ["name 'pd' is not defined"]
Checking the answer Id = 33020669 | Errors = []
----------------------------------------
----------------------------------------
20644536
Code to compile
>>> import pandas as pd
>>> df = pd.DataFrame([[1,2],[3,4]], columns=list('ab'))
>>> df
   a  b
0  1  2
1  3  4
>>> df['c'] = df['b']**2
>>> df
   a  b   c
0  1  2   4
1  3  4  16

Checking the answer Id = 20644575 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20648346
Code to compile
df.sort(['ticker', 'date'], inplace=True)
df['diffs'] = df['value'].diff()

Code to compile
mask = df.ticker != df.ticker.shift(1)
df['diffs'][mask] = np.nan

Code to compile
df.filter(['ticker', 'date', 'value'])

Code to compile
df.set_index(['ticker','date'], inplace=True)
df.sort_index(inplace=True)
df['diffs'] = np.nan

for idx in df.index.levels[0]:
    df.diffs[idx] = df.value[idx].diff()

Code to compile
   date ticker  value
0    63      C   1.65
1    88      C  -1.93
2    22      C  -1.29
3    76      A  -0.79
4    72      B  -1.24
5    34      A  -0.23
6    92      B   2.43
7    22      A   0.55
8    32      A  -2.50
9    59      B  -1.01

Code to compile
             value  diffs
ticker date
A      22     0.55    NaN
       32    -2.50  -3.05
       34    -0.23   2.27
       76    -0.79  -0.56
B      59    -1.01    NaN
       72    -1.24  -0.23
       92     2.43   3.67
C      22    -1.29    NaN
       63     1.65   2.94
       88    -1.93  -3.58

Checking the answer Id = 20648462 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20656663
Code to compile
s = pd.Series([1,2,3,2,2,3,5,2,3,2,np.nan])
fig, ax = plt.subplots()
ax.hist(s, alpha=0.9, color='blue')

Code to compile
ax.hist(s.dropna(), alpha=0.9, color='blue')

Code to compile
dfj2_MARKET1['VSPD1_perc'].hist(ax=axes[0], alpha=0.9, color='blue')

Checking the answer Id = 20657592 | Errors = ["name 'pd' is not defined", "name 'ax' is not defined", "name 'dfj2_MARKET1' is not defined"]
----------------------------------------
----------------------------------------
20670370
Code to compile
In [33]: df = pd.read_json(s)

In [25]: df
Out[25]:
  args                date            host kwargs     operation  status   thingy      time
0   [] 2013-12-02 00:33:59  yy38.segm1.org     {}       x_gbinf    -101  a13yy38  0.000801
1   [] 2013-12-02 00:33:59  kyy1.segm1.org     {}     x_initobj       1  a19kyy1  0.003244
2   [] 2013-12-02 00:34:00  yy10.segm1.org     {}  x_gobjParams    -101  a14yy10  0.002247
3   [] 2013-12-02 00:34:00  yy24.segm1.org     {}        gtfull    -101  a14yy24  0.002787
4   [] 2013-12-02 00:34:00  yy24.segm1.org     {}       x_gbinf    -101  a14yy24  0.001067
5   [] 2013-12-02 00:34:00  yy34.segm1.org     {}       gxyzinf    -101  a12yy34  0.002652
6   [] 2013-12-02 00:34:00  yy15.segm1.org     {}     deletemfg       1  a15yy15  0.004371
7   [] 2013-12-02 00:34:00  yy15.segm1.org     {}       gxyzinf    -101  a15yy15  0.000602

[8 rows x 8 columns]

In [26]: df.dtypes
Out[26]:
args                 object
date         datetime64[ns]
host                 object
kwargs               object
operation            object
status                int64
thingy               object
time                float64
dtype: object

Code to compile
In [27]: df.apply(lambda x: pd.lib.infer_dtype(x.values))
Out[27]:
args            unicode
date         datetime64
host            unicode
kwargs          unicode
operation       unicode
status          integer
thingy          unicode
time           floating
dtype: object

Code to compile
In [28]: types = df.apply(lambda x: pd.lib.infer_dtype(x.values))

In [29]: types[types=='unicode']
Out[29]:
args         unicode
host         unicode
kwargs       unicode
operation    unicode
thingy       unicode
dtype: object

In [30]: for col in types[types=='unicode'].index:
   ....:     df[col] = df[col].astype(str)
   ....:

Code to compile
In [31]: df
Out[31]:
  args                date            host kwargs     operation  status   thingy      time
0   [] 2013-12-02 00:33:59  yy38.segm1.org     {}       x_gbinf    -101  a13yy38  0.000801
1   [] 2013-12-02 00:33:59  kyy1.segm1.org     {}     x_initobj       1  a19kyy1  0.003244
2   [] 2013-12-02 00:34:00  yy10.segm1.org     {}  x_gobjParams    -101  a14yy10  0.002247
3   [] 2013-12-02 00:34:00  yy24.segm1.org     {}        gtfull    -101  a14yy24  0.002787
4   [] 2013-12-02 00:34:00  yy24.segm1.org     {}       x_gbinf    -101  a14yy24  0.001067
5   [] 2013-12-02 00:34:00  yy34.segm1.org     {}       gxyzinf    -101  a12yy34  0.002652
6   [] 2013-12-02 00:34:00  yy15.segm1.org     {}     deletemfg       1  a15yy15  0.004371
7   [] 2013-12-02 00:34:00  yy15.segm1.org     {}       gxyzinf    -101  a15yy15  0.000602

[8 rows x 8 columns]

Code to compile
In [32]: df.apply(lambda x: pd.lib.infer_dtype(x.values))
Out[32]:
args             string
date         datetime64
host             string
kwargs           string
operation        string
status          integer
thingy           string
time           floating
dtype: object

Checking the answer Id = 20670901 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20670726
Code to compile
In [32]: data3['diffs'] = data3.groupby('ticker')['value'].transform(Series.diff)

In [34]: data3.sort_index(inplace=True)

In [25]: data3
Out[25]:
         date    ticker     value     diffs
0  2013-10-03  ticker_2  0.435995  0.015627
1  2013-10-04  ticker_2  0.025926 -0.410069
2  2013-10-02  ticker_1  0.549662       NaN
3  2013-10-01  ticker_0  0.435322       NaN
4  2013-10-02  ticker_2  0.420368  0.120713
5  2013-10-03  ticker_0  0.330335 -0.288936
6  2013-10-04  ticker_1  0.204649 -0.345014
7  2013-10-02  ticker_0  0.619271  0.183949
8  2013-10-01  ticker_2  0.299655       NaN

[9 rows x 4 columns]

Checking the answer Id = 20671047 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20701484
Code to compile
X = sm.add_constant(X)
sm.OLS(y,X)

Checking the answer Id = 20701559 | Errors = ["name 'sm' is not defined"]
----------------------------------------
----------------------------------------
20738357
Code to compile
>>> np.diff(index)/np.timedelta64(1, 's')
array([ 3.6139351 ,  3.39279693,  1.87199821])

Code to compile
>>> np.diff(index)/np.timedelta64(1, 'm')
array([ 0.06023225,  0.05654662,  0.03119997])

Checking the answer Id = 20739897 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20763012
Code to compile
>>> pd.DataFrame(data=data[1:,1:],    # values
...              index=data[1:,0],    # 1st column as index
...              columns=data[0,1:])  # 1st row as the column names

Checking the answer Id = 20763459 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas
import numpy

dtype = [('Col1','int32'), ('Col2','float32'), ('Col3','float32')]
values = numpy.zeros(20, dtype=dtype)
index = ['Row'+str(i) for i in range(1, len(values)+1)]

df = pandas.DataFrame(values, index=index)

Checking the answer Id = 35245297 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
20804673
Code to compile
df['Total'] = df.sum(axis=1)

Checking the answer Id = 29541211 | Errors = ["name 'df' is not defined"]
Code to compile
df.loc['Total']= df.sum()

Checking the answer Id = 34812293 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20829748
----------------------------------------
----------------------------------------
20838395
Code to compile
DataFrame(...).ix[row_indexer,column_indexer]
Series(...).ix[row_indexer]

Checking the answer Id = 20842283 | Errors = ["name 'DataFrame' is not defined"]
----------------------------------------
----------------------------------------
20845213
Code to compile
pd.to_csv('your.csv', index=False)

Checking the answer Id = 25230582 | Errors = ["name 'pd' is not defined"]
Checking the answer Id = 42978156 | Errors = []
----------------------------------------
----------------------------------------
20853474
Code to compile
sudo apt-get install python-pip

Code to compile
sudo pip install python-dateutil

Checking the answer Id = 22920808 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 26865524 | Errors = []
----------------------------------------
----------------------------------------
20868394
Code to compile
In [27]: df=df.rename(columns = {'two':'new_name'})

In [28]: df
Out[28]:
  one three  new_name
0    1     a         9
1    2     b         8
2    3     c         7
3    4     d         6
4    5     e         5

Code to compile

Definition: df.rename(self, index=None, columns=None, copy=True, inplace=False)
Docstring:
Alter index and / or columns using input function or
functions. Function / dict values must be unique (1-to-1). Labels not
contained in a dict / Series will be left as-is.

Parameters
----------
index : dict-like or function, optional
    Transformation to apply to index values
columns : dict-like or function, optional
    Transformation to apply to column values
copy : boolean, default True
    Also copy underlying data
inplace : boolean, default False
    Whether to return a new DataFrame. If True then value of copy is
    ignored.

See also
--------
Series.rename

Returns
-------
renamed : DataFrame (new object)

Checking the answer Id = 20868446 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 2)']
Code to compile
df.rename(columns={'two':'new_name'}, inplace=True)

Checking the answer Id = 25574089 | Errors = ["name 'df' is not defined"]
Code to compile
df.columns.values[2] = "new_name"

Checking the answer Id = 34192820 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20868664
Checking the answer Id = 20869270 | Errors = []
Checking the answer Id = 20870801 | Errors = []
----------------------------------------
----------------------------------------
20888954
----------------------------------------
----------------------------------------
20906474
Code to compile
path =r'C:\DRO\DCL_rawdata_files' # use your path
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)

Checking the answer Id = 21232849 | Errors = ["name 'glob' is not defined"]
Code to compile
path = r'C:\DRO\DCL_rawdata_files'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
# doesn't create a list, nor does it append to one

Checking the answer Id = 36416258 | Errors = ["name 'glob' is not defined"]
----------------------------------------
----------------------------------------
20937538
Code to compile
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
df = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],
                  index=['foo','bar','baz','quux'],
                  columns=['cost'])
print(df)

        cost
foo  $123.46
bar  $234.57
baz  $345.68
quux $456.79
Code to compile
        cost
foo  $123.46
bar  $234.57
baz  $345.68
quux $456.79

Code to compile
import pandas as pd
df = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],
                  index=['foo','bar','baz','quux'],
                  columns=['cost'])
df['foo'] = df['cost']
df['cost'] = df['cost'].map('${:,.2f}'.format)
print(df)

         cost     foo
foo   $123.46 $123.46
bar   $234.57 $234.57
baz   $345.68 $345.68
quux  $456.79 $456.79
Code to compile
         cost       foo
foo   $123.46  123.4567
bar   $234.57  234.5678
baz   $345.68  345.6789
quux  $456.79  456.7890

Checking the answer Id = 20937592 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)', 'Sucess', 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd
pd.options.display.float_format = '${:,.2f}'.format
df = pd.DataFrame([123.4567, 234.5678, 345.6789, 456.7890],
                  index=['foo','bar','baz','quux'],
                  columns=['cost'])


print df.to_string(formatters={'cost':'${:,.2f}'.format})

Code to compile
        cost
foo  $123.46
bar  $234.57
baz  $345.68
quux $456.79

Checking the answer Id = 23922119 | Errors = ['invalid syntax (<unknown>, line 8)', 'unexpected indent (<unknown>, line 1)']
Code to compile

Checking the answer Id = 31017785 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
20940805
----------------------------------------
----------------------------------------
20965046
Code to compile
df['cum_sum'] = df.val1.cumsum()
df['cum_perc'] = 100*df.cum_sum/df.val1.sum()

Checking the answer Id = 20965090 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
20970279
Code to compile
>>> df['StateInitial'] = df['state'].str[:2]
>>> df
   pop       state  year StateInitial
0  1.5    Auckland  2000           Au
1  1.7       Otago  2001           Ot
2  3.6  Wellington  2002           We
3  2.4     Dunedin  2001           Du
4  2.9    Hamilton  2002           Ha

Code to compile
>>> df['state'].apply(lambda x: x[len(x)/2-1:len(x)/2+1])
0    kl
1    ta
2    in
3    ne
4    il

Checking the answer Id = 20970328 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
20995196
Code to compile
>>> df = pd.DataFrame({"class":[1,1,1,2,2], "value":[1,2,3,4,5]})
>>> df[df["class"]==1].sum()
class    3
value    6
dtype: int64
>>> df[df["class"]==1].sum()["value"]
6
>>> df[df["class"]==1].count()["value"]
3

Checking the answer Id = 20995313 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>> df = pd.DataFrame({'a': [1, 2, 3]})
>> df[df.a > 1].sum()
a    5
dtype: int64

Code to compile
>> df[(df.a > 1) & (df.a < 3)].sum()
a    2
dtype: int64

Checking the answer Id = 20995428 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21018654
Checking the answer Id = 21020411 | Errors = []
----------------------------------------
----------------------------------------
21022865
Code to compile
In [161]: pd.DataFrame(df.values*df2.values, columns=df.columns, index=df.index)
Out[161]:
   col1  col2  col3
1    10   200  3000
2    10   200  3000
3    10   200  3000
4    10   200  3000
5    10   200  3000

Checking the answer Id = 21023125 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21033720
Code to compile
import numpy as np
import matplotlib.pyplot as plt
import pandas
series = pandas.Series(np.random.normal(size=2000))
fig, ax = plt.subplots()
series.hist(ax=ax, bins=100, bottom=0.1)
ax.set_yscale('log')

Checking the answer Id = 21033789 | Errors = ["No module named 'matplotlib'"]
Code to compile
import matplotlib.pyplot as plt
plt.hist(df['column_name'], log=True)

Checking the answer Id = 31297540 | Errors = ["No module named 'matplotlib'"]
Code to compile
results.val1.hist(bins = 120, log = True)

Checking the answer Id = 33782409 | Errors = ["name 'results' is not defined"]
----------------------------------------
----------------------------------------
21055068
Code to compile
df['A'].str.contains(r'^(?:(?!Hello|World).)*$')

Code to compile
>>> df = pd.DataFrame({"A": ["Hello", "this", "World", "apple"]})
>>> df['A'].str.contains(r'^(?:(?!Hello|World).)*$')
0    False
1     True
2    False
3     True
Name: A, dtype: bool
>>> df[df['A'].str.contains(r'^(?:(?!Hello|World).)*$')]
       A
1   this
3  apple

Checking the answer Id = 21055161 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
>>> df = pd.DataFrame({"A": ["Hello", "this", "World", "apple"]})
>>> df.A.str.contains("Hello|World")
0     True
1    False
2     True
3    False
Name: A, dtype: bool
>>> ~df.A.str.contains("Hello|World")
0    False
1     True
2    False
3     True
Name: A, dtype: bool
>>> df[~df.A.str.contains("Hello|World")]
       A
1   this
3  apple

[2 rows x 1 columns]

Checking the answer Id = 21055176 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21058333
Code to compile
def rolling_max_dd(x, window_size, min_periods=1):
    """Compute the rolling maximum drawdown of `x`.

    `x` must be a 1d numpy array.
    `min_periods` should satisfy `1 <= min_periods <= window_size`.

    Returns an 1d array with length `len(x) - min_periods + 1`.
    """
    if min_periods < window_size:
        pad = np.empty(window_size - min_periods)
        pad.fill(x[0])
        x = np.concatenate((pad, x))
    y = windowed_view(x, window_size)
    running_max_y = np.maximum.accumulate(y, axis=1)
    dd = y - running_max_y
    return dd.min(axis=1)

Code to compile
import numpy as np
from numpy.lib.stride_tricks import as_strided
import pandas as pd
import matplotlib.pyplot as plt


def windowed_view(x, window_size):
    """Creat a 2d windowed view of a 1d array.

    `x` must be a 1d numpy array.

    `numpy.lib.stride_tricks.as_strided` is used to create the view.
    The data is not copied.

    Example:

    >>> x = np.array([1, 2, 3, 4, 5, 6])
    >>> windowed_view(x, 3)
    array([[1, 2, 3],
           [2, 3, 4],
           [3, 4, 5],
           [4, 5, 6]])
    """
    y = as_strided(x, shape=(x.size - window_size + 1, window_size),
                   strides=(x.strides[0], x.strides[0]))
    return y


def rolling_max_dd(x, window_size, min_periods=1):
    """Compute the rolling maximum drawdown of `x`.

    `x` must be a 1d numpy array.
    `min_periods` should satisfy `1 <= min_periods <= window_size`.

    Returns an 1d array with length `len(x) - min_periods + 1`.
    """
    if min_periods < window_size:
        pad = np.empty(window_size - min_periods)
        pad.fill(x[0])
        x = np.concatenate((pad, x))
    y = windowed_view(x, window_size)
    running_max_y = np.maximum.accumulate(y, axis=1)
    dd = y - running_max_y
    return dd.min(axis=1)


def max_dd(ser):
    max2here = pd.expanding_max(ser)
    dd2here = ser - max2here
    return dd2here.min()


if __name__ == "__main__":
    np.random.seed(0)
    n = 100
    s = pd.Series(np.random.randn(n).cumsum())

    window_length = 10

    rolling_dd = pd.rolling_apply(s, window_length, max_dd, min_periods=0)
    df = pd.concat([s, rolling_dd], axis=1)
    df.columns = ['s', 'rol_dd_%d' % window_length]
    df.plot(linewidth=3, alpha=0.4)

    my_rmdd = rolling_max_dd(s.values, window_length, min_periods=1)
    plt.plot(my_rmdd, 'g.')

    plt.show()

Code to compile
In [2]: %timeit rolling_dd = pd.rolling_apply(s, window_length, max_dd, min_periods=0)
1 loops, best of 3: 247 ms per loop

In [3]: %timeit my_rmdd = rolling_max_dd(s.values, window_length, min_periods=1)
10 loops, best of 3: 38.2 ms per loop

Checking the answer Id = 21059308 | Errors = ['Sucess', "No module named 'matplotlib'", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21104592
Code to compile
from urllib2 import Request, urlopen
import json
from pandas.io.json import json_normalize

path1 = '42.974049,-81.205203|42.974298,-81.195755'
request=Request('http://maps.googleapis.com/maps/api/elevation/json?locations='+path1+'&sensor=false')
response = urlopen(request)
elevations = response.read()
data = json.loads(elevations)
json_normalize(data['results'])

Checking the answer Id = 21266043 | Errors = ["No module named 'urllib2'"]
----------------------------------------
----------------------------------------
21137150
Code to compile
In [25]: pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [28]: Series(np.random.randn(3))*1000000000
Out[28]:
0    -757322420.605
1   -1436160588.997
2   -1235116117.064
dtype: float64

Code to compile
In [6]: Series(np.random.randn(3)).apply(lambda x: '%.3f' % x)
Out[6]:
0     0.026
1    -0.482
2    -0.694
dtype: object

Checking the answer Id = 21140339 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21164910
Code to compile
df.loc[:, (df != 0).any(axis=0)]

Code to compile
In [74]: import pandas as pd

In [75]: df = pd.DataFrame([[1,0,0,0], [0,0,1,0]])

In [76]: df
Out[76]:
   0  1  2  3
0  1  0  0  0
1  0  0  1  0

[2 rows x 4 columns]

Code to compile
In [77]: df != 0
Out[77]:
       0      1      2      3
0   True  False  False  False
1  False  False   True  False

[2 rows x 4 columns]

Code to compile
In [78]: (df != 0).any(axis=0)
Out[78]:
0     True
1    False
2     True
3    False
dtype: bool

Code to compile
In [79]: df.loc[:, (df != 0).any(axis=0)]
Out[79]:
   0  2
0  1  0
1  0  1

[2 rows x 2 columns]

Code to compile
df = df.loc[:, (df != 0).any(axis=0)]

Checking the answer Id = 21165116 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
21197774
Code to compile
In [11]: df
Out[11]:
   x  y
0  a  1
1  b  2

In [12]: df.dtypes
Out[12]:
x    object
y    object
dtype: object

In [13]: df.convert_objects(convert_numeric=True)
Out[13]:
   x  y
0  a  1
1  b  2

In [14]: df.convert_objects(convert_numeric=True).dtypes
Out[14]:
x    object
y     int64
dtype: object

Checking the answer Id = 21197863 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
FutureWarning: convert_objects is deprecated.  Use the data-type specific converters
pd.to_datetime, pd.to_timedelta and pd.to_numeric.

Checking the answer Id = 36184396 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
import numpy as np

x = np.empty((10,), dtype=[('x', np.uint8), ('y', np.float64)])
df = pd.DataFrame(x)

df.dtypes ->

x      uint8
y    float64

Checking the answer Id = 38156594 | Errors = ['invalid syntax (<unknown>, line 7)']
Code to compile
import pandas as pd
wheel_number = 5
car_name = 'jeep'
minutes_spent = 4.5

# set the columns
data_columns = ['wheel_number', 'car_name', 'minutes_spent']

# create an empty dataframe
data_df = pd.DataFrame(columns = data_columns)
df_temp = pd.DataFrame([[wheel_number, car_name, minutes_spent]],columns = data_columns)
data_df = data_df.append(df_temp, ignore_index=True)

In [11]: data_df.dtypes
Out[11]:
wheel_number     float64
car_name          object
minutes_spent    float64
dtype: object

data_df = data_df.astype(dtype= {"wheel_number":"int64",
        "car_name":"object","minutes_spent":"float64"})

Code to compile
In [18]: data_df.dtypes
Out[18]:
wheel_number       int64
car_name          object
minutes_spent    float64

Checking the answer Id = 43289220 | Errors = ['invalid syntax (<unknown>, line 14)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21201618
Code to compile
import pandas as pd
import numpy as np
np.random.seed(0)

base = np.array(["2013-01-01 00:00:00"], "datetime64[ns]")

a = (np.random.rand(30)*1000000*1000).astype(np.int64)*1000000
t1 = base + a
t1.sort()

b = (np.random.rand(10)*1000000*1000).astype(np.int64)*1000000
t2 = base + b
t2.sort()

Code to compile
idx = np.searchsorted(t1, t2) - 1
mask = idx >= 0

df = pd.DataFrame({"t1":t1[idx][mask], "t2":t2[mask]})

Code to compile
                         t1                         t2
0 2013-01-02 06:49:13.287000 2013-01-03 16:29:15.612000
1 2013-01-05 16:33:07.211000 2013-01-05 21:42:30.332000
2 2013-01-07 04:47:24.561000 2013-01-07 04:53:53.948000
3 2013-01-07 14:26:03.376000 2013-01-07 17:01:35.722000
4 2013-01-07 14:26:03.376000 2013-01-07 18:22:13.996000
5 2013-01-07 14:26:03.376000 2013-01-07 18:33:55.497000
6 2013-01-08 02:24:54.113000 2013-01-08 12:23:40.299000
7 2013-01-08 21:39:49.366000 2013-01-09 14:03:53.689000
8 2013-01-11 08:06:36.638000 2013-01-11 13:09:08.078000

Code to compile
import pylab as pl
pl.figure(figsize=(18, 4))
pl.vlines(pd.Series(t1), 0, 1, colors="g", lw=1)
pl.vlines(df.t1, 0.3, 0.7, colors="r", lw=2)
pl.vlines(df.t2, 0.3, 0.7, colors="b", lw=2)
pl.margins(0.02)

Checking the answer Id = 21204417 | Errors = ['Sucess', "name 'np' is not defined", 'unexpected indent (<unknown>, line 1)', "No module named 'pylab'"]
----------------------------------------
----------------------------------------
21231478
Code to compile
df[df.apply(lambda x: min(x) == max(x), 1)]

Checking the answer Id = 21244212 | Errors = ["name 'df' is not defined"]
Code to compile
>>> df
        0       1       2
0   apple  banana  banana
1  orange  orange  orange
2  banana   apple  orange
3     NaN     NaN     NaN
4   apple   apple   apple

[5 rows x 3 columns]
>>> df[df.apply(pd.Series.nunique, axis=1) == 1]
        0       1       2
1  orange  orange  orange
4   apple   apple   apple

[2 rows x 3 columns]

Code to compile
>>> df.apply(pd.Series.nunique, axis=1)
0    2
1    1
2    3
3    0
4    1
dtype: int64

Checking the answer Id = 21244355 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21231834
Code to compile
In [11]: pd.concat([df1['c'], df2['c']], axis=1, keys=['df1', 'df2'])
Out[11]:
                 df1       df2
2014-01-01       NaN -0.978535
2014-01-02 -0.106510 -0.519239
2014-01-03 -0.846100 -0.313153
2014-01-04 -0.014253 -1.040702
2014-01-05  0.315156 -0.329967
2014-01-06 -0.510577 -0.940901
2014-01-07       NaN -0.024608
2014-01-08       NaN -1.791899

[8 rows x 2 columns]

Checking the answer Id = 21242140 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21247203
Code to compile
pd.crosstab(df.A, df.B).apply(lambda r: r/r.sum(), axis=1)

Checking the answer Id = 21247312 | Errors = ["name 'pd' is not defined"]
Code to compile
In [1]: pd.crosstab(df.A,df.B, normalize='index')
Out[1]:

B              A           B           C
A
one     0.333333    0.333333    0.333333
three   0.333333    0.333333    0.333333
two     0.333333    0.333333    0.333333

Checking the answer Id = 40593226 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21247992
Code to compile
In [9]: mydf.groupby(['cat', "class"]).val.sum().reset_index()
Out[9]:
      cat class  val
0   first     A    7
1  second     B    3
2   third     C   10

Code to compile
In [10]: mydf.groupby(['cat', "class"]).val.sum().reset_index(level=1)
Out[10]:
       class  val
cat
first      A    7
second     B    3
third      C   10

Code to compile
In [29]: mydf.groupby(['cat', "class"], as_index=False).val.sum()
Out[29]:
      cat class  val
0   first     A    7
1  second     B    3
2   third     C   10

Checking the answer Id = 21248050 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21249206
Code to compile
pd.options.display.max_colwidth  # default is 50

Code to compile
pd.options.display.<tab>

Checking the answer Id = 21275962 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21263020
Code to compile
df[ (df.A=='blue') & (df.B=='red') & (df.C=='square') ]['D'] = 'succeed'

Checking the answer Id = 21263149 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
21269399
Code to compile
import pandas as pd
from datetime import datetime
headers = ['col1', 'col2', 'col3', 'col4']
dtypes = [datetime, datetime, str, float]
pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes)

Code to compile
pd.read_csv(file, sep='\t', header=None, names=headers, parse_dates=True)

Checking the answer Id = 21271103 | Errors = ["name 'file' is not defined", "name 'pd' is not defined"]
Code to compile
import pandas as pd
from datetime import datetime
headers = ['col1', 'col2', 'col3', 'col4']
dtypes = [datetime, datetime, str, float]
pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes)

Code to compile
TypeError: data type not understood

Code to compile
import pandas as pd
from datetime import datetime
headers = ['col1', 'col2', 'col3', 'col4']
dtypes = [datetime.datetime, datetime.datetime, str, float]
pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes)

Checking the answer Id = 27747726 | Errors = ["name 'file' is not defined", 'invalid syntax (<unknown>, line 1)', "type object 'datetime.datetime' has no attribute 'datetime'"]
Code to compile
headers = ['col1', 'col2', 'col3', 'col4']
dtypes = {'col1': 'str', 'col2': 'str', 'col3': 'str', 'col4': 'float'}
parse_dates = ['col1', 'col2']
pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes, parse_dates=parse_dates)

Code to compile
date_parser = pd.datetools.to_datetime

Code to compile
date_parser = pd.datetools.to_datetime()

Checking the answer Id = 37453925 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
21271581
Code to compile
df.loc[:, df.dtypes == np.float64]

Checking the answer Id = 21272615 | Errors = ["name 'df' is not defined"]
Code to compile
df.select_dtypes(include=[np.float64])

Checking the answer Id = 24828425 | Errors = ["name 'df' is not defined"]
Code to compile
In [11]: df = pd.DataFrame([[1, 2.2, 'three']], columns=['A', 'B', 'C'])

In [12]: df.select_dtypes(include=['int'])
Out[12]:
   A
0  1

Code to compile
In [13]: df.select_dtypes(include=[np.number])
Out[13]:
   A    B
0  1  2.2

In [14]: df.select_dtypes(exclude=[object])
Out[14]:
   A    B
0  1  2.2

Checking the answer Id = 29442936 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21271727
Code to compile
4.9,3.0,1.4,0.6
4.8,2.8,1.3,1.2

Code to compile
sort --parallel=8 -t . -nrk3 stuff.csv

Code to compile
split -l 100000 stuff.csv stuff

Code to compile
sort -m sorted_stuff_* > final_sorted_stuff.csv

Checking the answer Id = 35139819 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21285380
Code to compile
import pandas as pd

data = {'spike-2': [1,2,3], 'hey spke': [4,5,6], 'spiked-in': [7,8,9], 'no': [10,11,12]}
df = pd.DataFrame(data)

spike_cols = [col for col in df.columns if 'spike' in col]
print(list(df.columns))
print(spike_cols)

['hey spke', 'no', 'spike-2', 'spiked-in']
['spike-2', 'spiked-in']
Code to compile
['hey spke', 'no', 'spike-2', 'spiked-in']
['spike-2', 'spiked-in']

Code to compile
df2 = df.filter(regex='spike')
print(df2)

Code to compile
   spike-2  spiked-in
0        1          7
1        2          8
2        3          9

Checking the answer Id = 21285575 | Errors = ['Sucess', 'Sucess', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd

data = {'spike-2': [1,2,3], 'hey spke': [4,5,6]}
df = pd.DataFrame(data)

print(df.filter(like='spike').columns)

Index(['spike-2'], dtype='object')
Code to compile
print(df.filter(regex='spike|spke').columns)

Checking the answer Id = 41876593 | Errors = ['Sucess', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
21287624
Checking the answer Id = 21290084 | Errors = []
----------------------------------------
----------------------------------------
21291259
Code to compile

----------------------------------------
21317384
Code to compile
>>> df1
   A  B
0  1  2
1  3  1
>>> df2
   A  B
0  5  6
1  3  1
>>> pandas.concat([df1,df2]).drop_duplicates().reset_index(drop=True)
   A  B
0  1  2
1  3  1
2  5  6

Checking the answer Id = 21317570 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21318865
Code to compile
In [61]: df = pd.read_csv('test.csv', header=[0, 1], skipinitialspace=True, tupleize_cols=True)

In [62]: df
Out[62]:
   (Male, R)  (Male, R)  (Male, L)  (Female, R)  (Female, R)
0       0.67       0.67       0.88         0.81         0.81

[1 rows x 5 columns]

Code to compile
In [63]: df.columns = pd.MultiIndex.from_tuples(df.columns)

In [64]: df
Out[64]:
   Male              Female
      R     R     L       R     R
0  0.67  0.67  0.88    0.81  0.81

[1 rows x 5 columns]

Checking the answer Id = 21324222 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21319929
Code to compile
In [11]: s = pd.Series(list('abc'))

In [12]: s
Out[12]:
0    a
1    b
2    c
dtype: object

In [13]: 1 in s
Out[13]: True

In [14]: 'a' in s
Out[14]: False

Code to compile
In [21]: s.unique()
Out[21]: array(['a', 'b', 'c'], dtype=object)

In [22]: 'a' in s.unique()
Out[22]: True

Code to compile
In [23]: set(s)
Out[23]: {'a', 'b', 'c'}

In [24]: 'a' in set(s)
Out[24]: True

Code to compile
In [31]: s.values
Out[31]: array(['a', 'b', 'c'], dtype=object)

In [32]: 'a' in s.values
Out[32]: True

Checking the answer Id = 21320011 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [2]: s = pd.Series(list('abc'))

In [3]: s
Out[3]:
0    a
1    b
2    c
dtype: object

In [3]: s.isin(['a'])
Out[3]:
0    True
1    False
2    False
dtype: bool

In [4]: s[s.isin(['a'])].empty
Out[4]: False

In [5]: s[s.isin(['z'])].empty
Out[5]: True

Code to compile
>>> df = DataFrame({'A': [1, 2, 3], 'B': [1, 4, 7]})
>>> df.isin({'A': [1, 3], 'B': [4, 7, 12]})
       A      B
0   True  False  # Note that B didn't match 1 here.
1  False   True
2   True   True

Checking the answer Id = 40429755 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21360361
Code to compile
%matplotlib inline
import time
import pylab as pl
from IPython import display
for i in range(10):
    pl.plot(pl.randn(100))
    display.clear_output(wait=True)
    display.display(pl.gcf())
    time.sleep(1.0)

Checking the answer Id = 21361994 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
display.clear_output(wait=True)
display.display(pl.gcf())

Checking the answer Id = 24804512 | Errors = ["'function' object has no attribute 'clear_output'"]
Code to compile
import matplotlib.pylab as plt
import pandas as pd
import numpy as np
import time
from IPython import display
%matplotlib inline

i = pd.date_range('2013-1-1',periods=100,freq='s')

while True:
    try:
        plt.plot(pd.Series(data=np.random.randn(100), index=i))
        display.display(plt.gcf())
        display.clear_output(wait=True)
        time.sleep(1)
    except KeyboardInterrupt:
        break

Checking the answer Id = 29675706 | Errors = ['invalid syntax (<unknown>, line 6)']
----------------------------------------
----------------------------------------
21390035
Checking the answer Id = 25716383 | Errors = []
----------------------------------------
----------------------------------------
21415661
Code to compile
(a['x']==1) and (a['y']==10)

Code to compile
ValueError: The truth value of an array is ambiguous. Use a.empty, a.any() or a.all().

Code to compile
(a['x']==1) & (a['y']==10)

Checking the answer Id = 21415990 | Errors = ["name 'a' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'a' is not defined"]
----------------------------------------
----------------------------------------
21441259
Code to compile
>>> df.groupby(pd.cut(df["B"], np.arange(0, 1.0+0.155, 0.155))).sum()
                      A         B
B
(0, 0.155]     2.775458  0.246394
(0.155, 0.31]  1.123989  0.471618
(0.31, 0.465]  2.051814  1.882763
(0.465, 0.62]  2.277960  1.528492
(0.62, 0.775]  1.577419  2.810723
(0.775, 0.93]  0.535100  1.694955
(0.93, 1.085]       NaN       NaN

[7 rows x 2 columns]

Checking the answer Id = 21441621 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21443963
Code to compile
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})

columns=[('c','a'),('c','b')]

df.columns=pd.MultiIndex.from_tuples(columns)

Checking the answer Id = 26332512 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
21463589
Code to compile
data['amount'] = data["amount"].fillna(data.groupby("num")["amount"].transform("mean"))

data["amount"] = data['amount'].fillna(mean_avg)

Code to compile
data['amount'] = data['amount'].fillna(mean_avg)*2

Code to compile
pd.set_option('chained_assignment',None)

Checking the answer Id = 21463854 | Errors = ["name 'data' is not defined", "name 'data' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
21487329
Code to compile
In [4]: ax = df2.plot(lw=2,colormap='jet',marker='.',markersize=10,title='Video streaming dropout by category')

In [6]: ax.set_xlabel("x label")
Out[6]: <matplotlib.text.Text at 0x10e0af2d0>

In [7]: ax.set_ylabel("y label")
Out[7]: <matplotlib.text.Text at 0x10e0ba1d0>

Checking the answer Id = 21487560 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import matplotlib.pyplot as plt
import pandas as pd

plt.figure()
values = [[1,2], [2,5]]
df2 = pd.DataFrame(values, columns=['Type A', 'Type B'], index=['Index 1','Index 2'])
df2.plot(lw=2,colormap='jet',marker='.',markersize=10,title='Video streaming dropout by category')
plt.xlabel('xlabel')
plt.ylabel('ylabel')
plt.show()

Checking the answer Id = 21487868 | Errors = ["No module named 'matplotlib'"]
Code to compile
import pandas as pd
values = [[1,2], [2,5]]
df = pd.DataFrame(values, columns=['Type A', 'Type B'], index=['Index 1','Index 2'])
df.columns.name = 'Type'
df.index.name = 'Index'
df.plot(lw=2, colormap='jet', marker='.', markersize=10, title='Video streaming dropout by category')

Checking the answer Id = 27520877 | Errors = ["name '_converter' is not defined"]
----------------------------------------
----------------------------------------
21488085
Code to compile
ax = cum_edits.plot()
ymin, ymax = ax.get_ylim()
ax.vlines(x=dates, ymin=ymin, ymax=ymax-1, color='r')

Checking the answer Id = 21489607 | Errors = ["name 'cum_edits' is not defined"]
----------------------------------------
----------------------------------------
21494030
Code to compile
import sh
jq = sh.jq.bake('-M')  # disable colorizing
json_data = "from above"
rule = """[{pivots: .intervals[].pivots,
            interval_id: .intervals[].series[].interval_id,
            p_value: .intervals[].series[].p_value}]"""
out = jq(rule, _in=json_data).stdout
res = pd.DataFrame(json.loads(out))

Code to compile
    interval_id       p_value      pivots
32            2  2.867501e-06  Jane Smith
33            2  1.000000e+00  Jane Smith
34            2  1.116279e-08  Jane Smith
35            2  2.867501e-06  Jane Smith
36            0  1.000000e+00   Bob Smith
37            0  1.116279e-08   Bob Smith
38            0  2.867501e-06   Bob Smith
39            0  1.000000e+00   Bob Smith
40            0  1.116279e-08   Bob Smith
41            0  2.867501e-06   Bob Smith
42            1  1.000000e+00   Bob Smith
43            1  1.116279e-08   Bob Smith

Code to compile
In [175]: res.drop_duplicates()
Out[175]:
    interval_id       p_value      pivots
0             0  1.000000e+00  Jane Smith
1             0  1.116279e-08  Jane Smith
2             0  2.867501e-06  Jane Smith
6             1  1.000000e+00  Jane Smith
7             1  1.116279e-08  Jane Smith
8             1  2.867501e-06  Jane Smith
12            2  1.000000e+00  Jane Smith
13            2  1.116279e-08  Jane Smith
14            2  2.867501e-06  Jane Smith
36            0  1.000000e+00   Bob Smith
37            0  1.116279e-08   Bob Smith
38            0  2.867501e-06   Bob Smith
42            1  1.000000e+00   Bob Smith
43            1  1.116279e-08   Bob Smith
44            1  2.867501e-06   Bob Smith
48            2  1.000000e+00   Bob Smith
49            2  1.116279e-08   Bob Smith
50            2  2.867501e-06   Bob Smith

[18 rows x 3 columns]

Checking the answer Id = 21500413 | Errors = ["No module named 'sh'", 'unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21546739
Code to compile
data = pd.read_csv('output_list.txt', sep=" ", header=None)
data.columns = ["a", "b", "c", "etc."]

Checking the answer Id = 21546823 | Errors = ["name 'pd' is not defined"]
Code to compile
df = pd.read_csv('output_list.txt', sep=" ", header=None, names=["a", "b", "c"])

Checking the answer Id = 38757990 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
21567842
Checking the answer Id = 27889133 | Errors = []
----------------------------------------
----------------------------------------
21606987
Code to compile
In [5]: df
Out[5]:
   Year  Month   Value
0     1       2      3

[1 rows x 3 columns]

In [6]: df.rename(columns=lambda x: x.strip())
Out[6]:
   Year  Month  Value
0     1      2      3

[1 rows x 3 columns]

Checking the answer Id = 21607530 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [5]:
df = pd.DataFrame(columns=['Year', 'Month ', 'Value'])
print(df.columns.tolist())
df.columns = df.columns.str.strip()
df.columns.tolist()

['Year', 'Month ', 'Value']
Out[5]:
['Year', 'Month', 'Value']

Checking the answer Id = 36082588 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21608228
Code to compile
df.ix[df.my_channel > 20000, 'my_channel'] = 0

Checking the answer Id = 21608417 | Errors = ["name 'df' is not defined"]
Code to compile
mask = df.my_channel > 20000
column_name = 'my_channel'
df.loc[mask, column_name] = 0

Checking the answer Id = 44311454 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
21654635
Code to compile
df = pd.DataFrame(np.random.normal(10,1,30).reshape(10,3), index = pd.date_range('2010-01-01', freq = 'M', periods = 10), columns = ('one', 'two', 'three'))
df['key1'] = (4,4,4,6,6,6,8,8,8,8)
fig1 = plt.figure(1)
ax1 = fig1.add_subplot(111)
x=ax1.scatter(df['one'], df['two'], marker = 'o', c = df['key1'], alpha = 0.8)

ccm=x.get_cmap()
circles=[Line2D(range(1), range(1), color='w', marker='o', markersize=10, markerfacecolor=item) for item in ccm((array([4,6,8])-4.0)/4)]
leg = plt.legend(circles, ['4','6','8'], loc = "center left", bbox_to_anchor = (1, 0.5), numpoints = 1)

Checking the answer Id = 21655221 | Errors = ["name 'pd' is not defined"]
Code to compile
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
np.random.seed(1974)

# Generate Data
num = 20
x, y = np.random.random((2, num))
labels = np.random.choice(['a', 'b', 'c'], num)
df = pd.DataFrame(dict(x=x, y=y, label=labels))

groups = df.groupby('label')

# Plot
fig, ax = plt.subplots()
ax.margins(0.05) # Optional, just adds 5% padding to the autoscaling
for name, group in groups:
    ax.plot(group.x, group.y, marker='o', linestyle='', ms=12, label=name)
ax.legend()

plt.show()

Code to compile
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
np.random.seed(1974)

# Generate Data
num = 20
x, y = np.random.random((2, num))
labels = np.random.choice(['a', 'b', 'c'], num)
df = pd.DataFrame(dict(x=x, y=y, label=labels))

groups = df.groupby('label')

# Plot
plt.rcParams.update(pd.tools.plotting.mpl_stylesheet)
colors = pd.tools.plotting._get_standard_colors(len(groups), color_type='random')

fig, ax = plt.subplots()
ax.set_color_cycle(colors)
ax.margins(0.05)
for name, group in groups:
    ax.plot(group.x, group.y, marker='o', linestyle='', ms=12, label=name)
ax.legend(numpoints=1, loc='upper left')

plt.show()

Checking the answer Id = 21655256 | Errors = ["No module named 'matplotlib'", "No module named 'matplotlib'"]
Code to compile
import seaborn as sns
import pandas as pd
import numpy as np
np.random.seed(1974)

df = pd.DataFrame(
    np.random.normal(10, 1, 30).reshape(10, 3),
    index=pd.date_range('2010-01-01', freq='M', periods=10),
    columns=('one', 'two', 'three'))
df['key1'] = (4, 4, 4, 6, 6, 6, 8, 8, 8, 8)

sns.pairplot(x_vars=["one"], y_vars=["two"], data=df, hue="key1", size=5)

Code to compile
sns.pairplot(vars=["one","two","three"], data=df, hue="key1", size=5)

Checking the answer Id = 39251401 | Errors = ["No module named 'seaborn'", "name 'sns' is not defined"]
----------------------------------------
----------------------------------------
21689423
Code to compile
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

Checking the answer Id = 21689542 | Errors = ["name 'pd' is not defined"]
Code to compile
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

Checking the answer Id = 27769102 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
21720022
Code to compile
In [11]: df = pd.DataFrame([[1, 'a', 2.]])

In [12]: df
Out[12]:
   0  1  2
0  1  a  2

In [13]: df.dtypes
Out[13]:
0      int64
1     object
2    float64
dtype: object

In [14]: df.dtypes == object
Out[14]:
0    False
1     True
2    False
dtype: bool

Code to compile
In [15]: df.loc[:, df.dtypes == object]
Out[15]:
   1
0  a

Code to compile
In [16]: df.loc[:, df.dtypes == object] = df.loc[:, df.dtypes == object].fillna('')

Checking the answer Id = 21720133 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
# select the float columns
df_num = df.select_dtypes(include=[np.float])
# select non-numeric columns
df_num = df.select_dtypes(exclude=[np.number])

Checking the answer Id = 30740087 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
21733893
Code to compile
# Set a default value
df['Age_Group'] = '<40'
# Set Age_Group value for all row indexes which Age are greater than 40
df['Age_Group'][df['Age'] > 40] = '>40'
# Set Age_Group value for all row indexes which Age are greater than 18 and < 40
df['Age_Group'][(df['Age'] > 18) & (df['Age'] < 40)] = '>18'
# Set Age_Group value for all row indexes which Age are less than 18
df['Age_Group'][df['Age'] < 18] = '<18'

Code to compile
>>> d = {'Age' : pd.Series([36., 42., 6., 66., 38.]) }
>>> df = pd.DataFrame(d)
>>> df
   Age
0   36
1   42
2    6
3   66
4   38
>>> df['Age_Group'] = '<40'
>>> df['Age_Group'][df['Age'] > 40] = '>40'
>>> df['Age_Group'][(df['Age'] > 18) & (df['Age'] < 40)] = '>18'
>>> df['Age_Group'][df['Age'] < 18] = '<18'
>>> df
   Age Age_Group
0   36       >18
1   42       >40
2    6       <18
3   66       >40
4   38       >18

Code to compile
>>> df['Age_Group'] = '<40'
>>> df.loc[df['Age'] < 40,'Age_Group'] = '<40'
>>> df.loc[(df['Age'] > 18) & (df['Age'] < 40), 'Age_Group'] = '>18'
>>> df.loc[df['Age'] < 18,'Age_Group'] = '<18'
>>> df
   Age Age_Group
0   36       >18
1   42       <40
2    6       <18
3   66       <40
4   38       >18

Checking the answer Id = 21734254 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df['Age_group'] = np.where(df.Age<18, 'under 18',
                           np.where(df.Age<40,'under 40', '>40'))

Checking the answer Id = 36059898 | Errors = ["name 'np' is not defined"]
----------------------------------------
----------------------------------------
21738566
Code to compile
>>> dt.datetime.today().strftime("%m/%d/%Y")
                   # ^ note parentheses
'02/12/2014'

Checking the answer Id = 21738682 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> pandas.to_datetime('today')
Timestamp('2015-10-14 00:00:00')

Checking the answer Id = 33133356 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21752399
Code to compile
df.append(df.sum(numeric_only=True), ignore_index=True)

Code to compile
baz = 2*df['qux'].sum() + 3*df['bar'].sum()

Checking the answer Id = 21755752 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
21767900
Code to compile
>>> g
              uses  books
               sum    sum
token   year
xanthos 1830     3      3
        1840     3      3
        1868     2      2
        1875     1      1

[4 rows x 2 columns]
>>> g = g.reset_index()
>>> g
     token  year  uses  books
                   sum    sum
0  xanthos  1830     3      3
1  xanthos  1840     3      3
2  xanthos  1868     2      2
3  xanthos  1875     1      1

[4 rows x 4 columns]

Code to compile
>>> g = dfalph[['token', 'year', 'uses', 'books']].groupby(['token', 'year'], as_index=False).sum()
>>> g
     token  year  uses  books
0  xanthos  1830     3      3
1  xanthos  1840     3      3
2  xanthos  1868     2      2
3  xanthos  1875     1      1

[4 rows x 4 columns]

Checking the answer Id = 21768034 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21771133
Code to compile
In[15]:
np.where(np.any(np.isnan(df.convert_objects(convert_numeric=True)), axis=1))
Out[15]:
(array([3]),)

Checking the answer Id = 21771438 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [11]: df.applymap(np.isreal)
Out[11]:
          a     b
item
a      True  True
b      True  True
c      True  True
d     False  True
e      True  True

Code to compile
In [12]: df.applymap(np.isreal).all(1)
Out[12]:
item
a        True
b        True
c        True
d       False
e        True
dtype: bool

Code to compile
In [13]: df[~df.applymap(np.isreal).all(1)]
Out[13]:
        a    b
item
d     bad  0.4

Code to compile
In [14]: np.argmin(df.applymap(np.isreal).all(1))
Out[14]: 'd'

Code to compile
df.applymap(lambda x: isinstance(x, (int, float)))

Checking the answer Id = 21772078 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
21786490
Code to compile
In [33]: s1 = pd.merge(df1, df2, how='left', on=['Year', 'Week', 'Colour'])

Code to compile
In [39]: df = pd.merge(s1, df3[['Week', 'Colour', 'Val3']],
                       how='left', on=['Week', 'Colour'])

In [40]: df
Out[40]:
   Year Week Colour  Val1  Val2 Val3
0  2014    A    Red    50   NaN  NaN
1  2014    B    Red    60   NaN   60
2  2014    B  Black    70   100   10
3  2014    C    Red    10    20  NaN
4  2014    D  Green    20   NaN   20

[5 rows x 6 columns]

Checking the answer Id = 21787325 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
21800169

----------------------------------------
----------------------------------------
21988196
Code to compile
ax = var.total.plot(label='Variance')
ax = shares.average.plot(secondary_y=True, label='Average Age')

ax.set_ylabel('Variance of log wages')
ax.right_ax.set_ylabel('Average age')

Code to compile
lines = ax.get_lines() + ax.right_ax.get_lines()

Code to compile
ax.legend(lines, [l.get_label() for l in lines], loc='upper center')

Code to compile
ax.set_title('Wage Variance and Mean Age')
plt.show()

Code to compile
fig, ax = plt.subplots()

ax.plot(var.index.to_datetime(), var.total, 'b', label='Variance')
ax.set_ylabel('Variance of log wages')

ax2 = ax.twinx()
ax2.plot(shares.index.to_datetime(), shares.average, 'g' , label='Average Age')
ax2.set_ylabel('Average age')

lines = ax.get_lines() + ax2.get_lines()
ax.legend(lines, [line.get_label() for line in lines], loc='upper center')

ax.set_title('Wage Variance and Mean Age')
plt.show()

Checking the answer Id = 21989204 | Errors = ["name 'var' is not defined", "name 'ax' is not defined", "name 'ax' is not defined", "name 'ax' is not defined", "name 'plt' is not defined"]
----------------------------------------
----------------------------------------
22005911
Code to compile
total_rows['ColumnID'] = total_rows['ColumnID'].astype(str)

Code to compile
In [11]: df = pd.DataFrame([['A', 2], ['A', 4], ['B', 6]])

In [12]: df.to_json()
Out[12]: '{"0":{"0":"A","1":"A","2":"B"},"1":{"0":2,"1":4,"2":6}}'

In [13]: df[0].to_json()
Out[13]: '{"0":"A","1":"A","2":"B"}'

Checking the answer Id = 22006514 | Errors = ["name 'total_rows' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22019763
Code to compile
header = ["InviteTime (Oracle)", "Orig Number", "Orig IP Address", "Dest Number"]
df.to_csv('output.csv', columns = header)

Checking the answer Id = 22019831 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
22032668
Code to compile
mask = np.all(np.isnan(arr), axis=1) | np.all(arr == 0, axis=1)
arr = arr[~mask]

Code to compile
mask = np.all(np.isnan(arr) | arr == 0, axis=1)
arr = arr[~mask]

Checking the answer Id = 22033314 | Errors = ["name 'np' is not defined", "name 'np' is not defined"]
Code to compile
import numpy as np

a = np.array([
    [1, 0, 0],
    [0, np.nan, 0],
    [0, 0, 0],
    [np.nan, np.nan, np.nan],
    [2, 3, 4]
])

mask = np.all(np.isnan(a) | np.equal(a, 0), axis=1)
a[~mask]

Checking the answer Id = 22033364 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
22070263
Code to compile
df = pd.DataFrame(np.random.randn(400, 4), columns=['one', 'two', 'three', 'four'])
ax1 = df.cumsum().plot()
lines, labels = ax1.get_legend_handles_labels()
ax1.legend(lines[:2], labels[:2], loc='best')  # legend for first two lines only

Checking the answer Id = 22070926 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
22081878
Code to compile
In [11]: df1.change.shift(1)
Out[11]:
0          NaT
1   2014-03-08
2   2014-04-08
3   2014-05-08
4   2014-06-08
Name: change, dtype: datetime64[ns]

Code to compile
In [12]: df1.change.shift(1) - df1.change
Out[12]:
0        NaT
1   -31 days
2   -30 days
3   -31 days
4     0 days
Name: change, dtype: timedelta64[ns]

Code to compile
In [13]: df.groupby('case')['change'].apply(lambda x: x.shift(1) - x)
Out[13]:
0        NaT
1   -31 days
2   -30 days
3   -31 days
4        NaT
dtype: timedelta64[ns]

Checking the answer Id = 22082596 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22084338
Code to compile
In [1]: import numpy, pandas
   ...: df = pandas.DataFrame(numpy.zeros(shape=[10, 10]))
   ...: dictionary = df.to_dict()

In [2]: %timeit value = dictionary[5][5]
The slowest run took 34.06 times longer than the fastest. This could mean that an intermediate result is being cached
1000000 loops, best of 3: 310 ns per loop

In [4]: %timeit value = df.loc[5, 5]
10000 loops, best of 3: 104 µs per loop

In [5]: %timeit value = df.iloc[5, 5]
10000 loops, best of 3: 98.8 µs per loop

In [6]: %timeit value = df.iat[5, 5]
The slowest run took 6.67 times longer than the fastest. This could mean that an intermediate result is being cached
100000 loops, best of 3: 9.58 µs per loop

In [7]: %timeit value = df.at[5, 5]
The slowest run took 6.59 times longer than the fastest. This could mean that an intermediate result is being cached
100000 loops, best of 3: 9.26 µs per loop

Checking the answer Id = 32658847 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22086116
Code to compile
males = df[(df[Gender]=='Male') & (df[Year]==2014)]

Code to compile
from collections import defaultdict
dic={}
for g in ['male', 'female']:
  dic[g]=defaultdict(dict)
  for y in [2013, 2014]:
    dic[g][y]=df[(df[Gender]==g) & (df[Year]==y)] #store the DataFrames to a dict of dict

Code to compile
def getDF(dic, gender, year):
  return dic[gender][year]

print genDF(dic, 'male', 2014)

Checking the answer Id = 22086347 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 4)']
Code to compile
df = df[df[['col_1','col_2']].apply(lambda x: f(*x), axis=1)]

Checking the answer Id = 39820329 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
22089317
Checking the answer Id = 22089870 | Errors = []
----------------------------------------
----------------------------------------
22127569
Code to compile
>>> origin.pivot(index='label', columns='type')['value']
type   a  b  c
label
x      1  2  3
y      4  5  6
z      7  8  9

[3 rows x 3 columns]

Code to compile
>>> origin.pivot_table(values='value', index='label', columns='type')
       value
type       a  b  c
label
x          1  2  3
y          4  5  6
z          7  8  9

[3 rows x 3 columns]

Code to compile
>>> origin.groupby(['label', 'type'])['value'].aggregate('mean').unstack()
type   a  b  c
label
x      1  2  3
y      4  5  6
z      7  8  9

[3 rows x 3 columns]

Checking the answer Id = 22127685 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22132525
Code to compile
df['A'] = pd.to_datetime(df['A'])
df['B'] = pd.to_datetime(df['B'])

In [11]: df.dtypes  # if already datetime64 you don't need to use to_datetime
Out[11]:
A    datetime64[ns]
B    datetime64[ns]
dtype: object

In [12]: df['A'] - df['B']
Out[12]:
one   -58 days
two   -26 days
dtype: timedelta64[ns]

In [13]: df['C'] = df['A'] - df['B']

In [14]: df
Out[14]:
             A          B        C
one 2014-01-01 2014-02-28 -58 days
two 2014-02-03 2014-03-01 -26 days

Checking the answer Id = 22132649 | Errors = ['invalid syntax (<unknown>, line 4)']
Code to compile
[int(i.days) for i in (df.B - df.A)]

Checking the answer Id = 38055014 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
22137723
Code to compile
In [ 9]: import locale

In [10]: from locale import atof

In [11]: locale.setlocale(locale.LC_NUMERIC, '')
Out[11]: 'en_GB.UTF-8'

In [12]: df.applymap(atof)
Out[12]:
      0        1
0  1200  4200.00
1  7000    -0.03
2     5     0.00

Code to compile
df.read_csv('foo.tsv', sep='\t', thousands=',')

Checking the answer Id = 22137890 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
22149584
Code to compile
+------------+---------+--------+
|            |  A      |  B     |
+------------+---------+---------
|      0     | 0.626386| 1.52325|----axis=1----->
+------------+---------+--------+
                |         |
                | axis=0  |
                ?         ?

Checking the answer Id = 22149930 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
a = np.ones((3,5,7))

Code to compile
b = np.zeros((5,7))
for i in range(5):
    for j in range(7):
        b[i,j] += a[:,i,j].sum()

Code to compile
array([[ 3.,  3.,  3.,  3.,  3.,  3.,  3.],
       [ 3.,  3.,  3.,  3.,  3.,  3.,  3.],
       [ 3.,  3.,  3.,  3.,  3.,  3.,  3.],
       [ 3.,  3.,  3.,  3.,  3.,  3.,  3.],
       [ 3.,  3.,  3.,  3.,  3.,  3.,  3.]])

Checking the answer Id = 42545576 | Errors = ["name 'np' is not defined", "name 'np' is not defined", "name 'array' is not defined"]
----------------------------------------
----------------------------------------
22155951
Code to compile
import pandas as pd
import numpy as np

class MyDF(pd.DataFrame):
    @property
    def _constructor(self):
        return MyDF


mydf = MyDF(np.random.randn(3,4), columns=['A','B','C','D'])
print type(mydf)

mydf_sub = mydf[['A','C']]
print type(mydf_sub)

Code to compile
import pandas as pd
import numpy as np

class MyDF(pd.DataFrame):
    _attributes_ = "myattr1,myattr2"

    def __init__(self, *args, **kw):
        super(MyDF, self).__init__(*args, **kw)
        if len(args) == 1 and isinstance(args[0], MyDF):
            args[0]._copy_attrs(self)

    def _copy_attrs(self, df):
        for attr in self._attributes_.split(","):
            df.__dict__[attr] = getattr(self, attr, None)

    @property
    def _constructor(self):
        def f(*args, **kw):
            df = MyDF(*args, **kw)
            self._copy_attrs(df)
            return df
        return f

mydf = MyDF(np.random.randn(3,4), columns=['A','B','C','D'])
print type(mydf)

mydf_sub = mydf[['A','C']]
print type(mydf_sub)

mydf.myattr1 = 1
mydf_cp1 = MyDF(mydf)
mydf_cp2 = mydf.copy()
print mydf_cp1.myattr1, mydf_cp2.myattr1

Checking the answer Id = 22161058 | Errors = ['invalid syntax (<unknown>, line 11)', 'invalid syntax (<unknown>, line 25)']
Code to compile
class SubclassedDataFrame(DataFrame):
    _metadata = ['added_property']
    added_property = 1  # This will be passed to copies

    @property
    def _constructor(self):
        return SubclassedDataFrame

Checking the answer Id = 35619846 | Errors = ["name 'DataFrame' is not defined"]
----------------------------------------
----------------------------------------
22156258
Checking the answer Id = 25162895 | Errors = []
----------------------------------------
----------------------------------------
22180993
Code to compile
@app.route('/analysis/<filename>')
def analysis(filename):
    x = pd.DataFrame(np.random.randn(20, 5))
    return render_template("analysis.html", name=filename, data=x.to_html())
                                                                # ^^^^^^^^^

Code to compile
{% extends "base.html" %}
{% block content %}
<h1>{{name}}</h1>
{{data | safe}}
{% endblock %}

Checking the answer Id = 22181298 | Errors = ["name 'app' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
@app.route('/analysis/<filename>')
def analysis(filename):
    x = pd.DataFrame(np.random.randn(20, 5))
    return render_template("analysis.html", name=filename, data=x)

Code to compile
{% extends "base.html" %}
{% block content %}
<h1>{{name}}</h1>
{{ data.to_html(classes="table table-striped") | safe}}
{% endblock %}

Checking the answer Id = 22233851 | Errors = ["name 'app' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22211737
Code to compile
import pandas as pd
df = pd.DataFrame([1, 2, 3, 4, 5], index=[100, 29, 234, 1, 150], columns=['A'])
df.sort_index(inplace=True)
print(df.to_string())

     A
1    4
29   2
100  1
150  5
234  3
Code to compile
     A
1    4
29   2
100  1
150  5
234  3

Checking the answer Id = 22211821 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22219004
Code to compile
 L = ['A','A','B','B','B','C']
 N = [1,2,5,5,4,6]

 import pandas as pd
 df = pd.DataFrame(zip(L,N),columns = list('LN'))


 groups = df.groupby(df.L)

 groups.groups
      {'A': [0, 1], 'B': [2, 3, 4], 'C': [5]}

Code to compile
 groups.get_group('A')

     L  N
  0  A  1
  1  A  2

  groups.get_group('B')

     L  N
  2  B  5
  3  B  5
  4  B  4

Checking the answer Id = 22221272 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Code to compile
In [1]:
# create the dataframe
df = pd.DataFrame( {'a':['A','A','B','B','B','C'], 'b':[1,2,5,5,4,6]})
df
Out[1]:
   a  b
0  A  1
1  A  2
2  B  5
3  B  5
4  B  4
5  C  6

[6 rows x 2 columns]

In [76]:
df.groupby('a')['b'].apply(list)

Out[76]:
a
A       [1, 2]
B    [5, 5, 4]
C          [6]
Name: b, dtype: object

Checking the answer Id = 22221675 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import numpy as np

df = pd.DataFrame( {'a':np.random.randint(0,60,600), 'b':[1,2,5,5,4,6]*100})

def f(df):
         keys,values=df.sort_values('a').values.T
         ukeys,index=np.unique(keys,True)
         arrays=np.split(values,index[1:])
         df2=pd.DataFrame({'a':ukeys,'b':[list(a) for a in arrays]})
         return df2

Code to compile
In [301]: %timeit f(df)
1000 loops, best of 3: 1.64 ms per loop

In [302]: %timeit df.groupby('a')['b'].apply(list)
100 loops, best of 3: 5.26 ms per loop

Checking the answer Id = 42550516 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22233488
Code to compile
>>> cols = pd.MultiIndex.from_tuples([("a", "b"), ("a", "c")])
>>> df = pd.DataFrame([[1,2], [3,4]], columns=cols)
>>> df
   a
   b  c
0  1  2
1  3  4

[2 rows x 2 columns]
>>> df.columns = df.columns.droplevel()
>>> df
   b  c
0  1  2
1  3  4

[2 rows x 2 columns]

Checking the answer Id = 22233719 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 30991980 | Errors = []
Code to compile
>>> df

    a
    b   c
0   1   2
1   3   4

>>> df = df.xs('a', axis=1, drop_level=True)

    # 'a' : key on which to get cross section
    # axis=1 : get cross section of column
    # drop_level=True : returns cross section without the multilevel index

>>> df

    b   c
0   1   2
1   3   4

Checking the answer Id = 36682678 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22235245
Code to compile
In [43]:

df.describe()

Out[43]:

       shopper_num is_martian  number_of_items  count_pineapples
count      14.0000         14        14.000000                14
mean        7.5000          0         3.357143                 0
std         4.1833          0         6.452276                 0
min         1.0000      False         0.000000                 0
25%         4.2500          0         0.000000                 0
50%         7.5000          0         0.000000                 0
75%        10.7500          0         3.500000                 0
max        14.0000      False        22.000000                 0

[8 rows x 4 columns]

Code to compile
In [47]:

df.describe().transpose()

Out[47]:

                 count      mean       std    min   25%  50%    75%    max
shopper_num         14       7.5    4.1833      1  4.25  7.5  10.75     14
is_martian          14         0         0  False     0    0      0  False
number_of_items     14  3.357143  6.452276      0     0    0    3.5     22
count_pineapples    14         0         0      0     0    0      0      0

[4 rows x 8 columns]

Checking the answer Id = 22235393 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22245171
Code to compile
>>> df['x'].str.lower()
0    one
1    two
2    NaN
Name: x, dtype: object

Checking the answer Id = 22247593 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22257527
Code to compile
In [1]: df = DataFrame(np.random.randn(10,2))

In [2]: df.iloc[3:6,0] = np.nan

In [3]: df
Out[3]:
          0         1
0 -0.560342  1.862640
1 -1.237742  0.596384
2  0.603539 -1.561594
3       NaN  3.018954
4       NaN -0.046759
5       NaN  0.480158
6  0.113200 -0.911159
7  0.990895  0.612990
8  0.668534 -0.701769
9 -0.607247 -0.489427

[10 rows x 2 columns]

In [4]: df.describe()
Out[4]:
              0          1
count  7.000000  10.000000
mean  -0.004166   0.286042
std    0.818586   1.363422
min   -1.237742  -1.561594
25%   -0.583795  -0.648684
50%    0.113200   0.216699
75%    0.636036   0.608839
max    0.990895   3.018954

[8 rows x 2 columns]


In [5]: df.info()
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 2 columns):
0    7 non-null float64
1    10 non-null float64
dtypes: float64(2)

Code to compile
In [20]: len(df.index)-df.count()
Out[20]:
0    3
1    0
dtype: int64

Code to compile
In [23]: df.isnull().sum()
Out[23]:
0    3
1    0
dtype: int64

Checking the answer Id = 22257615 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22257836
Code to compile
X = np.column_stack((X, AllAlexaAndGoogleInfo))

Checking the answer Id = 22258061 | Errors = ["name 'np' is not defined"]
Code to compile
import numpy as np
from scipy import sparse

X = sparse.rand(10, 10000)
xt = np.random.random((10, 1))
print 'X shape:', X.shape
print 'xt shape:', xt.shape
print 'Stacked shape:', np.hstack((X,xt)).shape
#print 'Stacked shape:', sparse.hstack((X,xt)).shape #This works

Code to compile
X shape: (10, 10000)
xt shape: (10, 1)

Code to compile
ValueError: all the input arrays must have same number of dimensions

Code to compile
TypeError: no supported conversion for types: (dtype('float64'), dtype('O'))

Code to compile
X = sparse.rand(100, 10000)
xt = np.random.random((100, 1))
xt = xt.astype('object') # Comment this to fix the error
print 'X:', X.shape, X.dtype
print 'xt:', xt.shape, xt.dtype
print 'Stacked shape:', sparse.hstack((X,xt)).shape

Code to compile
TypeError: no supported conversion for types: (dtype('float64'), dtype('O'))

Checking the answer Id = 22264337 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 6)", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 4)", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22258491
Code to compile
import pandas
import random

n = 1000000 #number of records in file
s = 10000 #desired sample size
filename = "data.txt"
skip = sorted(random.sample(xrange(n),n-s))
df = pandas.read_csv(filename, skiprows=skip)

Code to compile
import pandas
import random

filename = "data.txt"
n = sum(1 for line in open(filename)) - 1 #number of records in file (excludes header)
s = 10000 #desired sample size
skip = sorted(random.sample(xrange(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
df = pandas.read_csv(filename, skiprows=skip)

Checking the answer Id = 22259008 | Errors = ["name 'xrange' is not defined", "[Errno 2] No such file or directory: 'data.txt'"]
Code to compile
import random

n_samples = 10
samples = []

for i, line in enumerate(f):
    if i < n_samples:
        samples.append(line)
    elif random.random() < n_samples * 1. / (i+1):

Checking the answer Id = 22487898 | Errors = ["name 'my_dataframe' is not defined"]
----------------------------------------
----------------------------------------
22543208
Code to compile
from matplotlib import pyplot as plt
plt.style.use('ggplot')

Code to compile
pd.options.display.mpl_style = 'default'

Checking the answer Id = 22543333 | Errors = ["No module named 'matplotlib'", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
22546425
Code to compile
foo = df.ix[(df['column1']==value) | (df['columns2'] == 'b') | (df['column3'] == 'c')]

Checking the answer Id = 22546459 | Errors = ["name 'df' is not defined"]
Code to compile
In [27]: n = 10

In [28]: df = DataFrame(randint(4, size=(n, 2)), columns=list('ab'))

In [29]: df
Out[29]:
   a  b
0  0  0
1  1  1
2  1  1
3  2  3
4  2  3
5  0  2
6  1  2
7  3  0
8  1  1
9  2  2

[10 rows x 2 columns]

In [30]: df.isin([1, 2])
Out[30]:
       a      b
0  False  False
1   True   True
2   True   True
3   True  False
4   True  False
5  False   True
6   True   True
7  False  False
8   True   True
9   True   True

[10 rows x 2 columns]

In [31]: df.isin([1, 2]).any(1)
Out[31]:
0    False
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9     True
dtype: bool

In [32]: df.loc[df.isin([1, 2]).any(1)]
Out[32]:
   a  b
1  1  1
2  1  1
3  2  3
4  2  3
5  0  2
6  1  2
8  1  1
9  2  2

[8 rows x 2 columns]

Checking the answer Id = 22547347 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22551403
Code to compile
nms.dropna(thresh=2)

Code to compile
In [87]:

nms
Out[87]:
  movie    name  rating
0   thg    John       3
1   thg     NaN       4
3   mol  Graham     NaN
4   lob     NaN     NaN
5   lob     NaN     NaN

[5 rows x 3 columns]
In [89]:

nms = nms.dropna(thresh=2)
In [90]:

nms[nms.name.notnull()]
Out[90]:
  movie    name  rating
0   thg    John       3
3   mol  Graham     NaN

[2 rows x 3 columns]

Code to compile
nms[nms.name.notnull()]

Checking the answer Id = 22553757 | Errors = ["name 'nms' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'nms' is not defined"]
----------------------------------------
----------------------------------------
22588316
Code to compile
value = re.sub(r"[^0-9]+", "", value)

Checking the answer Id = 22588340 | Errors = ["name 're' is not defined"]
Code to compile
import pandas as pd

df = pd.DataFrame(['$40,000*','$40000 conditions attached'], columns=['P'])
print(df)
#                             P
# 0                    $40,000*
# 1  $40000 conditions attached

df['P'] = df['P'].str.replace(r'\D+', '').astype('int')
print(df)

                            P
0                    $40,000*
1  $40000 conditions attached
       P
0  40000
1  40000
Code to compile
       P
0  40000
1  40000

Checking the answer Id = 22591024 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22591174
Code to compile
df1 = df[(df.a != -1) & (df.b != -1)]

Code to compile
df2 = df[(df.a != -1) | (df.b != -1)]

Checking the answer Id = 22591267 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
df_filtered = df.query('a == 4 & b != 2')

Checking the answer Id = 40834052 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
22604564
Code to compile
import sys
if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO

import pandas as pd

TESTDATA=StringIO("""col1;col2;col3
    1;4.4;99
    2;4.5;200
    3;4.7;65
    4;3.2;140
    """)

df = pd.read_csv(TESTDATA, sep=";")

Checking the answer Id = 22605281 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
22642162
Code to compile
In [11]: df = pd.DataFrame([[1., 2.], [3., 4.]], columns=['A', 'B'])

In [12]: df2 = pd.DataFrame([[5., 10.]], columns=['A', 'B'])

In [13]: df.div(df2)
Out[13]:
     A    B
0  0.2  0.2
1  NaN  NaN

In [14]: df.div(df2.iloc[0])
Out[14]:
     A    B
0  0.2  0.2
1  0.6  0.4

Checking the answer Id = 22642484 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd

data1 = {"a":[1.,3.,5.,2.],
         "b":[4.,8.,3.,7.],
         "c":[5.,45.,67.,34]}
data2 = {"a":[4.],
         "b":[2.],
         "c":[11.]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df1.div(df2.ix[0],axis='columns')

Checking the answer Id = 22643040 | Errors = ['\n.ix is deprecated. Please use\n.loc for label based indexing or\n.iloc for positional indexing\n\nSee the documentation here:\nhttp://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated']
----------------------------------------
----------------------------------------
22649693
Code to compile
> df = pd.DataFrame({'a':[0,0,1,1], 'b':[0,1,0,1]})
> df = df[(df.T != 0).any()]
> df
   a  b
1  0  1
2  1  0
3  1  1

Checking the answer Id = 22650075 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.loc[~(df==0).all(axis=1)]

Code to compile
df.loc[(df!=0).any(axis=1)]

Checking the answer Id = 22650162 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
22650833
Code to compile
In [52]:

print df
   name        day   no
0  Jack     Monday   10
1  Jack    Tuesday   20
2  Jack    Tuesday   10
3  Jack  Wednesday   50
4  Jill     Monday   40
5  Jill  Wednesday  110
In [53]:

print df.groupby(by=['name','day']).sum().groupby(level=[0]).cumsum()
                 no
name day
Jack Monday      10
     Tuesday     40
     Wednesday   90
Jill Monday      40
     Wednesday  150

Checking the answer Id = 22651188 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In[23]: print df
        name          day   no
0      Jack       Monday    10
1      Jack      Tuesday    20
2      Jack      Tuesday    10
3      Jack    Wednesday    50
4      Jill       Monday    40
5      Jill    Wednesday   110
In[24]: df['no_cumulative'] = df.groupby(['name'])['no'].apply(lambda x: x.cumsum())
In[25]: print df
        name          day   no  no_cumulative
0      Jack       Monday    10             10
1      Jack      Tuesday    20             30
2      Jack      Tuesday    10             40
3      Jack    Wednesday    50             90
4      Jill       Monday    40             40
5      Jill    Wednesday   110            150

Checking the answer Id = 34130874 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 1)"]
----------------------------------------
----------------------------------------
22676081
Code to compile
import pandas as pd
left = pd.DataFrame({'key': ['foo', 'bar'], 'val': [1, 2]}).set_index('key')
right = pd.DataFrame({'key': ['foo', 'bar'], 'val': [4, 5]}).set_index('key')
left.join(right, lsuffix='_l', rsuffix='_r')

     val_l  val_r
key
foo      1      4
bar      2      5

Code to compile
left = pd.DataFrame({'key': ['foo', 'bar'], 'val': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'val': [4, 5]})
left.merge(right, on=('key'), suffixes=('_l', '_r'))

   key  val_l  val_r
0  foo      1      4
1  bar      2      5

Checking the answer Id = 22676213 | Errors = ['unexpected indent (<unknown>, line 6)', 'unexpected indent (<unknown>, line 5)']
Code to compile
left.join(right, on=key_or_keys)
pd.merge(left, right, left_on=key_or_keys, right_index=True, how='left', sort=False)

Checking the answer Id = 37891437 | Errors = ["name 'left' is not defined"]
----------------------------------------
----------------------------------------
22691010
Code to compile
grouped_df = df.groupby('A')

for key, item in grouped_df:
    print grouped_df.get_group(key), "\n\n"

Code to compile
grouped_df = df.groupby('A')
gb = grouped_df.groups

for key, values in gb.iteritems():
    print df.ix[values], "\n\n"

Code to compile
gb = grouped_df.groups
gb.keys()

key_list_from_gb = [key1, key2, key3]

for key, values in gb.iteritems():
    if key in key_list_from_gb:
        print df.ix[values], "\n"

Checking the answer Id = 36951842 | Errors = ['invalid syntax (<unknown>, line 4)', "Missing parentheses in call to 'print' (<unknown>, line 5)", "Missing parentheses in call to 'print' (<unknown>, line 8)"]
----------------------------------------
----------------------------------------
22697773
Code to compile
for y in agg.columns:
    if(agg[y].dtype == np.float64 or agg[y].dtype == np.int64):
          treat_numeric(agg[y])
    else:
          treat_str(agg[y])

Checking the answer Id = 22697903 | Errors = ["name 'agg' is not defined"]
Code to compile
df.select_dtypes(include=['float64']).apply(your_function)
df.select_dtypes(exclude=['string','object']).apply(your_other_function)

Checking the answer Id = 41816244 | Errors = ["name 'df' is not defined"]
Code to compile
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

is_string_dtype(df['A'])
>>>> True

is_numeric_dtype(df['B'])
>>>> True

Code to compile
for y in agg.columns:
    if (is_string_dtype(agg[y])):
        treat_str(agg[y])
    elif (is_numeric_dtype(agg[y])):
        treat_numeric(agg[y])

Checking the answer Id = 45568211 | Errors = ['invalid syntax (<unknown>, line 5)', "name 'agg' is not defined"]
----------------------------------------
----------------------------------------
22702760
Code to compile
df[["A", "B"]].multiply(df["C"], axis="index")

Checking the answer Id = 22702814 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
22720739
Code to compile
In [11]: df = pd.DataFrame([[1, 3], [2, 4]], columns=['A', 'B'])

In [12]: df2 = pd.DataFrame([[1, 5], [1, 6]], columns=['A', 'C'])

In [13]: df.merge(df2, how='left')  # merges on columns A
Out[13]:
   A  B   C
0  1  3   5
1  1  3   6
2  2  4 NaN

Code to compile
In [21]: df2.drop_duplicates(subset=['A'])  # you can use take_last=True
Out[21]:
   A  C
0  1  5

In [22]: df.merge(df2.drop_duplicates(subset=['A']), how='left')
Out[22]:
   A  B   C
0  1  3   5
1  2  4 NaN

Checking the answer Id = 22720823 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22787209
Code to compile
import pandas as pd
import matplotlib.cm as cm
import numpy as np
import matplotlib.pyplot as plt

def plot_clustered_stacked(dfall, labels=None, title="multiple stacked bar plot",  H="/", **kwargs):
    """Given a list of dataframes, with identical columns and index, create a clustered stacked bar plot.
labels is a list of the names of the dataframe, used for the legend
title is a string for the title of the plot
H is the hatch used for identification of the different dataframe"""

    n_df = len(dfall)
    n_col = len(dfall[0].columns)
    n_ind = len(dfall[0].index)
    axe = plt.subplot(111)

    for df in dfall : # for each data frame
        axe = df.plot(kind="bar",
                      linewidth=0,
                      stacked=True,
                      ax=axe,
                      legend=False,
                      grid=False,
                      **kwargs)  # make bar plots

    h,l = axe.get_legend_handles_labels() # get the handles we want to modify
    for i in range(0, n_df * n_col, n_col): # len(h) = n_col * n_df
        for j, pa in enumerate(h[i:i+n_col]):
            for rect in pa.patches: # for each index
                rect.set_x(rect.get_x() + 1 / float(n_df + 1) * i / float(n_col))
                rect.set_hatch(H * int(i / n_col)) #edited part
                rect.set_width(1 / float(n_df + 1))

    axe.set_xticks((np.arange(0, 2 * n_ind, 2) + 1 / float(n_df + 1)) / 2.)
    axe.set_xticklabels(df.index, rotation = 0)
    axe.set_title(title)

    # Add invisible data to add another legend
    n=[]
    for i in range(n_df):
        n.append(axe.bar(0, 0, color="gray", hatch=H * i))

    l1 = axe.legend(h[:n_col], l[:n_col], loc=[1.01, 0.5])
    if labels is not None:
        l2 = plt.legend(n, labels, loc=[1.01, 0.1])
    axe.add_artist(l1)
    return axe

# create fake dataframes
df1 = pd.DataFrame(np.random.rand(4, 5),
                   index=["A", "B", "C", "D"],
                   columns=["I", "J", "K", "L", "M"])
df2 = pd.DataFrame(np.random.rand(4, 5),
                   index=["A", "B", "C", "D"],
                   columns=["I", "J", "K", "L", "M"])
df3 = pd.DataFrame(np.random.rand(4, 5),
                   index=["A", "B", "C", "D"],
                   columns=["I", "J", "K", "L", "M"])

# Then, just call :
plot_clustered_stacked([df1, df2, df3],["df1", "df2", "df3"])

Code to compile
plot_clustered_stacked([df1, df2, df3],
                       ["df1", "df2", "df3"],
                       cmap=plt.cm.viridis)

Code to compile
df1["Name"] = "df1"
df2["Name"] = "df2"
df3["Name"] = "df3"
dfall = pd.concat([pd.melt(i.reset_index(),
                           id_vars=["Name", "index"]) # transform in tidy format each df
                   for i in [df1, df2, df3]],
                   ignore_index=True)

Code to compile
dfall.set_index(["Name", "index", "variable"], inplace=1)
dfall["vcs"] = dfall.groupby(level=["Name", "index"]).cumsum()
dfall.reset_index(inplace=True)

>>> dfall.head(6)
  Name index variable     value       vcs
0  df1     A        I  0.717286  0.717286
1  df1     B        I  0.236867  0.236867
2  df1     C        I  0.952557  0.952557
3  df1     D        I  0.487995  0.487995
4  df1     A        J  0.174489  0.891775
5  df1     B        J  0.332001  0.568868

Code to compile
c = ["blue", "purple", "red", "green", "pink"]
for i, g in enumerate(dfall.groupby("variable")):
    ax = sns.barplot(data=g[1],
                     x="index",
                     y="vcs",
                     hue="Name",
                     color=c[i],
                     zorder=-i, # so first bars stay on top
                     edgecolor="k")
ax.legend_.remove() # remove the redundant legends

Checking the answer Id = 22845857 | Errors = ["No module named 'matplotlib'", "name 'plot_clustered_stacked' is not defined", "name 'df1' is not defined", 'invalid syntax (<unknown>, line 5)', "name 'dfall' is not defined"]
----------------------------------------
----------------------------------------
22795348
Code to compile
# Read in the data from the stackoverflow question
df = pd.read_clipboard().iloc[1:]

# Convert it to "long-form" or "tidy" representation
df = pd.melt(df, id_vars=["date"], var_name="condition")

# Plot the average value by condition and date
ax = df.groupby(["condition", "date"]).mean().unstack("condition").plot()

# Get a reference to the x-points corresponding to the dates and the the colors
x = np.arange(len(df.date.unique()))
palette = sns.color_palette()

# Calculate the 25th and 75th percentiles of the data
# and plot a translucent band between them
for cond, cond_df in df.groupby("condition"):
    low = cond_df.groupby("date").value.apply(np.percentile, 25)
    high = cond_df.groupby("date").value.apply(np.percentile, 75)
    ax.fill_between(x, low, high, alpha=.2, color=palette.pop(0))

Checking the answer Id = 22798911 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
22798934
Code to compile
pivoted = df.pivot('salesman', 'product', 'price')

Checking the answer Id = 22799830 | Errors = ["name 'df' is not defined"]
Code to compile
df['idx'] = df.groupby('Salesman').cumcount()

Code to compile
print df.pivot(index='Salesman',columns='idx')[['product','price']]

        product              price
idx            0     1     2      0   1   2
Salesman
Knut         bat  ball  wand      5   1   3
Steve        pen   NaN   NaN      2 NaN NaN

Code to compile
df['prod_idx'] = 'product_' + df.idx.astype(str)
df['prc_idx'] = 'price_' + df.idx.astype(str)

product = df.pivot(index='Salesman',columns='prod_idx',values='product')
prc = df.pivot(index='Salesman',columns='prc_idx',values='price')

reshape = pd.concat([product,prc],axis=1)
reshape['Height'] = df.set_index('Salesman')['Height'].drop_duplicates()
print reshape

         product_0 product_1 product_2  price_0  price_1  price_2  Height
Salesman
Knut           bat      ball      wand        5        1        3       6
Steve          pen       NaN       NaN        2      NaN      NaN       5

Code to compile
df['idx'] = df.groupby('Salesman').cumcount()

tmp = []
for var in ['product','price']:
    df['tmp_idx'] = var + '_' + df.idx.astype(str)
    tmp.append(df.pivot(index='Salesman',columns='tmp_idx',values=var))

reshape = pd.concat(tmp,axis=1)

Code to compile
     +-------------------------------------------+
     | salesman   idx   height   product   price |
     |-------------------------------------------|
  1. |     Knut     0        6       bat       5 |
  2. |     Knut     1        6      ball       1 |
  3. |     Knut     2        6      wand       3 |
  4. |    Steve     0        5       pen       2 |
     +-------------------------------------------+

Code to compile
reshape wide product price, i(salesman) j(idx)

Checking the answer Id = 22799916 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 9)", "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
from StringIO import StringIO

raw = '''Salesman  Height   product      price
  Knut      6        bat          5
  Knut      6        ball         1
  Knut      6        wand         3
  Steve     5        pen          2'''
dff = pd.read_csv(StringIO(raw), sep='\s+')

print dff.set_index(['Salesman', 'Height', 'product']).unstack('product')

Code to compile
                price
product          ball bat pen wand
Salesman Height
Knut     6          1   5 NaN    3
Steve    5        NaN NaN   2  NaN

Checking the answer Id = 35087831 | Errors = ['invalid syntax (<unknown>, line 10)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22799300
Code to compile
>>> pd.DataFrame(out.tolist(), columns=['out-1','out-2'], index=out.index)
                  out-1     out-2
y
a   -1.9153853424536496  0.067433
b     1.277561889173181  0.213624
c  0.062021492729736116  0.951059
d    0.3036745009819999  0.763993

[4 rows x 2 columns]

Checking the answer Id = 22799358 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
out.apply(pd.Series)

Code to compile
out.columns=['Kstats','Pvalue']

Code to compile
out.index.name=None

Checking the answer Id = 36816769 | Errors = ["name 'out' is not defined", "name 'out' is not defined", "name 'out' is not defined"]
----------------------------------------
----------------------------------------
22825349
Code to compile
In [11]: ts = pd.Timestamp('2014-01-23 00:00:00', tz=None)

In [12]: ts.to_pydatetime()
Out[12]: datetime.datetime(2014, 1, 23, 0, 0)

Code to compile
In [13]: rng = pd.date_range('1/10/2011', periods=3, freq='D')

In [14]: rng.to_pydatetime()
Out[14]:
array([datetime.datetime(2011, 1, 10, 0, 0),
       datetime.datetime(2011, 1, 11, 0, 0),
       datetime.datetime(2011, 1, 12, 0, 0)], dtype=object)

Checking the answer Id = 22825954 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22833404
Code to compile
df = pd.DataFrame(np.random.rand(10, 4), columns=['a', 'b', 'c', 'd'])
ax = plt.figure(figsize=(10, 6)).add_subplot(111)
df.plot(ax=ax, kind='bar', legend=False)

bars = ax.patches
hatches = ''.join(h*len(df) for h in 'x/O.')


22840449
Checking the answer Id = 22840737 | Errors = []
----------------------------------------
----------------------------------------
22898824
Code to compile
df.ix['2014-01-01':'2014-02-01']

Checking the answer Id = 22898920 | Errors = ["name 'df' is not defined"]
Code to compile
import datetime
df.ix[datetime.date(year=2014,month=1,day=1):datetime.date(year=2014,month=2,day=1)]

Checking the answer Id = 35203658 | Errors = ["name 'df' is not defined"]
Code to compile
df[(df['date']>datetime.date(2016,1,1)) & (df['date']<datetime.date(2016,3,1))]

Code to compile
import datetime
datetime.datetime.strptime

Checking the answer Id = 41845355 | Errors = ["name 'df' is not defined", 'Sucess']
----------------------------------------
----------------------------------------
22918212
Checking the answer Id = 22918691 | Errors = []
Code to compile
df[~df.index.duplicated()]

Checking the answer Id = 33387356 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
22923775
Code to compile
import pandas
df = pandas.DataFrame(columns=['to','fr','ans'])
df.to = [pandas.Timestamp('2014-01-24 13:03:12.050000'), pandas.Timestamp('2014-01-27 11:57:18.240000'), pandas.Timestamp('2014-01-23 10:07:47.660000')]
df.fr = [pandas.Timestamp('2014-01-26 23:41:21.870000'), pandas.Timestamp('2014-01-27 15:38:22.540000'), pandas.Timestamp('2014-01-23 18:50:41.420000')]
(df.fr-df.to).astype('timedelta64[h]')

Code to compile
0    58
1     3
2     8
dtype: float64

Checking the answer Id = 22924683 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
22963263
Code to compile
d = pd.DataFrame(0, index=np.arange(len(data)), columns=feature_list)

Checking the answer Id = 22964673 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
22991567
----------------------------------------
----------------------------------------
23002762
Code to compile
sve2_all.loc[sve2_all['Hgtot ng/l'] > 100] = np.nan

Checking the answer Id = 23005564 | Errors = ["name 'np' is not defined"]
----------------------------------------
----------------------------------------
23103962
Code to compile
from sqlalchemy import create_engine
engine = create_engine('postgresql://scott:tiger@localhost:5432/mydatabase')
df.to_sql('table_name', engine)

Code to compile
import sql  # the patched version (file is named sql.py)
sql.write_frame(df, 'table_name', con, flavor='postgresql')

Checking the answer Id = 23104436 | Errors = ["No module named 'sqlalchemy'", "No module named 'sql'"]
----------------------------------------
----------------------------------------
23111990
Code to compile
>>> from ast import literal_eval
>>> literal_eval('[1.23, 2.34]')
[1.23, 2.34]

Checking the answer Id = 23112008 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23142967
Code to compile
df['dA'] = df['A'] - df['A'].shift(-1)

Checking the answer Id = 23143081 | Errors = ["name 'df' is not defined"]
Code to compile
>>> df = pd.DataFrame({"A": [9, 4, 2, 1], "B": [12, 7, 5, 4]})
>>> df["dA"] = df["A"].diff(-1)
>>> df
   A   B  dA
0  9  12   5
1  4   7   2
2  2   5   1
3  1   4 NaN

[4 rows x 3 columns]

Checking the answer Id = 23143110 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23145928
Code to compile
for index, row in df.iterrows():
    print row['Date']

Checking the answer Id = 23146038 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
----------------------------------------
----------------------------------------
23151246
Code to compile
row_iterator = df.iterrows()
_, last = row_iterator.next()  # take first item from row_iterator
for i, row in row_iterator:
    print(row['value'])
    print(last['value'])
    last = row

Code to compile
last = df.irow(0)
for i in range(1, df.shape[0]):
    print(last)
    print(df.irow(i))
    last = df.irow(i)

Checking the answer Id = 23151722 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
23178129
Code to compile
print df.index.min()
print df.index.max()

2014-03-13 00:00:00
2014-03-31 00:00:00

Checking the answer Id = 23178185 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23198053
Code to compile
In [60]: df['beyer_shifted'] = df.groupby(level=0)['beyer'].shift(1); df
Out[61]:
                  line_date  line_race  beyer  beyer_shifted
Last Gunfighter  2013-09-28         10     99            NaN
Last Gunfighter  2013-08-18         10    102             99
Last Gunfighter  2013-07-06          8    103            102
Paynter          2013-09-28         10    103            NaN
Paynter          2013-08-31         10     88            103
Paynter          2013-07-27          8    100             88

Checking the answer Id = 23198160 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23199796
Code to compile
df=pd.DataFrame({'Data':np.random.normal(size=200)})  #example dataset of normally distributed data.
df[np.abs(df.Data-df.Data.mean())<=(3*df.Data.std())] #keep only the ones that are within +3 to -3 standard deviations in the column 'Data'.
df[~(np.abs(df.Data-df.Data.mean())>(3*df.Data.std()))] #or if you prefer the other way around

Code to compile
S=pd.Series(np.random.normal(size=200))
S[~((S-S.mean()).abs()>3*S.std())]

Checking the answer Id = 23200666 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
Code to compile
df = pd.DataFrame(np.random.randn(100, 3))

from scipy import stats
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

Checking the answer Id = 23202269 | Errors = ["name 'pd' is not defined"]
Code to compile
df = pd.DataFrame(np.random.randn(100, 3), columns=list('ABC'))

df[df.apply(lambda x: np.abs(x - x.mean()) / x.std() < 3).all(axis=1)]

Code to compile
df[((df.B - df.B.mean()) / df.B.std()).abs() < 3]

Checking the answer Id = 31502974 | Errors = ["name 'pd' is not defined", "name 'df' is not defined"]
Code to compile
q = df["col"].quantile(0.99)

Code to compile
df[df["col"] < q]

Checking the answer Id = 43093390 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
23282130
Code to compile
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

df = pd.DataFrame(data=np.random.normal(0, 1, (20, 10)))

pca = PCA(n_components=5)
pca.fit(df)

Code to compile
pca.components_

Checking the answer Id = 23282290 | Errors = ["No module named 'sklearn'", "name 'pca' is not defined"]
----------------------------------------
----------------------------------------
23296282
Code to compile
df[df.C <= df.B].ix[:,'B':'E']

Code to compile
df.ix[df.C <= df.B, 'B':'E']

Checking the answer Id = 23296545 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
23307301
Code to compile
w['female'] = w['female'].map({'female': 1, 'male': 0})

Checking the answer Id = 23307361 | Errors = ["name 'w' is not defined"]
Code to compile
df.loc[<row selection>, <column selection>]

Code to compile
w.loc[w.female != 'female', 'female'] = 0
w.loc[w.female == 'female', 'female'] = 1

Checking the answer Id = 28541443 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'w' is not defined"]
Code to compile
w.female.replace(to_replace=dict(female=1, male=0), inplace=True)

Checking the answer Id = 36236885 | Errors = ["name 'w' is not defined"]
Code to compile
w.female.replace(['male', 'female'], [1, 0], inplace=True)

Checking the answer Id = 36957431 | Errors = ["name 'w' is not defined"]
----------------------------------------
----------------------------------------
23317342
Code to compile
foo = lambda x: pd.Series([i for i in reversed(x.split(','))])
rev = df['City, State, Country'].apply(foo)
print rev

      0    1        2
0   HUN  NaN      NaN
1   ESP  NaN      NaN
2   GBR  NaN      NaN
3   ESP  NaN      NaN
4   FRA  NaN      NaN
5   USA   ID      NaN
6   USA   GA      NaN
7   USA   NJ  Hoboken
8   USA   NJ      NaN
9   AUS  NaN      NaN

Code to compile
rev.rename(columns={0:'Country',1:'State',2:'City'},inplace=True)
rev = rev[['City','State','Country']]
print rev

     City State Country
0      NaN   NaN     HUN
1      NaN   NaN     ESP
2      NaN   NaN     GBR
3      NaN   NaN     ESP
4      NaN   NaN     FRA
5      NaN    ID     USA
6      NaN    GA     USA
7  Hoboken    NJ     USA
8      NaN    NJ     USA
9      NaN   NaN     AUS

Checking the answer Id = 23317595 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 3)", "Missing parentheses in call to 'print' (<unknown>, line 3)"]
----------------------------------------
----------------------------------------
23330654
Checking the answer Id = 23331659 | Errors = []
Code to compile
for i, row in df.iterrows():
  ifor_val = something
  if <condition>:
    ifor_val = something_else
  df.set_value(i,'ifor',ifor_val)

Checking the answer Id = 29262040 | Errors = ['invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
23354124
Code to compile
# value_name is 'value' by default, but setting it here to make it clear
pd.melt(x, id_vars=['farm', 'fruit'], var_name='year', value_name='value')

Code to compile
  farm  fruit  year  value
0    A  apple  2014     10
1    B  apple  2014     12
2    A   pear  2014      6
3    B   pear  2014      8
4    A  apple  2015     11
5    B  apple  2015     13
6    A   pear  2015      7
7    B   pear  2015      9

[8 rows x 4 columns]

Checking the answer Id = 23354240 | Errors = ["name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23377108
Code to compile
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
               'office_id': list(range(1, 7)) * 2,
               'sales': [np.random.randint(100000, 999999) for _ in range(12)]})

state_office = df.groupby(['state', 'office_id']).agg({'sales': 'sum'})
state = df.groupby(['state']).agg({'sales': 'sum'})
state_office.div(state, level='state') * 100


                     sales
state office_id
AZ    2          16.981365
      4          19.250033
      6          63.768601
CA    1          19.331879
      3          33.858747
      5          46.809373
CO    1          36.851857
      3          19.874290
      5          43.273852
WA    2          34.707233
      4          35.511259
      6          29.781508

Checking the answer Id = 23377155 | Errors = ['unexpected indent (<unknown>, line 13)']
Code to compile
# From Paul H
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
                   'office_id': list(range(1, 7)) * 2,
                   'sales': [np.random.randint(100000, 999999)
                             for _ in range(12)]})
state_office = df.groupby(['state', 'office_id']).agg({'sales': 'sum'})
# Change: groupby state_office and divide by sum
state_pcts = state_office.groupby(level=0).apply(lambda x:
                                                 100 * x / float(x.sum()))

Code to compile
                     sales
state office_id
AZ    2          16.981365
      4          19.250033
      6          63.768601
CA    1          19.331879
      3          33.858747
      5          46.809373
CO    1          36.851857
      3          19.874290
      5          43.273852
WA    2          34.707233
      4          35.511259
      6          29.781508

Checking the answer Id = 23377232 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23394476
Code to compile
>>> df.loc[df.groupby("item")["diff"].idxmin()]
   item  diff  otherstuff
1     1     1           2
6     2    -6           2
7     3     0           0

[3 rows x 3 columns]

Code to compile
>>> df.sort("diff").groupby("item", as_index=False).first()
   item  diff  otherstuff
0     1     1           2
1     2    -6           2
2     3     0           0

[3 rows x 3 columns]

Checking the answer Id = 23394706 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23415500
Code to compile
%pylab inline
import pandas as pd
import matplotlib.pyplot as plt

df2 = df.groupby(['Name', 'Abuse/NFF'])['Name'].count().unstack('Abuse/NFF').fillna(0)
df2[['abuse','nff']].plot(kind='bar', stacked=True)

Checking the answer Id = 23428804 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23450735
----------------------------------------
----------------------------------------
23451244
Code to compile
df['zscore'] = (df.a - df.a.mean())/df.a.std(ddof=0)
print df

        a    zscore
0     NaN       NaN
1  0.0767 -1.148329
2  0.4383  0.071478
3  0.7866  1.246419
4  0.8091  1.322320
5  0.1954 -0.747912
6  0.6307  0.720512
7  0.6599  0.819014
8  0.1065 -1.047803
9  0.0508 -1.235699

Checking the answer Id = 23451304 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
----------------------------------------
----------------------------------------
23455728
Code to compile
def balanced_subsample(x,y,subsample_size=1.0):

    class_xs = []
    min_elems = None

    for yi in np.unique(y):
        elems = x[(y == yi)]
        class_xs.append((yi, elems))
        if min_elems == None or elems.shape[0] < min_elems:
            min_elems = elems.shape[0]

    use_elems = min_elems
    if subsample_size < 1:
        use_elems = int(min_elems*subsample_size)

    xs = []
    ys = []

    for ci,this_xs in class_xs:
        if len(this_xs) > use_elems:
            np.random.shuffle(this_xs)

        x_ = this_xs[:use_elems]
        y_ = np.empty(use_elems)
        y_.fill(ci)

        xs.append(x_)
        ys.append(y_)

    xs = np.concatenate(xs)
    ys = np.concatenate(ys)

    return xs,ys

Checking the answer Id = 23479973 | Errors = ['Sucess']
Code to compile
import numpy as np

def balanced_subsample(y, size=None):

    subsample = []

    if size is None:
        n_smp = y.value_counts().min()
    else:
        n_smp = int(size / len(y.value_counts().index))

    for label in y.value_counts().index:
        samples = y[y == label].index.values
        index_range = range(samples.shape[0])
        indexes = np.random.choice(index_range, size=n_smp, replace=False)
        subsample += samples[indexes].tolist()

    return subsample

Checking the answer Id = 38440332 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
23482668
Code to compile
import pandas as pd

# Create DataFrame
df = pd.DataFrame(
{'id':[2967, 5335, 13950, 6141, 6169],\
 'Player': ['Cedric Hunter', 'Maurice Baker' ,\
            'Ratko Varda' ,'Ryan Bowen' ,'Adrian Caldwell'],\
 'Year': [1991 ,2004 ,2001 ,2009 ,1997],\
 'Age': [27 ,25 ,22 ,34 ,31],\
 'Tm':['CHH' ,'VAN' ,'TOT' ,'OKC' ,'DAL'],\
 'G':[6 ,7 ,60 ,52 ,81]})

# Define the sorter
sorter = ['TOT', 'ATL', 'BOS', 'BRK', 'CHA', 'CHH', 'CHI', 'CLE', 'DAL','DEN',\
          'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL',\
          'MIN', 'NJN', 'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI',\
          'PHO', 'POR', 'SAC', 'SAS', 'SEA', 'TOR', 'UTA', 'VAN',\
          'WAS', 'WSB']

# Create the dictionary that defines the order for sorting
sorterIndex = dict(zip(sorter,range(len(sorter))))

# Generate a rank column that will be used to sort
# the dataframe numerically
df['Tm_Rank'] = df['Tm'].map(sorterIndex)

# Here is the result asked with the lexicographic sort
# Result may be hard to analyze, so a second sorting is
# proposed next
df.sort(['Player', 'Year', 'Tm_Rank'], \
        ascending = [True, True, True], inplace = True)
df.drop('Tm_Rank', 1, inplace = True)
print(df)

# Here is an example where 'Tm' is sorted first, that will
# give the first row of the DataFrame df to contain TOT as 'Tm'
df['Tm_Rank'] = df['Tm'].map(sorterIndex)
df.sort(['Tm_Rank', 'Player', 'Year'], \
        ascending = [True , True, True], inplace = True)
df.drop('Tm_Rank', 1, inplace = True)
print(df)

Checking the answer Id = 23483221 | Errors = ["'DataFrame' object has no attribute 'sort'"]
Code to compile
import pandas as pd

# Create DataFrame
df = pd.DataFrame(
{'id':[2967, 5335, 13950, 6141, 6169],\
 'Player': ['Cedric Hunter', 'Maurice Baker' ,\
            'Ratko Varda' ,'Ryan Bowen' ,'Adrian Caldwell'],\
 'Year': [1991 ,2004 ,2001 ,2009 ,1997],\
 'Age': [27 ,25 ,22 ,34 ,31],\
 'Tm':['CHH' ,'VAN' ,'TOT' ,'OKC' ,'DAL'],\
 'G':[6 ,7 ,60 ,52 ,81]})

# Define the sorter
sorter = ['TOT', 'ATL', 'BOS', 'BRK', 'CHA', 'CHH', 'CHI', 'CLE', 'DAL','DEN',\
          'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL',\
          'MIN', 'NJN', 'NOH', 'NOK', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI',\
          'PHO', 'POR', 'SAC', 'SAS', 'SEA', 'TOR', 'UTA', 'VAN',\
          'WAS', 'WSB']

Code to compile
# Convert Tm-column to category and in set the sorter as categories hierarchy
# Youc could also do both lines in one just appending the cat.set_categories()
df.Tm = df.Tm.astype("category")
df.Tm.cat.set_categories(sorter, inplace=True)

print(df.Tm)
Out[48]:
0    CHH
1    VAN
2    TOT
3    OKC
4    DAL
Name: Tm, dtype: category
Categories (38, object): [TOT < ATL < BOS < BRK ... UTA < VAN < WAS < WSB]

df.sort_values(["Tm"])  ## 'sort' changed to 'sort_values'
Out[49]:
   Age   G           Player   Tm  Year     id
2   22  60      Ratko Varda  TOT  2001  13950
0   27   6    Cedric Hunter  CHH  1991   2967
4   31  81  Adrian Caldwell  DAL  1997   6169
3   34  52       Ryan Bowen  OKC  2009   6141
1   25   7    Maurice Baker  VAN  2004   5335

Checking the answer Id = 27255567 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 7)']
----------------------------------------
----------------------------------------
23508351
Code to compile
print df

    company       date  measure
0         0 2010-01-01       10
1         0 2010-01-15       10
2         0 2010-02-01       10
3         0 2010-02-15       10
4         0 2010-03-01       10
5         0 2010-03-15       10
6         0 2010-04-01       10
7         1 2010-03-01        5
8         1 2010-03-15        5
9         1 2010-04-01        5
10        1 2010-04-15        5
11        1 2010-05-01        5
12        1 2010-05-15        5

print windows

   company   end_date
0        0 2010-02-01
1        0 2010-03-15
2        1 2010-04-01
3        1 2010-05-15

Code to compile
windows['beg_date'] = (windows['end_date'].values.astype('datetime64[D]') -
                       np.timedelta64(30,'D'))
print windows

   company   end_date   beg_date
0        0 2010-02-01 2010-01-02
1        0 2010-03-15 2010-02-13
2        1 2010-04-01 2010-03-02
3        1 2010-05-15 2010-04-15

Code to compile
df = df.merge(windows,on='company',how='left')
df = df[(df.date >= df.beg_date) & (df.date <= df.end_date)]
print df

    company       date  measure   end_date   beg_date
2         0 2010-01-15       10 2010-02-01 2010-01-02
4         0 2010-02-01       10 2010-02-01 2010-01-02
7         0 2010-02-15       10 2010-03-15 2010-02-13
9         0 2010-03-01       10 2010-03-15 2010-02-13
11        0 2010-03-15       10 2010-03-15 2010-02-13
16        1 2010-03-15        5 2010-04-01 2010-03-02
18        1 2010-04-01        5 2010-04-01 2010-03-02
21        1 2010-04-15        5 2010-05-15 2010-04-15
23        1 2010-05-01        5 2010-05-15 2010-04-15
25        1 2010-05-15        5 2010-05-15 2010-04-15

Code to compile
print df.groupby(['company','end_date']).sum()

                    measure
company end_date
0       2010-02-01       20
        2010-03-15       30
1       2010-04-01       10
        2010-05-15       15

Code to compile
windows['beg_date'] = (windows['end_date'].values.astype('datetime64[D]') -
                       np.timedelta64(30,'D'))

def cond_merge(g,windows):
    g = g.merge(windows,on='company',how='left')
    g = g[(g.date >= g.beg_date) & (g.date <= g.end_date)]
    return g.groupby('end_date')['measure'].sum()

print df.groupby('company').apply(cond_merge,windows)

company  end_date
0        2010-02-01    20
         2010-03-15    30
1        2010-04-01    10
         2010-05-15    15

Code to compile
windows['date'] = windows['end_date']

df = df.merge(windows,on=['company','date'],how='outer')
print df

    company       date  measure   end_date
0         0 2010-01-01       10        NaT
1         0 2010-01-15       10        NaT
2         0 2010-02-01       10 2010-02-01
3         0 2010-02-15       10        NaT
4         0 2010-03-01       10        NaT
5         0 2010-03-15       10 2010-03-15
6         0 2010-04-01       10        NaT
7         1 2010-03-01        5        NaT
8         1 2010-03-15        5        NaT
9         1 2010-04-01        5 2010-04-01
10        1 2010-04-15        5        NaT
11        1 2010-05-01        5        NaT
12        1 2010-05-15        5 2010-05-15

Code to compile
df['end_date'] = df.groupby('company')['end_date'].apply(lambda x: x.bfill())

print df

    company       date  measure   end_date
0         0 2010-01-01       10 2010-02-01
1         0 2010-01-15       10 2010-02-01
2         0 2010-02-01       10 2010-02-01
3         0 2010-02-15       10 2010-03-15
4         0 2010-03-01       10 2010-03-15
5         0 2010-03-15       10 2010-03-15
6         0 2010-04-01       10        NaT
7         1 2010-03-01        5 2010-04-01
8         1 2010-03-15        5 2010-04-01
9         1 2010-04-01        5 2010-04-01
10        1 2010-04-15        5 2010-05-15
11        1 2010-05-01        5 2010-05-15
12        1 2010-05-15        5 2010-05-15

df = df[df.end_date.notnull()]
df['beg_date'] = (df['end_date'].values.astype('datetime64[D]') -
                   np.timedelta64(30,'D'))

print df

   company       date  measure   end_date   beg_date
0         0 2010-01-01       10 2010-02-01 2010-01-02
1         0 2010-01-15       10 2010-02-01 2010-01-02
2         0 2010-02-01       10 2010-02-01 2010-01-02
3         0 2010-02-15       10 2010-03-15 2010-02-13
4         0 2010-03-01       10 2010-03-15 2010-02-13
5         0 2010-03-15       10 2010-03-15 2010-02-13
7         1 2010-03-01        5 2010-04-01 2010-03-02
8         1 2010-03-15        5 2010-04-01 2010-03-02
9         1 2010-04-01        5 2010-04-01 2010-03-02
10        1 2010-04-15        5 2010-05-15 2010-04-15
11        1 2010-05-01        5 2010-05-15 2010-04-15
12        1 2010-05-15        5 2010-05-15 2010-04-15

df = df[(df.date >= df.beg_date) & (df.date <= df.end_date)]
print df.groupby(['company','end_date']).sum()

                    measure
company end_date
0       2010-02-01       20
        2010-03-15       30
1       2010-04-01       10
        2010-05-15       15

Checking the answer Id = 23509622 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 1)", "Missing parentheses in call to 'print' (<unknown>, line 3)", "Missing parentheses in call to 'print' (<unknown>, line 3)", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 9)', "Missing parentheses in call to 'print' (<unknown>, line 4)", "Missing parentheses in call to 'print' (<unknown>, line 3)"]
----------------------------------------
----------------------------------------
23519135
Code to compile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.DataFrame({ "A":np.random.normal(0.8,0.2,20),
                      "B":np.random.normal(0.8,0.1,20),
                      "C":np.random.normal(0.9,0.1,20)} )

data.boxplot()

for i,d in enumerate(data):
    y = data[d]
    x = np.random.normal(i+1, 0.04, len(y))
    plt.plot(x, y, mfc = ["orange","blue","yellow"][i], mec='k', ms=7, marker="o", linestyle="None")

plt.hlines(1,0,4,linestyle="--")

Code to compile
import numpy as np
import matplotlib.pyplot as plt

a = np.random.normal(0,2,1000)
b = np.random.normal(-2,7,100)
data = [a,b]

plt.boxplot(data) # Or you can use the boxplot from Pandas

for i in [1,2]:
    y = data[i-1]
    x = np.random.normal(i, 0.02, len(y))
    plt.plot(x, y, 'r.', alpha=0.2)

Checking the answer Id = 23696169 | Errors = ["No module named 'matplotlib'", "No module named 'matplotlib'"]
Code to compile
import seaborn as sns
tips = sns.load_dataset("tips")
sns.boxplot(x="day", y="total_bill", data=tips)
sns.stripplot(x="day", y="total_bill", data=tips,
              size=4, jitter=True, edgecolor="gray")

Checking the answer Id = 28565940 | Errors = ["No module named 'seaborn'"]
----------------------------------------
----------------------------------------
23521511
Code to compile
series = [pd.Series(mat[name][:, 1]) for name in Variables]
df = pd.concat(series, axis=1)

Checking the answer Id = 23522030 | Errors = ["name 'Variables' is not defined"]
Code to compile
series = pd.Series([1,2], index=['a','b'])
df = pd.DataFrame([series])

Code to compile
cols = ['a','b']
list_of_series = [pd.Series([1,2],index=cols), pd.Series([3,4],index=cols)]
df = pd.DataFrame(list_of_series, columns=cols)

Code to compile
list_of_series = [pd.Series([1,2],index=['a','b']), pd.Series([3,4],index=['a','c'])]
df = pd.concat(list_of_series, axis=1).transpose()

Checking the answer Id = 31097813 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
23543909
Code to compile
In [2]: pd.to_timedelta(np.arange(5),unit='d')+pd.to_timedelta(1,unit='s')
Out[2]:
0   0 days, 00:00:01
1   1 days, 00:00:01
2   2 days, 00:00:01
3   3 days, 00:00:01
4   4 days, 00:00:01
dtype: timedelta64[ns]

Code to compile
In [3]: (pd.to_timedelta(np.arange(5),unit='d')+pd.to_timedelta(1,unit='s')).astype('timedelta64[s]')
Out[3]:
0         1
1     86401
2    172801
3    259201
4    345601
dtype: float64

Code to compile
In [4]: (pd.to_timedelta(np.arange(5),unit='d')+pd.to_timedelta(1,unit='s')).astype('timedelta64[D]')
Out[4]:
0    0
1    1
2    2
3    3
4    4
dtype: float64

Code to compile
In [5]: (pd.to_timedelta(np.arange(5),unit='d')+pd.to_timedelta(1,unit='s')) / np.timedelta64(1,'D')
Out[5]:
0    0.000012
1    1.000012
2    2.000012
3    3.000012
4    4.000012
dtype: float64

Checking the answer Id = 23544011 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23549231
Code to compile
'g' in df.index

Checking the answer Id = 23549599 | Errors = ["name 'df' is not defined"]
Code to compile
g in df.<your selected field>.values
g in df.index.values

Checking the answer Id = 26721808 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23550056
Code to compile
# fails
import matplotlib.pylab
%matplotlib inline

import pandas
ser = pandas.Series(range(10), pandas.date_range(end='2014-01-01', periods=10))
ser.plot()

Code to compile
# succeeds
%matplotlib inline # moved up
import matplotlib.pylab

import pandas
ser = pandas.Series(range(10), pandas.date_range(end='2014-01-01', periods=10))
ser.plot()

Checking the answer Id = 25060811 | Errors = ['invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
23600582
Code to compile
dict = {'ABC' : df1, 'XYZ' : df2}
print pd.concat(dict.values(),axis=1,keys=dict.keys())


                XYZ                                          ABC           \
               Open     High      Low    Close   Volume     Open     High
Date
2002-01-17  0.18077  0.18800  0.16993  0.18439  1720833  0.18077  0.18800
2002-01-18  0.18439  0.21331  0.18077  0.19523  2027866  0.18439  0.21331
2002-01-21  0.19523  0.20970  0.19162  0.20608   771149  0.19523  0.20970


                Low    Close   Volume
Date
2002-01-17  0.16993  0.18439  1720833
2002-01-18  0.18077  0.19523  2027866
2002-01-21  0.19162  0.20608   771149

Code to compile
print pd.concat([df1,df2],axis=1,keys=['ABC','XYZ'])

Code to compile
print(pd.concat( list(dict.values()), axis=1, list(keys=dict.keys()) ))

Checking the answer Id = 23600844 | Errors = ['invalid syntax (<unknown>, line 2)', 'invalid syntax (<unknown>, line 1)', 'positional argument follows keyword argument (<unknown>, line 1)']
----------------------------------------
----------------------------------------
23667369
Code to compile
import pandas as pd
df = pd.DataFrame({"A":["foo", "foo", "foo", "bar"], "B":[0,1,1,1], "C":["A","A","B","A"]})
df.groupby(["A", "C"]).filter(lambda df:df.shape[0] == 1)

Checking the answer Id = 23709208 | Errors = ['Sucess']
Code to compile
import pandas as pd
df = pd.DataFrame({"A":["foo", "foo", "foo", "bar"], "B":[0,1,1,1], "C":["A","A","B","A"]})
df.drop_duplicates(subset=['A', 'C'], keep=False)

Checking the answer Id = 34272155 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
23668427
Code to compile
# Merge multiple dataframes
df1 = pd.DataFrame(np.array([
    ['a', 5, 9],
    ['b', 4, 61],
    ['c', 24, 9]]),
    columns=['name', 'attr11', 'attr12'])
df2 = pd.DataFrame(np.array([
    ['a', 5, 19],
    ['b', 14, 16],
    ['c', 4, 9]]),
    columns=['name', 'attr21', 'attr22'])
df3 = pd.DataFrame(np.array([
    ['a', 15, 49],
    ['b', 4, 36],
    ['c', 14, 9]]),
    columns=['name', 'attr31', 'attr32'])

pd.merge(pd.merge(df1,df2,on='name'),df3,on='name')

Code to compile
df1.merge(df2,on='name').merge(df3,on='name')

Checking the answer Id = 23671390 | Errors = ["name 'pd' is not defined", "name 'df1' is not defined"]
Code to compile
import pandas as pd

Code to compile
dfs = [df0, df1, df2, dfN]

Code to compile
df_final = reduce(lambda left,right: pd.merge(left,right,on='name'), dfs)

Checking the answer Id = 30512931 | Errors = ['Sucess', "name 'df0' is not defined", "name 'reduce' is not defined"]
----------------------------------------
----------------------------------------
23691133
Code to compile
gb = df.groupby('ZZ')
[gb.get_group(x) for x in gb.groups]

Checking the answer Id = 23691168 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
23731564
Code to compile
Index([u'?Date', u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object')

Checking the answer Id = 23732825 | Errors = ["name 'Index' is not defined"]
Code to compile
df = pd.read_csv('values.csv', delimiter=',', encoding="utf-8-sig")

Checking the answer Id = 23733522 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
23743460
Code to compile
from pandas import DataFrame
from numpy import nan
DataFrame().fillna(value=nan, inplace=True)

Code to compile

24123498
Code to compile
class RandomForestClassifierWithCoef(RandomForestClassifier):
    def fit(self, *args, **kwargs):
        super(RandomForestClassifierWithCoef, self).fit(*args, **kwargs)
        self.coef_ = self.feature_importances_

Code to compile
y=(pd.Series(iris.target, name='target')==2).astype(int)

Code to compile
from sklearn import datasets
import pandas as pd
from pandas import Series
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFECV

class RandomForestClassifierWithCoef(RandomForestClassifier):
    def fit(self, *args, **kwargs):
        super(RandomForestClassifierWithCoef, self).fit(*args, **kwargs)
        self.coef_ = self.feature_importances_

iris = datasets.load_iris()
x=pd.DataFrame(iris.data, columns=['var1','var2','var3', 'var4'])
y=(pd.Series(iris.target, name='target')==2).astype(int)
rf = RandomForestClassifierWithCoef(n_estimators=500, min_samples_leaf=5, n_jobs=-1)
rfecv = RFECV(estimator=rf, step=1, cv=2, scoring='roc_auc', verbose=2)
selector=rfecv.fit(x, y)

Checking the answer Id = 25454051 | Errors = ["name 'RandomForestClassifier' is not defined", "name 'pd' is not defined", "No module named 'sklearn'"]
----------------------------------------
----------------------------------------
24147278
Code to compile
In [11]: df = pd.DataFrame(np.random.randn(100, 2))

In [12]: msk = np.random.rand(len(df)) < 0.8

In [13]: train = df[msk]

In [14]: test = df[~msk]

Code to compile
In [15]: len(test)
Out[15]: 21

In [16]: len(train)
Out[16]: 79

Checking the answer Id = 24147363 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2)

Checking the answer Id = 24151789 | Errors = ["No module named 'sklearn'"]
Code to compile
from sklearn.cross_validation import train_test_split


y = df.pop('output')
X = df

X_train,X_test,y_train,y_test = train_test_split(X.index,y,test_size=0.2)
X.iloc[X_train] # return dataframe train

Checking the answer Id = 30454743 | Errors = ["No module named 'sklearn'"]
Code to compile
train=df.sample(frac=0.8,random_state=200)
test=df.drop(train.index)

Checking the answer Id = 35531218 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
24193174
Code to compile
def set_color_cycle(self, clist=None):
    if clist is None:
        clist = rcParams['axes.color_cycle']
    self.color_cycle = itertools.cycle(clist

Code to compile
def set_color_cycle(self, clist):
    """
    Set the color cycle for any future plot commands on this Axes.

    *clist* is a list of mpl color specifiers.
    """
    self._get_lines.set_color_cycle(clist)
    self._get_patches_for_fill.set_color_cycle(clist)

Code to compile
import matplotlib.pyplot as plt
import numpy as np

for i in range(3):
    plt.plot(np.arange(10) + i)

plt.gca().set_color_cycle(None)

for i in range(3):
    plt.plot(np.arange(10, 1, -1) + i)

plt.show()

Checking the answer Id = 24283087 | Errors = ['unexpected EOF while parsing (<unknown>, line 4)', 'Sucess', "No module named 'matplotlib'"]
Code to compile
import matplotlib.pyplot as plt
import numpy as np

for i in range(3):
    plt.plot(np.arange(10) + i)

plt.gca().set_prop_cycle(None)

for i in range(3):
    plt.plot(np.arange(10, 0, -1) + i)

plt.show()

Checking the answer Id = 39116381 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
24195432
Code to compile
>>> from pandas.stats.plm import PanelOLS
>>> df

                y    x
date       id
2012-01-01 1   0.1  0.2
           2   0.3  0.5
           3   0.4  0.8
           4   0.0  0.2
2012-02-01 1   0.2  0.7
           2   0.4  0.5
           3   0.2  0.3
           4   0.1  0.1
2012-03-01 1   0.6  0.9
           2   0.7  0.5
           3   0.9  0.6
           4   0.4  0.5

Code to compile
>>> reg  = PanelOLS(y=df['y'],x=df[['x']],time_effects=True)
>>> reg

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <x>

Number of Observations:         12
Number of Degrees of Freedom:   4

R-squared:         0.2729
Adj R-squared:     0.0002

Rmse:              0.1588

F-stat (1, 8):     1.0007, p-value:     0.3464

Degrees of Freedom: model 3, resid 8

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
             x     0.3694     0.2132       1.73     0.1214    -0.0485     0.7872
---------------------------------End of Summary---------------------------------

Code to compile
PanelOLS(self, y, x, weights = None, intercept = True, nw_lags = None,
entity_effects = False, time_effects = False, x_effects = None,
cluster = None, dropped_dummies = None, verbose = False,
nw_overlap = False)

Implements panel OLS.

See ols function docs

Checking the answer Id = 24196288 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 6)']
----------------------------------------
----------------------------------------
24203106
Code to compile
grouped = (df
    .groupby('col1')
    .apply(lambda g:               # work on groups of col1
        g.set_index('date')
        [['amount']]
        .resample('W', how='sum')  # sum the amount field across weeks
    )
    .unstack(level=0)              # pivot the col1 index rows to columns
    .fillna(0)
)
grouped.columns=grouped.columns.droplevel()   # drop the 'col1' part of the multi-index column names
print grouped
grouped.plot(kind='bar')

Code to compile
col1         A   B   C   D   E   F   G   H
date
2013-11-03  18  0   9   0   8   0   0   4
2013-11-10  4   11  0   1   16  2   15  2
2013-11-17  10  14  19  8   13  6   9   8
2013-11-24  10  13  13  0   0   13  15  10
2013-12-01  6   3   19  8   8   17  8   12
2013-12-08  5   15  5   7   12  0   11  8
2013-12-15  8   6   11  11  0   16  6   14
2013-12-22  16  3   13  8   8   11  15  0
2013-12-29  1   3   6   10  7   7   17  15
2014-01-05  12  7   10  11  6   0   1   12
2014-01-12  13  0   17  0   23  0   10  12
2014-01-19  10  9   2   3   8   1   18  3
2014-01-26  24  9   8   1   19  10  0   3
2014-02-02  1   6   16  0   0   10  8   13

Checking the answer Id = 27802006 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 12)", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24216425
Code to compile
In [55]:

import pandas as pd
equiv = {7001:1, 8001:2, 9001:3}
df = pd.DataFrame( {"A": [7001, 8001, 9001]} )
df["B"] = df["A"].map(equiv)
print(df)
      A  B
0  7001  1
1  8001  2
2  9001  3

[3 rows x 2 columns]

Code to compile
In [56]:

import pandas as pd
equiv = {7001:1, 8001:2, 9001:3}
df = pd.DataFrame( {"A": [7001, 8001, 9001, 10000]} )
df["B"] = df["A"].map(equiv)
print(df)
       A   B
0   7001   1
1   8001   2
2   9001   3
3  10000 NaN

[4 rows x 2 columns]

Checking the answer Id = 24216489 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24251219
Code to compile
dashboard_df = pd.read_csv(p_file, sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

Checking the answer Id = 24251426 | Errors = ["name 'pd' is not defined"]
Code to compile
dtype={'user_id': int}

Code to compile
import pandas as pd
from StringIO import StringIO


csvdata = """user_id,username
1,Alice
3,Bob
foobar,Caesar"""
sio = StringIO(csvdata)
pd.read_csv(sio, dtype={"user_id": int, "username": object})

ValueError: invalid literal for long() with base 10: 'foobar'

Checking the answer Id = 27232309 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 12)']
Code to compile
df = pd.read_csv('somefile.csv', low_memory=False)

Checking the answer Id = 33161955 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
24273130
Code to compile
In [11]: df = pd.DataFrame([[1, 2], [3, 4]], ['a', 'b'], ['A', 'B'])

In [12]: df
Out[12]:
   A  B
a  1  2
b  3  4

In [13]: df.iloc[0]  # first row in a DataFrame
Out[13]:
A    1
B    2
Name: a, dtype: int64

In [14]: df['A'].iloc[0]  # first item in a Series (Column)
Out[14]: 1

Checking the answer Id = 24273597 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24284342
Code to compile
>>> pd.DataFrame(np.array([[2, 3, 4]]), columns=['A', 'B', 'C']).append(df, ignore_index=True)
Out[330]:
   A  B  C
0  2  3  4
1  5  6  7
2  7  8  9

Code to compile
>>> index = np.array([0, 1, 2])
>>> df2 = pd.DataFrame(columns=['A', 'B', 'C'], index=index)
>>> df2.loc[0:1] = [list(s1), list(s2)]
>>> df2
Out[336]:
     A    B    C
0    5    6    7
1    7    8    9
2  NaN  NaN  NaN
>>> df2 = pd.DataFrame(columns=['A', 'B', 'C'], index=index)
>>> df2.loc[1:] = [list(s1), list(s2)]

Code to compile
>>> df2
Out[339]:
     A    B    C
0  NaN  NaN  NaN
1    5    6    7
2    7    8    9

Code to compile
>>> df2.loc[0] = np.array([2, 3, 4])
>>> df2
Out[341]:
   A  B  C
0  2  3  4
1  5  6  7
2  7  8  9

Checking the answer Id = 24284515 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
 df.loc[-1] = [2, 3, 4]  # adding a row
 df.index = df.index + 1  # shifting index
 df = df.sort()  # sorting by index

Code to compile
    A  B  C
 0  2  3  4
 1  5  6  7
 2  7  8  9

Checking the answer Id = 24284680 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Code to compile
>>>df2 = pd.DataFrame([[2,3,4]],columns=['A','B','C'])
>>>pd.concat([df2,df])

Checking the answer Id = 24287210 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24386638
Code to compile
frame['c'] = frame.fillna(0)['a'] + frame.fillna(0)['b']

Code to compile
frame['c'] = frame.a.fillna(0) + frame.b.fillna(0)

Code to compile
    a   b  c
0   1   3  4
1   2 NaN  2
2 NaN   4  4

Checking the answer Id = 24386746 | Errors = ["name 'frame' is not defined", "name 'frame' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
>>> frame["c"] = frame[["a", "b"]].sum(axis=1)
>>> frame
    a   b  c
0   1   3  4
1   2 NaN  2
2 NaN   4  4

Checking the answer Id = 24387164 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24408557
Code to compile
df = psql.read_sql(('select "Timestamp","Value" from "MyTable" '
                     'where "Timestamp" BETWEEN %(dstart)s AND %(dfinish)s'),
                   db,params={"dstart":datetime(2014,6,24,16,0),"dfinish":datetime(2014,6,24,17,0)},
                   index_col=['Timestamp'])

Checking the answer Id = 24418294 | Errors = ["name 'psql' is not defined"]
----------------------------------------
----------------------------------------
24435788
Code to compile
df.loc[('at', [1,3,4]), 'Dwell']

Checking the answer Id = 24436783 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
24458645
Code to compile
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

# Create some toy data in a Pandas dataframe
fruit_data = pd.DataFrame({
    'fruit':  ['apple','orange','pear','orange'],
    'color':  ['red','orange','green','green'],
    'weight': [5,6,3,4]
})

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

Code to compile
MultiColumnLabelEncoder(columns = ['fruit','color']).fit_transform(fruit_data)

Code to compile
MultiColumnLabelEncoder().fit_transform(fruit_data.drop('weight',axis=1))

Code to compile
encoding_pipeline = Pipeline([
    ('encoding',MultiColumnLabelEncoder(columns=['fruit','color']))
    # add more pipeline steps as needed
])
encoding_pipeline.fit_transform(fruit_data)

Checking the answer Id = 30267328 | Errors = ["No module named 'sklearn'", "name 'MultiColumnLabelEncoder' is not defined", "name 'MultiColumnLabelEncoder' is not defined", "name 'Pipeline' is not defined"]
Code to compile
df.apply(LabelEncoder().fit_transform)

Code to compile
from collections import defaultdict
d = defaultdict(LabelEncoder)

Code to compile
# Encoding the variable
fit = df.apply(lambda x: d[x.name].fit_transform(x))

# Inverse the encoded
fit.apply(lambda x: d[x.name].inverse_transform(x))

# Using the dictionary to label future data
df.apply(lambda x: d[x.name].transform(x))

Checking the answer Id = 31939145 | Errors = ["name 'df' is not defined", "name 'LabelEncoder' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
24475094
Code to compile
In [21]: df.values[[np.arange(5)]*2] = 0

In [22]: df
Out[22]:
          0         1         2         3         4
0  0.000000  0.931374  0.604412  0.863842  0.280339
1  0.531528  0.000000  0.641094  0.204686  0.997020
2  0.137725  0.037867  0.000000  0.983432  0.458053
3  0.594542  0.943542  0.826738  0.000000  0.753240
4  0.357736  0.689262  0.014773  0.446046  0.000000

Code to compile
In [36]: np.fill_diagonal(df.values, 0)

Checking the answer Id = 24475214 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24495695
Code to compile
In [11]: df.index.get_level_values('co').unique()
Out[11]: array(['DE', 'FR'], dtype=object)

Checking the answer Id = 24496435 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24524104
Code to compile
In[1]:

df = pd.DataFrame({'$a':['a', 'b', 'c', 'd', 'a'], '$b': np.arange(5)})
df.describe(include = 'all')

Out[1]:

        $a    $b
count   5   5.000000
unique  4   NaN
top     a   NaN
freq    2   NaN
mean    NaN 2.000000
std     NaN 1.581139
min     NaN 0.000000
25%     NaN 1.000000
50%     NaN 2.000000
75%     NaN 3.000000
max     NaN 4.000000

Code to compile
In[2]:

df.describe(include = [np.number])

Out[3]:

         $b
count   5.000000
mean    2.000000
std     1.581139
min     0.000000
25%     1.000000
50%     2.000000
75%     3.000000
max     4.000000

In[3]:

df.describe(include = ['O'])

Out[3]:

    $a
count   5
unique  4
top     a
freq    2

Checking the answer Id = 34466473 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24574976
Code to compile
import numpy as np
import pandas as pd
from matplotlib.backends.backend_pdf import PdfPages
import matplotlib.pyplot as plt

from PySide.QtGui import QImage
from PySide.QtGui import QPainter
from PySide.QtCore import QSize
from PySide.QtWebKit import QWebPage

arrays = [np.hstack([ ['one']*3, ['two']*3]), ['Dog', 'Bird', 'Cat']*2]
columns = pd.MultiIndex.from_arrays(arrays, names=['foo', 'bar'])
df =pd.DataFrame(np.zeros((3,6)),columns=columns,index=pd.date_range('20000103',periods=3))

h = "<!DOCTYPE html> <html> <body> <p> " + df.to_html() + " </p> </body> </html>";
page = QWebPage()
page.setViewportSize(QSize(5000,5000))

frame = page.mainFrame()
frame.setHtml(h, "text/html")

img = QImage(1000,700, QImage.Format(5))
painter = QPainter(img)
frame.render(painter)
painter.end()
a = img.save("html.png")

pp = PdfPages('html.pdf')
fig = plt.figure(figsize=(8,6),dpi=1080)
ax = fig.add_subplot(1, 1, 1)
img2 = plt.imread("html.png")
plt.axis('off')
ax.imshow(img2)
pp.savefig()
pp.close()

Checking the answer Id = 24609894 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
24644656
Code to compile
print df.to_string(index=False)

Checking the answer Id = 32662331 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24645153
Code to compile
dfTest = pd.DataFrame({
           'A':[14.00,90.20,90.95,96.27,91.21],
           'B':[103.02,107.26,110.35,114.23,114.68],
           'C':['big','small','big','small','small']
         })
dfTest[['A','B']] = dfTest[['A','B']].apply(
                           lambda x: MinMaxScaler().fit_transform(x))
dfTest

    A           B           C
0   0.000000    0.000000    big
1   0.926219    0.363636    small
2   0.935335    0.628645    big
3   1.000000    0.961407    small
4   0.938495    1.000000    small

Checking the answer Id = 28479181 | Errors = ['unexpected indent (<unknown>, line 10)']
Code to compile
>>> import pandas as pd
>>> from sklearn.preprocessing import MinMaxScaler


>>> scaler = MinMaxScaler()

>>> dfTest = pd.DataFrame({'A':[14.00,90.20,90.95,96.27,91.21],
                           'B':[103.02,107.26,110.35,114.23,114.68],
                           'C':['big','small','big','small','small']})

>>> dfTest[['A', 'B']] = scaler.fit_transform(dfTest[['A', 'B']])

>>> dfTest
          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

Checking the answer Id = 36475297 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24775648
Code to compile
 df[(df < 3) | (df == 5)]

Checking the answer Id = 24775756 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24786209
Code to compile
In [11]: df = pd.DataFrame({"t": pd.date_range('2014-01-01', periods=5, freq='H')})

In [12]: df
Out[12]:
                    t
0 2014-01-01 00:00:00
1 2014-01-01 01:00:00
2 2014-01-01 02:00:00
3 2014-01-01 03:00:00
4 2014-01-01 04:00:00

In [13]: pd.DatetimeIndex(df.t).normalize()
Out[13]:
<class 'pandas.tseries.index.DatetimeIndex'>
[2014-01-01, ..., 2014-01-01]
Length: 5, Freq: None, Timezone: None

In [14]: df['date'] = pd.DatetimeIndex(df.t).normalize()

In [15]: df
Out[15]:
                    t       date
0 2014-01-01 00:00:00 2014-01-01
1 2014-01-01 01:00:00 2014-01-01
2 2014-01-01 02:00:00 2014-01-01
3 2014-01-01 03:00:00 2014-01-01
4 2014-01-01 04:00:00 2014-01-01

Code to compile
df.t.dt.normalize()
# equivalent to
pd.DatetimeIndex(df.t).normalize()

Checking the answer Id = 24792087 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]

----------------------------------------
----------------------------------------
24826368
Code to compile
In [27]: data.groupby(level=[0, 1]).sum()
Out[27]:
A  B    277
   b     37
a  B    159
   b     16
dtype: int64

Checking the answer Id = 24826569 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24870306
Code to compile
if 'A' in df:

Code to compile
if 'A' in df.columns:

Checking the answer Id = 24870404 | Errors = ['unexpected EOF while parsing (<unknown>, line 1)', 'unexpected EOF while parsing (<unknown>, line 1)']
Code to compile
if set(['A','C']).issubset(df.columns):
   df['sum'] = df['A'] + df['C']

Code to compile
if {'A', 'C'}.issubset(df.columns):

Checking the answer Id = 39371897 | Errors = ["name 'df' is not defined", 'unexpected EOF while parsing (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24870953
Code to compile
1) vectorization
2) using a custom cython routine
3) apply
    a) reductions that can be performed in cython
    b) iteration in python space
4) itertuples
5) iterrows
6) updating an empty frame (e.g. using loc one-row-at-a-time)

Checking the answer Id = 24871316 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24901766
Code to compile
DF.dtypes

Code to compile
[key for key in dict(DF.dtypes) if dict(DF.dtypes)[key] in ['float64', 'int64']]

Checking the answer Id = 24902313 | Errors = ["name 'DF' is not defined", "name 'DF' is not defined"]
Code to compile
df = pd.DataFrame({'a': np.random.randn(1000),
                   'b': range(1000),
                   'c': ['a'] * 1000,
                   'd': pd.date_range('2000-1-1', periods=1000)})


df.select_dtypes(['float64','int64'])

Out[129]:
            a    b
0    0.153070    0
1    0.887256    1
2   -1.456037    2
3   -1.147014    3
...

Checking the answer Id = 24907560 | Errors = ['invalid syntax (<unknown>, line 9)']
Code to compile
headers = df.dtypes.index

Checking the answer Id = 32760406 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
24980437
Code to compile
po_grouped_df = poagg_df.groupby(['EID','PCODE'], as_index=False)

Code to compile
In [356]: pd.merge(acc_df, pol_df, on=['EID','PCODE'], how='inner',suffixes=('_Acc','_Po'))
Out[356]:
   EID PCODE  SC_Acc  EE_Acc        SI_Acc  PVALUE_Acc  EE_Po  PVALUE_Po  \
0  123    GR     236   40000  1.805222e+31         350  10000         50
1  123    GR     236   40000  1.805222e+31         350  30000        300
2  123    GU     443   12000  8.765549e+87         250  10000        100
3  123    GU     443   12000  8.765549e+87         250   2000        150

   SC_Po  SI_Po
0     23     40
1    213    140
2    230    400
3    213    140

Checking the answer Id = 24980809 | Errors = ["name 'poagg_df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
24988131
Code to compile
>>> reform = {(outerKey, innerKey): values for outerKey, innerDict in dictionary.iteritems() for innerKey, values in innerDict.iteritems()}
>>> reform
{('A', 'a'): [1, 2, 3, 4, 5],
 ('A', 'b'): [6, 7, 8, 9, 1],
 ('B', 'a'): [2, 3, 4, 5, 6],
 ('B', 'b'): [7, 8, 9, 1, 2]}
>>> pandas.DataFrame(reform)
   A     B
   a  b  a  b
0  1  6  2  7
1  2  7  3  8
2  3  8  4  9
3  4  9  5  1
4  5  1  6  2

[5 rows x 4 columns]

Checking the answer Id = 24988227 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25024797
Code to compile
In [116]: gb.agg({'sum_col' : np.sum,
     ...:         'date' : [np.min, np.max]})
Out[116]:
                      date             sum_col
                      amin       amax      sum
type weekofyear
A    25         2014-06-22 2014-06-22        1
     26         2014-06-25 2014-06-25        1
     27         2014-07-05 2014-07-05        2
B    26         2014-06-24 2014-06-24        2
     27         2014-07-02 2014-07-02        1
C    26         2014-06-25 2014-06-25        3
     27         2014-07-06 2014-07-06        3
     30         2014-07-27 2014-07-27        1

Checking the answer Id = 25025065 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25039626
Code to compile
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)

Checking the answer Id = 28155580 | Errors = ["name 'df' is not defined"]
Code to compile
df._get_numeric_data()

Code to compile
In [32]: data
Out[32]:
   A  B
0  1  s
1  2  s
2  3  s
3  4  s

In [33]: data._get_numeric_data()
Out[33]:
   A
0  1
1  2
2  3
3  4

Checking the answer Id = 34530065 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25050141
Checking the answer Id = 25050179 | Errors = []
----------------------------------------
----------------------------------------
25055712
Code to compile
df.iloc[::5, :]

Checking the answer Id = 25057724 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
25057835
Code to compile
import numpy as np
import pandas as pd

# some random data frames
df1 = pd.DataFrame(dict(x=np.random.randn(100), y=np.random.randint(0, 5, 100)))
df2 = pd.DataFrame(dict(x=np.random.randn(100), y=np.random.randint(0, 5, 100)))

# concatenate them
df_concat = pd.concat((df1, df2))

print df_concat.mean()
# x   -0.163044
# y    2.120000
# dtype: float64

print df_concat.median()
# x   -0.192037
# y    2.000000
# dtype: float64

Code to compile
by_row_index = df_concat.groupby(df_concat.index)
df_means = by_row_index.mean()

print df_means.head()
#           x    y
# 0 -0.850794  1.5
# 1  0.159038  1.5
# 2  0.083278  1.0
# 3 -0.540336  0.5
# 4  0.390954  3.5

Checking the answer Id = 25058102 | Errors = ['invalid syntax (<unknown>, line 11)', 'invalid syntax (<unknown>, line 4)']
Code to compile
In [57]: df = DataFrame(np.random.randn(10, 4), columns=list('abcd'))

In [58]: df2 = df.copy()

In [59]: dfs = [df, df2]

In [60]: df
Out[60]:
        a       b       c       d
0  0.1959  0.1260  0.1464  0.1631
1  0.9344 -1.8154  1.4529 -0.6334
2  0.0390  0.4810  1.1779 -1.1799
3  0.3542  0.3819 -2.0895  0.8877
4 -2.2898 -1.0585  0.8083 -0.2126
5  0.3727 -0.6867 -1.3440 -1.4849
6 -1.1785  0.0885  1.0945 -1.6271
7 -1.7169  0.3760 -1.4078  0.8994
8  0.0508  0.4891  0.0274 -0.6369
9 -0.7019  1.0425 -0.5476 -0.5143

In [61]: for i, d in enumerate(dfs):
   ....:     d['group'] = i
   ....:

In [62]: dfs[0]
Out[62]:
        a       b       c       d  group
0  0.1959  0.1260  0.1464  0.1631      0
1  0.9344 -1.8154  1.4529 -0.6334      0
2  0.0390  0.4810  1.1779 -1.1799      0
3  0.3542  0.3819 -2.0895  0.8877      0
4 -2.2898 -1.0585  0.8083 -0.2126      0
5  0.3727 -0.6867 -1.3440 -1.4849      0
6 -1.1785  0.0885  1.0945 -1.6271      0
7 -1.7169  0.3760 -1.4078  0.8994      0
8  0.0508  0.4891  0.0274 -0.6369      0
9 -0.7019  1.0425 -0.5476 -0.5143      0

In [63]: final = pd.concat(dfs, ignore_index=True)

In [64]: final
Out[64]:
         a       b       c       d  group
0   0.1959  0.1260  0.1464  0.1631      0
1   0.9344 -1.8154  1.4529 -0.6334      0
2   0.0390  0.4810  1.1779 -1.1799      0
3   0.3542  0.3819 -2.0895  0.8877      0
4  -2.2898 -1.0585  0.8083 -0.2126      0
5   0.3727 -0.6867 -1.3440 -1.4849      0
6  -1.1785  0.0885  1.0945 -1.6271      0
..     ...     ...     ...     ...    ...
13  0.3542  0.3819 -2.0895  0.8877      1
14 -2.2898 -1.0585  0.8083 -0.2126      1
15  0.3727 -0.6867 -1.3440 -1.4849      1
16 -1.1785  0.0885  1.0945 -1.6271      1
17 -1.7169  0.3760 -1.4078  0.8994      1
18  0.0508  0.4891  0.0274 -0.6369      1
19 -0.7019  1.0425 -0.5476 -0.5143      1

[20 rows x 5 columns]

In [65]: final.groupby('group').mean()
Out[65]:
           a       b       c       d
group
0     -0.394 -0.0576 -0.0682 -0.4339
1     -0.394 -0.0576 -0.0682 -0.4339

Code to compile
In [69]: df = DataFrame(np.random.randn(10, 4), columns=list('abcd'))

In [70]: df2 = DataFrame(np.random.randn(10, 4), columns=list('abcd'))

In [71]: panel = pd.Panel({0: df, 1: df2})

In [72]: panel
Out[72]:
<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 10 (major_axis) x 4 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 9
Minor_axis axis: a to d

In [73]: panel.mean()
Out[73]:
        0       1
a  0.3839  0.2956
b  0.1855 -0.3164
c -0.1167 -0.0627
d -0.2338 -0.0450

Checking the answer Id = 25059471 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df1 = pd.DataFrame(dict(x=np.random.randn(100), y=np.random.randint(0, 5, 100)))
df2 = pd.DataFrame(dict(x=np.random.randn(100), y=np.random.randint(0, 5, 100)))
df = pd.concat([df1, df2])
foo = df.groupby(level=0).mean()
foo.head()

          x    y
0  0.841282  2.5
1  0.716749  1.0
2 -0.551903  2.5
3  1.240736  1.5
4  1.227109  2.0

Checking the answer Id = 25059620 | Errors = ['unexpected indent (<unknown>, line 7)']
----------------------------------------
----------------------------------------
25122099
Code to compile
In [27]:
# get a list of columns
cols = list(df)
# move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('Mid')))
cols
Out[27]:
['Mid', 'Net', 'Upper', 'Lower', 'Zsore']
In [28]:
# use ix to reorder
df = df.ix[:, cols]
df
Out[28]:
                      Mid Net  Upper   Lower  Zsore
Answer_option
More_than_once_a_day    2  0%  0.22%  -0.12%     65
Once_a_day              3  0%  0.32%  -0.19%     45
Several_times_a_week    4  2%  2.45%   1.10%     78
Once_a_week             6  1%  1.63%  -0.40%     65

Code to compile
In [39]:
mid = df['Mid']
df.drop(labels=['Mid'], axis=1,inplace = True)
df.insert(0, 'Mid', mid)
df
Out[39]:
                      Mid Net  Upper   Lower  Zsore
Answer_option
More_than_once_a_day    2  0%  0.22%  -0.12%     65
Once_a_day              3  0%  0.32%  -0.19%     45
Several_times_a_week    4  2%  2.45%   1.10%     78
Once_a_week             6  1%  1.63%  -0.40%     65

Code to compile
df = df.loc[:, cols]

Checking the answer Id = 25122293 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
Code to compile
                      Net  Upper   Lower  Mid  Zsore
Answer option
More than once a day  0%  0.22%  -0.12%    2     65
Once a day            0%  0.32%  -0.19%    3     45
Several times a week  2%  2.45%   1.10%    4     78
Once a week           1%  1.63%  -0.40%    6     65

Code to compile
cols = df.columns.tolist()
cols
Out[13]: ['Net', 'Upper', 'Lower', 'Mid', 'Zsore']

Code to compile
cols.insert(0, cols.pop(cols.index('Mid')))
cols
Out[16]: ['Mid', 'Net', 'Upper', 'Lower', 'Zsore']

Code to compile
df = df.reindex(columns= cols)

Code to compile
                      Mid  Upper   Lower Net  Zsore
Answer option
More than once a day    2  0.22%  -0.12%  0%     65
Once a day              3  0.32%  -0.19%  0%     45
Several times a week    4  2.45%   1.10%  2%     78
Once a week             6  1.63%  -0.40%  1%     65

Checking the answer Id = 31396042 | Errors = ['unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25129144
Code to compile
sales['time_hour'] = sales.timestamp.apply(lambda x: x.hour)

Checking the answer Id = 25129265 | Errors = ["name 'sales' is not defined"]
Code to compile
    hours = sales.index.hour

Code to compile
    import pandas as pd
    pd.concat([sales, pd.DataFrame(hours, index=sales.index)], axis = 1)

Code to compile
    hours = sales['date'].hour

Checking the answer Id = 25129655 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Checking the answer Id = 30717361 | Errors = []
----------------------------------------
----------------------------------------
25146121
Code to compile
In [15]: t = pandas.tslib.Timestamp.now()

In [16]: t
Out[16]: Timestamp('2014-08-05 14:49:39.643701', tz=None)

In [17]: t.to_datetime()
Out[17]: datetime.datetime(2014, 8, 5, 14, 49, 39, 643701)

In [18]: t.day
Out[18]: 5

In [19]: t.month
Out[19]: 8

In [20]: t.year
Out[20]: 2014

Code to compile
df['YearMonth'] = df['ArrivalDate'].map(lambda x: 1000*x.year + x.month)

Code to compile
import calendar
import datetime
df['AdjustedDateToEndOfMonth'] = df['ArrivalDate'].map(
    lambda x: datetime.datetime(
        x.year,
        x.month,
        max(calendar.monthcalendar(x.year, x.month)[-1][:5])
    )
)

Code to compile
In [5]: df
Out[5]:
            date_time
0 2014-10-17 22:00:03

In [6]: df.date_time
Out[6]:
0   2014-10-17 22:00:03
Name: date_time, dtype: datetime64[ns]

In [7]: df.date_time.map(lambda x: x.strftime('%Y-%m-%d'))
Out[7]:
0    2014-10-17
Name: date_time, dtype: object

Checking the answer Id = 25146337 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
df['year'] = pd.DatetimeIndex(df['ArrivalDate']).year
df['month'] = pd.DatetimeIndex(df['ArrivalDate']).month

Code to compile
df['year'] = df['ArrivalDate'].dt.year
df['month'] = df['ArrivalDate'].dt.month

Checking the answer Id = 25149272 | Errors = ["name 'pd' is not defined", "name 'df' is not defined"]
Code to compile
    df['mnth_yr'] = df['date_column'].apply(lambda x: x.strftime('%B-%Y'))

Code to compile
    df['date_column'] = pd.to_datetime(df['date_column'])

Checking the answer Id = 39206377 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Code to compile
import datetime as dt
df['month_year'] = df.date_column.dt.to_period('M')

Checking the answer Id = 43896119 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
25189575
Code to compile
In [13]:

df = pd.DataFrame(np.random.random((4,4)))
df.columns = pd.MultiIndex.from_product([[1,2],['A','B']])
print df
          1                   2
          A         B         A         B
0  0.543980  0.628078  0.756941  0.698824
1  0.633005  0.089604  0.198510  0.783556
2  0.662391  0.541182  0.544060  0.059381
3  0.841242  0.634603  0.815334  0.848120
In [14]:

print df.iloc[:, df.columns.get_level_values(1)=='A']
          1         2
          A         A
0  0.543980  0.756941
1  0.633005  0.198510
2  0.662391  0.544060
3  0.841242  0.815334

Checking the answer Id = 25190070 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.xs('A', level='Col', axis=1)

Code to compile
df.loc[:, (slice(None), 'A')]

Checking the answer Id = 37644056 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
25203883
----------------------------------------
----------------------------------------
25211220
Code to compile
data(iris)
head(iris, 10)
tail(iris, 10)

Code to compile
import pandas as pd
from sklearn import datasets
iris = pd.DataFrame(datasets.load_iris().data)
iris.head(10)
iris.tail(10)

Code to compile
iris.ix[:,1:2].head(10)

Checking the answer Id = 25211834 | Errors = ["name 'data' is not defined", "No module named 'sklearn'", "name 'iris' is not defined"]
----------------------------------------
----------------------------------------
25212986
Code to compile
lm = sns.lmplot('X','Y',df,col='Z',sharex=False,sharey=False)

Code to compile
axes = lm.axes

Code to compile
axes[0,0].set_ylim(0,)
axes[0,1].set_ylim(0,)

Checking the answer Id = 25213438 | Errors = ["name 'sns' is not defined", "name 'lm' is not defined", "name 'axes' is not defined"]
Code to compile
g = sns.lmplot('X', 'Y', df, col='Z', sharex=False, sharey=False)
g.set(ylim=(0, None))

Checking the answer Id = 25213614 | Errors = ["name 'sns' is not defined"]
----------------------------------------
----------------------------------------
25234941
----------------------------------------
----------------------------------------
25239958
Code to compile
import pandas as pd
import numpy as np

from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

data = [
    ['a', 1, 2],
    ['b', 1, 1],
    ['b', 2, 2],
    [np.nan, np.nan, np.nan]
]

X = pd.DataFrame(data)
xt = DataFrameImputer().fit_transform(X)

print('before...')
print(X)
print('after...')
print(xt)

Code to compile
before...
     0   1   2
0    a   1   2
1    b   1   1
2    b   2   2
3  NaN NaN NaN
after...
   0         1         2
0  a  1.000000  2.000000
1  b  1.000000  1.000000
2  b  2.000000  2.000000
3  b  1.333333  1.666667

Checking the answer Id = 25562948 | Errors = ["No module named 'sklearn'", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25254016
Code to compile
In [31]: df_test.iloc[0]
Out[31]:
ATime     1.2
X         2.0
Y        15.0
Z         2.0
Btime     1.2
C        12.0
D        25.0
E        12.0
Name: 0, dtype: float64

Code to compile
In [30]: df_test['Btime'].iloc[0]
Out[30]: 1.2

Code to compile
In [1]: df = pd.DataFrame({'foo':list('ABC')}, index=[0,2,1])

In [2]: df
Out[2]:
  foo
0   A
2   B
1   C

In [4]: df.ix[1, 'foo']
Out[4]: 'C'

Checking the answer Id = 25254087 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [4]: df = pd.DataFrame({'foo':list('ABC')}, index=[0,2,1])
In [5]: df['bar'] = 100
In [6]: df['bar'].iloc[0] = 99
/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas-0.16.0_19_g8d2818e-py2.7-macosx-10.9-x86_64.egg/pandas/core/indexing.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Code to compile
In [7]: df.loc[df.index[0], 'foo']
Out[7]: 'A'
In [8]: df.loc[df.index[0], 'bar'] = 99
In [9]: df
Out[9]:
  foo  bar
0   A   99
2   B  100
1   C  100

Checking the answer Id = 32103253 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25284859
Code to compile
df_long = pd.melt(df, "b", var_name="a", value_name="c")

Code to compile
sns.factorplot("a", hue="b", y="c", data=df_long, kind="box")

Checking the answer Id = 25289109 | Errors = ["name 'pd' is not defined", "name 'sns' is not defined"]
----------------------------------------
----------------------------------------
25351968
Code to compile
pd.set_option('display.max_colwidth', -1)

Checking the answer Id = 25352191 | Errors = ["name 'pd' is not defined"]
Code to compile
pd.set_option('display.max_columns', None)


Code to compile
cum_dist = np.linspace(0.,1.,len(ser))
ser_cdf = pd.Series(cum_dist, index=ser)

Code to compile
ser_cdf.plot(drawstyle='steps')

Checking the answer Id = 31971245 | Errors = ['Sucess', "name 'ser' is not defined", "name 'ser' is not defined", "name 'np' is not defined", "name 'ser_cdf' is not defined"]
----------------------------------------
----------------------------------------
25610592
Code to compile
for k, v in dtype.items():
    df[k] = df[k].astype(v)

Checking the answer Id = 38750433 | Errors = ["name 'dtype' is not defined"]
----------------------------------------
----------------------------------------
25628496
Code to compile
desired_width = 320
pd.set_option('display.width', desired_width)

Checking the answer Id = 25630681 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
25631076
----------------------------------------
----------------------------------------
25646200
Code to compile
import numpy as np

(td / np.timedelta64(1, 'D')).astype(int)

Checking the answer Id = 25646414 | Errors = ["name 'td' is not defined"]
Code to compile
td.dt.days

Checking the answer Id = 42247228 | Errors = ["name 'td' is not defined"]
----------------------------------------
----------------------------------------
25698710
Code to compile
df.replace({'\n': '<br>'}, regex=True)

Code to compile
>>> df = pd.DataFrame({'a': ['1\n', '2\n', '3'], 'b': ['4\n', '5', '6\n']})
>>> df
   a    b
0  1\n  4\n
1  2\n  5
2  3    6\n

>>> df.replace({'\n': '<br>'}, regex=True)
   a      b
0  1<br>  4<br>
1  2<br>  5
2  3      6<br>

Checking the answer Id = 25698756 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
df.replace({'\n': '<br>'}, regex=True)

Code to compile
>>> df = pd.DataFrame({'a': ['1\n', '2\n', '3'], 'b': ['4\n', '5', '6\n']})
>>> df
   a    b
0  1\n  4\n
1  2\n  5
2  3    6\n

>>> df.replace({'\n': '<br>'}, regex=True)
   a      b
0  1<br>  4<br>
1  2<br>  5
2  3      6<br>

Checking the answer Id = 29465238 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25699439
Code to compile
import numpy as np
import pandas as pds

df = pds.DataFrame(np.random.rand(14,4), columns=['a', 'b', 'c', 'd'])

def chunker(seq, size):
    return (seq[pos:pos + size] for pos in xrange(0, len(seq), size))

for i in chunker(df,5):
    print i

Code to compile
          a         b         c         d
0  0.860574  0.059326  0.339192  0.786399
1  0.029196  0.395613  0.524240  0.380265
2  0.235759  0.164282  0.350042  0.877004
3  0.545394  0.881960  0.994079  0.721279
4  0.584504  0.648308  0.655147  0.511390
          a         b         c         d
5  0.276160  0.982803  0.451825  0.845363
6  0.728453  0.246870  0.515770  0.343479
7  0.971947  0.278430  0.006910  0.888512
8  0.044888  0.875791  0.842361  0.890675
9  0.200563  0.246080  0.333202  0.574488
           a         b         c         d
10  0.971125  0.106790  0.274001  0.960579
11  0.722224  0.575325  0.465267  0.258976
12  0.574039  0.258625  0.469209  0.886768
13  0.915423  0.713076  0.073338  0.622967

Code to compile
from multiprocessing import Pool

nprocs = 4

pool = Pool(nprocs)

for chunk in chunker(df, nprocs):
    data = pool.map(myfunction, chunk)
    data.domorestuff()

Checking the answer Id = 25701576 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 10)", 'unexpected indent (<unknown>, line 1)', "name 'chunker' is not defined"]
Code to compile
>>> df = pd.DataFrame(np.random.rand(15, 5), index=[0]*15)
>>> df[0] = range(15)
>>> df
    0         1         2         3         4
0   0  0.746300  0.346277  0.220362  0.172680
0   1  0.657324  0.687169  0.384196  0.214118
0   2  0.016062  0.858784  0.236364  0.963389
[...]
0  13  0.510273  0.051608  0.230402  0.756921
0  14  0.950544  0.576539  0.642602  0.907850

[15 rows x 5 columns]

Code to compile
>>> df.groupby(np.arange(len(df))//10)
<pandas.core.groupby.DataFrameGroupBy object at 0xb208492c>
>>> for k,g in df.groupby(np.arange(len(df))//10):
...     print(k,g)
...
0    0         1         2         3         4
0  0  0.746300  0.346277  0.220362  0.172680
0  1  0.657324  0.687169  0.384196  0.214118
0  2  0.016062  0.858784  0.236364  0.963389
[...]
0  8  0.241049  0.246149  0.241935  0.563428
0  9  0.493819  0.918858  0.193236  0.266257

[10 rows x 5 columns]
1     0         1         2         3         4
0  10  0.037693  0.370789  0.369117  0.401041
0  11  0.721843  0.862295  0.671733  0.605006
[...]
0  14  0.950544  0.576539  0.642602  0.907850

[5 rows x 5 columns]

Checking the answer Id = 25703030 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import blaze as bz
import pandas as pd

df = pd.DataFrame({'col1':[1,2,3,4,5], 'col2':[2,4,6,8,10]})

for chunk in bz.odo(df, target=bz.chunks(pd.DataFrame), chunksize=2):
    # Do stuff with chunked dataframe

Checking the answer Id = 36725677 | Errors = ['unexpected EOF while parsing (<unknown>, line 7)']
----------------------------------------
----------------------------------------
25748683
Code to compile
df['e'] = df.a + df.b + df.d

Code to compile
   a  b   c  d   e
0  1  2  dd  5   8
1  2  3  ee  9  14
2  3  4  ff  1   8

Checking the answer Id = 25748741 | Errors = ["name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
In [91]:

df = pd.DataFrame({'a': [1,2,3], 'b': [2,3,4], 'c':['dd','ee','ff'], 'd':[5,9,1]})
df['e'] = df.sum(axis=1)
df
Out[91]:
   a  b   c  d   e
0  1  2  dd  5   8
1  2  3  ee  9  14
2  3  4  ff  1   8

Code to compile
In [98]:

col_list= list(df)
col_list.remove('d')
col_list
Out[98]:
['a', 'b', 'c']
In [99]:

df['e'] = df[col_list].sum(axis=1)
df
Out[99]:
   a  b   c  d  e
0  1  2  dd  5  3
1  2  3  ee  9  5
2  3  4  ff  1  7

Checking the answer Id = 25748826 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25773245
Checking the answer Id = 25774395 | Errors = []
----------------------------------------
----------------------------------------
25789354
----------------------------------------
----------------------------------------
25789445
Code to compile
df['New_Sample'] = df.Sample.str[:1]

Code to compile
In [187]:

df['New_Sample'] = df.Sample.apply(lambda x: x[:1])
df
Out[187]:
  Sample  Value New_Sample
0    AAB     23          A
1    BAB     25          B

Checking the answer Id = 25789512 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25797245
Code to compile
test[1].index + pd.DateOffset(hours=16)

Code to compile
In [242]: pd.to_timedelta(16, unit='h')
Out[242]: numpy.timedelta64(16,'ns')

Checking the answer Id = 25797313 | Errors = ["name 'test' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25909984
Code to compile
df = DataFrame({"A":[0,0.5,1.0,3.5,4.0,4.5], "B":[1,4,6,2,4,3], "C":[3,2,1,0,5,3]})

Code to compile
In [64]: df.set_index("A")
Out[64]:
     B  C
 A
0.0  1  3
0.5  4  2
1.0  6  1
3.5  2  0
4.0  4  5
4.5  3  3

Code to compile
In [66]: new_index = Index(arange(0,5,0.5), name="A")
In [67]: df.set_index("A").reindex(new_index)
Out[67]:
      B   C
0.0   1   3
0.5   4   2
1.0   6   1
1.5 NaN NaN
2.0 NaN NaN
2.5 NaN NaN
3.0 NaN NaN
3.5   2   0
4.0   4   5
4.5   3   3

Code to compile
In [69]: df.set_index("A").reindex(new_index).reset_index()
Out[69]:
       A   B   C
0    0.0   1   3
1    0.5   4   2
2    1.0   6   1
3    1.5 NaN NaN
4    2.0 NaN NaN
5    2.5 NaN NaN
6    3.0 NaN NaN
7    3.5   2   0
8    4.0   4   5
9    4.5   3   3

Checking the answer Id = 25916109 | Errors = ["name 'DataFrame' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25929319
Code to compile
In [136]: for date, new_df in df.groupby(level=0):
     ...:     print(new_df)
     ...:
                    observation1  observation2
date       Time
2012-11-02 9:15:00     79.373668           224
           9:16:00    130.841316           477

                    observation1  observation2
date       Time
2012-11-03 9:15:00     45.312814           835
           9:16:00    123.776946           623
           9:17:00    153.766460           624
           9:18:00    463.276946           626
           9:19:00    663.176934           622
           9:20:00    763.773330           621

                    observation1  observation2
date       Time
2012-11-04 9:15:00    115.449437           122
           9:16:00    123.776946           555
           9:17:00    153.766460           344
           9:18:00    463.276946           212

Checking the answer Id = 25935024 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
25962114
Code to compile
chunksize = 10 ** 6
for chunk in pd.read_csv(filename, chunksize=chunksize):
    process(chunk)

Checking the answer Id = 25962187 | Errors = ["name 'pd' is not defined"]
Code to compile
chunks=pd.read_table('aphro.csv',chunksize=1000000,sep=';',\
       names=['lat','long','rf','date','slno'],index_col='slno',\
       header=None,parse_dates=['date'])

df=pd.DataFrame()
%time df=pd.concat(chunk.groupby(['lat','long',chunk['date'].map(lambda x: x.year)])['rf'].agg(['sum']) for chunk in chunks)

Checking the answer Id = 26017289 | Errors = ['invalid syntax (<unknown>, line 6)']

----------------------------------------
----------------------------------------
26047209
Checking the answer Id = 26240208 | Errors = []
----------------------------------------
----------------------------------------
26063231
Code to compile
import pandas as pd
fields = ['star_name', 'ra']

df = pd.read_csv('data.csv', skipinitialspace=True, usecols=fields)
# See the keys
print df.keys()
# See content in 'star_name'
print df.star_name

Checking the answer Id = 26064898 | Errors = ['invalid syntax (<unknown>, line 6)']
----------------------------------------
----------------------------------------
26067692
Code to compile
pip install numpy==1.9.2
Requirement already satisfied (use --upgrade to upgrade): numpy==1.9.2 in /Library/Python/2.7/site-packages
Cleaning up...

Code to compile
$ python
Python 2.7.6 (default, Sep  9 2014, 15:04:36)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import numpy
>>> numpy.__file__
'/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy/__init__.pyc'
>>> numpy.version.version
'1.8.0rc1'

Code to compile
mv /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/numpy_bak

Code to compile
$ python
Python 2.7.6 (default, Sep  9 2014, 15:04:36)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.39)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import numpy
>>> numpy.__file__
'/Library/Python/2.7/site-packages/numpy/__init__.pyc'
>>> numpy.version.version
'1.9.2'

Checking the answer Id = 29321298 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'mv' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26097916
Code to compile
pd.DataFrame({'email':sf.index, 'list':sf.values})

Checking the answer Id = 26098292 | Errors = ["name 'pd' is not defined"]
Code to compile
email
email1@email.com    A
email2@email.com    B
email3@email.com    C
dtype: int64

Code to compile
df = df.to_frame().reset_index()

    email               0
0   email1@email.com    A
1   email2@email.com    B
2   email3@email.com    C
3   email4@email.com    D

Code to compile
df = df.rename(columns= {0: 'list'})
df.index.name = 'index'

Checking the answer Id = 40943143 | Errors = ['invalid syntax (<unknown>, line 2)', 'unexpected indent (<unknown>, line 3)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
26121009
Code to compile
BabyDataSet = zip(names,births)

Code to compile
BabyDataSet = list(zip(names,births))

Checking the answer Id = 26121238 | Errors = ["name 'names' is not defined", "name 'names' is not defined"]
----------------------------------------
----------------------------------------
26133538
Code to compile
In[2]:
    df.value1 = df.value1.round()
    print df

Out[2]:
    item  value1  value2
    0    a       1     1.3
    1    a       2     2.5
    2    a       0     0.0
    3    b       3    -1.0
    4    b       5    -1.0

Checking the answer Id = 26133621 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26139423
Code to compile
import matplotlib.pyplot as plt
import pandas as pd

carat = [5, 10, 20, 30, 5, 10, 20, 30, 5, 10, 20, 30]
price = [100, 100, 200, 200, 300, 300, 400, 400, 500, 500, 600, 600]
color =['D', 'D', 'D', 'E', 'E', 'E', 'F', 'F', 'F', 'G', 'G', 'G',]

df = pd.DataFrame(dict(carat=carat, price=price, color=color))

fig, ax = plt.subplots()

colors = {'D':'red', 'E':'blue', 'F':'green', 'G':'black'}

ax.scatter(df['carat'], df['price'], c=df['color'].apply(lambda x: colors[x]))

plt.show()

Code to compile
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd

carat = [5, 10, 20, 30, 5, 10, 20, 30, 5, 10, 20, 30]
price = [100, 100, 200, 200, 300, 300, 400, 400, 500, 500, 600, 600]
color =['D', 'D', 'D', 'E', 'E', 'E', 'F', 'F', 'F', 'G', 'G', 'G',]

df = pd.DataFrame(dict(carat=carat, price=price, color=color))

sns.lmplot('carat', 'price', data=df, hue='color', fit_reg=False)

plt.show()

Code to compile
fig, ax = plt.subplots()

colors = {'D':'red', 'E':'blue', 'F':'green', 'G':'black'}

grouped = df.groupby('color')
for key, group in grouped:
    group.plot(ax=ax, kind='scatter', x='carat', y='price', label=key, color=colors[key])

plt.show()

Checking the answer Id = 26139658 | Errors = ["No module named 'matplotlib'", "No module named 'matplotlib'", "name 'plt' is not defined"]
Code to compile
sns.palplot(sns.color_palette("Set2", 8))

Code to compile
# Unique category labels: 'D', 'F', 'G', ...
color_labels = df['color'].unique()

# List of RGB triplets
rgb_values = sns.color_palette("Set2", 8)

# Map label to RGB
color_map = dict(zip(color_labels, rgb_values))

# Finally use the mapped values
plt.scatter(df['carat'], df['price'], c=df['color'].map(color_map))

Checking the answer Id = 42965916 | Errors = ["name 'sns' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
26147180
Code to compile
In [21]: df = pd.DataFrame([(1,2,3), ('foo','bar','baz'), (4,5,6)])

In [22]: df
Out[22]:
     0    1    2
0    1    2    3
1  foo  bar  baz
2    4    5    6

Code to compile
In [23]: df.columns = df.iloc[1]

Code to compile
In [24]: df.reindex(df.index.drop(1))
Out[24]:
1 foo bar baz
0   1   2   3
2   4   5   6

Checking the answer Id = 26147330 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26187759
Code to compile
## make some example data
import pandas as pd

np.random.seed(1)
n=10000
df = pd.DataFrame({'mygroup' : np.random.randint(1000, size=n),
                   'data' : np.random.rand(n)})
grouped = df.groupby('mygroup')

Code to compile
dflist = []
for name, group in grouped:
    dflist.append(group)

Code to compile
from IPython.parallel import Client
rc = Client()
lview = rc.load_balanced_view()
lview.block = True

Code to compile
def myFunc(inDf):
    inDf['newCol'] = inDf.data ** 10
    return inDf

Code to compile
%%time
serial_list = map(myFunc, dflist)
CPU times: user 14 s, sys: 19.9 ms, total: 14 s
Wall time: 14 s

Code to compile
%%time
parallel_list = lview.map(myFunc, dflist)

CPU times: user 1.46 s, sys: 86.9 ms, total: 1.54 s
Wall time: 1.56 s

Code to compile
%%time
combinedDf = pd.concat(parallel_list)
 CPU times: user 296 ms, sys: 5.27 ms, total: 301 ms
Wall time: 300 ms

Checking the answer Id = 27026479 | Errors = ["name 'np' is not defined", "name 'grouped' is not defined", 'The `IPython.parallel` package has been deprecated since IPython 4.0. You should import from ipyparallel instead.', 'Sucess', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
from joblib import Parallel, delayed
import multiprocessing

def tmpFunc(df):
    df['c'] = df.a + df.b
    return df

def applyParallel(dfGrouped, func):
    retLst = Parallel(n_jobs=multiprocessing.cpu_count())(delayed(func)(group) for name, group in dfGrouped)
    return pd.concat(retLst)

if __name__ == '__main__':
    df = pd.DataFrame({'a': [6, 2, 2], 'b': [4, 5, 6]},index= ['g1', 'g1', 'g2'])
    print 'parallel version: '
    print applyParallel(df.groupby(df.index), tmpFunc)

    print 'regular version: '
    print df.groupby(df.index).apply(tmpFunc)

    print 'ideal version (does not work): '
    print df.groupby(df.index).applyParallel(tmpFunc)

Checking the answer Id = 27027632 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 15)"]
Code to compile
from multiprocessing import Pool, cpu_count

def applyParallel(dfGrouped, func):
    with Pool(cpu_count()) as p:
        ret_list = p.map(func, [group for name, group in dfGrouped])
    return pandas.concat(ret_list)

Checking the answer Id = 29281494 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
26205922
Code to compile
In [11]: g = df.groupby('Date')

In [12]: df.value / g.value.transform("sum") * df.wt
Out[12]:
0    0.125000
1    0.250000
2    0.416667
3    0.277778
4    0.444444
dtype: float64

Code to compile
In [13]: df['wa'] = df.value / g.value.transform("sum") * df.wt

Code to compile
In [14]: g.wa.sum()
Out[14]:
Date
01/01/2012    0.791667
01/02/2012    0.722222
Name: wa, dtype: float64

Code to compile
In [15]: g.wa.transform("sum")
Out[15]:
0    0.791667
1    0.791667
2    0.791667
3    0.722222
4    0.722222
Name: wa, dtype: float64

Checking the answer Id = 26206622 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [1]: import numpy as np

In [2]: import pandas as pd

In [3]: index = pd.Index(['01/01/2012','01/01/2012','01/01/2012','01/02/2012','01/02/2012'], name='Date')

In [4]: df = pd.DataFrame({'ID':[100,101,102,201,202],'wt':[.5,.75,1,.5,1],'value':[60,80,100,100,80]},index=index)

Code to compile
In [5]: df.groupby(df.index).apply(lambda x: np.average(x.wt, weights=x.value))
Out[5]:
Date
01/01/2012    0.791667
01/02/2012    0.722222
dtype: float64

Code to compile
In [5]: def grouped_weighted_avg(values, weights, by):
   ...:     return (values * weights).groupby(by).sum() / weights.groupby(by).sum()

In [6]: grouped_weighted_avg(values=df.wt, weights=df.value, by=df.index)
Out[6]:
Date
01/01/2012    0.791667
01/02/2012    0.722222
dtype: float64

Checking the answer Id = 33054358 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26226343
Checking the answer Id = 27412913 | Errors = []
----------------------------------------
----------------------------------------
26244309
Code to compile
In [81]: frame[frame.duplicated(['key1', 'key2'], keep=False)].groupby(('key1', 'key2')).min()
Out[81]:
           data
key1 key2
1    2        5
2    2        1

[2 rows x 1 columns]

Code to compile
In [76]: frame.duplicated(['key1', 'key2'])
Out[76]:
0    False
1    False
2    False
3     True
4     True
5    False
6     True
7     True
dtype: bool

In [77]: frame.duplicated(['key1', 'key2'], take_last=True)
Out[77]:
0     True
1     True
2    False
3    False
4     True
5    False
6     True
7    False
dtype: bool

In [78]: frame.duplicated(['key1', 'key2'], take_last=True) | frame.duplicated(['key1', 'key2'])
Out[78]:
0     True
1     True
2    False
3     True
4     True
5    False
6     True
7     True
dtype: bool

In [79]: frame[frame.duplicated(['key1', 'key2'], take_last=True) | frame.duplicated(['key1', 'key2'])]
Out[79]:
   key1  key2  data
0     1     2     5
1     2     2     6
3     1     2     6
4     2     2     1
6     2     2     2
7     2     2     8

[6 rows x 3 columns]

Code to compile
In [81]: frame[frame.duplicated(['key1', 'key2'], take_last=True) | frame.duplicated(['key1', 'key2'])].groupby(('key1', 'key2')).min()
Out[81]:
           data
key1 key2
1    2        5
2    2        1

[2 rows x 1 columns]

Checking the answer Id = 26244925 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
frame[frame.duplicated(['key1','key2'],keep=False)]

    key1  key2  data
0     1     2     5
1     2     2     6
3     1     2     6
4     2     2     1
6     2     2     2
7     2     2     8

Checking the answer Id = 33381151 | Errors = ['unexpected indent (<unknown>, line 3)']
----------------------------------------

----------------------------------------
26265819
Code to compile
In [27]:

df.merge(pd.DataFrame(data = [s.values] * len(s), columns = s.index), left_index=True, right_index=True)
Out[27]:
   a  b  s1  s2
0  1  3   5   6
1  2  4   5   6

Code to compile
df.merge(pd.DataFrame(data = [s.values] * len(df), columns = s.index, index=df.index), left_index=True, right_index=True)

Checking the answer Id = 26266031 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
Code to compile
df.merge(s.to_frame(), left_index=True, right_index=True)

Checking the answer Id = 40762674 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
26266362
Code to compile
count_nan = len(df) - df.count()

Checking the answer Id = 26266439 | Errors = ["name 'df' is not defined"]
Code to compile
In [1]: s = pd.Series([1,2,3, np.nan, np.nan])

In [4]: s.isnull().sum()
Out[4]: 2

Code to compile
In [5]: df = pd.DataFrame({'a':[1,2,np.nan], 'b':[np.nan,1,np.nan]})

In [6]: df.isnull().sum()
Out[6]:
a    1
b    2
dtype: int64

Checking the answer Id = 26266451 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
import pandas as pd
df = pd.DataFrame({'a':[1,2,np.nan], 'b':[np.nan,1,np.nan]})
for col in df:
    print df[col].value_counts(dropna=False)

2     1
 1     1
NaN    1
dtype: int64
NaN    2
 1     1
dtype: int64

Checking the answer Id = 26272425 | Errors = ['invalid syntax (<unknown>, line 4)']
Code to compile
 %%timeit
 df.isnull().any().any()

Code to compile
 %timeit
 df.isnull().values.sum()

Code to compile
 df.isnull().any()

Checking the answer Id = 36710126 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd
## df1 as an example data frame
## col1 name of column for which you want to calculate the nan values
sum(pd.isnull(df1['col1']))

Checking the answer Id = 41554866 | Errors = ["name 'df1' is not defined"]
----------------------------------------
----------------------------------------
26277757
Code to compile
pd.set_option('display.max_colwidth', -1)

Checking the answer Id = 26301947 | Errors = ["name 'pd' is not defined"]
Code to compile
    old_width = pd.get_option('display.max_colwidth')
    pd.set_option('display.max_colwidth', -1)
    open('some_file.html', 'w').write(some_data.to_html())
    pd.set_option('display.max_colwidth', old_width)

Checking the answer Id = 39762850 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26309962
Code to compile
>>> import pandas as pd
>>> df = pd.DataFrame(columns=['col1', 'col2'])
>>> df = df.append(pd.Series(['a', 'b'], index=['col1','col2']), ignore_index=True)
>>> df = df.append(pd.Series(['d', 'e'], index=['col1','col2']), ignore_index=True)
>>> df
  col1 col2
0    a    b
1    d    e

Checking the answer Id = 26310294 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> import pandas as pd
>>> df = pd.DataFrame()
>>> df = df.append({'foo':1, 'bar':2}, ignore_index=True)

Checking the answer Id = 26311118 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
>>> import pandas as pd
>>> list=[['a','b']]
>>> list.append(['e','f'])
>>> df=pd.DataFrame(list,columns=['col1','col2'])
   col1 col2
0    a    b
1    e    f

Checking the answer Id = 35509134 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26347412
Code to compile
df.drop(df.columns[[1, 69]], axis=1, inplace=True)

Checking the answer Id = 26347456 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
26414913
Code to compile
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pandas.DataFrame(x_scaled)

Checking the answer Id = 26415620 | Errors = ["No module named 'sklearn'"]
Code to compile
def f(s):
    return s/s.max()

frame.apply(f, axis=0)

Code to compile
   frame.apply(lambda x: x/x.max(), axis=0)

Checking the answer Id = 26422495 | Errors = ["name 'frame' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

Checking the answer Id = 29651514 | Errors = ['Sucess']
Code to compile
normalized_df=(df-df.mean())/df.std()

Code to compile
normalized_df=(df-df.min())/(df.max()-df.min())

Checking the answer Id = 41532180 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
26456125
Code to compile
In [20]: df.sort_index(ascending=False).groupby('A').agg([np.mean, lambda x: x.iloc[1] ])
Out[20]:
           B             C
        mean <lambda> mean <lambda>
A
group1  11.0       10  101      100
group2  17.5       10  175      100
group3  11.0       10  101      100

Checking the answer Id = 26465555 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26456825
Code to compile
In [132]: df[:5]['duration'] / np.timedelta64(1, 's')
Out[132]:
0    1232
1    1390
2    1495
3     797
4    1132
Name: duration, dtype: float64

Code to compile
In [131]: df[:5]['duration'].values.view('<i8')/10**9
Out[131]: array([1232, 1390, 1495,  797, 1132], dtype=int64)

Checking the answer Id = 26457238 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26473681
Code to compile
apt-get install python-numpy

Code to compile
--system-site-packages

Checking the answer Id = 26474062 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'system' is not defined"]
Checking the answer Id = 31573180 | Errors = []
Code to compile
pip install -U pip

Checking the answer Id = 38544742 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26483254
Checking the answer Id = 26510251 | Errors = []
----------------------------------------
----------------------------------------
26489134
Code to compile
#libs required
from scipy import stats
import pandas as pd
import numpy as np

#generate ramdom data with same seed (to be reproducible)
np.random.seed(seed=1)
df = pd.DataFrame(np.random.uniform(0,1,(10)), columns=['a'])

#quantile function
x = df.quantile(0.5)[0]

#inverse of quantile
stats.percentileofscore(df['a'],x)

Checking the answer Id = 33782239 | Errors = ["No module named 'scipy'"]
----------------------------------------
----------------------------------------
26495408
Checking the answer Id = 26495839 | Errors = []
----------------------------------------
----------------------------------------
26521266
Code to compile
xls = pd.ExcelFile('path_to_file.xls')
df1 = xls.parse('Sheet1')
df2 = xls.parse('Sheet2')

Checking the answer Id = 26521726 | Errors = ["name 'pd' is not defined"]
Code to compile
xls = pd.ExcelFile('path_to_file.xls')
sheet1 = xls.parse(0)

Code to compile
sheet2 = xls.parse(1)

Checking the answer Id = 28731311 | Errors = ["name 'pd' is not defined", "name 'xls' is not defined"]
Code to compile
data_file = pd.read_excel('path_to_file.xls', sheetname="sheet_name")

Checking the answer Id = 42180357 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
26535563
Code to compile
>>> pi = np.pi; nan = np.nan
>>> df = pd.DataFrame({"value": [3,4,9,10,11,np.nan,12]})
>>> df.query("(value < 10) and (value > @pi)")
   value
1      4
2      9

Code to compile
>>> df.query("(value < 10) or (value == @nan)")
   value
0      3
1      4
2      9

Code to compile
>>> df.query("(value < 10) or (value != value)")
   value
0      3
1      4
2      9
5    NaN

Checking the answer Id = 26535881 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26537878
Code to compile
In [1]: import pandas as pd

In [2]: df = pd.read_csv("test.csv")

In [3]: df
Out[3]:
  id  value1  value2  value3
0  A       1       2       3
1  B       4       5       6
2  C       7       8       9

In [4]: df["sum"] = df.sum(axis=1)

In [5]: df
Out[5]:
  id  value1  value2  value3  sum
0  A       1       2       3    6
1  B       4       5       6   15
2  C       7       8       9   24

In [6]: df_new = df.loc[:,"value1":"value3"].div(df["sum"], axis=0)

In [7]: df_new
Out[7]:
     value1    value2  value3
0  0.166667  0.333333   0.500
1  0.266667  0.333333   0.400
2  0.291667  0.333333   0.375

Code to compile
In [8]: df.loc[:,"value1":"value3"] = df.loc[:,"value1":"value3"].div(df["sum"], axis=0)

In [9]: df
Out[9]:
  id    value1    value2  value3  sum
0  A  0.166667  0.333333   0.500    6
1  B  0.266667  0.333333   0.400   15
2  C  0.291667  0.333333   0.375   24

Code to compile
In [10]: df = pd.read_csv("test.csv")

In [11]: df
Out[11]:
  id  value1  value2  value3
0  A       1       2       3
1  B       4       5       6
2  C       7       8       9

In [12]: df.loc[:,"value1":"value3"] = df.loc[:,"value1":"value3"].div(df.sum(axis=1), axis=0)

In [13]: df
Out[13]:
  id    value1    value2  value3
0  A  0.166667  0.333333   0.500
1  B  0.266667  0.333333   0.400
2  C  0.291667  0.333333   0.375

Checking the answer Id = 26538379 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 31480994 | Errors = []
----------------------------------------

----------------------------------------
26577516
Code to compile
>>> searchfor = ['og', 'at']
>>> s[s.str.contains('|'.join(searchfor))]
0    cat
1    hat
2    dog
3    fog
dtype: object

Code to compile
>>> import re
>>> matches = ['$money', 'x^y']
>>> safe_matches = [re.escape(m) for m in matches]
>>> safe_matches
['\\$money', 'x\\^y']

Checking the answer Id = 26577689 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26640145
Code to compile
df.index

Code to compile
list(df.index)

Code to compile
df.index['Row 2':'Row 5']

Checking the answer Id = 26640189 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
26645515
Code to compile
In [173]:

df_a.join(df_b, on='mukey', how='left', lsuffix='_left', rsuffix='_right')
Out[173]:
       mukey_left  DI  PI  mukey_right  niccdcd
index
0          100000  35  14          NaN      NaN
1         1000005  44  14          NaN      NaN
2         1000006  44  14          NaN      NaN
3         1000007  43  13          NaN      NaN
4         1000008  43  13          NaN      NaN

Code to compile
In [176]:

df_a.merge(df_b, on='mukey', how='left')
Out[176]:
     mukey  DI  PI  niccdcd
0   100000  35  14      NaN
1  1000005  44  14      NaN
2  1000006  44  14      NaN
3  1000007  43  13      NaN
4  1000008  43  13      NaN

Checking the answer Id = 26654201 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26646191
Code to compile
df = pd.DataFrame({'Date':['01-Jun-13','03-Jun-13', '15-Aug-13', '20-Jan-14', '21-Feb-14'],

Code to compile
def getMonth(s):
  return s.split("-")[1]

def getDay(s):
  return s.split("-")[0]

def getYear(s):
  return s.split("-")[2]

def getYearMonth(s):
  return s.split("-")[1]+"-"+s.split("-")[2]

Code to compile
df['year']= df['Date'].apply(lambda x: getYear(x))
df['month']= df['Date'].apply(lambda x: getMonth(x))
df['day']= df['Date'].apply(lambda x: getDay(x))
df['YearMonth']= df['Date'].apply(lambda x: getYearMonth(x))

Code to compile
        Date  abc  xyz year month day YearMonth
0  01-Jun-13  100  200   13   Jun  01    Jun-13
1  03-Jun-13  -20   50   13   Jun  03    Jun-13
2  15-Aug-13   40   -5   13   Aug  15    Aug-13
3  20-Jan-14   25   15   14   Jan  20    Jan-14
4  21-Feb-14   60   80   14   Feb  21    Feb-14

Code to compile
for key,g in df.groupby(['year','month']):
    print key,g

Code to compile
('13', 'Jun')         Date  abc  xyz year month day YearMonth
0  01-Jun-13  100  200   13   Jun  01    Jun-13
1  03-Jun-13  -20   50   13   Jun  03    Jun-13
('13', 'Aug')         Date  abc  xyz year month day YearMonth
2  15-Aug-13   40   -5   13   Aug  15    Aug-13
('14', 'Jan')         Date  abc  xyz year month day YearMonth
3  20-Jan-14   25   15   14   Jan  20    Jan-14
('14', 'Feb')         Date  abc  xyz year month day YearMonth

Code to compile
for key,g in df.groupby(['YearMonth']):
    print key,g

Code to compile
Jun-13         Date  abc  xyz year month day YearMonth
0  01-Jun-13  100  200   13   Jun  01    Jun-13
1  03-Jun-13  -20   50   13   Jun  03    Jun-13
Aug-13         Date  abc  xyz year month day YearMonth
2  15-Aug-13   40   -5   13   Aug  15    Aug-13
Jan-14         Date  abc  xyz year month day YearMonth
3  20-Jan-14   25   15   14   Jan  20    Jan-14
Feb-14         Date  abc  xyz year month day YearMonth
4  21-Feb-14   60   80   14   Feb  21    Feb-14

Code to compile
        Date  abc  xyz year month day YearMonth
0  01-Jun-13  100  200   13   Jun  01    Jun-13
1  03-Jun-13  -20   50   13   Jun  03    Jun-13

Code to compile
print df[df['YearMonth']=='Jun-13']

Code to compile
        Date  abc  xyz year month day YearMonth
0  01-Jun-13  100  200   13   Jun  01    Jun-13
1  03-Jun-13  -20   50   13   Jun  03    Jun-13

Code to compile
print df[df['YearMonth']=='Jun-13'].abc.values
print df[df['YearMonth']=='Jun-13'].xyz.values

Code to compile
[100 -20]  #abc values
[200  50]  #xyz values

Code to compile
for x in set(df.YearMonth):
    print df[df['YearMonth']==x].abc.values
    print df[df['YearMonth']==x].xyz.values

Checking the answer Id = 26647211 | Errors = ['unexpected EOF while parsing (<unknown>, line 1)', 'Sucess', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 2)", 'invalid syntax (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 2)", 'invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 1)", 'unexpected indent (<unknown>, line 1)', "Missing parentheses in call to 'print' (<unknown>, line 1)", 'invalid syntax (<unknown>, line 2)', "Missing parentheses in call to 'print' (<unknown>, line 2)"]
Code to compile
In [11]: df1
Out[11]:
            abc  xyz
Date
2013-06-01  100  200
2013-06-03  -20   50
2013-08-15   40   -5
2014-01-20   25   15
2014-02-21   60   80

In [12]: g = df1.groupby(pd.TimeGrouper("M"))  # DataFrameGroupBy (grouped by Month)

In [13]: g.sum()
Out[13]:
            abc  xyz
Date
2013-06-30   80  250
2013-07-31  NaN  NaN
2013-08-31   40   -5
2013-09-30  NaN  NaN
2013-10-31  NaN  NaN
2013-11-30  NaN  NaN
2013-12-31  NaN  NaN
2014-01-31   25   15
2014-02-28   60   80

In [14]: df1.resample("M", how='sum')  # the same
Out[14]:
            abc  xyz
Date
2013-06-30   40  125
2013-07-31  NaN  NaN
2013-08-31   40   -5
2013-09-30  NaN  NaN
2013-10-31  NaN  NaN
2013-11-30  NaN  NaN
2013-12-31  NaN  NaN
2014-01-31   25   15
2014-02-28   60   80

Code to compile
In [21]: df
Out[21]:
        Date  abc  xyz
0 2013-06-01  100  200
1 2013-06-03  -20   50
2 2013-08-15   40   -5
3 2014-01-20   25   15
4 2014-02-21   60   80

In [22]: pd.DatetimeIndex(df.Date).to_period("M")  # old way
Out[22]:
<class 'pandas.tseries.period.PeriodIndex'>
[2013-06, ..., 2014-02]
Length: 5, Freq: M

In [23]: per = df.Date.dt.to_period("M")  # new way to get the same

In [24]: g = df.groupby(per)

In [25]: g.sum()  # dang not quite what we want (doesn't fill in the gaps)
Out[25]:
         abc  xyz
2013-06   80  250
2013-08   40   -5
2014-01   25   15
2014-02   60   80

Checking the answer Id = 26649199 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
GB=DF.groupby([(DF.index.year),(DF.index.month)]).sum()

Code to compile
print(GB)
        abc  xyz
2013 6   80  250
     8   40   -5
2014 1   25   15
     2   60   80

Code to compile
GB.plot('abc','xyz',kind='scatter')

Checking the answer Id = 40770463 | Errors = ["name 'DF' is not defined", 'unexpected indent (<unknown>, line 2)', "name 'GB' is not defined"]
----------------------------------------
----------------------------------------
26658240
Code to compile
In [182]:

df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a','b','c'])
def rowFunc(row):
    return row['a'] + row['b'] * row['c']

def rowIndex(row):
    return row.name
df['d'] = df.apply(rowFunc, axis=1)
df['rowIndex'] = df.apply(rowIndex, axis=1)
df
Out[182]:
   a  b  c   d  rowIndex
0  1  2  3   7         0
1  4  5  6  34         1

Code to compile
In [198]:

df['d'] = df['a'] + df['b'] * df['c']
df
Out[198]:
   a  b  c   d
0  1  2  3   7
1  4  5  6  34

In [199]:

%timeit df['a'] + df['b'] * df['c']
%timeit df.apply(rowIndex, axis=1)
10000 loops, best of 3: 163 µs per loop
1000 loops, best of 3: 286 µs per loop

Checking the answer Id = 26658301 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26666919
Code to compile
>>> m = np.arange(16)*10
>>> m[df.A]
array([  0,  40,  50,  60, 150, 150, 140, 130])
>>> df["D"] = m[df.A]
>>> df
    A   B   C    D
0   0 NaN NaN    0
1   4 NaN NaN   40
2   5 NaN NaN   50
3   6 NaN NaN   60
4  15 NaN NaN  150
5  15 NaN NaN  150
6  14 NaN NaN  140
7  13 NaN NaN  130

Checking the answer Id = 26667043 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
se = pd.Series(mylist)

Code to compile
df['new_col'] = se.values

Checking the answer Id = 38490727 | Errors = ["name 'pd' is not defined", "name 'se' is not defined"]
----------------------------------------
----------------------------------------
26678467
Code to compile
import pandas as pd
import numpy as np
import subprocess

df = pd.DataFrame({'d': [1., 1., 1., 2., 2., 2.],
                   'c': np.tile(['a', 'b', 'c'], 2),
                   'v': np.arange(1., 7.)})
filename = 'out.tex'
pdffile = 'out.pdf'
outname = 'out.png'

template = r'''\documentclass[preview]{{standalone}}
\usepackage{{booktabs}}
\begin{{document}}
{}
\end{{document}}
'''

with open(filename, 'wb') as f:
    f.write(template.format(df.to_latex()))

subprocess.call(['pdflatex', filename])
subprocess.call(['convert', '-density', '300', pdffile, '-quality', '90', outname])

Code to compile
import pandas as pd
import numpy as np
import subprocess

df = pd.DataFrame({'d': [1., 1., 1., 2., 2., 2.],
                   'c': np.tile(['a', 'b', 'c'], 2),
                   'v': np.arange(1., 7.)})
filename = '/tmp/out.html'
outname = '/tmp/out.png'
cropname = '/tmp/cropped.png'

with open(filename, 'wb') as f:
    f.write(df.to_html())
rasterize = '/path/to/phantomjs/examples/rasterize.js'
subprocess.call(['phantomjs', rasterize, filename, outname])
subprocess.call(['convert', outname, '-trim', cropname])

Checking the answer Id = 26681726 | Errors = ["a bytes-like object is required, not 'str'", "a bytes-like object is required, not 'str'"]
----------------------------------------

----------------------------------------
26716616
Code to compile
df = pd.read_csv("file")
d= dict([(i,[a,b,c ]) for i, a,b,c in zip(df.ID, df.A,df.B,df.C)])
print d

Code to compile
{'p': [1, 3, 2], 'q': [4, 3, 2], 'r': [4, 0, 9]}

Checking the answer Id = 26716759 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 3)", 'Sucess']
Code to compile
>>> df.set_index('ID').T.to_dict('list')
{'p': [1, 3, 2], 'q': [4, 3, 2], 'r': [4, 0, 9]}

Checking the answer Id = 26716774 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26724378
Code to compile
row_index = df.col1 == 10
# then with the form .loc[row_indexer,col_indexer]
df.loc[row_index, 'col1'] = 100

Checking the answer Id = 26724581 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
26763344
Code to compile
raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f')

Checking the answer Id = 26763793 | Errors = ["name 'pd' is not defined"]
Code to compile
>>> df = pd.DataFrame(['05SEP2014:00:00:00.000'],columns=['Mycol'])
>>> df
                    Mycol
0  05SEP2014:00:00:00.000
>>> import datetime as dt
>>> df['Mycol'] = df['Mycol'].apply(lambda x:
                                    dt.datetime.strptime(x,'%d%b%Y:%H:%M:%S.%f'))
>>> df
       Mycol
0 2014-09-05

Checking the answer Id = 26763810 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26777832
Code to compile
>>> df2 = df.loc[np.repeat(df.index.values,df.n)]
>>> df2
  id  n   v
0  A  1  10
1  B  2  13
1  B  2  13
2  C  3   8
2  C  3   8
2  C  3   8

Code to compile
>>> df2 = df2.drop("n",axis=1).reset_index(drop=True)
>>> df2
  id   v
0  A  10
1  B  13
2  B  13
3  C   8
4  C   8
5  C   8

Checking the answer Id = 26778637 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26784164
----------------------------------------
----------------------------------------
26786960
Code to compile
df_csv = df0_fa.to_csv('revenue/data/test.csv',mode = 'w', index=False)

Checking the answer Id = 26787032 | Errors = ["name 'df0_fa' is not defined"]
----------------------------------------
----------------------------------------
26837998
Code to compile
import numpy as np
df1 = df.replace(np.nan, '', regex=True)

Checking the answer Id = 26838140 | Errors = ["name 'df' is not defined"]
Code to compile
df = df.fillna('')

Code to compile
df.column1 = df.column1.fillna('')

Checking the answer Id = 28390992 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
26868304
Code to compile
import pandas as pd
pd.options.display.mpl_style = 'default'
new_style = {'grid': False}
matplotlib.rc('axes', **new_style)
data = pd.DataFrame(np.cumsum(np.random.normal(size=(100,2)),axis=0),columns=['A','B'])
data.plot(secondary_y=['B'])

Checking the answer Id = 26873148 | Errors = ["'You can only set the value of existing options'"]
Code to compile
sns.set_style("whitegrid", {'axes.grid' : False})

Checking the answer Id = 33590284 | Errors = ["name 'sns' is not defined"]
Code to compile
# Gets the axes object out after plotting
ax = data.plot(...)

# Turns off grid on the left Axis.
ax.grid(False)

# Turns off grid on the secondary (right) Axis.
ax.right_ax(False)

Checking the answer Id = 35453836 | Errors = ["name 'data' is not defined"]
----------------------------------------
----------------------------------------
26873127
Code to compile
from IPython.display import display
display(df)  # OR
print df.to_html()

Checking the answer Id = 28507257 | Errors = ['invalid syntax (<unknown>, line 3)']
Code to compile
from IPython.display import display, HTML

# Assuming that dataframes df1 and df2 are already defined:
print "Dataframe 1:"
display(df1)
print "Dataframe 2:"
HTML(df2.to_html())

Checking the answer Id = 29665452 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 4)"]
Code to compile
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Code to compile
df1
df2

Checking the answer Id = 42392805 | Errors = ['Sucess', "name 'df1' is not defined"]
----------------------------------------
----------------------------------------
26878476
Code to compile
 flights %>%
   group_by(year, month, day) %>%
   select(arr_delay, dep_delay) %>%
   summarise(
      arr = mean(arr_delay, na.rm = TRUE),
      dep = mean(dep_delay, na.rm = TRUE)
       ) %>%
   filter(arr > 30 | dep > 30)

Code to compile
flights.groupby(['year', 'month', 'day'])
   [['arr_delay', 'dep_delay']]
   .mean()
   .query('arr_delay > 30 | dep_delay > 30')

Checking the answer Id = 29585283 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 2)']
Code to compile
dataf = (DataFrame(mtcars).
         filter('gear>3').
         mutate(powertoweight='hp*36/wt').
         group_by('gear').
         summarize(mean_ptw='mean(powertoweight)'))

Code to compile
flights %>%
   group_by(year, month, day) %>%
   select(arr_delay, dep_delay) %>%
   summarise(
      arr = mean(arr_delay, na.rm = TRUE),
      dep = mean(dep_delay, na.rm = TRUE)
      ) %>%
   filter(arr > 30 | dep > 30)

Code to compile
(DataFrame(flights).
 group_by('year', 'month', 'day').
 select('arr_delay', 'dep_delay').
 summarize(arr = 'mean(arr_delay, na.rm=TRUE)',
           dep = 'mean(dep_delay, na.rm=TRUE)').
 filter('arr > 30 | dep > 30'))

Checking the answer Id = 32000194 | Errors = ["name 'DataFrame' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'DataFrame' is not defined"]
----------------------------------------
----------------------------------------
26879073
Checking the answer Id = 26893083 | Errors = []
----------------------------------------
----------------------------------------
26886653
Code to compile
def label_race (row):
   if row['eri_hispanic'] == 1 :
      return 'Hispanic'
   if row['eri_afr_amer'] + row['eri_asian'] + row['eri_hawaiian'] + row['eri_nat_amer'] + row['eri_white'] > 1 :
      return 'Two Or More'
   if row['eri_nat_amer'] == 1 :
      return 'A/I AK Native'
   if row['eri_asian'] == 1:
      return 'Asian'
   if row['eri_afr_amer']  == 1:
      return 'Black/AA'
   if row['eri_hawaiian'] == 1:
      return 'Haw/Pac Isl.'
   if row['eri_white'] == 1:
      return 'White'
   return 'Other'

Code to compile
df.apply (lambda row: label_race (row),axis=1)

Code to compile
0           White
1        Hispanic
2           White
3           White
4           Other
5           White
6     Two Or More
7           White
8    Haw/Pac Isl.
9           White

Code to compile
df['race_label'] = df.apply (lambda row: label_race (row),axis=1)

Code to compile
      lname   fname rno_cd  eri_afr_amer  eri_asian  eri_hawaiian   eri_hispanic  eri_nat_amer  eri_white rno_defined    race_label
0      MOST    JEFF      E             0          0             0              0             0          1       White         White
1    CRUISE     TOM      E             0          0             0              1             0          0       White      Hispanic
2      DEPP  JOHNNY    NaN             0          0             0              0             0          1     Unknown         White
3     DICAP     LEO    NaN             0          0             0              0             0          1     Unknown         White
4    BRANDO  MARLON      E             0          0             0              0             0          0       White         Other
5     HANKS     TOM    NaN             0          0             0              0             0          1     Unknown         White
6    DENIRO  ROBERT      E             0          1             0              0             0          1       White   Two Or More
7    PACINO      AL      E             0          0             0              0             0          1       White         White
8  WILLIAMS   ROBIN      E             0          0             1              0             0          0       White  Haw/Pac Isl.
9  EASTWOOD   CLINT      E             0          0             0              0             0          1       White         White

Checking the answer Id = 26887820 | Errors = ['Sucess', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
26893419
Code to compile
yes_records_sample['name'].isnull()

Checking the answer Id = 26893443 | Errors = ["name 'yes_records_sample' is not defined"]
----------------------------------------
----------------------------------------
26977076
Code to compile
>>> np.unique(df[['Col1', 'Col2']])
array(['Bill', 'Bob', 'Joe', 'Mary', 'Steve'], dtype=object)

Code to compile
np.unique(df[['Col1', 'Col2']].values)

Code to compile
>>> pd.unique(df[['Col1', 'Col2']].values.ravel())
array(['Bob', 'Joe', 'Steve', 'Bill', 'Mary'], dtype=object)

Code to compile
>>> df1 = pd.concat([df]*100000) # DataFrame with 500000 rows
>>> %timeit np.unique(df1[['Col1', 'Col2']].values)
1 loops, best of 3: 619 ms per loop

>>> %timeit pd.unique(df1[['Col1', 'Col2']].values.ravel())
10 loops, best of 3: 49.9 ms per loop

Checking the answer Id = 26977495 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'np' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------

27012151
Code to compile
cols = ['X', 'Y']
df[cols] = df[cols].ffill()

Code to compile
>>> import pandas as pd
>>> import numpy as np
>>>
>>> #%% create dataframe
... ts1 = [0, 1, np.nan, np.nan, np.nan, np.nan]
>>> ts2 = [0, 2, np.nan, 3, np.nan, np.nan]
>>> d =  {'X': ts1, 'Y': ts2, 'Z': ts2}
>>> df = pd.DataFrame(data=d)
>>> print(df.head())
    X   Y   Z
0   0   0   0
1   1   2   2
2 NaN NaN NaN
3 NaN   3   3
4 NaN NaN NaN
>>>
>>> #%% apply forward fill
... col = ['X', 'Y']
>>> df[col] = df[col].ffill()
>>> print(df.head())
   X  Y   Z
0  0  0   0
1  1  2   2
2  1  2 NaN
3  1  3   3
4  1  3 NaN

Checking the answer Id = 27018394 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27050108
Code to compile
>>> import numpy
>>> import json
>>> json.dumps(numpy.int32(685))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/lib/python2.7/json/__init__.py", line 243, in dumps
    return _default_encoder.encode(obj)
  File "/usr/lib/python2.7/json/encoder.py", line 207, in encode
    chunks = self.iterencode(o, _one_shot=True)
  File "/usr/lib/python2.7/json/encoder.py", line 270, in iterencode
    return _iterencode(o, 0)
  File "/usr/lib/python2.7/json/encoder.py", line 184, in default
    raise TypeError(repr(o) + " is not JSON serializable")
TypeError: 685 is not JSON serializable

Code to compile
class MyEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, numpy.integer):
            return int(obj)
        elif isinstance(obj, numpy.floating):
            return float(obj)
        elif isinstance(obj, numpy.ndarray):
            return obj.tolist()
        else:
            return super(MyEncoder, self).default(obj)

Code to compile
json.dumps(numpy.float32(1.2), cls=MyEncoder)
json.dumps(numpy.arange(12), cls=MyEncoder)
json.dumps({'a': numpy.int32(42)})

Checking the answer Id = 27050186 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'json' is not defined", "name 'json' is not defined"]
----------------------------------------
----------------------------------------
27060098
Code to compile
>>> df['BrandName'].replace(['ABC', 'AB'], 'A')
0    A
1    B
2    A
3    D
4    A

Code to compile
df['BrandName'] = df['BrandName'].replace(['ABC', 'AB'], 'A')

Checking the answer Id = 27060328 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
Code to compile
DataFrame.replace(
        to_replace=None,
        value=None,
        inplace=False,
        limit=None,
        regex=False,
        method='pad',
        axis=None)

Code to compile
df['BrandName'].replace(
    to_replace=['ABC', 'AB'],
    value='A',
    inplace=True
)

Checking the answer Id = 40818627 | Errors = ["name 'DataFrame' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
27065133
Checking the answer Id = 27066284 | Errors = []
----------------------------------------
----------------------------------------
27116739
Checking the answer Id = 27139421 | Errors = []
----------------------------------------
----------------------------------------
27117773
Code to compile
df['col2'] = df['col']
df.loc[df['col'] != 'pre', 'col2'] = 'nonpre'

df
Out[7]:
    col    col2
0   pre     pre
1  post  nonpre
2     a  nonpre
3     b  nonpre
4  post  nonpre
5   pre     pre
6   pre     pre

Checking the answer Id = 27117982 | Errors = ['invalid syntax (<unknown>, line 5)']
----------------------------------------
----------------------------------------
27126511
Code to compile
In [38]:

import numpy as np
df = pd.DataFrame({'a':np.arange(5)})
df1 = pd.DataFrame({'b':np.arange(4)})
print(df1)
df
   b
0  0
1  1
2  2
3  3
Out[38]:
   a
0  0
1  1
2  2
3  3
4  4
In [39]:

pd.concat([df,df1], ignore_index=True, axis=1)
Out[39]:
   0   1
0  0   0
1  1   1
2  2   2
3  3   3
4  4 NaN

Checking the answer Id = 27126593 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
import pandas

original = pandas.DataFrame({
    'Age':[10, 12, 13],
    'Gender':['M','F','F']})

data = ['Nate A', 'Jessie A', 'Daniel H', 'John D']
additional = pandas.DataFrame({'Name': data})

new = pandas.concat([original, additional], axis=1)
# Identical:
# new = pandas.concat([original, additional], ignore_index=False, axis=1)

print(new.head())

#          Age        Gender        Name
#0          10             M      Nate A
#1          12             F    Jessie A
#2          13             F    Daniel H
#3         NaN           NaN      John D

     Age Gender      Name
0 $10.00      M    Nate A
1 $12.00      F  Jessie A
2 $13.00      F  Daniel H
3   $nan    NaN    John D
Checking the answer Id = 33404243 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
27203161
Code to compile
import numpy as np
import pandas as pd

filename = '/tmp/test.h5'

df = pd.DataFrame(np.arange(10).reshape((5,2)), columns=['A', 'B'])
print(df)
#    A  B
# 0  0  1
# 1  2  3
# 2  4  5
# 3  6  7
# 4  8  9

# Save to HDF5
df.to_hdf(filename, 'data', mode='w', format='table')
del df    # allow df to be garbage collected

# Append more data
df2 = pd.DataFrame(np.arange(10).reshape((5,2))*10, columns=['A', 'B'])
df2.to_hdf(filename, 'data', append=True)

print(pd.read_hdf(filename, 'data'))

   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
Code to compile
    A   B
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
0   0  10
1  20  30
2  40  50
3  60  70
4  80  90

Code to compile
import numpy as np
import pandas as pd

filename = '/tmp/test.h5'
store = pd.HDFStore(filename)

for i in range(2):
    df = pd.DataFrame(np.arange(10).reshape((5,2)) * 10**i, columns=['A', 'B'])
    store.append('data', df)

store.close()

store = pd.HDFStore(filename)
data = store['data']
print(data)
store.close()

Code to compile
    A   B
0   0   1
1   2   3
2   4   5
3   6   7
4   8   9
0   0  10
1  20  30
2  40  50
3  60  70
4  80  90

Checking the answer Id = 27203245 | Errors = ['HDFStore requires PyTables, "No module named \'tables\'" problem importing', 'unexpected indent (<unknown>, line 1)', 'HDFStore requires PyTables, "No module named \'tables\'" problem importing', 'unexpected indent (<unknown>, line 1)']
Code to compile
import numpy
import tables
import os

training_data = tables.open_file('nn_training.h5', mode='w')
a = tables.Float64Atom()
bl_filter = tables.Filters(5, 'blosc')   # fast compressor at a moderate setting

training_input =  training_data.create_earray(training_data.root, 'X', a,
                                             (0, 1323), 'Training Input',
                                             bl_filter, 4000000)
training_output = training_data.create_earray(training_data.root, 'Y', a,
                                             (0, 27), 'Training Output',
                                             bl_filter, 4000000)

for filename in os.listdir('input'):
    print "loading {}...".format(filename)
    a = numpy.load(os.path.join('input', filename))
    print "writing to h5"
    training_input.append(a)

for filename in os.listdir('output'):
    print "loading {}...".format(filename)
    training_output.append(numpy.load(os.path.join('output', filename)))

Checking the answer Id = 27203304 | Errors = ['invalid syntax (<unknown>, line 17)']
----------------------------------------
----------------------------------------
27236275
Checking the answer Id = 27242735 | Errors = []
Checking the answer Id = 37655063 | Errors = []
----------------------------------------
----------------------------------------
27263805
Code to compile
>>> df
                samples  subject  trial_num
0  [-0.07, -2.9, -2.44]        1          1
1   [-1.52, -0.35, 0.1]        1          2
2  [-0.17, 0.57, -0.65]        1          3
3  [-0.82, -1.06, 0.47]        2          1
4   [0.79, 1.35, -0.09]        2          2
5   [1.17, 1.14, -1.79]        2          3
>>>
>>> s = df.apply(lambda x: pd.Series(x['samples']),axis=1).stack().reset_index(level=1, drop=True)
>>> s.name = 'sample'
>>>
>>> df.drop('samples', axis=1).join(s)
   subject  trial_num  sample
0        1          1   -0.07
0        1          1   -2.90
0        1          1   -2.44
1        1          2   -1.52
1        1          2   -0.35
1        1          2    0.10
2        1          3   -0.17
2        1          3    0.57
2        1          3   -0.65
3        2          1   -0.82
3        2          1   -1.06
3        2          1    0.47
4        2          2    0.79
4        2          2    1.35
4        2          2   -0.09
5        2          3    1.17
5        2          3    1.14
5        2          3   -1.79

Code to compile
>>> res = df.set_index(['subject', 'trial_num'])['samples'].apply(pd.Series).stack()
>>> res = res.reset_index()
>>> res.columns = ['subject','trial_num','sample_num','sample']
>>> res
    subject  trial_num  sample_num  sample
0         1          1           0    1.89
1         1          1           1   -2.92
2         1          1           2    0.34
3         1          2           0    0.85
4         1          2           1    0.24
5         1          2           2    0.72
6         1          3           0   -0.96
7         1          3           1   -2.72
8         1          3           2   -0.11
9         2          1           0   -1.33
10        2          1           1    3.13
11        2          1           2   -0.65
12        2          2           0    0.10
13        2          2           1    0.65
14        2          2           2    0.15
15        2          3           0    0.64
16        2          3           1   -0.10
17        2          3           2   -0.76

Checking the answer Id = 27266225 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27275236
Code to compile
In [28]:

filter_col = [col for col in df if col.startswith('foo')]
filter_col
Out[28]:
['foo.aa', 'foo.bars', 'foo.fighters', 'foo.fox', 'foo.manchu']
In [29]:

df[filter_col]
Out[29]:
   foo.aa  foo.bars  foo.fighters  foo.fox foo.manchu
0     1.0         0             0        2         NA
1     2.1         0             1        4          0
2     NaN         0           NaN        1          0
3     4.7         0             0        0          0
4     5.6         0             0        0          0
5     6.8         1             0        5          0

Code to compile
In [33]:

df[df.columns[pd.Series(df.columns).str.startswith('foo')]]
Out[33]:
   foo.aa  foo.bars  foo.fighters  foo.fox foo.manchu
0     1.0         0             0        2         NA
1     2.1         0             1        4          0
2     NaN         0           NaN        1          0
3     4.7         0             0        0          0
4     5.6         0             0        0          0
5     6.8         1             0        5          0

Code to compile
In [36]:

df[df[df.columns[pd.Series(df.columns).str.startswith('foo')]]==1]
Out[36]:
   bar.baz  foo.aa  foo.bars  foo.fighters  foo.fox foo.manchu nas.foo
0      NaN       1       NaN           NaN      NaN        NaN     NaN
1      NaN     NaN       NaN             1      NaN        NaN     NaN
2      NaN     NaN       NaN           NaN        1        NaN     NaN
3      NaN     NaN       NaN           NaN      NaN        NaN     NaN
4      NaN     NaN       NaN           NaN      NaN        NaN     NaN
5      NaN     NaN         1           NaN      NaN        NaN     NaN

Code to compile
In [72]:

df.loc[df[df[df.columns[pd.Series(df.columns).str.startswith('foo')]] == 1].dropna(how='all', axis=0).index]
Out[72]:
   bar.baz  foo.aa  foo.bars  foo.fighters  foo.fox foo.manchu nas.foo
0      5.0     1.0         0             0        2         NA      NA
1      5.0     2.1         0             1        4          0       0
2      6.0     NaN         0           NaN        1          0       1
5      6.8     6.8         1             0        5          0       0

Checking the answer Id = 27275344 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.loc[:, df.columns.str.startswith('foo')]

Code to compile
>>> df.filter(regex=r'^foo\.', axis=1)
   foo.aa  foo.bars  foo.fighters  foo.fox foo.manchu
0     1.0         0             0        2         NA
1     2.1         0             1        4          0
2     NaN         0           NaN        1          0
3     4.7         0             0        0          0
4     5.6         0             0        0          0
5     6.8         1             0        5          0

Code to compile
>>> df.loc[(df == 1).any(axis=1), df.filter(regex=r'^foo\.', axis=1).columns]
   foo.aa  foo.bars  foo.fighters  foo.fox foo.manchu
0     1.0         0             0        2         NA
1     2.1         0             1        4          0
2     NaN         0           NaN        1          0
5     6.8         1             0        5          0

Checking the answer Id = 27275479 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27325652
Code to compile
pd.read_csv('test.csv', sep='|', skiprows=range(1, 10))

Checking the answer Id = 27325729 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
27365467
Code to compile
        date
0 2001-08-10
1 2002-08-31
2 2003-08-29
3 2006-06-21
4 2002-03-27
5 2003-07-14
6 2004-06-15
7 2003-08-14
8 2003-07-29

Code to compile
df["date"] = df["date"].astype("datetime64")

Code to compile
df.groupby(df["date"].dt.month).count().plot(kind="bar")

Code to compile
df.groupby([df["date"].dt.year, df["date"].dt.month]).count().plot(kind="bar")

Checking the answer Id = 29036738 | Errors = ['unexpected indent (<unknown>, line 1)', "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined"]

----------------------------------------
----------------------------------------
27405483
Code to compile
grouped = df.groupby('A')

for name, group in grouped:
    ...

Checking the answer Id = 27422749 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
27467730
Code to compile
df2 = pd.DataFrame(data=None, columns=df1.columns,index=df1.index)

Checking the answer Id = 30355286 | Errors = ["name 'pd' is not defined"]
Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame([[1, 'a'], [2, 'b'], [3, 'c']],
   ...:                   columns=['num', 'char'])

In [3]: df
Out[3]:
   num char
0    1    a
1    2    b
2    3    c

In [4]: df.dtypes
Out[4]:
num      int64
char    object
dtype: object

Code to compile
In [5]: empty_copy_1 = pd.DataFrame(data=None, columns=df.columns)

In [6]: empty_copy_1
Out[6]:
Empty DataFrame
Columns: [num, char]
Index: []

In [7]: empty_copy_1.dtypes
Out[7]:
num     object
char    object
dtype: object

Code to compile
In [8]: empty_copy_2 = pd.DataFrame.from_items([
   ...:     (name, pd.Series(data=None, dtype=series.dtype))
   ...:     for name, series in df.iteritems()])

In [9]: empty_copy_2
Out[9]:
Empty DataFrame
Columns: [num, char]
Index: []

In [10]: empty_copy_2.dtypes
Out[10]:
num      int64
char    object
dtype: object

Checking the answer Id = 37851232 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27472548
Code to compile
df.plot(x='x', y='y', style=".")

Checking the answer Id = 29737663 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
27474921
Code to compile
df['que'] = df.apply(lambda x : x['one'] if x['one'] >= x['two'] and x['one'] <= x['three'] else "", axis=1)

Code to compile
def que(x):
    if x['one'] >= x['two'] and x['one'] <= x['three']:
        return x['one']
    else:
        ''
df['que'] = df.apply(que, axis=1)

Checking the answer Id = 27475029 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
>>> df['que'] = df['one'][(df['one'] >= df['two']) & (df['one'] <= df['three'])]
>>> df
    one two three   que
0   10  1.2 4.2      10
1   15  70  0.03    NaN
2   8   5   0       NaN

Code to compile
>>> df['que'] = df['que'].fillna(0)
>>> df
    one two three   que
0   10  1.2   4.2    10
1   15   70  0.03     0
2    8    5     0     0

Checking the answer Id = 27475046 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
C = np.where(cond, A, B)

Code to compile
import numpy as np
import pandas as pd

a = [['10', '1.2', '4.2'], ['15', '70', '0.03'], ['8', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])

df['que'] = np.where((df['one'] >= df['two']) & (df['one'] <= df['three'])
                     , df['one'], np.nan)

Code to compile
  one  two three  que
0  10  1.2   4.2   10
1  15   70  0.03  NaN
2   8    5     0  NaN

Code to compile
conditions = [
    (df['one'] >= df['two']) & (df['one'] <= df['three']),
    df['one'] < df['two']]

choices = [df['one'], df['two']]

df['que'] = np.select(conditions, choices, default=np.nan)

Code to compile
  one  two three  que
0  10  1.2   4.2   10
1  15   70  0.03   70
2   8    5     0  NaN

Code to compile
conditions = [
    df['one'] < df['two'],
    df['one'] <= df['three']]

choices = [df['two'], df['one']]

Code to compile
a = [['10', '1.2', '4.2'], ['15', '70', '0.03'], ['8', '5', '0']]
df = pd.DataFrame(a, columns=['one', 'two', 'three'])

Code to compile
df2 = df.astype(float)

Code to compile
In [61]: '10' <= '4.2'
Out[61]: True

In [62]: 10 <= 4.2
Out[62]: False

Checking the answer Id = 27475514 | Errors = ["name 'np' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", "name 'pd' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27488080
Code to compile
import pandas
from io import StringIO

csv = StringIO("""index,A,B
0,1,0.0
1,1,3.0
2,1,6.0
3,2,0.0
4,2,5.0
5,2,7.0""")

df = pandas.read_csv(csv, index_col='index')
groups = df.groupby(by=['A'])
print(groups.apply(lambda g: g[g['B'] == g['B'].max()]))

         A     B
A index
1 2      1 $6.00
2 5      2 $7.00
Code to compile
         A  B
A index
1 2      1  6
2 4      2  7

Checking the answer Id = 27489248 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
Code to compile
def get_max_rows(df):
    B_maxes = df.groupby('A').B.transform(max)
    return df[df.B == B_maxes]

Code to compile
import numpy as np
import pandas as pd
df_lots_groups = pd.DataFrame(np.random.rand(30000, 3), columns = list('BCD')
df_lots_groups['A'] = np.random.choice(range(10000), 30000)

%timeit get_max_rows(df_lots_groups)
100 loops, best of 3: 2.86 ms per loop

%timeit df_lots_groups.groupby('A').apply(lambda df: df[ df.B == df.B.max()])
1 loops, best of 3: 5.83 s per loop

Code to compile
def get_group_rows(df, group_col, condition_col, func=max, comparison='=='):
    g = df.groupby(group_col)[condition_col]
    condition_limit = g.transform(func)
    df.query('condition_col {} @condition_limit'.format(comparison))

Code to compile
get_group_rows(df, 'A', 'B', 'median', '>')

Code to compile
%timeit get_group_rows(df_lots_small_groups, 'A', 'B', 'max', '==')
100 loops, best of 3: 2.84 ms per loop
%timeit get_group_rows(df_lots_small_groups, 'A', 'B', 'mean', '!=')
100 loops, best of 3: 2.97 ms per loop

Checking the answer Id = 27987908 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 4)', 'Sucess', "name 'get_group_rows' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27517425
Code to compile
df.groupby('A').transform(lambda x: (x['C'] - x['D']))
df.groupby('A').transform(lambda x: (x['C'] - x['D']).mean())

Code to compile
zscore = lambda x: (x - x.mean()) / x.std() # Note that it does not reference anything outside of 'x' and for transform 'x' is one column.
df.groupby('A').transform(zscore)

Code to compile
       C      D
0  0.989  0.128
1 -0.478  0.489
2  0.889 -0.589
3 -0.671 -1.150
4  0.034 -0.285
5  1.149  0.662
6 -1.404 -0.907
7 -0.509  1.653

Code to compile
df.groupby('A')['C'].transform(zscore)

Code to compile
0    0.989
1   -0.478
2    0.889
3   -0.671
4    0.034
5    1.149
6   -1.404
7   -0.509

Code to compile
df.groupby('A').apply(zscore)

Code to compile
ValueError: operands could not be broadcast together with shapes (6,) (2,)

Code to compile
df['sum_C'] = df.groupby('A')['C'].transform(sum)
df.sort('A') # to clearly see the scalar ('sum') applies to the whole column of the group

Code to compile
     A      B      C      D  sum_C
1  bar    one  1.998  0.593  3.973
3  bar  three  1.287 -0.639  3.973
5  bar    two  0.687 -1.027  3.973
4  foo    two  0.205  1.274  4.373
2  foo    two  0.128  0.924  4.373
6  foo    one  2.113 -0.516  4.373
7  foo  three  0.657 -1.179  4.373
0  foo    one  1.270  0.201  4.373

Code to compile
df.groupby('A')['C'].apply(sum)

Code to compile
A
bar    3.973
foo    4.373

Code to compile
df[df.groupby(['B'])['D'].transform(sum) < -1]

     A      B      C      D
3  bar  three  1.287 -0.639
7  foo  three  0.657 -1.179

Checking the answer Id = 27951930 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 2)', 'unexpected indent (<unknown>, line 3)']
----------------------------------------
----------------------------------------
27667759
Checking the answer Id = 27667801 | Errors = []
----------------------------------------
----------------------------------------
27673231
Code to compile
df = DataFrame({'x': [1,2]})
df_sub = df[0:1]
df_sub.x = -1
print(df)

Code to compile
x
0 -1
1  2

Code to compile
df_sub_copy = df[0:1].copy()
df_sub_copy.x = -1

Checking the answer Id = 27680109 | Errors = ["name 'DataFrame' is not defined", 'invalid syntax (<unknown>, line 3)', "name 'df' is not defined"]
Code to compile
df2 = df
func1(df2)
func2(df)

Code to compile
df2 = df.copy()
func1(df2)
func2(df)

Checking the answer Id = 39628860 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
27759084
Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame({'a': [0, -1, 2], 'b': [-3, 2, 1]})

In [3]: df
Out[3]:
   a  b
0  0 -3
1 -1  2
2  2  1

In [4]: df[df < 0] = 0

In [5]: df
Out[5]:
   a  b
0  0  0
1  0  2
2  2  1

Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame({'a': [0, -1, 2], 'b': [-3, 2, 1],
                           'c': ['foo', 'goo', 'bar']})

In [3]: df
Out[3]:
   a  b    c
0  0 -3  foo
1 -1  2  goo
2  2  1  bar

In [4]: num = df._get_numeric_data()

In [5]: num[num < 0] = 0

In [6]: df
Out[6]:
   a  b    c
0  0  0  foo
1  0  2  goo
2  2  1  bar

Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame({'a': pd.to_timedelta([0, -1, 2], 'd'),
   ...:                    'b': pd.to_timedelta([-3, 2, 1], 'd')})

In [3]: df
Out[3]:
        a       b
0  0 days -3 days
1 -1 days  2 days
2  2 days  1 days

In [4]: for k, v in df.iteritems():
   ...:     v[v < 0] = 0
   ...:

In [5]: df
Out[5]:
       a      b
0 0 days 0 days
1 0 days 2 days
2 2 days 1 days

Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame({'a': pd.to_timedelta([0, -1, 2], 'd'),
   ...:                    'b': pd.to_timedelta([-3, 2, 1], 'd')})

In [3]: df[df < pd.Timedelta(0)] = 0

In [4]: df
Out[4]:
       a      b
0 0 days 0 days
1 0 days 2 days
2 2 days 1 days

Checking the answer Id = 27759140 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [20]: df = DataFrame({'a': [-1, 100, -2]})

In [21]: df
Out[21]:
     a
0   -1
1  100
2   -2

In [22]: df.clip(lower=0)
Out[22]:
     a
0    0
1  100
2    0

Checking the answer Id = 37282998 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27787930
Checking the answer Id = 27787977 | Errors = []
----------------------------------------
----------------------------------------
27842613
Code to compile
In [60]: df_agg = df.groupby(['job','source']).agg({'count':sum})

Code to compile
In [63]: g = df_agg['count'].groupby(level=0, group_keys=False)

Code to compile
In [64]: res = g.apply(lambda x: x.order(ascending=False).head(3))

Code to compile
In [65]: g.nlargest(3)
Out[65]:
job     source
market  A         5
        D         4
        B         3
sales   E         7
        C         6
        B         4
dtype: int64

Checking the answer Id = 27844045 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In[34]: df.sort_values(['job','count'],ascending=False).groupby('job').head(3)

Out[35]:
   count     job source
4      7   sales      E
2      6   sales      C
1      4   sales      B
5      5  market      A
8      4  market      D
6      3  market      B

Checking the answer Id = 36074520 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
27884268
Code to compile
df = pd.read_sql_query('select * from "Stat_Table"',con=engine)

Checking the answer Id = 27889674 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
27896214
Code to compile
pandas.read_csv(filename, sep='\t', lineterminator='\r')

Code to compile
import codecs

doc = codecs.open('document','rU','UTF-16') #(open for reading with "universal" type set)

df = pandas.read_csv(doc, sep='\t')

Checking the answer Id = 38951835 | Errors = ["name 'pandas' is not defined", "'U' mode is deprecated"]
----------------------------------------
----------------------------------------
27905295
Code to compile
>>> df = pd.DataFrame([[1, 2, 3], [4, None, None], [None, None, 9]])
>>> df.fillna(method='ffill')
   0  1  2
0  1  2  3
1  4  2  3
2  4  2  9

Code to compile
df.fillna(method='ffill', inplace=True)

Checking the answer Id = 27905350 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
Code to compile
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, None, None], [None, None, 9]])
df = df.fillna(method='ffill')

print(df)
#   0  1  2
#0  1  2  3
#1  4  2  3
#2  4  2  9

      0     1     2
0 $1.00 $2.00 $3.00
1 $4.00 $2.00 $3.00
2 $4.00 $2.00 $9.00
Checking the answer Id = 27905354 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
27975069
Code to compile
>>> mask = df['ids'].str.contains('ball')
>>> mask
0     True
1     True
2    False
3     True
Name: ids, dtype: bool

>>> df[mask]
     ids  vals
0  aball     1
1  bball     2
3  fball     4

Checking the answer Id = 27975191 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [3]: df[df['ids'].str.contains("ball")]
Out[3]:
     ids  vals
0  aball     1
1  bball     2
3  fball     4

Checking the answer Id = 27975230 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df[df['ids'].str.contains('ball', na = False)] # valid for (at least) pandas version 0.17.1

Checking the answer Id = 27975789 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
28006793
Code to compile
>>> df = pd.DataFrame([[1,2,3],[3,4,5]])
>>> lol = df.values.tolist()
>>> lol
[[1L, 2L, 3L], [3L, 4L, 5L]]

Checking the answer Id = 28006809 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28009370
Code to compile
In [2]:

df['weekday'] = df['Timestamp'].dt.dayofweek
df
Out[2]:
            Timestamp  Value  weekday
0 2012-06-01 00:00:00    100        4
1 2012-06-01 00:15:00    150        4
2 2012-06-01 00:30:00    120        4
3 2012-06-01 01:00:00    220        4
4 2012-06-01 01:15:00     80        4

Code to compile
In [14]:

df = df.reset_index()
df['weekday'] = df['Timestamp'].dt.dayofweek
df
Out[14]:
            Timestamp  Value  weekday
0 2012-06-01 00:00:00    100        4
1 2012-06-01 00:15:00    150        4
2 2012-06-01 00:30:00    120        4
3 2012-06-01 01:00:00    220        4
4 2012-06-01 01:15:00     80        4

Code to compile
In [16]:

df['weekday'] = pd.Series(df.index).dt.dayofweek
df
Out[16]:
                     Value  weekday
Timestamp
2012-06-01 00:00:00    100      NaN
2012-06-01 00:15:00    150      NaN
2012-06-01 00:30:00    120      NaN
2012-06-01 01:00:00    220      NaN
2012-06-01 01:15:00     80      NaN
In [17]:

df['weekday'] = df.reset_index()['Timestamp'].dt.dayofweek
df
Out[17]:
                     Value  weekday
Timestamp
2012-06-01 00:00:00    100      NaN
2012-06-01 00:15:00    150      NaN
2012-06-01 00:30:00    120      NaN
2012-06-01 01:00:00    220      NaN
2012-06-01 01:15:00     80      NaN

Checking the answer Id = 28009526 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28017091
Code to compile
dataset_array = dataset.values
print(dataset_array.dtype)
print(dataset_array)

Checking the answer Id = 28020783 | Errors = ["name 'dataset' is not defined"]
Code to compile
# Convert DataFrame to matrix
mat = dataset.as_matrix()
# Using sklearn
km = sklearn.cluster.KMeans(n_clusters=5)
km.fit(mat)
# Get cluster assignment labels
labels = km.labels_
# Format results as a DataFrame
results = pandas.DataFrame([dataset.index,labels]).T

Checking the answer Id = 30111487 | Errors = ["name 'dataset' is not defined"]

----------------------------------------
----------------------------------------
28135436
Code to compile
In [5]:

pd.concat([df_a,df_b], axis=1)
Out[5]:
        AAseq Biorep  Techrep Treatment     mz      AAseq1 Biorep1  Techrep1  \
0  ELVISLIVES      A        1         C  500.0  ELVISLIVES       A         1
1  ELVISLIVES      A        1         C  500.5  ELVISLIVES       A         1
2  ELVISLIVES      A        1         C  501.0  ELVISLIVES       A         1

  Treatment1  inte1
0          C   1100
1          C   1050
2          C   1010

Code to compile
In [6]:

df_a.merge(df_b, left_index=True, right_index=True)
Out[6]:
        AAseq Biorep  Techrep Treatment     mz      AAseq1 Biorep1  Techrep1  \
0  ELVISLIVES      A        1         C  500.0  ELVISLIVES       A         1
1  ELVISLIVES      A        1         C  500.5  ELVISLIVES       A         1
2  ELVISLIVES      A        1         C  501.0  ELVISLIVES       A         1

  Treatment1  inte1
0          C   1100
1          C   1050
2          C   1010

Code to compile
In [7]:

df_a.join(df_b)
Out[7]:
        AAseq Biorep  Techrep Treatment     mz      AAseq1 Biorep1  Techrep1  \
0  ELVISLIVES      A        1         C  500.0  ELVISLIVES       A         1
1  ELVISLIVES      A        1         C  500.5  ELVISLIVES       A         1
2  ELVISLIVES      A        1         C  501.0  ELVISLIVES       A         1

  Treatment1  inte1
0          C   1100
1          C   1050
2          C   1010

Checking the answer Id = 28135445 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28142420
Code to compile
# opened an existing excel file

Code to compile
# Find in the excel file a named cell and reach the boundary of the cell block (boundary defined by empty column / row) and read the cell

Code to compile
# import pandas and manipulate the data block
df = pd.DataFrame(df) # into Pandas DataFrame
df['sum'] = df.sum(axis= 1)

# write back to Sheet3
Range(Anchor).value = df.values

Code to compile
import xlwings as xw
import pandas as pd
target_df = xw.Range('A7').options(pd.DataFrame, expand='table').value # only do this if the 'A7' cell (the cell within area of interest) is in active worksheet
#otherwise do:
#sht = xw.Book(r'path to your xlxs file\name_of_file.xlsx`).sheets['name of sheet']
#target_df = sht.Range('A7').options(pd.DataFrame, expand='table').value # you can also change 'A7' to any name that you've given to a cell like 'interest_table`

Checking the answer Id = 32645303 | Errors = ['Sucess', 'Sucess', "name 'pd' is not defined", "No module named 'xlwings'"]
----------------------------------------
----------------------------------------
28161356
Code to compile
>>> import pandas as pd
>>> df = pd.DataFrame( {'Symbol':['A','A','A'] ,
    'Date':['02/20/2015','01/15/2016','08/21/2015']})
>>> df
         Date Symbol
0  02/20/2015      A
1  01/15/2016      A
2  08/21/2015      A
>>> df['Date'] =pd.to_datetime(df.Date)
>>> df.sort('Date') # This now sorts in date order
        Date Symbol
0 2015-02-20      A
2 2015-08-21      A
1 2016-01-15      A

Code to compile
>>> df.sort_values(by='Date') # This now sorts in date order
        Date Symbol
0 2015-02-20      A
2 2015-08-21      A
1 2016-01-15      A

Checking the answer Id = 28161433 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28199524
Code to compile
In [14]:

from numpy.random import randn
df = pd.DataFrame(randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
               columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df
Out[14]:
        one       two     three
a -0.209453 -0.881878  3.146375
b       NaN       NaN       NaN
c  0.049383 -0.698410 -0.482013
d       NaN       NaN       NaN
e -0.140198 -1.285411  0.547451
f -0.219877  0.022055 -2.116037
g       NaN       NaN       NaN
h -0.224695 -0.025628 -0.703680
In [18]:

df.shape[0] - df.dropna().shape[0]
Out[18]:
3

Code to compile
In [30]:

df.isnull().values.ravel().sum()
Out[30]:
9

Code to compile
In [34]:

%timeit sum([True for idx,row in df.iterrows() if any(row.isnull())])
%timeit df.shape[0] - df.dropna().shape[0]
%timeit sum(map(any, df.apply(pd.isnull)))
1000 loops, best of 3: 1.55 ms per loop
1000 loops, best of 3: 1.11 ms per loop
1000 loops, best of 3: 1.82 ms per loop
In [33]:

%timeit sum(df.isnull().values.ravel())
%timeit df.isnull().values.ravel().sum()
%timeit df.isnull().sum().sum()
1000 loops, best of 3: 215 µs per loop
1000 loops, best of 3: 210 µs per loop
1000 loops, best of 3: 605 µs per loop

Code to compile
In [39]:

%timeit sum([True for idx,row in df.iterrows() if any(row.isnull())])
%timeit df.shape[0] - df.dropna().shape[0]
%timeit sum(map(any, df.apply(pd.isnull)))
%timeit np.count_nonzero(df.isnull())
1 loops, best of 3: 9.33 s per loop
100 loops, best of 3: 6.61 ms per loop
100 loops, best of 3: 3.84 ms per loop
1000 loops, best of 3: 395 µs per loop
In [40]:

%timeit sum(df.isnull().values.ravel())
%timeit df.isnull().values.ravel().sum()
%timeit df.isnull().sum().sum()
%timeit np.count_nonzero(df.isnull().values.ravel())
1000 loops, best of 3: 675 µs per loop
1000 loops, best of 3: 679 µs per loop
100 loops, best of 3: 6.56 ms per loop
1000 loops, best of 3: 368 µs per loop

Checking the answer Id = 28199556 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
 np.count_nonzero(df.isnull().values)
 np.count_nonzero(df.isnull())           # also works

Code to compile
%timeit np.count_nonzero(df.isnull().values)
1000 loops, best of 3: 1.89 ms per loop

%timeit df.isnull().values.ravel().sum()
100 loops, best of 3: 3.15 ms per loop

%timeit df.isnull().sum().sum()
100 loops, best of 3: 15.7 ms per loop

Checking the answer Id = 28200127 | Errors = ['unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28218698
Code to compile
df1.ix[:,1]

Code to compile
df1.ix[0,]

Code to compile
df1.ix[:,1]

Code to compile
df1.ix[0,1]

Checking the answer Id = 28218909 | Errors = ["name 'df1' is not defined", "name 'df1' is not defined", "name 'df1' is not defined", "name 'df1' is not defined"]
Code to compile
for column_name, column in df.transpose().iterrows():
    print column_name

Checking the answer Id = 31570270 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 2)"]
Code to compile
for column in df:
    print(df[column])

Checking the answer Id = 32558621 | Errors = ["name 'df' is not defined"]
Code to compile
for name, values in df.iteritems():
    print '{name}: {value}'.format(name=name, value=values[0])

Checking the answer Id = 36372667 | Errors = ['invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
28219902
----------------------------------------
----------------------------------------
28227612
Code to compile
import pandas as pd
import numpy as np
rows = [(u'KY', [u'McConnell'], [u'Grimes'], [u'Rep']),
        (u'AR', [u'Cotton'], [u'Pryor'], [u'Dem']),
        (u'MI', [u'Land'], [u'Peters'], [])]

def get(r, nth):
    '''helper function to retrieve item from nth list in row r'''
    return r[nth][0] if r[nth] else np.nan

def remove_list_items(list_of_records):
    for r in list_of_records:
        yield r[0], get(r, 1), get(r, 2), get(r, 3)

Code to compile
def remove_list_items(list_of_records):
    result = []
    for r in list_of_records:
        result.append((r[0], get(r, 1), get(r, 2), get(r, 3)))
    return result

Code to compile
>>> df = pd.DataFrame.from_records(
        remove_list_items(rows),
        columns=["State", "R", "D", "incumbent"])
>>> df
  State          R       D incumbent
0    KY  McConnell  Grimes       Rep
1    AR     Cotton   Pryor       Dem
2    MI       Land  Peters       NaN

Code to compile
>>> df = pd.DataFrame.from_records(
      ((r[0], get(r, 1), get(r, 2), get(r, 3)) for r in rows),
      columns=["State", "R", "D", "incumbent"])

Checking the answer Id = 28227679 | Errors = ['Sucess', 'Sucess', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28228781
Code to compile
merged = pd.merge(DataFrameA,DataFrameB, on=['Code','Date'])

Code to compile
import pandas as pd
# create some timestamps for date column
i = pd.to_datetime(pd.date_range('20140601',periods=2))

#create two dataframes to merge
df = pd.DataFrame({'code': ['ABC','EFG'], 'date':i,'col1': [10,100]})
df2 = pd.DataFrame({'code': ['ABC','EFG'], 'date':i,'col2': [10,200]})

#merge on columns (default join is inner)
pd.merge(df, df2, on =['code','date'])

Code to compile
    code    col1    date    col2
0   ABC     10      2014-06-01  10
1   EFG     100     2014-06-02  200

Checking the answer Id = 28229188 | Errors = ["name 'pd' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28236305
Code to compile
>>> df.loc[df['a'] == 1, 'b'].sum()
15

Code to compile
>>> df.groupby('a')['b'].sum()[1]
15

Checking the answer Id = 28236391 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28259301
Code to compile
<author type="XXX" language="EN" gender="xx" feature="xx" web="foobar.com">
    <documents count="N">
        <document KEY="e95a9a6c790ecb95e46cf15bee517651" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="bc360cfbafc39970587547215162f0db" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="19e71144c50a8b9160b3f0955e906fce" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="21d4af9021a174f61b884606c74d9e42" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="28a45eb2460899763d709ca00ddbb665" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="a0c0712a6a351f85d9f5757e9fff8946" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="626726ba8d34d15d02b6d043c55fe691" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="2cb473e0f102e2e4a40aa3006e412ae4" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...] [...]
]]>
        </document>
    </documents>
</author>

Code to compile
import pandas as pd
import xml.etree.ElementTree as ET

def iter_docs(author):
    author_attr = author.attrib
    for doc in author.iterfind('.//document'):
        doc_dict = author_attr.copy()
        doc_dict.update(doc.attrib)
        doc_dict['data'] = doc.text
        yield doc_dict

xml_data='''\
<author type="XXX" language="EN" gender="xx" feature="xx" web="foobar.com">
    <documents count="N">
        <document KEY="e95a9a6c790ecb95e46cf15bee517651" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="bc360cfbafc39970587547215162f0db" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="19e71144c50a8b9160b3f0955e906fce" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="21d4af9021a174f61b884606c74d9e42" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="28a45eb2460899763d709ca00ddbb665" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="a0c0712a6a351f85d9f5757e9fff8946" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="626726ba8d34d15d02b6d043c55fe691" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...]
]]>
        </document>
        <document KEY="2cb473e0f102e2e4a40aa3006e412ae4" web="www.foo_bar_exmaple.com"><![CDATA[A large text with lots of strings and punctuations symbols [...] [...]
]]>
        </document>
    </documents>
</author>
'''

etree = ET.fromstring(xml_data) #create an ElementTree object
doc_df = pd.DataFrame(list(iter_docs(etree)))

Code to compile
def iter_author(etree):
    for author in etree.iterfind('.//author'):
        for row in iter_docs(author):
            yield row

Checking the answer Id = 28267291 | Errors = ['invalid syntax (<unknown>, line 1)', 'Sucess', 'Sucess']
----------------------------------------
----------------------------------------
28272137
Code to compile
In [5]:

import pandas as pd

test = {
383:    3.000000,
663:    1.000000,
726:    1.000000,
737:    9.000000,
833:    8.166667
}

s = pd.Series(test)
s = s[s != 1]
s
Out[0]:
383    3.000000
737    9.000000
833    8.166667
dtype: float64

Checking the answer Id = 28272238 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
    test = {
383:    3.000000,
663:    1.000000,
726:    1.000000,
737:    9.000000,
833:    8.166667
}

pd.Series(test).where(lambda x : x!=1).dropna()

Checking the answer Id = 37327506 | Errors = ['unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28293028
Code to compile
import matplotlib.pyplot as plt

p_df = pd.DataFrame({"class": [1,1,2,2,1], "a": [2,3,2,3,2]})
fig, ax = plt.subplots(figsize=(8,6))
bp = p_df.groupby('class').plot(kind='kde', ax=ax)

Code to compile
classes = ["class 1"] * 5 + ["class 2"] * 5
vals = [1,3,5,1,3] + [2,6,7,5,2]
p_df = pd.DataFrame({"class": classes, "vals": vals})

fig, ax = plt.subplots(figsize=(8,6))
for label, df in p_df.groupby('class'):
    df.vals.plot(kind="kde", ax=ax, label=label)
plt.legend()

Checking the answer Id = 28299215 | Errors = ["No module named 'matplotlib'", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
28311655
Code to compile
In [11]: df = pd.DataFrame([["foo1"], ["foo2"], ["bar"], [np.nan]], columns=['a'])

In [12]: df.a.str.contains("foo")
Out[12]:
0     True
1     True
2    False
3      NaN
Name: a, dtype: object

In [13]: df.a.str.contains("foo", na=False)
Out[13]:
0     True
1     True
2    False
3    False
Name: a, dtype: bool

Code to compile
In [21]: df.loc[df.a.str.contains("foo", na=False)]
Out[21]:
      a
0  foo1
1  foo2

Checking the answer Id = 28312011 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28371308
Code to compile
 df.sort_index(by='col1', ascending=False)

Code to compile
             col1
idx1    idx2
1       C    105
        B    102
        A    99
        D    97
2       A    19
        D    17
        B    14
        C    10

Checking the answer Id = 28371611 | Errors = ['unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28384680
Code to compile
class DenseTransformer(TransformerMixin):

    def transform(self, X, y=None, **fit_params):
        return X.todense()

    def fit_transform(self, X, y=None, **fit_params):
        self.fit(X, y, **fit_params)
        return self.transform(X)

    def fit(self, X, y=None, **fit_params):
        return self

Code to compile
pipeline = Pipeline([
     ('vectorizer', CountVectorizer()),
     ('to_dense', DenseTransformer()),
     ('classifier', RandomForestClassifier())
])

Code to compile
from sklearn.svm import LinearSVC
pipeline = Pipeline([('vectorizer', CountVectorizer()), ('classifier', LinearSVC())])

Checking the answer Id = 28384887 | Errors = ["name 'TransformerMixin' is not defined", "name 'Pipeline' is not defined", "No module named 'sklearn'"]
Checking the answer Id = 28648525 | Errors = []
Code to compile
pipeline = make_pipeline(
     CountVectorizer(),
     FunctionTransformer(lambda x: x.todense(), accept_sparse=True),
     RandomForestClassifier()
)

Checking the answer Id = 38580576 | Errors = ["name 'make_pipeline' is not defined"]
----------------------------------------
----------------------------------------
28417293
Code to compile
from rpy2.robjects import r, pandas2ri
pandas2ri.activate()

r['iris'].head()

Code to compile
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

Code to compile
import pandas.rpy.common as rcom
iris = rcom.load_data('iris')
print(iris.head())

Code to compile
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

Code to compile
import pandas as pd
import rpy2.robjects as ro
import rpy2.robjects.conversion as conversion
from rpy2.robjects import pandas2ri
pandas2ri.activate()

R = ro.r

df = conversion.ri2py(R['mtcars'])
print(df.head())

Code to compile
    mpg  cyl  disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6   160  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6   160  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4   108   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6   258  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8   360  175  3.15  3.440  17.02   0   0     3     2

Checking the answer Id = 28417338 | Errors = ["No module named 'rpy2'", 'unexpected indent (<unknown>, line 1)', "No module named 'pandas.rpy'", 'unexpected indent (<unknown>, line 1)', "No module named 'rpy2'", 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd

file_name = "http://www.ats.ucla.edu/stat/data/binary.csv"

df = pd.read_csv(file_name)

df.head()

Code to compile
>>>df.head()
   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

Checking the answer Id = 28419871 | Errors = ['Error tokenizing data. C error: Expected 1 fields in line 5, saw 2\n', 'invalid syntax (<unknown>, line 1)']
Code to compile
import seaborn.apionly as sns
iris = sns.load_dataset('iris')
print(iris.head())

Code to compile
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Code to compile
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

Checking the answer Id = 29956221 | Errors = ["No module named 'seaborn'", 'unexpected indent (<unknown>, line 1)', "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
28465633
Code to compile
import pandas as pd
df = pd.DataFrame({'cat':['a','b','c','d'],'val':[1,2,5,10]})
df1 = pd.get_dummies(pd.DataFrame({'cat':['a'],'val':[1]}))
dummies_frame = pd.get_dummies(df)
df1.reindex(columns = dummies_frame.columns, fill_value=0)

Code to compile
        val     cat_a   cat_b   cat_c   cat_d
  0     1       1       0       0       0

Checking the answer Id = 28466662 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28538536
Code to compile
df = df[cols_of_interest]

Code to compile
df.drop(df.ix[:,'Unnamed: 24':'Unnamed: 60'].head(0).columns, axis=1)

Code to compile
In [2]:
df = pd.DataFrame(columns=['a','Unnamed: 1', 'Unnamed: 1','foo'])
df

Out[2]:
Empty DataFrame
Columns: [a, Unnamed: 1, Unnamed: 1, foo]
Index: []

In [4]:
~df.columns.str.contains('Unnamed:')

Out[4]:
array([ True, False, False,  True], dtype=bool)

In [5]:
df[df.columns[~df.columns.str.contains('Unnamed:')]]

Out[5]:
Empty DataFrame
Columns: [a, foo]
Index: []

Checking the answer Id = 28538738 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
for col in df.columns:
    if 'Unnamed' in col:
        del df[col]

Checking the answer Id = 28540395 | Errors = ["name 'df' is not defined"]
Code to compile
yourdf.drop(['columnheading1', 'columnheading2'], axis=1, inplace=True)

Checking the answer Id = 37069701 | Errors = ["name 'yourdf' is not defined"]
----------------------------------------
----------------------------------------
28590663
Code to compile
print df.reset_index().to_json(orient='records')

[
     {"id":0,"location":"[50, 50]"},
     {"id":1,"location":"[60, 60]"},
     {"id":2,"location":"[70, 70]"},
     {"id":3,"location":"[80, 80]"}
]

Checking the answer Id = 28590865 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28595701
Code to compile
test3 = pd.concat([test1, test2], axis=1)
test3.columns = ['a','b']

Checking the answer Id = 28595765 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
28651079
Code to compile
In [11]: df
Out[11]:
   0  1  2      3
0  1  2  a  16.86
1  1  2  a  17.18
2  1  4  a  17.03
3  2  5  b  17.28

In [12]: df.pivot_table(values=3, index=[0, 1], columns=2, aggfunc='mean')  # desired?
Out[12]:
2        a      b
0 1
1 2  17.02    NaN
  4  17.03    NaN
2 5    NaN  17.28

In [13]: df1 = df.set_index([0, 1, 2])

In [14]: df1
Out[14]:
           3
0 1 2
1 2 a  16.86
    a  17.18
  4 a  17.03
2 5 b  17.28

In [15]: df1.unstack(2)
ValueError: Index contains duplicate entries, cannot reshape

Code to compile
In [16]: df1.reset_index().pivot_table(values=3, index=[0, 1], columns=2, aggfunc='mean')
Out[16]:
2        a      b
0 1
1 2  17.02    NaN
  4  17.03    NaN
2 5    NaN  17.28

Checking the answer Id = 28652153 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28661258
----------------------------------------
----------------------------------------
28676916
Code to compile
import math

c = values.cumsum() - ALLOWANCE
# now we've got [-15, -5, 20, 50]
c[c < 0] = 0 # negative values don't make sense here

# (c - c.shift(1)) # <-- what I had first: diff by accident

# it is important that we don't fill with 0, in case that the first
# value is greater than ALLOWANCE
c.diff().fillna(math.max(0, values[0] - ALLOWANCE))

Checking the answer Id = 28677342 | Errors = ["name 'values' is not defined"]
Code to compile
>>> (values.cumsum() - ALLOWANCE).clip_lower(0).diff().fillna(0)
0     0
1     0
2    20
3    30
dtype: float64

Code to compile
s = (values.cumsum() - ALLOWANCE).clip_lower(0)
desired = s.diff().fillna(s)

Checking the answer Id = 28677358 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'values' is not defined"]
----------------------------------------
----------------------------------------
28679930
Code to compile
In [91]: df = pd.DataFrame(dict(A=[5,3,5,6], C=["foo","bar","fooXYZbar", "bat"]))

In [92]: df
Out[92]:
   A          C
0  5        foo
1  3        bar
2  5  fooXYZbar
3  6        bat

In [93]: df[df.C.str.contains("XYZ") == False]
Out[93]:
   A    C
0  5  foo
1  3  bar
3  6  bat

Checking the answer Id = 28680078 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28757389
Checking the answer Id = 30022658 | Errors = []
Code to compile
df = pd.DataFrame({'A':['a', 'b', 'c'], 'B':[54, 67, 89]}, index=[100, 200, 300])

df

                        A   B
                100     a   54
                200     b   67
                300     c   89
In [19]:
df.loc[100]

Out[19]:
A     a
B    54
Name: 100, dtype: object

In [20]:
df.iloc[0]

Out[20]:
A     a
B    54
Name: 100, dtype: object

In [24]:
df2 = df.set_index([df.index,'A'])
df2

Out[24]:
        B
    A
100 a   54
200 b   67
300 c   89

In [25]:
df2.ix[100, 'a']

Out[25]:
B    54
Name: (100, a), dtype: int64

Checking the answer Id = 31859215 | Errors = ['unexpected indent (<unknown>, line 5)']
Code to compile
# label based, but we can use position values
# to get the labels from the index object
df.loc[df.index[2], 'ColName'] = 3

Code to compile
df.loc[df.index[1:3], 'ColName'] = 3

Code to compile
# position based, but we can get the position
# from the columns object via the `get_loc` method
df.iloc[2, df.columns.get_loc('ColName')] = 3

Code to compile
df.iloc[2, 4] = 3

Code to compile
df.iloc[:3, 2:4] = 3

Code to compile
# label based, but we can use position values
# to get the labels from the index object
df.at[df.index[2], 'ColName'] = 3

Code to compile
df.at['C', 'ColName'] = 3

Code to compile
# position based, but we can get the position
# from the columns object via the `get_loc` method
IBM.iat[2, IBM.columns.get_loc('PNL')] = 3

Code to compile
# label based, but we can use position values
# to get the labels from the index object
df.set_value(df.index[2], 'ColName', 3)

Code to compile
# position based, but we can get the position
# from the columns object via the `get_loc` method
df.set_value(2, df.columns.get_loc('ColName'), 3, takable=True)

Checking the answer Id = 43968774 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'IBM' is not defined", "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
28773342
Code to compile
df['dt'].values.astype('<M8[h]')

Code to compile
>>> df
                       dt
0     2014-10-01 10:02:45
1     2014-10-01 13:08:17
2     2014-10-01 17:39:24

>>> df['dt2'] = df['dt'].values.astype('<M8[h]')
>>> df
                      dt                     dt2
0    2014-10-01 10:02:45     2014-10-01 10:00:00
1    2014-10-01 13:08:17     2014-10-01 13:00:00
2    2014-10-01 17:39:24     2014-10-01 17:00:00

>>> df.dtypes
dt     datetime64[ns]
dt2    datetime64[ns]

Checking the answer Id = 28783971 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
28901683
Code to compile
In [119]:

common = df1.merge(df2,on=['col1','col2'])
print(common)
df1[(~df1.col1.isin(common.col1))&(~df1.col2.isin(common.col2))]
   col1  col2
0     1    10
1     2    11
2     3    12
Out[119]:
   col1  col2
3     4    13
4     5    14

Code to compile
In [138]:

df1[~df1.isin(df2)].dropna()
Out[138]:
   col1  col2
3     4    13
4     5    14

Code to compile
df2 = pd.DataFrame(data = {'col1' : [2, 3,4], 'col2' : [11, 12,13]})

Code to compile
In [140]:

df1[~df1.isin(df2)].dropna()
Out[140]:
   col1  col2
0     1    10
1     2    11
2     3    12
3     4    13
4     5    14

Checking the answer Id = 28902170 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
In [77]: df1 = pandas.DataFrame(data = {'col1' : [1, 2, 3, 4, 5], 'col2' : [10, 11, 12, 13, 14]})
In [78]: df2 = pandas.DataFrame(data = {'col1' : [1, 3, 4], 'col2' : [10, 12, 13]})
In [79]: df1.loc[~df1.set_index(list(df1.columns)).index.isin(df2.set_index(list(df2.columns)).index)]
Out[79]:
   col1  col2
1     2    11
4     5    14

Code to compile
pandas.MultiIndex.from_tuples(list(df<N>.to_records(index = False)))

Checking the answer Id = 33786696 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df_1['key1'] = 1
df_2['key2'] = 1
df_1 = pd.merge(df_1, df_2, on=['field_x', 'field_y'], how = 'left')
df_1 = df_1[~(df_1.key2 == df_1.key1)]
df_1 = df_1.drop(['key1','key2'], axis=1)

Checking the answer Id = 34333886 | Errors = ["name 'df_1' is not defined"]
----------------------------------------
----------------------------------------
28931224
Code to compile
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

frequencies = [6, 16, 75, 160, 244, 260, 145, 73, 16, 4, 1]   # bring some raw data

freq_series = pd.Series.from_array(frequencies)   # in my original code I create a series and run on that, so for consistency I create a series from the list.

x_labels = [108300.0, 110540.0, 112780.0, 115020.0, 117260.0, 119500.0, 121740.0, 123980.0, 126220.0, 128460.0, 130700.0]

# now to plot the figure...
plt.figure(figsize=(12, 8))
ax = freq_series.plot(kind='bar')
ax.set_title("Amount Frequency")
ax.set_xlabel("Amount ($)")
ax.set_ylabel("Frequency")
ax.set_xticklabels(x_labels)

rects = ax.patches

# Now make some labels
labels = ["label%d" % i for i in xrange(len(rects))]

for rect, label in zip(rects, labels):
    height = rect.get_height()
    ax.text(rect.get_x() + rect.get_width()/2, height + 5, label, ha='center', va='bottom')

plt.savefig("image.png")

Checking the answer Id = 28931750 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
28986489
Code to compile
In [30]:

df['range'] = df['range'].str.replace(',','-')
df
Out[30]:
      range
0    (2-30)
1  (50-290)

Code to compile
df['range'].replace(',','-',inplace=True)

Code to compile
In [43]:

df = pd.DataFrame({'range':['(2,30)',',']})
df['range'].replace(',','-', inplace=True)
df['range']
Out[43]:
0    (2,30)
1         -
Name: range, dtype: object

Checking the answer Id = 28986536 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29177498
Code to compile
df.Temp_Rating.fillna(df.Farheit, inplace=True)
del df['Farheit']
df.columns = 'File heat Observations'.split()

Checking the answer Id = 29177664 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
29206612
Code to compile
In [6]: np.dtype('datetime64[ns]') == np.dtype('<M8[ns]')
Out[6]: True

Checking the answer Id = 29218694 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------

----------------------------------------
29226210
Checking the answer Id = 29233999 | Errors = []
----------------------------------------
----------------------------------------
29233283
Code to compile
for key, grp in df.groupby(['color']):

Code to compile
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_table('data', sep='\s+')
fig, ax = plt.subplots()
labels = []
for key, grp in df.groupby(['color']):
    ax = grp.plot(ax=ax, kind='line', x='x', y='y', c=key)
    labels.append(key)
lines, _ = ax.get_legend_handles_labels()
ax.legend(lines, labels, loc='best')
plt.show()

Checking the answer Id = 29233885 | Errors = ['unexpected EOF while parsing (<unknown>, line 1)', "No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
29241836
Code to compile
In [93]: cols = list(df.loc[:,'A':'C']) + ['E'] + list(df.loc[:,'G':'I'])

In [94]: df[cols]
Out[94]:
          A         B         C         E         G         H         I
0 -0.814688 -1.060864 -0.008088  2.697203 -0.763874  1.793213 -0.019520
1  0.549824  0.269340  0.405570 -0.406695 -0.536304 -1.231051  0.058018
2  0.879230 -0.666814  1.305835  0.167621 -1.100355  0.391133  0.317467

Code to compile
df.filter(regex='[A-CEG-I]')

Checking the answer Id = 29242900 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
29287224
Code to compile
df = pd.read_csv(file_path, header=None, usecols=[3,6])

Checking the answer Id = 29287549 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
29314033
Code to compile
>>> import pandas as pd
>>> import numpy as np
>>>
>>> df = pd.DataFrame(np.random.randn(10, 2), columns=list('AB'))
>>> df['Tenant'] = np.random.choice(['Babar', 'Rataxes', ''], 10)
>>> print df

          A         B   Tenant
0 -0.588412 -1.179306    Babar
1 -0.008562  0.725239
2  0.282146  0.421721  Rataxes
3  0.627611 -0.661126    Babar
4  0.805304 -0.834214
5 -0.514568  1.890647    Babar
6 -1.188436  0.294792  Rataxes
7  1.471766 -0.267807    Babar
8 -1.730745  1.358165  Rataxes
9  0.066946  0.375640

Code to compile
>>> df['Tenant'].replace('', np.nan, inplace=True)
>>> print df

          A         B   Tenant
0 -0.588412 -1.179306    Babar
1 -0.008562  0.725239      NaN
2  0.282146  0.421721  Rataxes
3  0.627611 -0.661126    Babar
4  0.805304 -0.834214      NaN
5 -0.514568  1.890647    Babar
6 -1.188436  0.294792  Rataxes
7  1.471766 -0.267807    Babar
8 -1.730745  1.358165  Rataxes
9  0.066946  0.375640      NaN

Code to compile
>>> df.dropna(subset=['Tenant'], inplace=True)
>>> print df

          A         B   Tenant
0 -0.588412 -1.179306    Babar
2  0.282146  0.421721  Rataxes
3  0.627611 -0.661126    Babar
5 -0.514568  1.890647    Babar
6 -1.188436  0.294792  Rataxes
7  1.471766 -0.267807    Babar
8 -1.730745  1.358165  Rataxes

Checking the answer Id = 29314880 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
filter = df["Tenant"] != ""
dfNew = df[filter]

Checking the answer Id = 29319460 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
29334463
Code to compile
for df in pd.read_csv('matrix.txt',sep=',', header = None, chunksize=1):
    #do something

Code to compile
df = pd.read_csv('matrix.txt',sep=',', header = None, skiprows=1000, chunksize=1000)

Checking the answer Id = 29334672 | Errors = ['unexpected EOF while parsing (<unknown>, line 2)', "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
29370057
Code to compile
df['date'] = pd.to_datetime(df['date'])

Code to compile
mask = (df['date'] > start_date) & (df['date'] <= end_date)

Code to compile
df.loc[mask]

Code to compile
df = df.loc[mask]

Code to compile
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((200,3)))
df['date'] = pd.date_range('2000-1-1', periods=200, freq='D')
mask = (df['date'] > '2000-6-1') & (df['date'] <= '2000-6-10')
print(df.loc[mask])

        0     1     2       date
153 $0.04 $0.06 $0.06 2000-06-02
154 $0.91 $0.74 $0.90 2000-06-03
155 $0.67 $0.53 $0.30 2000-06-04
156 $1.00 $0.36 $0.47 2000-06-05
157 $0.38 $0.98 $0.17 2000-06-06
158 $0.33 $0.68 $0.06 2000-06-07
159 $0.61 $0.48 $0.28 2000-06-08
160 $0.24 $0.51 $0.37 2000-06-09
161 $0.46 $0.34 $0.97 2000-06-10
Code to compile
            0         1         2       date
153  0.208875  0.727656  0.037787 2000-06-02
154  0.750800  0.776498  0.237716 2000-06-03
155  0.812008  0.127338  0.397240 2000-06-04
156  0.639937  0.207359  0.533527 2000-06-05
157  0.416998  0.845658  0.872826 2000-06-06
158  0.440069  0.338690  0.847545 2000-06-07
159  0.202354  0.624833  0.740254 2000-06-08
160  0.465746  0.080888  0.155452 2000-06-09
161  0.858232  0.190321  0.432574 2000-06-10

Code to compile
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((200,3)))
df['date'] = pd.date_range('2000-1-1', periods=200, freq='D')
df = df.set_index(['date'])
print(df.loc['2000-6-1':'2000-6-10'])

               0     1     2
date
2000-06-01 $0.42 $0.20 $0.37
2000-06-02 $0.71 $0.65 $0.93
2000-06-03 $0.87 $0.82 $0.91
2000-06-04 $0.28 $0.37 $0.38
2000-06-05 $0.56 $0.67 $0.29
2000-06-06 $0.02 $0.40 $0.31
2000-06-07 $0.94 $0.89 $0.86
2000-06-08 $0.65 $0.34 $0.55
2000-06-09 $0.82 $0.10 $0.80
2000-06-10 $0.04 $0.82 $0.81
Code to compile
                   0         1         2
date
2000-06-01  0.040457  0.326594  0.492136    # <- includes start_date
2000-06-02  0.279323  0.877446  0.464523
2000-06-03  0.328068  0.837669  0.608559
2000-06-04  0.107959  0.678297  0.517435
2000-06-05  0.131555  0.418380  0.025725
2000-06-06  0.999961  0.619517  0.206108
2000-06-07  0.129270  0.024533  0.154769
2000-06-08  0.441010  0.741781  0.470402
2000-06-09  0.682101  0.375660  0.009916
2000-06-10  0.754488  0.352293  0.339337

Checking the answer Id = 29370182 | Errors = ["name 'pd' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'Sucess', 'unexpected indent (<unknown>, line 1)', 'Sucess', 'unexpected indent (<unknown>, line 1)']
Code to compile
df = df[(df['date'] > '2000-6-1') & (df['date'] <= '2000-6-10')]

Checking the answer Id = 38341066 | Errors = ["name 'df' is not defined"]
Code to compile
import numpy as np
import pandas as pd

# Make a DataFrame with dates and random numbers
df = pd.DataFrame(np.random.random((30, 3)))
df['date'] = pd.date_range('2017-1-1', periods=30, freq='D')

# Select the rows between two dates
in_range_df = df[df["date"].isin(pd.date_range("2017-01-15", "2017-01-20"))]

print(in_range_df)  # print result

       0     1     2       date
14 $0.66 $0.58 $0.77 2017-01-15
15 $0.94 $0.04 $0.15 2017-01-16
16 $0.76 $0.08 $0.52 2017-01-17
17 $0.22 $0.27 $0.70 2017-01-18
18 $0.03 $0.87 $0.44 2017-01-19
19 $0.50 $0.54 $0.65 2017-01-20
Code to compile
           0         1         2       date
14  0.960974  0.144271  0.839593 2017-01-15
15  0.814376  0.723757  0.047840 2017-01-16
16  0.911854  0.123130  0.120995 2017-01-17
17  0.505804  0.416935  0.928514 2017-01-18
18  0.204869  0.708258  0.170792 2017-01-19
19  0.014389  0.214510  0.045201 2017-01-20

Checking the answer Id = 41802199 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29370211
Code to compile
In [74]: df['stats'].str[1:-1].str.split(',', expand=True).astype(float)
Out[74]:
          0         1         2         3         4
0 -0.009242  0.410000 -0.742016  0.003683  0.002517
1  0.041154  0.318231  0.758717  0.002640  0.010654
2 -0.014435  0.168438 -0.808703  0.000817  0.003166
3  0.034346  0.288731  0.950845  0.000001  0.003373
4  0.009052  0.151031  0.670257  0.012179  0.003022
5 -0.004797  0.171615 -0.552879  0.050032  0.002180

Code to compile
df['stats'].apply(pd.Series)

Code to compile
df['stats'].str[1:-1].str.split(',').apply(pd.Series).astype(float)

Checking the answer Id = 29370709 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
29432629
Checking the answer Id = 29432741 | Errors = []
Code to compile
def plot_corr(df,size=10):
    '''Function plots a graphical correlation matrix for each pair of columns in the dataframe.

    Input:
        df: pandas DataFrame
        size: vertical and horizontal size of the plot'''

    corr = df.corr()
    fig, ax = plt.subplots(figsize=(size, size))
    ax.matshow(corr)
    plt.xticks(range(len(corr.columns)), corr.columns);
    plt.yticks(range(len(corr.columns)), corr.columns);

Checking the answer Id = 31384328 | Errors = ['Sucess']
Code to compile
import seaborn as sns
corr = dataframe.corr()
sns.heatmap(corr,
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

Checking the answer Id = 40228738 | Errors = ["No module named 'seaborn'"]
Code to compile
pd.scatter_matrix(dataframe, alpha = 0.3, figsize = (14,8), diagonal = 'kde');

Code to compile
sns.pairplot(dataframe)

Code to compile
import seaborn as sns

f, ax = pl.subplots(figsize=(10, 8))
corr = dataframe.corr()
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax)

Checking the answer Id = 42977946 | Errors = ["name 'pd' is not defined", "name 'sns' is not defined", "No module named 'seaborn'"]
----------------------------------------
----------------------------------------
29459461
Code to compile
# DF TO EXCEL
from pandas import ExcelWriter

writer = ExcelWriter('PythonExport.xlsx')
yourdf.to_excel(writer,'Sheet5')
writer.save()

# DF TO CSV
yourdf.to_csv('PythonExport.csv', sep=',')

Code to compile
Sub DataFrameImport()
  'RUN PYTHON TO EXPORT DATA FRAME
  Shell "C:\pathTo\python.exe fullpathOfPythonScript.py", vbNormalFocus

  'CLEAR EXISTING CONTENT
  ThisWorkbook.Worksheets(5).Cells.Clear

  'COPY AND PASTE TO WORKBOOK
  Workbooks("PythonExport").Worksheets(1).Cells.Copy
  ThisWorkbook.Worksheets(5).Range("A1").Select
  ThisWorkbook.Worksheets(5).Paste
End Sub

Code to compile
import os
import win32com.client
from pandas import ExcelWriter

if os.path.exists("C:\Full Location\To\excelsheet.xlsm"):
  xlApp=win32com.client.Dispatch("Excel.Application")
  wb = xlApp.Workbooks.Open(Filename="C:\Full Location\To\excelsheet.xlsm")

  # MACRO TO CLEAR SHEET 5 CONTENT
  xlApp.Run("ClearExistingContent")
  wb.Save()
  xlApp.Quit()
  del xl

  # WRITE IN DATA FRAME TO SHEET 5
  writer = ExcelWriter('C:\Full Location\To\excelsheet.xlsm')
  yourdf.to_excel(writer,'Sheet5')
  writer.save()

Checking the answer Id = 29461151 | Errors = ["name 'yourdf' is not defined", 'invalid syntax (<unknown>, line 1)', "No module named 'win32com'"]
----------------------------------------
----------------------------------------
29464234
Code to compile
pd.merge(df1, df2, on=['A', 'B', 'C', 'D'], how='inner')

Code to compile
    A           B            C          D
0   0.403846    0.312230    0.209882    0.397923
1   0.934957    0.731730    0.484712    0.734747
2   0.588245    0.961589    0.910292    0.382072
3   0.534226    0.276908    0.323282    0.629398
4   0.259533    0.277465    0.043652    0.925743
5   0.667415    0.051182    0.928655    0.737673
6   0.217923    0.665446    0.224268    0.772592
7   0.023578    0.561884    0.615515    0.362084
8   0.346373    0.375366    0.083003    0.663622
9   0.352584    0.103263    0.661686    0.246862

Code to compile
     A          B            C           D
0   0.259533    0.277465    0.043652    0.925743
1   0.667415    0.051182    0.928655    0.737673
2   0.217923    0.665446    0.224268    0.772592
3   0.023578    0.561884    0.615515    0.362084
4   0.346373    0.375366    0.083003    0.663622
5   2.000000    3.000000    4.000000    5.000000
6   14.000000   15.000000   16.000000   17.000000

Code to compile
     A           B           C           D
0   0.259533    0.277465    0.043652    0.925743
1   0.667415    0.051182    0.928655    0.737673
2   0.217923    0.665446    0.224268    0.772592
3   0.023578    0.561884    0.615515    0.362084
4   0.346373    0.375366    0.083003    0.663622

Code to compile
df1 = pd.DataFrame(np.random.rand(10,4),columns=list('ABCD'))
df2 = df1.ix[4:8]
df2.reset_index(drop=True,inplace=True)
df2.loc[-1] = [2, 3, 4, 5]
df2.loc[-2] = [14, 15, 16, 17]
df2.reset_index(drop=True,inplace=True)
df2 = df2[['A', 'B', 'C']] # df2 has only columns A B C

Code to compile
pd.merge(df1, df2, on=common_cols, how='inner')

Code to compile
ds1 = set(tuple(line) for line in df1.values)
ds2 = set(tuple(line) for line in df2.values)
df = pd.DataFrame(list(ds2.difference(ds1)), columns=df2.columns)

Code to compile
   A  B  C  D
0  6  4  1  6
1  7  6  6  8
2  1  6  2  7
3  8  0  4  1
4  1  0  2  3
5  8  4  7  5
6  4  7  1  1
7  3  7  3  4
8  5  2  8  8
9  3  2  8  4

Code to compile
   A  B  C  D
0  1  0  2  3
1  8  4  7  5
2  4  7  1  1
3  3  7  3  4
4  5  2  8  8
5  1  1  1  1
6  2  2  2  2

Code to compile
   A  B  C  D
0  1  0  2  3
1  8  4  7  5
2  4  7  1  1
3  3  7  3  4
4  5  2  8  8

Code to compile
   A  B  C  D
0  1  1  1  1
1  2  2  2  2

Code to compile
   A  B  C  D
6  2  2  2  2

Code to compile
df12['key'] = 'x'
temp_df = pd.merge(df2, df12, on=df2.columns.tolist(), how='left')
temp_df[temp_df['key'].isnull()].drop('key', axis=1)

Checking the answer Id = 29464365 | Errors = ["name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', "name 'pd' is not defined", "name 'pd' is not defined", "name 'df1' is not defined", 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', "name 'df12' is not defined"]
----------------------------------------
----------------------------------------
29498652
Code to compile
ax = df[['V1','V2']].plot(kind='bar', title ="V comp", figsize=(15, 10), legend=True, fontsize=12)

Code to compile
import matplotlib.pyplot as plt
ax = df[['V1','V2']].plot(kind='bar', title ="V comp", figsize=(15, 10), legend=True, fontsize=12)
ax.set_xlabel("Hour", fontsize=12)
ax.set_ylabel("V", fontsize=12)
plt.show()

Checking the answer Id = 29499109 | Errors = ["name 'df' is not defined", "No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
29516084
Code to compile
packages:
   yum:
      gcc-c++: []
      python-devel: []

Checking the answer Id = 31026736 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29517072
Code to compile
In [79]:

df
Out[79]:
         Date, Open, High,  Low,  Close
0  01-01-2015,  565,  600,  400,    450
In [80]:

df['Name'] = 'abc'
df
Out[80]:
         Date, Open, High,  Low,  Close Name
0  01-01-2015,  565,  600,  400,    450  abc

Checking the answer Id = 29517089 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df['Name'] = 'abc'

Checking the answer Id = 29517102 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
29525808
Code to compile
df = pd.read_sql(query.statement, query.session.bind)

Checking the answer Id = 29528804 | Errors = ["name 'pd' is not defined"]
Code to compile
pd.read_sql(session.query(Complaint).filter(Complaint.id == 2).statement,session.bind)

Checking the answer Id = 36257640 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
29530232
Checking the answer Id = 29530303 | Errors = []
Code to compile
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan

Code to compile
          0         1         2         3         4         5
0  0.520113  0.884000  1.260966 -0.236597  0.312972 -0.196281
1 -0.837552       NaN  0.143017  0.862355  0.346550  0.842952
2 -0.452595       NaN -0.420790  0.456215  1.203459  0.527425
3  0.317503 -0.917042  1.780938 -1.584102  0.432745  0.389797
4 -0.722852  1.704820 -0.113821 -1.466458  0.083002  0.011722
5 -0.622851 -0.251935 -1.498837       NaN  1.098323  0.273814
6  0.329585  0.075312 -0.690209 -3.807924  0.489317 -0.841368
7 -1.123433 -1.187496  1.868894 -2.046456 -0.949718       NaN
8  1.133880 -0.110447  0.050385 -1.158387  0.188222       NaN
9 -0.513741  1.196259  0.704537  0.982395 -0.585040 -1.693810

Code to compile
       0      1      2      3      4      5
0  False  False  False  False  False  False
1  False   True  False  False  False  False
2  False   True  False  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False
5  False  False  False   True  False  False
6  False  False  False  False  False  False
7  False  False  False  False  False   True
8  False  False  False  False  False   True
9  False  False  False  False  False  False

Code to compile
0    False
1     True
2    False
3     True
4    False
5     True
dtype: bool

Code to compile
> df.isnull().any().any()
True

Code to compile
df.isnull().sum()
0    0
1    2
2    0
3    1
4    0
5    2
dtype: int64

Code to compile
df.isnull().sum().sum()
5

Checking the answer Id = 29530559 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 2)', "name 'df' is not defined"]
Code to compile
df.isnull().values.any()

Code to compile
In [2]: df = pd.DataFrame(np.random.randn(1000,1000))

In [3]: df[df > 0.9] = pd.np.nan

In [4]: %timeit df.isnull().any().any()
100 loops, best of 3: 14.7 ms per loop

In [5]: %timeit df.isnull().values.sum()
100 loops, best of 3: 2.15 ms per loop

In [6]: %timeit df.isnull().sum().sum()
100 loops, best of 3: 18 ms per loop

In [7]: %timeit df.isnull().values.any()
1000 loops, best of 3: 948 µs per loop

Checking the answer Id = 29530601 | Errors = ["name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
Code to compile
df.isnull().T.any().T.sum()

Code to compile
nan_rows = df[df.isnull().T.any().T]

Checking the answer Id = 37442692 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
29532894
Code to compile
from pandas import *
import matplotlib.pyplot as plt
%matplotlib inline

ys = [[0,1,2,3,4],[4,3,2,1,0]]
x_ax = [0,1,2,3,4]

for y_ax in ys:
    ts = Series(y_ax,index=x_ax)
    ts.plot(kind='bar', figsize=(15,5))
    plt.show()

Checking the answer Id = 29533502 | Errors = ['invalid syntax (<unknown>, line 3)']
Code to compile
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

ys = [[0,1,2,3,4],[4,3,2,1,0]]
x_ax = [0,1,2,3,4]

fig, axs = plt.subplots(ncols=2, figsize=(10, 4))
for i, y_ax in enumerate(ys):
    pd.Series(y_ax, index=x_ax).plot(kind='bar', ax=axs[i])
    axs[i].set_title('Plot number {}'.format(i+1))

Checking the answer Id = 29533687 | Errors = ['invalid syntax (<unknown>, line 4)']
----------------------------------------

----------------------------------------
29545704
Code to compile
import numpy as np

def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

Code to compile
>>> import numpy as np
>>> import pandas
>>> lon1, lon2, lat1, lat2 = np.random.randn(4, 1000000)
>>> df = pandas.DataFrame(data={'lon1':lon1,'lon2':lon2,'lat1':lat1,'lat2':lat2})
>>> km = haversine_np(df['lon1'],df['lat1'],df['lon2'],df['lat2'])

Checking the answer Id = 29546836 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)']
Code to compile
#include <stdlib.h>
#include <stdio.h>
#include <math.h>

int haversine(size_t n,
              double *lon1,
              double *lat1,
              double *lon2,
              double *lat2,
              double *kms){

    if (   lon1 == NULL
        || lon2 == NULL
        || lat1 == NULL
        || lat2 == NULL
        || kms == NULL){
        return -1;
    }

    double km, dlon, dlat;
    double iter_lon1, iter_lon2, iter_lat1, iter_lat2;

    double km_conversion = 2.0 * 6367.0;
    double degrees2radians = 3.14159/180.0;

    int i;
    for(i=0; i < n; i++){
        iter_lon1 = lon1[i] * degrees2radians;
        iter_lat1 = lat1[i] * degrees2radians;
        iter_lon2 = lon2[i] * degrees2radians;
        iter_lat2 = lat2[i] * degrees2radians;

        dlon = iter_lon2 - iter_lon1;
        dlat = iter_lat2 - iter_lat1;

        km = pow(sin(dlat/2.0), 2.0)
           + cos(iter_lat1) * cos(iter_lat2) * pow(sin(dlon/2.0), 2.0);

        kms[i] = km_conversion * asin(sqrt(km));
    }

    return 0;
}

// main function for testing
int main(void) {
    double lat1[2] = {16.8, 27.4};
    double lon1[2] = {8.44, 1.23};
    double lat2[2] = {33.5, 20.07};
    double lon2[2] = {14.88, 3.05};
    double kms[2]  = {0.0, 0.0};
    size_t arr_size = 2;

    int res;
    res = haversine(arr_size, lon1, lat1, lon2, lat2, kms);
    printf("%d\n", res);

    int i;
    for (i=0; i < arr_size; i++){
        printf("%3.3f, ", kms[i]);
    }
    printf("\n");
}

Code to compile
import time
import ctypes
import numpy as np
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = (np.sin(dlat/2)**2
         + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2)
    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

if __name__ == "__main__":
    lat1 = 50.0 * np.random.rand(1000000)
    lon1 = 50.0 * np.random.rand(1000000)
    lat2 = 50.0 * np.random.rand(1000000)
    lon2 = 50.0 * np.random.rand(1000000)

    t0 = time.time()
    r1 = haversine(lon1, lat1, lon2, lat2)
    t1 = time.time()
    print t1-t0, r1

Code to compile
gcc -shared -o haversine.so -fPIC haversine.c -lm

Code to compile
> gcc haversine.c -o haversine -lm
> ./haversine
0
1964.322, 835.278,

Code to compile
lib_path = "/path/to/haversine.so" # Obviously use your real path here.
haversine_lib = ctypes.CDLL(lib_path)

Code to compile
arr_1d_double = np.ctypeslib.ndpointer(dtype=np.double,
                                       ndim=1,
                                       flags='CONTIGUOUS')

haversine_lib.haversine.restype = ctypes.c_int
haversine_lib.haversine.argtypes = [ctypes.c_size_t,
                                    arr_1d_double,
                                    arr_1d_double,
                                    arr_1d_double,
                                    arr_1d_double,
                                    arr_1d_double]

Code to compile
size = len(lat1)
output = np.empty(size, dtype=np.double)
print "====="
print output
t2 = time.time()
res = haversine_lib.haversine(size, lon1, lat1, lon2, lat2, output)
t3 = time.time()
print t3 - t2, res
print type(output), output

Code to compile
import time
import ctypes
import numpy as np
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    # haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = (np.sin(dlat/2)**2
         + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2)
    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

if __name__ == "__main__":
    lat1 = 50.0 * np.random.rand(1000000)
    lon1 = 50.0 * np.random.rand(1000000)
    lat2 = 50.0 * np.random.rand(1000000)
    lon2 = 50.0 * np.random.rand(1000000)

    t0 = time.time()
    r1 = haversine(lon1, lat1, lon2, lat2)
    t1 = time.time()
    print t1-t0, r1

    lib_path = "/home/ely/programming/python/numpy_ctypes/haversine.so"
    haversine_lib = ctypes.CDLL(lib_path)
    arr_1d_double = np.ctypeslib.ndpointer(dtype=np.double,
                                           ndim=1,
                                           flags='CONTIGUOUS')

    haversine_lib.haversine.restype = ctypes.c_int
    haversine_lib.haversine.argtypes = [ctypes.c_size_t,
                                        arr_1d_double,
                                        arr_1d_double,
                                        arr_1d_double,
                                        arr_1d_double,
                                        arr_1d_double]

    size = len(lat1)
    output = np.empty(size, dtype=np.double)
    print "====="
    print output
    t2 = time.time()
    res = haversine_lib.haversine(size, lon1, lat1, lon2, lat2, output)
    t3 = time.time()
    print t3 - t2, res
    print type(output), output

Code to compile
python haversine.py

Code to compile
0.111340045929 [  231.53695005  3042.84915093   169.5158946  ...,  1359.2656769
  2686.87895954  3728.54788207]
=====
[  6.92017600e-310   2.97780954e-316   2.97780954e-316 ...,
   3.20676686e-001   1.31978329e-001   5.15819721e-001]
0.148446083069 0
<type 'numpy.ndarray'> [  231.53675618  3042.84723579   169.51575588 ...,  1359.26453029
  2686.87709456  3728.54493339]

Code to compile
from math import radians, cos, sin, asin, sqrt

def slow_haversine(lon1, lat1, lon2, lat2):
    n = len(lon1)
    kms = np.empty(n, dtype=np.double)
    for i in range(n):
       lon1_v, lat1_v, lon2_v, lat2_v = map(
           radians,
           [lon1[i], lat1[i], lon2[i], lat2[i]]
       )

       dlon = lon2_v - lon1_v
       dlat = lat2_v - lat1_v
       a = (sin(dlat/2)**2
            + cos(lat1_v) * cos(lat2_v) * sin(dlon/2)**2)
       c = 2 * asin(sqrt(a))
       kms[i] = 6367 * c
    return kms

Checking the answer Id = 29548349 | Errors = ['invalid syntax (<unknown>, line 5)', "Missing parentheses in call to 'print' (<unknown>, line 31)", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', "name 'ctypes' is not defined", "name 'np' is not defined", "Missing parentheses in call to 'print' (<unknown>, line 3)", "Missing parentheses in call to 'print' (<unknown>, line 31)", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'Sucess']
----------------------------------------
----------------------------------------
29550414
Code to compile
In [13]: df = pd.DataFrame({'a':[1,2], 'b':[(1,2), (3,4)]})

In [14]: df
Out[14]:
   a       b
0  1  (1, 2)
1  2  (3, 4)

In [16]: df['b'].apply(pd.Series)
Out[16]:
   0  1
0  1  2
1  3  4

In [17]: df[['b1', 'b2']] = df['b'].apply(pd.Series)

In [18]: df
Out[18]:
   a       b  b1  b2
0  1  (1, 2)   1   2
1  2  (3, 4)   3   4

Checking the answer Id = 29550458 | Errors = ['invalid syntax (<unknown>, line 1)']
Checking the answer Id = 33763855 | Errors = []
----------------------------------------
----------------------------------------
29576430
Code to compile
In [12]: df = pd.read_csv(StringIO(s), sep="\s+")

In [13]: df
Out[13]:
    Col1  Col2  Col3  Type
0      1     2     3     1
1      4     5     6     1
20     7     8     9     2
21    10    11    12     2
45    13    14    15     3
46    16    17    18     3

In [14]: df.iloc[np.random.permutation(len(df))]
Out[14]:
    Col1  Col2  Col3  Type
46    16    17    18     3
45    13    14    15     3
20     7     8     9     2
0      1     2     3     1
1      4     5     6     1
21    10    11    12     2

Checking the answer Id = 29576803 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df.sample(frac=1)

Code to compile
df = df.sample(frac=1).reset_index(drop=True)

Checking the answer Id = 34879805 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
from sklearn.utils import shuffle
df = shuffle(df)

Checking the answer Id = 39673666 | Errors = ["No module named 'sklearn'"]
----------------------------------------
----------------------------------------
29607222
----------------------------------------
----------------------------------------
29655111
Code to compile
import igraph

# get the row, col indices of the non-zero elements in your adjacency matrix
conn_indices = np.where(a_numpy)

# get the weights corresponding to these indices
weights = a_numpy[conn_indices]

# a sequence of (i, j) tuples, each corresponding to an edge from i -> j
edges = zip(*conn_indices)

# initialize the graph from the edge sequence
G = igraph.Graph(edges=edges, directed=True)

# assign node names and weights to be attributes of the vertices and edges
# respectively
G.vs['label'] = node_names
G.es['weight'] = weights

# I will also assign the weights to the 'width' attribute of the edges. this
# means that igraph.plot will set the line thicknesses according to the edge
# weights
G.es['width'] = weights

# plot the graph, just for fun
igraph.plot(G, layout="rt", labels=True, margin=80)

Checking the answer Id = 29657079 | Errors = ["No module named 'igraph'"]
Code to compile
import igraph
import pandas as pd

node_names = ['A', 'B', 'C']
a = pd.DataFrame([[1,2,3],[3,1,1],[4,0,2]], index=node_names, columns=node_names)

# Get the values as np.array, it's more convenenient.
A = a.values

# Create graph, A.astype(bool).tolist() or (A / A).tolist() can also be used.
g = igraph.Graph.Adjacency((A > 0).tolist())

# Add edge weights and node labels.
g.es['weight'] = A[A.nonzero()]
g.vs['label'] = node_names  # or a.index/a.columns

Code to compile
df_from_g = pd.DataFrame(g.get_adjacency(attribute='weight').data,
                         columns=g.vs['label'], index=g.vs['label'])
(df_from_g == a).all().all()  # --> True

Checking the answer Id = 29673192 | Errors = ["No module named 'igraph'", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
29706278
----------------------------------------
----------------------------------------
29763620
Code to compile
df.ix[:, df.columns != 'b']

          a         c         d
0  0.561196  0.013768  0.772827
1  0.882641  0.615396  0.075381
2  0.368824  0.651378  0.397203
3  0.788730  0.568099  0.869127

Checking the answer Id = 29763653 | Errors = ['unexpected indent (<unknown>, line 3)']
Code to compile
>>> df

          a         b         c         d
0  0.175127  0.191051  0.382122  0.869242
1  0.414376  0.300502  0.554819  0.497524
2  0.142878  0.406830  0.314240  0.093132
3  0.337368  0.851783  0.933441  0.949598

>>> df.drop('b', axis=1)

          a         c         d
0  0.175127  0.382122  0.869242
1  0.414376  0.554819  0.497524
2  0.142878  0.314240  0.093132
3  0.337368  0.933441  0.949598

Checking the answer Id = 37717675 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df[df.columns.difference(['b'])]

Out:
          a         c         d
0  0.427809  0.459807  0.333869
1  0.678031  0.668346  0.645951
2  0.996573  0.673730  0.314911
3  0.786942  0.719665  0.330833

Checking the answer Id = 39192113 | Errors = ['invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
29765548
Code to compile
In [16]: df
Out[16]:
         Column 1
foo
Apples          1
Oranges         2
Puppies         3
Ducks           4

In [17]: del df.index.name

In [18]: df
Out[18]:
         Column 1
Apples          1
Oranges         2
Puppies         3
Ducks           4

Checking the answer Id = 29765839 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [125]:

df.index.name = None
df
Out[125]:
         Column 1

Apples          1
Oranges         2
Puppies         3
Ducks           4

Checking the answer Id = 29766187 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
print df
         Column 1
foo
Apples          1
Oranges         2
Puppies         3
Ducks           4

print df.index.name
foo


print df.rename_axis(None)
         Column 1
Apples          1
Oranges         2
Puppies         3
Ducks           4

print df.rename_axis(None).index.name
None

Checking the answer Id = 36014326 | Errors = ["Missing parentheses in call to 'print' (<unknown>, line 1)"]
----------------------------------------
----------------------------------------
29794959
Code to compile
In [248]:

d = {112: 'en', 113: 'es', 114: 'es', 111: 'en'}
df['D'] = df['U'].map(d)
df
Out[248]:
     U   L   D
0  111  en  en
1  112  en  en
2  112  es  en
3  113  es  es
4  113  ja  es
5  113  zh  es
6  114  es  es

Checking the answer Id = 29794993 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29815129
Code to compile
In [1]: df
Out[1]:
   customer  item1   item2   item3
0         1  apple    milk  tomato
1         2  water  orange  potato
2         3  juice   mango   chips

In [2]: df.T.to_dict().values()
Out[2]:
[{'customer': 1.0, 'item1': 'apple', 'item2': 'milk', 'item3': 'tomato'},
 {'customer': 2.0, 'item1': 'water', 'item2': 'orange', 'item3': 'potato'},
 {'customer': 3.0, 'item1': 'juice', 'item2': 'mango', 'item3': 'chips'}]

Code to compile
In [20]: timeit df.T.to_dict().values()
1000 loops, best of 3: 395 µs per loop

In [21]: timeit df.to_dict('records')
10000 loops, best of 3: 53 µs per loop

Checking the answer Id = 29815523 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [2]: df.to_dict('records')
Out[2]:
[{'customer': 1L, 'item1': 'apple', 'item2': 'milk', 'item3': 'tomato'},
 {'customer': 2L, 'item1': 'water', 'item2': 'orange', 'item3': 'potato'},
 {'customer': 3L, 'item1': 'juice', 'item2': 'mango', 'item3': 'chips'}]

Checking the answer Id = 29816143 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29836836
Code to compile
In [11]: df = pd.DataFrame([[1, 2], [1, 4], [5, 6]], columns=['A', 'B'])

In [12]: df
Out[12]:
   A  B
0  1  2
1  1  4
2  5  6

In [13]: df.groupby("A").filter(lambda x: len(x) > 1)
Out[13]:
   A  B
0  1  2
1  1  4

Checking the answer Id = 29836852 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29902714
Code to compile
In [2]: df
Out[2]:
                                                 one
0                                                one
1                                                two
2  This is very long string very long string very...

In [3]: pd.options.display.max_colwidth
Out[3]: 50

In [4]: pd.options.display.max_colwidth = 100

In [5]: df
Out[5]:
                                                                               one
0                                                                              one
1                                                                              two
2  This is very long string very long string very long string veryvery long string

Code to compile
In [7]: df.iloc[2,0]    # or df.loc[2,'one']
Out[7]: 'This is very long string very long string very long string veryvery long string'

Checking the answer Id = 29902819 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29919306
Code to compile
>>> df.idxmax(axis=1)
0    Communications
1          Business
2    Communications
3    Communications
4          Business
dtype: object

Checking the answer Id = 29919489 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29954263
Code to compile
In [4]:
s = pd.Series(np.arange(5))
s

Out[4]:
0    0
1    1
2    2
3    3
4    4
dtype: int32

In [5]:
s * 10

Out[5]:
0     0
1    10
2    20
3    30
4    40
dtype: int32

Code to compile
In [6]:
df = pd.DataFrame({'a':np.random.randn(4), 'b':np.random.randn(4)})
df

Out[6]:
          a         b
0  0.216920  0.652193
1  0.968969  0.033369
2  0.637784  0.856836
3 -2.303556  0.426238

In [7]:
df * 10

Out[7]:
           a         b
0   2.169204  6.521925
1   9.689690  0.333695
2   6.377839  8.568362
3 -23.035557  4.262381

Code to compile
In [8]:
df = pd.DataFrame({'a':np.random.randn(4), 'b':np.random.randn(4), 'c':np.random.randn(4)})
df

Out[8]:
          a         b         c
0  0.122073 -1.178127 -1.531254
1  0.011346 -0.747583 -1.967079
2 -0.019716 -0.235676  1.419547
3  0.215847  1.112350  0.659432

In [26]:
df.iloc[0]

Out[26]:
a    0.122073
b   -1.178127
c   -1.531254
Name: 0, dtype: float64

In [27]:
df + df.iloc[0]

Out[27]:
          a         b         c
0  0.244146 -2.356254 -3.062507
1  0.133419 -1.925710 -3.498333
2  0.102357 -1.413803 -0.111707
3  0.337920 -0.065777 -0.871822

Code to compile
In [30]:
df + pd.Series(np.arange(4))

Out[30]:
    a   b   c   0   1   2   3
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN
3 NaN NaN NaN NaN NaN NaN NaN

Code to compile
In [55]:
df[['a']] + df.iloc[0]

Out[55]:
          a   b   c
0  0.244146 NaN NaN
1  0.133419 NaN NaN
2  0.102357 NaN NaN
3  0.337920 NaN NaN

Code to compile
In [56]:
df[['a']].values + df.iloc[0].values

Out[56]:
array([[ 0.24414608, -1.05605392, -1.4091805 ],
       [ 0.13341899, -1.166781  , -1.51990758],
       [ 0.10235701, -1.19784299, -1.55096957],
       [ 0.33792013, -0.96227987, -1.31540645]])

Checking the answer Id = 29955358 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
29971075
Code to compile
>>> df1.count()
a    3
b    2
d    1
dtype: int64

Checking the answer Id = 29971188 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30009948
Code to compile
In [14]: df.reindex(["Z", "C", "A"])
Out[14]:
company  Amazon  Apple  Yahoo
Z             0      0    150
C           173      0      0
A             0    130      0

Code to compile
In [12]: df.sort_index(ascending=False)
Out[12]:
company  Amazon  Apple  Yahoo
name
Z             0      0    150
C           173      0      0
A             0    130      0

Code to compile
In [13]: df = df.sort_index(ascending=False)

Checking the answer Id = 30010004 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']

Code to compile
dates.dt.strftime('%Y-%m-%d')

Checking the answer Id = 30132313 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'dates' is not defined"]
Code to compile
dates.dt.strftime('%Y-%m-%d')

Checking the answer Id = 33967359 | Errors = ["name 'dates' is not defined"]
----------------------------------------
----------------------------------------
30133280
Code to compile
ax.xaxis.set_major_formatter(formatter)

Code to compile
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.ticker as ticker

start = pd.to_datetime("5-1-2012")
idx = pd.date_range(start, periods= 365)
df = pd.DataFrame({'A':np.random.random(365), 'B':np.random.random(365)})
df.index = idx
df_ts = df.resample('W', how= 'max')

ax = df_ts.plot(kind='bar', x=df_ts.index, stacked=True)

# Make most of the ticklabels empty so the labels don't get too crowded
ticklabels = ['']*len(df_ts.index)
# Every 4th ticklable shows the month and day
ticklabels[::4] = [item.strftime('%b %d') for item in df_ts.index[::4]]
# Every 12th ticklabel includes the year
ticklabels[::12] = [item.strftime('%b %d\n%Y') for item in df_ts.index[::12]]
ax.xaxis.set_major_formatter(ticker.FixedFormatter(ticklabels))
plt.gcf().autofmt_xdate()

plt.show()

Checking the answer Id = 30135182 | Errors = ["name 'ax' is not defined", "No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
30211923
Code to compile
pd.qcut(factors, 5).value_counts()

[-2.578, -0.829]    6
(-0.829, -0.36]     6
(-0.36, 0.366]      6
(0.366, 0.868]      6
(0.868, 2.617]      6

Code to compile
pd.cut(factors, 5).value_counts()

(-2.583, -1.539]    5
(-1.539, -0.5]      5
(-0.5, 0.539]       9
(0.539, 1.578]      9
(1.578, 2.617]      2

Checking the answer Id = 30214901 | Errors = ['invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
30222533
Code to compile
import pandas as pd

df = pd.DataFrame({'my_dates':['2015-01-01','2015-01-02','2015-01-03'],'myvals':[1,2,3]})
df['my_dates'] = pd.to_datetime(df['my_dates'])
df['day_of_week'] = df['my_dates'].dt.weekday_name

Code to compile
    my_dates  myvals day_of_week
0 2015-01-01       1    Thursday
1 2015-01-02       2      Friday
2 2015-01-03       3    Saturday

Code to compile
import pandas as pd

df = pd.DataFrame({'my_dates':['2015-01-01','2015-01-02','2015-01-03'],'myvals':[1,2,3]})
df['my_dates'] = pd.to_datetime(df['my_dates'])
df['day_of_week'] = df['my_dates'].dt.dayofweek

days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}

df['day_of_week'] = df['day_of_week'].apply(lambda x: days[x])

Code to compile
    my_dates  myvals day_of_week
0 2015-01-01       1       Thurs
1 2015-01-02       2         Fri
2 2015-01-01       3       Thurs

Checking the answer Id = 30222759 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)', 'Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30272300
Code to compile
data = 'col1,col2,col3\na,b,1\na,b,2\nc,d,3'
df = pd.read_csv(StringIO(data), dtype='category')
print (df)

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

print (df.dtypes)
col1    category
col2    category
col3    category
dtype: object

Checking the answer Id = 39830464 | Errors = ['unexpected indent (<unknown>, line 5)']
----------------------------------------
----------------------------------------
30317119
Code to compile
from __future__ import print_function

import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import Imputer

X_train = [[0, 0, np.nan], [np.nan, 1, 1]]
Y_train = [0, 1]
X_test_1 = [0, 0, np.nan]
X_test_2 = [0, np.nan, np.nan]
X_test_3 = [np.nan, 1, 1]

# Create our imputer to replace missing values with the mean e.g.
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(X_train)

# Impute our data, then train
X_train_imp = imp.transform(X_train)
clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X_train_imp, Y_train)

for X_test in [X_test_1, X_test_2, X_test_3]:
    # Impute each test item, then predict
    X_test_imp = imp.transform(X_test)
    print(X_test, '->', clf.predict(X_test_imp))

# Results
[0, 0, nan] -> [0]
[0, nan, nan] -> [0]
[nan, 1, 1] -> [1]

Checking the answer Id = 30319249 | Errors = ['invalid syntax (<unknown>, line 28)']
----------------------------------------
----------------------------------------
30327417
Code to compile
import numpy as np
df1['randomNumCol'] = np.random.choice(range(1, 6), df1.shape[0])

Checking the answer Id = 30327470 | Errors = ["name 'df1' is not defined"]
----------------------------------------
----------------------------------------
30328646
Code to compile
In [59]: (df.groupby(['cluster', 'org'], as_index=False).mean()
            .groupby('cluster')['time'].mean())
Out[59]:
cluster
1          15
2          54
3           6
Name: time, dtype: int64

Code to compile
In [58]: df.groupby(['cluster']).mean()
Out[58]:
              time
cluster
1        12.333333
2        54.000000
3         6.000000

Code to compile
In [57]: df.groupby(['cluster', 'org']).mean()
Out[57]:
               time
cluster org
1       a    438886
        c        23
2       d      9874
        h        34
3       w         6

Checking the answer Id = 30328738 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30357276
Code to compile
In [17]: df['Cat1'].fillna(df['Cat2'])
Out[17]:
0    cat
1    dog
2    cat
3    ant
Name: Cat1, dtype: object

Checking the answer Id = 30357382 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30462807
Checking the answer Id = 30470630 | Errors = []
----------------------------------------
----------------------------------------
30519487
Code to compile
import warnings
warnings.simplefilter(action = "ignore", category = RuntimeWarning)

Checking the answer Id = 31257931 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
30522724
Code to compile
lst1 = range(100)
lst2 = range(100)
lst3 = range(100)
percentile_list = pd.DataFrame(
    {'lst1Tite': lst1,
     'lst2Tite': lst2,
     'lst3Tite': lst3
    })

percentile_list
    lst1Tite  lst2Tite  lst3Tite
0          0         0         0
1          1         1         1
2          2         2         2
3          3         3         3
4          4         4         4
5          5         5         5
6          6         6         6
...

Code to compile
percentile_list = pd.DataFrame(np.column_stack([lst1, lst2, lst3]),
                               columns=['lst1tite', 'lst2itie', 'lst3tite'])

Checking the answer Id = 30522778 | Errors = ['unexpected indent (<unknown>, line 11)', "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
30522982
Checking the answer Id = 30523225 | Errors = []
Checking the answer Id = 30525128 | Errors = []
----------------------------------------
----------------------------------------
30530663
Code to compile
In [29]: df = pd.DataFrame({'a':[1,2,1,2], 'b':[3,4,3,5]})

In [30]: df
Out[30]:
   a  b
0  1  3
1  2  4
2  1  3
3  2  5

In [32]: df.drop_duplicates()
Out[32]:
   a  b
0  1  3
1  2  4
3  2  5

Checking the answer Id = 30531939 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30627968
Code to compile
import pandas as pd
import sqlite3

#We'll use firelynx's tables:
presidents = pd.DataFrame({"name": ["Bush", "Obama", "Trump"],
                           "president_id":[43, 44, 45]})
terms = pd.DataFrame({'start_date': pd.date_range('2001-01-20', periods=5, freq='48M'),
                      'end_date': pd.date_range('2005-01-21', periods=5, freq='48M'),
                      'president_id': [43, 43, 44, 44, 45]})
war_declarations = pd.DataFrame({"date": [datetime(2001, 9, 14), datetime(2003, 3, 3)],
                                 "name": ["War in Afghanistan", "Iraq War"]})
#Make the db in memory
conn = sqlite3.connect(':memory:')
#write the tables
terms.to_sql('terms', conn, index=False)
presidents.to_sql('presidents', conn, index=False)
war_declarations.to_sql('wars', conn, index=False)

qry = '''
    select
        start_date PresTermStart,
        end_date PresTermEnd,
        wars.date WarStart,
        presidents.name Pres
    from
        terms join wars on
        date between start_date and end_date join presidents on
        terms.president_id = presidents.president_id
    '''
df = pd.read_sql_query(qry, conn)

Code to compile
         PresTermStart          PresTermEnd             WarStart  Pres
0  2001-01-31 00:00:00  2005-01-31 00:00:00  2001-09-14 00:00:00  Bush
1  2001-01-31 00:00:00  2005-01-31 00:00:00  2003-03-03 00:00:00  Bush

Checking the answer Id = 42796283 | Errors = ["name 'datetime' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30631325
Code to compile
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://[user]:[pass]@[host]:[port]/[schema]', echo=False)
data.to_sql(name='sample_table2', con=engine, if_exists = 'append', index=False)

Checking the answer Id = 30653988 | Errors = ["No module named 'mysql'"]
----------------------------------------
----------------------------------------
30651724
Checking the answer Id = 30652445 | Errors = []
----------------------------------------
----------------------------------------
30653642
Code to compile
tokenized=map(lambda msg, ft1, ft2: features([msg,ft1,ft2]), posts.message,posts.feature_1, posts.feature_2)

Code to compile
import scipy as sp
posts = pd.read_csv('post.csv')

# Create vectorizer for function to use
vectorizer = CountVectorizer(binary=True, ngram_range=(1, 2))
y = posts["score"].values.astype(np.float32)

X = sp.sparse.hstack((vectorizer.fit_transform(posts.message),posts[['feature_1','feature_2']].values),format='csr')
X_columns=vectorizer.get_feature_names()+posts[['feature_1','feature_2']].columns.tolist()


posts
Out[38]:
   ID              message  feature_1  feature_2  score
0   1   'This is the text'          4          7     10
1   2  'This is more text'          3          2      9
2   3   'More random text'          3          2      9

X_columns
Out[39]:
[u'is',
 u'is more',
 u'is the',
 u'more',
 u'more random',
 u'more text',
 u'random',
 u'random text',
 u'text',
 u'the',
 u'the text',
 u'this',
 u'this is',
 'feature_1',
 'feature_2']

X.toarray()
Out[40]:
array([[1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 4, 7],
       [1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 3, 2],
       [0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 3, 2]])

Code to compile
from sklearn_pandas import DataFrameMapper
mapper = DataFrameMapper([
    (['feature_1', 'feature_2'], None),
    ('message',CountVectorizer(binary=True, ngram_range=(1, 2)))
])
X=mapper.fit_transform(posts)

X
Out[71]:
array([[4, 7, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1],
       [3, 2, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [3, 2, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0]])

Code to compile
X_columns=mapper.features[0][0]+mapper.features[1][1].get_feature_names()

X_columns
Out[76]:
['feature_1',
 'feature_2',
 u'is',
 u'is more',
 u'is the',
 u'more',
 u'more random',
 u'more text',
 u'random',
 u'random text',
 u'text',
 u'the',
 u'the text',
 u'this',
 u'this is']

Checking the answer Id = 31351465 | Errors = ["name 'posts' is not defined", 'invalid syntax (<unknown>, line 13)', 'invalid syntax (<unknown>, line 9)', 'invalid syntax (<unknown>, line 4)']
----------------------------------------
----------------------------------------
30781037
Code to compile
In [26]: idx = pd.IndexSlice

In [27]: df.loc[idx[:, :, 'C1', :],:]
Out[27]:
                           value
first second third fourth
A0    B0     C1    D0          2
                   D1          3
      B1     C1    D0         10
                   D1         11
A1    B0     C1    D0         18
                   D1         19
      B1     C1    D0         26
                   D1         27
A2    B0     C1    D0         34
                   D1         35
      B1     C1    D0         42
                   D1         43
A3    B0     C1    D0         50
                   D1         51
      B1     C1    D0         58
                   D1         59

Checking the answer Id = 30781664 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30787901
Code to compile
df[df.Letters=='C'].Letters.item()

Checking the answer Id = 30788360 | Errors = ["name 'df' is not defined"]
Code to compile
In [4]:
df.loc[df.Letters=='C','Letters'].values[0]

Out[4]:
'C'

Code to compile
df.loc[df['Letters'] == 'C', 'Letters'].values[0]

Checking the answer Id = 30788555 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
30808430
Code to compile
import pandas as pd

df = pd.DataFrame(np.array([[2,4,4],[4,3,3],[5,9,1]]),columns=['d','t','didi'])
>>
   d  t  didi
0  2  4     4
1  4  3     3
2  5  9     1

df.filter(regex=("d.*"))

>>
   d  didi
0  2     4
1  4     3
2  5     1

Checking the answer Id = 30808571 | Errors = ['invalid syntax (<unknown>, line 4)']
Code to compile
import pandas as pd

df = pd.DataFrame([[10, 14, 12, 44, 45, 78]], columns=['a', 'b', 'c', 'd1', 'd2', 'd3'])

df.select(lambda col: col.startswith('d'), axis=1)

Code to compile
   d1  d2  d3
0  44  45  78

Checking the answer Id = 30808690 | Errors = ["'select' is deprecated and will be removed in a future release. You can use .loc[labels.map(crit)] as a replacement", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30922213
Code to compile
from rpy2.robjects import pandas2ri
pandas2ri.activate()
robjects.globalenv['dataframe'] = dataframe
M = stats.lm('y~x', data=base.as_symbol('dataframe'))

Code to compile
>>> print(base.summary(M).rx2('coefficients'))
            Estimate Std. Error  t value  Pr(>|t|)
(Intercept)      0.6  1.1489125 0.522233 0.6376181
x                0.8  0.3464102 2.309401 0.1040880

Checking the answer Id = 31105951 | Errors = ["No module named 'rpy2'", 'invalid syntax (<unknown>, line 1)']
Code to compile
M = R.lm('y~x', data=df)

Code to compile
robjects.globalenv['dataframe'] = dataframe
M = stats.lm('y~x', data=base.as_symbol('dataframe'))

Code to compile
import pandas as pd
from rpy2 import robjects as ro
from rpy2.robjects import pandas2ri
pandas2ri.activate()
R = ro.r

df = pd.DataFrame({'x': [1,2,3,4,5],
                   'y': [2,1,3,5,4]})

M = R.lm('y~x', data=df)
print(R.summary(M).rx2('coefficients'))

Code to compile
            Estimate Std. Error  t value  Pr(>|t|)
(Intercept)      0.6  1.1489125 0.522233 0.6376181
x                0.8  0.3464102 2.309401 0.1040880

Checking the answer Id = 31206596 | Errors = ["name 'R' is not defined", "name 'dataframe' is not defined", "No module named 'rpy2'", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
30925079
Code to compile
>>> df = pd.DataFrame(np.random.randint(0,5,(6, 2)), columns=['col1','col2'])
>>> df['ind1'] = list('AAABCC')
>>> df['ind2'] = range(6)
>>> df.set_index(['ind1','ind2'], inplace=True)
>>> df

           col1  col2
ind1 ind2
A    0        3     2
     1        2     0
     2        2     3
B    3        2     4
C    4        3     1
     5        0     0


>>> df.groupby([df.index.get_level_values(0),'col1']).count()

           col2
ind1 col1
A    2        2
     3        1
B    2        1
C    0        1
     3        1

Checking the answer Id = 39162006 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])

df = pd.DataFrame({'A': [1, 1, 1, 1, 2, 2, 3, 3],
                   'B': np.arange(8)}, index=index)

print (df)

              A  B
first second
bar   one     1  0
      two     1  1
baz   one     1  2
      two     1  3
foo   one     2  4
      two     2  5
qux   one     3  6
      two     3  7

print (df.groupby(['second', 'A']).sum())
          B
second A
one    1  2
       2  4
       3  6
two    1  4
       2  5
       3  7

Checking the answer Id = 43821531 | Errors = ['unexpected indent (<unknown>, line 11)']
----------------------------------------
----------------------------------------

30926670
Code to compile
In [23]:
df = pd.DataFrame(columns=['A'])
df

Out[23]:
Empty DataFrame
Columns: [A]
Index: []

In [24]:
pd.concat([df,pd.DataFrame(columns=list('BCD'))])

Out[24]:
Empty DataFrame
Columns: [A, B, C, D]
Index: []

Checking the answer Id = 30926717 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
In [18]: df = pd.DataFrame(np.random.randint(10, size=(5,1)), columns=['A'])

In [19]: df
Out[19]:
   A
0  4
1  7
2  0
3  7
4  6

In [20]: df.reindex(columns=list('ABCD'))
Out[20]:
   A   B   C   D
0  4 NaN NaN NaN
1  7 NaN NaN NaN
2  0 NaN NaN NaN
3  7 NaN NaN NaN
4  6 NaN NaN NaN

Code to compile
In [31]: df.reindex(columns=list('DCBA'))
Out[31]:
    D   C   B  A
0 NaN NaN NaN  4
1 NaN NaN NaN  7
2 NaN NaN NaN  0
3 NaN NaN NaN  7
4 NaN NaN NaN  6

Code to compile
In [22]: df.reindex(columns=list('ABCD'), fill_value=0)
Out[22]:
   A  B  C  D
0  4  0  0  0
1  7  0  0  0
2  0  0  0  0
3  7  0  0  0
4  6  0  0  0

Checking the answer Id = 30943503 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31029560
Code to compile
df['colour'].value_counts().plot(kind='bar')

Checking the answer Id = 31029857 | Errors = ["name 'df' is not defined"]
Code to compile
df.groupby('colour').size().plot(kind='bar')

Checking the answer Id = 31029861 | Errors = ["name 'df' is not defined"]
Code to compile
from statsmodels.graphics.mosaicplot import mosaic
plt.rcParams['font.size'] = 16.0
mosaic(df, ['direction', 'colour']);

Checking the answer Id = 31033603 | Errors = ["No module named 'statsmodels'"]
----------------------------------------
----------------------------------------
31037298
Code to compile
In [479]: df
Out[479]:
         ID  birthyear    weight
0    619040       1962  0.123123
1    600161       1963  0.981742
2  25602033       1963  1.312312
3    624870       1987  0.942120

In [480]: df["weight"].mean()
Out[480]: 0.83982437500000007

Checking the answer Id = 31037360 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31247198
Code to compile
np.savetxt(r'c:\data\np.txt', df.values, fmt='%d')

Code to compile
18 55 1 70
18 55 2 67
18 57 2 75
18 58 1 35
19 54 2 70

Code to compile
df.to_csv(r'c:\data\pandas.txt', header=None, index=None, sep=' ', mode='a')

Checking the answer Id = 31247247 | Errors = ["name 'np' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined"]
Code to compile
In [97]: print df.to_csv(sep=' ', index=False, header=False)
18 55 1 70
18 55 2 67
18 57 2 75
18 58 1 35
19 54 2 70

Checking the answer Id = 31247279 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31329627
Checking the answer Id = 31331100 | Errors = []
Code to compile
pip install xlrd

Checking the answer Id = 41150420 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31331358
Code to compile
df.to_csv('path', header=True, index=False, encoding='utf-8')

Checking the answer Id = 31331449 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
31357611
Code to compile
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(100,5))

# you get ax from here
ax = df.plot()
type(ax)  # matplotlib.axes._subplots.AxesSubplot

# manipulate
vals = ax.get_yticks()
ax.set_yticklabels(['{:3.2f}%'.format(x*100) for x in vals])

Checking the answer Id = 31357733 | Errors = ["name '_converter' is not defined"]
Code to compile
import pandas as pd
import numpy as np
from matplotlib.ticker import FuncFormatter

df = pd.DataFrame(np.random.randn(100,5))

ax = df.plot()
ax.yaxis.set_major_formatter(FuncFormatter(lambda y, _: '{:.0%}'.format(y)))

Checking the answer Id = 35446404 | Errors = ["No module named 'matplotlib'"]
Code to compile
import ...
import matplotlib.ticker as mtick

ax = df['myvar'].plot(kind='bar')
ax.yaxis.set_major_formatter(mtick.PercentFormatter())

Checking the answer Id = 36319915 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31361721
Code to compile
df.map_partitions(func, columns=...)

Code to compile
df.mycolumn.map(func)

Code to compile
df.apply(func, axis=1)

Code to compile
df = dd.read_csv(...)

from dask.multiprocessing import get
df.map_partitions(func, columns=...).compute(get=get)

Code to compile
In [1]: import numpy as np
In [2]: import pandas as pd
In [3]: s = pd.Series([10000]*120)

In [4]: %paste
def slow_func(k):
    A = np.random.normal(size = k) # k = 10000
    s = 0
    for a in A:
        if a > 0:
            s += 1
        else:
            s -= 1
    return s
## -- End pasted text --

In [5]: %time _ = s.apply(slow_func)
CPU times: user 345 ms, sys: 3.28 ms, total: 348 ms
Wall time: 347 ms

In [6]: import numba
In [7]: fast_func = numba.jit(slow_func)

In [8]: %time _ = s.apply(fast_func)  # First time incurs compilation overhead
CPU times: user 179 ms, sys: 0 ns, total: 179 ms
Wall time: 175 ms

In [9]: %time _ = s.apply(fast_func)  # Subsequent times are all gain
CPU times: user 68.8 ms, sys: 27 µs, total: 68.8 ms
Wall time: 68.7 ms

Checking the answer Id = 31364127 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'dd' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31496628
Code to compile
import pandas as pd
import numpy as np
from bokeh.charts import TimeSeries
from bokeh.models import HoverTool
from bokeh.plotting import show

toy_df = pd.DataFrame(data=np.random.rand(5,3), columns = ('a', 'b' ,'c'), index = pd.DatetimeIndex(start='01-01-2015',periods=5, freq='d'))

 _tools_to_show = 'box_zoom,pan,save,hover,resize,reset,tap,wheel_zoom'

p = figure(width=1200, height=900, x_axis_type="datetime", tools=_tools_to_show)


# FIRST plot ALL lines (This is a hack to get it working, why can't i pass in a dataframe to multi_line?)
# It's not pretty but it works.
# what I want to do!: p.multi_line(df)
ts_list_of_list = []
for i in range(0,len(toy_df.columns)):
    ts_list_of_list.append(toy_df.index.T)

vals_list_of_list = toy_df.values.T.tolist()

# Define colors because otherwise multi_line will use blue for all lines...
cols_to_use =  ['Black', 'Red', 'Lime']
p.multi_line(ts_list_of_list, vals_list_of_list, line_color=cols_to_use)


# THEN put  scatter one at a time on top of each one to get tool tips (HACK! lines with tooltips not yet supported by Bokeh?)
for (name, series) in toy_df.iteritems():
    # need to repmat the name to be same dimension as index
    name_for_display = np.tile(name, [len(toy_df.index),1])

    source = ColumnDataSource({'x': toy_df.index, 'y': series.values, 'series_name': name_for_display, 'Date': toy_df.index.format()})
    # trouble formating x as datestring, so pre-formating and using an extra column. It's not pretty but it works.

    p.scatter('x', 'y', source = source, fill_alpha=0, line_alpha=0.3, line_color="grey")

    hover = p.select(dict(type=HoverTool))
    hover.tooltips = [("Series", "@series_name"), ("Date", "@Date"),  ("Value", "@y{0.00%}"),]
    hover.mode = 'mouse'

show(p)

Checking the answer Id = 31549924 | Errors = ['unexpected indent (<unknown>, line 9)']
----------------------------------------
----------------------------------------
31502958
----------------------------------------
----------------------------------------
31511997
Code to compile
In [41]:
df.loc[df['First Season'] > 1990, 'First Season'] = 1
df

Out[41]:
                 Team  First Season  Total Games
0      Dallas Cowboys          1960          894
1       Chicago Bears          1920         1357
2   Green Bay Packers          1921         1339
3      Miami Dolphins          1966          792
4    Baltimore Ravens             1          326
5  San Franciso 49ers          1950         1003

Code to compile
df.loc[<mask>(here mask is generating the labels to index) , <optional column(s)> ]

Code to compile
In [43]:
df['First Season'] = (df['First Season'] > 1990).astype(int)
df

Out[43]:
                 Team  First Season  Total Games
0      Dallas Cowboys             0          894
1       Chicago Bears             0         1357
2   Green Bay Packers             0         1339
3      Miami Dolphins             0          792
4    Baltimore Ravens             1          326
5  San Franciso 49ers             0         1003

Checking the answer Id = 31512025 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31569549
Code to compile
In [20]:
df.groupby(['Name','Type','ID']).count().reset_index()

Out[20]:
    Name   Type  ID  Count
0  Book1  ebook   1      2
1  Book2  paper   2      2
2  Book3  paper   3      1

Code to compile
In [25]:
df['Count'] = df.groupby(['Name'])['ID'].transform('count')
df.drop_duplicates()

Out[25]:
    Name   Type  ID  Count
0  Book1  ebook   1      2
1  Book2  paper   2      2
2  Book3  paper   3      1

Checking the answer Id = 31569866 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.groupby(['Name','Type','ID'], as_index=False).count()

Checking the answer Id = 37602937 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
31571217
Code to compile
df['Age_fill'][(df.Age.isnull()) & (df.Gender == i) & (df.Pclass == j+1)] \
                                                          = median_ages[i,j]

Checking the answer Id = 31585881 | Errors = ["name 'median_ages' is not defined"]
----------------------------------------
----------------------------------------
31593201
Code to compile
>>> s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])
>>> s
49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN

Code to compile
>>> s.iloc[:3] # slice the first three rows
49   NaN
48   NaN
47   NaN

>>> s.loc[:3] # slice up to and including label 3
49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN

>>> s.ix[:3] # the integer is in the index so s.ix[:3] works like loc
49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN

Code to compile
>>> s.iloc[:6]
49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN

>>> s.loc[:6]
KeyError: 6

>>> s.ix[:6]
KeyError: 6

Code to compile
>>> s2 = pd.Series(np.nan, index=['a','b','c','d','e', 1, 2, 3, 4, 5])
>>> s2.index.is_mixed() # index is mix of types
True
>>> s2.ix[:6] # behaves like iloc given integer
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
1   NaN

Code to compile
>>> s2.ix[:'c'] # behaves like loc given non-integer
a   NaN
b   NaN
c   NaN

Code to compile
>>> df = pd.DataFrame(np.nan,
                      index=list('abcde'),
                      columns=['x','y','z', 8, 9])
>>> df
    x   y   z   8   9
a NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN
e NaN NaN NaN NaN NaN

Code to compile
>>> df.ix[:'c', :4]
    x   y   z   8
a NaN NaN NaN NaN
b NaN NaN NaN NaN
c NaN NaN NaN NaN

Code to compile
>>> df.iloc[:df.index.get_loc('c') + 1, :4]
    x   y   z   8
a NaN NaN NaN NaN
b NaN NaN NaN NaN
c NaN NaN NaN NaN

Checking the answer Id = 31593712 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.iloc[0]

Code to compile
df.iloc[-5:]

Code to compile
df.iloc[:, 2]    # the : in the first position indicates all rows

Code to compile
df.iloc[:3, :3] # The upper-left 3 X 3 entries (assuming df has 3+ rows and columns)

Code to compile
df = pd.DataFrame(index=['a', 'b', 'c'], columns=['time', 'date', 'name'])

Code to compile
df.loc['a']     # equivalent to df.iloc[0]

Code to compile
df.loc['b':, 'date']   # equivalent to df.iloc[1:, 1]

Code to compile
df['time']    # equivalent to df.loc[:, 'time']

Code to compile
df.ix[:2, 'time']    # the first two rows of the 'time' column

Code to compile
 b = [True, False, True]
 df.loc[b]

Code to compile
df.loc[b, 'name'] = 'Mary', 'John'

Checking the answer Id = 31594055 | Errors = ["name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'pd' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined"]
----------------------------------------
----------------------------------------
31609600
Code to compile
%matplotlib inline

Code to compile
"matplotlib.axes._subplots.AxesSubplot at 0xebf8b70".

Checking the answer Id = 31611678 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31610889
Code to compile
In [53]: import pandas as pd
In [54]: df = pd.read_clipboard()

In [55]: df
Out[55]:
   bar  foo
0    4    1
1    5    2
2    6    3

Code to compile
                      0         1         2
level1 level2
foo    a       0.518444  0.239354  0.364764
       b       0.377863  0.912586  0.760612
bar    a       0.086825  0.118280  0.592211

Code to compile
              0         1         2
foo a  0.859630  0.399901  0.052504
    b  0.231838  0.863228  0.017451
bar a  0.422231  0.307960  0.801993

Checking the answer Id = 31610890 | Errors = ['invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
31617845
Code to compile
df = df[(df['closing_price'] >= 99) & (df['closing_price'] <= 101)]

Checking the answer Id = 31617974 | Errors = ["name 'df' is not defined"]
Code to compile
In [58]: df = pd.DataFrame({'closing_price': np.random.randint(95, 105, 10)})

In [59]: df
Out[59]:
   closing_price
0            104
1             99
2             98
3             95
4            103
5            101
6            101
7             99
8             95
9             96

In [60]: df.query('99 <= closing_price <= 101')
Out[60]:
   closing_price
1             99
5            101
6            101
7             99

Code to compile
In [161]: qry = "(closing_price.mean() - 2*closing_price.std())" +\
     ...:       " <= closing_price <= " + \
     ...:       "(closing_price.mean() + 2*closing_price.std())"
     ...:

In [162]: df.query(qry)
Out[162]:
   closing_price
0             97
1            101
2             97
3             95
4            100
5             99
6            100
7            101
8             99
9             95

Checking the answer Id = 38889524 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df = df[df['closing_price'].between(99, 101, inclusive=True)]

Checking the answer Id = 40442778 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
31661604
Code to compile
from scipy.sparse import csr_matrix

person_u = list(sort(frame.person.unique()))
thing_u = list(sort(frame.thing.unique()))

data = frame['count'].tolist()
row = frame.person.astype('category', categories=person_u).cat.codes
col = frame.thing.astype('category', categories=thing_u).cat.codes
sparse_matrix = csr_matrix((data, (row, col)), shape=(len(person_u), len(thing_u)))

>>> sparse_matrix
<3x4 sparse matrix of type '<type 'numpy.int64'>'
    with 6 stored elements in Compressed Sparse Row format>

>>> sparse_matrix.todense()

matrix([[0, 1, 0, 1],
        [1, 0, 0, 1],
        [1, 0, 1, 0]])

Code to compile
dfs=pd.SparseDataFrame([ pd.SparseSeries(sparse_matrix[i].toarray().ravel(), fill_value=0)
                              for i in np.arange(sparse_matrix.shape[0]) ], index=person_u, columns=thing_u, default_fill_value=0)

>>> dfs
     a  b  c  d
him  0  1  0  1
me   1  0  0  1
you  1  0  1  0

>>> type(dfs)
pandas.sparse.frame.SparseDataFrame

Checking the answer Id = 31679396 | Errors = ['invalid syntax (<unknown>, line 11)', 'invalid syntax (<unknown>, line 4)']
----------------------------------------
----------------------------------------
31866802
Code to compile
|            | 13:00:00 | 13:30:00 | 14:00:00 | 14:30:00 | 15:00:00 | 15:30:00 | 16:00:00 | 16:30:00 |
|------------|----------|----------|----------|----------|----------|----------|----------|----------|
| 2011-01-01 | 2054     | 2071     | 2060     | 2054     | 2042     | 2064     | 2043     | 2089     |
| 2011-01-02 | 2096     | 2038     | 2079     | 2052     | 2056     | 2092     | 2007     | 2008     |
| 2011-01-03 | 2002     | 2083     | 2077     | 2087     | 2097     | 2079     | 2046     | 2078     |
| 2011-01-04 | 2011     | 2063     | 2014     | 2094     | 2052     | 2041     | 2026     | 2077     |
| 2011-01-05 | 2045     | 2056     | 2001     | 2061     | 2061     | 2061     | 2094     | 2068     |
| 2011-01-06 | 2035     | 2043     | 2069     | 2006     | 2066     | 2067     | 2021     | 2012     |
| 2011-01-07 | 2031     | 2036     | 2057     | 2043     | 2098     | 2010     | 2020     | 2016     |
| 2011-01-08 | 2065     | 2025     | 2046     | 2024     | 2015     | 2011     | 2065     | 2013     |
| 2011-01-09 | 2019     | 2036     | 2082     | 2009     | 2083     | 2009     | 2097     | 2046     |
| 2011-01-10 | 2097     | 2060     | 2073     | 2003     | 2028     | 2012     | 2029     | 2011     |

Code to compile
df.loc["2011-01-07", :datetime.time(15, 0)] = np.inf
df.loc["2011-01-10", datetime.time(13, 30):] = np.inf

Code to compile
|            | 13:00:00 | 13:30:00 | 14:00:00 | 14:30:00 | 15:00:00 | 15:30:00 | 16:00:00 | 16:30:00 |
|------------|----------|----------|----------|----------|----------|----------|----------|----------|
| 2011-01-01 | 2054.0   | 2071.0   | 2060.0   | 2054.0   | 2042.0   | 2064.0   | 2043.0   | 2089.0   |
| 2011-01-02 | 2096.0   | 2038.0   | 2079.0   | 2052.0   | 2056.0   | 2092.0   | 2007.0   | 2008.0   |
| 2011-01-03 | 2002.0   | 2083.0   | 2077.0   | 2087.0   | 2097.0   | 2079.0   | 2046.0   | 2078.0   |
| 2011-01-04 | 2011.0   | 2063.0   | 2014.0   | 2094.0   | 2052.0   | 2041.0   | 2026.0   | 2077.0   |
| 2011-01-05 | 2045.0   | 2056.0   | 2001.0   | 2061.0   | 2061.0   | 2061.0   | 2094.0   | 2068.0   |
| 2011-01-06 | 2035.0   | 2043.0   | 2069.0   | 2006.0   | 2066.0   | 2067.0   | 2021.0   | 2012.0   |
| 2011-01-07 | inf      | inf      | inf      | inf      | inf      | 2010.0   | 2020.0   | 2016.0   |
| 2011-01-08 | 2065.0   | 2025.0   | 2046.0   | 2024.0   | 2015.0   | 2011.0   | 2065.0   | 2013.0   |
| 2011-01-09 | 2019.0   | 2036.0   | 2082.0   | 2009.0   | 2083.0   | 2009.0   | 2097.0   | 2046.0   |
| 2011-01-10 | 2097.0   | inf      | inf      | inf      | inf      | inf      | inf      | inf      |

Code to compile
df.loc["2011-01-07": "2011-01-10", :].idxmin(axis=1)

2011-01-07    15:30:00
2011-01-08    15:30:00
2011-01-09    14:30:00
2011-01-10    13:00:00
Freq: D, dtype: object

Checking the answer Id = 32763707 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'np' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid token (<unknown>, line 3)']
Code to compile

----------------------------------------
32093829
Code to compile
c_maxes = df.groupby(['A', 'B']).C.transform(max)
df = df[df.C == c_maxes]

Code to compile
df.sort('C').drop_duplicates(subset=['A', 'B'], take_last=True)

Code to compile
%timeit -n 10 df[df.groupby(['A', 'B']).C.max == df.C]
10 loops, best of 3: 25.7 ms per loop

%timeit -n 10 df.sort_values('C').drop_duplicates(subset=['A', 'B'], keep='last')
10 loops, best of 3: 101 ms per loop

Checking the answer Id = 32094352 | Errors = ["name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
32244019
Code to compile
import matplotlib
matplotlib.style.use('ggplot')
import matplotlib.pyplot as plt
import pandas as pd

df = pd.DataFrame({ 'celltype':["foo","bar","qux","woz"], 's1':[5,9,1,7], 's2':[12,90,13,87]})
df = df[["celltype","s1","s2"]]
df.set_index(["celltype"],inplace=True)
df.plot(kind='bar',alpha=0.75, rot=0)
plt.xlabel("")
plt.show()

Checking the answer Id = 32244161 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
32244753
Code to compile
sns_plot.savefig("output.png")

Code to compile
fig = sns_plot.fig

Checking the answer Id = 32245025 | Errors = ["name 'sns_plot' is not defined", "name 'sns_plot' is not defined"]
Code to compile
df = sns.load_dataset('iris')
sns_plot = sns.pairplot(df, hue='species', size=2.5)
sns_plot.savefig("output.png")

Checking the answer Id = 32245026 | Errors = ["name 'sns' is not defined"]
Code to compile
AttributeError: 'AxesSubplot' object has no attribute 'fig'
When trying to access the figure

AttributeError: 'AxesSubplot' object has no attribute 'savefig'
when trying to use the savefig directly as a function

Code to compile
swarm_plot = sns.swarmplot(...)
fig = swarm_plot.get_figure()
fig.savefig(...)

Code to compile
fig = myGridPlotObject.fig

Checking the answer Id = 39482402 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'sns' is not defined", "name 'myGridPlotObject' is not defined"]
Code to compile
sns_plot.figure.savefig("output.png")

Checking the answer Id = 41452422 | Errors = ["name 'sns_plot' is not defined"]
----------------------------------------
----------------------------------------
32400867
Code to compile
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

Checking the answer Id = 32400969 | Errors = ['Sucess']
Code to compile
c = pd.read_csv("https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv")

print(c)

Code to compile
                              Country         Region
0                             Algeria         AFRICA
1                              Angola         AFRICA
2                               Benin         AFRICA
3                            Botswana         AFRICA
4                             Burkina         AFRICA
5                             Burundi         AFRICA
6                            Cameroon         AFRICA
..................................

Checking the answer Id = 32401251 | Errors = ["name 'pd' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
import pandas as pd

url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
c=pd.read_csv(url)

Checking the answer Id = 41880513 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
32444138
Code to compile
import pandas as pd
df = pd.concat(list_of_dataframes)

Checking the answer Id = 32444187 | Errors = ["name 'list_of_dataframes' is not defined"]
----------------------------------------
----------------------------------------
32468402
Code to compile
import numpy as np

df = pd.DataFrame({'listcol':[[1,2,3],[4,5,6]]})
X = pd.concat([pd.DataFrame(v, index=np.repeat(k,len(v)))
            for k,v in df.listcol.to_dict().items()])

Checking the answer Id = 32469151 | Errors = ["name 'pd' is not defined"]
Code to compile
df = (pd.DataFrame({'name': ['A.J. Price'] * 3,
                    'opponent': ['76ers', 'blazers', 'bobcats'],
                    'nearest_neighbors': [['Zach LaVine', 'Jeremy Lin', 'Nate Robinson', 'Isaia']] * 3})
      .set_index(['name', 'opponent']))

>>> df
                                                    nearest_neighbors
name       opponent
A.J. Price 76ers     [Zach LaVine, Jeremy Lin, Nate Robinson, Isaia]
           blazers   [Zach LaVine, Jeremy Lin, Nate Robinson, Isaia]
           bobcats   [Zach LaVine, Jeremy Lin, Nate Robinson, Isaia]

df.reset_index(inplace=True)
rows = []
_ = df.apply(lambda row: [rows.append([row['name'], row['opponent'], nn])
                         for nn in row.nearest_neighbors], axis=1)
df_new = pd.DataFrame(rows, columns=df.columns).set_index(['name', 'opponent'])

>>> df_new
                    nearest_neighbors
name       opponent
A.J. Price 76ers          Zach LaVine
           76ers           Jeremy Lin
           76ers        Nate Robinson
           76ers                Isaia
           blazers        Zach LaVine
           blazers         Jeremy Lin
           blazers      Nate Robinson
           blazers              Isaia
           bobcats        Zach LaVine
           bobcats         Jeremy Lin
           bobcats      Nate Robinson
           bobcats              Isaia

Code to compile
>>> (pd.melt(df.nearest_neighbors.apply(pd.Series).reset_index(),
             id_vars=['name', 'opponent'],
             value_name='nearest_neighbors')
     .set_index(['name', 'opponent'])
     .drop('variable', axis=1)
     .dropna()
     .sort_index()
     )

Checking the answer Id = 32470490 | Errors = ['invalid syntax (<unknown>, line 6)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
32565302
Checking the answer Id = 32583988 | Errors = []
Checking the answer Id = 40679977 | Errors = []
----------------------------------------
----------------------------------------
32591466
Code to compile
names   ages
bob     05
tom     4
suzy    3

Code to compile
import pandas as pd

df = pd.read_excel('Book1.xlsx',sheetname='Sheet1',header=0,converters={'names':str,'ages':str})
>>> df
       names ages
   0   bob   05
   1   tom   4
   2   suzy  3

Checking the answer Id = 32591786 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 4)']
Code to compile
pandas.read_excel(my_file, converters = {my_str_column: str})

Checking the answer Id = 32591799 | Errors = ["name 'pandas' is not defined"]
----------------------------------------
----------------------------------------
32751229
Code to compile
df.groupby(['Country', 'Item_Code']).agg({'Y1961': np.sum, 'Y1962': [np.sum, np.mean]})  # Added example for two output columns from a single input column

Code to compile
df.groupby(['Code', 'Country', 'Item_Code', 'Item', 'Ele_Code', 'Unit']).agg({'Y1961': np.sum, 'Y1962': np.sum, 'Y1963': np.sum})

Checking the answer Id = 32751357 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
Code to compile
In [11]: df.groupby(['Country', 'Item_Code'])[["Y1961", "Y1962", "Y1963"]].sum()
Out[11]:
                       Y1961  Y1962  Y1963
Country     Item_Code
Afghanistan 15            10     20     30
            25            10     20     30
Angola      15            30     40     50
            25            30     40     50

Checking the answer Id = 32751412 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
32752292
Code to compile
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

Code to compile
In [22]: df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [23]: df
Out[23]:
     A   B   C   D
0   45  88  44  92
1   62  34   2  86
2   85  65  11  31
3   74  43  42  56
4   90  38  34  93
5    0  94  45  10
6   58  23  23  60
..  ..  ..  ..  ..

Checking the answer Id = 32752318 | Errors = ["name 'pd' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
32760888
Code to compile
from pyspark.sql.functions import col, rowNumber
from pyspark.sql.window import Window

w = Window.orderBy()
indexed = df.withColumn("index", rowNumber().over(w))

# Using DSL
indexed.where(col("index").isin(set(indexes)))

# Using SQL expression
indexed.where("index in ({0})".format(",".join(str(x) for x in indexes)))

Code to compile
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, LongType

row = Row("char")
row_with_index = Row("char", "index")

df = sc.parallelize(row(chr(x)) for x in range(97, 112)).toDF()
df.show(5)

## +----+
## |char|
## +----+
## |   a|
## |   b|
## |   c|
## |   d|
## |   e|
## +----+
## only showing top 5 rows

# This part is not tested but should work and save some work later
schema  = StructType(
    df.schema.fields[:] + [StructField("index", LongType(), False)])

indexed = (df.rdd # Extract rdd
    .zipWithIndex() # Add index
    .map(lambda ri: row_with_index(*list(ri[0]) + [ri[1]])) # Map to rows
    .toDF(schema)) # It will work without schema but will be more expensive

# inSet in Spark < 1.3
indexed.where(col("index").isin(indexes))

Checking the answer Id = 32761138 | Errors = ["No module named 'pyspark'", "No module named 'pyspark'"]
----------------------------------------
----------------------------------------
32801806
Checking the answer Id = 32801924 | Errors = []
Code to compile
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 2, 3,4])

df2 = pd.DataFrame({'A1': ['A4', 'A5', 'A6', 'A7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D2': ['D4', 'D5', 'D6', 'D7']},
                    index=[ 4, 5, 6 ,7])


df1.reset_index(drop=True, inplace=True)
df2.reset_index(drop=True, inplace=True)

df = pd.concat( [df1, df2], axis=1)

Code to compile
    A   B   D   A1  C   D2
0   A0  B0  D0  A4  C4  D4
1   A1  B1  D1  A5  C5  D5
2   A2  B2  D2  A6  C6  D6
3   A3  B3  D3  A7  C7  D7

Checking the answer Id = 32802014 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
32888124
Code to compile
pd.Timestamp.min
Out[54]: Timestamp('1677-09-22 00:12:43.145225')

In [55]: pd.Timestamp.max
Out[55]: Timestamp('2262-04-11 23:47:16.854775807')

Checking the answer Id = 37226672 | Errors = ['invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
32957441
Code to compile
import pandas as pd
import numpy as np

# Sample dataframes
randn = np.random.randn
df = pd.DataFrame(randn(15, 20))
df1 = pd.DataFrame(randn(10, 5))
df2 = pd.DataFrame(randn(5, 10))

Code to compile
# funtion
def multiple_dfs(df_list, sheets, file_name, spaces):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')
    row = 0
    for dataframe in df_list:
        dataframe.to_excel(writer,sheet_name=sheets,startrow=row , startcol=0)
        row = row + len(dataframe.index) + spaces + 1
    writer.save()

# list of dataframes
dfs = [df,df1,df2]

# run function
multiple_dfs(dfs, 'Validation', 'test1.xlsx', 1)

Code to compile
# function
def dfs_tabs(df_list, sheet_list, file_name):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')
    for dataframe, sheet in zip(df_list, sheet_list):
        dataframe.to_excel(writer, sheet_name=sheet, startrow=0 , startcol=0)
    writer.save()

# list of dataframes and sheet names
dfs = [df, df1, df2]
sheets = ['df','df1','df2']

# run function
dfs_tabs(dfs, sheets, 'multi-test.xlsx')

Checking the answer Id = 33004253 | Errors = ['Sucess', "name 'df' is not defined", "name 'df' is not defined"]

----------------------------------------
----------------------------------------
33086881
Code to compile
df1.merge(df2,how='left', left_on='Column1', right_on='ColumnA')

Checking the answer Id = 33086953 | Errors = ["name 'df1' is not defined"]
----------------------------------------
----------------------------------------
33088010
Code to compile
df_c = pd.concat([df_a.reset_index(drop=True), df_b], axis=1)

Checking the answer Id = 33088410 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
33109107
Code to compile
>>> x = pandas.Series(np.random.randn(10))
>>> stats.skew(x)
-0.17644348972413657
>>> x.skew()
-0.20923623968879457
>>> stats.skew(x, bias=False)
-0.2092362396887948
>>> stats.kurtosis(x)
0.6362620964462327
>>> x.kurtosis()
2.0891062062174464
>>> stats.kurtosis(x, bias=False)
2.089106206217446

Checking the answer Id = 33109272 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
33126477
----------------------------------------
----------------------------------------
33159634
Code to compile
pip install -U matplotlib

Checking the answer Id = 33168054 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
33165734
Code to compile
In [19]: df2 = df2.reset_index(drop=True)

In [20]: df2
Out[20]:
   x  y
0  0  0
1  0  1
2  0  2
3  1  0
4  1  1
5  1  2
6  2  0
7  2  1
8  2  2

Checking the answer Id = 33165860 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
33179122
Code to compile
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import matplotlib.ticker as ticker

# Some random data
dfWIM = pd.DataFrame({'AXLES': np.random.normal(8, 2, 5000).astype(int)})
ncount = len(dfWIM)

plt.figure(figsize=(12,8))
ax = sns.countplot(x="AXLES", data=dfWIM, order=[3,4,5,6,7,8,9,10,11,12])
plt.title('Distribution of Truck Configurations')
plt.xlabel('Number of Axles')

# Make twin axis
ax2=ax.twinx()

# Switch so count axis is on right, frequency on left
ax2.yaxis.tick_left()
ax.yaxis.tick_right()

# Also switch the labels over
ax.yaxis.set_label_position('right')
ax2.yaxis.set_label_position('left')

ax2.set_ylabel('Frequency [%]')

for p in ax.patches:
    x=p.get_bbox().get_points()[:,0]
    y=p.get_bbox().get_points()[1,1]
    ax.annotate('{:.1f}%'.format(100.*y/ncount), (x.mean(), y),
            ha='center', va='bottom') # set the alignment of the text

# Use a LinearLocator to ensure the correct number of ticks
ax.yaxis.set_major_locator(ticker.LinearLocator(11))

# Fix the frequency range to 0-100
ax2.set_ylim(0,100)
ax.set_ylim(0,ncount)

# And use a MultipleLocator to ensure a tick spacing of 10
ax2.yaxis.set_major_locator(ticker.MultipleLocator(10))

# Need to turn the grid on ax2 off, otherwise the gridlines end up on top of the bars
ax2.grid(None)

plt.savefig('snscounter.pdf')

Checking the answer Id = 33259038 | Errors = ["No module named 'matplotlib'"]
----------------------------------------
----------------------------------------
33246771
Code to compile
>>> df = pd.DataFrame([list(range(5))], columns=["a{}".format(i) for i in range(5)])
>>> df
   a0  a1  a2  a3  a4
0   0   1   2   3   4
>>> df.iloc[0]
a0    0
a1    1
a2    2
a3    3
a4    4
Name: 0, dtype: int64
>>> type(_)
<class 'pandas.core.series.Series'>

Checking the answer Id = 33247007 | Errors = ['invalid syntax (<unknown>, line 1)']
Code to compile
df = pd.DataFrame([list(range(5))], columns=["a{}".format(i) for i in range(5)])

>>> df.T.squeeze()
a0    0
a1    1
a2    2
a3    3
a4    4
Name: 0, dtype: int64

Checking the answer Id = 40208359 | Errors = ['invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
33271098
Code to compile
In [11]: df.groupby(["Group", "Size"]).size()
Out[11]:
Group     Size
Moderate  Medium    1
          Small     1
Short     Small     2
Tall      Large     1
dtype: int64

In [12]: df.groupby(["Group", "Size"]).size().reset_index(name="Time")
Out[12]:
      Group    Size  Time
0  Moderate  Medium     1
1  Moderate   Small     1
2     Short   Small     2
3      Tall   Large     1

Checking the answer Id = 33271634 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
33311616
Code to compile
from shapely.geometry import Polygon, Point, LinearRing

poly = Polygon([(0, 0), (2,8), (14, 10), (6,1)])
point = Point(12,4)

pol_ext = LinearRing(poly.exterior.coords)
d = pol_ext.project(point)
p = pol_ext.interpolate(d)
closest_point_coords = list(p.coords)[0]

Checking the answer Id = 33324058 | Errors = ["No module named 'shapely'"]
----------------------------------------
----------------------------------------
33346591
Code to compile
In [46]:
df = pd.DataFrame({'a':[0,0,1,2,2,2], 'b':[1,2,3,4,np.NaN,4], 'c':np.random.randn(6)})
df

Out[46]:
   a   b         c
0  0   1  1.067627
1  0   2  0.554691
2  1   3  0.458084
3  2   4  0.426635
4  2 NaN -2.238091
5  2   4  1.256943

In [48]:
print(df.groupby(['a'])['b'].count())
print(df.groupby(['a'])['b'].size())

a
0    2
1    1
2    2
Name: b, dtype: int64

a
0    2
1    1
2    3
dtype: int64

Checking the answer Id = 33346694 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
33483670
Code to compile
grouped = s.groupby(s)

Code to compile
grouped = s.groupby(lambda x: s[x])

Checking the answer Id = 39247824 | Errors = ["name 's' is not defined", "name 's' is not defined"]
----------------------------------------
----------------------------------------
33505245
----------------------------------------
----------------------------------------
33530753
----------------------------------------
----------------------------------------
33768122
Code to compile
df['quantity'] = df['quantity'].apply(lambda x: x*-1)

Checking the answer Id = 33777664 | Errors = ["name 'df' is not defined"]
Code to compile
df.loc[:,'quantity'] *= -1 #seems to prevent SettingWithCopyWarning

Checking the answer Id = 33780558 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
33813815
Checking the answer Id = 33814054 | Errors = []
----------------------------------------
----------------------------------------
33869292
Code to compile
import pandas as pd
from math import pi
from datetime import datetime as dt
from bokeh.io import output_file
from bokeh.charts import show
from bokeh.models import DatetimeTickFormatter
from bokeh.plotting import figure

df = pd.DataFrame(data=[1,2,3],
                  index=[dt(2015, 1, 1), dt(2015, 1, 2), dt(2015, 1, 3)],
                  columns=['foo'])
p = figure(plot_width=400, plot_height=400)
p.line(df.index, df['foo'])
p.xaxis.formatter=DatetimeTickFormatter(
        hours=["%d %B %Y"],
        days=["%d %B %Y"],
        months=["%d %B %Y"],
        years=["%d %B %Y"],
    )
p.xaxis.major_label_orientation = pi/4
output_file('myplot.html')
show(p)

Checking the answer Id = 33873209 | Errors = ["No module named 'bokeh'"]
----------------------------------------
----------------------------------------
33952142
Code to compile
import pandas as pd
from io import StringIO

data = """
PDB CHAIN SP_PRIMARY RES_BEG RES_END PDB_BEG PDB_END SP_BEG SP_END
5d8b N P60490 1 146 1 146 1 146
5d8b NA P80377 _ 126 1 126 1 126
5d8b O P60491 1 118 1 118 1 118
"""

df = pd.read_csv(StringIO(data), sep=' ', keep_default_na=False, na_values=['_'])

In [130]: df
Out[130]:
    PDB CHAIN SP_PRIMARY  RES_BEG  RES_END  PDB_BEG  PDB_END  SP_BEG  SP_END
0  5d8b     N     P60490        1      146        1      146       1     146
1  5d8b    NA     P80377      NaN      126        1      126       1     126
2  5d8b     O     P60491        1      118        1      118       1     118

In [144]: df.CHAIN.apply(type)
Out[144]:
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
Name: CHAIN, dtype: object

Checking the answer Id = 33952294 | Errors = ['invalid syntax (<unknown>, line 13)']
----------------------------------------
----------------------------------------
33957720
Code to compile
df['column'] = df['column'].astype('str')

Code to compile
df['column_new'] = df['column'].str.split(',')

Checking the answer Id = 33957850 | Errors = ["name 'df' is not defined", "name 'df' is not defined"]
----------------------------------------
----------------------------------------
33961756
Code to compile
generated-members=pandas.*

Checking the answer Id = 35106735 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
34001922
Code to compile
tf.initialize_all_variables().run()

Code to compile
init_op = tf.initialize_all_variables()

sess = tf.Session()
sess.run(init_op)

Checking the answer Id = 34013098 | Errors = ["name 'tf' is not defined", "name 'tf' is not defined"]
Code to compile
tf.global_variables_initializer()

Code to compile
with tf.Session() as sess:
     sess.run(tf.global_variables_initializer())

Checking the answer Id = 41607207 | Errors = ["name 'tf' is not defined", "name 'tf' is not defined"]
----------------------------------------
----------------------------------------
34091877
Code to compile
Cov = pd.read_csv("path/to/file.txt", sep='\t',
                  names = ["Sequence", "Start", "End", "Coverage"])

Code to compile
Frame=pd.DataFrame([Cov], columns = ["Sequence", "Start", "End", "Coverage"])

Checking the answer Id = 34092032 | Errors = ["name 'pd' is not defined", "name 'pd' is not defined"]
Code to compile
Cov = pd.read_csv("path/to/file.txt", sep='\t', header=None)
Cov.columns = ["Sequence", "Start", "End", "Coverage"]

Checking the answer Id = 34094058 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
34398054
Code to compile
from IPython.display import display
display(salaries.head())
display(teams.head())

Checking the answer Id = 34402423 | Errors = ["name 'salaries' is not defined"]
Code to compile
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Checking the answer Id = 42476224 | Errors = ['Sucess']
----------------------------------------
----------------------------------------
34531416
Code to compile
DF3 = DF[(DF['a'] == 0) |  (DF['b'] == 0)]

Checking the answer Id = 34531543 | Errors = ["name 'DF' is not defined"]
----------------------------------------
----------------------------------------
34555135
Code to compile
pip install pandas
pip install lxml
pip install html5lib
pip install BeautifulSoup4

Code to compile
import pandas as pd
import html5lib
f_states=   pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

Checking the answer Id = 34555201 | Errors = ['invalid syntax (<unknown>, line 1)', "module 'html5lib.treebuilders' has no attribute '_base'"]
----------------------------------------
----------------------------------------
34615854
----------------------------------------
----------------------------------------
34682828
Code to compile
new = old[['A', 'C', 'D']].copy()

Code to compile
new = old.filter(['A','B','D'], axis=1)

Code to compile
new = old.drop('B', axis=1)

Checking the answer Id = 34683105 | Errors = ["name 'old' is not defined", "name 'old' is not defined", "name 'old' is not defined"]
----------------------------------------
----------------------------------------
34794067
Code to compile
In [106]:
df.replace('N/A',np.NaN)

Out[106]:
    x    y
0  10   12
1  50   11
2  18  NaN
3  32   13
4  47   15
5  20  NaN

Code to compile
In [108]:
df.loc[df['y'] == 'N/A','y'] = np.nan
df

Out[108]:
    x    y
0  10   12
1  50   11
2  18  NaN
3  32   13
4  47   15
5  20  NaN

Checking the answer Id = 34794112 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
34862336
Code to compile
In [4]: df['id'].map(str.strip)
...
TypeError: descriptor 'strip' requires a 'str' object but received a 'float'

In [5]: df['id'].str.strip()
Out[5]:
0                   NaN
1                as asd
2        asdsa asdasdas
              ...
29997              asds
29998            as asd
29999    asdsa asdasdas
Name: id, dtype: object

Code to compile
In [74]: %timeit df['id'].astype(str).map(str.strip)
100 loops, best of 3: 10.5 ms per loop

In [75]: %timeit df['id'].astype(str)
100 loops, best of 3: 5.25 ms per loop

In [76]: %timeit df['id'].map(str.strip)
100 loops, best of 3: 5.18 ms per loop

Code to compile
In [11]: s = pd.Series(['  a', 10])

In [12]: s.astype(str).map(str.strip)
Out[12]:
0     a
1    10
dtype: object

In [13]: s.str.strip()
Out[13]:
0      a
1    NaN
dtype: object

Checking the answer Id = 34863702 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
34883101
Code to compile
In [5]:
df['UNIXTIME'] = pd.to_datetime(df['UNIXTIME'], unit='ms')
df

Out[5]:
   RUN                UNIXTIME  VALUE
0    1 2015-11-10 13:05:02.320     10
1    2 2015-11-10 13:05:02.364     20
2    3 2015-11-10 13:05:22.364     42

Checking the answer Id = 34883876 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
34896455
Code to compile
In [126]:
df[df.columns[1:-1]].apply(lambda x: x.corr(df['special_col']))

Out[126]:
stem1    0.500000
stem2   -0.500000
stem3   -0.999945
b1       0.500000
b2       0.500000
b3      -0.500000
dtype: float64

Code to compile
In [130]:
%timeit df[df.columns[1:-1]].apply(lambda x: x.corr(df['special_col']))
%timeit df[df.columns[1:]].corr()['special_col']

1000 loops, best of 3: 1.75 ms per loop
1000 loops, best of 3: 836 µs per loop

Checking the answer Id = 34896797 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [15]: data[data.columns[1:]].corr()['special_col'][:-1]
Out[15]:
stem1    0.500000
stem2   -0.500000
stem3   -0.999945
b1       0.500000
b2       0.500000
b3      -0.500000
Name: special_col, dtype: float64

Code to compile
In [33]: np.corrcoef(data[data.columns[1:]].T)[-1][:-1]
Out[33]:
array([ 0.5       , -0.5       , -0.99994535,  0.5       ,  0.5       ,
       -0.5       ])

In [34]: %timeit np.corrcoef(data[data.columns[1:]].T)[-1][:-1]
1000 loops, best of 3: 437 µs per loop

In [35]: %timeit data[data.columns[1:]].corr()['special_col']
1000 loops, best of 3: 526 µs per loop

Checking the answer Id = 34896835 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
In [34]: df.corr().iloc[:-1,-1]
Out[34]:
stem1    0.500000
stem2   -0.500000
stem3   -0.999945
b1       0.500000
b2       0.500000
b3      -0.500000
Name: special_col, dtype: float64

Code to compile
In [39]: df.corr().ix['special_col', :-1]
Out[39]:
stem1    0.500000
stem2   -0.500000
stem3   -0.999945
b1       0.500000
b2       0.500000
b3      -0.500000
Name: special_col, dtype: float64

Code to compile
In [35]: %timeit df.corr().iloc[-1,:-1]
1000 loops, best of 3: 576 us per loop

In [40]: %timeit df.corr().ix['special_col', :-1]
1000 loops, best of 3: 634 us per loop

In [36]: %timeit df[df.columns[1:]].corr()['special_col']
1000 loops, best of 3: 968 us per loop

In [37]: %timeit df[df.columns[1:-1]].apply(lambda x: x.corr(df['special_col']))
100 loops, best of 3: 2.12 ms per loop

Checking the answer Id = 34897294 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
34913590
Code to compile
res = df.apply(lambda x: x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('.'))

print(res)
     A      B     City   Name
0  1.0   0.25  Seattle   Jack
1  2.1   0.00       SF    Sue
2  0.0   0.00       LA      .
3  4.7   4.00       OC    Bob
4  5.6  12.20        .  Alice
5  6.8  14.40        .   John

Checking the answer Id = 34916691 | Errors = ['unexpected indent (<unknown>, line 4)']
----------------------------------------
----------------------------------------
34962104
Code to compile
a,b
1,2
2,3
3,4
4,5

Code to compile
df['a'] = df['a'].apply(lambda x: x + 1)

Code to compile
   a  b
0  2  2
1  3  3
2  4  4
3  5  5

Checking the answer Id = 34962199 | Errors = ["name 'a' is not defined", "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
Code to compile
>>> df = pd.DataFrame({'a': [100, 1000], 'b': [200, 2000], 'c': [300, 3000]})
>>> df

      a     b     c
0   100   200   300
1  1000  2000  3000

Code to compile
>>> df.a = df.a / 2
>>> df

     a     b     c
0   50   200   300
1  500  2000  3000

Checking the answer Id = 34962592 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
35093729
----------------------------------------
----------------------------------------
35318269
Code to compile
mean_ratings = data.pivot_table('rating', rows='title', cols='gender', aggfunc='mean')

Code to compile
mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')

Checking the answer Id = 35318270 | Errors = ["name 'data' is not defined", "name 'data' is not defined"]
----------------------------------------
----------------------------------------
35368645

Code to compile
# for Python 2
df.index = df.index.map(unicode)

# for Python 3 (the unicode type does not exist and is replaced by str)
df.index = df.index.map(str)

Checking the answer Id = 35368792 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
35414625
Code to compile
>>> df.groupby(['year', 'month', 'item'])['value'].sum().unstack('item')
item        item 1  item 2
year month
2004 1          33     250
     2          44     224
     3          41     268
     4          29     232
     5          57     252
     6          61     255
     7          28     254
     8          15     229
     9          29     258
     10         49     207
     11         36     254
     12         23     209

Code to compile
>>> df.pivot_table(values='value', index=['year', 'month'], columns='item')
item        item 1  item 2
year month
2004 1          33     250
     2          44     224
     3          41     268
     4          29     232
     5          57     252
     6          61     255
     7          28     254
     8          15     229
     9          29     258
     10         49     207
     11         36     254
     12         23     209

Checking the answer Id = 35415751 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
df.set_index(['year', 'month', 'item']).unstack(level=-1)

Code to compile
                value
item       item 1 item 2
year month
2004 1         21    277
     2         43    244
     3         12    262
     4         80    201
     5         22    287
     6         52    284
     7         90    249
     8         14    229
     9         52    205
     10        76    207
     11        88    259
     12        90    200

Checking the answer Id = 35416021 | Errors = ["name 'df' is not defined", 'unexpected indent (<unknown>, line 1)']
----------------------------------------
----------------------------------------
35634238
Code to compile
import matplotlib.pyplot as plt
import pandas as pd
from pandas.tools.plotting import table

ax = plt.subplot(111, frame_on=False) # no visible frame
ax.xaxis.set_visible(False)  # hide the x axis
ax.yaxis.set_visible(False)  # hide the y axis

table(ax, df)  # where df is your data frame

plt.savefig('mytable.png')

Code to compile
first  second
bar    one       1.991802
       two       0.403415
baz    one      -1.024986
       two      -0.522366
foo    one       0.350297
       two      -0.444106
qux    one      -0.472536
       two       0.999393
dtype: float64

Code to compile
df = df.reset_index()
df
    first second       0
0   bar    one  1.991802
1   bar    two  0.403415
2   baz    one -1.024986
3   baz    two -0.522366
4   foo    one  0.350297
5   foo    two -0.444106
6   qux    one -0.472536
7   qux    two  0.999393

Code to compile
df.ix[df.duplicated('first') , 'first'] = ''
df
  first second         0
0   bar    one  1.991802
1          two  0.403415
2   baz    one -1.024986
3          two -0.522366
4   foo    one  0.350297
5          two -0.444106
6   qux    one -0.472536
7          two  0.999393

Code to compile
new_cols = df.columns.values
new_cols[:2] = '',''  # since my index columns are the two left-most on the table
df.columns = new_cols

Code to compile
table(ax, df, rowLabels=['']*df.shape[0], loc='center')

Checking the answer Id = 35715029 | Errors = ["No module named 'matplotlib'", 'invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 3)', "name 'df' is not defined", "name 'table' is not defined"]
----------------------------------------
----------------------------------------
35782929
----------------------------------------
----------------------------------------
35826912
----------------------------------------
----------------------------------------
36000993
Code to compile
In [99]: np.isnan(np.array([np.nan, 0], dtype=np.float64))
Out[99]: array([ True, False], dtype=bool)

Code to compile
In [96]: np.isnan(np.array([np.nan, 0], dtype=object))
TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

Code to compile
In [97]: pd.isnull(np.array([np.nan, 0], dtype=float))
Out[97]: array([ True, False], dtype=bool)

In [98]: pd.isnull(np.array([np.nan, 0], dtype=object))
Out[98]: array([ True, False], dtype=bool)

Checking the answer Id = 36001191 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
36038927
----------------------------------------
----------------------------------------
36226083
Code to compile
In [97]: df
Out[97]:
     a    b  c
0  NaN  7.0  0
1  0.0  NaN  4
2  2.0  NaN  4
3  1.0  7.0  0
4  1.0  3.0  9
5  7.0  4.0  9
6  2.0  6.0  9
7  9.0  6.0  4
8  3.0  0.0  9
9  9.0  0.0  1

In [98]: pd.isnull(df).sum() > 0
Out[98]:
a     True
b     True
c    False
dtype: bool

Code to compile
In [5]: df.isnull().any()
Out[5]:
a     True
b     True
c    False
dtype: bool

In [7]: df.columns[df.isnull().any()].tolist()
Out[7]: ['a', 'b']

Code to compile
In [31]: df.loc[:, df.isnull().any()]
Out[31]:
     a    b
0  NaN  7.0
1  0.0  NaN
2  2.0  NaN
3  1.0  7.0
4  1.0  3.0
5  7.0  4.0
6  2.0  6.0
7  9.0  6.0
8  3.0  0.0
9  9.0  0.0

Checking the answer Id = 36226137 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
36519086
Code to compile
In [37]:
df = pd.DataFrame(np.random.randn(5,3), columns=list('abc'))
pd.read_csv(io.StringIO(df.to_csv()))

Out[37]:
   Unnamed: 0         a         b         c
0           0  0.109066 -1.112704 -0.545209
1           1  0.447114  1.525341  0.317252
2           2  0.507495  0.137863  0.886283
3           3  1.452867  1.888363  1.168101
4           4  0.901371 -0.704805  0.088335

Code to compile
In [38]:
pd.read_csv(io.StringIO(df.to_csv(index=False)))

Out[38]:
          a         b         c
0  0.109066 -1.112704 -0.545209
1  0.447114  1.525341  0.317252
2  0.507495  0.137863  0.886283
3  1.452867  1.888363  1.168101
4  0.901371 -0.704805  0.088335

Code to compile
In [40]:
pd.read_csv(io.StringIO(df.to_csv()), index_col=0)

Out[40]:
          a         b         c
0  0.109066 -1.112704 -0.545209
1  0.447114  1.525341  0.317252
2  0.507495  0.137863  0.886283
3  1.452867  1.888363  1.168101
4  0.901371 -0.704805  0.088335

Checking the answer Id = 36519122 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
36539396
Code to compile
>>> import numpy as np
>>> import pandas as pd
>>> from collections import OrderedDict
>>>
>>> foo = np.array( [ 1, 2, 3 ] )
>>> bar = np.array( [ 4, 5, 6 ] )
>>>
>>> pd.DataFrame( OrderedDict( { 'foo': pd.Series(foo), 'bar': pd.Series(bar) } ) )

   foo  bar
0    1    4
1    2    5
2    3    6

Code to compile
>>> import numpy as np
>>> import pandas as pd
>>> from collections import OrderedDict
>>>
>>> a = np.array( [ 1, 2, 3 ] )
>>> b = np.array( [ 4, 5, 6 ] )
>>> c = np.array( [ 7, 8, 9 ] )
>>>
>>> pd.DataFrame( OrderedDict( { 'a': pd.Series(a), 'b': pd.Series(b), 'c': pd.Series(c) } ) )

   a  c  b
0  1  7  4
1  2  8  5
2  3  9  6

>>> pd.DataFrame( OrderedDict( (('a', pd.Series(a)), ('b', pd.Series(b)), ('c', pd.Series(c))) ) )

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

Checking the answer Id = 36539513 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
36631163
Checking the answer Id = 38650886 | Errors = []
----------------------------------------
----------------------------------------
36684013
Code to compile
In [2]: df
Out[2]:
    A  B
0  p1  1
1  p1  2
2  p3  3
3  p2  4

In [3]: df.loc[df['B'] == 3, 'A']
Out[3]:
2    p3
Name: A, dtype: object

In [4]: df.loc[df['B'] == 3, 'A'].iloc[0]
Out[4]: 'p3'

Checking the answer Id = 36685531 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
36694313
Code to compile
pd.core.format.header_style = None

Code to compile
import pandas as pd

data = pd.DataFrame({'test_data': [1,2,3,4,5]})
writer = pd.ExcelWriter('test.xlsx', engine='xlsxwriter')

pd.core.format.header_style = None

data.to_excel(writer, sheet_name='test', index=False)

workbook  = writer.book
worksheet = writer.sheets['test']

font_fmt = workbook.add_format({'font_name': 'Arial', 'font_size': 10})
header_fmt = workbook.add_format({'font_name': 'Arial', 'font_size': 10, 'bold': True})

worksheet.set_column('A:A', None, font_fmt)
worksheet.set_row(0, None, header_fmt)

writer.save()

Code to compile
pd.core.format.header_style = None

Code to compile
pd.formats.format.header_style = None

Checking the answer Id = 36694513 | Errors = ["name 'pd' is not defined", "module 'pandas.core' has no attribute 'format'", "name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
36891977
Code to compile
In [22]:
merged = df1.merge(df2, indicator=True, how='outer')
merged[merged['_merge'] == 'right_only']

Out[22]:
  Buyer  Quantity      _merge
3  Carl         2  right_only
4  Mark         1  right_only

Checking the answer Id = 36893675 | Errors = ['invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
36921951
Code to compile
result = result[(result['var']>0.25) | (result['var']<-0.25)]

Code to compile
>>> import pandas as pd
>>> x = pd.Series([1])
>>> bool(x)
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Code to compile
>>> x or x
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
>>> x and x
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
>>> if x:
...     print('fun')
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
>>> while x:
...     print('fun')
ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Code to compile
>>> import numpy as np
>>> np.logical_or(x, y)

Code to compile
>>> x | y

Code to compile
>>> np.logical_and(x, y)

Code to compile
>>> x & y

Code to compile
>>> x = pd.Series([])
>>> x.empty
True
>>> x = pd.Series([1])
>>> x.empty
False

Code to compile
>>> x = pd.Series([100])
>>> (x > 50).bool()
True
>>> (x < 50).bool()
False

Code to compile
>>> x = pd.Series([100])
>>> x.item()
100

Code to compile
>>> x = pd.Series([0, 1, 2])
>>> x.all()   # because one element is zero
False
>>> x.any()   # because one (or more) elements are non-zero
True

Checking the answer Id = 36922103 | Errors = ["name 'result' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
np.random.seed(0)
df = pd.DataFrame(np.random.randn(5,3), columns=list('ABC'))

>>> df
          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

>>> df.loc[(df.C > 0.25) | (df.C < -0.25)]
          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

Code to compile
df.C > 0.25
0     True
1    False
2    False
3     True
4     True
Name: C, dtype: bool

Code to compile
# Any value in either column is True?
(df.C > 0.25).any() or (df.C < -0.25).any()
True

# All values in either column is True?
(df.C > 0.25).all() or (df.C < -0.25).all()
False

Code to compile
>>> df[[any([a, b]) for a, b in zip(df.C > 0.25, df.C < -0.25)]]
          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

Checking the answer Id = 36922486 | Errors = ['invalid syntax (<unknown>, line 4)', 'invalid syntax (<unknown>, line 2)', "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
37010212
Code to compile
                  read_s  write_s  size_ratio_to_CSV
storage
CSV               17.900    69.00              1.000
CSV.gzip          18.900   186.00              0.047
Pickle             0.173     1.77              0.374
HDF_fixed          0.196     2.03              0.435
HDF_tab            0.230     2.60              0.437
HDF_tab_zlib_c5    0.845     5.44              0.035
HDF_tab_zlib_c9    0.860     5.95              0.035
HDF_tab_bzip2_c5   2.500    36.50              0.011
HDF_tab_bzip2_c9   2.500    36.50              0.011

Code to compile
In [68]: %timeit df.to_csv(fcsv)
1 loop, best of 3: 1min 9s per loop

In [74]: %timeit pd.read_csv(fcsv)
1 loop, best of 3: 17.9 s per loop

Code to compile
In [70]: %timeit df.to_csv(fcsv_gz, compression='gzip')
1 loop, best of 3: 3min 6s per loop

In [75]: %timeit pd.read_csv(fcsv_gz)
1 loop, best of 3: 18.9 s per loop

Code to compile
In [66]: %timeit df.to_pickle(fpckl)
1 loop, best of 3: 1.77 s per loop

In [72]: %timeit pd.read_pickle(fpckl)
10 loops, best of 3: 173 ms per loop

Code to compile
In [67]: %timeit df.to_hdf(fh5, 'df')
1 loop, best of 3: 2.03 s per loop

In [73]: %timeit pd.read_hdf(fh5, 'df')
10 loops, best of 3: 196 ms per loop

Code to compile
In [37]: %timeit df.to_hdf('D:\\temp\\.data\\37010212_tab.h5', 'df', format='t')
1 loop, best of 3: 2.6 s per loop

In [38]: %timeit pd.read_hdf('D:\\temp\\.data\\37010212_tab.h5', 'df')
1 loop, best of 3: 230 ms per loop

Code to compile
In [40]: %timeit df.to_hdf('D:\\temp\\.data\\37010212_tab_compress_zlib5.h5', 'df', format='t', complevel=5, complib='zlib')
1 loop, best of 3: 5.44 s per loop

In [41]: %timeit pd.read_hdf('D:\\temp\\.data\\37010212_tab_compress_zlib5.h5', 'df')
1 loop, best of 3: 854 ms per loop

Code to compile
In [36]: %timeit df.to_hdf('D:\\temp\\.data\\37010212_tab_compress_zlib9.h5', 'df', format='t', complevel=9, complib='zlib')
1 loop, best of 3: 5.95 s per loop

In [39]: %timeit pd.read_hdf('D:\\temp\\.data\\37010212_tab_compress_zlib9.h5', 'df')
1 loop, best of 3: 860 ms per loop

Code to compile
In [42]: %timeit df.to_hdf('D:\\temp\\.data\\37010212_tab_compress_bzip2_l5.h5', 'df', format='t', complevel=5, complib='bzip2')
1 loop, best of 3: 36.5 s per loop

In [43]: %timeit pd.read_hdf('D:\\temp\\.data\\37010212_tab_compress_bzip2_l5.h5', 'df')
1 loop, best of 3: 2.5 s per loop

Code to compile
In [42]: %timeit df.to_hdf('D:\\temp\\.data\\37010212_tab_compress_bzip2_l9.h5', 'df', format='t', complevel=9, complib='bzip2')
1 loop, best of 3: 36.5 s per loop

In [43]: %timeit pd.read_hdf('D:\\temp\\.data\\37010212_tab_compress_bzip2_l9.h5', 'df')
1 loop, best of 3: 2.5 s per loop

Code to compile
In [49]: df.shape
Out[49]: (4000000, 6)

In [50]: df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000000 entries, 0 to 3999999
Data columns (total 6 columns):
a    datetime64[ns]
b    datetime64[ns]
c    datetime64[ns]
d    datetime64[ns]
e    datetime64[ns]
f    datetime64[ns]
dtypes: datetime64[ns](6)
memory usage: 183.1 MB

In [41]: df.head()
Out[41]:
                    a                   b                   c  \
0 1970-01-01 00:00:00 1970-01-01 00:01:00 1970-01-01 00:02:00
1 1970-01-01 00:01:00 1970-01-01 00:02:00 1970-01-01 00:03:00
2 1970-01-01 00:02:00 1970-01-01 00:03:00 1970-01-01 00:04:00
3 1970-01-01 00:03:00 1970-01-01 00:04:00 1970-01-01 00:05:00
4 1970-01-01 00:04:00 1970-01-01 00:05:00 1970-01-01 00:06:00

                    d                   e                   f
0 1970-01-01 00:03:00 1970-01-01 00:04:00 1970-01-01 00:05:00
1 1970-01-01 00:04:00 1970-01-01 00:05:00 1970-01-01 00:06:00
2 1970-01-01 00:05:00 1970-01-01 00:06:00 1970-01-01 00:07:00
3 1970-01-01 00:06:00 1970-01-01 00:07:00 1970-01-01 00:08:00
4 1970-01-01 00:07:00 1970-01-01 00:08:00 1970-01-01 00:09:00

Code to compile
{ .data }  » ls -lh 37010212.*                                                                          /d/temp/.data
-rw-r--r-- 1 Max None 492M May  3 22:21 37010212.csv
-rw-r--r-- 1 Max None  23M May  3 22:19 37010212.csv.gz
-rw-r--r-- 1 Max None 214M May  3 22:02 37010212.h5
-rw-r--r-- 1 Max None 184M May  3 22:02 37010212.pickle
-rw-r--r-- 1 Max None 215M May  4 10:39 37010212_tab.h5
-rw-r--r-- 1 Max None 5.4M May  4 10:46 37010212_tab_compress_bzip2_l5.h5
-rw-r--r-- 1 Max None 5.4M May  4 10:51 37010212_tab_compress_bzip2_l9.h5
-rw-r--r-- 1 Max None  17M May  4 10:42 37010212_tab_compress_zlib5.h5
-rw-r--r-- 1 Max None  17M May  4 10:36 37010212_tab_compress_zlib9.h5

Checking the answer Id = 37012035 | Errors = ['unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
37078880
----------------------------------------
----------------------------------------
37292872
Code to compile
from sklearn.preprocessing import LabelEncoder

#Auto encodes any dataframe column of type category or object.
def dummyEncode(df):
        columnsToEncode = list(df.select_dtypes(include=['category','object']))
        le = LabelEncoder()
        for feature in columnsToEncode:
            try:
                df[feature] = le.fit_transform(df[feature])
            except:
                print('Error encoding '+feature)
        return df

Code to compile
Index  Animal         Index  cat  mouse
  1     dog             1     0     0
  2     cat       -->   2     1     0
  3    mouse            3     0     1

Code to compile
Index  Animal         Index  Animal
  1     dog             1      0
  2     cat       -->   2      1
  3    mouse            3      2

Checking the answer Id = 37293283 | Errors = ["No module named 'sklearn'", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Checking the answer Id = 39287161 | Errors = []
Code to compile
import numpy as np
nb_classes = 6
data = [[2, 3, 4, 0]]

def indices_to_one_hot(data, nb_classes):
    """Convert an iterable of indices to one-hot encoded labels."""
    targets = np.array(data).reshape(-1)
    return np.eye(nb_classes)[targets]

Code to compile
array([[[ 0.,  0.,  1.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  1.,  0.,  0.],
        [ 0.,  0.,  0.,  0.,  1.,  0.],
        [ 1.,  0.,  0.,  0.,  0.,  0.]]])

Checking the answer Id = 42874900 | Errors = ['Sucess', "name 'array' is not defined"]
Code to compile
import numpy as np

def one_hot_encode(x, n_classes):
    """
    One hot encode a list of sample labels. Return a one-hot encoded vector for each label.
    : x: List of sample Labels
    : return: Numpy array of one-hot encoded labels
     """

38154997
----------------------------------------
----------------------------------------
38231591
Code to compile
In [2]: df = pd.DataFrame({'a':[1,2,3], 'b':[{'c':1}, {'d':3}, {'c':5, 'd':6}]})

In [3]: df
Out[3]:
   a                   b
0  1           {u'c': 1}
1  2           {u'd': 3}
2  3  {u'c': 5, u'd': 6}

In [4]: df['b'].apply(pd.Series)
Out[4]:
     c    d
0  1.0  NaN
1  NaN  3.0
2  5.0  6.0

Code to compile
In [7]: pd.concat([df.drop(['b'], axis=1), df['b'].apply(pd.Series)], axis=1)
Out[7]:
   a    c    d
0  1  1.0  NaN
1  2  NaN  3.0
2  3  5.0  6.0

Code to compile
In [15]: pd.concat([df.drop('b', axis=1), pd.DataFrame(df['b'].tolist())], axis=1)
Out[15]:
   a    c    d
0  1  1.0  NaN
1  2  NaN  3.0
2  3  5.0  6.0

Checking the answer Id = 38231651 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
38250710
Code to compile
import numpy as np
import pandas as pd

def train_validate_test_split(df, train_percent=.6, validate_percent=.2, seed=None):
    np.random.seed(seed)
    perm = np.random.permutation(df.index)
    m = len(df)
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    train = df.ix[perm[:train_end]]
    validate = df.ix[perm[train_end:validate_end]]
    test = df.ix[perm[validate_end:]]
    return train, validate, test

Code to compile
np.random.seed([3,1415])
df = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))
df

Code to compile
train, validate, test = train_validate_test_split(df)

train

Code to compile
validate

Code to compile
test

Checking the answer Id = 38251063 | Errors = ['Sucess', "name 'np' is not defined", "name 'train_validate_test_split' is not defined", "name 'validate' is not defined", "name 'test' is not defined"]
Code to compile
In [305]: train, validate, test = np.split(df.sample(frac=1), [int(.6*len(df)), int(.8*len(df))])

In [306]: train
Out[306]:
          A         B         C         D         E
0  0.046919  0.792216  0.206294  0.440346  0.038960
2  0.301010  0.625697  0.604724  0.936968  0.870064
1  0.642237  0.690403  0.813658  0.525379  0.396053
9  0.488484  0.389640  0.599637  0.122919  0.106505
8  0.842717  0.793315  0.554084  0.100361  0.367465
7  0.185214  0.603661  0.217677  0.281780  0.938540

In [307]: validate
Out[307]:
          A         B         C         D         E
5  0.806176  0.008896  0.362878  0.058903  0.026328
6  0.145777  0.485765  0.589272  0.806329  0.703479

In [308]: test
Out[308]:
          A         B         C         D         E
4  0.521640  0.332210  0.370177  0.859169  0.401087
3  0.333348  0.964011  0.083498  0.670386  0.169619

Code to compile
In [45]: a = np.arange(1, 21)

In [46]: a
Out[46]: array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [47]: np.split(a, [int(.8 * len(a)), int(.9 * len(a))])
Out[47]:
[array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16]),
 array([17, 18]),
 array([19, 20])]

Checking the answer Id = 38251213 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
Code to compile
x, x_test, y, y_test = train_test_split(xtrain,labels,test_size=0.2,train_size=0.8)
x_train, x_cv, y_train, y_cv = train_test_split(x,y,test_size = 0.25,train_size =0.75)

Checking the answer Id = 42932524 | Errors = ["name 'train_test_split' is not defined"]
----------------------------------------
----------------------------------------
38254067
Code to compile
In [273]: %timeit df1[df1['letter'] == 'ben']
10 loops, best of 3: 36.1 ms per loop

In [274]: %timeit df2[df2['letter'] == 'ben']
10 loops, best of 3: 108 ms per loop

Code to compile
In [275]: %timeit df1['letter'].values == 'ben'
10 loops, best of 3: 24.1 ms per loop

In [276]: %timeit df2['letter'].values == 'ben'
10 loops, best of 3: 96.5 ms per loop

Code to compile
In [11]: %timeit [item for item in df1['letter']]
10 loops, best of 3: 49.4 ms per loop

In [12]: %timeit [item for item in df2['letter']]
10 loops, best of 3: 124 ms per loop

Code to compile
memloc = pd.DataFrame({'df1': list(map(id, df1['letter'])),
                       'df2': list(map(id, df2['letter'])), })

               df1              df2
0  140226328244040  140226299303840
1  140226328243088  140226308389048
2  140226328243872  140226317328936
3  140226328243760  140226230086600
4  140226328243368  140226285885624

Code to compile
In [272]: diffs = memloc.diff(); diffs.head(30)
Out[272]:
         df1         df2
0        NaN         NaN
1     -952.0   9085208.0
2      784.0   8939888.0
3     -112.0 -87242336.0
4     -392.0  55799024.0
5     -392.0   5436736.0
6      952.0  22687184.0
7       56.0 -26436984.0
8     -448.0  24264592.0
9      -56.0  -4092072.0
10    -168.0 -10421232.0
11 -363584.0   5512088.0
12      56.0 -17433416.0
13      56.0  40042552.0
14      56.0 -18859440.0
15      56.0 -76535224.0
16      56.0  94092360.0
17      56.0  -4189368.0
18      56.0     73840.0
19      56.0  -5807616.0
20      56.0  -9211680.0
21      56.0  20571736.0
22      56.0 -27142288.0
23      56.0   5615112.0
24      56.0  -5616568.0
25      56.0   5743152.0
26      56.0 -73057432.0
27      56.0  -4988200.0
28      56.0  85630584.0
29      56.0  -4706136.0

Code to compile
In [14]:
In [16]: diffs['df1'].value_counts()
Out[16]:
 56.0           986109
 120.0           13671
-524168.0          215
-56.0                1
-12664712.0          1
 41136.0             1
-231731080.0         1
Name: df1, dtype: int64

In [20]: len(diffs['df1'].value_counts())
Out[20]: 7

Code to compile
In [17]: diffs['df2'].value_counts().head()
Out[17]:
-56.0     46
 56.0     44
 168.0    39
-112.0    37
-392.0    35
Name: df2, dtype: int64

In [19]: len(diffs['df2'].value_counts())
Out[19]: 837764

Code to compile
In [5]: %timeit df1[df1['value'] == 0]
1000 loops, best of 3: 1.8 ms per loop

In [6]: %timeit df2[df2['value'] == 0]
1000 loops, best of 3: 1.78 ms per loop

Checking the answer Id = 38258390 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'unexpected indent (<unknown>, line 4)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
38352742
----------------------------------------
----------------------------------------
38470550
Code to compile
cls.sum = _make_stat_function(
            'sum', name, name2, axis_descr,
            'Return the sum of the values for the requested axis',
            nanops.nansum)

Code to compile
def _make_stat_function(name, name1, name2, axis_descr, desc, f):
    @Substitution(outname=name, desc=desc, name1=name1, name2=name2,
                  axis_descr=axis_descr)
    @Appender(_num_doc)
    def stat_func(self, axis=None, skipna=None, level=None, numeric_only=None,
                  **kwargs):
        _validate_kwargs(name, kwargs, 'out', 'dtype')

        if skipna is None:
            skipna = True
        if axis is None:
            axis = self._stat_axis_number
        if level is not None:
            return self._agg_by_level(name, axis=axis, level=level,
                                      skipna=skipna)
        return self._reduce(f, name, axis=axis, skipna=skipna,
                            numeric_only=numeric_only)

Code to compile
def _reduce(self, op, name, axis=0, skipna=True, numeric_only=None,
            filter_type=None, **kwds):
    axis = self._get_axis_number(axis)

    def f(x):
        return op(x, axis=axis, skipna=skipna, **kwds)

    labels = self._get_agg_axis(axis)

    # exclude timedelta/datetime unless we are uniform types
    if axis == 1 and self._is_mixed_type and self._is_datelike_mixed_type:
        numeric_only = True

    if numeric_only is None:
        try:
            values = self.values
            result = f(values)
        except Exception as e:

            # try by-column first
            if filter_type is None and axis == 0:
                try:

                    # this can end up with a non-reduction
                    # but not always. if the types are mixed
                    # with datelike then need to make sure a series
                    result = self.apply(f, reduce=False)
                    if result.ndim == self.ndim:
                        result = result.iloc[0]
                    return result
                except:
                    pass

            if filter_type is None or filter_type == 'numeric':
                data = self._get_numeric_data()
            elif filter_type == 'bool':
                data = self._get_bool_data()
            else:  # pragma: no cover
                e = NotImplementedError("Handling exception with filter_"
                                        "type %s not implemented." %
                                        filter_type)
                raise_with_traceback(e)
            result = f(data.values)
            labels = data._get_agg_axis(axis)
    else:
        if numeric_only:
            if filter_type is None or filter_type == 'numeric':
                data = self._get_numeric_data()
            elif filter_type == 'bool':
                data = self._get_bool_data()
            else:  # pragma: no cover
                msg = ("Generating numeric_only data with filter_type %s"
                       "not supported." % filter_type)
                raise NotImplementedError(msg)
            values = data.values
            labels = data._get_agg_axis(axis)
        else:
            values = self.values
        result = f(values)

    if hasattr(result, 'dtype') and is_object_dtype(result.dtype):
        try:
            if filter_type is None or filter_type == 'numeric':
                result = result.astype(np.float64)
            elif filter_type == 'bool' and notnull(result).all():
                result = result.astype(np.bool_)
        except (ValueError, TypeError):

            # try to coerce to the original dtypes item by item if we can
            if axis == 0:
                result = com._coerce_to_dtypes(result, self.dtypes)

    return Series(result, index=labels)

Code to compile
if hasattr(result, 'dtype') and is_object_dtype(result.dtype):
    try:
        if filter_type is None or filter_type == 'numeric':
            result = result.astype(np.float64)

Code to compile
> c:\users\matthew\anaconda2\lib\site-packages\pandas\core\frame.py(4801)_reduce()
-> result = result.astype(np.float64)
(Pdb) l
4796                result = f(values)
4797
4798            if hasattr(result, 'dtype') and is_object_dtype(result.dtype):
4799                try:
4800                    if filter_type is None or filter_type == 'numeric':
4801 ->                     result = result.astype(np.float64)
4802                    elif filter_type == 'bool' and notnull(result).all():
4803                        result = result.astype(np.bool_)
4804                except (ValueError, TypeError):
4805
4806                    # try to coerce to the original dtypes item by item if we can

Checking the answer Id = 38470963 | Errors = ["name '_make_stat_function' is not defined", 'Sucess', 'Sucess', 'unexpected EOF while parsing (<unknown>, line 4)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
38579532
Code to compile
(df['A'] + df['B']).where((df['A'] < 0) | (df['B'] > 0), df['A'] / df['B'])

Code to compile
np.where(m, A, B)

Code to compile
A.where(m, B)

Code to compile
pd.DataFrame.where(cond=(df['A'] < 0) | (df['B'] > 0), self=df['A'] + df['B'], other=df['A'] / df['B'])

Code to compile
pd.DataFrame.where(df['A'] + df['B'], (df['A'] < 0) | (df['B'] > 0), df['A'] / df['B'])

Checking the answer Id = 38579700 | Errors = ["name 'df' is not defined", "name 'np' is not defined", "name 'A' is not defined", "name 'pd' is not defined", "name 'pd' is not defined"]
----------------------------------------
----------------------------------------
38713200
Code to compile
# Only works with a non MultiIndex
# and its slow, so don't use it
df.T.apply(tuple).apply(list)

Code to compile
pd.Series(df.T.to_dict('list'))

Code to compile
a    [1, 2, 3, 4]
b    [5, 6, 7, 8]
dtype: object

Code to compile
from string import ascii_letters
letters = list(ascii_letters)
df = pd.DataFrame(np.random.choice(range(10), (52 ** 2, 52)),
                  pd.MultiIndex.from_product([letters, letters]),
                  letters)

Checking the answer Id = 38713212 | Errors = ["name 'df' is not defined", "name 'pd' is not defined", 'invalid syntax (<unknown>, line 3)', "name 'pd' is not defined"]
Code to compile
print (pd.Series(df.values.tolist(), index=df.index))
a    [1, 2, 3, 4]
b    [5, 6, 7, 8]
dtype: object

Code to compile
In [76]: %timeit (pd.Series(df.values.tolist(), index=df.index))
1000 loops, best of 3: 295 µs per loop

In [77]: %timeit pd.Series(df.T.to_dict('list'))
1000 loops, best of 3: 685 µs per loop

In [78]: %timeit df.T.apply(tuple).apply(list)
1000 loops, best of 3: 958 µs per loop

Code to compile
from string import ascii_letters
letters = list(ascii_letters)
df = pd.DataFrame(np.random.choice(range(10), (52 ** 2, 52)),
                  pd.MultiIndex.from_product([letters, letters]),
                  letters)

In [71]: %timeit (pd.Series(df.values.tolist(), index=df.index))
100 loops, best of 3: 2.06 ms per loop

In [72]: %timeit pd.Series(df.T.to_dict('list'))
1 loop, best of 3: 203 ms per loop

In [73]: %timeit df.T.apply(tuple).apply(list)
1 loop, best of 3: 506 ms per loop

Checking the answer Id = 38713387 | Errors = ['invalid syntax (<unknown>, line 4)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 7)']
----------------------------------------
----------------------------------------
38717282
----------------------------------------
----------------------------------------
38733719
----------------------------------------
----------------------------------------
38783027
Code to compile
import pandas as pd
import numpy as np
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(CSS))

Code to compile
CSS = """
div.cell:nth-child(5) .output {
    flex-direction: row;
}
"""

Checking the answer Id = 38801975 | Errors = ['Sucess', 'Sucess']
----------------------------------------
----------------------------------------
38886080
Code to compile
In [229]: df = pd.DataFrame({True:[1,2,3],False:[3,4,5]}); df
Out[229]:
   False  True
0      3      1
1      4      2
2      5      3

Code to compile
In [230]: df[[True]]
ValueError: Item wrong length 1 instead of 3.

Code to compile
In [258]: df2 = pd.DataFrame({'A':[1,2,3],'B':[3,4,5]}); df2
Out[258]:
   A  B
0  1  3
1  2  4
2  3  5

In [259]: df2[['B']]
Out[259]:
   B
0  3
1  4
2  5

Code to compile
In [231]: df.loc[[True]]
Out[231]:
   False  True
0      3      1

Code to compile
In [237]: df2.loc[[True,False,True], 'B']
Out[237]:
0    3
2    5
Name: B, dtype: int64

Code to compile
In [239]: df2.loc[1:2]
Out[239]:
   A  B
1  2  4
2  3  5

In [271]: df2[1:2]
Out[271]:
   A  B
1  2  4

Checking the answer Id = 38886211 | Errors = ['invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
38902239
----------------------------------------
----------------------------------------
38935541
Code to compile
df %>% groupby(col1) %>% summarize(col2_agg=max(col2), col3_agg=min(col3))

Code to compile
df.groupby('col1').agg({'col2': 'max', 'col3': 'min'})

Code to compile
      col2  col3
col1
1        5    -5
2        9    -9

Code to compile
df.groupby('col1', as_index=False).agg({'col2': 'max', 'col3': 'min'})

Code to compile
df.groupby('col1').agg({'col2': 'max', 'col3': 'min'}).reset_index()

Code to compile
col1  col2  col3
   1     5    -5
   2     9    -9

Code to compile
agg_df = df.groupby('col1').agg({'col2': ['max', 'min', 'std'],
                                 'col3': ['size', 'std', 'mean', 'max']})

Code to compile
     col2               col3
      max min       std size       std mean max
col1
1       5   1  1.581139    5  1.581139   -3  -1
2       9   0  3.535534    5  3.535534   -6   0

Code to compile
agg_df['col2']  # select the second column
      max  min       std
col1
1       5    1  1.581139
2       9    0  3.535534

agg_df[('col2', 'max')]  # select the maximum of the second column
Out:
col1
1    5
2    9
Name: (col2, max), dtype: int64

agg_df.xs('max', axis=1, level=1)  # select the maximum of all columns
Out:
      col2  col3
col1
1        5    -1
2        9     0

Code to compile
df.groupby('col1')['col2'].agg({'max_col2': 'max'})

Code to compile
      max_col2
col1
1            5
2            9

Code to compile
df.groupby('col1')['col2'].agg(['max']).rename(columns={'max': 'col2_max'})

      col2_max
col1
1            5
2            9

Code to compile
agg_df.columns = ['_'.join(col) for col in agg_df.columns]

      col2_max  col2_min  col2_std  col3_size  col3_std  col3_mean  col3_max
col1
1            5         1  1.581139          5  1.581139         -3        -1
2            9         0  3.535534          5  3.535534         -6         0

Code to compile
df.assign(new_col=df.eval('col2 * col3')).groupby('col1').agg('max')

      col2  col3  new_col
col1
1        5    -1       -1
2        9     0        0

Code to compile
df.assign(new_col=df.eval('col2 * col3')).groupby('col1')['new_col'].agg('max')

col1
1   -1
2    0
Name: new_col, dtype: int64

Code to compile
df.groupby('col1').apply(lambda x: (x.col2 * x.col3).max())

col1
1   -1
2    0
dtype: int64

Checking the answer Id = 38935669 | Errors = ['invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', "name 'df' is not defined", "name 'df' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 2)', "name 'df' is not defined", 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 3)', 'invalid syntax (<unknown>, line 5)', 'invalid syntax (<unknown>, line 5)']
----------------------------------------
----------------------------------------
38956660
----------------------------------------
----------------------------------------
39100971
Code to compile
>>> import os, psutil, numpy as np
>>> def usage():
...     process = psutil.Process(os.getpid())
...     return process.get_memory_info()[0] / float(2 ** 20)
...
>>> usage() # initial memory usage
27.5

>>> arr = np.arange(10 ** 8) # create a large array without boxing
>>> usage()
790.46875
>>> del arr
>>> usage()
27.52734375 # numpy just free()'d the array

>>> arr = np.arange(10 ** 8, dtype='O') # create lots of objects
>>> usage()
3135.109375
>>> del arr
>>> usage()
2372.16796875  # numpy frees the array, but python keeps the heap big

Code to compile
In [1]: import pandas as pd

In [2]: df = pd.DataFrame({'foo': [1,2,3,4]})

In [3]: df + 1
Out[3]:
   foo
0    2
1    3
2    4
3    5

In [4]: df + 2
Out[4]:
   foo
0    3
1    4
2    5
3    6

In [5]: Out # Still has all our temporary DataFrame objects!
Out[5]:
{3:    foo
 0    2
 1    3
 2    4
 3    5, 4:    foo
 0    3
 1    4
 2    5
 3    6}

Code to compile
>>> df.dtypes
foo    float64 # 8 bytes per value
bar      int64 # 8 bytes per value
baz     object # at least 48 bytes per value, often more


Code to compile
Date      A       B       C      D      E      F      G
0   2008-03-18  24.68  164.93  114.73  26.27  19.21  28.87  63.44
1   2008-03-19  24.18  164.89  114.75  26.22  19.07  27.76  59.98
2   2008-03-20  23.99  164.63  115.04  25.78  19.01  27.04  59.61
3   2008-03-25  24.14  163.92  114.85  27.41  19.61  27.84  59.41
4   2008-03-26  24.44  163.45  114.84  26.86  19.53  28.02  60.09

Code to compile
# Put your inputs into a single list
df['single_input_vector'] = df[input_cols].apply(tuple, axis=1).apply(list)
# Double-encapsulate list so that you can sum it in the next step and keep time steps as separate elements
df['single_input_vector'] = df.single_input_vector.apply(lambda x: [list(x)])
# Use .cumsum() to include previous row vectors in the current row list of vectors
df['cumulative_input_vectors'] = df.single_input_vector.cumsum()

Code to compile
# If your output is multi-dimensional, you need to capture those dimensions in one object
# If your output is a single dimension, this step may be unnecessary
df['output_vector'] = df[output_cols].apply(tuple, axis=1).apply(list)

Code to compile
# Pad your sequences so they are the same length
from keras.preprocessing.sequence import pad_sequences

max_sequence_length = df.cumulative_input_vectors.apply(len).max()
# Save it as a list
padded_sequences = pad_sequences(df.cumulative_input_vectors.tolist(), max_sequence_length).tolist()
df['padded_input_vectors'] = pd.Series(padded_sequences).apply(np.asarray)

Code to compile
# Extract your training data
X_train_init = np.asarray(df.padded_input_vectors)
# Use hstack to and reshape to make the inputs a 3d vector
X_train = np.hstack(X_train_init).reshape(len(df),max_sequence_length,len(input_cols))
y_train = np.hstack(np.asarray(df.output_vector)).reshape(len(df),len(output_cols))

Code to compile
>>> print(X_train_init.shape)
(11,)
>>> print(X_train.shape)
(11, 11, 6)
>>> print(X_train == X_train_init)
False

Code to compile
# Get your input dimensions
# Input length is the length for one input sequence (i.e. the number of rows for your sample)
# Input dim is the number of dimensions in one input vector (i.e. number of input columns)
input_length = X_train.shape[1]
input_dim = X_train.shape[2]
# Output dimensions is the shape of a single output vector
# In this case it's just 1, but it could be more
output_dim = len(y_train[0])

Code to compile
from keras.models import Model, Sequential
from keras.layers import LSTM, Dense

# Build the model
model = Sequential()

# I arbitrarily picked the output dimensions as 4
model.add(LSTM(4, input_dim = input_dim, input_length = input_length))
# The max output value is > 1 so relu is used as final activation.
model.add(Dense(output_dim, activation='relu'))

model.compile(loss='mean_squared_error',
              optimizer='sgd',
              metrics=['accuracy'])

Code to compile
# Set batch_size to 7 to show that it doesn't have to be a factor or multiple of your sample size
history = model.fit(X_train, y_train,
              batch_size=7, nb_epoch=3,
              verbose = 1)

Code to compile
Epoch 1/3
11/11 [==============================] - 0s - loss: 3498.5756 - acc: 0.0000e+00
Epoch 2/3
11/11 [==============================] - 0s - loss: 3498.5755 - acc: 0.0000e+00
Epoch 3/3
11/11 [==============================] - 0s - loss: 3498.5757 - acc: 0.0000e+00

Checking the answer Id = 40005797 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', "name 'df' is not defined", "name 'df' is not defined", "No module named 'keras'", "name 'np' is not defined", 'invalid syntax (<unknown>, line 1)', "name 'X_train' is not defined", "No module named 'keras'", "name 'model' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
40143902
----------------------------------------
----------------------------------------
40144769
Code to compile
df.iloc[:,-1]

Checking the answer Id = 40145561 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
40209520
Code to compile
             A
2012-12-31   0
2013-01-01   1
2013-01-02   2
2013-01-03   3
2013-01-04   4
2013-01-05   5
2013-01-06   6
2013-01-07   7
2013-01-08   8
2013-01-09   9
2013-01-10  10

Code to compile
df.rolling(5,min_periods=5).sum().dropna().resample('3D').first()
Out[36]:
                 A
2013-01-04 10.0000
2013-01-07 25.0000
2013-01-10 40.0000

Checking the answer Id = 40209737 | Errors = ['unexpected indent (<unknown>, line 1)', 'invalid syntax (<unknown>, line 2)']
----------------------------------------
----------------------------------------
40225683
Code to compile
df.columns = pd.MultiIndex.from_product([df.columns, ['C']])

print(df)
#    A  B
#    C  C
# a  0  0
# b  1  1
# c  2  2
# d  3  3
# e  4  4

Checking the answer Id = 40225796 | Errors = ["name 'pd' is not defined"]
----------------------------------------
----------------------------------------
41190852
Code to compile
mask = np.isnan(arr)
idx = np.where(~mask,np.arange(mask.shape[1]),0)
np.maximum.accumulate(idx,axis=1, out=idx)
out = arr[np.arange(idx.shape[0])[:,None], idx]

Code to compile
arr[mask] = arr[np.nonzero(mask)[0], idx[mask]]

Code to compile
In [179]: arr
Out[179]:
array([[  5.,  nan,  nan,   7.,   2.,   6.,   5.],
       [  3.,  nan,   1.,   8.,  nan,   5.,  nan],
       [  4.,   9.,   6.,  nan,  nan,  nan,   7.]])

In [180]: out
Out[180]:
array([[ 5.,  5.,  5.,  7.,  2.,  6.,  5.],
       [ 3.,  3.,  1.,  8.,  8.,  5.,  5.],
       [ 4.,  9.,  6.,  6.,  6.,  6.,  7.]])

Checking the answer Id = 41191127 | Errors = ["name 'np' is not defined", "name 'arr' is not defined", 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
41205001
----------------------------------------
----------------------------------------
41464177
Code to compile
# a =
# [ 0  2  3  4  5 10 11 11 14 19 20 20]
#
# a - delta_left
# [-1  1  2  3  4  9 10 10 13 18 19 19]

Code to compile
def delta_cluster(a, dleft, dright):
    # use to track whether searchsorted results are at correct positions
    rng = np.arange(len(a))

    edge_left = a.searchsorted(a - dleft)
    starts = edge_left == rng

    # we append 0 to shift
    edge_right = np.append(0, a.searchsorted(a + dright, side='right')[:-1])
    ends = edge_right == rng

    return (starts & ends).cumsum()

Code to compile
print(delta_cluster(a, 1, 1))

[1 2 2 2 2 3 3 3 4 5 5 5]

Code to compile
print(delta_cluster(a, 2, 1))

[1 1 1 1 1 2 2 2 3 4 4 4]

Code to compile
def delta_cluster(a, dleft, dright):

    s = a.argsort()

    size = s.size

    if size > 1000:
        y = np.empty(s.size, dtype=np.int64)
        y[s] = np.arange(s.size)
    else:
        y = s.argsort()

    a = a[s]

    rng = np.arange(len(a))

    edge_left = a.searchsorted(a - dleft)
    starts = edge_left == rng

    edge_right = np.append(0, a.searchsorted(a + dright, side='right')[:-1])
    ends = edge_right == rng

    return (starts & ends).cumsum()[y]

Code to compile
b = np.random.permutation(a)
print(b)

[14 10  3 11 20  0 19 20  4 11  5  2]

Code to compile
print(delta_cluster(a, 2, 1))

[1 1 1 1 1 2 2 2 3 4 4 4]

Code to compile
print(delta_cluster(b, 2, 1))

[3 2 1 2 4 1 4 4 1 2 1 1]

Code to compile
print(delta_cluster(b, 2, 1)[b.argsort()])

[1 1 1 1 1 2 2 2 3 4 4 4]

Checking the answer Id = 41464194 | Errors = ['Sucess', 'Sucess', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)', 'Sucess', 'invalid syntax (<unknown>, line 4)', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
41890870
Code to compile
def coskew(df, bias=False):
    v = df.values
    s1 = sigma = v.std(0, keepdims=True)
    means = v.mean(0, keepdims=True)

    # means is 1 x n (n is number of columns
    # this difference broacasts appropriately
    v1 = v - means

    s2 = sigma ** 2

    v2 = v1 ** 2

    m = v.shape[0]

    skew = pd.DataFrame(v2.T.dot(v1) / s2.T.dot(s1) / m, df.columns, df.columns)

    if not bias:
        skew *= ((m - 1) * m) ** .5 / (m - 2)

    return skew

Code to compile
coskew(df)

          a         b
a -0.369380  0.096974
b  0.325311  0.067020

Code to compile
df.skew()

a   -0.36938
b    0.06702
dtype: float64

Code to compile
def cokurt(df, bias=False, fisher=True, variant='middle'):
    v = df.values
    s1 = sigma = v.std(0, keepdims=True)
    means = v.mean(0, keepdims=True)

    # means is 1 x n (n is number of columns
    # this difference broacasts appropriately
    v1 = v - means

    s2 = sigma ** 2
    s3 = sigma ** 3

    v2 = v1 ** 2
    v3 = v1 ** 3

    m = v.shape[0]

    if variant in ['left', 'right']:
        kurt = pd.DataFrame(v3.T.dot(v1) / s3.T.dot(s1) / m, df.columns, df.columns)
        if variant == 'right':
            kurt = kurt.T
    elif variant == 'middle':
        kurt = pd.DataFrame(v2.T.dot(v2) / s2.T.dot(s2) / m, df.columns, df.columns)

    if not bias:
        kurt = kurt * (m ** 2 - 1) / (m - 2) / (m - 3) - 3 * (m - 1) ** 2 / (m - 2) / (m - 3)
    if not fisher:
        kurt += 3

    return kurt

Code to compile
cokurt(df, variant='middle', bias=False, fisher=False)

          a        b
a  1.882817  0.86649
b  0.866490  1.63200

cokurt(df, variant='left', bias=False, fisher=False)

          a        b
a  1.882817  0.19175
b -0.020567  1.63200

Code to compile
df.kurtosis() + 3

a    1.882817
b    1.632000
dtype: float64

Checking the answer Id = 41890871 | Errors = ['Sucess', 'unexpected indent (<unknown>, line 3)', 'invalid syntax (<unknown>, line 4)', 'Sucess', 'unexpected indent (<unknown>, line 3)', 'invalid syntax (<unknown>, line 3)']
----------------------------------------
----------------------------------------
41929772
Code to compile
df = df.groupby(['from','to']).datetime
       .apply(lambda x: x.sort_values().diff().dt.seconds // 60)
       .fillna(0)
       .sort_index()
       .reset_index(level=2, drop=True)
       .reset_index(name='timediff in minutes')

print (df)

   from  to  timediff in minutes
0    11   1                 120.0
1    11   1                 255.0
2    11   1                 225.0
3    11   1                   0.0
4    11  12                 300.0
5    11  12                   0.0
6    11  18                   0.0
7    12   3                   0.0
8    12   3                   0.0

Code to compile
df = df.join(df.groupby(['from','to'])
               .datetime
               .apply(lambda x: x.sort_values().diff().dt.seconds // 60)
               .fillna(0)
               .reset_index(level=[0,1], drop=True)
               .rename('timediff in minutes'))
print (df)
   from  to            datetime other  timediff in minutes
0    11   1 2016-11-06 22:00:00     -                120.0
1    11   1 2016-11-06 20:00:00     -                255.0
2    11   1 2016-11-06 15:45:00     -                225.0
3    11  12 2016-11-06 15:00:00     -                300.0
4    11   1 2016-11-06 12:00:00     -                  0.0
5    11  18 2016-11-05 10:00:00     -                  0.0
6    11  12 2016-11-05 10:00:00     -                  0.0
7    12   3 2016-10-05 10:00:59     -                  0.0
8    12   3 2016-09-06 10:00:34     -                  0.0

Checking the answer Id = 41929910 | Errors = ['unexpected indent (<unknown>, line 2)', 'unexpected indent (<unknown>, line 8)']
Code to compile
result = df.sort_values(['from','to','datetime'])\
           .groupby(['from','to'])['datetime']\
           .diff().dt.seconds.fillna(0)

Checking the answer Id = 41929939 | Errors = ["name 'df' is not defined"]
Code to compile
df.assign(
    timediff=df.sort_values(
        'datetime', ascending=False
    ).groupby(['from', 'to']).datetime.diff(-1).dt.seconds.div(60).fillna(0))

Checking the answer Id = 41929958 | Errors = ["name 'df' is not defined"]
----------------------------------------
----------------------------------------
42076126
Code to compile
import numpy as np
class PercentileOfScore(object):

    def __init__(self, aList):
        self.a = np.array( aList )
        self.a.sort()
        self.n = float(len(self.a))
        self.pct = self.__rank_searchsorted_list
    # end def __init__

    def __rank_searchsorted_list(self, score_list):
        adx = np.searchsorted(self.a, score_list, side='right')
        pct = []
        for idx in adx:
            # Python 2.x needs explicit type casting float(int)
            pct.append( (float(idx) / self.n) * 100.0 )

        return pct
    # end def _rank_searchsorted_list
# end class PercentileOfScore

Code to compile
PctOS = None
def percentile_7(df_flat):
    global PctOS
    result = {}
    for k in df_flat.pair_dict.keys():
        # df_flat.pair_dict = { 'src.dst': [b,b,...bn] }
        result[k] = PctOS.pct( df_flat.pair_dict[k] )

    return result
# end def percentile_7

Code to compile
from PercentileData import DF_flat
def main():
    # DF_flat.data = {'dt.src.dest':[a,b]}
    df_flat = DF_flat()

    # Instantiate Global PctOS
    global PctOS
    # df_flat.a_list = [a,a,...an]
    PctOS = PercentileOfScore(df_flat.a_list)

    result = percentile_7(df_flat)
    # result = dict{'src.dst':[pct,pct...pctn]}

Checking the answer Id = 42305299 | Errors = ['Sucess', 'Sucess', "No module named 'PercentileData'"]
----------------------------------------
----------------------------------------
42157944
Checking the answer Id = 42335527 | Errors = []
Code to compile
import pandas as pd
from multiprocessing import Pool

def reader(filename):
    return pd.read_excel(filename)

def main():
    pool = Pool(4) # number of cores you want to use
    file_list = [file1.xlsx, file2.xlsx, file3.xlsx, ...]
    df_list = pool.map(reader, file_list) #creates a list of the loaded df's
    df = pd.concat(df_list) # concatenates all the df's into a single df

if __name__ == '__main__':
    main()

Code to compile
echo %NUMBER_OF_PROCESSORS%

Checking the answer Id = 42401977 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
42347868
Code to compile
print(
    df
    .head(10)
    .to_string(
        formatters={"total_bill": "${:,.2f}".format,
                    "tip": "${:,.2f}".format,
                    "date": lambda x: "{:%m/%d/%Y}".format(pd.to_datetime(x, unit="D"))
        }
    )
)

  total_bill   tip     sex smoker  day    time  size       date
0     $16.99 $1.01  Female     No  Sun  Dinner     2 02/08/2017
1     $10.34 $1.66    Male     No  Sun  Dinner     3 02/09/2017
2     $21.01 $3.50    Male     No  Sun  Dinner     3 02/10/2017
3     $23.68 $3.31    Male     No  Sun  Dinner     2 02/11/2017
4     $24.59 $3.61  Female     No  Sun  Dinner     4 02/12/2017
5     $25.29 $4.71    Male     No  Sun  Dinner     4 02/13/2017
6      $8.77 $2.00    Male     No  Sun  Dinner     2 02/14/2017
7     $26.88 $3.12    Male     No  Sun  Dinner     4 02/15/2017
8     $15.04 $1.96    Male     No  Sun  Dinner     2 02/16/2017
9     $14.78 $3.23    Male     No  Sun  Dinner     2 02/17/2017

Checking the answer Id = 42426751 | Errors = ['unexpected indent (<unknown>, line 12)']
----------------------------------------
----------------------------------------
42516070
Code to compile
np.random.seed(1)
df = pd.DataFrame(np.random.randint(4, size=(5,1)))
print (df)
   0
0  1
1  3
2  0
3  0
4  3

print ((df[0] == 0).idxmax())
2

df.loc[(df[0] == 0).idxmax(), 0] = 100
print (df)
     0
0    1
1    3
2  100
3    0
4    3

Code to compile
df.loc[(df[0] == 3).idxmax(), 0] = 200
print (df)
     0
0    1
1  200
2    0
3    0
4    3

Code to compile
np.random.seed(1)
df = pd.DataFrame(np.random.randint(4, size=(5,1)), index=[1,2,2,3,4])
print (df)
   0
1  1
2  3
2  0
3  0
4  3

df = df.reset_index()
df.loc[(df[0] == 3).idxmax(), 0] = 200
df = df.set_index('index')
df.index.name = None
print (df)
     0
1    1
2  200
2    0
3    0
4    3

Code to compile
np.random.seed(1)
df = pd.DataFrame(np.random.randint(4, size=(5,1)), index=[1,2,2,3,4])
print (df)
   0
1  1
2  3
2  0
3  0
4  3

df.index = [np.arange(len(df.index)), df.index]
print (df)
     0
0 1  1
1 2  3
2 2  0
3 3  0
4 4  3

df.loc[(df[0] == 3).idxmax(), 0] = 200
df = df.reset_index(level=0, drop=True)

print (df)
     0
1    1
2  200
2    0
3    0
4    3

Code to compile
np.random.seed(1)
df = pd.DataFrame([4,0,4,7,4], index=[1,2,2,3,4])
print (df)
   0
1  4
2  0
2  4
3  7
4  4

mask = (df[0] == 0).cumsum().cumsum()
print (mask)
1    0
2    1
2    2
3    3
4    4
Name: 0, dtype: int32

df.loc[mask == 1, 0] = 200
print (df)
     0
1    4
2  200
2    4
3    7
4    4

Checking the answer Id = 42516230 | Errors = ['unexpected indent (<unknown>, line 4)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 4)', 'unexpected indent (<unknown>, line 4)', 'unexpected indent (<unknown>, line 4)']
----------------------------------------
----------------------------------------
43423347
Code to compile
x = pd.DataFrame(list(zip(range(4), range(4))), columns=['a', 'b'])
print(x)
   a  b
0  0  0
1  1  1
2  2  2
3  3  3

Code to compile
 q = x.loc[:, 'a']

Code to compile
q += 2
print(x)  # checking x again, wow! it changed!
   a  b
0  2  0
1  3  1
2  4  2
3  5  3

Code to compile
x = pd.DataFrame(list(zip(range(4), range(4))), columns=['a', 'b'])
print(x)
   a  b
0  0  0
1  1  1
2  2  2
3  3  3

q = x.loc[:, 'a'].copy()
q += 2
print(x)  # oh, x did not change because q is a copy now
   a  b
0  0  0
1  1  1
2  2  2
3  3  3

Checking the answer Id = 43559496 | Errors = ['unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 1)', 'unexpected indent (<unknown>, line 3)', 'unexpected indent (<unknown>, line 3)']
Code to compile
@profile
def foo():
    df = pd.DataFrame(np.random.randn(2 * 10 ** 7))

    d1 = df[:]
    d1 = d1.copy()

if __name__ == '__main__':
    foo()

Code to compile
> python -m memory_profiler demo.py
Filename: demo.py

Line #    Mem usage    Increment   Line Contents
================================================
     4   61.195 MiB    0.000 MiB   @profile
     5                             def foo():
     6  213.828 MiB  152.633 MiB    df = pd.DataFrame(np.random.randn(2 * 10 ** 7))
     7
     8  213.863 MiB    0.035 MiB    d1 = df[:]
     9  366.457 MiB  152.594 MiB    d1 = d1.copy()

Code to compile
> mprof run -T 0.001 demo.py
Line #    Mem usage    Increment   Line Contents
================================================
     7     62.9 MiB      0.0 MiB   @profile
     8                             def foo():
     9    215.5 MiB    152.6 MiB    df = pd.DataFrame(np.random.randn(2 * 10 ** 7))
    10    215.5 MiB      0.0 MiB    df = df.copy()

Checking the answer Id = 43665978 | Errors = ["name 'profile' is not defined", 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
43545879
Code to compile
df = pd.DataFrame(np.random.rand(6, 4),
                 index=['one', 'two', 'three', 'four', 'five', 'six'],
                 columns=pd.Index(['A', 'B', 'C', 'D'],
                 name='Genus')).round(2)

ax = df.plot(kind='bar',figsize=(10,4), rot = 0)

# "Activate" minor ticks
ax.minorticks_on()

# Get location of the center of each rectangle
rects_locs = map(lambda x: x.get_x() +x.get_width()/2., ax.patches)
# Set minor ticks there
ax.set_xticks(rects_locs, minor = True)


# Labels for the rectangles
new_ticks = reduce(lambda x, y: x + y, map(lambda x: [x] * df.shape[0], df.columns.tolist()))
# Set the labels
from matplotlib import ticker
ax.xaxis.set_minor_formatter(ticker.FixedFormatter(new_ticks))  #add the custom ticks

# Move the category label further from x-axis
ax.tick_params(axis='x', which='major', pad=15)


Checking the answer Id = 45741989 | Errors = ['Sucess', 'invalid syntax (<unknown>, line 1)', 'invalid syntax (<unknown>, line 1)']
----------------------------------------
----------------------------------------
45820242
Code to compile
cum_r = (1 + r).cumprod()
result = cum_r * v0
for date in r.index[r.index.is_quarter_end]:
     result[date:] -= cum_r[date:] * (dist / cum_r.loc[date])

Code to compile
cum_r = (1 + r).cumprod()
t = (r.index.is_quarter_end / cum_r).cumsum()
result = cum_r * (v0 - dist * t)

Checking the answer Id = 45871837 | Errors = ["name 'r' is not defined", "name 'r' is not defined"]
----------------------------------------

In [20]:
# pd.set_option('display.max_colwidth', -1)
# analyzedQuestions[['Id', 'Title', 'Code', 'AllCode', 'Compiled','Total',  'Errors']]
10

10

In [21]:
analyzedQuestions['Compiled'].sum()
analyzedQuestions['Total'].sum()

186

3659

In [26]:
def report_errors(analyzedQuestions):
    
    errorslist = []

    for err in analyzedQuestions['Errors Type']:
        errorslist.extend(err)

    df = pd.DataFrame(errorslist)   
    print(df[0].value_counts())
    
report_errors(analyzedQuestions)

SyntaxError           1741
NameError             1301
IndentationError       257
Sucess                 186
ImportError            134
FileNotFoundError       15
AttributeError           8
TypeError                6
FutureWarning            3
DeprecationWarning       2
ValueError               2
ParserError              1
CalledProcessError       1
ShimWarning              1
OptionError              1
Name: 0, dtype: int64

In [ ]:

def addDependencies(post)