In [41]:
import pandas as pd
import os
from bs4 import BeautifulSoup
import io

# QUESTION/ANSWER SCORE LIMIT
QUESTION_SCORE = 20
ANSWER_SCORE = 10


file = os.path.join('..','data', 'pandas-post-dataset.csv')


dataset = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False, sep=";")

In [3]:



# For every question
#index, row in df.iterrows()
# for idx, q in high_level_questions.iterrows():
#     print('Working on the question %s' % q.Id)
#     # Extract every answer
#     answers = all_posts[(all_posts.ParentId == q.Id) & (all_posts.Score > ANSWER_SCORE)]
    

#     # Filter the code in the answer by using the <code> tag
#     unformatted_codes = []
#     for idx, a in answers.iterrows():
#         soup = BeautifulSoup(a['Body'], "html.parser")
#         unformatted_codes.extend(soup.find_all('code'))
    
#     # Format from HTML to text
#     codes = [i.get_text() for i in unformatted_codes]
    
#     # Write it to a file
#     file = io.open(os.path.join('..', 'data', 'extracted-code',  str(q.Id)), 'a', encoding='ISO-8859-1')
#     for code in codes:
#         file.write("%s\n\n------------------------------------------------------------------\n\n" % code)
#     file.close()

In [64]:
text3 = """
    <p>I have a dataframe <code>df</code> in pandas that was built using <code>pandas.read_table</code> from a csv file. The dataframe has several columns and it is indexed by one of the columns (which is unique, in that each row has a unique value for that column used for indexing.) </p>

<p>How can I select rows of my dataframe based on a ""complex"" filter applied to multiple columns? I can easily select out the slice of the dataframe where column <code>colA</code> is greater than 10 for example:</p>

<pre><code>df_greater_than10 = df[df[""colA""] &gt; 10]
</code></pre>

<p>But what if I wanted a filter like: select the slice of <code>df</code> where <em>any</em> of the columns are greater than 10? </p>

<p>Or where the value for <code>colA</code> is greater than 10 but the value for <code>colB</code> is less than 5?</p>

<p>How are these implemented in pandas?
Thanks.</p>
"""

def extract_tagged_code(text, tag):
    
    soup = BeautifulSoup(text, "html.parser")
    
    # Get the tag
    tagged = soup.find_all(tag)
    
    # Remove None Objects
#     tagged = [x for x in tagged if x is not None]
    
    # Format from HTML to text
    return [i.get_text() for i in tagged]

extract_tagged_code(text3, 'pre')
extract_tagged_code(text3, 'code')

['df',
 'pandas.read_table',
 'colA',
 'df_greater_than10 = df[df[""colA""] > 10]\n',
 'df',
 'colA',
 'colB']

In [68]:
def extract_code(df):
    """
        Extract only code with <pre><code> combined tag
    """
    df['Code'] = extract_tagged_code(df['Body'], 'pre')
    return df


def extract_all_code(df):
    """
        Extract only code with <pre><code> combined tag
    """
    df['AllCode'] = extract_tagged_code(df['Body'], 'code')
    return df

# def extract_all_code(df):
#     """
#         Extract every code with <code> tag
#     """
#     soup = BeautifulSoup(df['Body'], "html.parser")
    
#     # Get the <code> tag
#     unformatted_codes = soup.find_all('code')
    
#     # Format from HTML to text
#     df['Code'] = [i.get_text() for i in unformatted_codes]
#     return df
    

# Extract Code
dataset = dataset.apply(extract_code, axis=1)
print(dataset.head())
dataset = dataset.apply(extract_all_code, axis=1)
print(dataset.head())

# Save to CSV
dataset_csv = dataset[['AnswerCount',
                                                 'CommentCount',
                                                 'Id',
                                                 'ParentId','PostTypeId','Score','Tags','Title', 'Body',
                                                 'ViewCount','Code', 'AllCode']]

dataset_csv.to_csv(os.path.join('..', 'data', 'pandas-code-dataset.csv'), encoding='ISO-8859-1', sep=";", doublequote=True)
# #high_level_questions_csv

   Unnamed: 0  Unnamed: 0.1  AcceptedAnswerId  AnswerCount  \
0  27          27            7779260.0         2.0
1  31          31            11617194.0        7.0
2  49          49            8916746.0         2.0
3  54          54            8997908.0         3.0
4  80          80            9620832.0         2.0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Body  \
0  <p>When I try to merge two dataframes by rows doing:</p>\n\n<pre><code>bigdata = data1.append(data2)\n</code></pre>\n\n<p>I get the following error:</p>\n\n<blockquote>\n<pre><code>Exception: Index cannot contain duplicate values!\n</code></pre>\n</blockquote>\n\n<p>The index of the first data frame starts from 0 to 38 and the second one from 0 to 48. I didn't understand that I have to modify the index of one of the data frame before merging, but I don't know how to.</p>\n\n<p>Thank you.</p>\n\n<p>These are the two dataframes:</p>\n\n<p><code>data1</code>:</p>\n\n<pre><code>    meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n</code></pre>\n\n<p><code>data2</code>:</p>\n\n<pre><code>    meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n</code></pre>\n\n<p>the first column is the index</p>\n
1  <p>I want to perform my own complex operations on financial data in dataframes in a sequential manner.</p>\n\n<p>For example I am using the following MSFT CSV file taken from <a href="http://finance.yahoo.com/q/hp?s=MSFT">Yahoo Finance</a>:</p>\n\n<pre><code>Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n</code></pre>\n\n<p>I then do the following:</p>\n\n<pre><code>#!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n</code></pre>\n\n<p>Is that the most efficient way? Given the focus on speed in pandas, I would assume there must be some special function to iterate through the  values in a manner that one also retrieves the index (possibly through a generator to be memory efficient)? <code>df.iteritems</code> unfortunately only iterates column by column.</p>\n
2  <p>I have a dataframe <code>df</code> in pandas that was built using <code>pandas.read_table</code> from a csv file. The dataframe has several columns and it is indexed by one of the columns (which is unique, in that each row has a unique value for that column used for indexing.) </p>\n\n<p>How can I select rows of my dataframe based on a "complex" filter applied to multiple columns? I can easily select out the slice of the dataframe where column <code>colA</code> is greater than 10 for example:</p>\n\n<pre><code>df_greater_than10 = df[df["colA"] &gt; 10]\n</code></pre>\n\n<p>But what if I wanted a filter like: select the slice of <code>df</code> where <em>any</em> of the columns are greater than 10? </p>\n\n<p>Or where the value for <code>colA</code> is greater than 10 but the value for <code>colB</code> is less than 5?</p>\n\n<p>How are these implemented in pandas?\nThanks.</p>\n
3  <p>I recently came across the <a href="http://pandas.sourceforge.net/" rel="noreferrer">pandas</a> library for python, which according to <a href="http://wesmckinney.com/blog/some-pandas-database-join-merge-benchmarks-vs-r-basemerge/" rel="noreferrer">this benchmark</a> performs very fast in-memory merges.  It's even faster than the <a href="http://cran.r-project.org/web/packages/data.table/index.html" rel="noreferrer">data.table</a> package in R (my language of choice for analysis).</p>\n\n<p>Why is <code>pandas</code> so much faster than <code>data.table</code>?  Is it because of an inherent speed advantage python has over R, or is there some tradeoff I'm not aware of?  Is there a way to perform inner and outer joins in <code>data.table</code> without resorting to <code>merge(X, Y, all=FALSE)</code> and <code>merge(X, Y, all=TRUE)</code>?</p>\n\n<p><img src="https://i.stack.imgur.com/0pCvh.png" alt="Comparison"></p>\n\n<p>Here's the <a href="https://github.com/wesm/pandas/blob/master/bench/bench_merge.R" rel="noreferrer">R code</a> and the <a href="https://github.com/wesm/pandas/blob/master/bench/bench_merge.py" rel="noreferrer">Python code</a> used to benchmark the various packages.</p>\n
4  <p>I stumbled across <a href="http://pandas.pydata.org/" rel="noreferrer">pandas</a> and it looks ideal for simple calculations that I'd like to do. I have a SAS background and was thinking it'd replace proc freq -- it looks like it'll scale to what I may want to do in the future. However, I just can't seem to get my head around a simple task (I'm not sure if I'm supposed to look at <code>pivot/crosstab/indexing</code> - whether I should have a <code>Panel</code> or <code>DataFrames</code> etc...). Could someone give me some pointers on how to do the following:</p>\n\n<p>I have two CSV files (one for year 2010, one for year 2011 - simple transactional data) - The columns are category and amount</p>\n\n<p>2010:</p>\n\n<pre><code>AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n</code></pre>\n\n<p>2011:</p>\n\n<pre><code>AB,500.00\nAC,250.00\nAX,900.00\n</code></pre>\n\n<p>These are loaded into separate DataFrame objects.</p>\n\n<p>What I'd like to do is get the category, the sum of the category, and the frequency of the category, eg:</p>\n\n<p>2010:</p>\n\n<pre><code>AB,300.00,2\nAC,150.00,1\nAD,500.00,1\n</code></pre>\n\n<p>2011:</p>\n\n<pre><code>AB,500.00,1\nAC,250.00,1\nAX,900.00,1\n</code></pre>\n\n<p>I can't work out whether I should be using <code>pivot/crosstab/groupby/an index</code>\netc... I can get either the sum or the frequency - I can't seem to get both... It gets a bit more complex because I would like to do it on a month by month basis, but I think if someone would be so kind to point me to the right technique/direction I'll be able to go from there.</p>\n

  ClosedDate  CommentCount CommunityOwnedDate             CreationDate  \
0  NaN        7             NaN                2011-10-15T08:21:17.460
1  NaN        3             NaN                2011-10-20T14:46:14.633
2  NaN        0             NaN                2012-01-18T19:41:27.017
3  NaN        16            NaN                2012-01-24T17:59:53.850
4  NaN        2             NaN                2012-03-06T17:01:47.107

   FavoriteCount  \
0  4.0
1  108.0
2  12.0
3  58.0
4  5.0

                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                                                                                                                                                                                                                                                                                                                                                                                              \
0                                                                                                                                                                                                                                                                                                                                                                                                                            ...
1                                                                                                                                                                                                                                                                                                                                                                                                                            ...
2                                                                                                                                                                                                                                                                                                                                                                                                                            ...
3                                                                                                                                                                                                                                                                                                                                                                                                                            ...
4                                                                                                                                                                                                                                                                                                                                                                                                                            ...

   OwnerUserId ParentId PostTypeId Score  \
0  601314.0    NaN       1          25
1  1005409.0   NaN       1          187
2  248237.0    NaN       1          26
3  345660.0    NaN       1          134
4  1252759.0   NaN       1          21

                                          Tags  \
0  <python><pandas>
1  <python><performance><for-loop><pandas>
2  <python><csv><numpy><tab-delimited><pandas>
3  <python><r><join><data.table><pandas>
4  <python><pandas>

                                                                    Title  \
0  append two data frame with pandas
1  What is the most efficient way to loop through dataframes with pandas?
2  selecting across multiple columns with python pandas?
3  Why are pandas merges in python faster than data.table merges in R?
4  Simple cross-tabulation in pandas

   ViewCount  \
0  25479.0
1  195364.0
2  19805.0
3  16173.0
4  9493.0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     PreCode  \
0  [bigdata = data1.append(data2)\n, Exception: Index cannot contain duplicate values!\n, data1,     meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n, data2,     meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n]
1  [Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n, #!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n, df.iteritems]
2  [df, pandas.read_table, colA, df_greater_than10 = df[df["colA"] > 10]\n, df, colA, colB]
3  [pandas, data.table, data.table, merge(X, Y, all=FALSE), merge(X, Y, all=TRUE)]
4  [pivot/crosstab/indexing, Panel, DataFrames, AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n, AB,500.00\nAC,250.00\nAX,900.00\n, AB,300.00,2\nAC,150.00,1\nAD,500.00,1\n, AB,500.00,1\nAC,250.00,1\nAX,900.00,1\n, pivot/crosstab/groupby/an index]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Code  \
0  [bigdata = data1.append(data2)\n, Exception: Index cannot contain duplicate values!\n,     meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n,     meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n]
1  [Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n, #!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n]
2  [df_greater_than10 = df[df["colA"] > 10]\n]
3  []
4  [AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n, AB,500.00\nAC,250.00\nAX,900.00\n, AB,300.00,2\nAC,150.00,1\nAD,500.00,1\n, AB,500.00,1\nAC,250.00,1\nAX,900.00,1\n]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     AllCode
0  [bigdata = data1.append(data2)\n, Exception: Index cannot contain duplicate values!\n, data1,     meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n, data2,     meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n]
1  [Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n, #!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n, df.iteritems]
2  [df, pandas.read_table, colA, df_greater_than10 = df[df["colA"] > 10]\n, df, colA, colB]
3  [pandas, data.table, data.table, merge(X, Y, all=FALSE), merge(X, Y, all=TRUE)]

   Unnamed: 0  Unnamed: 0.1  AcceptedAnswerId  AnswerCount  \
0  27          27            7779260.0         2.0
1  31          31            11617194.0        7.0
2  49          49            8916746.0         2.0
3  54          54            8997908.0         3.0
4  80          80            9620832.0         2.0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Body  \
0  <p>When I try to merge two dataframes by rows doing:</p>\n\n<pre><code>bigdata = data1.append(data2)\n</code></pre>\n\n<p>I get the following error:</p>\n\n<blockquote>\n<pre><code>Exception: Index cannot contain duplicate values!\n</code></pre>\n</blockquote>\n\n<p>The index of the first data frame starts from 0 to 38 and the second one from 0 to 48. I didn't understand that I have to modify the index of one of the data frame before merging, but I don't know how to.</p>\n\n<p>Thank you.</p>\n\n<p>These are the two dataframes:</p>\n\n<p><code>data1</code>:</p>\n\n<pre><code>    meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n</code></pre>\n\n<p><code>data2</code>:</p>\n\n<pre><code>    meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n</code></pre>\n\n<p>the first column is the index</p>\n
1  <p>I want to perform my own complex operations on financial data in dataframes in a sequential manner.</p>\n\n<p>For example I am using the following MSFT CSV file taken from <a href="http://finance.yahoo.com/q/hp?s=MSFT">Yahoo Finance</a>:</p>\n\n<pre><code>Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n</code></pre>\n\n<p>I then do the following:</p>\n\n<pre><code>#!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n</code></pre>\n\n<p>Is that the most efficient way? Given the focus on speed in pandas, I would assume there must be some special function to iterate through the  values in a manner that one also retrieves the index (possibly through a generator to be memory efficient)? <code>df.iteritems</code> unfortunately only iterates column by column.</p>\n
2  <p>I have a dataframe <code>df</code> in pandas that was built using <code>pandas.read_table</code> from a csv file. The dataframe has several columns and it is indexed by one of the columns (which is unique, in that each row has a unique value for that column used for indexing.) </p>\n\n<p>How can I select rows of my dataframe based on a "complex" filter applied to multiple columns? I can easily select out the slice of the dataframe where column <code>colA</code> is greater than 10 for example:</p>\n\n<pre><code>df_greater_than10 = df[df["colA"] &gt; 10]\n</code></pre>\n\n<p>But what if I wanted a filter like: select the slice of <code>df</code> where <em>any</em> of the columns are greater than 10? </p>\n\n<p>Or where the value for <code>colA</code> is greater than 10 but the value for <code>colB</code> is less than 5?</p>\n\n<p>How are these implemented in pandas?\nThanks.</p>\n
3  <p>I recently came across the <a href="http://pandas.sourceforge.net/" rel="noreferrer">pandas</a> library for python, which according to <a href="http://wesmckinney.com/blog/some-pandas-database-join-merge-benchmarks-vs-r-basemerge/" rel="noreferrer">this benchmark</a> performs very fast in-memory merges.  It's even faster than the <a href="http://cran.r-project.org/web/packages/data.table/index.html" rel="noreferrer">data.table</a> package in R (my language of choice for analysis).</p>\n\n<p>Why is <code>pandas</code> so much faster than <code>data.table</code>?  Is it because of an inherent speed advantage python has over R, or is there some tradeoff I'm not aware of?  Is there a way to perform inner and outer joins in <code>data.table</code> without resorting to <code>merge(X, Y, all=FALSE)</code> and <code>merge(X, Y, all=TRUE)</code>?</p>\n\n<p><img src="https://i.stack.imgur.com/0pCvh.png" alt="Comparison"></p>\n\n<p>Here's the <a href="https://github.com/wesm/pandas/blob/master/bench/bench_merge.R" rel="noreferrer">R code</a> and the <a href="https://github.com/wesm/pandas/blob/master/bench/bench_merge.py" rel="noreferrer">Python code</a> used to benchmark the various packages.</p>\n
4  <p>I stumbled across <a href="http://pandas.pydata.org/" rel="noreferrer">pandas</a> and it looks ideal for simple calculations that I'd like to do. I have a SAS background and was thinking it'd replace proc freq -- it looks like it'll scale to what I may want to do in the future. However, I just can't seem to get my head around a simple task (I'm not sure if I'm supposed to look at <code>pivot/crosstab/indexing</code> - whether I should have a <code>Panel</code> or <code>DataFrames</code> etc...). Could someone give me some pointers on how to do the following:</p>\n\n<p>I have two CSV files (one for year 2010, one for year 2011 - simple transactional data) - The columns are category and amount</p>\n\n<p>2010:</p>\n\n<pre><code>AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n</code></pre>\n\n<p>2011:</p>\n\n<pre><code>AB,500.00\nAC,250.00\nAX,900.00\n</code></pre>\n\n<p>These are loaded into separate DataFrame objects.</p>\n\n<p>What I'd like to do is get the category, the sum of the category, and the frequency of the category, eg:</p>\n\n<p>2010:</p>\n\n<pre><code>AB,300.00,2\nAC,150.00,1\nAD,500.00,1\n</code></pre>\n\n<p>2011:</p>\n\n<pre><code>AB,500.00,1\nAC,250.00,1\nAX,900.00,1\n</code></pre>\n\n<p>I can't work out whether I should be using <code>pivot/crosstab/groupby/an index</code>\netc... I can get either the sum or the frequency - I can't seem to get both... It gets a bit more complex because I would like to do it on a month by month basis, but I think if someone would be so kind to point me to the right technique/direction I'll be able to go from there.</p>\n

  ClosedDate  CommentCount CommunityOwnedDate             CreationDate  \
0  NaN        7             NaN                2011-10-15T08:21:17.460
1  NaN        3             NaN                2011-10-20T14:46:14.633
2  NaN        0             NaN                2012-01-18T19:41:27.017
3  NaN        16            NaN                2012-01-24T17:59:53.850
4  NaN        2             NaN                2012-03-06T17:01:47.107

   FavoriteCount  \
0  4.0
1  108.0
2  12.0
3  58.0
4  5.0

                                                                                                                                                                                                                                                                                                                                                                                                                             ...                                                                                                                                                                                                                                                                                                                                                                                                                              \
0                                                                                                                                                                                                                                                                                                                                                                                                                            ...
1                                                                                                                                                                                                                                                                                                                                                                                                                            ...
2                                                                                                                                                                                                                                                                                                                                                                                                                            ...
3                                                                                                                                                                                                                                                                                                                                                                                                                            ...
4                                                                                                                                                                                                                                                                                                                                                                                                                            ...

   OwnerUserId ParentId PostTypeId Score  \
0  601314.0    NaN       1          25
1  1005409.0   NaN       1          187
2  248237.0    NaN       1          26
3  345660.0    NaN       1          134
4  1252759.0   NaN       1          21

                                          Tags  \
0  <python><pandas>
1  <python><performance><for-loop><pandas>
2  <python><csv><numpy><tab-delimited><pandas>
3  <python><r><join><data.table><pandas>
4  <python><pandas>

                                                                    Title  \
0  append two data frame with pandas
1  What is the most efficient way to loop through dataframes with pandas?
2  selecting across multiple columns with python pandas?
3  Why are pandas merges in python faster than data.table merges in R?
4  Simple cross-tabulation in pandas

   ViewCount  \
0  25479.0
1  195364.0
2  19805.0
3  16173.0
4  9493.0

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     PreCode  \
0  [bigdata = data1.append(data2)\n, Exception: Index cannot contain duplicate values!\n, data1,     meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n, data2,     meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n]
1  [Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n, #!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n, df.iteritems]
2  [df, pandas.read_table, colA, df_greater_than10 = df[df["colA"] > 10]\n, df, colA, colB]
3  [pandas, data.table, data.table, merge(X, Y, all=FALSE), merge(X, Y, all=TRUE)]
4  [pivot/crosstab/indexing, Panel, DataFrames, AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n, AB,500.00\nAC,250.00\nAX,900.00\n, AB,300.00,2\nAC,150.00,1\nAD,500.00,1\n, AB,500.00,1\nAC,250.00,1\nAX,900.00,1\n, pivot/crosstab/groupby/an index]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Code  \
0  [bigdata = data1.append(data2)\n, Exception: Index cannot contain duplicate values!\n,     meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n,     meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n]
1  [Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n, #!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n]
2  [df_greater_than10 = df[df["colA"] > 10]\n]
3  []
4  [AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n, AB,500.00\nAC,250.00\nAX,900.00\n, AB,300.00,2\nAC,150.00,1\nAD,500.00,1\n, AB,500.00,1\nAC,250.00,1\nAX,900.00,1\n]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     AllCode
0  [bigdata = data1.append(data2)\n, Exception: Index cannot contain duplicate values!\n, data1,     meta  particle  ratio   area    type    \n0   2     part10    1.348   0.8365  touching\n1   2     part18    1.558   0.8244  single  \n2   2     part2     1.893   0.894   single  \n3   2     part37    0.6695  1.005   single  \n....clip...\n36  2     part23    1.051   0.8781  single  \n37  2     part3     80.54   0.9714  nuclei  \n38  2     part34    1.071   0.9337  single  \n, data2,     meta  particle  ratio    area    type    \n0   3     part10    0.4756   1.025   single  \n1   3     part18    0.04387  1.232   dusts   \n2   3     part2     1.132    0.8927  single  \n...clip...\n46  3     part46    13.71    1.001   nuclei  \n47  3     part3     0.7439   0.9038  single  \n48  3     part34    0.4349   0.9956  single \n]
1  [Date,Open,High,Low,Close,Volume,Adj Close\n2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13\n2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31\n2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98\n2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27\n\n....\n, #!/usr/bin/env python\nfrom pandas import *\n\ndf = read_csv('table.csv')\n\nfor i, row in enumerate(df.values):\n    date = df.index[i]\n    open, high, low, close, adjclose = row\n    #now perform analysis on open/close based on date, etc..\n, df.iteritems]
2  [df, pandas.read_table, colA, df_greater_than10 = df[df["colA"] > 10]\n, df, colA, colB]
3  [pandas, data.table, data.table, merge(X, Y, all=FALSE), merge(X, Y, all=TRUE)]