In [1]:
import pandas as pd
import os

# Constants
QUESTION_TYPE = 1
ANSWER_TYPE = 2

file = os.path.join('..', 'data', 'pandas-code-dataset.csv')

dataset = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False, sep=";")
print('Amount of entries in the dataset = %d' % len(dataset))
dataset

Amount of entries in the dataset = 3205

,Unnamed: 0,AnswerCount,CommentCount,Id,ParentId,PostTypeId,Score,Tags,Title,Body,ViewCount,Code,CodeList,AllCode
0,0,2.0,7,7776679,NaN,1,25,<python><pandas>,append two data frame with pandas,<p>When I try to merge two dataframes by rows ...,25479.0,['bigdata = data1.append(data2)\nException: In...,"['bigdata = data1.append(data2)\n', 'Exception...","['bigdata = data1.append(data2)\n', 'Exception..."
1,1,7.0,3,7837722,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,<p>I want to perform my own complex operations...,195364.0,"[""Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2..."
2,2,2.0,0,8916302,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,<p>I have a dataframe <code>df</code> in panda...,19805.0,"['df_greater_than10 = df[df[""colA""] > 10]\n']","['df_greater_than10 = df[df[""colA""] > 10]\n']","['df', 'pandas.read_table', 'colA', 'df_greate..."
3,3,3.0,16,8991709,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,"<p>I recently came across the <a href=""http://...",16173.0,[''],[],"['pandas', 'data.table', 'data.table', 'merge(..."
4,4,8.0,5,9555635,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,<p>I used Enthought's python distribution as a...,6585.0,[''],[],"['numpy', 'scipy', 'sci-kits']"
5,5,2.0,2,9588331,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,"<p>I stumbled across <a href=""http://pandas.py...",9493.0,"['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['pivot/crosstab/indexing', 'Panel', 'DataFram..."
6,6,3.0,0,9652832,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,<p>I'm new to python and pandas. I'm trying t...,32040.0,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,"['tsv', 'DataFrame', '>>> df1 = DataFrame(csv...."
7,7,6.0,0,9758450,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,<p>I have manipulated some data using pandas a...,36433.0,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...
8,8,2.0,0,9762935,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,"<p>I'm a beginning pandas user, and after stud...",8189.0,['df\n\n A ...,['df\n\n A ...,['df\n\n A ...
9,9,2.0,0,9787853,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,<p>I want to perform a join/merge/append opera...,6054.0,[''],[],"['df1', 'df2', 'df2', 'df2', 'df1', 'df1', 'df2']"
10,10,6.0,0,9850954,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,<p>I have the following dataframe:</p>\n\n<pre...,3543.0,"["" obj_id data_date value\n0 4 2...",[' obj_id data_date value\n0 4 2...,[' obj_id data_date value\n0 4 2...
11,11,4.0,2,10020591,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,<p>I have a times series with temperature and ...,18532.0,"[""import datetime\nimport pandas as pd\nimport...","[""import datetime\nimport pandas as pd\nimport...","['dataframe', ""import datetime\nimport pandas ..."
12,12,11.0,4,10065051,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,<p>The documentation for Pandas has numerous e...,72432.0,[''],[],[]
13,13,1.0,0,10114399,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,"<p>I like to think I'm not an idiot, but maybe...",4120.0,"[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","['pandas', 'DataFrames', ""In [2]: left = panda..."
14,14,2.0,3,10175068,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,<p>I have the following Pandas Dataframe with ...,6774.0,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...
15,15,4.0,2,10202570,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,<p>How can I find the row for which the value ...,75652.0,[''],[],['df.max()']
16,16,6.0,0,10373660,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,<p>I'm starting with input data like this</p>\...,167415.0,"['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A..."
17,17,2.0,14,10376647,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,<p>This is a beginner <code>python</code> inst...,25583.0,['sudo pip install numpy\n\nsudo pip install p...,['sudo pip install numpy\n\nsudo pip install p...,"['python', 'pip', 'numpy', 'pandas', 'sudo pip..."
18,18,2.0,1,10457584,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,<p>I am trying to re-index a pandas <code>Data...,107691.0,"[""From:\n a b c\n 0 1 ...",['From:\n a b c\n 0 1 ...,"['DataFrame', 'From:\n a b c\n ..."
19,19,2.0,0,10464738,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,"<p>I have a DataFrame, say a volatility surfac...",15524.0,[''],[],"['reindex', 'NaN', ""fillna(method='pad')""]"
20,20,6.0,3,10511024,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",<p>I am trying to plot some data using pandas ...,44369.0,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...
21,21,3.0,0,10565282,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",<p>I worked now for quite some time using pyth...,16624.0,['SamplingRateMinutes=60\nindex = DateRange(in...,['SamplingRateMinutes=60\nindex = DateRange(in...,"['DataFrame', 'SamplingRateMinutes=60\nindex =..."
22,22,2.0,2,10591000,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,<p>I am just getting started with Pandas and I...,17261.0,[''],[],['read_csv()']
23,23,14.0,5,10636024,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,<p>I'm using the Pandas package and it creates...,26216.0,[''],[],[]
24,24,7.0,3,10665889,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,<p>I load a some machine learning data from a ...,154109.0,"[""data = pandas.read_csv('mydata.csv')\ndata =...","[""data = pandas.read_csv('mydata.csv')\n"", ""da...","[""data = pandas.read_csv('mydata.csv')\n"", ""da..."
25,25,2.0,0,10715519,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,<p>I have a <code>DataFrame</code> with a few ...,14199.0,[''],[],['DataFrame']
26,26,13.0,3,10715965,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,<p>I understand that pandas is designed to loa...,349935.0,"[""res = DataFrame(columns=('lib', 'qty1', 'qty...","[""res = DataFrame(columns=('lib', 'qty1', 'qty...","['DataFrame', ""res = DataFrame(columns=('lib',..."
27,27,1.0,2,10729210,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,<blockquote>\n <p><strong>Possible Duplicate:...,174898.0,['for i in df.index:\n do_something(df.ix[i...,['for i in df.index:\n do_something(df.ix[i...,"['DataFrame', 'for i in df.index:\n do_some..."
28,28,1.0,2,10751127,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,<p>I'm using a Pandas <code>DataFrame</code> t...,19415.0,['import numpy\nimport pandas\n\ndf = pandas.D...,['import numpy\nimport pandas\n\ndf = pandas.D...,"['DataFrame', 'import numpy\nimport pandas\n\n..."
29,29,1.0,1,10857924,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,<p>I have a <code>dataFrame</code> in pandas a...,33392.0,[''],[],['dataFrame']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,3175,NaN,7,43578600,43577744.0,2,11,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,['import numba\n\ndef psi(A):\n a_cummax = ...,['import numba\n\ndef psi(A):\n a_cummax = ...,"['numba', 'import numba\n\ndef psi(A):\n a_..."
3176,3176,NaN,2,43665978,43423347.0,2,6,NaN,NaN,<p>While the other answers provide good inform...,NaN,"[""@profile\ndef foo():\n df = pd.DataFrame(...","[""@profile\ndef foo():\n df = pd.DataFrame(...","['copy()', '.copy()', 'copy()', 'SettingWithCo..."
3177,3177,NaN,0,43821531,30925079.0,2,10,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,"[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'..."
3178,3178,NaN,2,43896119,25146121.0,2,11,NaN,NaN,<p><strong>Best way found</strong>!!</p>\n\n<p...,NaN,"[""import datetime as dt\ndf['month_year'] = df...","[""import datetime as dt\ndf['month_year'] = df...","['date_column', ""import datetime as dt\ndf['mo..."
3179,3179,NaN,4,43897124,19078325.0,2,17,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,"[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr..."
3180,3180,NaN,2,43968774,28757389.0,2,14,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,"[""# label based, but we can use position value...","[""# label based, but we can use position value...","['pandas', '0.20', 'ix', 'loc', 'iloc', 'at', ..."
3181,3181,NaN,1,44123892,44123874.0,2,26,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,[''],[],"['sort', 'sort_values', 'sort_index']"
3182,3182,NaN,2,44208076,44207926.0,2,7,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,"['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['dict', '>>> d = {}\n>>> [d.setdefault(tup, i..."
3183,3183,NaN,1,44208229,44207926.0,2,6,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,"['factorize', 'pd.Series(tups).factorize()[0]\..."
3184,3184,NaN,3,44311454,21608228.0,2,19,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,"[""mask = df.my_channel > 20000\ncolumn_name = ...","[""mask = df.my_channel > 20000\ncolumn_name = ...","['.ix', '.ix', '.loc', 'iloc', ""mask = df.my_c..."
3185,3185,NaN,2,44724677,44715393.0,2,9,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,"[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(..."
3186,3186,NaN,0,44736467,10665889.0,2,18,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,"[""# selects all rows and all columns beginning...","[""# selects all rows and all columns beginning...","['.loc', '.loc', 'foo', 'bar', 'quz', 'ant', '..."
3187,3187,NaN,0,44800142,44715393.0,2,7,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,"[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","['pd.DataFrame.to_csv', ""df1.to_csv(filename)\..."
3188,3188,NaN,0,44913631,12307099.0,2,11,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,['>>> import pandas as pd \n>>> import numpy a...,['>>> import pandas as pd \n>>> import numpy a...,"['loc', '>>> import pandas as pd \n>>> import ..."
3189,3189,NaN,2,44948390,44946141.0,2,6,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,"['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['chunksize', 'file = ""./data.csv""\nchunks = p..."
3190,3190,NaN,8,44998387,44998223.0,2,6,NaN,NaN,<p>Here's a single-liner</p>\n\n<pre><code>In ...,NaN,"[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\..."
3191,3191,NaN,0,44999009,44998223.0,2,9,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"[""def group_duplicate_cols(df):\n a = df.va...",['def group_duplicate_cols(df):\n a = df.va...,['def group_duplicate_cols(df):\n a = df.va...
3192,3192,NaN,8,45013739,44946141.0,2,8,NaN,NaN,<pre><code>import numpy as np\nfrom multiproce...,NaN,"[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp..."
3193,3193,NaN,0,45193340,45193131.0,2,9,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,"['apply', 'nsmallest', 'n = 3\ndf.apply(lambda..."
3194,3194,NaN,0,45193636,45193131.0,2,8,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,"['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['numpy.argsort', 'a = np.argsort(-df.values, ..."
3195,3195,NaN,3,45333133,45332960.0,2,12,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,['from toolz import interleave\n\npd.concat([d...,['from toolz import interleave\n\npd.concat([d...,"['pd.concat', 'toolz.interleave', 'from toolz ..."
3196,3196,NaN,0,45333267,45332960.0,2,6,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"['def numpy_interweave(d1, d2):\n c1 = list...","['def numpy_interweave(d1, d2):\n c1 = list...","['def numpy_interweave(d1, d2):\n c1 = list..."
3197,3197,NaN,0,45357725,13411544.0,2,10,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,"[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('..."
3198,3198,NaN,0,45494714,45494649.0,2,13,NaN,NaN,<p>Convert the list to a boolean array and the...,NaN,"['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size..."
3199,3199,NaN,0,45494718,45494649.0,2,15,NaN,NaN,<p>You can use masking here:</p>\n\n<pre><code...,NaN,"['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool..."
3200,3200,NaN,3,45494808,45494649.0,2,11,NaN,NaN,<p><strong>Setup</strong><br>\nBorrowed @ayhan...,NaN,"[""df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size..."
3201,3201,NaN,2,45494910,45494649.0,2,7,NaN,NaN,"<p>yet another ""creative"" approach:</p>\n\n<pr...",NaN,['In [181]: a = np.array(lst)\n\nIn [182]: df....,['In [181]: a = np.array(lst)\n\nIn [182]: df....,['In [181]: a = np.array(lst)\n\nIn [182]: df....
3202,3202,NaN,0,45568211,22697773.0,2,6,NaN,NaN,<p>In <code>pandas 0.20.2</code> you can do:</...,NaN,"[""from pandas.api.types import is_string_dtype...","[""from pandas.api.types import is_string_dtype...","['pandas 0.20.2', ""from pandas.api.types impor..."
3203,3203,NaN,11,45741989,45740537.0,2,13,NaN,NaN,<p><strong>UPDATE:</strong> now it parses the ...,NaN,"[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ..."
3204,3204,NaN,4,45871837,45820242.0,2,7,NaN,NaN,<p>You could use the following code:</p>\n\n<p...,NaN,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...

In [2]:
import re

text = """ Example of code to be filtered (only in In[11])
In [11]: df
df.append()
Out[11]: 
A B C D 
2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
2000-01-04 0.83935 0.15993 0.95911 -1.12959

In [12]: df[(df.values > 1.5).any(1)]
Out[12]: 
A B C D 
2000-01-05 2.8021 -0.1086 -1.62114 -0.2017
2000-01-06 0.7167 -0.2671 1.36029 1.7425
"""

def preprocessTerminalLikeCode(code):
    terminalRegex='In \[.+?\]:(.*?)Out\[.+?\]'
    sequence = re.compile(terminalRegex, re.DOTALL)
    terminalCode = sequence.findall(code)
    return [i.lstrip() for i in terminalCode]

In [3]:
import ast

text = """ Example of code to be filtered (only in In[11])
df
df.append()

A B C D 
2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
2000-01-04 0.83935 0.15993 0.95911 -1.12959

df[(df.values > 1.5).any(1)]
 
A B C D 
2000-01-05 2.8021 -0.1086 -1.62114 -0.2017
2000-01-06 0.7167 -0.2671 1.36029 1.7425
"""

def preprocessOutputCode(code):
    lines = code.split('\n')
    preprocessed = []
    for l in lines:
        try:
            ast.parse(l)
            preprocessed.append(l)
        except:
            # Ignore
            pass
    return '\n'.join(preprocessed)
            
# preprocessOutputCode(text)

In [4]:
import ast

def preprocessCode(code):
    # First Method for pre-processing
    terminalLikeCode = preprocessTerminalLikeCode(code)
    if terminalLikeCode:
        code = ''.join(terminalLikeCode)
        
    code = preprocessOutputCode(code)
    return code
    
def preprocessPost(post, col):
    strcodes = post[col]
    codes = ast.literal_eval(strcodes)
    processed = []
    for code in codes:
        processed.append(preprocessCode(code))
    post['ProcessedCode'] = processed
    return post


processed_dataset = dataset.apply(preprocessPost, axis=1, args=('CodeList',))


processed_dataset.to_csv(os.path.join('..', 'data', 'pandas-processedcode-dataset.csv'), encoding='ISO-8859-1', sep=';', doublequote=True)