In [13]:
import pandas as pd
import os

# Constants
QUESTION_TYPE = 1
ANSWER_TYPE = 2

file = os.path.join('..', 'data', 'pandas-code-dataset.csv')

dataset = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False, sep=";")
print('Amount of entries in the dataset = %d' % len(dataset))
dataset

Amount of entries in the dataset = 3205

,Unnamed: 0,AnswerCount,CommentCount,Id,ParentId,PostTypeId,Score,Tags,Title,Body,ViewCount,Code,CodeList,AllCode
0,0,2.0,7,7776679,NaN,1,25,<python><pandas>,append two data frame with pandas,<p>When I try to merge two dataframes by rows ...,25479.0,['bigdata = data1.append(data2)\nException: In...,"['bigdata = data1.append(data2)\n', 'Exception...","['bigdata = data1.append(data2)\n', 'Exception..."
1,1,7.0,3,7837722,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,<p>I want to perform my own complex operations...,195364.0,"[""Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2...","['Date,Open,High,Low,Close,Volume,Adj Close\n2..."
2,2,2.0,0,8916302,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,<p>I have a dataframe <code>df</code> in panda...,19805.0,"['df_greater_than10 = df[df[""colA""] > 10]\n']","['df_greater_than10 = df[df[""colA""] > 10]\n']","['df', 'pandas.read_table', 'colA', 'df_greate..."
3,3,3.0,16,8991709,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,"<p>I recently came across the <a href=""http://...",16173.0,[''],[],"['pandas', 'data.table', 'data.table', 'merge(..."
4,4,8.0,5,9555635,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,<p>I used Enthought's python distribution as a...,6585.0,[''],[],"['numpy', 'scipy', 'sci-kits']"
5,5,2.0,2,9588331,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,"<p>I stumbled across <a href=""http://pandas.py...",9493.0,"['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['AB,100.00\nAB,200.00\nAC,150.00\nAD,500.00\n...","['pivot/crosstab/indexing', 'Panel', 'DataFram..."
6,6,3.0,0,9652832,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,<p>I'm new to python and pandas. I'm trying t...,32040.0,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,"['tsv', 'DataFrame', '>>> df1 = DataFrame(csv...."
7,7,6.0,0,9758450,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,<p>I have manipulated some data using pandas a...,36433.0,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...,['In [182]: data_set\nOut[182]: \n index data...
8,8,2.0,0,9762935,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,"<p>I'm a beginning pandas user, and after stud...",8189.0,['df\n\n A ...,['df\n\n A ...,['df\n\n A ...
9,9,2.0,0,9787853,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,<p>I want to perform a join/merge/append opera...,6054.0,[''],[],"['df1', 'df2', 'df2', 'df2', 'df1', 'df1', 'df2']"
10,10,6.0,0,9850954,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,<p>I have the following dataframe:</p>\n\n<pre...,3543.0,"["" obj_id data_date value\n0 4 2...",[' obj_id data_date value\n0 4 2...,[' obj_id data_date value\n0 4 2...
11,11,4.0,2,10020591,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,<p>I have a times series with temperature and ...,18532.0,"[""import datetime\nimport pandas as pd\nimport...","[""import datetime\nimport pandas as pd\nimport...","['dataframe', ""import datetime\nimport pandas ..."
12,12,11.0,4,10065051,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,<p>The documentation for Pandas has numerous e...,72432.0,[''],[],[]
13,13,1.0,0,10114399,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,"<p>I like to think I'm not an idiot, but maybe...",4120.0,"[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","['pandas', 'DataFrames', ""In [2]: left = panda..."
14,14,2.0,3,10175068,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,<p>I have the following Pandas Dataframe with ...,6774.0,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...,[' H1 H2 \n Z A \n0 1...
15,15,4.0,2,10202570,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,<p>How can I find the row for which the value ...,75652.0,[''],[],['df.max()']
16,16,6.0,0,10373660,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,<p>I'm starting with input data like this</p>\...,167415.0,"['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A...","['df1 = pandas.DataFrame( { \n ""Name"" : [""A..."
17,17,2.0,14,10376647,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,<p>This is a beginner <code>python</code> inst...,25583.0,['sudo pip install numpy\n\nsudo pip install p...,['sudo pip install numpy\n\nsudo pip install p...,"['python', 'pip', 'numpy', 'pandas', 'sudo pip..."
18,18,2.0,1,10457584,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,<p>I am trying to re-index a pandas <code>Data...,107691.0,"[""From:\n a b c\n 0 1 ...",['From:\n a b c\n 0 1 ...,"['DataFrame', 'From:\n a b c\n ..."
19,19,2.0,0,10464738,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,"<p>I have a DataFrame, say a volatility surfac...",15524.0,[''],[],"['reindex', 'NaN', ""fillna(method='pad')""]"
20,20,6.0,3,10511024,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",<p>I am trying to plot some data using pandas ...,44369.0,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...,['In [7]:\n\npledge.Amount.plot()\n\nOut[7]:\n...
21,21,3.0,0,10565282,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",<p>I worked now for quite some time using pyth...,16624.0,['SamplingRateMinutes=60\nindex = DateRange(in...,['SamplingRateMinutes=60\nindex = DateRange(in...,"['DataFrame', 'SamplingRateMinutes=60\nindex =..."
22,22,2.0,2,10591000,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,<p>I am just getting started with Pandas and I...,17261.0,[''],[],['read_csv()']
23,23,14.0,5,10636024,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,<p>I'm using the Pandas package and it creates...,26216.0,[''],[],[]
24,24,7.0,3,10665889,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,<p>I load a some machine learning data from a ...,154109.0,"[""data = pandas.read_csv('mydata.csv')\ndata =...","[""data = pandas.read_csv('mydata.csv')\n"", ""da...","[""data = pandas.read_csv('mydata.csv')\n"", ""da..."
25,25,2.0,0,10715519,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,<p>I have a <code>DataFrame</code> with a few ...,14199.0,[''],[],['DataFrame']
26,26,13.0,3,10715965,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,<p>I understand that pandas is designed to loa...,349935.0,"[""res = DataFrame(columns=('lib', 'qty1', 'qty...","[""res = DataFrame(columns=('lib', 'qty1', 'qty...","['DataFrame', ""res = DataFrame(columns=('lib',..."
27,27,1.0,2,10729210,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,<blockquote>\n <p><strong>Possible Duplicate:...,174898.0,['for i in df.index:\n do_something(df.ix[i...,['for i in df.index:\n do_something(df.ix[i...,"['DataFrame', 'for i in df.index:\n do_some..."
28,28,1.0,2,10751127,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,<p>I'm using a Pandas <code>DataFrame</code> t...,19415.0,['import numpy\nimport pandas\n\ndf = pandas.D...,['import numpy\nimport pandas\n\ndf = pandas.D...,"['DataFrame', 'import numpy\nimport pandas\n\n..."
29,29,1.0,1,10857924,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,<p>I have a <code>dataFrame</code> in pandas a...,33392.0,[''],[],['dataFrame']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,3175,NaN,7,43578600,43577744.0,2,11,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,['import numba\n\ndef psi(A):\n a_cummax = ...,['import numba\n\ndef psi(A):\n a_cummax = ...,"['numba', 'import numba\n\ndef psi(A):\n a_..."
3176,3176,NaN,2,43665978,43423347.0,2,6,NaN,NaN,<p>While the other answers provide good inform...,NaN,"[""@profile\ndef foo():\n df = pd.DataFrame(...","[""@profile\ndef foo():\n df = pd.DataFrame(...","['copy()', '.copy()', 'copy()', 'SettingWithCo..."
3177,3177,NaN,0,43821531,30925079.0,2,10,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,"[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'..."
3178,3178,NaN,2,43896119,25146121.0,2,11,NaN,NaN,<p><strong>Best way found</strong>!!</p>\n\n<p...,NaN,"[""import datetime as dt\ndf['month_year'] = df...","[""import datetime as dt\ndf['month_year'] = df...","['date_column', ""import datetime as dt\ndf['mo..."
3179,3179,NaN,4,43897124,19078325.0,2,17,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,"[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr...","[""# Create a sample data frame\ndf = pd.DataFr..."
3180,3180,NaN,2,43968774,28757389.0,2,14,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,"[""# label based, but we can use position value...","[""# label based, but we can use position value...","['pandas', '0.20', 'ix', 'loc', 'iloc', 'at', ..."
3181,3181,NaN,1,44123892,44123874.0,2,26,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,[''],[],"['sort', 'sort_values', 'sort_index']"
3182,3182,NaN,2,44208076,44207926.0,2,7,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,"['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['>>> d = {}\n>>> [d.setdefault(tup, i) for i,...","['dict', '>>> d = {}\n>>> [d.setdefault(tup, i..."
3183,3183,NaN,1,44208229,44207926.0,2,6,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,['pd.Series(tups).factorize()[0]\n\n[0 1 2 3 4...,"['factorize', 'pd.Series(tups).factorize()[0]\..."
3184,3184,NaN,3,44311454,21608228.0,2,19,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,"[""mask = df.my_channel > 20000\ncolumn_name = ...","[""mask = df.my_channel > 20000\ncolumn_name = ...","['.ix', '.ix', '.loc', 'iloc', ""mask = df.my_c..."
3185,3185,NaN,2,44724677,44715393.0,2,9,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,"[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(...","[""# write df1 content in file.csv\ndf1.to_csv(..."
3186,3186,NaN,0,44736467,10665889.0,2,18,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,"[""# selects all rows and all columns beginning...","[""# selects all rows and all columns beginning...","['.loc', '.loc', 'foo', 'bar', 'quz', 'ant', '..."
3187,3187,NaN,0,44800142,44715393.0,2,7,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,"[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","[""df1.to_csv(filename)\ndf2.to_csv(filename, m...","['pd.DataFrame.to_csv', ""df1.to_csv(filename)\..."
3188,3188,NaN,0,44913631,12307099.0,2,11,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,['>>> import pandas as pd \n>>> import numpy a...,['>>> import pandas as pd \n>>> import numpy a...,"['loc', '>>> import pandas as pd \n>>> import ..."
3189,3189,NaN,2,44948390,44946141.0,2,6,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,"['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['file = ""./data.csv""\nchunks = pd.read_csv(fi...","['chunksize', 'file = ""./data.csv""\nchunks = p..."
3190,3190,NaN,8,44998387,44998223.0,2,6,NaN,NaN,<p>Here's a single-liner</p>\n\n<pre><code>In ...,NaN,"[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\..."
3191,3191,NaN,0,44999009,44998223.0,2,9,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"[""def group_duplicate_cols(df):\n a = df.va...",['def group_duplicate_cols(df):\n a = df.va...,['def group_duplicate_cols(df):\n a = df.va...
3192,3192,NaN,8,45013739,44946141.0,2,8,NaN,NaN,<pre><code>import numpy as np\nfrom multiproce...,NaN,"[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp...","[""import numpy as np\nfrom multiprocessing imp..."
3193,3193,NaN,0,45193340,45193131.0,2,9,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,['n = 3\ndf.apply(lambda x: pd.Series(x.nsmall...,"['apply', 'nsmallest', 'n = 3\ndf.apply(lambda..."
3194,3194,NaN,0,45193636,45193131.0,2,8,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,"['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['a = np.argsort(-df.values, axis=0)[-3:]\npri...","['numpy.argsort', 'a = np.argsort(-df.values, ..."
3195,3195,NaN,3,45333133,45332960.0,2,12,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,['from toolz import interleave\n\npd.concat([d...,['from toolz import interleave\n\npd.concat([d...,"['pd.concat', 'toolz.interleave', 'from toolz ..."
3196,3196,NaN,0,45333267,45332960.0,2,6,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,"['def numpy_interweave(d1, d2):\n c1 = list...","['def numpy_interweave(d1, d2):\n c1 = list...","['def numpy_interweave(d1, d2):\n c1 = list..."
3197,3197,NaN,0,45357725,13411544.0,2,10,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,"[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('...","[""#for dropping single column \ndf = df.drop('..."
3198,3198,NaN,0,45494714,45494649.0,2,13,NaN,NaN,<p>Convert the list to a boolean array and the...,NaN,"['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size..."
3199,3199,NaN,0,45494718,45494649.0,2,15,NaN,NaN,<p>You can use masking here:</p>\n\n<pre><code...,NaN,"['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool..."
3200,3200,NaN,3,45494808,45494649.0,2,11,NaN,NaN,<p><strong>Setup</strong><br>\nBorrowed @ayhan...,NaN,"[""df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size..."
3201,3201,NaN,2,45494910,45494649.0,2,7,NaN,NaN,"<p>yet another ""creative"" approach:</p>\n\n<pr...",NaN,['In [181]: a = np.array(lst)\n\nIn [182]: df....,['In [181]: a = np.array(lst)\n\nIn [182]: df....,['In [181]: a = np.array(lst)\n\nIn [182]: df....
3202,3202,NaN,0,45568211,22697773.0,2,6,NaN,NaN,<p>In <code>pandas 0.20.2</code> you can do:</...,NaN,"[""from pandas.api.types import is_string_dtype...","[""from pandas.api.types import is_string_dtype...","['pandas 0.20.2', ""from pandas.api.types impor..."
3203,3203,NaN,11,45741989,45740537.0,2,13,NaN,NaN,<p><strong>UPDATE:</strong> now it parses the ...,NaN,"[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ..."
3204,3204,NaN,4,45871837,45820242.0,2,7,NaN,NaN,<p>You could use the following code:</p>\n\n<p...,NaN,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...,['cum_r = (1 + r).cumprod()\nresult = cum_r * ...

In [14]:
import re

text = """ Example of code to be filtered (only in In[11])
In [11]: df
df.append()
Out[11]: 
A B C D 
2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
2000-01-04 0.83935 0.15993 0.95911 -1.12959

In [12]: df[(df.values > 1.5).any(1)]
Out[12]: 
A B C D 
2000-01-05 2.8021 -0.1086 -1.62114 -0.2017
2000-01-06 0.7167 -0.2671 1.36029 1.7425
"""

def preprocessTerminalLikeCode(code):
    terminalRegex='In \[.+?\]:(.*?)Out\[.+?\]'
    sequence = re.compile(terminalRegex, re.DOTALL)
    terminalCode = sequence.findall(code)
    return [i.lstrip() for i in terminalCode]

In [15]:
import ast

text = """ Example of code to be filtered (only in In[11])
df
df.append()

A B C D 
2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
2000-01-04 0.83935 0.15993 0.95911 -1.12959

df[(df.values > 1.5).any(1)]
 
A B C D 
2000-01-05 2.8021 -0.1086 -1.62114 -0.2017
2000-01-06 0.7167 -0.2671 1.36029 1.7425
"""

def preprocessOutputCode(code):
    lines = code.split('\n')
    preprocessed = []
    for l in lines:
        try:
            ast.parse(l)
            preprocessed.append(l)
        except:
            # Ignore
            pass
    return '\n'.join(preprocessed)
            
# preprocessOutputCode(text)

In [16]:
import ast

def preprocessCode(code):
    # First Method for pre-processing
    terminalLikeCode = preprocessTerminalLikeCode(code)
    if terminalLikeCode:
        code = ''.join(terminalLikeCode)
        
    code = preprocessOutputCode(code)
    return code
    
def preprocessPost(post, col):
    strcodes = post[col]
    codes = ast.literal_eval(strcodes)
    processed = []
    for code in codes:
        processed.append(preprocessCode(code))
    post['ProcessedCode'] = processed
    return post


processed_dataset = dataset.apply(preprocessPost, axis=1, args=('Code',))


processed_dataset.to_csv(os.path.join('..', 'data', 'pandas-processedcode-dataset.csv'), encoding='ISO-8859-1', sep=';', doublequote=True)

7776679
7776679
7837722
8916302
8991709
9555635
9588331
9652832
9758450
9762935
9787853
9850954
10020591
10065051
10114399
10175068
10202570
10373660
10376647
10457584
10464738
10511024
10565282
10591000
10636024
10665889
10715519
10715965
10729210
10751127
10857924
10867028
10943478
10951341
10972410
10982089
11040626
11067027
11073609
11077023
11106823
11232275
11285613
11346283
11348183
11350770
11361985
11391969
11415701
11418192
11495051
11548005
11587782
11615504
11622652
11637384
11640243
11697887
11707586
11707805
11714768
11728836
11811392
11858472
11869910
11881165
11927715
11941492
11976503
12021730
12021754
12047193
12052067
12065885
12096252
12100497
12101113
12133075
12152716
12168648
12169170
12182744
12190874
12200693
12203901
12207326
12250024
12278347
12286607
12307099
12322289
12322779
12329853
12356501
12358360
12376863
12389898
12406162
12433076
12436979
12497402
12504493
12504951
12504976
12525722
12555323
12569730
12589481
12604909
12625650
12680754
12704305
12725417
12726432
12741092
12844529
12850345
12860421
12867178
12877189
12945971
12960574
13003051
13019719
13021654
13035764
13050003
13052844
13085709
13114512
13129618
13148429
13166842
13167391
13187778
13226029
13249135
13250046
13256917
13269890
13293810
13295735
13331518
13331698
13370525
13385860
13389203
13404468
13411544
13413590
13445174
13445241
13446480
13575090
13582449
13611065
13636592
13636848
13651117
13654699
13659881
13682044
13703720
13740672
13757090
13784192
13785932
13838405
13842088
13851535
13854476
13872533
13888468
13893227
13921647
13926089
13937022
13938704
13996302
13999850
14016247
14025879
14057007
14059094
14110721
14144867
14162723
14178194
14189695
14192741
14224172
14225676
14247586
14248706
14262433
14300137
14300768
14301913
14345739
14349055
14358567
14363640
14365542
14380371
14422976
14431646
14451185
14507794
14529838
14539992
14568070
14569223
14591855
14627380
14656852
14657241
14661701
14663004
14688306
14714181
14733871
14734533
14744068
14745022
14808945
14813289
14822680
14824456
14861023
14885895
14888473
14916358
14940743
14941097
14941366
14964493
14984119
14988480
14991195
15001237
15003828
15006298
15008970
15017072
15026698
15069814
15072005
15072626
15079118
15112234
15118111
15124439
15138973
15143842
15203623
15210962
15222754
15242746
15247628
15259547
15297053
15315452
15322632
15325182
15360925
15374597
15411158
15420672
15432659
15455388
15463729
15465645
15557542
15570099
15589354
15653688
15705630
15723628
15741759
15752422
15755057
15771472
15772009
15777951
15798209
15799162
15819050
15854878
15862034
15888648
15891038
15910019
15916612
15923826
15930885
15943769
15989281
15998188
16031056
16074392
16088741
16096627
16103238
16167829
16175874
16176996
16202711
16236684
16249736
16266019
16311793
16327055
16345583
16349389
16353729
16376159
16392921
16396903
16412099
16424493
16476413
16476924
16522380
16575868
16597265
16616141
16626058
16628329
16628819
16637171
16637271
16639877
16643695
16650945
16672237
16683701
16689514
16729483
16729574
16740887
16777570
16782323
16822996
16824607
16826711
16833842
16852911
16888888
16923281
16947336
16958499
16988526
16989946
16990996
16997048
17001389
17004985
17063458
17068269
17071871
17073150
17084579
17091769
17092671
17095101
17097236
17097643
17098654
17114904
17116814
17128302
17134716
17134942
17141558
17142304
17148787
17156084
17158382
17159207
17165340
17193850
17208567
17216153
17241004
17242970
17244049
17286672
17298313
17315737
17315881
17322109
17326973
17383094
17426292
17438906
17465045
17477979
17530542
17534106
17557074
17591104
17618981
17627219
17644100
17666075
17679089
17682613
17690738
17691447
17702272
17709270
17709641
17712163
17729853
17758023
17759128
17775935
17778394
17812978
17818783
17834995
17839973
17841149
17874063
17921010
17926273
17933282
17950374
17957890
17960511
17972938
17977540
17978092
17978133
17995024
18012505
18022845
18039057
18060619
18062135
18067073
18079563
18089667
18096748
18107953
18161926
18171739
18172851
18176933
18180763
18196203
18196616
18199288
18215317
18233107
18259067
18282988
18290123
18316211
18327624
18358938
18366797
18388870
18404946
18429491
18434208
18504967
18517722
18528533
18554920
18580461
18594469
18603270
18624039
18645401
18646076
18665284
18674064
18677271
18689474
18689512
18689823
18695605
18713929
18792918
18835077
18837262
18837659
18851216
18876022
18878308
18885175
18889588
18915941
18936957
18942506
18973404
18992086
19062612
19071199
19078325
19103624
19105976
19112398
19119039
19124601
19125091
19155718
19169649
19213789
19214588
19226488
19231871
19237878
19267029
19324453
19332171
19350806
19365513
19377969
19384532
19387868
19403133
19455100
19463985
19472566
19482970
19523277
19530568
19555525
19584029
19585280
19599578
19609631
19611729
19618912
19632075
19666904
19726029
19726663
19736080
19758364
19781609
19790790
19798112
19798153
19818756
19828822
19851005
19860389
19867734
19894939
19900202
19913659
19914937
19917545
19928284
19952290
19960077
19961490
19966018
19981518
19991445
20003290
20012507
20024584
20025325
20025882
20033111
20035518
20037430
20055257
20067636
20069009
20076195
20083098
20084382
20095673
20095983
20107570
20109391
20110170
20119414
20154303
20158597
20167194
20167930
20181456
20199129
20206615
20219254
20225110
20230326
20233071
20235401
20250771
20297317
20297332
20333435
20340844
20375561
20383647
20410312
20444087
20444593
20459536
20461165
20480897
20490274
20520246
20555761
20574257
20602947
20612645
20618523
20619851
20625582
20625982
20630121
20637439
20638006
20644536
20648346
20656663
20670370
20670726
20701484
20738357
20763012
20804673
20829748
20838395
20845213
20853474
20868394
20868664
20888954
20906474
20937538
20940805
20965046
20970279
20995196
21018654
21022865
21033720
21055068
21058333
21104592
21137150
21164910
21197774
21201618
21231478
21231834
21247203
21247992
21249206
21263020
21269399
21271581
21271727
21285380
21287624
21291259
21295334
21316628
21317384
21318865
21319929
21360361
21390035
21415661
21441259
21443963
21463589
21487329
21488085
21494030
21546739
21567842
21606987
21608228
21654635
21689423
21720022
21733893
21738566
21752399
21767900
21771133
21786490
21800169
21834676
21868369
21902080
21938932
21961360
21988196
22005911
22019763
22032668
22070263
22081878
22084338
22086116
22089317
22127569
22132525
22137723
22149584
22155951
22156258
22180993
22211737
22219004
22233488
22235245
22245171
22257527
22257836
22258491
22276503
22341271
22391433
22403469
22470690
22483588
22485375
22487296
22543208
22546425
22551403
22588316
22591174
22604564
22642162
22649693
22650833
22676081
22691010
22697773
22702760
22720739
22787209
22795348
22798934
22799300
22825349
22833404
22840449
22898824
22918212
22923775
22963263
22991567
23002762
23103962
23111990
23142967
23145928
23151246
23178129
23198053
23199796
23282130
23296282
23307301
23317342
23330654
23354124
23377108
23394476
23415500
23450735
23451244
23455728
23482668
23508351
23519135
23521511
23543909
23549231
23550056
23600582
23667369
23668427
23691133
23731564
23743460
23747451
23748995
23787072
23836277
23853553
23887881
23966152
24007762
24029659
24036911
24037507
24039023
24041436
24080275
24082784
24122850
24123498
24147278
24193174
24195432
24203106
24216425
24251219
24273130
24284342
24386638
24408557
24435788
24458645
24475094
24495695
24524104
24574976
24644656
24645153
24775648
24786209
24826368
24870306
24870953
24901766
24980437
24988131
25024797
25039626
25050141
25055712
25057835
25122099
25129144
25146121
25189575
25203883
25211220
25212986
25234941
25239958
25254016
25284859
25351968
25386870
25435229
25440008
25447700
25478528
25479607
25493625
25508510
25537399
25577352
25610592
25628496
25631076
25646200
25698710
25699439
25748683
25773245
25789354
25789445
25797245
25909984
25929319
25962114
26047209
26063231
26067692
26097916
26121009
26133538
26139423
26147180
26187759
26205922
26226343
26244309
26265819
26266362
26277757
26309962
26347412
26414913
26456125
26456825
26473681
26483254
26489134
26495408
26521266
26535563
26537878
26577516
26640145
26645515
26646191
26658240
26666919
26678467
26716616
26724378
26763344
26777832
26784164
26786960
26837998
26868304
26873127
26878476
26879073
26886653
26893419
26977076
27012151
27050108
27060098
27065133
27116739
27117773
27126511
27203161
27236275
27263805
27275236
27325652
27365467
27405483
27467730
27472548
27474921
27488080
27517425
27667759

27673231
27759084
27787930
27842613
27884268
27896214
27905295
27975069
28006793
28009370
28017091
28135436
28142420
28161356
28199524
28218698
28219902
28227612
28228781
28236305
28259301
28272137
28293028
28311655
28371308
28384680
28417293
28465633
28538536
28590663
28595701
28651079
28661258
28676916
28679930
28757389
28773342
28901683
28931224
28986489
29177498
29206612
29226210
29233283
29241836
29287224
29314033
29334463
29370057
29370211
29432629
29459461
29464234
29498652
29516084
29517072
29525808
29530232
29532894
29545704
29550414
29576430
29607222
29655111
29706278
29763620
29765548
29794959
29815129
29836836
29902714
29919306
29954263
29971075
30009948
30017491
30023927
30026815
30053329
30059260
30088006
30102232
30132282
30133280
30211923
30222533
30272300
30317119
30327417
30328646
30357276
30462807
30519487
30522724
30522982
30530663
30627968
30631325
30651724
30653642
30781037
30787901
30808430
30922213
30925079
30926670
31029560
31037298
31247198
31329627
31331358
31357611
31361721
31496628
31502958
31511997
31569549
31571217
31593201
31609600
31610889
31617845
31661604
31866802
31988322
32011359
32012012
32093829
32244019
32244753
32400867
32444138
32468402
32565302
32591466
32751229
32752292
32760888
32801806
32888124
32957441
33086881
33088010
33109107
33126477
33159634
33165734
33179122
33246771
33271098
33311616
33346591
33483670
33505245
33530753
33768122
33813815
33869292
33952142
33957720
33961756
34001922
34091877
34398054
34531416
34555135
34615854
34682828
34794067
34862336
34883101
34896455
34913590
34962104
35093729
35318269
35368645
35414625
35634238
35782929
35826912
36000993
36038927
36226083
36519086
36539396
36631163
36684013
36694313
36891977
36921951
37010212
37078880
37292872
37425961
37561991
38105539
38134012
38154997
38231591
38250710
38254067
38352742
38470550
38579532
38713200
38717282
38733719
38783027
38886080
38902239
38935541
38956660
39100971
39132742
39156545
39321914
39674713
40143902
40144769
40209520
40225683
41190852
41205001
41464177
41890870
41929772
42076126
42157944
42347868
42516070
43423347
43545879
43577744
43791970
44030936
44123874
44207926
44380068
44715393
44946141
44998223
45193131
45254174
45332960
45494649
45740537
45820242
7779260
7837947
7849789
8916746
8992714
8997908
9555766
9557319
9558852
9577305
9620832
9623878
9652858
9656288
9677723
9762084
9772031
9794891
10114652
10182172
10202789
10213167
10374456
10377863
10458386
10465162
10511230
10511545
10565742
10567298
10666301
10677896
10716007
10726275
10739432
10762516
10781413
10859883
10943545
10964938
10972557
10982198
11005208
11067072
11073962
11077060
11077215
11107627
11112419
11138275
11287278
11346337
11354850
11362056
11366429
11366706
11384667
11385335
11385780
11395193
11397052
11415882
11420594
11475486
11495086
11531402
11548224
11589000
11603242
11617194
11617682
11622769
11637456
11639358
11643893
11706782
11707706
11708610
11708664
11711637
11811425
11856979
11858532
11872393
11874590
11882354
11893375
11927922
11941772
11942697
11982843
12022003
12022047
12025395
12036847
12056933
12060886
12065904
12077782
12098586
12100543
12117333
12133235
12152759
12169357
12170403
12183507
12184679
12192021
12193309
12201723
12204428
12207352
12250416
12286958
12307162
12322877
12323599
12326113
12329993
12332974
12335016
12336039
12342180
12356541
12358601
12377080
12377083
12394122
12407691
12433236
12449785
12497577
12504527
12505031
12505089
12510334
12525836
12555491
12555510
12570410
12605055
12607018
12627465
12681217
12707465
12726468
12727919
12741168
12834193
12846154
12850453
12862196
12874054
12874135
12882439
12961158
12975518
12992260
13003524
13020027
13021797
13036844
13036848
13052373
13053267
13053381
13053967
13059751
13070405
13086305
13115473
13130357
13148611
13165753
13181960
13193256
13216688
13226352
13237914
13252767
13257677
13270110
13295801
13315962
13316001
13332682
13337376
13371090
13384494
13385921
13386025
13389808
13413842
13413845
13415772
13434501
13445630
13446268
13447176
13456432
13485766
13581730
13583024
13592901
13593882
13616382
13653490
13655271
13659944
13665099
13674286
13680953
13682381
13688105
13703721
13703930
13704307
13713475
13731128
13741439
13753918
13758846
13786327
13788301
13833239
13839029
13842286
13843741
13851602
13854901
13866073
13873014
13876784
13888546
13893632
13921674
13937141
13938831
13977244
13998600
13999234
14000420
14016590
14033137
14058892
14059783
14060360
14060625
14063022
14071265
14110955
14148511
14163174
14163209
14179954
14189912
14193170
14224489
14225838
14247708
14248948
14268804
14287518
14306902
14306921
14307460
14307961
14345875
14349645
14349766
14351567
14359211
14360423
14363721
14363758
14365647
14366084
14383654
14407329
14428450
14432914
14451264
14487936
14508355
14508639
14530027
14540509
14568392
14630250
14657511
14661768
14669654
14688398
14688529
14714452
14717374
14717761
14734148
14734627
14745484
14746845
14760930
14762651
14789513
14809026
14809149
14813733
14814282
14822703
14843650
14861132
14887119
14900065
14917572
14941170
14942625
14946246
14964637
14985695
14988913
14989047
14992237
15002718
15006495
15009160
15026839
15030455
15070110
15073977
15074395
15097125
15100193
15112264
15125793
15139677
15144847
15203886
15204235
15213171
15220374
15222976
15223034
15244074
15248239
15252012
15262146
15300930
15315507
15322715
15322920
15333283
15361537
15362700
15364468
15375176
15411596
15433426
15455455
15466103
15467189
15557663
15558350
15570546
15574875
15590006
15611666
15705958
15723905
15723994
15742147
15752582
15756128
15772263
15772330
15772356
15778297
15786557
15799355
15800314
15813787
15822811
15855998
15863028
15889056
15911372
15916686
15923878
15943975
15948271
15990537
15996274
15998251
15998993
16033048
16068497
16074407
16089219
16099579
16104482
16104567
16134561
16168245
16176457
16179190
16202796
16242202
16245109
16255680
16266318
16271849
16327135
16342396
16345735
16354103
16354730
16359854
16377383
16393023
16398361
16433953
16476974
16477603
16522626
16545324
16576030
16597375
16616454
16629125
16629243
16637572
16637607
16641346
16648510
16667215
16672514
16673019
16684166
16689573
16729635
16729808
16735476
16735536
16780413
16789254
16789834
16824270
16824696
16826250
16827257
16834949
16853161
16854430
16884805
16896091
16923367
16949498
16949500
16958464
16958649
16988624
16990140
16993415
16999397
17001474
17005204
17027507
17056022
17063653
17068439
17068462
17071908
17073442
17085016
17085044
17086321
17092113
17092718
17092986
17095620
17096675
17097397
17097777
17098736
17098885
17106156
17115229
17116976
17128356
17134750
17135044
17141755
17142595
17148934
17150734
17156183
17156233
17158735
17159276
17169776
17171819
17194149
17211698
17216674
17241104
17242374
17243346
17244095
17287046
17298454
17302673
17315875
17322585
17347945
17383140
17383325
17426500
17439693
17468012
17468154
17478495
17491690
17496530
17531025
17534256
17534682
17591423
17619032
17645475
17666287
17679517
17679980
17682662
17682665
17682726
17690795
17690868
17692156
17702833
17709453
17712440
17729985
17758115
17778786
17779230
17811984
17813222
17813277
17819427
17840195
17840197
17841294
17841308
17877159
17910713
17923621
17926411
17926436
17933417
17942117
17950081
17950531
17958424
17961468
17973255
17975690
17977609
17978188
17978414
17995122
18013682
18023468
18023485
18039175
18046682
18061253
18062430
18062521
18067431
18079695
18080142
18090009
18090393
18101965
18103894
18108357
18129082
18145399
18162021
18162196
18172249
18173074
18173088
18176957
18184990
18196299
18199337
18215499
18233876
18259236
18261958
18283014
18290143
18316830
18317067
18327852
18334025
18357933
18360223
18366911
18369312
18405221
18431417
18434234
18434403
18467097
18500854
18505101
18518561
18527067
18528589
18554949
18580496
18588980
18594595
18611535
18624069
18624323
18646275
18646802
18661440
18666142
18674915
18677517
18689514
18689589
18689712
18691949
18695700
18714509
18714869
18793067
18799713
18835121
18835174
18837378
18837389
18837709
18852224
18852410
18878267
18878413
18878425
18885319
18916457
18937023
18937309
18937417
18942558
18973430
18975065
18992172
19031661
19062640
19071572
19071679
19078773
19089210
19103754
19106012
19112890
19125531
19126566
19155860
19170098
19213836
19214708
19226617
19226745
19231939
19237920
19238029
19271841
19295539
19295726
19324591
19349005
19351003
19368360
19378497
19385591
19403897
19415186
19464054
19473752
19482988
19483025
19483602
19486140
19523512
19555675
19585378
19585413
19592693
19599661

19599776
19600533
19603918
19609945
19609954
19611857
19619020
19632099
19633103
19726078
19736406
19739768
19758398
19782137
19791302
19798528
19809616
19818942
19819118
19821311
19828967
19851521
19861545
19867768
19895152
19900276
19913845
19915115
19918849
19922732
19928288
19937902
19960116
19960136
19961557
19961872
19966142
19969224
19973722
19976286
19982756
19991632
19996208
20006954
20012628
20015080
20019449
20024879
20027386
20032254
20033218
20033232
20038973
20039057
20043785
20051631
20059818
20067665
20069379
20076611
20084843
20084895
20096494
20096827
20107825
20120225
20154429
20159305
20167984
20168416
20181686
20199798
20200594
20206825
20221655
20228113
20230859
20231632
20233649
20235451
20250947
20250996
20297639
20301769
20304311
20312816
20333894
20334902
20341058
20375692
20384317
20410720
20444256
20455090
20459839
20461206
20461929
20481080
20491748
20496583
20523271
20557179
20566408
20574460
20603020
20612691
20619971
20627316
20637559
20638258
20639234
20644369
20644575
20648462
20657592
20670901
20671047
20687887
20687984
20690383
20693013
20701559
20739897
20763459
20808449
20842283
20868446
20869270
20870801
20937592
20965090
20970328
20995313
20995428
21000675
21007047
21020411
21023125
21032532
21033789
21055161
21055176
21059308
21140339
21165116
21175114
21189441
21197863
21204417
21221138
21232849
21242140
21244212
21244355
21247312
21248050
21260328
21263149
21266043
21271103
21272615
21275962
21285575
21287539
21290084
21291383
21291622
21295630
21296915
21315199
21317570
21317700
21320011
21324222
21361994
21415990
21441621
21463854
21487560
21487868
21489607
21500413
21546823
21607530
21608417
21649359
21655221
21655256
21689542
21709413
21720133
21734254
21738682
21751529
21755752
21768034
21771438
21772078
21787325
21800319
21869063
21902162
21916253
21940107
21942746
21961491
21989204
22006514
22018873
22019831
22033314
22033364
22070926
22082596
22084742
22086347
22089870
22104034
22127685
22132649
22135309
22137890
22149930
22161058
22166224
22181298
22211821
22221272
22221675
22233719
22233851
22235393
22238380
22247593
22257615
22258061
22259008
22264337
22276757
22341390
22365284
22368682
22391554
22455322
22471217
22475141
22484249
22485573
22487898
22496075
22543333
22546459
22547347
22553757
22588340
22591024
22591267
22596982
22605281
22642484
22643040
22650075
22650162
22651188
22653050
22657894
22674279
22676213
22677264
22697903
22702814
22719983
22720823
22798849
22798911
22799358
22799830
22799916
22825954
22836353
22840737
22845857
22848472
22898920
22918691
22920808
22924683
22940775
22964673
22974440
22992568
23005564
23088780
23104436
23112008
23143081
23143110
23146038
23151722
23178185
23198160
23200666
23202269
23235618
23282290
23296545
23307361
23317595
23331659
23331896
23354240
23377155
23377232
23394497
23394706
23428804
23451304
23464103
23478395
23479973
23483221
23509622
23522030
23534505
23544011
23549599
23600844
23671390
23691168
23691692
23696169
23709208
23732825
23733522
23739252
23741480
23741704
23743582
23747587
23749057
23787275
23787861
23807740
23836353
23853569
23887956
23901625
23922119
23925229
23966229
24029921
24037972
24040239
24041761
24043138
24074316
24082767
24083253
24098354
24098903
24112443
24147363
24151789
24196288
24216489
24222837
24242333
24251426
24273597
24283087
24284515
24284680
24287210
24368660
24370510
24386746
24387164
24396554
24418294
24436783
24446716
24475214
24489283
24489602
24496435
24517695
24537997
24542540
24609894
24674675
24775756
24792087
24793359
24804512
24826569
24828425
24870404
24871316
24888331
24902313
24907560
24913075
24933234
24980809
24988227
25023460
25025065
25030617
25050179
25057724
25058102
25059471
25059620
25060811
25122293
25129265
25129655
25146337
25149272
25162895
25190070
25206286
25208947
25211834
25213438
25213614
25217425
25230582
25254087
25289109
25352191
25376997
25401328
25412939
25415404
25440505
25442201
25442986
25449186
25454051
25478896
25479955
25493765
25509805
25535803
25561094
25562948
25574089
25588487
25612064
25630681
25643178
25646414
25698756
25701576
25703030
25715719
25716383
25733562
25748741
25748826
25774395
25774932
25789512
25797313
25798359
25799781
25916109
25935024
25959539
25962187
26000515
26017289
26042312
26064898
26098292
26121238
26133621
26139658
26147330
26206622
26240208
26244925
26266031
26266439
26266451
26272425
26286140
26301947
26310294
26311118
26320276
26332512
26347456
26356675
26394108
26415620
26422495
26457238
26465555
26474062
26495839
26510251
26521726
26535881
26538379
26544349
26577689
26599892
26640189
26647211
26649199
26654201
26658301
26667043
26681726
26716759
26716774
26721808
26724581
26724725
26763793
26763810
26778637
26787032
26803731
26816746
26838140
26849064
26851412
26865524
26873148
26887820
26893083
26893443
26918510
26977495
27009771
27018394
27023500
27026479
27027632
27050186
27060328
27066284
27117982
27126593
27139421
27144549
27203245
27203304
27232309
27236748
27242735
27255567
27266225
27275344
27275479
27282644
27321764
27325729
27360130
27361326
27362540
27368948
27385043
27412913
27422749
27475029
27475046
27475514
27489248
27520877
27579192
27617290
27667801
27680109
27747726
27759140
27769102
27787977
27791362
27802006
27844045
27889133
27889674
27905350
27905354
27951930
27954411
27975191
27975230
27975789
27987908
27999688
28006809
28009526
28020783
28135445
28142820
28150450
28155580
28159296
28161433
28182629
28192263
28199556
28200127
28202781
28218909
28227679
28229188
28236391
28252957
28267291
28272238
28299215
28312011
28371611
28371706
28384887
28390992
28417338
28419871
28466662
28479181
28507257
28538738
28540395
28541443
28565940
28590865
28595765
28611938
28648525
28648923
28652153
28677342
28677358
28680078
28731311
28756099
28783971
28847219
28881373
28882020
28900208
28902170
28917065
28931750
28986536
28991603
29036738
29039484
29074073
29108799
29177664
29218694
29233885
29233999
29242900
29247205
29262040
29281494
29287549
29314880
29319200
29319460
29321298
29334672
29370182
29370709
29383624
29432741
29442936
29461151
29464365
29465238
29494537
29499109
29500330
29517089
29517102
29522443
29528483
29528804
29530303
29530559
29530601
29533502
29533687
29541211
29546836
29548349
29550458
29576803
29585283
29651514
29657079
29665452
29673192
29675706
29737663
29763653
29765839
29766187
29774704
29794993
29815523
29816143
29836852
29837754
29902819
29910919
29916004
29919489
29922207
29930255
29955358
29956221
29971188
29990874
29999590
30010004
30022658
30025025
30027273
30053435
30053507
30059290
30063996
30065040
30087487
30111487
30132313
30135182
30201213
30208749
30214901
30222759
30267328
30292938
30304735
30319249
30327470
30328738
30355286
30357382
30370897
30378303
30380922
30424537
30454743
30470630
30511605
30512931
30514678
30522778
30523225
30525128
30531939
30535957
30546734
30557040
30566899
30587837
30590280
30633167
30647987
30652445
30653988
30691921
30717361
30733959
30740087
30777185
30778300
30781664
30788360
30788555
30808571
30808690
30858753
30926717
30943503
30971633
30991980
31017785
31026736
31029857
31029861
31033603
31036962
31037040
31037360
31061820
31075478
31076657
31097813
31105951
31173785
31206596
31247247
31247279
31257931
31296878
31297540
31331100
31331449
31351465
31357733
31364094
31364127
31384328
31396042
31431997
31458385
31480994
31502974
31512025
31541600
31543407
31549924
31553791
31569866
31570270
31573180
31585881
31593712
31594055
31610890
31611678
31617974
31679396
31839240
31859215
31885295
31907749
31931208
31939145
31971245
32000194
32011969
32012129
32066997
32094352
32103253
32103678
32107505
32131398
32152755
32244161
32245025
32245026
32307259
32322596
32344037
32366268
32397818
32399908
32400969
32401251
32444187
32469151
32470490
32489918
32529152
32536193
32558621
32583988
32591786
32591799
32606673
32645303
32658847
32662331
32680162
32700453
32748510
32750237
32751357
32751412
32752318
32760406
32761138
32763707
32764796
32770800
32773145
32783825
32801170
32801924
32802014
32850652
32909107
32944421
32961145
32970117
32993553
33000983
33004253
33011646
33020669
33040290
33050438
33054358
33086953
33088410
33109272
33133356
33149986
33161955
33165860
33168054
33178896
33247007
33250288

33259038
33271634
33324058
33346694
33374834
33375383
33381151
33381246
33387356
33404243
33480745
33555435
33570065
33577649
33590284
33687073
33763855
33768634
33777664
33780558
33782239
33782409
33786696
33795876
33798922
33814054
33837592
33872824
33873209
33913961
33952294
33957850
33967359
33986975
33993078
33997632
34013098
34082664
34092032
34094058
34097939
34110546
34130874
34192820
34262133
34272155
34277514
34282362
34297689
34311080
34333886
34365537
34402423
34457902
34466473
34530065
34531543
34548894
34551914
34555201
34576537
34592295
34614046
34683105
34687479
34756965
34790248
34794112
34812293
34863702
34879805
34883876
34896797
34896835
34897294
34916691
34962199
34962592
34996876
35068123
35087831
35106735
35138807
35139819
35203149
35203658
35212740
35219658
35240942
35245297
35246041
35282530
35318270
35368792
35385805
35387028
35387129
35415751
35416021
35446404
35453836
35476539
35509134
35523946
35531218
35583219
35616082
35619846
35715029
35768306
35783766
35784666
35850749
35902487
35970794
36001191
36012306
36013757
36014326
36041831
36059898
36073837
36074520
36082588
36091388
36149967
36184396
36188131
36226137
36236885
36257640
36319915
36372667
36373866
36416258
36434248
36475297
36513262
36519122
36539513
36572039
36590692
36682678
36685531
36694513
36704460
36709634
36710126
36725677
36816769
36893675
36911306
36922103
36922486
36951842
36955053
36957431
36958937
37000877
37012035
37043071
37069701
37097791
37103131
37199623
37226672
37282998
37293283
37327506
37347783
37384347
37426982
37441204
37442692
37447530
37451867
37453925
37562101
37592047
37602937
37644056
37647160
37654890
37655063
37717675
37749078
37757763
37793940
37806819
37851232
37891437
37992805
38025280
38034085
38055014
38105540
38134049
38156594
38185759
38231651
38251063
38251213
38258390
38278787
38341066
38348167
38421614
38440332
38466059
38467449
38470963
38490727
38503561
38510820
38544742
38579700
38580576
38650886
38709267
38713212
38713387
38750433
38757990
38776854
38801975
38886211
38889524
38900352
38902835
38931854
38935669
38951835
39104306
39116381
39132900
39162006
39186403
39192113
39206377
39237712
39246607
39247824
39251401
39259437
39276195
39287161
39310387
39347475
39358752
39358924
39363715
39366792
39370553
39371897
39377643
39405540
39474812
39478896
39482402
39563662
39621872
39628860
39634150
39657077
39673666
39762850
39770407
39820329
39830464
39837358
39891994
39923958
39946744
40005797
40008322
40110335
40145561
40208359
40209737
40214434
40225796
40228738
40429755
40435354
40442778
40449726
40501868
40535454
40593226
40629420
40679977
40746465
40762674
40770463
40817489
40818627
40834052
40872584
40943143
40962126
41022840
41150420
41173392
41191127
41191278
41210491
41218519
41226605
41228272
41228807
41452422
41464194
41517319
41529411
41532180
41554866
41607207
41629653
41678874
41786821
41802199
41816244
41845355
41876593
41880513
41890871
41929910
41929939
41929958
42094658
42133330
42180357
42247228
42293737
42305299
42335527
42392805
42401977
42426751
42476224
42516230
42545576
42550516
42652112
42796283
42837693
42874900
42879831
42932524
42965916
42977946
42978156
43093390
43180437
43190411
43289220
43421391
43547088
43547282
43553043
43559496
43577783
43578010
43578378
43578600
43665978
43821531
43896119
43897124
43968774
44123892
44208076
44208229
44311454
44724677
44736467
44800142
44913631
44948390
44998387
44999009
45013739
45193340
45193636
45333133
45333267
45357725
45494714
45494718
45494808
45494910
45568211
45741989
45871837