In [15]:
import pandas as pd
import os

# QUESTION/ANSWER SCORE LIMIT
QUESTION_SCORE = 20
ANSWER_SCORE = 5

file = os.path.join('..','data', 'filtered-pandas-post-complete.csv')

all_posts = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False)
print('Amount of posts extracted = %d' % len(all_posts))

Amount of posts extracted = 119095

In [16]:
questions = all_posts[all_posts.PostTypeId == 1]
questions
print('Amount of questions extracted = %d' % len(questions))

Amount of questions extracted = 50449

In [17]:
# Filtering questions with more than 10 Score - Higher Quality
high_level_questions = questions[questions.Score > QUESTION_SCORE]
print('# questions with Score > %d = %d' % (QUESTION_SCORE, len(high_level_questions)))
high_level_questions

# questions with Score > 20 = 506

,Unnamed: 0,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
27,27,7779260.0,2.0,<p>When I try to merge two dataframes by rows ...,NaN,7,NaN,2011-10-15T08:21:17.460,4.0,7776679,...,NaN,2336654.0,NaN,601314.0,NaN,1,25,<python><pandas>,append two data frame with pandas,25479.0
31,31,11617194.0,7.0,<p>I want to perform my own complex operations...,NaN,3,NaN,2011-10-20T14:46:14.633,108.0,7837722,...,NaN,2336654.0,NaN,1005409.0,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,195364.0
49,49,8916746.0,2.0,<p>I have a dataframe <code>df</code> in panda...,NaN,0,NaN,2012-01-18T19:41:27.017,12.0,8916302,...,NaN,2336654.0,NaN,248237.0,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,19805.0
54,54,8997908.0,3.0,"<p>I recently came across the <a href=""http://...",NaN,16,NaN,2012-01-24T17:59:53.850,58.0,8991709,...,NaN,1129194.0,NaN,345660.0,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,16173.0
80,80,9620832.0,2.0,"<p>I stumbled across <a href=""http://pandas.py...",NaN,2,NaN,2012-03-06T17:01:47.107,5.0,9588331,...,NaN,100297.0,NaN,1252759.0,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,9493.0
91,91,9652858.0,3.0,<p>I'm new to python and pandas. I'm trying t...,NaN,0,NaN,2012-03-11T06:00:56.347,3.0,9652832,...,NaN,539153.0,NaN,914308.0,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,32040.0
103,103,9762084.0,6.0,<p>I have manipulated some data using pandas a...,NaN,0,NaN,2012-03-18T12:53:06.683,13.0,9758450,...,NaN,2336654.0,NaN,939715.0,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,36433.0
160,160,NaN,11.0,<p>The documentation for Pandas has numerous e...,NaN,4,NaN,2012-04-08T18:01:13.310,63.0,10065051,...,NaN,2336654.0,NaN,1320615.0,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,72432.0
183,183,10202789.0,4.0,<p>How can I find the row for which the value ...,NaN,2,NaN,2012-04-18T03:59:55.663,24.0,10202570,...,NaN,2336654.0,NaN,7650.0,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,75652.0
194,194,10374456.0,6.0,<p>I'm starting with input data like this</p>\...,NaN,0,NaN,2012-04-29T16:10:35.413,78.0,10373660,...,NaN,2901002.0,NaN,468604.0,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,167415.0
206,206,10458386.0,2.0,<p>I am trying to re-index a pandas <code>Data...,NaN,1,NaN,2012-05-05T00:00:12.300,17.0,10457584,...,NaN,2336654.0,NaN,1257953.0,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,107691.0
212,212,10465162.0,2.0,"<p>I have a DataFrame, say a volatility surfac...",NaN,0,NaN,2012-05-05T18:25:59.063,14.0,10464738,...,NaN,2336654.0,NaN,1377107.0,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,15524.0
222,222,23901625.0,6.0,<p>I am trying to plot some data using pandas ...,NaN,3,NaN,2012-05-09T06:45:29.727,20.0,10511024,...,NaN,2336654.0,NaN,442158.0,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",44369.0
238,238,NaN,2.0,<p>I am just getting started with Pandas and I...,NaN,2,NaN,2012-05-14T21:01:58.680,5.0,10591000,...,NaN,2336654.0,NaN,1394684.0,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,17261.0
247,247,12036847.0,14.0,<p>I'm using the Pandas package and it creates...,NaN,5,NaN,2012-05-17T12:48:00.407,25.0,10636024,...,NaN,2336654.0,NaN,1400991.0,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,26216.0
251,251,44736467.0,7.0,<p>I load a some machine learning data from a ...,NaN,3,NaN,2012-05-19T14:11:42.603,58.0,10665889,...,NaN,2336654.0,NaN,1350862.0,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,154109.0
263,263,24888331.0,13.0,<p>I understand that pandas is designed to loa...,NaN,3,NaN,2012-05-23T08:12:31.843,82.0,10715965,...,NaN,2336654.0,NaN,31335.0,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,349935.0
272,272,10739432.0,1.0,<blockquote>\n <p><strong>Possible Duplicate:...,2012-05-29T13:14:21.157,2,NaN,2012-05-23T23:21:18.343,23.0,10729210,...,NaN,-1.0,NaN,1413778.0,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,174898.0
279,279,NaN,1.0,<p>I'm using a Pandas <code>DataFrame</code> t...,NaN,2,NaN,2012-05-25T08:35:27.927,13.0,10751127,...,NaN,2336654.0,NaN,241515.0,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,19415.0
304,304,10859883.0,1.0,<p>I have a <code>dataFrame</code> in pandas a...,NaN,1,NaN,2012-06-01T22:05:44.497,9.0,10857924,...,NaN,2336654.0,NaN,1165294.0,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,33392.0
306,306,11005208.0,3.0,<p>I'm using the pandas library to read in som...,NaN,0,NaN,2012-06-03T00:38:37.717,5.0,10867028,...,NaN,2336654.0,NaN,1427416.0,NaN,1,23,<python><csv><pandas>,Get pandas.read_csv to read empty values as em...,21259.0
320,320,NaN,5.0,<p>Is there a way to write an aggregation func...,NaN,0,NaN,2012-06-08T15:01:32.727,27.0,10951341,...,NaN,170005.0,NaN,1444817.0,NaN,1,45,<python><pandas>,Pandas DataFrame aggregate function using mult...,17889.0
328,328,10982198.0,3.0,<p>I would like to shift a column in a Pandas ...,NaN,1,NaN,2012-06-11T14:28:49.360,9.0,10982089,...,NaN,1199589.0,NaN,1199589.0,NaN,1,38,<python><pandas><dataframe>,How to shift a column in Pandas DataFrame,31697.0
354,354,11067072.0,11.0,<p>I have a <code>dataframe</code> with over 2...,NaN,1,NaN,2012-06-16T21:05:01.030,27.0,11067027,...,NaN,2336654.0,NaN,1419123.0,NaN,1,102,<python><pandas><order>,Python Pandas - Re-ordering columns in a dataf...,74414.0
357,357,11073962.0,1.0,<p>I have some data from log files and would l...,NaN,0,NaN,2012-06-17T18:07:39.223,5.0,11073609,...,NaN,1391441.0,NaN,1461554.0,NaN,1,28,<python><pandas>,How to group DataFrame by a period of time?,20945.0
359,359,11077215.0,3.0,<p>They both seem <em>exceedingly</em> similar...,2015-07-21T00:21:27.507,3,NaN,2012-06-18T04:45:48.650,25.0,11077023,...,NaN,2336654.0,user1462733,NaN,NaN,1,106,<python><numpy><scipy><pandas>,What are the differences between Pandas and Nu...,54531.0
364,364,11112419.0,4.0,"<p>I have two <code>dataframes</code>, both in...",NaN,1,NaN,2012-06-19T18:11:14.613,6.0,11106823,...,NaN,2336654.0,NaN,1223860.0,NaN,1,26,<python><pandas>,Adding two pandas dataframes,19395.0
400,400,11246087.0,4.0,<p>On Pandas documentation of the <code>pivot<...,NaN,0,NaN,2012-06-27T17:58:38.513,4.0,11232275,...,NaN,2336654.0,NaN,179372.0,NaN,1,28,<python><pandas>,Pandas pivot warning about repeated entries on...,12221.0
413,413,11287278.0,7.0,<p>I have data in different columns but I don'...,NaN,4,NaN,2012-07-01T21:03:16.987,88.0,11285613,...,NaN,2336654.0,NaN,1610626.0,NaN,1,280,<python><pandas>,Selecting columns,413954.0
433,433,11346337.0,16.0,<p>I have a data table using pandas and column...,NaN,0,NaN,2012-07-05T14:21:15.090,206.0,11346283,...,NaN,3730397.0,NaN,1504276.0,NaN,1,750,<python><pandas><replace><dataframe><rename>,Renaming columns in pandas,767316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26696,26696,29763653.0,4.0,<p>I have a dataframe look like this:</p>\n\n<...,2017-05-04T21:53:34.647,0,NaN,2015-04-21T05:24:59.340,15.0,29763620,...,NaN,4744765.0,NaN,4744765.0,NaN,1,29,<python><pandas>,"How to select all columns, except one column i...",26374.0
26868,26868,29815523.0,3.0,<p>I have the following DataFrame:</p>\n\n<pre...,NaN,1,NaN,2015-04-23T06:12:18.060,14.0,29815129,...,NaN,3510736.0,NaN,1057443.0,NaN,1,38,<python><list><dictionary><pandas><dataframe>,Pandas DataFrame to List of Dictionaries,15409.0
27169,27169,29919489.0,3.0,<p>I have a DataFrame like this one:</p>\n\n<p...,NaN,0,NaN,2015-04-28T12:18:57.087,7.0,29919306,...,NaN,3923281.0,NaN,4744765.0,NaN,1,30,<python><pandas><dataframe><max>,Find the column name which has the maximum val...,10758.0
28923,28923,30522778.0,3.0,<p>How do I take multiple lists and put them a...,NaN,0,NaN,2015-05-29T06:37:49.040,10.0,30522724,...,NaN,-1.0,NaN,3105909.0,NaN,1,30,<python><numpy><pandas>,Take multiple lists into dataframe,38497.0
28925,28925,30525128.0,6.0,<p>I am doing some exercises with datasets lik...,NaN,3,NaN,2015-05-29T06:51:57.910,5.0,30522982,...,NaN,4370109.0,NaN,2469211.0,NaN,1,28,<python><pandas><dataset>,List with many dictionaries VS dictionary with...,1050.0
28957,28957,30531939.0,2.0,<p>I'm looking for a way to do the equivalent ...,NaN,2,NaN,2015-05-29T13:17:32.927,1.0,30530663,...,NaN,NaN,NaN,10235.0,NaN,1,24,<python><pandas>,"How to ""select distinct"" across multiple data ...",25025.0
29285,29285,30653988.0,2.0,<p>trying to write pandas dataframe to MySQL t...,NaN,7,NaN,2015-06-03T21:45:10.360,13.0,30631325,...,NaN,2364773.0,NaN,2364773.0,NaN,1,27,<python><mysql><pandas><sqlalchemy><mysql-conn...,Writing to MySQL database with pandas using SQ...,22941.0
30176,30176,30926717.0,3.0,"<p>This may be a stupid question, but how do I...",NaN,0,NaN,2015-06-18T22:09:43.213,4.0,30926670,...,NaN,4909923.0,NaN,4909923.0,NaN,1,26,<python><pandas>,Pandas: Add multiple empty columns to DataFrame,14668.0
30515,30515,31029857.0,3.0,<p>I have a data frame with categorical data:<...,NaN,0,NaN,2015-06-24T14:37:16.440,4.0,31029560,...,NaN,NaN,NaN,307283.0,NaN,1,25,<python><pandas>,Plotting categorical data with pandas and matp...,20647.0
31548,31548,31357733.0,4.0,<p>I have an existing plot that was created wi...,NaN,0,NaN,2015-07-11T13:21:01.793,10.0,31357611,...,NaN,-1.0,NaN,3971910.0,NaN,1,21,<python><pandas><matplotlib><plot>,Format y axis as percent,18791.0
31567,31567,31364127.0,2.0,"<p>I recently found <a href=""http://dask.pydat...",NaN,3,NaN,2015-07-11T20:52:46.553,12.0,31361721,...,NaN,839601.0,NaN,1568919.0,NaN,1,24,<python><pandas><parallel-processing><dask>,"python dask DataFrame, support for (trivially ...",4089.0
32398,32398,31593712.0,2.0,<p>Can someone explain how these three methods...,NaN,2,NaN,2015-07-23T16:34:10.667,161.0,31593201,...,NaN,-1.0,NaN,4967110.0,NaN,1,218,<python><pandas><indexing><dataframe>,pandas iloc vs ix vs loc explanation?,118214.0
32433,32433,NaN,1.0,<p>I installed anaconda to use pandas and scip...,NaN,2,NaN,2015-07-24T11:38:11.643,5.0,31609600,...,NaN,4248931.0,NaN,5152041.0,NaN,1,30,<python><pandas><ipython>,Jupyter (IPython) notebook not plotting,22330.0
33839,33839,32011969.0,4.0,<p>I have a dataframe with this type of data (...,NaN,0,NaN,2015-08-14T13:31:50.780,22.0,32011359,...,NaN,4833034.0,NaN,4833034.0,NaN,1,24,<python><pandas>,Convert categorical data in pandas dataframe,29142.0
34536,34536,32244161.0,2.0,<p>With the following code:</p>\n\n<pre><code>...,NaN,0,NaN,2015-08-27T08:11:34.207,5.0,32244019,...,NaN,704848.0,NaN,67405.0,NaN,1,22,<python><pandas><matplotlib>,How to rotate x-axis tick labels in Pandas bar...,14916.0
34542,34542,32245026.0,4.0,<p>I tried the following code (<code>test_seab...,NaN,0,NaN,2015-08-27T08:51:07.970,10.0,32244753,...,NaN,67405.0,NaN,67405.0,NaN,1,35,<python><pandas><matplotlib><seaborn>,How to save a Seaborn plot into a file,27148.0
35078,35078,32400969.0,4.0,<p>I am using Python 3.4 with IPython and have...,NaN,2,NaN,2015-09-04T14:44:24.740,4.0,32400867,...,NaN,3991125.0,NaN,5301159.0,NaN,1,22,<python><csv><pandas><request>,Pandas read_csv from url,17280.0
35325,35325,32470490.0,4.0,<p>I'm looking to turn a pandas cell containin...,NaN,5,NaN,2015-09-08T22:43:05.013,9.0,32468402,...,NaN,839957.0,NaN,4698759.0,NaN,1,22,<python><pandas><dataframe>,How to explode a list inside a Dataframe cell ...,8761.0
39127,39127,NaN,1.0,<p>Looking for a way to reliably identify if a...,NaN,6,NaN,2015-11-04T19:48:58.363,3.0,33530753,...,NaN,-1.0,NaN,2302819.0,NaN,1,45,<python><arrays><numpy><pandas>,numpy: Reliable (non-conservative) indicator i...,839.0
40919,40919,NaN,4.0,"<p>I am working through the <a href=""https://w...",NaN,0,NaN,2015-11-30T14:41:20.107,4.0,34001922,...,NaN,1090562.0,user3654387,3654387.0,NaN,1,21,<python><pandas><classification><tensorflow>,FailedPreconditionError: Attempting to use uni...,20199.0
41308,41308,34092032.0,2.0,<p>I am reading a csv file into <code>pandas</...,NaN,0,NaN,2015-12-04T15:35:59.313,10.0,34091877,...,NaN,4542359.0,NaN,5347728.0,NaN,1,30,<python><csv><pandas><header>,How to add header row to a pandas DataFrame,55423.0
44593,44593,34962199.0,3.0,<p>I have a pandas data frame with two columns...,NaN,1,NaN,2016-01-23T10:04:27.580,6.0,34962104,...,NaN,2699288.0,NaN,852063.0,NaN,1,32,<python><pandas><dataframe><python-3.5>,Pandas: How can I use the apply() function for...,36873.0
51335,51335,36519122.0,1.0,<p>I have a situation wherein sometimes when I...,NaN,0,NaN,2016-04-09T15:47:43.570,1.0,36519086,...,NaN,NaN,NaN,5211377.0,NaN,1,29,<python><pandas><ipython>,Pandas: how to get rid of `Unnamed:` column in...,12496.0
53272,53272,36922103.0,3.0,<p>Having issue filtering my result dataframe ...,NaN,2,NaN,2016-04-28T17:46:30.520,15.0,36921951,...,NaN,6267003.0,NaN,6267003.0,NaN,1,26,<python><pandas><dataframe><boolean><filtering>,Truth value of a Series is ambiguous. Use a.em...,44469.0
54131,54131,NaN,0.0,<p>Over the last several years there have been...,2016-05-06T23:07:20.653,11,NaN,2016-05-06T18:11:51.047,13.0,37078880,...,NaN,-1.0,NaN,668624.0,NaN,1,29,<python><r><pandas><parallel-processing><mclap...,Status of parallelization of pandas.apply(),4502.0
60669,60669,38251213.0,3.0,<p>I have a pandas dataframe and I wish to div...,NaN,7,NaN,2016-07-07T16:26:26.693,13.0,38250710,...,NaN,2336654.0,NaN,3450064.0,NaN,1,34,<pandas><numpy><dataframe><machine-learning><s...,"How to split data into 3 sets (train, validati...",12872.0
86106,86106,NaN,9.0,"<p>I have a number of text files, say 50, that...",NaN,3,NaN,2017-02-10T11:10:20.270,10.0,42157944,...,NaN,3521109.0,NaN,3521109.0,NaN,1,34,<python><regex><performance><parsing><pandas>,How can I speed up reading multiple files and ...,1476.0
87428,87428,42426751.0,1.0,<p>I know there are several ways to convert a ...,NaN,6,NaN,2017-02-20T15:02:57.237,2.0,42347868,...,NaN,2789863.0,NaN,2789863.0,NaN,1,24,<python>,Convert to date using formatters parameter in ...,839.0
96006,96006,43559496.0,4.0,<p>There are countless questions about the dre...,NaN,9,NaN,2017-04-15T07:14:37.893,6.0,43423347,...,NaN,2336654.0,NaN,2336654.0,NaN,1,23,<python><pandas>,why is blindly using df.copy() a bad idea to f...,697.0
104258,104258,44478699.0,1.0,<p>I got good use out of pandas' <code>MovingO...,NaN,4,NaN,2017-06-06T01:31:19.453,2.0,44380068,...,NaN,7954504.0,NaN,7954504.0,NaN,1,21,<python><pandas><numpy><linear-regression><sta...,Pandas rolling regression: alternatives to loo...,700.0

In [18]:
# Assemble the dataset
questionIds = high_level_questions.Id


answers = all_posts[(all_posts.ParentId.isin(questionIds)) & (all_posts.Score > ANSWER_SCORE)]
print('Answers with Score > %d = %d' % (ANSWER_SCORE, len(answers)))

Answers with Score > 5 = 1104

In [19]:
# Questions + Answers
dataset = high_level_questions
dataset = dataset.append(answers)
dataset

,Unnamed: 0,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
27,27,7779260.0,2.0,<p>When I try to merge two dataframes by rows ...,NaN,7,NaN,2011-10-15T08:21:17.460,4.0,7776679,...,NaN,2336654.0,NaN,601314.0,NaN,1,25,<python><pandas>,append two data frame with pandas,25479.0
31,31,11617194.0,7.0,<p>I want to perform my own complex operations...,NaN,3,NaN,2011-10-20T14:46:14.633,108.0,7837722,...,NaN,2336654.0,NaN,1005409.0,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,195364.0
49,49,8916746.0,2.0,<p>I have a dataframe <code>df</code> in panda...,NaN,0,NaN,2012-01-18T19:41:27.017,12.0,8916302,...,NaN,2336654.0,NaN,248237.0,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,19805.0
54,54,8997908.0,3.0,"<p>I recently came across the <a href=""http://...",NaN,16,NaN,2012-01-24T17:59:53.850,58.0,8991709,...,NaN,1129194.0,NaN,345660.0,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,16173.0
80,80,9620832.0,2.0,"<p>I stumbled across <a href=""http://pandas.py...",NaN,2,NaN,2012-03-06T17:01:47.107,5.0,9588331,...,NaN,100297.0,NaN,1252759.0,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,9493.0
91,91,9652858.0,3.0,<p>I'm new to python and pandas. I'm trying t...,NaN,0,NaN,2012-03-11T06:00:56.347,3.0,9652832,...,NaN,539153.0,NaN,914308.0,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,32040.0
103,103,9762084.0,6.0,<p>I have manipulated some data using pandas a...,NaN,0,NaN,2012-03-18T12:53:06.683,13.0,9758450,...,NaN,2336654.0,NaN,939715.0,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,36433.0
160,160,NaN,11.0,<p>The documentation for Pandas has numerous e...,NaN,4,NaN,2012-04-08T18:01:13.310,63.0,10065051,...,NaN,2336654.0,NaN,1320615.0,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,72432.0
183,183,10202789.0,4.0,<p>How can I find the row for which the value ...,NaN,2,NaN,2012-04-18T03:59:55.663,24.0,10202570,...,NaN,2336654.0,NaN,7650.0,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,75652.0
194,194,10374456.0,6.0,<p>I'm starting with input data like this</p>\...,NaN,0,NaN,2012-04-29T16:10:35.413,78.0,10373660,...,NaN,2901002.0,NaN,468604.0,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,167415.0
206,206,10458386.0,2.0,<p>I am trying to re-index a pandas <code>Data...,NaN,1,NaN,2012-05-05T00:00:12.300,17.0,10457584,...,NaN,2336654.0,NaN,1257953.0,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,107691.0
212,212,10465162.0,2.0,"<p>I have a DataFrame, say a volatility surfac...",NaN,0,NaN,2012-05-05T18:25:59.063,14.0,10464738,...,NaN,2336654.0,NaN,1377107.0,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,15524.0
222,222,23901625.0,6.0,<p>I am trying to plot some data using pandas ...,NaN,3,NaN,2012-05-09T06:45:29.727,20.0,10511024,...,NaN,2336654.0,NaN,442158.0,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",44369.0
238,238,NaN,2.0,<p>I am just getting started with Pandas and I...,NaN,2,NaN,2012-05-14T21:01:58.680,5.0,10591000,...,NaN,2336654.0,NaN,1394684.0,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,17261.0
247,247,12036847.0,14.0,<p>I'm using the Pandas package and it creates...,NaN,5,NaN,2012-05-17T12:48:00.407,25.0,10636024,...,NaN,2336654.0,NaN,1400991.0,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,26216.0
251,251,44736467.0,7.0,<p>I load a some machine learning data from a ...,NaN,3,NaN,2012-05-19T14:11:42.603,58.0,10665889,...,NaN,2336654.0,NaN,1350862.0,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,154109.0
263,263,24888331.0,13.0,<p>I understand that pandas is designed to loa...,NaN,3,NaN,2012-05-23T08:12:31.843,82.0,10715965,...,NaN,2336654.0,NaN,31335.0,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,349935.0
272,272,10739432.0,1.0,<blockquote>\n <p><strong>Possible Duplicate:...,2012-05-29T13:14:21.157,2,NaN,2012-05-23T23:21:18.343,23.0,10729210,...,NaN,-1.0,NaN,1413778.0,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,174898.0
279,279,NaN,1.0,<p>I'm using a Pandas <code>DataFrame</code> t...,NaN,2,NaN,2012-05-25T08:35:27.927,13.0,10751127,...,NaN,2336654.0,NaN,241515.0,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,19415.0
304,304,10859883.0,1.0,<p>I have a <code>dataFrame</code> in pandas a...,NaN,1,NaN,2012-06-01T22:05:44.497,9.0,10857924,...,NaN,2336654.0,NaN,1165294.0,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,33392.0
306,306,11005208.0,3.0,<p>I'm using the pandas library to read in som...,NaN,0,NaN,2012-06-03T00:38:37.717,5.0,10867028,...,NaN,2336654.0,NaN,1427416.0,NaN,1,23,<python><csv><pandas>,Get pandas.read_csv to read empty values as em...,21259.0
320,320,NaN,5.0,<p>Is there a way to write an aggregation func...,NaN,0,NaN,2012-06-08T15:01:32.727,27.0,10951341,...,NaN,170005.0,NaN,1444817.0,NaN,1,45,<python><pandas>,Pandas DataFrame aggregate function using mult...,17889.0
328,328,10982198.0,3.0,<p>I would like to shift a column in a Pandas ...,NaN,1,NaN,2012-06-11T14:28:49.360,9.0,10982089,...,NaN,1199589.0,NaN,1199589.0,NaN,1,38,<python><pandas><dataframe>,How to shift a column in Pandas DataFrame,31697.0
354,354,11067072.0,11.0,<p>I have a <code>dataframe</code> with over 2...,NaN,1,NaN,2012-06-16T21:05:01.030,27.0,11067027,...,NaN,2336654.0,NaN,1419123.0,NaN,1,102,<python><pandas><order>,Python Pandas - Re-ordering columns in a dataf...,74414.0
357,357,11073962.0,1.0,<p>I have some data from log files and would l...,NaN,0,NaN,2012-06-17T18:07:39.223,5.0,11073609,...,NaN,1391441.0,NaN,1461554.0,NaN,1,28,<python><pandas>,How to group DataFrame by a period of time?,20945.0
359,359,11077215.0,3.0,<p>They both seem <em>exceedingly</em> similar...,2015-07-21T00:21:27.507,3,NaN,2012-06-18T04:45:48.650,25.0,11077023,...,NaN,2336654.0,user1462733,NaN,NaN,1,106,<python><numpy><scipy><pandas>,What are the differences between Pandas and Nu...,54531.0
364,364,11112419.0,4.0,"<p>I have two <code>dataframes</code>, both in...",NaN,1,NaN,2012-06-19T18:11:14.613,6.0,11106823,...,NaN,2336654.0,NaN,1223860.0,NaN,1,26,<python><pandas>,Adding two pandas dataframes,19395.0
400,400,11246087.0,4.0,<p>On Pandas documentation of the <code>pivot<...,NaN,0,NaN,2012-06-27T17:58:38.513,4.0,11232275,...,NaN,2336654.0,NaN,179372.0,NaN,1,28,<python><pandas>,Pandas pivot warning about repeated entries on...,12221.0
413,413,11287278.0,7.0,<p>I have data in different columns but I don'...,NaN,4,NaN,2012-07-01T21:03:16.987,88.0,11285613,...,NaN,2336654.0,NaN,1610626.0,NaN,1,280,<python><pandas>,Selecting columns,413954.0
433,433,11346337.0,16.0,<p>I have a data table using pandas and column...,NaN,0,NaN,2012-07-05T14:21:15.090,206.0,11346283,...,NaN,3730397.0,NaN,1504276.0,NaN,1,750,<python><pandas><replace><dataframe><rename>,Renaming columns in pandas,767316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85619,85619,NaN,NaN,<p>A nice way to do this in one line using <co...,NaN,1,NaN,2017-02-07T16:11:06.527,NaN,42094658,...,NaN,NaN,NaN,2136626.0,14744068.0,2,10,NaN,NaN,NaN
85906,85906,NaN,NaN,<p>You have many options. Collating some of th...,NaN,0,NaN,2017-02-09T09:52:50.773,NaN,42133330,...,NaN,7404658.0,NaN,7404658.0,14057007.0,2,11,NaN,NaN,NaN
86780,86780,NaN,NaN,"<p>Use the <a href=""http://pandas.pydata.org/p...",NaN,1,NaN,2017-02-15T10:50:14.973,NaN,42247228,...,NaN,NaN,NaN,1892435.0,25646200.0,2,8,NaN,NaN,NaN
87108,87108,NaN,NaN,<pre><code>pd.set_option('display.max_columns'...,NaN,0,NaN,2017-02-17T09:09:53.783,NaN,42293737,...,NaN,4609855.0,NaN,7579768.0,25351968.0,2,7,NaN,NaN,NaN
87364,87364,NaN,NaN,<p>Before pulling out the multiprocessing hamm...,NaN,1,NaN,2017-02-20T02:25:59.783,NaN,42335527,...,NaN,NaN,NaN,3878013.0,42157944.0,2,11,NaN,NaN,NaN
87744,87744,NaN,NaN,<p>This answer is based on the 2nd tip from th...,NaN,1,NaN,2017-02-22T13:26:48.073,NaN,42392805,...,NaN,7404658.0,NaN,7404658.0,26873127.0,2,10,NaN,NaN,NaN
87842,87842,NaN,NaN,<p>I've used this many times as it's a particu...,NaN,1,NaN,2017-02-22T20:49:07.797,NaN,42401977,...,NaN,7605829.0,NaN,7605829.0,42157944.0,2,7,NaN,NaN,NaN
88010,88010,NaN,NaN,<p>Turns out this is incredibly easy once you ...,NaN,4,NaN,2017-02-23T21:44:10.100,NaN,42426751,...,NaN,2789863.0,NaN,2789863.0,42347868.0,2,18,NaN,NaN,NaN
88883,88883,NaN,NaN,<p><code>axis</code> refers to the dimension o...,NaN,0,NaN,2017-03-02T02:08:17.457,NaN,42545576,...,NaN,NaN,NaN,1354975.0,22149584.0,2,6,NaN,NaN,NaN
88912,88912,NaN,NaN,<p>If performance is important go down to nump...,NaN,0,NaN,2017-03-02T08:42:03.877,NaN,42550516,...,NaN,1205871.0,NaN,4016285.0,22219004.0,2,6,NaN,NaN,NaN
91094,91094,NaN,NaN,"<p>My approach was, but I can't guarantee that...",NaN,1,NaN,2017-03-16T15:00:51.587,NaN,42837693,...,NaN,NaN,NaN,7120057.0,17091769.0,2,10,NaN,NaN,NaN
91865,91865,NaN,NaN,"<p>However, one approach to dividing the datas...",NaN,4,NaN,2017-03-21T16:10:59.477,NaN,42932524,...,NaN,5747414.0,NaN,5747414.0,38250710.0,2,8,NaN,NaN,NaN
92149,92149,NaN,NaN,<p>Here's a succinct and generic solution to u...,NaN,2,NaN,2017-03-23T01:59:55.247,NaN,42965916,...,NaN,NaN,NaN,542156.0,26139423.0,2,7,NaN,NaN,NaN
92227,92227,NaN,NaN,<p>You can observe the relation between featur...,NaN,1,NaN,2017-03-23T13:48:20.603,NaN,42977946,...,NaN,6755116.0,NaN,6755116.0,29432629.0,2,10,NaN,NaN,NaN
92230,92230,NaN,NaN,<p>There are two ways to handle the situation ...,NaN,1,NaN,2017-03-23T13:55:50.307,NaN,42978156,...,NaN,5747414.0,NaN,5747414.0,20845213.0,2,7,NaN,NaN,NaN
93153,93153,NaN,NaN,"<p>For each of your dataframe column, you coul...",NaN,0,NaN,2017-03-29T12:22:09.333,NaN,43093390,...,NaN,NaN,NaN,6903745.0,23199796.0,2,14,NaN,NaN,NaN
93922,93922,NaN,NaN,<h1>Super simple column assignment</h1>\n\n<p>...,NaN,1,NaN,2017-04-03T08:59:22.753,NaN,43180437,...,NaN,NaN,NaN,3730397.0,12555323.0,2,6,NaN,NaN,NaN
93998,93998,NaN,NaN,<p>Here is an implementation that I find very ...,NaN,1,NaN,2017-04-03T17:05:10.717,NaN,43190411,...,NaN,NaN,NaN,1476240.0,19377969.0,2,6,NaN,NaN,NaN
94784,94784,NaN,NaN,<p>you can set the types explicitly with panda...,NaN,0,NaN,2017-04-08T01:26:14.400,NaN,43289220,...,NaN,NaN,NaN,6312126.0,21197774.0,2,8,NaN,NaN,NaN
95978,95978,NaN,NaN,"<p>If the DataFrame is huge, and the number of...",NaN,0,NaN,2017-04-15T01:57:42.187,NaN,43421391,...,NaN,NaN,NaN,304209.0,14661701.0,2,12,NaN,NaN,NaN
97168,97168,NaN,NaN,<p>here is my 2 cent on this with a very simpl...,NaN,1,NaN,2017-04-22T12:57:05.233,NaN,43559496,...,NaN,5626112.0,NaN,5626112.0,43423347.0,2,10,NaN,NaN,NaN
98055,98055,NaN,NaN,<p>While the other answers provide good inform...,NaN,2,NaN,2017-04-27T19:01:23.247,NaN,43665978,...,NaN,3423035.0,NaN,3423035.0,43423347.0,2,6,NaN,NaN,NaN
100076,100076,NaN,NaN,<p><strong>Best way found</strong>!!</p>\n\n<p...,NaN,2,NaN,2017-05-10T14:56:30.863,NaN,43896119,...,NaN,5103802.0,NaN,3364687.0,25146121.0,2,11,NaN,NaN,NaN
100082,100082,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,4,NaN,2017-05-10T15:39:39.197,NaN,43897124,...,NaN,2166823.0,NaN,2166823.0,19078325.0,2,17,NaN,NaN,NaN
100691,100691,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,2,NaN,2017-05-14T21:04:04.397,NaN,43968774,...,NaN,2336654.0,NaN,2336654.0,28757389.0,2,14,NaN,NaN,NaN
103700,103700,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,3,NaN,2017-06-01T15:18:48.507,NaN,44311454,...,NaN,3705840.0,NaN,3705840.0,21608228.0,2,19,NaN,NaN,NaN
107495,107495,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,0,NaN,2017-06-24T12:38:58.427,NaN,44736467,...,NaN,3707607.0,NaN,3707607.0,10665889.0,2,18,NaN,NaN,NaN
109146,109146,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,0,NaN,2017-07-04T20:27:54.927,NaN,44913631,...,NaN,NaN,NaN,1762211.0,12307099.0,2,11,NaN,NaN,NaN
113463,113463,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,0,NaN,2017-07-27T17:48:15.380,NaN,45357725,...,NaN,NaN,NaN,4294015.0,13411544.0,2,10,NaN,NaN,NaN
115560,115560,NaN,NaN,<p>In <code>pandas 0.20.2</code> you can do:</...,NaN,0,NaN,2017-08-08T12:20:18.850,NaN,45568211,...,NaN,NaN,NaN,1797204.0,22697773.0,2,6,NaN,NaN,NaN

In [21]:
dataset.to_csv(os.path.join('..', 'data', 'pandas-post-dataset.csv'), encoding='ISO-8859-1', sep=";", doublequote=True)