In [8]:
import pandas as pd
import os

# QUESTION/ANSWER SCORE LIMIT
QUESTION_SCORE = 10
ANSWER_SCORE = 5

file = os.path.join('..','data', 'filtered-pandas-post-complete.csv')

all_posts = pd.read_csv(file, encoding='ISO-8859-1', error_bad_lines=False)
print('Amount of posts extracted = %d' % len(all_posts))

Amount of posts extracted = 119095

In [9]:
questions = all_posts[all_posts.PostTypeId == 1]
questions
print('Amount of questions extracted = %d' % len(questions))

Amount of questions extracted = 50449

In [10]:
# Filtering questions with more than 10 Score - Higher Quality
high_level_questions = questions[questions.Score > QUESTION_SCORE]
print('# questions with Score > %d = %d' % (QUESTION_SCORE, len(high_level_questions)))
high_level_questions

# questions with Score > 10 = 1189

,Unnamed: 0,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
27,27,7779260.0,2.0,<p>When I try to merge two dataframes by rows ...,NaN,7,NaN,2011-10-15T08:21:17.460,4.0,7776679,...,NaN,2336654.0,NaN,601314.0,NaN,1,25,<python><pandas>,append two data frame with pandas,25479.0
31,31,11617194.0,7.0,<p>I want to perform my own complex operations...,NaN,3,NaN,2011-10-20T14:46:14.633,108.0,7837722,...,NaN,2336654.0,NaN,1005409.0,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,195364.0
49,49,8916746.0,2.0,<p>I have a dataframe <code>df</code> in panda...,NaN,0,NaN,2012-01-18T19:41:27.017,12.0,8916302,...,NaN,2336654.0,NaN,248237.0,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,19805.0
54,54,8997908.0,3.0,"<p>I recently came across the <a href=""http://...",NaN,16,NaN,2012-01-24T17:59:53.850,58.0,8991709,...,NaN,1129194.0,NaN,345660.0,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,16173.0
73,73,9557319.0,8.0,<p>I used Enthought's python distribution as a...,2013-12-04T20:55:59.357,5,NaN,2012-03-04T14:25:36.287,6.0,9555635,...,NaN,2336654.0,NaN,402468.0,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,6585.0
80,80,9620832.0,2.0,"<p>I stumbled across <a href=""http://pandas.py...",NaN,2,NaN,2012-03-06T17:01:47.107,5.0,9588331,...,NaN,100297.0,NaN,1252759.0,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,9493.0
91,91,9652858.0,3.0,<p>I'm new to python and pandas. I'm trying t...,NaN,0,NaN,2012-03-11T06:00:56.347,3.0,9652832,...,NaN,539153.0,NaN,914308.0,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,32040.0
103,103,9762084.0,6.0,<p>I have manipulated some data using pandas a...,NaN,0,NaN,2012-03-18T12:53:06.683,13.0,9758450,...,NaN,2336654.0,NaN,939715.0,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,36433.0
107,107,9772031.0,2.0,"<p>I'm a beginning pandas user, and after stud...",NaN,0,NaN,2012-03-18T22:34:26.183,2.0,9762935,...,NaN,2336654.0,NaN,566942.0,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,8189.0
109,109,9794891.0,2.0,<p>I want to perform a join/merge/append opera...,NaN,0,NaN,2012-03-20T13:36:09.263,6.0,9787853,...,NaN,192839.0,NaN,566942.0,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,6054.0
117,117,NaN,6.0,<p>I have the following dataframe:</p>\n\n<pre...,NaN,0,NaN,2012-03-24T10:26:50.303,3.0,9850954,...,NaN,2336654.0,NaN,939715.0,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,3543.0
147,147,11603242.0,4.0,<p>I have a times series with temperature and ...,NaN,2,NaN,2012-04-04T23:17:23.453,15.0,10020591,...,NaN,2336654.0,NaN,1301710.0,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,18532.0
160,160,NaN,11.0,<p>The documentation for Pandas has numerous e...,NaN,4,NaN,2012-04-08T18:01:13.310,63.0,10065051,...,NaN,2336654.0,NaN,1320615.0,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,72432.0
161,161,10114652.0,1.0,"<p>I like to think I'm not an idiot, but maybe...",NaN,0,NaN,2012-04-11T21:40:38.143,NaN,10114399,...,NaN,2336654.0,NaN,1327660.0,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,4120.0
175,175,10182172.0,2.0,<p>I have the following Pandas Dataframe with ...,NaN,3,NaN,2012-04-16T13:27:44.143,5.0,10175068,...,NaN,1330293.0,NaN,1330293.0,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,6774.0
183,183,10202789.0,4.0,<p>How can I find the row for which the value ...,NaN,2,NaN,2012-04-18T03:59:55.663,24.0,10202570,...,NaN,2336654.0,NaN,7650.0,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,75652.0
194,194,10374456.0,6.0,<p>I'm starting with input data like this</p>\...,NaN,0,NaN,2012-04-29T16:10:35.413,78.0,10373660,...,NaN,2901002.0,NaN,468604.0,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,167415.0
196,196,10377863.0,2.0,<p>This is a beginner <code>python</code> inst...,NaN,14,NaN,2012-04-29T22:41:28.510,3.0,10376647,...,NaN,2336654.0,NaN,854739.0,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,25583.0
206,206,10458386.0,2.0,<p>I am trying to re-index a pandas <code>Data...,NaN,1,NaN,2012-05-05T00:00:12.300,17.0,10457584,...,NaN,2336654.0,NaN,1257953.0,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,107691.0
212,212,10465162.0,2.0,"<p>I have a DataFrame, say a volatility surfac...",NaN,0,NaN,2012-05-05T18:25:59.063,14.0,10464738,...,NaN,2336654.0,NaN,1377107.0,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,15524.0
222,222,23901625.0,6.0,<p>I am trying to plot some data using pandas ...,NaN,3,NaN,2012-05-09T06:45:29.727,20.0,10511024,...,NaN,2336654.0,NaN,442158.0,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",44369.0
234,234,10565742.0,3.0,<p>I worked now for quite some time using pyth...,NaN,0,NaN,2012-05-12T16:05:17.147,19.0,10565282,...,NaN,2336654.0,NaN,1391241.0,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",16624.0
238,238,NaN,2.0,<p>I am just getting started with Pandas and I...,NaN,2,NaN,2012-05-14T21:01:58.680,5.0,10591000,...,NaN,2336654.0,NaN,1394684.0,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,17261.0
247,247,12036847.0,14.0,<p>I'm using the Pandas package and it creates...,NaN,5,NaN,2012-05-17T12:48:00.407,25.0,10636024,...,NaN,2336654.0,NaN,1400991.0,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,26216.0
251,251,44736467.0,7.0,<p>I load a some machine learning data from a ...,NaN,3,NaN,2012-05-19T14:11:42.603,58.0,10665889,...,NaN,2336654.0,NaN,1350862.0,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,154109.0
262,262,10726275.0,2.0,<p>I have a <code>DataFrame</code> with a few ...,NaN,0,NaN,2012-05-23T07:41:57.010,11.0,10715519,...,NaN,2336654.0,NaN,493499.0,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,14199.0
263,263,24888331.0,13.0,<p>I understand that pandas is designed to loa...,NaN,3,NaN,2012-05-23T08:12:31.843,82.0,10715965,...,NaN,2336654.0,NaN,31335.0,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,349935.0
272,272,10739432.0,1.0,<blockquote>\n <p><strong>Possible Duplicate:...,2012-05-29T13:14:21.157,2,NaN,2012-05-23T23:21:18.343,23.0,10729210,...,NaN,-1.0,NaN,1413778.0,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,174898.0
279,279,NaN,1.0,<p>I'm using a Pandas <code>DataFrame</code> t...,NaN,2,NaN,2012-05-25T08:35:27.927,13.0,10751127,...,NaN,2336654.0,NaN,241515.0,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,19415.0
304,304,10859883.0,1.0,<p>I have a <code>dataFrame</code> in pandas a...,NaN,1,NaN,2012-06-01T22:05:44.497,9.0,10857924,...,NaN,2336654.0,NaN,1165294.0,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,33392.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72225,72225,40144368.0,5.0,<p>I have a list of names (strings) divided in...,NaN,5,NaN,2016-10-20T01:09:51.223,3.0,40143902,...,NaN,-1.0,NaN,304209.0,NaN,1,11,<python><performance><pandas><hashtable><lookup>,Efficient lookup by common words,296.0
72233,72233,40145561.0,5.0,<p>I have done some searching for the answer t...,NaN,0,NaN,2016-10-20T03:11:10.737,2.0,40144769,...,NaN,4325994.0,NaN,4325994.0,NaN,1,11,<python><pandas>,How to select the last column of dataframe,6781.0
72645,72645,40314236.0,6.0,<p>consider the <code>df</code></p>\n\n<pre><c...,NaN,11,NaN,2016-10-24T01:21:06.510,NaN,40209520,...,NaN,2336654.0,NaN,2336654.0,NaN,1,11,<python><pandas><numpy>,"daily data, resample every 3 days, calculate o...",667.0
72754,72754,40225796.0,2.0,<p>let say I have a dataframe that looks like ...,NaN,0,NaN,2016-10-24T19:03:52.743,NaN,40225683,...,NaN,-1.0,NaN,5626112.0,NaN,1,12,<python><pandas><dataframe><multi-level>,How to simply add a column level to a pandas d...,1947.0
79243,79243,41191127.0,2.0,<h2>Example Problem</h2>\n\n<p>As a simple exa...,NaN,9,NaN,2016-12-16T19:02:18.937,1.0,41190852,...,NaN,7306999.0,NaN,7306999.0,NaN,1,12,<python><arrays><performance><pandas><numpy>,Most efficient way to forward-fill NaN values ...,1088.0
79336,79336,41205215.0,3.0,<p>Thank you for your time.</p>\n\n<p>I am wri...,NaN,3,NaN,2016-12-18T02:43:37.060,NaN,41205001,...,NaN,240490.0,NaN,7311804.0,NaN,1,11,<python><python-3.x><pandas><numpy><decimal>,How do I check for correlation using Decimal n...,146.0
81194,81194,41464194.0,1.0,<p>Consider the sorted array <code>a</code>:</...,NaN,0,NaN,2017-01-04T12:44:56.837,4.0,41464177,...,NaN,57611.0,NaN,2336654.0,NaN,1,13,<python><pandas><numpy>,Identify clusters linked by delta to the left ...,263.0
84205,84205,41890871.0,1.0,<p>You can calculate skew and kurtosis with th...,NaN,0,NaN,2017-01-27T09:41:18.470,2.0,41890870,...,NaN,NaN,NaN,2336654.0,NaN,1,12,<python><pandas><numpy>,how to calculate coskew and cokurtosis,312.0
84508,84508,41929958.0,3.0,<p>I have a dataframe that looks like this:</p...,NaN,1,NaN,2017-01-30T05:54:40.033,1.0,41929772,...,NaN,2901002.0,NaN,6383910.0,NaN,1,13,<python><pandas><group-by><difference><data-sc...,Time difference within group by objects in Pyt...,820.0
85516,85516,NaN,5.0,<p>For every pair of <code>src</code> and <cod...,NaN,8,NaN,2017-02-06T19:52:14.997,NaN,42076126,...,NaN,668624.0,NaN,668624.0,NaN,1,12,<python><pandas><scipy><percentile>,vectorize percentile value of column B of colu...,374.0
86106,86106,NaN,9.0,"<p>I have a number of text files, say 50, that...",NaN,3,NaN,2017-02-10T11:10:20.270,10.0,42157944,...,NaN,3521109.0,NaN,3521109.0,NaN,1,34,<python><regex><performance><parsing><pandas>,How can I speed up reading multiple files and ...,1476.0
87428,87428,42426751.0,1.0,<p>I know there are several ways to convert a ...,NaN,6,NaN,2017-02-20T15:02:57.237,2.0,42347868,...,NaN,2789863.0,NaN,2789863.0,NaN,1,24,<python>,Convert to date using formatters parameter in ...,839.0
88646,88646,43054028.0,4.0,<p>So I would like make a slice of a dataframe...,NaN,0,NaN,2017-02-28T18:21:36.057,2.0,42516070,...,NaN,2901002.0,NaN,2356861.0,NaN,1,14,<python><pandas><slice><mask><argmax>,Set value of first item in slice in python pandas,672.0
96006,96006,43559496.0,4.0,<p>There are countless questions about the dre...,NaN,9,NaN,2017-04-15T07:14:37.893,6.0,43423347,...,NaN,2336654.0,NaN,2336654.0,NaN,1,23,<python><pandas>,why is blindly using df.copy() a bad idea to f...,697.0
97036,97036,43547088.0,2.0,<p>The following code only shows the main cate...,NaN,1,NaN,2017-04-21T14:56:22.830,2.0,43545879,...,NaN,NaN,NaN,4642234.0,NaN,1,13,<python><pandas><matplotlib><plot>,Bar Chart with multiple labels,506.0
97324,97324,43578600.0,4.0,<p>I would like to find out what is the most e...,NaN,1,NaN,2017-04-23T23:47:39.390,5.0,43577744,...,NaN,NaN,NaN,1971254.0,NaN,1,16,<python><python-2.7><pandas><numpy><scipy>,Fastest way to create strictly increasing list...,1592.0
99152,99152,43932573.0,5.0,<p>Edited:</p>\n\n<p>I have a financial portfo...,NaN,2,NaN,2017-05-04T20:08:52.423,3.0,43791970,...,NaN,7390912.0,NaN,7390912.0,NaN,1,11,<python><pandas><dataframe><finance><portfolio>,Pandas: assigning columns with multiple condit...,821.0
101241,101241,44192797.0,2.0,<p>I have a ranking function that I apply to a...,NaN,5,NaN,2017-05-17T17:03:25.027,1.0,44030936,...,NaN,4035478.0,NaN,4035478.0,NaN,1,13,<python><pandas><lambda><vectorization><ranking>,Performance enhancement of ranking function by...,463.0
102081,102081,44123892.0,2.0,"<p>I face some problem here, in my python pack...",NaN,2,NaN,2017-05-23T00:14:45.457,1.0,44123874,...,NaN,7892936.0,NaN,7892936.0,NaN,1,12,<python><pandas><numpy><dataframe>,'DataFrame' object has no attribute 'sort',8204.0
102805,102805,44208229.0,6.0,<p><strong>definition</strong><br>\n<em>factor...,NaN,6,NaN,2017-05-26T18:20:24.910,1.0,44207926,...,NaN,2336654.0,NaN,2336654.0,NaN,1,12,<python><pandas><numpy>,How to I factorize a list of tuples?,401.0
104258,104258,44478699.0,1.0,<p>I got good use out of pandas' <code>MovingO...,NaN,4,NaN,2017-06-06T01:31:19.453,2.0,44380068,...,NaN,7954504.0,NaN,7954504.0,NaN,1,21,<python><pandas><numpy><linear-regression><sta...,Pandas rolling regression: alternatives to loo...,700.0
107241,107241,44910807.0,8.0,<p>I have three DataFrames that I'm trying to ...,NaN,8,NaN,2017-06-23T07:20:47.357,0.0,44715393,...,NaN,5314012.0,NaN,3521109.0,NaN,1,13,<python><pandas><memory><memory-management>,How to concatenate multiple pandas.DataFrames ...,433.0
109481,109481,NaN,5.0,<p>I have a csv file of 8gb and I am not able ...,NaN,4,NaN,2017-07-06T10:17:28.343,3.0,44946141,...,NaN,7779326.0,NaN,7779326.0,NaN,1,12,<python><loops><csv><pandas><parallel-processing>,How to input large data into python pandas usi...,332.0
109969,109969,44999009.0,8.0,<p>Now there are a lot of similar questions bu...,NaN,4,NaN,2017-07-09T15:50:57.807,4.0,44998223,...,NaN,3293881.0,NaN,5576491.0,NaN,1,16,<python><pandas><numpy><dataframe><duplicates>,Group duplicate column IDs in pandas dataframe,579.0
111784,111784,45193636.0,3.0,<p>I have the following (simplified) dataframe...,NaN,0,NaN,2017-07-19T14:09:55.643,1.0,45193131,...,NaN,466862.0,NaN,7626510.0,NaN,1,11,<python><pandas>,return n smallest indexes by column using pandas,369.0
112365,112365,45379057.0,1.0,<p><strong>Edit:</strong> I condensed this que...,NaN,1,NaN,2017-07-22T11:45:29.647,1.0,45254174,...,NaN,7954504.0,NaN,7954504.0,NaN,1,13,<python><pandas><dataframe>,How do pandas Rolling objects work?,402.0
113170,113170,45333133.0,7.0,<p>Suppose I have two dataframes <code>d1</cod...,NaN,0,NaN,2017-07-26T16:45:26.617,2.0,45332960,...,NaN,NaN,NaN,2336654.0,NaN,1,14,<python><pandas><numpy>,Interweave two dataframes,596.0
114804,114804,NaN,6.0,<p>I'm trying to slice a dataframe based on li...,NaN,1,NaN,2017-08-03T21:16:36.833,3.0,45494649,...,NaN,254830.0,NaN,7180132.0,NaN,1,13,<python><pandas><dataframe>,Return subset based on a list of boolean values,635.0
117383,117383,45741989.0,1.0,"<p>Given a <a href=""https://stackoverflow.com/...",NaN,11,NaN,2017-08-17T16:29:45.753,6.0,45740537,...,NaN,4909087.0,NaN,4909087.0,NaN,1,12,<python><pandas><dataframe>,Copying MultiIndex dataframes with pd.read_cli...,199.0
118146,118146,NaN,2.0,<p><strong>Update</strong>: not sure if this i...,NaN,3,NaN,2017-08-22T14:20:57.070,3.0,45820242,...,NaN,7954504.0,NaN,7954504.0,NaN,1,12,<python><python-3.x><pandas><recursion><finance>,Recursion: account value with distributions,264.0

In [14]:
# Assemble the dataset
questionIds = high_level_questions.Id

allanswers = all_posts[all_posts.ParentId.isin(questionIds)]
print('All Answers = %d' % len(allanswers))

answers = all_posts[(all_posts.ParentId.isin(questionIds)) & (all_posts.Score > ANSWER_SCORE)]
print('Answers with Score > %d = %d' % (ANSWER_SCORE, len(answers)))

All Answers = 3538
Answers with Score > 5 = 2016

In [12]:
# Questions + Answers
dataset = high_level_questions
dataset = dataset.append(answers)
dataset

,Unnamed: 0,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
27,27,7779260.0,2.0,<p>When I try to merge two dataframes by rows ...,NaN,7,NaN,2011-10-15T08:21:17.460,4.0,7776679,...,NaN,2336654.0,NaN,601314.0,NaN,1,25,<python><pandas>,append two data frame with pandas,25479.0
31,31,11617194.0,7.0,<p>I want to perform my own complex operations...,NaN,3,NaN,2011-10-20T14:46:14.633,108.0,7837722,...,NaN,2336654.0,NaN,1005409.0,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,195364.0
49,49,8916746.0,2.0,<p>I have a dataframe <code>df</code> in panda...,NaN,0,NaN,2012-01-18T19:41:27.017,12.0,8916302,...,NaN,2336654.0,NaN,248237.0,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,19805.0
54,54,8997908.0,3.0,"<p>I recently came across the <a href=""http://...",NaN,16,NaN,2012-01-24T17:59:53.850,58.0,8991709,...,NaN,1129194.0,NaN,345660.0,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,16173.0
73,73,9557319.0,8.0,<p>I used Enthought's python distribution as a...,2013-12-04T20:55:59.357,5,NaN,2012-03-04T14:25:36.287,6.0,9555635,...,NaN,2336654.0,NaN,402468.0,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,6585.0
80,80,9620832.0,2.0,"<p>I stumbled across <a href=""http://pandas.py...",NaN,2,NaN,2012-03-06T17:01:47.107,5.0,9588331,...,NaN,100297.0,NaN,1252759.0,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,9493.0
91,91,9652858.0,3.0,<p>I'm new to python and pandas. I'm trying t...,NaN,0,NaN,2012-03-11T06:00:56.347,3.0,9652832,...,NaN,539153.0,NaN,914308.0,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,32040.0
103,103,9762084.0,6.0,<p>I have manipulated some data using pandas a...,NaN,0,NaN,2012-03-18T12:53:06.683,13.0,9758450,...,NaN,2336654.0,NaN,939715.0,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,36433.0
107,107,9772031.0,2.0,"<p>I'm a beginning pandas user, and after stud...",NaN,0,NaN,2012-03-18T22:34:26.183,2.0,9762935,...,NaN,2336654.0,NaN,566942.0,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,8189.0
109,109,9794891.0,2.0,<p>I want to perform a join/merge/append opera...,NaN,0,NaN,2012-03-20T13:36:09.263,6.0,9787853,...,NaN,192839.0,NaN,566942.0,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,6054.0
117,117,NaN,6.0,<p>I have the following dataframe:</p>\n\n<pre...,NaN,0,NaN,2012-03-24T10:26:50.303,3.0,9850954,...,NaN,2336654.0,NaN,939715.0,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,3543.0
147,147,11603242.0,4.0,<p>I have a times series with temperature and ...,NaN,2,NaN,2012-04-04T23:17:23.453,15.0,10020591,...,NaN,2336654.0,NaN,1301710.0,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,18532.0
160,160,NaN,11.0,<p>The documentation for Pandas has numerous e...,NaN,4,NaN,2012-04-08T18:01:13.310,63.0,10065051,...,NaN,2336654.0,NaN,1320615.0,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,72432.0
161,161,10114652.0,1.0,"<p>I like to think I'm not an idiot, but maybe...",NaN,0,NaN,2012-04-11T21:40:38.143,NaN,10114399,...,NaN,2336654.0,NaN,1327660.0,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,4120.0
175,175,10182172.0,2.0,<p>I have the following Pandas Dataframe with ...,NaN,3,NaN,2012-04-16T13:27:44.143,5.0,10175068,...,NaN,1330293.0,NaN,1330293.0,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,6774.0
183,183,10202789.0,4.0,<p>How can I find the row for which the value ...,NaN,2,NaN,2012-04-18T03:59:55.663,24.0,10202570,...,NaN,2336654.0,NaN,7650.0,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,75652.0
194,194,10374456.0,6.0,<p>I'm starting with input data like this</p>\...,NaN,0,NaN,2012-04-29T16:10:35.413,78.0,10373660,...,NaN,2901002.0,NaN,468604.0,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,167415.0
196,196,10377863.0,2.0,<p>This is a beginner <code>python</code> inst...,NaN,14,NaN,2012-04-29T22:41:28.510,3.0,10376647,...,NaN,2336654.0,NaN,854739.0,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,25583.0
206,206,10458386.0,2.0,<p>I am trying to re-index a pandas <code>Data...,NaN,1,NaN,2012-05-05T00:00:12.300,17.0,10457584,...,NaN,2336654.0,NaN,1257953.0,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,107691.0
212,212,10465162.0,2.0,"<p>I have a DataFrame, say a volatility surfac...",NaN,0,NaN,2012-05-05T18:25:59.063,14.0,10464738,...,NaN,2336654.0,NaN,1377107.0,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,15524.0
222,222,23901625.0,6.0,<p>I am trying to plot some data using pandas ...,NaN,3,NaN,2012-05-09T06:45:29.727,20.0,10511024,...,NaN,2336654.0,NaN,442158.0,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",44369.0
234,234,10565742.0,3.0,<p>I worked now for quite some time using pyth...,NaN,0,NaN,2012-05-12T16:05:17.147,19.0,10565282,...,NaN,2336654.0,NaN,1391241.0,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",16624.0
238,238,NaN,2.0,<p>I am just getting started with Pandas and I...,NaN,2,NaN,2012-05-14T21:01:58.680,5.0,10591000,...,NaN,2336654.0,NaN,1394684.0,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,17261.0
247,247,12036847.0,14.0,<p>I'm using the Pandas package and it creates...,NaN,5,NaN,2012-05-17T12:48:00.407,25.0,10636024,...,NaN,2336654.0,NaN,1400991.0,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,26216.0
251,251,44736467.0,7.0,<p>I load a some machine learning data from a ...,NaN,3,NaN,2012-05-19T14:11:42.603,58.0,10665889,...,NaN,2336654.0,NaN,1350862.0,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,154109.0
262,262,10726275.0,2.0,<p>I have a <code>DataFrame</code> with a few ...,NaN,0,NaN,2012-05-23T07:41:57.010,11.0,10715519,...,NaN,2336654.0,NaN,493499.0,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,14199.0
263,263,24888331.0,13.0,<p>I understand that pandas is designed to loa...,NaN,3,NaN,2012-05-23T08:12:31.843,82.0,10715965,...,NaN,2336654.0,NaN,31335.0,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,349935.0
272,272,10739432.0,1.0,<blockquote>\n <p><strong>Possible Duplicate:...,2012-05-29T13:14:21.157,2,NaN,2012-05-23T23:21:18.343,23.0,10729210,...,NaN,-1.0,NaN,1413778.0,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,174898.0
279,279,NaN,1.0,<p>I'm using a Pandas <code>DataFrame</code> t...,NaN,2,NaN,2012-05-25T08:35:27.927,13.0,10751127,...,NaN,2336654.0,NaN,241515.0,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,19415.0
304,304,10859883.0,1.0,<p>I have a <code>dataFrame</code> in pandas a...,NaN,1,NaN,2012-06-01T22:05:44.497,9.0,10857924,...,NaN,2336654.0,NaN,1165294.0,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,33392.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97332,97332,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,7,NaN,2017-04-24T01:51:27.517,NaN,43578600,...,NaN,2336654.0,NaN,2336654.0,43577744.0,2,11,NaN,NaN,NaN
98055,98055,NaN,NaN,<p>While the other answers provide good inform...,NaN,2,NaN,2017-04-27T19:01:23.247,NaN,43665978,...,NaN,3423035.0,NaN,3423035.0,43423347.0,2,6,NaN,NaN,NaN
99429,99429,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,0,NaN,2017-05-06T14:19:34.300,NaN,43821531,...,NaN,NaN,NaN,2901002.0,30925079.0,2,10,NaN,NaN,NaN
100076,100076,NaN,NaN,<p><strong>Best way found</strong>!!</p>\n\n<p...,NaN,2,NaN,2017-05-10T14:56:30.863,NaN,43896119,...,NaN,5103802.0,NaN,3364687.0,25146121.0,2,11,NaN,NaN,NaN
100082,100082,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,4,NaN,2017-05-10T15:39:39.197,NaN,43897124,...,NaN,2166823.0,NaN,2166823.0,19078325.0,2,17,NaN,NaN,NaN
100691,100691,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,2,NaN,2017-05-14T21:04:04.397,NaN,43968774,...,NaN,2336654.0,NaN,2336654.0,28757389.0,2,14,NaN,NaN,NaN
102082,102082,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,1,NaN,2017-05-23T00:17:35.160,NaN,44123892,...,NaN,NaN,NaN,7954504.0,44123874.0,2,26,NaN,NaN,NaN
102808,102808,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,2,NaN,2017-05-26T18:29:43.517,NaN,44208076,...,NaN,2750492.0,NaN,2750492.0,44207926.0,2,7,NaN,NaN,NaN
102812,102812,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,1,NaN,2017-05-26T18:40:31.313,NaN,44208229,...,NaN,NaN,NaN,3339965.0,44207926.0,2,6,NaN,NaN,NaN
103700,103700,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,3,NaN,2017-06-01T15:18:48.507,NaN,44311454,...,NaN,3705840.0,NaN,3705840.0,21608228.0,2,19,NaN,NaN,NaN
107342,107342,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,2,NaN,2017-06-23T15:07:29.723,NaN,44724677,...,NaN,8071126.0,NaN,8071126.0,44715393.0,2,9,NaN,NaN,NaN
107495,107495,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,0,NaN,2017-06-24T12:38:58.427,NaN,44736467,...,NaN,3707607.0,NaN,3707607.0,10665889.0,2,18,NaN,NaN,NaN
108143,108143,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,0,NaN,2017-06-28T10:37:06.283,NaN,44800142,...,NaN,NaN,NaN,5712507.0,44715393.0,2,7,NaN,NaN,NaN
109146,109146,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,0,NaN,2017-07-04T20:27:54.927,NaN,44913631,...,NaN,NaN,NaN,1762211.0,12307099.0,2,11,NaN,NaN,NaN
109494,109494,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,2,NaN,2017-07-06T12:04:41.633,NaN,44948390,...,NaN,5497294.0,NaN,5497294.0,44946141.0,2,6,NaN,NaN,NaN
109971,109971,NaN,NaN,<p>Here's a single-liner</p>\n\n<pre><code>In ...,NaN,8,NaN,2017-07-09T16:07:43.577,NaN,44998387,...,NaN,2137255.0,NaN,2137255.0,44998223.0,2,6,NaN,NaN,NaN
109985,109985,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,0,NaN,2017-07-09T17:15:30.483,NaN,44999009,...,NaN,3293881.0,NaN,3293881.0,44998223.0,2,9,NaN,NaN,NaN
110080,110080,NaN,NaN,<pre><code>import numpy as np\nfrom multiproce...,NaN,8,NaN,2017-07-10T13:46:57.610,NaN,45013739,...,NaN,NaN,NaN,6453238.0,44946141.0,2,8,NaN,NaN,NaN
111787,111787,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,0,NaN,2017-07-19T14:18:47.377,NaN,45193340,...,NaN,NaN,NaN,4983450.0,45193131.0,2,9,NaN,NaN,NaN
111791,111791,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,0,NaN,2017-07-19T14:28:53.337,NaN,45193636,...,NaN,NaN,NaN,2901002.0,45193131.0,2,8,NaN,NaN,NaN
113174,113174,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,3,NaN,2017-07-26T16:55:40.133,NaN,45333133,...,NaN,NaN,NaN,3339965.0,45332960.0,2,12,NaN,NaN,NaN
113176,113176,NaN,NaN,<p>Here's one NumPy approach -</p>\n\n<pre><co...,NaN,0,NaN,2017-07-26T17:03:31.647,NaN,45333267,...,NaN,3293881.0,NaN,3293881.0,45332960.0,2,6,NaN,NaN,NaN
113463,113463,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,0,NaN,2017-07-27T17:48:15.380,NaN,45357725,...,NaN,NaN,NaN,4294015.0,13411544.0,2,10,NaN,NaN,NaN
114806,114806,NaN,NaN,<p>Convert the list to a boolean array and the...,NaN,0,NaN,2017-08-03T21:21:10.173,NaN,45494714,...,NaN,NaN,NaN,2285236.0,45494649.0,2,13,NaN,NaN,NaN
114807,114807,NaN,NaN,<p>You can use masking here:</p>\n\n<pre><code...,NaN,0,NaN,2017-08-03T21:21:48.803,NaN,45494718,...,NaN,NaN,NaN,67579.0,45494649.0,2,15,NaN,NaN,NaN
114808,114808,NaN,NaN,<p><strong>Setup</strong><br>\nBorrowed @ayhan...,NaN,3,NaN,2017-08-03T21:30:13.390,NaN,45494808,...,NaN,2336654.0,NaN,2336654.0,45494649.0,2,11,NaN,NaN,NaN
114809,114809,NaN,NaN,"<p>yet another ""creative"" approach:</p>\n\n<pr...",NaN,2,NaN,2017-08-03T21:38:01.287,NaN,45494910,...,NaN,5741205.0,NaN,5741205.0,45494649.0,2,7,NaN,NaN,NaN
115560,115560,NaN,NaN,<p>In <code>pandas 0.20.2</code> you can do:</...,NaN,0,NaN,2017-08-08T12:20:18.850,NaN,45568211,...,NaN,NaN,NaN,1797204.0,22697773.0,2,6,NaN,NaN,NaN
117400,117400,NaN,NaN,<p><strong>UPDATE:</strong> now it parses the ...,NaN,11,NaN,2017-08-17T17:54:06.040,NaN,45741989,...,NaN,5741205.0,NaN,5741205.0,45740537.0,2,13,NaN,NaN,NaN
118738,118738,NaN,NaN,<p>You could use the following code:</p>\n\n<p...,NaN,4,NaN,2017-08-24T22:27:09.873,NaN,45871837,...,NaN,4526187.0,NaN,4526187.0,45820242.0,2,7,NaN,NaN,NaN

In [13]:
dataset.to_csv(os.path.join('..', 'data', 'pandas-post-dataset.csv'), encoding='ISO-8859-1', sep=";", doublequote=True)