In [1]:
import pandas as pd

In [2]:
## Get AnswerId and Question Text combo from dataset to build the context
def buildAnswerIdQuestionTextDict(dataset_df):
    dataset_answerId_QText_Dict = dict()
    try:
        for idx, row in dataset_df.iterrows():
            answerId = row['AnswerId']
            if answerId != 0:
                dataset_answerId_QText_Dict[answerId] = row['QuestionText']
    except Exception as e:
        print(e)
        
    return dataset_answerId_QText_Dict

In [43]:
## Get AnswerId and Question Text combo from dataset to build the context
def buildAnswerIdSolutionsDict(dataset_df):
    dataset_answerId_Solution_Dict = dict()
    try:
        for idx, row in dataset_df.iterrows():
            answerId = row['AnswerId']
            if answerId != 0:
                if answerId in dataset_answerId_Solution_Dict.keys():
                    solution = dataset_answerId_Solution_Dict[answerId]
                    dataset_answerId_Solution_Dict[answerId] = solution + " " +row['Solution']
                else:
                    dataset_answerId_Solution_Dict[answerId] = row['Solution']
    except Exception as e:
        print(e)
        
    return dataset_answerId_Solution_Dict

In [3]:
# Load tagged dataset
tagged_datset = pd.read_csv('../data/stack-overflow/Dataset - Pandas.csv')

In [4]:
tagged_datset.columns

Index(['QuestionId', 'QuestionText', 'ObjectiveQuestion', 'AnswerId',
       'SolutionId', 'Solution', 'Remark'],
      dtype='object')

In [ ]:
for index, row

In [5]:
dataset_answerId_QText_Dict = buildAnswerIdQuestionTextDict(tagged_datset)

In [44]:
dataset_answerId_Solution_Dict = buildAnswerIdSolutionsDict(tagged_datset)

In [45]:
dataset_answerId_Solution_Dict

{17071908: "df.loc[df['column_name'] == some_value] df.loc[df['column_name'].isin(some_values)] df.loc[(df['column_name'] == some_value) & df['other_column'].isin(some_values)] df.loc[df['column_name'] != some_value] df.loc[~df['column_name'].isin(some_values)] df.loc[df['A'] == 'foo'] df.loc[df['B'].isin(['one','three'])] df = df.set_index(['B'])\ndf.loc['one'] df.loc[df.index.isin(['one','two'])]",
 12065904: "rpt[rpt['STK_ID'].isin(stk_list)]",
 19960116: 'pd.isin() something.isin(somewhere) ~something.isin(somewhere) df.countries.isin(countries) df[df.countries.isin(countries)] df[~df.countries.isin(countries)]',
 11346337: "df.columns = ['a', 'b']",
 11354850: "df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}) df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'}, inplace=True)",
 20221655: 'book = load_workbook(\'Masterfile.xlsx\')\nwriter = pandas.ExcelWriter(\'Masterfile.xlsx\', engine=\'openpyxl\') \nwriter.book = book\nwriter.sheets = dict((ws.title, ws) for ws in book.worksheets)\n\ndata_filtered.to_excel(writer, "Main", cols=[\'Diff1\', \'Diff2\'])\n\nwriter.save()',
 12681217: "pd.concat([Series(row['var2'], row['var1'].split(','))",
 41386927: 'df = pd.read_csv(\'filename.txt\', sep=";", names=[\'Region Name\']) df.insert(0, \'State\', df[\'Region Name\'].str.extract(\'(.*)\\[edit\\]\', expand=False).ffill())\r\ndf[\'Region Name\'] = df[\'Region Name\'].str.replace(r\' \\(.+$\', \'\') df = df[~df[\'Region Name\'].str.contains(\'\\[edit\\]\')].reset_index(drop=True) df = pd.read_csv(\'filename.txt\', sep=";", names=[\'Region Name\'])\r\ndf.insert(0, \'State\', df[\'Region Name\'].str.extract(\'(.*)\\[edit\\]\', expand=False).ffill())\r\ndf = df[~df[\'Region Name\'].str.contains(\'\\[edit\\]\')].reset_index(drop=True)',
 24888331: 'df.loc[i] = [randint(-1,1) for n in range(3)]',
 25962187: 'for chunk in pd.read_csv(filename, chunksize=chunksize):\r\n    process(chunk)',
 13270110: "merge(df1, df2,on='key')[['col1', 'col2', 'col3']]",
 28648923: "pd.to_numeric(s) pd.to_numeric(s, errors='coerce') pd.to_numeric(s, errors='ignore') df[['col2','col3']] = df[['col2','col3']].apply(pd.to_numeric) df.apply(pd.to_numeric, errors='ignore') df = df.infer_objects()",
 16476974: "for index, row in df.iterrows():\r\n    print row['c1'], row['c2'] for index, row in df.iterrows():\r\n     print row['c1'], row['c2']",
 11617194: 'for index, row in df.iterrows(): itertuples()',
 18173074: 'df = df[df.line_race != 0]',
 13842286: "df.set_value('C', 'x', 10) df.xs('C')['x']=10 df['x']['C'] = 10 df.at['C', 'x'] = 10 df.set_value('C', 'x', 10) df['x']['C'] = 10 df.at['C', 'x'] = 10",
 17729985: "d.sales[d.sales==24] = 100 d.loc[d.sales == 12, 'sales'] = 99 d.sales = d.sales.replace(23, 24)",
 14745484: "df = pd.DataFrame(df.row.str.split(' ',1).tolist(),\n                                   columns = ['flips','row'])",
 39358924: "df['A'], df['B'] = df['AB'].str.split(' ', 1).str df['AB'].str.split(' ', 1, expand=True) df['AB_split'] = df['AB'].str.split('-') df['AB'].str.split('-', 1).str[0] df['AB'].str.split('-', 1).str[1] df['A'], df['B'] = df['AB'].str.split('-', 1).str df['AB'].str.split('-', 1, expand=True) df.join(df['AB'].str.split('-', 1, expand=True).rename(columns={0:'A', 1:'B'}))",
 28902170: "common = df1.merge(df2,on=['col1','col2'])\ndf1[(~df1.col1.isin(common.col1))&(~df1.col2.isin(common.col2))] df1[~df1.isin(df2)].dropna() df1[~df1.isin(df2)].dropna()",
 14900065: "df4 = df3.drop_duplicates(subset='rownum', keep='last') df3 = df3.reset_index().drop_duplicates(subset='index', keep='last').set_index('index')",
 34297689: "df3 = df3[~df3.index.duplicated(keep='first')] df3.reset_index().drop_duplicates(subset='index', keep='first').set_index('index') df3.groupby(df3.index).first() df3[~df3.index.duplicated(keep='first')]",
 15705958: "df.groupby(['Mt'], sort=False)['count'].max() idx = df.groupby(['Mt'])['count'].transform(max) == df['count'] df['count_max'] = df.groupby(['Mt'])['count'].transform(max)",
 10374456: 'g1.add_suffix(\'_Count\').reset_index() DataFrame({\'count\' : df1.groupby( [ "Name", "City"] ).size()}).reset_index()',
 30691921: "with pd.option_context('display.max_rows', None, 'display.max_columns', 3):",
 22391554: "df.groupby('a').count() df['a'].value_counts() df['freq'] = df.groupby('a')['a'].transform('count')",
 16923367: "df.to_csv(file_name, sep='\\t') df.to_csv(file_name, sep='\\t', encoding='utf-8')",
 11531402: 'df[df[\'A\'].str.contains("hello")]',
 21232849: 'frame = pd.DataFrame()\nlist_ = []\nfor file_ in allFiles:\n    df = pd.read_csv(file_,index_col=None, header=0)\n    list_.append(df)\nframe = pd.concat(list_)',
 19378497: 'dataframe["period"] = dataframe["Year"].map(str) + dataframe["quarter"]',
 16354730: "df['Value'] = df.apply(lambda row: my_test(row['a'], row['c']), axis=1)",
 14508355: "df.columns = df.columns.get_level_values(0) df.columns = [' '.join(col).strip() for col in df.columns.values] [' '.join(col).strip() for col in df.columns.values]",
 17531025: "with open('my_csv.csv', 'a') as f:\n    df.to_csv(f, header=False) with open('foo.csv', 'a') as f:\n             (df + 6).to_csv(f, header=False)",
 15772263: 'pd.rolling_mean(df.resample("1D", fill_method="ffill"), window=3, min_periods=1) df.resample("1d").sum().fillna(0).rolling(window=3, min_periods=1).mean()',
 21463854: 'data[\'amount\'] = data["amount"].fillna(data.groupby("num")["amount"].transform("mean")) data["amount"] = data[\'amount\'].fillna(mean_avg) data[\'amount\'] = data[\'amount\'].fillna(mean_avg)*2',
 13337376: 'df.apply(f, axis=1)',
 30512931: "dfs = [df0, df1, df2, dfN]\ndf_final = reduce(lambda left,right: pd.merge(left,right,on='name'), dfs",
 39923012: "df.groupby(['Fruit','Name']).sum()",
 24147363: 'train, test = train_test_split(df, test_size=0.2)',
 13682381: "data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))",
 18129082: "data = pd.read_csv('file1.csv', error_bad_lines=False)",
 15252012: 'my_cols = ["A", "B", "C", "D", "E"]\npd.read_csv("ragged.csv", names=my_cols, engine=\'python\')\n',
 18431417: "df.fillna(-1).groupby('b').sum()",
 15026839: 'pd.read_csv("whitespace.csv", header=None, delimiter=r"\\s+") pd.read_csv("whitespace.csv", header=None, delim_whitespace=True)',
 26301947: "pd.set_option('display.max_colwidth', -1)",
 34272155: "df.drop_duplicates(subset=['A', 'C'], keep=False)",
 11287278: "df1 = df[['a','b']] df1 = df.iloc[:,0:2] df1 = df.iloc[0,0:2].copy()",
 18837389: "pd.DataFrame(d.items()) pd.DataFrame(d.items(), columns=['Date', 'DateValue']) s = pd.Series(d, name='DateValue')\ns.index.name = 'Date'\ns.reset_index()",
 37043071: 'df=df.values',
 24793359: 'numpyMatrix = df.as_matrix()',
 17095620: 'ne = (df1 != df2).any(1) ne_stacked = (df1 != df2).stack()',
 21266043: "json_normalize(data['results'])",
 18695700: "df.set_index('id').to_dict() df.set_index('id')['value'].to_dict()",
 19324591: 's = s.reindex(idx, fill_value=0)',
 46526249: "df_2.index = pd.IntervalIndex.from_arrays(df_2['start'],df_2['end'],closed='both')\ndf_1['event'] = df_1['timestamp'].apply(lambda x : df_2.iloc[df_2.index.get_loc(x)]['event'])",
 37787724: "df.sort_values('2')",
 17841294: 'df.groupby(\'A\')[\'C\'].apply(lambda x: "{%s}" % \', \'.join(x))',
 11138275: "import pandas as pd\r\nimport cx_Oracle\r\n\r\nora_conn = cx_Oracle.connect('your_connection_string')\r\ndf_ora = pd.read_sql('select * from user_objects', con=ora_conn)    \r\nprint 'loaded dataframe from Oracle. # Records: ', len(df_ora)\r\nora_conn.close() import MySQLdb\r\nmysql_cn= MySQLdb.connect(host='myhost', \r\n                port=3306,user='myusername', passwd='mypassword', \r\n                db='information_schema')\r\ndf_mysql = pd.read_sql('select * from VIEWS;', con=mysql_cn)    \r\nprint 'loaded dataframe from MySQL. records:', len(df_mysql)\r\nmysql_cn.close()",
 32558621: 'for column in df:\r\n        print(df[column])',
 17950531: "df['A'].apply(str) df.applymap(str)",
 19237920: "k1 = df.loc[(df.Product == p_id) & (df.Time >= start_time) & (df.Time < end_time), ['Time', 'Product']] k1 = df[['Time', 'Product']].query('Product == p_id and start_time <= Time < end_time')",
 14946246: "grp = df.groupby('A')\ngrp[['B']].transform(sum).sort('B')\nsort1 = df.ix[grp[['B']].transform(sum).sort('B').index]\nf = lambda x: x.sort('C', ascending=False)\nsort2 = sort1.groupby('A', sort=False).apply(f)\nsort2.reset_index(0, drop=True)",
 36572039: 'df.to_csv(filename ,  index = False) df.read_csv(filename ,  index = False)  ',
 12555510: "df1['e'] = Series(np.random.randn(sLength), index=df1.index) df1['e'] = p.Series(np.random.randn(sLength), index=df1.index) df1.loc[:,'f'] = p.Series(np.random.randn(sLength), index=df1.index)",
 19483025: 'list(my_dataframe.columns.values) list(my_dataframe)',
 15943975: 'df.shape df[0].count() len(df.index)',
 13786327: 'df_ = pd.DataFrame(index=index, columns=columns)\ndf_ = df_.fillna(0) # with 0s rather than NaNs',
 13413845: "df = df[np.isfinite(df['EPS'])]",
 13434501: "df.dropna() df.dropna(how='all') df.dropna(thresh=2) df.dropna(subset=[1])",
 16104482: 'df.iloc[[2]] df.loc[[2]]',
 14661768: 'df.drop(df.index[[1,3]])',
 13148611: 'cols = df.columns.tolist()\r\ncols = cols[-1:] + cols[:-1]\r\ndf = df[cols]',
 11872393: "df[(df.A == 1) & (df.D == 6)] def mask(df, key, value):\r\n   return df[df[key] == value]\r\npandas.DataFrame.mask = mask\r\ndf.mask('A', 1)\r\ndf.mask('A', 1).mask('D', 6)",
 12098586: "df[df['A'].isin([3, 6])]",
 13295801: 'df.fillna(0) df[1].fillna(0, inplace=True)',
 13704307: "dt64 = np.datetime64(dt) datetime.utcfromtimestamp(ts) np.datetime64(datetime.utcnow()).astype(datetime) numpy.datetime64('2002-06-28T01:00:00.000000000+0100').astype(datetime) numpy.datetime64('2002-06-28T01:00:00.000000000+0100').astype(datetime) datetime.utcfromtimestamp(dt64.astype(int) * ns) datetime.utcfromtimestamp(dt64.astype(int))",
 16729808: "sub_df.iloc[0] sub_df.iloc[0]['A']",
 17242374: 'df.index.values',
 44736467: "df.loc[:, 'foo':'sat'] df.loc[:, 'foo':'cat':2] df.loc[:, :'bar'] df.loc[:, 'quz'::3] df.loc[:, 'sat':'bar'] df.loc[:, 'sat':'bar':-1] df.loc[:, slice('quz',None, 2)] df.loc[:, ['foo','bar','dat']] df.loc['w':'y', 'foo':'ant':3]",
 21800319: "df.index[df['BoolCol'] == True].tolist() df.index[df['BoolCol']].tolist() df.index[df['BoolCol']].tolist() idx = df.index[df['BoolCol']] df.loc[df['BoolCol']] df.iloc[np.flatnonzero(df['BoolCol'])]",
 19385591: "df[['col1', 'col2', 'col3', 'col4']].groupby(['col1', 'col2']).agg(['mean', 'count'])",
 32801170: "df.groupby(['col1','col2']).size() df.groupby(['col1', 'col2']).size().reset_index(name='counts') df.groupby(['col1', 'col2']).size() df.groupby(['col1', 'col2']).size().reset_index(name='counts')",
 29530601: 'df.isnull().values.any() df.isnull().any().any() df.isnull().values.sum() df.isnull().sum().sum() df.isnull().values.any()',
 22475141: 'g = df.columns.to_series().groupby(df.dtypes).groups',
 20763459: 'pd.DataFrame(data=data[1:,1:],    # values\n              index=data[1:,0],    # 1st column as index\n              columns=data[0,1:])  # 1st row as the column names',
 22341390: 'dfList = df[\'one\'].tolist() my_list = df["cluster"].tolist()',
 20868446: "df=df.rename(columns = {'two':'new_name'})",
 17063653: 'xl = pd.ExcelFile("dummydata.xlsx")\ndf = xl.parse("Sheet1") parsed = pd.io.parsers.ExcelFile.parse(xl, "Sheet1")',
 18023468: 'df.index.name',
 10458386: "data2 = data.set_index('a')",
 11362056: 'print paramdata.values',
 20461206: "df['index1'] = df.index df.reset_index(level=0, inplace=True) df.reset_index(level=['tick', 'obs'])",
 23749057: "df['a'].values.tolist() df['a'].tolist() df['a'].drop_duplicates().values.tolist() list(set(df['a']))",
 20491748: 'df = df.reset_index(drop=True)',
 15411596: "table.groupby('YEARMONTH').CLIENTCODE.nunique()",
 17682726: "df.loc[df['c']>0.5,['a','d']].values",
 17682662: "df[df.c > 0.5][['b', 'e']].values",
 16597375: 'df.append(data) df = df.append(data)',
 11711637: "pd.set_option('display.height', 1000) pd.set_option('display.max_rows', 500) pd.set_option('display.max_columns', 500) pd.set_option('display.width', 1000)",
 19961557: 'df = pd.DataFrame(data)\ndf.pivot(index=0, columns=1, values=2) df.pivot(index=0, columns=1, values=3)',
 25254087: "df_test.iloc[0] df_test['Btime'].iloc[0]",
 18062521: 'pd.concat([s1, s2], axis=1) pd.concat([s1, s2], axis=1).reset_index()',
 16735476: 'df.convert_objects(convert_numeric=True)',
 25748826: "df['e'] = df.sum(axis=1) col_list= list(df)\ncol_list.remove('d')\ndf['e'] = df[col_list].sum(axis=1)",
 24284680: 'df.loc[-1] = [2, 3, 4]  # adding a row\ndf.index = df.index + 1  # shifting index\ndf = df.sort_index()  # sorting by index',
 17134750: 'df[\'col\'] = pd.to_datetime(df[\'col\']) pd.to_datetime(pd.Series([\'05/23/2005\'])) pd.to_datetime(pd.Series([\'05/23/2005\']), format="%m/%d/%Y")',
 12525836: 'df_norm = (df - df.mean()) / (df.max() - df.min())',
 21291622: 'df[list("ABCD")] = df[list("ABCD")].astype(int) df[list("ABCD")] = df[list("ABCD")].fillna(0.0).astype(int)',
 23307361: "w['female'] = w['female'].map({'female': 1, 'male': 0})",
 26266451: 's.isnull().sum() df.isnull().sum()',
 18942558: "df['Col3'] = (df['Col2'] <= 1).astype(int) df['Col3'] = df['Col2'].map(lambda x: 42 if x > 1 else 55) df['Col3'] = 0\ncondition = df['Col2'] > 1\ndf.loc[condition, 'Col3'] = 42\ndf.loc[~condition, 'Col3'] = 55",
 19112890: 'df = DataFrame(table, columns=headers)',
 17141755: "df.sort_values(['a', 'b'], ascending=[True, False]) df.sort(['a', 'b'], ascending=[True, False]) df1.sort(['a', 'b'], ascending=[True, False]) df1 = df1.sort(['a', 'b'], ascending=[True, False]) df1.sort(['a', 'b'], ascending=[True, False], inplace=True)",
 14760930: 'df1.tail(10)',
 27791362: 'df = pd.read_csv(StringIO(csv),\n        header=0,\n        index_col=["date", "loc"], \n        usecols=["date", "loc", "x"],\n        parse_dates=["date"])',
 22006514: "total_rows['ColumnID'] = total_rows['ColumnID'].astype(str)",
 17813222: "df.plot(x='col_name_1', y='col_name_2', style='o') df.plot(style=['o','rx'])",
 11067072: 'df.reindex_axis(sorted(df.columns), axis=1)',
 10202789: "df['A'].argmax() df['B'].argmax() df['C'].argmax() dfrm['A'].idxmax() dfrm.ix[dfrm['A'].idxmax()]",
 22276757: "image_name_data['id'] = image_name_data['id'].astype(int).astype('str') image_name_data['id'] = image_name_data['id'].map('{:.0f}'.format)",
 19851521: "df.index.names = ['Date'] df1 = df.set_index('A') df1.rename(index={1: 'a'}) df1.rename(columns={'B': 'BB'}) df1.index.names = ['index']",
 14734627: 'gb.get_group(\'foo\') gb[["A", "B"]].get_group("foo") gb["C"].get_group("foo")',
 29319200: "df.drop(df.columns[[1, 2]], axis=1, inplace=True) df1 = df1.drop(['B', 'C'], axis=1) df1 = df[['a','d']]",
 17098736: "df.to_pickle(file_name) store = HDFStore('store.h5')",
 13851602: "df[df['column name'].map(len) < 2]",
 27360130: 'df = df.drop(some labels) df = df.drop(df[<some boolean condition>].index) df = df.drop(df[df.score < 50].index) df.drop(df[df.score < 50].index, inplace=True) df = df.drop(df[(df.score < 50) & (df.score > 20)].index)',
 25376997: "df.loc[len(df)]=['8/19/2014','Jun','Fly','98765']",
 15362700: 's = df.ix[:,0]',
 20084895: 'Series(df.values.ravel()).unique() Series(df.values.ravel()).unique() np.unique(df.values.ravel())',
 18327852: 'myseries[myseries == 7].index[0]',
 17619032: "df.sort(['c1','c2'], ascending=[False,True]) df.sort(['c1','c2'], ascending=[True,True]) df.sort(['c1','c2'], ascending=[False,True]) df.sort_values(['c1','c2'], ascending=[False,True])"}

In [6]:
h1_solutions = pd.read_csv('actual_results_file/pandas-solutioncode-h1.csv')

In [7]:
h1_solutions.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'AcceptedAnswerId', 'AnswerCount', 'Body',
       'ClosedDate', 'CommentCount', 'CommunityOwnedDate', 'CreationDate',
       'FavoriteCount', 'Id', 'LastActivityDate', 'LastEditDate',
       'LastEditorDisplayName', 'LastEditorUserId', 'OwnerDisplayName',
       'OwnerUserId', 'ParentId', 'PostTypeId', 'Score', 'Tags', 'Title',
       'ViewCount', 'Code', 'PreprocessedCode', 'PreprocessedCode2',
       'PreprocessedCode2_1', 'PreprocessedCode3', 'BodyText', 'BodyTextRake',
       'TitleRake', 'Solution'],
      dtype='object')

In [8]:
h2_solutions = pd.read_csv('actual_results_file/pandas-solutioncode-h2.csv')
h1h2_solutions = pd.read_csv('actual_results_file/pandas-solutioncode-h1h2.csv')
m1tfidf_solutions = pd.read_csv('actual_results_file/pandas-solutioncode-m1.csv')
m1doc2vec_solutions = pd.read_csv('actual_results_file/pandas-solutioncode-m1-doc2vec.csv')

In [9]:
h2_solutions.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'AcceptedAnswerId', 'AnswerCount', 'Body',
       'ClosedDate', 'CommentCount', 'CommunityOwnedDate', 'CreationDate',
       'FavoriteCount', 'Id', 'LastActivityDate', 'LastEditDate',
       'LastEditorDisplayName', 'LastEditorUserId', 'OwnerDisplayName',
       'OwnerUserId', 'ParentId', 'PostTypeId', 'Score', 'Tags', 'Title',
       'ViewCount', 'Code', 'PreprocessedCode', 'PreprocessedCode2',
       'PreprocessedCode2_1', 'PreprocessedCode3', 'BodyText', 'BodyTextRake',
       'TitleRake', 'Solution'],
      dtype='object')

In [10]:
h1_solutions_filter = h1_solutions[h1_solutions['PostTypeId']!=1]
h2_solutions_filter = h2_solutions[h1_solutions['PostTypeId']!=1]
h1h2_solutions_filter = h1h2_solutions[h1_solutions['PostTypeId']!=1]
m1tfidf_solutions_filter = m1tfidf_solutions[h1_solutions['PostTypeId']!=1]
m1doc2vec_solutions_filter = m1doc2vec_solutions[h1_solutions['PostTypeId']!=1]

In [51]:
solutions = pd.DataFrame(columns=['AnswerId', 'Title', 'preprocessed_code', 'actual_solutions', 'h1', 'h2', 'h1h2', 'm1tfidf', 'm1doc2vec'])

In [52]:
solutions['AnswerId'] = h1_solutions_filter['Id']
solutions['preprocessed_code'] = h1_solutions_filter['PreprocessedCode3']
solutions['h1'] = h1_solutions_filter['Solution']
solutions['h2'] = h2_solutions_filter['Solution']
solutions['h1h2'] = h1h2_solutions_filter['Solution']
solutions['m1tfidf'] = m1tfidf_solutions_filter['Solution']
solutions['m1doc2vec'] = m1doc2vec_solutions_filter['Solution']

In [53]:
for index, row in solutions.iterrows():
    try:
        title = dataset_answerId_QText_Dict[row['AnswerId']]
        solution = dataset_answerId_Solution_Dict[row['AnswerId']]
        solutions.set_value(index, 'Title', title)
        solutions.set_value(index, 'actual_solutions', solution)
    except:
        continue

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [54]:
solutions_filter = solutions[~pd.isna(solutions['Title'])]
solutions_filter

,AnswerId,Title,preprocessed_code,actual_solutions,h1,h2,h1h2,m1tfidf,m1doc2vec
1209,10202789,Pandas DataFrame - Find row where values for c...,import pandas\nimport numpy as np\ndf = pandas...,df['A'].argmax() df['B'].argmax() df['C'].argm...,"[""df = pandas.DataFrame(np.random.randn(5,3),c...","['import pandas', 'import numpy as np', 'df', ...","[""df['A'].argmax()"", ""df['B'].argmax()"", ""df['...","[""df = pandas.DataFrame(np.random.randn(5,3),c...","[""df = pandas.DataFrame(np.random.randn(5,3),c..."
1211,10374456,Converting a Pandas GroupBy object to DataFrame,type(g1)\ng1.index\ng1.add_suffix('_Count').re...,g1.add_suffix('_Count').reset_index() DataFram...,"['g1.index', ""g1.add_suffix('_Count').reset_in...","['type(g1)', 'g1.index', ""g1.add_suffix('_Coun...","['g1.index', ""g1.add_suffix('_Count').reset_in...","['g1.index', ""g1.add_suffix('_Count').reset_in...","['g1.index', ""g1.add_suffix('_Count').reset_in..."
1213,10458386,Redefining the Index in a Pandas DataFrame object,"In : col = ['a','b','c']\nIn : data = DataFram...",data2 = data.set_index('a'),"[""In : data2 = data.set_index('a')""]","[""In : col = ['a','b','c']"", 'In : data = Data...","[""In : data2 = data.set_index('a')""]","[""In : data2 = data.set_index('a')""]","[""In : data2 = data.set_index('a')""]"
1232,11067072,Python Pandas - Re-ordering columns in a dataf...,"df.reindex_axis(sorted(df.columns), axis=1)","df.reindex_axis(sorted(df.columns), axis=1)","['df.reindex_axis(sorted(df.columns), axis=1)']","['df.reindex_axis(sorted(df.columns), axis=1)']","['df.reindex_axis(sorted(df.columns), axis=1)']","['df.reindex_axis(sorted(df.columns), axis=1)']","['df.reindex_axis(sorted(df.columns), axis=1)']"
1238,11138275,python-pandas and databases like mysql,import pandas as pd\nimport cx_Oracle\nora_con...,import pandas as pd\r\nimport cx_Oracle\r\n\r\...,"[""df_ora = pd.read_sql('select * from user_obj...","['import pandas as pd', 'import cx_Oracle', ""o...","[""df_ora = pd.read_sql('select * from user_obj...","[""df_ora = pd.read_sql('select * from user_obj...","[""df_ora = pd.read_sql('select * from user_obj..."
...,...,...,...,...,...,...,...,...,...
2859,34297689,Remove rows with duplicate indices (Pandas Dat...,df3 = df3[~df3.index.duplicated(keep='first')],df3 = df3[~df3.index.duplicated(keep='first')]...,"[""df3 = df3[~df3.index.duplicated(keep='first'...","[""df3 = df3[~df3.index.duplicated(keep='first'...","[""df3 = df3[~df3.index.duplicated(keep='first'...","[""df3 = df3[~df3.index.duplicated(keep='first'...","[""df3 = df3[~df3.index.duplicated(keep='first'..."
2951,36572039,Removing index column in pandas,"df.read_csv(filename , index = False)","df.to_csv(filename , index = False) df.read_c...","['df.read_csv(filename , index = False) ']","['df.read_csv(filename , index = False) ']","['df.read_csv(filename , index = False) ']","['df.read_csv(filename , index = False) ']","['df.read_csv(filename , index = False) ']"
2971,37043071,"Convert pandas dataframe to numpy array, prese...",NaN,df=df.values,[],[''],[],[],[]
3060,39358924,How to split a column into two columns?,"df['A'], df['B'] = df['AB'].str.split(' ', 1)....","df['A'], df['B'] = df['AB'].str.split(' ', 1)....","[""df['A'], df['B'] = df['AB'].str.split(' ', 1...","[""df['A'], df['B'] = df['AB'].str.split(' ', 1...","[""df['A'], df['B'] = df['AB'].str.split(' ', 1...","[""df['A'], df['B'] = df['AB'].str.split(' ', 1...","[""df['A'], df['B'] = df['AB'].str.split(' ', 1..."
3186,44736467,How to take column-slices of dataframe in pandas,"df.loc[:, 'foo':'sat']\ndf.loc[:, 'foo':'cat':...","df.loc[:, 'foo':'sat'] df.loc[:, 'foo':'cat':2...","[""df.loc[:, 'foo':'sat']"", ""df.loc[:, 'foo':'c...","[""df.loc[:, 'foo':'sat']"", ""df.loc[:, 'foo':'c...","[""df.loc[:, 'foo':'sat']"", ""df.loc[:, 'foo':'c...","[""df.loc[:, 'foo':'sat']"", ""df.loc[:, 'foo':'c...","[""df.loc[:, 'foo':'sat']"", ""df.loc[:, 'foo':'c..."

In [55]:
solutions_filter.to_csv('Combined_Solution_Code_Identified.csv', index=False)