In [7]:
import pandas as pd
import os

data_folder = os.path.join('..', '..', 'data', 'stack-overflow')

dataset_file = os.path.join(data_folder, 'Dataset - Pandas.csv')
real_code_file = os.path.join(data_folder, 'pandas-preprocessedcode-dataset-part3')

In [8]:
dataset = pd.read_csv(dataset_file, sep=',')
code = pd.read_pickle(real_code_file)

In [9]:
# Remove non answers
answerIds = dataset.AnswerId.unique()

print("Amount of answers in the dataset: %d" % len(answerIds))

Amount of answers in the dataset: 58

In [10]:
dataset_code = code[code.Id.isin(answerIds)]

dataset_code = dataset_code.set_index('Id')

# df['fruits'].str.split().apply(len).value_counts()

dataset_code['Code Size'] = dataset_code['PreprocessedCode3'].apply(lambda x: len(x.split(os.linesep)))
dataset_code['Code Size']
# dataset_code['Code']

dataset_code

# dataset_code['Code Size'] = dataset_code['Code'].apply(lambda x : len(x.split('\n')))
# dataset_code.head()

,Unnamed: 0,Unnamed: 0.1,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,...,PostTypeId,Score,Tags,Title,ViewCount,Code,PreprocessedCode,PreprocessedCode2,PreprocessedCode3,Code Size
Id,,,,,,,,,,,,,,,,,,,,,
10374456,195,195,NaN,NaN,<p><code>g1</code> here <em>is</em> a DataFram...,NaN,4,NaN,2012-04-29T17:50:33.950,NaN,...,2,241,NaN,NaN,NaN,In [19]: type(g1)\r\nOut[19]: pandas.core.fram...,In [19]: type(g1)\r\nOut[19]: pandas.core.fram...,type(g1)\r\ng1.index\r\ng1.add_suffix('_Count'...,type(g1)\r\ng1.index\r\ng1.add_suffix('_Count'...,4
11287278,414,414,NaN,NaN,<p>The column names (which are strings) cannot...,NaN,12,NaN,2012-07-02T02:43:02.740,NaN,...,2,490,NaN,NaN,NaN,"df1 = df[['a','b']]\r\ndf1 = df.ix[:,0:2] # Re...","df1 = df[['a','b']]\r\ndf1 = df.ix[:,0:2] # Re...","df1 = df[['a','b']]\r\ndf1 = df.ix[:,0:2] # Re...","df1 = df[['a','b']]\r\ndf1 = df.ix[:,0:2] # Re...",3
11346337,434,434,NaN,NaN,<p>Just assign it to the <code>.columns</code>...,NaN,9,NaN,2012-07-05T14:23:27.910,NaN,...,2,768,NaN,NaN,NaN,">>> df = pd.DataFrame({'$a':[1,2], '$b': [10,2...","df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})...","df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})...","df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})...",3
11354850,439,439,NaN,NaN,<p>Use the rename function and refer the colum...,NaN,6,NaN,2012-07-06T01:48:15.147,NaN,...,2,1304,NaN,NaN,NaN,df = df.rename(columns={'oldName1': 'newName1'...,df = df.rename(columns={'oldName1': 'newName1'...,df = df.rename(columns={'oldName1': 'newName1'...,df = df.rename(columns={'oldName1': 'newName1'...,3
11531402,499,499,NaN,NaN,"<p>Based on github issue <a href=""https://gith...",NaN,5,NaN,2012-07-17T21:52:18.983,NaN,...,2,267,NaN,NaN,NaN,"df[df['A'].str.contains(""hello"")]\r\n","df[df['A'].str.contains(""hello"")]\r\n","df[df['A'].str.contains(""hello"")]\r\n","df[df['A'].str.contains(""hello"")]",1
11617194,521,521,NaN,NaN,<p>The newest versions of pandas now include a...,NaN,4,NaN,2012-07-23T17:09:39.743,NaN,...,2,209,NaN,NaN,NaN,"for index, row in df.iterrows():\r\n\r\n # ...","for index, row in df.iterrows():\r\n\r\n # ...","for index, row in df.iterrows():\r\n\r\n # ...",,1
12065904,696,696,NaN,NaN,<p>Use the <code>isin</code> method. <code>rp...,NaN,12,NaN,2012-08-22T03:21:12.067,NaN,...,2,326,NaN,NaN,NaN,,,,,1
12681217,1018,1018,NaN,NaN,<p>How about something like this:</p>\r\n\r\n<...,NaN,8,NaN,2012-10-01T21:15:03.957,NaN,...,2,22,NaN,NaN,NaN,"In [55]: pd.concat([Series(row['var2'], row['v...","In [55]: pd.concat([Series(row['var2'], row['v...","pd.concat([Series(row['var2'], row['var1'].spl...","pd.concat([Series(row['var2'], row['var1'].spl...",2
13270110,1332,1332,NaN,NaN,<p>If you have a key that is repeated for each...,NaN,1,NaN,2012-11-07T12:47:36.283,NaN,...,2,31,NaN,NaN,NaN,"from pandas import DataFrame, merge\r\ndf1 = D...","from pandas import DataFrame, merge\r\ndf1 = D...","from pandas import DataFrame, merge\r\ndf1 = D...","from pandas import DataFrame, merge\r\ndf1 = D...",4
13337376,1364,1364,NaN,NaN,<p>Here's an example using <code>apply</code> ...,NaN,11,NaN,2012-11-12T01:39:09.783,NaN,...,2,143,NaN,NaN,NaN,In [49]: df\r\nOut[49]: \r\n 0 ...,In [49]: df\r\nOut[49]: \r\n 0 ...,df\r\ndef f(x): \r\n ....: return x[0] +...,df,1
13682381,1565,1565,NaN,NaN,<pre><code>data['result'] = data['result'].map...,NaN,4,NaN,2012-12-03T11:33:51.673,NaN,...,2,64,NaN,NaN,NaN,data['result'] = data['result'].map(lambda x: ...,data['result'] = data['result'].map(lambda x: ...,data['result'] = data['result'].map(lambda x: ...,data['result'] = data['result'].map(lambda x: ...,1
13842286,1672,1672,NaN,NaN,"<p><a href=""https://stackoverflow.com/a/245176...",NaN,8,NaN,2012-12-12T14:51:02.073,NaN,...,2,168,NaN,NaN,NaN,df.xs('C')['x']=10\r\ndf['x']['C'] = 10\r\ndf....,df.xs('C')['x']=10\r\ndf['x']['C'] = 10\r\ndf....,df.xs('C')['x']=10\r\ndf['x']['C'] = 10\r\ndf....,df.xs('C')['x']=10\r\ndf['x']['C'] = 10\r\ndf....,3
14508355,2159,2159,NaN,NaN,<p>I think the easiest way to do this would be...,NaN,3,NaN,2013-01-24T18:37:10.217,NaN,...,2,151,NaN,NaN,NaN,df.columns = df.columns.get_level_values(0)\r\...,df.columns = df.columns.get_level_values(0)\r\...,df.columns = df.columns.get_level_values(0)\r\...,df.columns = df.columns.get_level_values(0)\r\...,14
14745484,2327,2327,NaN,NaN,"<p>There might be a better way, but this here'...",NaN,3,NaN,2013-02-07T07:03:46.033,NaN,...,2,34,NaN,NaN,NaN,In [34]: import pandas as pd\r\n\r\nIn [35]: d...,In [34]: import pandas as pd\r\n\r\nIn [35]: d...,import pandas as pd\r\n\r\ndf\r\ndf = pd.DataF...,import pandas as pd\r\ndf\r\ndf = pd.DataFrame...,5
14900065,2434,2434,NaN,NaN,<p>A simple solution is to use <code>drop_dupl...,NaN,4,NaN,2013-02-15T17:27:14.987,NaN,...,2,82,NaN,NaN,NaN,"df4 = df3.drop_duplicates(subset='rownum', kee...","df4 = df3.drop_duplicates(subset='rownum', kee...","df4 = df3.drop_duplicates(subset='rownum', kee...","df4 = df3.drop_duplicates(subset='rownum', kee...",3
15026839,2558,2558,NaN,NaN,"<p>From the <a href=""http://pandas.pydata.org/...",NaN,1,NaN,2013-02-22T14:51:51.297,NaN,...,2,52,NaN,NaN,NaN,>>> import pandas as pd\r\n>>> for line in ope...,"import pandas as pd\r\nfor line in open(""white...","import pandas as pd\r\nfor line in open(""white...",import pandas as pd,1
15252012,2747,2747,NaN,NaN,<p>One way which seems to work (at least in 0....,NaN,4,NaN,2013-03-06T15:55:05.310,NaN,...,2,42,NaN,NaN,NaN,">>> !cat ragged.csv\r\n1,2,3\r\n1,2,3,4\r\n1,2...",">>> !cat ragged.csv\r\n1,2,3\r\n1,2,3,4\r\n1,2...",">>> !cat ragged.csv\r\n1,2,3\r\n1,2,3,4\r\n1,2...","1,2,3\r\n1,2,3,4\r\n1,2,3,4,5\r\n1,2\r\n1,2,3,...",7
15705958,3091,3091,NaN,NaN,<pre><code>In [1]: df\r\nOut[1]:\r\n Sp Mt...,NaN,2,NaN,2013-03-29T15:09:40.397,NaN,...,2,78,NaN,NaN,NaN,In [1]: df\r\nOut[1]:\r\n Sp Mt Value cou...,In [1]: df\r\nOut[1]:\r\n Sp Mt Value cou...,"df\r\ndf.groupby(['Mt'], sort=False)['count']....","df\r\ndf.groupby(['Mt'], sort=False)['count']....",6
15772263,3143,3143,NaN,NaN,<p>What about something like this:</p>\r\n\r\n...,NaN,5,NaN,2013-04-02T19:03:58.173,NaN,...,2,32,NaN,NaN,NaN,"pd.rolling_mean(df.resample(""1D"", fill_method=...","pd.rolling_mean(df.resample(""1D"", fill_method=...","pd.rolling_mean(df.resample(""1D"", fill_method=...","pd.rolling_mean(df.resample(""1D"", fill_method=...",3
16354730,3608,3608,NaN,NaN,<p>Seems you forgot the <code>''</code> of you...,NaN,4,NaN,2013-05-03T08:40:31.377,NaN,...,2,133,NaN,NaN,NaN,In [43]: df['Value'] = df.apply(lambda row: my...,In [43]: df['Value'] = df.apply(lambda row: my...,df['Value'] = df.apply(lambda row: my_test(row...,df['Value'] = df.apply(lambda row: my_test(row...,2
16476974,3725,3725,NaN,NaN,"<p><a href=""http://pandas.pydata.org/pandas-do...",NaN,1,NaN,2013-05-10T07:07:58.523,NaN,...,2,556,NaN,NaN,NaN,"In [18]: for index, row in df.iterrows():\r\n ...","In [18]: for index, row in df.iterrows():\r\n ...","for index, row in df.iterrows():\r\n ....: ...",,1
16923367,4099,4099,NaN,NaN,<p>To delimit by a tab you can use the <code>s...,NaN,6,NaN,2013-06-04T16:52:17.853,NaN,...,2,353,NaN,NaN,NaN,"df.to_csv(file_name, sep='\t')\r\ndf.to_csv(fi...","df.to_csv(file_name, sep='\t')\r\ndf.to_csv(fi...","df.to_csv(file_name, sep='\t')\r\ndf.to_csv(fi...","df.to_csv(file_name, sep='\t')\r\ndf.to_csv(fi...",2
17071908,4291,4291,NaN,NaN,<p>To select rows whose column value equals a ...,NaN,14,NaN,2013-06-12T17:44:20.483,NaN,...,2,755,NaN,NaN,NaN,df.loc[df['column_name'] == some_value]\r\ndf....,df.loc[df['column_name'] == some_value]\r\ndf....,df.loc[df['column_name'] == some_value]\r\ndf....,df.loc[df['column_name'] == some_value]\r\ndf....,19
17095620,4314,4314,NaN,NaN,"<p>The first part is similar to Constantine, y...",NaN,7,NaN,2013-06-13T19:39:44.703,NaN,...,2,56,NaN,NaN,NaN,In [21]: ne = (df1 != df2).any(1)\r\n\r\nIn [2...,In [21]: ne = (df1 != df2).any(1)\r\n\r\nIn [2...,ne = (df1 != df2).any(1)\r\n\r\nne\r\nne_stack...,ne = (df1 != df2).any(1)\r\nne\r\nne_stacked =...,10
17531025,4818,4818,NaN,NaN,<p>You can <em>append</em> to a csv by <a href...,NaN,5,NaN,2013-07-08T15:57:49.360,NaN,...,2,89,NaN,NaN,NaN,"with open('my_csv.csv', 'a') as f:\r\n df.t...","with open('my_csv.csv', 'a') as f:\r\n df.t...","with open('my_csv.csv', 'a') as f:\r\n df.t...","with open('my_csv.csv', 'a') as f:\r\n df.t...",13
17729985,5026,5026,NaN,NaN,<p>Many ways to do that </p>\r\n\r\n<h3>1</h3>...,NaN,4,NaN,2013-07-18T17:15:28.100,NaN,...,2,38,NaN,NaN,NaN,In [7]: d.sales[d.sales==24] = 100\r\n\r\nIn [...,In [7]: d.sales[d.sales==24] = 100\r\n\r\nIn [...,d.sales[d.sales==24] = 100\r\n\r\nd\r\nd.loc[d...,d.sales[d.sales==24] = 100\r\nd\r\nd.loc[d.sal...,6
17841294,5160,5160,NaN,NaN,<pre><code>In [4]: df = read_csv(StringIO(data...,NaN,10,NaN,2013-07-24T17:51:18.437,NaN,...,2,70,NaN,NaN,NaN,"In [4]: df = read_csv(StringIO(data),sep='\s+'...","In [4]: df = read_csv(StringIO(data),sep='\s+'...","df = read_csv(StringIO(data),sep='\s+')\r\n\r\...","df = read_csv(StringIO(data),sep='\s+')\r\ndf\...",8
18129082,5493,5493,NaN,NaN,<p>you could also try;</p>\r\n\r\n<pre><code>d...,NaN,5,NaN,2013-08-08T14:47:15.083,NaN,...,2,127,NaN,NaN,NaN,"data = pd.read_csv('file1.csv', error_bad_line...","data = pd.read_csv('file1.csv', error_bad_line...","data = pd.read_csv('file1.csv', error_bad_line...","data = pd.read_csv('file1.csv', error_bad_line...",1
18173074,5549,5549,NaN,NaN,"<p>If I'm understanding correctly, it should b...",NaN,9,NaN,2013-08-11T14:38:31.897,NaN,...,2,352,NaN,NaN,NaN,df = df[df.line_race != 0]\r\n,df = df[df.line_race != 0]\r\n,df = df[df.line_race != 0]\r\n,df = df[df.line_race != 0],1
18431417,5841,5841,NaN,NaN,"<p>This is <a href=""http://pandas.pydata.org/p...",NaN,10,NaN,2013-08-25T16:55:34.173,NaN,...,2,43,NaN,NaN,NaN,In [11]: df.fillna(-1)\r\nOut[11]: \r\n a ...,In [11]: df.fillna(-1)\r\nOut[11]: \r\n a ...,df.fillna(-1)\r\ndf.fillna(-1).groupby('b').su...,df.fillna(-1)\r\ndf.fillna(-1).groupby('b').su...,3
18695700,6158,6158,NaN,NaN,"<p>See the docs for <a href=""http://pandas.pyd...",NaN,2,NaN,2013-09-09T09:55:13.047,NaN,...,2,74,NaN,NaN,NaN,df.set_index('id').to_dict()\r\ndf.set_index('...,df.set_index('id').to_dict()\r\ndf.set_index('...,df.set_index('id').to_dict()\r\ndf.set_index('...,df.set_index('id').to_dict()\r\ndf.set_index('...,2
18837389,6297,6297,NaN,NaN,"<p>The error here, is since calling the DataFr...",NaN,5,NaN,2013-09-16T21:12:01.063,NaN,...,2,145,NaN,NaN,NaN,pd.DataFrame(d)\r\nValueError: If using all sc...,pd.DataFrame(d)\r\nValueError: If using all sc...,pd.DataFrame(d)\r\nValueError: If using all sc...,pd.DataFrame(d)\r\npd.DataFrame(d.items()) # ...,6
19324591,6852,6852,NaN,NaN,<p>You could use <code>Series.reindex</code>:<...,NaN,4,NaN,2013-10-11T18:08:29.603,NaN,...,2,83,NaN,NaN,NaN,import pandas as pd\r\n\r\nidx = pd.date_range...,import pandas as pd\r\n\r\nidx = pd.date_range...,import pandas as pd\r\n\r\nidx = pd.date_range...,import pandas as pd\r\nidx = pd.date_range('09...,10
19378497,6908,6908,NaN,NaN,"<pre><code>dataframe[""period""] = dataframe[""Ye...",NaN,6,NaN,2013-10-15T10:09:51.163,NaN,...,2,110,NaN,NaN,NaN,"dataframe[""period""] = dataframe[""Year""].map(st...","dataframe[""period""] = dataframe[""Year""].map(st...","dataframe[""period""] = dataframe[""Year""].map(st...","dataframe[""period""] = dataframe[""Year""].map(st...",1
19960116,7728,7728,NaN,NaN,<p>You can use <code>something.isin(somewhere)...,NaN,7,NaN,2013-11-13T17:13:39.863,NaN,...,2,200,NaN,NaN,NaN,>>> df\r\n countries\r\n0 US\r\n1 ...,df\r\n countries\r\n0 US\r\n1 U...,df\r\n countries\r\n0 US\r\n1 U...,"df\r\ncountries\r\n['UK', 'China']\r\ndf.count...",6
20221655,8108,8108,NaN,NaN,<p>Pandas docs says it uses openpyxl for xlsx ...,NaN,8,NaN,2013-11-26T15:45:59.103,NaN,...,2,61,NaN,NaN,NaN,import pandas\r\nfrom openpyxl import load_wor...,import pandas\r\nfrom openpyxl import load_wor...,import pandas\r\nfrom openpyxl import load_wor...,import pandas\r\nfrom openpyxl import load_wor...,8
21232849,9587,9587,NaN,NaN,<p>If you have same columns in all your <code>...,NaN,9,NaN,2014-01-20T11:29:19.410,NaN,...,2,107,NaN,NaN,NaN,path =r'C:\DRO\DCL_rawdata_files' # use your p...,path =r'C:\DRO\DCL_rawdata_files' # use your p...,path =r'C:\DRO\DCL_rawdata_files' # use your p...,path =r'C:\DRO\DCL_rawdata_files' # use your p...,8
21266043,9656,9656,NaN,NaN,<p>I found a quick and easy solution to what I...,NaN,1,NaN,2014-01-21T18:17:22.187,NaN,...,2,61,NaN,NaN,NaN,"from urllib2 import Request, urlopen\r\nimport...","from urllib2 import Request, urlopen\r\nimport...","from urllib2 import Request, urlopen\r\nimport...","from urllib2 import Request, urlopen\r\nimport...",9
21463854,9992,9992,NaN,NaN,<p>The point of the <code>SettingWithCopy</cod...,NaN,5,NaN,2014-01-30T17:49:49.350,NaN,...,2,18,NaN,NaN,NaN,"data['amount'] = data[""amount""].fillna(data.gr...","data['amount'] = data[""amount""].fillna(data.gr...","data['amount'] = data[""amount""].fillna(data.gr...","data['amount'] = data[""amount""].fillna(data.gr...",4
22391554,11464,11464,NaN,NaN,<p>Use <code>groupby</code> and <code>count</c...,NaN,6,NaN,2014-03-13T21:41:34.147,NaN,...,2,73,NaN,NaN,NaN,In [37]:\r\ndf = pd.DataFrame({'a':list('abssb...,In [37]:\r\ndf = pd.DataFrame({'a':list('abssb...,In [37]:\r\ndf = pd.DataFrame({'a':list('abssb...,df = pd.DataFrame({'a':list('abssbab')})\r\ndf...,7
24147363,14604,14604,NaN,NaN,<p>I would just use numpy's <code>randn</code>...,NaN,11,NaN,2014-06-10T17:29:25.983,NaN,...,2,111,NaN,NaN,NaN,In [11]: df = pd.DataFrame(np.random.randn(100...,In [11]: df = pd.DataFrame(np.random.randn(100...,"df = pd.DataFrame(np.random.randn(100, 2))\r\n...","df = pd.DataFrame(np.random.randn(100, 2))\r\n...",7
24793359,15888,15888,NaN,NaN,<p>Pandas has something built in...</p>\r\n\r\...,NaN,1,NaN,2014-07-17T01:13:50.003,NaN,...,2,58,NaN,NaN,NaN,numpyMatrix = df.as_matrix()\r\n,numpyMatrix = df.as_matrix()\r\n,numpyMatrix = df.as_matrix()\r\n,numpyMatrix = df.as_matrix(),1
24888331,16079,16079,NaN,NaN,<p>Example at @Nasser's answer:</p>\r\n\r\n<pr...,NaN,5,NaN,2014-07-22T13:10:25.313,NaN,...,2,180,NaN,NaN,NaN,">>> df = DataFrame(columns=('lib', 'qty1', 'qt...","df = DataFrame(columns=('lib', 'qty1', 'qty2')...","df = DataFrame(columns=('lib', 'qty1', 'qty2')...","df = DataFrame(columns=('lib', 'qty1', 'qty2'))",1
25962187,18257,18257,NaN,NaN,<p>The error shows that the machine does not h...,NaN,12,NaN,2014-09-21T17:54:03.433,NaN,...,2,60,NaN,NaN,NaN,chunksize = 10 ** 6\r\nfor chunk in pd.read_cs...,chunksize = 10 ** 6\r\nfor chunk in pd.read_cs...,chunksize = 10 ** 6\r\nfor chunk in pd.read_cs...,chunksize = 10 ** 6\r\nfor chunk in pd.read_cs...,3
26301947,18865,18865,NaN,NaN,<p>What you are seeing is pandas truncating th...,NaN,1,NaN,2014-10-10T14:38:22.250,NaN,...,2,49,NaN,NaN,NaN,"pd.set_option('display.max_colwidth', -1)\r\n","pd.set_option('display.max_colwidth', -1)\r\n","pd.set_option('display.max_colwidth', -1)\r\n","pd.set_option('display.max_colwidth', -1)",1
28648923,23754,23754,NaN,NaN,"<p>You can use <a href=""http://pandas.pydata.o...",NaN,7,NaN,2015-02-21T17:37:02.897,NaN,...,2,270,NaN,NaN,NaN,">>> s = pd.Series(['1', '2', '4.7', 'pandas', ...","s = pd.Series(['1', '2', '4.7', 'pandas', '10'...","s = pd.Series(['1', '2', '4.7', 'pandas', '10'...","s = pd.Series(['1', '2', '4.7', 'pandas', '10'...",18
28902170,24422,24422,NaN,NaN,<p>One method would be to store the result of ...,NaN,6,NaN,2015-03-06T15:35:38.897,NaN,...,2,46,NaN,NaN,NaN,"In [119]:\r\n\r\ncommon = df1.merge(df2,on=['c...","In [119]:\r\n\r\ncommon = df1.merge(df2,on=['c...","In [119]:\r\n\r\ncommon = df1.merge(df2,on=['c...","common = df1.merge(df2,on=['col1','col2'])\r\n...",6
30512931,28874,28874,NaN,NaN,<p>Assumed imports:</p>\r\n\r\n<pre><code>impo...,NaN,4,NaN,2015-05-28T17:08:50.627,NaN,...,2,133,NaN,NaN,NaN,"import pandas as pd\r\ndfs = [df0, df1, df2, d...","import pandas as pd\r\ndfs = [df0, df1, df2, d...","import pandas as pd\r\ndfs = [df0, df1, df2, d...","import pandas as pd\r\ndfs = [df0, df1, df2, d...",3
30691921,29478,29478,NaN,NaN,"<p>You can also use the <a href=""http://pandas...",NaN,6,NaN,2015-06-07T09:22:15.250,NaN,...,2,221,NaN,NaN,NaN,"with pd.option_context('display.max_rows', Non...","with pd.option_context('display.max_rows', Non...","with pd.option_context('display.max_rows', Non...","with pd.option_context('display.max_rows', Non...",2
34272155,42075,42075,NaN,NaN,<p>This is much easier in pandas now with <a h...,NaN,2,NaN,2015-12-14T16:38:02.883,NaN,...,2,39,NaN,NaN,NaN,"import pandas as pd\r\ndf = pd.DataFrame({""A"":...","import pandas as pd\r\ndf = pd.DataFrame({""A"":...","import pandas as pd\r\ndf = pd.DataFrame({""A"":...","import pandas as pd\r\ndf = pd.DataFrame({""A"":...",3
34297689,42178,42178,NaN,NaN,"<p>I would suggest using the <a href=""http://p...",NaN,4,NaN,2015-12-15T19:25:20.687,NaN,...,2,117,NaN,NaN,NaN,df3 = df3[~df3.index.duplicated(keep='first')]...,df3 = df3[~df3.index.duplicated(keep='first')]...,df3 = df3[~df3.index.duplicated(keep='first')]...,df3 = df3[~df3.index.duplicated(keep='first')],1
37043071,53959,53959,NaN,NaN,<p>To convert a pandas dataframe (df) to a num...,NaN,2,NaN,2016-05-05T05:29:51.800,NaN,...,2,65,NaN,NaN,NaN,,,,,1
39358924,67570,67570,NaN,NaN,<h1>TL;DR version:</h1>\r\n\r\n<p>For the simp...,NaN,4,NaN,2016-09-06T22:52:23.940,NaN,...,2,81,NaN,NaN,NaN,"df['A'], df['B'] = df['AB'].str.split(' ', 1)....","df['A'], df['B'] = df['AB'].str.split(' ', 1)....","df['A'], df['B'] = df['AB'].str.split(' ', 1)....","df['A'], df['B'] = df['AB'].str.split(' ', 1)....",21

In [18]:
l = dataset_code.loc[10374456, :]

l.PreprocessedCode.split('\\n')

["['type(g1)\\r",
 'g1.index\\r',
 "g1.add_suffix(\\'_Count\\').reset_index()\\r",
 'DataFrame({\\\'count\\\' : df1.groupby( [ "Name", "City"] ).size()}).reset_index()\\r',
 "']"]

In [19]:
dataset_code['Code Size'].describe()

count    53.000000
mean      5.547170
std       4.830058
min       1.000000
25%       2.000000
50%       4.000000
75%       7.000000
max      26.000000
Name: Code Size, dtype: float64