In [2]:
import os
import sys
module_path = os.path.abspath(os.path.join("../.."))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from jupyter_notebook import load_parameters

In [ ]:
import pandas as pd

pars = load_parameters()

input_file = pars.get('input')
output_file = pars.get('output')

input_col = pars.get('input_col')
output_col = pars.get('output_col')

debug = pars.get('debug')

In [8]:
dataset = pd.read_pickle(input_file)

#### Remove any non-parseable python line

Goal of this function is to infer valid python code from its parseability.

For Example, in the following code:
```python
df
df.append()

A B C D 
2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
2000-01-04 0.83935 0.15993 0.95911 -1.12959

df[(df.values > 1.5).any(1)]
 
A B C D 
2000-01-05 2.8021 -0.1086 -1.62114 -0.2017
2000-01-06 0.7167 -0.2671 1.36029 1.7425
```

The function extracts only the valid python code lines:
```python
df
df.append()
df[(df.values > 1.5).any(1)]
```

In [46]:
import ast
import os

def preprocessParseableCodeInteractively(code):
    processed = ''
    not_compilable = True
    
    # Just a safe measure to avoid unexpected long loops
    safe_count = len(code.split(os.linesep)) * 3
    count = 0
    
    while not_compilable and count < safe_count:
        try:
#             print('\n\n----- My Code\n %s' % code)
            ast.parse(code)
            processed = code
            not_compilable = False
        except SyntaxError as e:
            # Get the line of the syntax error
            errorstm_idx = e.lineno - 1
            code_stms = code.split(os.linesep)
#             print('Error at \n' + e.text)
#             print('Index returned \n' + str(e.lineno - 1))
            if errorstm_idx >= 0 and errorstm_idx < len(code_stms):     
                # Remove the problematic code line
#                 print('\n\nRemoving Line\n' + code_stms[errorstm_idx])
                del(code_stms[errorstm_idx])
                code = os.linesep.join(code_stms)
            else:
#                 print('Index Out = ' + str(errorstm_idx))
#                 print('Code Stms' + ''.join(code_stms))
                not_compilable = False
            pass
        count += 1
#     print('\n\n---------- DONE')
    return processed

In [86]:
# test ="""
# df
# df.append()

# A B C D
# 2000-01-03 -0.59885 -0.18141 -0.68828 -0.77572
# 2000-01-04 0.83935 0.15993 0.95911 -1.12959

# df[(df.values > 1.5).any(1)]

# A B C D
# 2000-01-05 2.8021 -0.1086 -1.62114 -0.2017
# 2000-01-06 0.7167 -0.2671 1.36029 1.7425
# """

# preprocessParseableCode(test.replace('\n', os.linesep))

'\r\ndf\r\ndf.append()\r\n\r\n\r\ndf[(df.values > 1.5).any(1)]\r\n\r\n'

In [87]:
# test2 = """
# Date,Open,High,Low,Close,Volume,Adj Close
# 2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13
# 2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31
# 2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98
# 2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27

# ....

# #!/usr/bin/env python
# from pandas import *
# df = read_csv('table.csv')

# for i, row in enumerate(df.values):
#     date = df.index[i]
#     open, high, low, close, adjclose = row
#     #now perform analysis on open/close based on date, etc..

# """

# print(preprocessParseableCode(test2.replace('\n', os.linesep)))

2011-10-19,27.37,27.47,27.01,27.13,42880000,27.13
2011-10-18,26.94,27.40,26.80,27.31,52487900,27.31
2011-10-17,27.11,27.42,26.85,26.98,39433400,26.98
2011-10-14,27.31,27.50,27.02,27.27,50947700,27.27


#!/usr/bin/env python
from pandas import *
df = read_csv('table.csv')

for i, row in enumerate(df.values):
    date = df.index[i]
    open, high, low, close, adjclose = row
    #now perform analysis on open/close based on date, etc..

In [7]:
# test3 = """bigdata = data1.append(data2)
# Exception: Index cannot contain duplicate values!
#     meta  particle  ratio   area    type    
# 0   2     part10    1.348   0.8365  touching
# 1   2     part18    1.558   0.8244  single  
# 2   2     part2     1.893   0.894   single  
# 3   2     part37    0.6695  1.005   single  
# ....clip...
# 36  2     part23    1.051   0.8781  single  
# 37  2     part3     80.54   0.9714  nuclei  
# 38  2     part34    1.071   0.9337  single  
#     meta  particle  ratio    area    type    
# 0   3     part10    0.4756   1.025   single  
# 1   3     part18    0.04387  1.232   dusts   
# 2   3     part2     1.132    0.8927  single  
# ...clip...
# 46  3     part46    13.71    1.001   nuclei  
# 47  3     part3     0.7439   0.9038  single  
# 48  3     part34    0.4349   0.9956  single 
# """

# preprocessParseableCodeInteractively(test3.replace('\n', os.linesep))

'bigdata = data1.append(data2)\r\n'

In [11]:
def removeBlankLines(fullcode):
    lines = [line for line in fullcode.split(os.linesep) if line.strip() != '']
    return os.linesep.join(lines)

# test3 = """bigdata = data1.append(data2)
# Exception: Index cannot contain duplicate values!
#     meta  particle  ratio   area    type    
# 0   2     part10    1.348   0.8365  touching
# 1   2     part18    1.558   0.8244  single  


# ....clip...
# 36  2     part23    1.051   0.8781  single  




# ...clip...
# """

# print(removeBlankLines(test3.replace('\n', os.linesep)))

bigdata = data1.append(data2)
Exception: Index cannot contain duplicate values!
    meta  particle  ratio   area    type
0   2     part10    1.348   0.8365  touching
1   2     part18    1.558   0.8244  single
....clip...
36  2     part23    1.051   0.8781  single
...clip...

In [15]:
# import pandas as pd
# dataset = pd.read_csv(os.path.join('../../data/stack-overflow/pandas-preprocessedcode-dataset-part2.csv'), encoding='ISO-8859-1', error_bad_lines=False, sep=",")


# input_col = 'PreprocessedCode2'
# output_col = 'PreprocessedCode3'

In [ ]:
def preprocessPost(post):
    fullcode = str(post[input_col])
#     print('\n\n----Full Code' + fullcode)
    # Remove blank lines
    code = removeBlankLines(fullcode)
    # code = fullcode
    processed = preprocessParseableCodeInteractively(code)
#     print('\n\n----Processed Code' + processed)
    post[output_col] = processed
    return post

# processed_dataset = dataset[:0].apply(preprocessPost, axis=1)
# dataset[:1].apply(preprocessPost, axis=1)
processed_dataset = dataset.apply(preprocessPost, axis=1)

In [11]:
processed_dataset.to_pickle(output_file)

if debug:
    processed_dataset.to_csv(output_file + ".csv", encoding='ISO-8859-1', sep=",", doublequote=True, index=False)

,Unnamed: 0,Unnamed: 0.1,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,...,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount,CodeList,Code,Processed
0,27,27,7779260.0,2.0,<p>When I try to merge two dataframes by rows ...,NaN,7,NaN,2011-10-15T08:21:17.460,4.0,...,601314.0,NaN,1,25,<python><pandas>,append two data frame with pandas,25479.0,"['bigdata = data1.append(data2)\r\r\n', 'Excep...",['bigdata = data1.append(data2)\r\r\nException...,[bigdata = data1.append(data2)\r\r\n]
1,31,31,11617194.0,7.0,<p>I want to perform my own complex operations...,NaN,3,NaN,2011-10-20T14:46:14.633,108.0,...,1005409.0,NaN,1,187,<python><performance><for-loop><pandas>,What is the most efficient way to loop through...,195364.0,"['Date,Open,High,Low,Close,Volume,Adj Close\r\...","[""Date,Open,High,Low,Close,Volume,Adj Close\r\...","[2011-10-19,27.37,27.47,27.01,27.13,42880000,2..."
2,49,49,8916746.0,2.0,<p>I have a dataframe <code>df</code> in panda...,NaN,0,NaN,2012-01-18T19:41:27.017,12.0,...,248237.0,NaN,1,26,<python><csv><numpy><tab-delimited><pandas>,selecting across multiple columns with python ...,19805.0,"['df_greater_than10 = df[df[""colA""] > 10]\r\r\n']","['df_greater_than10 = df[df[""colA""] > 10]\r\r\n']","[df_greater_than10 = df[df[""colA""] > 10]\r\r\n]"
3,54,54,8997908.0,3.0,"<p>I recently came across the <a href=""http://...",NaN,16,NaN,2012-01-24T17:59:53.850,58.0,...,345660.0,NaN,1,134,<python><r><join><data.table><pandas>,Why are pandas merges in python faster than da...,16173.0,[],[''],[]
4,73,73,9557319.0,8.0,<p>I used Enthought's python distribution as a...,2013-12-04T20:55:59.357,5,NaN,2012-03-04T14:25:36.287,6.0,...,402468.0,NaN,1,19,<python><numpy><scipy><enthought><pandas>,Open source Enthought Python alternative,6585.0,[],[''],[]
5,80,80,9620832.0,2.0,"<p>I stumbled across <a href=""http://pandas.py...",NaN,2,NaN,2012-03-06T17:01:47.107,5.0,...,1252759.0,NaN,1,21,<python><pandas>,Simple cross-tabulation in pandas,9493.0,"['AB,100.00\r\r\nAB,200.00\r\r\nAC,150.00\r\r\...","['AB,100.00\r\r\nAB,200.00\r\r\nAC,150.00\r\r\...","[AB,100.00\r\r\nAB,200.00\r\r\nAC,150.00\r\r\n..."
6,91,91,9652858.0,3.0,<p>I'm new to python and pandas. I'm trying t...,NaN,0,NaN,2012-03-11T06:00:56.347,3.0,...,914308.0,NaN,1,38,<python><pandas><tsv>,How to I load a tsv file into a Pandas DataFrame?,32040.0,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,['>>> df1 = DataFrame(csv.reader(open(\'c:/~/t...,[\r\r\n]
7,103,103,9762084.0,6.0,<p>I have manipulated some data using pandas a...,NaN,0,NaN,2012-03-18T12:53:06.683,13.0,...,939715.0,NaN,1,34,<python><pandas>,Pandas convert dataframe to array of tuples,36433.0,['In [182]: data_set\r\r\nOut[182]: \r\r\n in...,['In [182]: data_set\r\r\nOut[182]: \r\r\n in...,"[In [182]: data_set\r\r\n(datetime.date(2012,2..."
8,107,107,9772031.0,2.0,"<p>I'm a beginning pandas user, and after stud...",NaN,0,NaN,2012-03-18T22:34:26.183,2.0,...,566942.0,NaN,1,11,<python><pandas>,Add indexed column to DataFrame with pandas,8189.0,['df\r\r\n\r\r\n A ...,['df\r\r\n\r\r\n A ...,[df\r\r\n\r\r\ndf2\r\r\n\r\r\n]
9,109,109,9794891.0,2.0,<p>I want to perform a join/merge/append opera...,NaN,0,NaN,2012-03-20T13:36:09.263,6.0,...,566942.0,NaN,1,17,<python><pandas>,join or merge with overwrite in pandas,6054.0,[],[''],[]
10,117,117,NaN,6.0,<p>I have the following dataframe:</p>\r\r\r\n...,NaN,0,NaN,2012-03-24T10:26:50.303,3.0,...,939715.0,NaN,1,11,<python><pandas>,pandas - get most recent value of a particular...,3543.0,[' obj_id data_date value\r\r\n0 4 ...,"["" obj_id data_date value\r\r\n0 4 ...",[row_arr = []\r\r\n\r\r\ndf_new = DataFrame(ro...
11,147,147,11603242.0,4.0,<p>I have a times series with temperature and ...,NaN,2,NaN,2012-04-04T23:17:23.453,15.0,...,1301710.0,NaN,1,19,<python><numpy><time-series><pandas>,How to resample a dataframe with different fun...,18532.0,"[""import datetime\r\r\nimport pandas as pd\r\r...","[""import datetime\r\r\nimport pandas as pd\r\r...",[import datetime\r\r\nimport pandas as pd\r\r\...
12,160,160,NaN,11.0,<p>The documentation for Pandas has numerous e...,NaN,4,NaN,2012-04-08T18:01:13.310,63.0,...,1320615.0,NaN,1,77,<python><pandas>,python-pandas and databases like mysql,72432.0,[],[''],[]
13,161,161,10114652.0,1.0,"<p>I like to think I'm not an idiot, but maybe...",NaN,0,NaN,2012-04-11T21:40:38.143,NaN,...,1327660.0,NaN,1,12,<pandas>,Pandas: simple 'join' not working?,4120.0,"[""In [2]: left = pandas.DataFrame({'ST_NAME': ...","[""In [2]: left = pandas.DataFrame({'ST_NAME': ...",[In [2]: left = pandas.DataFrame({'ST_NAME': [...
14,175,175,10182172.0,2.0,<p>I have the following Pandas Dataframe with ...,NaN,3,NaN,2012-04-16T13:27:44.143,5.0,...,1330293.0,NaN,1,15,<python><pandas>,Select data at a particular level from a Multi...,6774.0,[' H1 H2 \r\r\n Z A \r...,[' H1 H2 \r\r\n Z A \r...,"[df.select(lambda x: x[1]==200, axis=0) \r\r\n]"
15,183,183,10202789.0,4.0,<p>How can I find the row for which the value ...,NaN,2,NaN,2012-04-18T03:59:55.663,24.0,...,7650.0,NaN,1,84,<python><pandas>,Pandas DataFrame - Find row where values for c...,75652.0,[],[''],[]
16,194,194,10374456.0,6.0,<p>I'm starting with input data like this</p>\...,NaN,0,NaN,2012-04-29T16:10:35.413,78.0,...,468604.0,NaN,1,173,<python><pandas><dataframe><group-by><multi-in...,Converting a Pandas GroupBy object to DataFrame,167415.0,"['df1 = pandas.DataFrame( { \r\r\n ""Name"" :...","['df1 = pandas.DataFrame( { \r\r\n ""Name"" :...","[g1 = df1.groupby( [ ""Name"", ""City""] ).count()..."
17,196,196,10377863.0,2.0,<p>This is a beginner <code>python</code> inst...,NaN,14,NaN,2012-04-29T22:41:28.510,3.0,...,854739.0,NaN,1,12,<python><numpy><pandas>,Installed Python Modules - Python can't find them,25583.0,['sudo pip install numpy\r\r\n\r\r\nsudo pip i...,['sudo pip install numpy\r\r\n\r\r\nsudo pip i...,[\r\r\nimport pandas\r\r\n]
18,206,206,10458386.0,2.0,<p>I am trying to re-index a pandas <code>Data...,NaN,1,NaN,2012-05-05T00:00:12.300,17.0,...,1257953.0,NaN,1,68,<python><pandas>,Redefining the Index in a Pandas DataFrame object,107691.0,['From:\r\r\n a b c\r\r\n ...,"[""From:\r\r\n a b c\r\r\n ...","[\r\r\narray([ 1, 10, 20], dtype=int64)\r\r\n]"
19,212,212,10465162.0,2.0,"<p>I have a DataFrame, say a volatility surfac...",NaN,0,NaN,2012-05-05T18:25:59.063,14.0,...,1377107.0,NaN,1,23,<python><pandas>,Interpolation on DataFrame in pandas,15524.0,[],[''],[]
20,222,222,23901625.0,6.0,<p>I am trying to plot some data using pandas ...,NaN,3,NaN,2012-05-09T06:45:29.727,20.0,...,442158.0,NaN,1,64,<python><ipython><pandas>,"in Ipython notebook, Pandas is not displying t...",44369.0,['In [7]:\r\r\n\r\r\npledge.Amount.plot()\r\r\...,['In [7]:\r\r\n\r\r\npledge.Amount.plot()\r\r\...,[\r\r\npledge.Amount.plot()\r\r\n\r\r\n\r\r\n]
21,234,234,10565742.0,3.0,<p>I worked now for quite some time using pyth...,NaN,0,NaN,2012-05-12T16:05:17.147,19.0,...,1391241.0,NaN,1,16,<python><indexing><time-series><pandas>,"pandas, python - how to select specific times ...",16624.0,['SamplingRateMinutes=60\r\r\nindex = DateRang...,['SamplingRateMinutes=60\r\r\nindex = DateRang...,[SamplingRateMinutes=60\r\r\nindex = DateRange...
22,238,238,NaN,2.0,<p>I am just getting started with Pandas and I...,NaN,2,NaN,2012-05-14T21:01:58.680,5.0,...,1394684.0,NaN,1,25,<python><pandas>,Specifying data type in Pandas csv reader,17261.0,[],[''],[]
23,247,247,12036847.0,14.0,<p>I'm using the Pandas package and it creates...,NaN,5,NaN,2012-05-17T12:48:00.407,25.0,...,1400991.0,NaN,1,33,<python><user-interface><pandas><dataframe>,Python / Pandas - GUI for viewing a DataFrame ...,26216.0,[],[''],[]
24,251,251,44736467.0,7.0,<p>I load a some machine learning data from a ...,NaN,3,NaN,2012-05-19T14:11:42.603,58.0,...,1350862.0,NaN,1,126,<python><numpy><pandas><slice>,How to take column-slices of dataframe in pandas,154109.0,"[""data = pandas.read_csv('mydata.csv')\r\r\n"",...","[""data = pandas.read_csv('mydata.csv')\r\r\nda...",[data = pandas.read_csv('mydata.csv')\r\r\ndat...
25,262,262,10726275.0,2.0,<p>I have a <code>DataFrame</code> with a few ...,NaN,0,NaN,2012-05-23T07:41:57.010,11.0,...,493499.0,NaN,1,19,<dataframe><pandas>,Conditionally fill column values based on anot...,14199.0,[],[''],[]
26,263,263,24888331.0,13.0,<p>I understand that pandas is designed to loa...,NaN,3,NaN,2012-05-23T08:12:31.843,82.0,...,31335.0,NaN,1,312,<python><pandas>,add one row in a pandas.DataFrame,349935.0,"[""res = DataFrame(columns=('lib', 'qty1', 'qty...","[""res = DataFrame(columns=('lib', 'qty1', 'qty...","[res = DataFrame(columns=('lib', 'qty1', 'qty2..."
27,272,272,10739432.0,1.0,<blockquote>\r\r\r\n <p><strong>Possible Dupl...,2012-05-29T13:14:21.157,2,NaN,2012-05-23T23:21:18.343,23.0,...,1413778.0,NaN,1,122,<python><pandas>,iterating row by row through a pandas dataframe,174898.0,['for i in df.index:\r\r\n do_something(df....,['for i in df.index:\r\r\n do_something(df....,[]
28,279,279,NaN,1.0,<p>I'm using a Pandas <code>DataFrame</code> t...,NaN,2,NaN,2012-05-25T08:35:27.927,13.0,...,241515.0,NaN,1,41,<python><pandas>,Returning multiple values from pandas apply on...,19415.0,['import numpy\r\r\nimport pandas\r\r\n\r\r\nd...,['import numpy\r\r\nimport pandas\r\r\n\r\r\nd...,[import numpy\r\r\nimport pandas\r\r\n\r\r\n\r...
29,304,304,10859883.0,1.0,<p>I have a <code>dataFrame</code> in pandas a...,NaN,1,NaN,2012-06-01T22:05:44.497,9.0,...,1165294.0,NaN,1,39,<python><pandas>,Remove NULL columns in a dataframe Pandas?,33392.0,[],[''],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3175,97332,97332,NaN,NaN,<p>Running a version of @juanpa.arrivillaga's ...,NaN,7,NaN,2017-04-24T01:51:27.517,NaN,...,2336654.0,43577744.0,2,11,NaN,NaN,NaN,['import numba\r\r\n\r\r\ndef psi(A):\r\r\n ...,['import numba\r\r\n\r\r\ndef psi(A):\r\r\n ...,[import numba\r\r\n\r\r\n\r\r\n\r\r\n\r\r\n\r\...
3176,98055,98055,NaN,NaN,<p>While the other answers provide good inform...,NaN,2,NaN,2017-04-27T19:01:23.247,NaN,...,3423035.0,43423347.0,2,6,NaN,NaN,NaN,"[""@profile\r\r\ndef foo():\r\r\n df = pd.Da...","[""@profile\r\r\ndef foo():\r\r\n df = pd.Da...",[\r\r\n\r\r\nFilename: demo.py\r\r\n\r\r\nLine...
3177,99429,99429,NaN,NaN,"<p>From version <a href=""http://pandas.pydata....",NaN,0,NaN,2017-05-06T14:19:34.300,NaN,...,2901002.0,30925079.0,2,10,NaN,NaN,NaN,"[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...","[""arrays = [['bar', 'bar', 'baz', 'baz', 'foo'...",[\r\r\nindex = pd.MultiIndex.from_arrays(array...
3178,100076,100076,NaN,NaN,<p><strong>Best way found</strong>!!</p>\r\r\r...,NaN,2,NaN,2017-05-10T14:56:30.863,NaN,...,3364687.0,25146121.0,2,11,NaN,NaN,NaN,"[""import datetime as dt\r\r\ndf['month_year'] ...","[""import datetime as dt\r\r\ndf['month_year'] ...",[import datetime as dt\r\r\ndf['month_year'] =...
3179,100082,100082,NaN,NaN,<p>The currently accepted answer by unutbu des...,NaN,4,NaN,2017-05-10T15:39:39.197,NaN,...,2166823.0,19078325.0,2,17,NaN,NaN,NaN,"[""# Create a sample data frame\r\r\ndf = pd.Da...","[""# Create a sample data frame\r\r\ndf = pd.Da...",[# Create a sample data frame\r\r\n\r\r\n# ===...
3180,100691,100691,NaN,NaN,<p>Updated for <code>pandas</code> <code>0.20<...,NaN,2,NaN,2017-05-14T21:04:04.397,NaN,...,2336654.0,28757389.0,2,14,NaN,NaN,NaN,"[""# label based, but we can use position value...","[""# label based, but we can use position value...","[# label based, but we can use position values..."
3181,102082,102082,NaN,NaN,<p><code>sort</code> was deprecated for DataFr...,NaN,1,NaN,2017-05-23T00:17:35.160,NaN,...,7954504.0,44123874.0,2,26,NaN,NaN,NaN,[],[''],[]
3182,102808,102808,NaN,NaN,<p>A simple way to do it is use a <code>dict</...,NaN,2,NaN,2017-05-26T18:29:43.517,NaN,...,2750492.0,44207926.0,2,7,NaN,NaN,NaN,"['>>> d = {}\r\r\n>>> [d.setdefault(tup, i) fo...","['>>> d = {}\r\r\n>>> [d.setdefault(tup, i) fo...","[[0, 1, 2, 3, 4, 1, 2]\r\r\n[0, 1, 2, 3, 4, 1,..."
3183,102812,102812,NaN,NaN,"<p>Initialize your list of tuples as a Series,...",NaN,1,NaN,2017-05-26T18:40:31.313,NaN,...,3339965.0,44207926.0,2,6,NaN,NaN,NaN,['pd.Series(tups).factorize()[0]\r\r\n\r\r\n[0...,['pd.Series(tups).factorize()[0]\r\r\n\r\r\n[0...,[pd.Series(tups).factorize()[0]\r\r\n\r\r\n]
3184,103700,103700,NaN,NaN,<p><code>.ix</code> indexer works okay for pan...,NaN,3,NaN,2017-06-01T15:18:48.507,NaN,...,3705840.0,21608228.0,2,19,NaN,NaN,NaN,"[""mask = df.my_channel > 20000\r\r\ncolumn_nam...","[""mask = df.my_channel > 20000\r\r\ncolumn_nam...",[mask = df.my_channel > 20000\r\r\ncolumn_name...
3185,107342,107342,NaN,NaN,<p>I advice you to put your dataframes into si...,NaN,2,NaN,2017-06-23T15:07:29.723,NaN,...,8071126.0,44715393.0,2,9,NaN,NaN,NaN,"[""# write df1 content in file.csv\r\r\ndf1.to_...","[""# write df1 content in file.csv\r\r\ndf1.to_...",[# write df1 content in file.csv\r\r\ndf1.to_c...
3186,107495,107495,NaN,NaN,<h1>2017 Answer - pandas 0.20: .ix is deprecat...,NaN,0,NaN,2017-06-24T12:38:58.427,NaN,...,3707607.0,10665889.0,2,18,NaN,NaN,NaN,"[""# selects all rows and all columns beginning...","[""# selects all rows and all columns beginning...",[# selects all rows and all columns beginning ...
3187,108143,108143,NaN,NaN,"<p>Similar to what @glegoux suggests, also <co...",NaN,0,NaN,2017-06-28T10:37:06.283,NaN,...,5712507.0,44715393.0,2,7,NaN,NaN,NaN,"[""df1.to_csv(filename)\r\r\ndf2.to_csv(filenam...","[""df1.to_csv(filename)\r\r\ndf2.to_csv(filenam...",[df1.to_csv(filename)\r\r\ndf2.to_csv(filename...
3188,109146,109146,NaN,NaN,"<p>Starting from pandas 0.20 <a href=""http://p...",NaN,0,NaN,2017-07-04T20:27:54.927,NaN,...,1762211.0,12307099.0,2,11,NaN,NaN,NaN,['>>> import pandas as pd \r\r\n>>> import num...,['>>> import pandas as pd \r\r\n>>> import num...,[]
3189,109494,109494,NaN,NaN,<p>Use the <code>chunksize</code> parameter to...,NaN,2,NaN,2017-07-06T12:04:41.633,NaN,...,5497294.0,44946141.0,2,6,NaN,NaN,NaN,"['file = ""./data.csv""\r\r\nchunks = pd.read_cs...","['file = ""./data.csv""\r\r\nchunks = pd.read_cs...","[file = ""./data.csv""\r\r\nchunks = pd.read_csv..."
3190,109971,109971,NaN,NaN,<p>Here's a single-liner</p>\r\r\r\n\r\r\r\n<p...,NaN,8,NaN,2017-07-09T16:07:43.577,NaN,...,2137255.0,44998223.0,2,6,NaN,NaN,NaN,"[""In [22]: from itertools import combinations\...","[""In [22]: from itertools import combinations\...",[\r\r\nIn [23]: [x for x in combinations(df.co...
3191,109985,109985,NaN,NaN,<p>Here's one NumPy approach -</p>\r\r\r\n\r\r...,NaN,0,NaN,2017-07-09T17:15:30.483,NaN,...,3293881.0,44998223.0,2,9,NaN,NaN,NaN,['def group_duplicate_cols(df):\r\r\n a = d...,"[""def group_duplicate_cols(df):\r\r\n a = d...",[\r\r\nIn [100]: df\r\r\n\r\r\nIn [101]: group...
3192,110080,110080,NaN,NaN,<pre><code>import numpy as np\r\r\r\nfrom mult...,NaN,8,NaN,2017-07-10T13:46:57.610,NaN,...,6453238.0,44946141.0,2,8,NaN,NaN,NaN,"[""import numpy as np\r\r\nfrom multiprocessing...","[""import numpy as np\r\r\nfrom multiprocessing...",[import numpy as np\r\r\nfrom multiprocessing ...
3193,111787,111787,NaN,NaN,<p>You can use <code>apply</code> with <a href...,NaN,0,NaN,2017-07-19T14:18:47.377,NaN,...,4983450.0,45193131.0,2,9,NaN,NaN,NaN,['n = 3\r\r\ndf.apply(lambda x: pd.Series(x.ns...,['n = 3\r\r\ndf.apply(lambda x: pd.Series(x.ns...,[n = 3\r\r\ndf.apply(lambda x: pd.Series(x.nsm...
3194,111791,111791,NaN,NaN,"<p>Faster numpy solution with <a href=""https:/...",NaN,0,NaN,2017-07-19T14:28:53.337,NaN,...,2901002.0,45193131.0,2,8,NaN,NaN,NaN,"['a = np.argsort(-df.values, axis=0)[-3:]\r\r\...","['a = np.argsort(-df.values, axis=0)[-3:]\r\r\...","[a = np.argsort(-df.values, axis=0)[-3:]\r\r\n..."
3195,113174,113174,NaN,NaN,"<p>Using <a href=""https://pandas.pydata.org/pa...",NaN,3,NaN,2017-07-26T16:55:40.133,NaN,...,3339965.0,45332960.0,2,12,NaN,NaN,NaN,['from toolz import interleave\r\r\n\r\r\npd.c...,['from toolz import interleave\r\r\n\r\r\npd.c...,[from toolz import interleave\r\r\n\r\r\npd.co...
3196,113176,113176,NaN,NaN,<p>Here's one NumPy approach -</p>\r\r\r\n\r\r...,NaN,0,NaN,2017-07-26T17:03:31.647,NaN,...,3293881.0,45332960.0,2,6,NaN,NaN,NaN,"['def numpy_interweave(d1, d2):\r\r\n c1 = ...","['def numpy_interweave(d1, d2):\r\r\n c1 = ...",[\r\r\n\r\r\nIn [346]: d1\r\r\n\r\r\nIn [347]:...
3197,113463,113463,NaN,NaN,<p>You should use <em>drop()</em>. Suppose you...,NaN,0,NaN,2017-07-27T17:48:15.380,NaN,...,4294015.0,13411544.0,2,10,NaN,NaN,NaN,"[""#for dropping single column \r\r\ndf = df.dr...","[""#for dropping single column \r\r\ndf = df.dr...",[#for dropping single column \r\r\ndf = df.dro...
3198,114806,114806,NaN,NaN,<p>Convert the list to a boolean array and the...,NaN,0,NaN,2017-08-03T21:21:10.173,NaN,...,2285236.0,45494649.0,2,13,NaN,NaN,NaN,"['df = pd.DataFrame(np.random.randint(10, size...","['df = pd.DataFrame(np.random.randint(10, size...","[df = pd.DataFrame(np.random.randint(10, size=..."
3199,114807,114807,NaN,NaN,<p>You can use masking here:</p>\r\r\r\n\r\r\r...,NaN,0,NaN,2017-08-03T21:21:48.803,NaN,...,67579.0,45494649.0,2,15,NaN,NaN,NaN,"['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","['df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool...","[df[np.array([0,1,0,0,1,1,0,0,0,1],dtype=bool)..."
3200,114808,114808,NaN,NaN,<p><strong>Setup</strong><br>\r\r\r\nBorrowed ...,NaN,3,NaN,2017-08-03T21:30:13.390,NaN,...,2336654.0,45494649.0,2,11,NaN,NaN,NaN,"['df = pd.DataFrame(np.random.randint(10, size...","[""df = pd.DataFrame(np.random.randint(10, size...","[df = pd.DataFrame(np.random.randint(10, size=..."
3201,114809,114809,NaN,NaN,"<p>yet another ""creative"" approach:</p>\r\r\r\...",NaN,2,NaN,2017-08-03T21:38:01.287,NaN,...,5741205.0,45494649.0,2,7,NaN,NaN,NaN,['In [181]: a = np.array(lst)\r\r\n\r\r\nIn [1...,['In [181]: a = np.array(lst)\r\r\n\r\r\nIn [1...,[In [181]: a = np.array(lst)\r\r\n\r\r\nIn [18...
3202,115560,115560,NaN,NaN,<p>In <code>pandas 0.20.2</code> you can do:</...,NaN,0,NaN,2017-08-08T12:20:18.850,NaN,...,1797204.0,22697773.0,2,6,NaN,NaN,NaN,"[""from pandas.api.types import is_string_dtype...","[""from pandas.api.types import is_string_dtype...",[from pandas.api.types import is_string_dtype\...
3203,117400,117400,NaN,NaN,<p><strong>UPDATE:</strong> now it parses the ...,NaN,11,NaN,2017-08-17T17:54:06.040,NaN,...,5741205.0,45740537.0,2,13,NaN,NaN,NaN,"[""def read_clipboard_mi(index_names_row=None, ...","[""def read_clipboard_mi(index_names_row=None, ...",[\r\r\n # only utf-8 is valid for passed va...
3204,118738,118738,NaN,NaN,<p>You could use the following code:</p>\r\r\r...,NaN,4,NaN,2017-08-24T22:27:09.873,NaN,...,4526187.0,45820242.0,2,7,NaN,NaN,NaN,['cum_r = (1 + r).cumprod()\r\r\nresult = cum_...,['cum_r = (1 + r).cumprod()\r\r\nresult = cum_...,[cum_r = (1 + r).cumprod()\r\r\nresult = cum_r...